[2017-06-21 21:29] htuch opened #1162 "Reduce boilerplate config in integration tests"
Today, when adding a new integration test with its own configuration requirements, we need to either:

1. Create/clone an Envoy config, with some amount of boilerplate, or
2. Reuse an existing config, adding in listeners/filters etc. unrelated to the original config.

Ideally, we would be able to programatically generate configs, with a common base and per-test customization. This might be much mo

[2017-06-22 00:50] rshriram commented on #319
It's a pass through. If your backend doesn't speak websockets, then Envoy
can't do anything can it?
On Wed, Jun 21, 2017 at 5:20 PM politician <notifications@github.com> wrote:

--

~shriram

[2017-06-22 00:52] htuch commented on #319
Why can't Envoy terminate the websockets and speak plain TCP to the backend? This seems a reasonable ask.

[2017-06-22 00:58] rshriram commented on #319
I think there is Nomenclature mismatch.

@politician simply put, if you have a nodejs websockets app behind an Envoy
for example, you can talk to Envoy via websocket and Envoy will talk to
your app via websocket.

If your nodejs app doesn't support websockets, then Envoy will refuse
websockets connection from clients. Similarly, if the client speaks just
http (not websockets), and the server speak

[2017-06-22 01:01] htuch commented on #319
I think what's being asked here is that you have a nodejs TCP application (to continue the example), which does not speak HTTP or websockets. We have a browser client that speaks websockets. Envoy could act as a bridge from the client to the nodejs TCP application. Is this what you were thinking of @politician?

[2017-06-22 04:10] mattklein123 commented on #319
If there is a use case that involves WS <-> TCP without the upgrade headers, that will be trivial to implement via a configuration option, so we can cross that bridge when we come to it.

[2017-06-22 18:23] mattklein123 opened #1164 "Setup coverity scan"
We can get free scans because of OSS. I tried to set this up a while ago and it got confusing for some reason which I don't remember so I gave up. Opening up a tracking issue to look into it again at some point.

[2017-06-22 21:50] mattklein123 commented on #1088
This is fixed.

[2017-06-22 21:50] #1088 closed

[2017-06-23 19:11] tschroed opened #1170 "Support multiple management servers"
It's common in high-availability scenarios to have hot standby components. This should apply to the management server so that if the primary fails we can go to backups. As part of this it should be possible to dynamically change the management server endpoints programmatically (i.e. from within 3rd party code).

@htuch as you look at v2 API implementation.

[2017-06-23 22:49] mattklein123 commented on #1170
This seems like something DNS could be used for, no? Is the extra complexity really needed? (We plan on bootstrapping envoy via DNS to managers).

[2017-06-23 23:21] tschroed commented on #1170
DNS is the obvious choice but there are significant downsides at scale that make other naming services attractive. (For some of the flavor have a look at Spotify's love/hate relationship with DNS, even if their solution is kind of just a beefier DNS infrastructure.)

Google's own painful experience with DNS for service discovery many years ago let us to alternative solutions.

[2017-06-23 23:33] mattklein123 commented on #1170
I'm fairly familiar with the pros/cons of DNS, and for config server bootstrapping it seems pretty great to me.

Anyhow, it's unclear what functionality you are really asking for on the envoy side. Do you want a static cluster where the static IPs can be modified via API at runtime? (I can't think of any other way this could work). If so, that seems reasonable to me.

[2017-06-23 23:45] tschroed commented on #1170
I think it's two pieces:

1. Support for a fallback such that in a timespan shorter than the update interval an Envoy in the field can talk to a different management server, say O(1s), without any changed input from external systems. This would be a decision made strictly locally by the Envoy process itself.

2. The ability to change those management server endpoints to different ip:port pairs, sa

[2017-06-24 03:40] mattklein123 commented on #1170
OK, here is how I suggest we implement (really 2 separate items):

1. We should allow the definition of eds/rds/lds/etc. to supply a list of clusters. If > 1 cluster is defined, envoy should move to the next cluster if there is any kind of failure. We can implement fancier stuff, but this is dead simple and would just keep cycling through clusters until a good one is found.

2. Yes, I think this i

[2017-06-24 09:15] tschroed commented on #1170
Rad.

[2017-06-24 14:17] skippy commented on #378
@mattklein123, what I was hoping for was a way to serve static files on certain non-2xx responses, such as a 500 or 403.  So rather than returning the envoy default msg, it could return a file.

something along the lines of haproxy's `  errorfile 403 /etc/haproxy/403.json`

is something like that doable?

[2017-06-26 01:57] mattklein123 commented on #378
@skippy it's definitely doable and I'm not opposed, but someone would need to do a proper design and implement.

[2017-06-26 02:48] skippy commented on #378
@mattklein123 if you are ok with it, I'll make a separate issue to design and track static files for error handling... that is a much more specific use-case than general static files (I agree with your comments on that score).

but in the meanwhile, time to dust off haproxy so I can serve error files :)

[2017-06-26 02:57] mattklein123 commented on #378
sure sounds good

[2017-06-26 14:44] mattklein123 commented on #1146
Closing this for now as we have no plans to take on this type of ops work in the primary envoy project.

[2017-06-26 14:44] #1146 closed

[2017-06-26 14:45] mattklein123 commented on #1109
Closing for now as we are unlikely to build this type of ops functionality into envoy directly.

[2017-06-26 14:45] #1109 closed

[2017-06-26 14:46] mattklein123 commented on #1092
Closing for now as we don't have the resources to help with build beyond the CI setup.

[2017-06-26 14:46] #1092 closed

[2017-06-27 15:08] skippy opened #1178 "[Feature] add ability to serve custom error responses"
for envoy to serve as an external proxy, I believe it needs the ability to return custom error responses.  For example, instead of returning a generic http body `Service Unavailable`, I can have it return an error msg consistent with the formatting of my public facing api, such as:

[code]

to do this in haproxy, one adds something like `errorfile 503 /etc/haproxy/503.json` to the config.  Can we

[2017-06-27 15:31] mrice32 opened #1179 "Add more granular timing information to RequestInfo"
Envoy currently measures first byte received to last byte sent by taking a snapshot whenever the access log is called, which appears to happen whenever the stream is deleted.  It would be nice to measure and allow per-request logs to have access to total backend latency and, potentially, client RTT (this may be more difficult) for users to better understand latency bottlenecks.  It could also be b

[2017-06-27 15:33] mrice32 commented on #1179
@dnoe

[2017-06-27 15:55] mattklein123 commented on #1179
Backend latency is already available in https://lyft.github.io/envoy/docs/configuration/http_filters/router_filter.html#x-envoy-upstream-service-time header (and implicitly to access logs via response headers).

[2017-06-27 15:59] mattklein123 commented on #1179
This is the same thing right now because of the way end to end flow control (or lack there of) works. This will be fixable once @alyssawilk makes further progress on that front. We can then measure downstream latency correctly in terms of when all  buffered bytes are flushed (at least up to TCP level).

[2017-06-27 16:13] mattklein123 commented on #1178
At a high level this feature makes sense to me. This actually will require some thought, because we need to differentiate between a "local origin" reply vs. a routed reply, so I don't think a filter is the way to go here. It probably makes sense to allow configuration in the route/vhost level for message overrides on a per response code basis, and then beef up the code in envoy that is used to sen

[2017-06-27 17:12] dnoe commented on #1179
The X-Envoy-Upstream-Service-Time is what I am using to fill out the upstream_service_duration field of the AccessLog proto.

[2017-06-27 17:27] mrice32 commented on #1179
I see. That all makes sense. Thanks. I wasn't aware of the various aggregate statistics that the router keeps and outputs.

I was referring to the deferred delete of streams (potentially) throwing off when the access logs are called, but I wasn't aware we had plans to report it to this level of accuracy. Okay, I'll wait for progress there.

Thanks for the references.  I'll close for now, and reope

[2017-06-27 17:27] #1179 closed

[2017-06-27 18:32] mattklein123 commented on #315
@kyessenov @rshriram @htuch @timperrett  (and whoever else feels like weighing in): I'm actually implementing the dynamic logic now (yay) and I have a question about semantics.

The way I'm implementing this is that listeners will need to have a unique name that describes them. (This is to handle the port 0 binding case, in which we cannot use address to differentiate). How should we handle port c

[2017-06-27 18:37] htuch commented on #315
1 and 2 seem reasonable. Is there a well defined ordering for how listeners are intialized that would allow the behavior in 2 to be predicted? Or is it just a fundamental misconfiguration to bind multiple listeners to an address, and we allow the implementation the freedom to chose who wins or loses?

[2017-06-27 18:46] timperrett commented on #315
Retaining the same port binding where the identifier is the same, seems eminently reasonable.

[2017-06-27 18:51] mattklein123 commented on #315
@htuch as the listeners is an array, I plan on keeping the order deterministic. (This is actually required for test sanity anyway with the port 0 substitution). In v2 it's still an array, so everything should be predictable.

@kyessenov as an aside, I just looked at the original_dst logic, and right now we allow multiple port 0 listeners that do not bind, which makes no sense at all (and in fact t

[2017-06-28 02:52] mattklein123 commented on #369
Apparently there is this proto that I didn't know about:
https://github.com/grpc/grpc/blob/master/doc/health-checking.md

So we should use that and define a gRPC http/2 HC type.

[2017-06-28 15:00] mattklein123 opened #1182 "gRPC/JSON transcoding using reflection"
In https://github.com/lyft/envoy/pull/1079 @lizan has implemented transcoding that requires the proto definitions to be available to envoy and up to date. This is a great start, but as discussed, the real killer feature here IMO is to do it transparently using reflection. Theoretically this should be possible.

cc @louiscryan

[2017-06-28 17:10] jwfang commented on #1182
great work +1

what happen if different upstream instances have different versions of the same protocol ? or even complete different service due to misconfigure.

currently the *protobuf descriptor* is shared for all request for the same listener, right?

[2017-06-28 23:23] mattklein123 opened #1188 "stats: add per listener rq total/active stats"
cc @danielhochman @RomanDzhabarov

I will try to do this as part of LDS work.

[2017-06-29 00:34] chinangela opened #1189 "TLS between Envoys is not working"
Hi,

We are trying to initiate a TCP connection through two Envoys, like so:
[code]
Where the `==>` arrow is TLS (server certs, no client certs).

The client connection looks like
[code]

And the server runs as
[code]

When trying to connect, we get inconsistent behavior.   Sometimes the date appears on the server side `nc`, but often it does not.

However, the client side `nc` always reports
[cod

[2017-06-29 07:35] myidpt opened #1190 "Switch to a single pass variable substitution for TestEnvironment::temporaryFileSubstitute"
TestEnvironment::temporaryFileSubstitute in environment.cc:
https://github.com/lyft/envoy/blob/master/test/test_common/environment.cc
should support a single parameter for the substitution, which is general enough.

[2017-06-29 14:42] mattklein123 commented on #1189
When you run `date | nc -v 127.0.0.1 10000` the connection will be closed after writing the data. Envoy detects this close and terminates the proxied connection also, so there is a timing issue. Basically, Envoy does not currently support this case in the TCP proxy (accept client connection, write data, and guarantee that all data gets written if client closes connection).

Is this a real use case

[2017-06-29 16:27] chinangela commented on #1189
Ok, that makes sense. It was just a test-- works fine when we don't pipe. Thanks!

- Angela and @rosenhouse

[2017-06-29 16:27] #1189 closed

[2017-06-29 20:00] #794 closed

[2017-06-30 01:41] lizan opened #1192 "Follow ups on gRPC<->JSON transcoder filter"
- Test coverage 100%
- Factor out building PathMatcher.

[2017-06-30 16:47] josephjacks opened #1193 "Add support for proxying QUIC"
Mentioned partially and might depend on work in https://github.com/lyft/envoy/issues/492 given QUIC is built on top of UDP.

https://en.m.wikipedia.org/wiki/QUIC

Official standalone library: https://github.com/google/proto-quic

[2017-06-30 17:11] chinangela opened #1194 "Secret Discovery Service for v2 APIs"
Hi,

We want to be able to rotate Envoy certs/keys without having to restart the Envoy.  We're particularly interested in the client cert/key for connecting to upstream clusters.  We recognize the CDS allows us to dynamically change clusters, but that doesn't let us rotate the cert used to connect to the CDS itself.

We see prior discussion about supporting cert rotation (https://github.com/lyft/e

[2017-06-30 18:29] mattklein123 commented on #1194
We don't have a good story/plan for this right now. However I recognize that it's an important use case. For now is it possible to hot restart the entire Envoy process until we figure out the right approach/resources for solving this?

[2017-06-30 18:30] mattklein123 commented on #1193
Presumably G will implement this at some point. cc @tschroed @htuch

[2017-06-30 19:10] chinangela commented on #1194
Thanks.  Our process monitoring currently does not support hot restarting the Envoy, but we can probably find a work-around.

[2017-06-30 19:12] mattklein123 commented on #1194
@htuch @dnoe @myidpt ^ for xDS TLS bootstrapping issue.

[2017-06-30 19:15] htuch commented on #1194
So, if we add KDS, we could have Envoy's client cert (presumably specified in `bootstrap.proto`) can either be on disk or via KDS.

[2017-06-30 19:17] mattklein123 commented on #1194
But that doesn't implicitly handle rotation. If we want rotation KDS must be polling and able to update the context inline.

[2017-06-30 19:17] mattklein123 commented on #1194
(Which I guess is where we were going anyway)

[2017-06-30 19:18] htuch opened #1195 "xDS API connection affinity"
While canarying a set of logically related xDS APIs, it's helpful if Envoy speaks to only a single management server.

To achieve this, we could modify `Grpc::AsyncClient` to ensure that it always reuses a connection to a specific cluster and have all the xDS APIs configured to speak to the same cluster. Maybe this is how `httpAsyncClientForCluster` works effectively today, but should verify.

@ma

[2017-06-30 19:25] htuch commented on #1194
Yeah, it should support server initiated updates like the other APIs. I'm not if I fully grok the implementation complexity of this - can't we have a map somewhere from cert name to certificate and just have KDS map this essentially, with LDS consuming (for server certs) and also the xDS APIs consuming (for Envoy management server client certs).

[2017-06-30 19:30] mattklein123 commented on #1194
Basically the question is where the KDS polling lives and how it actually physically does the update in the code if there is a key material change. For example, there are a few concrete implementation options:
1) KDS is able to reach into an existing listener or cluster, and modify the ssl_context with new key material (we should not limit KDS to xDS APIs, it should just be part of the generic clu

[2017-06-30 19:36] mattklein123 commented on #1195
AsyncClient under the hood uses the full router/connection pool, etc. so you will get standard keep alive semantics.

I'm a little confused though what specific behavior you are looking for. In whatever detail is possible can you describe your management server topology and how you are hoping canary to work?

[2017-06-30 19:43] htuch commented on #1195
Consider a setup in which you have management servers X, Y, Z. Via some mechanism, Y is selected to perform canary on an Envoy instance. Y is responsible for pushing out the configs and monitoring the Envoy instance for its ACK/NACK of the various configs. We're trying to avoid having X, Y and Z coordinate on the different config ACK/NACKs across the APIs.

There's also an issue beyond canary to c

[2017-06-30 20:15] mattklein123 commented on #1195
OK I see. @ccaraman and @junr03 can comment more as they are bringing up our xDS management server now, but our general plan for canary was to have the management server deal with it as we effectively announce canary via the Node concept (we are doing v1 now but it works the same way with REST URL slugs). So the management server would serve canary data to canary envoys. (This is orthogonal to can

[2017-06-30 20:17] tedsuo opened #1196 "Support new OpenTracing API"
A new version of the OpenTracing API for C++11 is almost ready (https://github.com/opentracing/opentracing-cpp/pull/11). Once it has been merged, we will be changing the LightStep tracer so that it is OT-compatible. It would be great if we could then do the following with Envoy:

- extract the ZipKin tracer and use it as the basis for a new OT-compatible ZipKin C++ tracer
- reimplement the tracing

[2017-06-30 20:19] mattklein123 commented on #1196
This sounds good to me.

cc @adriancole @rshriram @RomanDzhabarov @fabolive for further comment.

[2017-06-30 20:22] moderation commented on #1196
I was doing some very initial testing with @RomanDzhabarov to upgrade to lightstep-tracer-cpp 0.38 (currently on 0.36). We should probably put this on hold and wait for the implementation suggested by @tedsuo?

[2017-06-30 20:23] mattklein123 commented on #1196
@moderation yes I would probably just skip the upgrade at this point.

[2017-06-30 20:31] htuch commented on #1195
Yeah, existing LB affinity mechanisms don't cover this scenario. We're essentially talking about a cluster with precisely one connection upstream at a time. The mechanism could be generalized by maintaining multiple connections and using a header or something to force affinity to one of them, but there's probably no demand for this.

[2017-06-30 20:43] adriancole commented on #1196
There are usually mapping problems with OpenTracing efforts, surfacing as poorly encoded data in Zipkin or spans not appearing as client/server etc. These add support burden to our gitter channel and issues list. These mapping problems happen because usually OT is tested as a mock, as opposed to a micro-integration test (ex to the degree tests exist, they don't relate directly to data emitted). In

[2017-06-30 20:47] mattklein123 commented on #1196
Agreed. Nothing will change until we have confidence that any new solution is supported by the community and works. I'm mainly saying that I have no objection to people attempting to tackle this if they are willing to do all the work.

[2017-06-30 21:24] tedsuo commented on #1196
Yes, @adriancole this is also part of an effort to validate that the new API is correct, we want to prove that we can bind a ZipKin C++ implementation to it and have it work in real systems like Envoy and NGINX. (I'd also like to talk to you about test harnesses and other compatibility guarantees for OT, but probably a different thread). We're also fine supporting the C++ integration w/ZipKin and

[2017-06-30 22:25] adriancole commented on #1196
Thanks for the offer @tedsuo, and glad you are on board with making the first version of this portable with zipkin. Having an organization of mostly volunteers, I'm more concerned about future versions. Don't read this as skepticism about you personally, as your statement sounds great.

What I'm generally concerned with is a scenario where OT is inserted then Zipkin later removed or degraded due t

[2017-06-30 22:38] myidpt commented on #1194
@wattli

Just to make it a little clear to me, in terms of triggering runtime cert rotation, there are two cases:
1. Only change the file content of the files in ssl_context. This requires recreating Ssl::ContextImpl:
https://github.com/lyft/envoy/blob/7503ce005f346b04c762506c1becbfddea9a86ce/source/common/ssl/context_impl.cc#L22
which is created at initiation of ClusterInfoImpl:
https://github.co

[2017-06-30 22:40] rosenhouse commented on #1194
Would it be possible to continue using the old cert until the connection can be drained, and only use the new cert for new connections?

[2017-06-30 22:43] mattklein123 commented on #1194
Yes this is how it will work.

[2017-06-30 22:48] myidpt commented on #1194
I don't know if that is a big security issue. Suppose a client has a certificate with a specific SAN for only 10 min, if he uses that cert to establish a one-day connection, is that a problem?

[2017-06-30 23:16] tedsuo commented on #1196
Sounds good @adriancole, we'll include Zipkin-based integration tests when we make our PR.

[2017-07-01 00:26] #501 closed

[2017-07-01 18:10] skyrocknroll opened #1197 "Make it optional to validate the clusters name defined in static routes"
I would like to use only cluster manager without RDS. I have hardcoded the cluster part in routes to hello-world2 and in CDS i am giving response which contains the hello-world2 cluster details. But i am getting this error error initializing configuration 'envoy.json': route: unknown cluster 'hello-world2'

It would be great to make this validation as optional.

[2017-07-03 01:24] mattklein123 commented on #615
@PiotrSikora @myidpt @wattli Can one of you do this issue this week? Otherwise I'm just going to take care of it as it's trivial and I would like to close it out.

[2017-07-03 06:10] timperrett commented on #615
@mattklein123 if you do get to this, just a big of feedback: have been running #648 for a while now, and whilst it does seem to work well for the most part, we see this strange error when using cURL:

[code]

Whilst i'm ok accepting this is just curl being garbage, `httpie` also runs into issues. libcurl on the other hand seems ok with it. I'm going to try and reduce this into a concrete case as I

[2017-07-03 16:35] htuch opened #1200 "Upgrade to clang-format 5.0"
Support for tidying namespace comments amongst other things.

[2017-07-03 16:44] mattklein123 commented on #615
@timperrett a little suspicious this change is related to a connection termination issue. Is this in the case where a user does not supply a cert and the connection is closed?

[2017-07-03 16:51] timperrett commented on #615
@mattklein123 nope, this happens when i supply a cert and a key :-) The cert and key should be valid for the request (note it doesn't matter if i try to verify the remote or not in this case), so its a little strange. I dont mean to hijack this thread; if there's something you'd like to help try and isolate the issue or if its not related to this im happy to do that and file another issue.

[2017-07-03 16:57] mattklein123 commented on #615
@timperrett yeah might be best to try to isolate the problem and open a new issue.

[2017-07-03 17:11] lookuptable commented on #615
@mattklein123 I can work on this this week if you re-assign it to me.

Sorry for taking so long on this. I've been on vacation and did not check notifications as often as I used to.

[2017-07-03 17:28] mattklein123 commented on #615
Thanks @lookuptable

[2017-07-03 17:30] #1197 closed

[2017-07-03 22:30] PiotrSikora commented on #615
@mattklein123 @lookuptable I'll finish this today, I've been sitting for the patch for a while, but I need to revamp tests, since the tests from #648 didn't verify anything.

[2017-07-03 22:34] PiotrSikora commented on #615
@timperrett I expect the issue you see is because Envoy doesn't set client CA list, so no "accepted CAs" list is sent during the handshake. From your description, it sounds like client certificates works without client CA list with OpenSSL, but not with GnuTLS.

I'll try to verify and fix this later today.

[2017-07-03 22:54] timperrett commented on #615
@PiotrSikora as you were posting this i just verified the issue. I'm supplying a CA PEM that contains multiple certificates (as there are multiple valid callers in this case) and it appears envoy is only picking the first cert of the file, not the list as you suspected.

Hope this helps!

[2017-07-04 21:54] msample opened #1204 "Security Assessment"
If Envoy is being positioned as an edge-capable router, it would be ideal to have some security assessment of the code.  Could we engage some volunteer security experts to help build a repeatable process for security review and some CI fuzzing/VA/etc tests?

Ideally this process and tools could be applied to contributed filters as well such we don't end up with 'trusted' (e.g. from core committers

[2017-07-05 02:45] mattklein123 commented on #1204
Not really sure what I/we can concretely do here, but will leave this open to track. Envoy is already getting attention from security experts at least two "very large companies" (Lyft is not a "very large company"). Presumably if issues are found they will be reported and fixed. If anyone wants to volunteer for something more official let me know.

[2017-07-05 02:51] msample commented on #1204
I will tap some of my security friends to see if we can setup some CI tests for fuzzing etc. E.g. with AFL.  Thx for keeping this open - hopefully they will comment here.

[2017-07-05 02:53] mattklein123 commented on #1204
Fuzzing is going to be worked on by G at some point. I think @PiotrSikora is going to tackle this. https://github.com/lyft/envoy/issues/508 tracks.

[2017-07-05 18:34] #673 closed

[2017-07-05 18:34] #1200 closed

[2017-07-05 20:23] mattwoodyard opened #1214 "Forward Proxy support"
Envoy currently doesn't support being used as a forward proxy. Forward proxy support would mean that any standard web browser could set an envoy as their proxy and send requests into a service mesh. I've hashed out some initial support in an internal build. I propose to add forward proxy support to envoy in 3 stages. I think that what roughly needs to happen is:

1. relax the assumptions that envo

[2017-07-05 21:48] jrajahalme commented on #775
We have similar requirement, but we have to be able to use original_dst for HTTP traffic that may be subject to additional HTTP filtering, so a TCP proxy does not seem like a good fit.

I have implemented this on my development branch as follows:

1. Fix use_original_dst code to correctly determine if redirection took place or not, and store this fact as part of the Connection, so that later stage

[2017-07-05 23:03] PiotrSikora commented on #615
@timperrett Do you have config, certificates & keys that you could share to replicate the issue you're seeing? I'm having hard time replicating it with multiple CAs, even after building cURL with GnuTLS:

    $ curl --version
    curl 7.54.1 (x86_64-apple-darwin16.6.0) libcurl/7.54.1 GnuTLS/3.5.14 zlib/1.2.11
    Release-Date: 2017-06-14
    Protocols: dict file ftp ftps gopher http https imap ima

[2017-07-05 23:04] PiotrSikora commented on #615
Also, just to confirm... you're still linking Envoy against BoringSSL, right?

[2017-07-06 03:09] mattklein123 commented on #1214
What actually has to change here beyond just handling absolute URLs and inferring :authority out of it? Once that is done, it seems like everything else should just work? This seems like a very reasonable first step to do.

We essentially already have this via wildcard domains and the catch-all '/' route. What else is needed?

I would recommend tackling this one last as it needs a bunch of thinkin

[2017-07-06 03:39] mattklein123 commented on #775
@jrajahalme thanks for the writeup. Much more clear what you are trying to do. A few questions/comments.

Yup makes sense.

Originally, the downstream connection was not exposed to filters directly on purpose. When you do this work, let's deprecate connectionId() and switch to connection() but make you sure return a `const Network::Connection` and deal with whatever fixes are required to get at th

[2017-07-06 06:43] timperrett commented on #615
@PiotrSikora thats essentially correct, yes. I'm constructing a simplistic test using the same cert on the client and server side (with a cert+chain combined into a single pem). The certificates are not issued as leaves from the root CA, they have an intermediate CA (`root -> ICA -> leaf cert`) and leaves are issued from the intermediate.

Now im running the patch in #1203 with one change:

[code]

[2017-07-06 06:46] timperrett commented on #615
Oh, and yep, this is a vanilla Envoy build - we're not changing any of the linking or otherwise. We have a few small patches, but its mainly to the build infra, and not the source.

[2017-07-06 12:38] mattwoodyard commented on #1214
In general, handling absolute uris seemed sufficient to get something working, but there are some other details that envoy can easily handle and would make this mode more conformant.Specifically there are Connection and Via headers.

Now that I've thought about it a bit more concretely, I don't think I'd want the ability to send to upstreams that envoy doesn't know about. That would probably just

[2017-07-06 15:01] rshriram commented on #775
capabilities, while still routing the request to the requested IP address?
In this case, I guess you no longer require the ability to pick a specific
cluster (as the destination address has already been decided by the
client). And your intent is to just take advantage of things like rewrites,
HTTP/2, retries/timeouts, etc.

Out of curiosity, what would be the use case for this?

Bit lost here. Cor

[2017-07-06 15:14] mattklein123 commented on #775
cleaner to just add a new LB implementation where you can do away with DNS
lookups, and use the connection()'s destination address (original_dst) as
your target? And this would be a good segue to a LB filter implementation, that just
passes the request and other details, and expects an IP/port as output.

This is not architecturally possible. There must always be a host and a cluster (of some type

[2017-07-06 15:15] mattklein123 commented on #1214
AFAIK Envoy already properly handles connection headers. If not that should be fixed. Via is tracked here: https://github.com/lyft/envoy/issues/1030 (and needs to be configurable).

[2017-07-06 16:40] mattwoodyard commented on #1214
I didn't see where envoy was cleaning the hop by hop headers referenced in the Connection? Did I miss it?

[2017-07-06 16:48] mattklein123 commented on #1214
https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_utility.cc#L38

[2017-07-06 17:08] mattwoodyard commented on #1214
Thats what I thought you were referring to, but it's missing part of the handling from: https://tools.ietf.org/html/rfc7230#section-6.1. Connection can contain a list of other headers and if it does, those headers should be removed from the request/response as well, with a special case handling of Connection: close.

[2017-07-06 17:15] mattwoodyard commented on #1214
BTW - thats a complete nitpick, its not widely implemented. If you want to put something in for that then I'll be happy to otherwise I'll sort out the failing tests and add a config option somewhere and send a PR in the next couple of days.

[2017-07-06 17:23] mattklein123 commented on #1214
I've never implemented that in any proxy server I've dealt with, but feel free. In general sounds like we are on the same page so feel free to start sending PRs.

[2017-07-06 23:36] gabriel-sagula-hs commented on #269
Hi @mattklein123, would be possible to see some http filter example?

[2017-07-06 23:50] mattklein123 commented on #269
@gabriel-sagula-hs there are numerous examples in the existing code base. Can you look at one of those? I would love to have a more self contained example but don't have the time right now. (FWIW many people have written filters with little/no interaction with me so I know it's doable).

[2017-07-07 00:10] gabriel-sagula-hs commented on #269
Thanks for the quick response @mattklein123
We are evaluating few products right now, including Envoy. One thing that is critical for us is to be able to accept gzip. So, I'm trying to write a filter for that.
Are those the examples that you refer to? https://github.com/lyft/envoy/tree/master/source/common/http/filter

Thanks!

[2017-07-07 00:12] mattklein123 commented on #269
https://github.com/lyft/envoy/tree/master/source/server/config/http

[2017-07-07 00:13] mattklein123 commented on #269
Also here: https://github.com/lyft/envoy/tree/master/source/server/http

Those are the config loaders for all the filters, which you can then search through to the code.

[2017-07-07 01:23] PiotrSikora opened #1220 "TLS: Improve story with intermediate and/or multiple CAs"
(forked from #615)

Currently, Envoy assumes that:
- there is single CA in `ca_cert_file` (at least when it comes to client certificates, displaying CA information and calculating expiration dates),
- there are no intermediates in `cert_chain_file` (at least for the purpose of calculating expiration dates).

@mattklein123 How useful is the expiration date tracking in practice? Are you using this i

[2017-07-07 01:24] PiotrSikora commented on #615
Sigh, it took me a few minutes to fix the issue (since it was the list, like I assumed earlier) and whole day to realize that `openssl s_client` doesn't sent intermediates from file specified by `-cert`.

Anyway, moving this into #1220, since it's clearly a different issue.

[2017-07-07 01:52] mattklein123 commented on #1220
Extremely useful. We have dashboards and alarms based on this information. Definitely can't lose it.

[2017-07-07 15:25] timperrett commented on #1220
@mattklein123 huh, this should be documented for sure - i had no idea Envoy reported that information! That would indeed be useful when using externally rooted certificates

[2017-07-07 15:25] timperrett commented on #1220
@PiotrSikora absolutely - i'll do it mid-morning and report back. Thanks for tracking this down!

[2017-07-07 15:39] mattklein123 commented on #1220
@timperret the admin endpoint is documented (though it could be better):
https://lyft.github.io/envoy/docs/operations/admin.html#get--certs

But I don't think the server level stats are now that I search for it:
https://github.com/lyft/envoy/blob/master/source/server/server.h#L37

Will make a note to document unless someone else gets to it first.

[2017-07-07 17:34] gabriel-sagula-hs commented on #269
Thanks Matt for your time. This is very helpful.

[2017-07-07 23:00] timperrett commented on #1220
@PiotrSikora excellent - this does indeed seem to resolve the issue. I tried the scenarios previously enumerated in #615, and it works!

HUZZAH!

Nice one @PiotrSikora 🍻 🏅

[2017-07-08 01:05] mattklein123 commented on #613
Going to close this for now. Let's reopen if this is still needed at some point.

[2017-07-08 01:05] #613 closed

[2017-07-08 01:05] mattklein123 commented on #746
I don't think this is required by the license so not going to bother with this unless it becomes a blocker for something. Closing for now.

[2017-07-08 01:05] #746 closed

[2017-07-08 01:08] mattklein123 opened #1227 "CI regressions"
Opening ticket to track recent regressions in CI performance I'm guessing due to requirement of compiling extra googleapis code for v2 proto stuff.

1) Release build sometimes times out.
2) Coverage build sometimes fails after about 13 minutes with "no output received for 10 minutes"

cc @htuch

[2017-07-09 23:56] mattklein123 commented on #1195
@htuch @tschroed now that I think we have agreed to build "ADS" per https://github.com/lyft/envoy-api/issues/102 can we close this?

[2017-07-10 10:39] htuch commented on #1195
Agreed, https://github.com/lyft/envoy-api/issues/102 deprecates this, closing.

[2017-07-10 10:39] #1195 closed

[2017-07-10 12:51] rshriram opened #1229 "Provide ability to change service cluster post start"
In kubernetes pods are late bound to services (i.e. pods created first and then attached to service objects). So when running Envoy as sidecar in a pod, it's not possible to pre determine the service name associated with the pod for a certain period of time.

Our current solution is to start the sidecars with a generic service name (istio-proxy) but that brings its own set of complexities (e.g. zi

[2017-07-10 14:33] mattklein123 commented on #1229
All of the node information is pulled out of `LocalInfo` currently. (Though it's possible there are some legacy places that read from `LocalInfo` once and never check again. This needs to be audited). Although there are some threading issues to sort out, theoretically it should be OK to change the contents of `LocalInfo` at runtime.

With that said, this brings up semantic complexities, as when En

[2017-07-10 16:09] dnoe commented on #1229
This is the approach we are taking (binary starts, then waits for the opaque node identity info, then calls the Envoy common main to start Envoy with that info).

[2017-07-11 05:11] timperrett commented on #1220
@PiotrSikora one bit of feedback on this change: in certain cases, I need to use a browser (mainly for tooling cases that are secured with mTLS). Safari prompts me for a client certificate, but Chrome and Firefox do not... they seem to get stuck in a loop of some kind. When we use the same certs with nginx this doesn't happen, so im wondering if there's some subtle bug here?

[2017-07-11 07:05] timperrett commented on #1220
@PiotrSikora ok some more information on this: best i can tell right now, it appears that its actually verifying against the list of CAs (as per my previous note at the end of last week), but what its not doing - and i believe this is incorrect - is its still only presenting the head of the list as an acceptable  client CA, which is why the browsers don't prompt for a choice.

[2017-07-11 07:36] ihac opened #1239 "Missing reference link in docs?"
Hi,
    I was assigned to get familiar with the src code of Envoy. I started with docs in both Github and the [official website](https://lyft.github.io/envoy/docs/).
    It confused me that Github docs always used sth like **:ref: \`cluster <config_cluster_manager_cluster>\`** to refer another doc in (perhaps?) Envoy website. Is this something trivial remaining to be fixed yet? or did I get it wro

[2017-07-11 09:49] jwfang commented on #1239
i guess that's *reStructuredText* links.
i am curious why do you need to read the raw *reStructuredText*; for docs, you can just read the generated html online.

[2017-07-11 10:27] PiotrSikora commented on #1220
@timperrett it definitely sends a list of CAs with the patch. You can see that list when connecting with `openssl s_client`, under `Acceptable client certificate CA names`. It's 1 item with the `master` branch, and multiple items with the patch.

I also verified that the `CertificateRequest` message is sent to Chrome with both: `tcpdump` and `chrome://net-internals`.

Please note that Chrome won't

[2017-07-11 14:32] mattklein123 commented on #1239
Per @jwfang you are trying to read raw RST through GH which doesn't work. Please look at the docs here: https://lyft.github.io/envoy/docs/index.html

If you need to edit the docs I have found that the atom editor works well.

[2017-07-11 14:32] #1239 closed

[2017-07-11 16:10] timperrett commented on #1220
@PiotrSikora todays lesson is that Tim should not be programming past midnight, as no productive work can happen. Had been upgrading Envoy and testing out various patches and did indeed use the wrong build when i was testing this on another project, making last nights lack of sleep entirely fruitless.

Very sorry for the noise - i've re-tested this morning with the correct build and yep, you're ri

[2017-07-11 22:49] mattklein123 commented on #1227
(2) was fixed by @dnoe. (1) looks like generally just more code and slow travis. Closing for now.

[2017-07-11 22:49] #1227 closed

[2017-07-12 08:59] elevran opened #1244 "Provide Hystrix event stream to visualize circuit breaking"
[Hystrix Dashboard](https://github.com/Netflix/Hystrix/wiki/Dashboard) can help visualize the health of the Envoy mesh based on information provided.
The specification format is discussed [here](https://github.com/Netflix/Hystrix/wiki/Metrics-and-Monitoring) and [here](https://github.com/Netflix/Hystrix/tree/master/hystrix-contrib/hystrix-metrics-event-stream).

[2017-07-12 10:43] jrajahalme commented on #775
Given that a "logical host" can return a "real host" that has the destination address to which a c connection can be opened, I see two possible callers for the new getRealHost() call. It could be done by the load balancer as part to the chooseHost() call, or art can be done by the router right after having done the load balancer's chooseHost() call. If we do this in the load balancer, then all the

[2017-07-12 14:26] mattklein123 commented on #128
FYI @ldemailly and @9len have both expressed interest in finishing this up. I doubt it would really be that difficult at this point, especially I'm guessing if hot restart is just not supported on OSX (I think the MSFT folks are doing this also for the initial NT port). Please coordinate here so we don't duplicate effort.

[2017-07-12 14:31] mattklein123 commented on #1244
This sounds useful!

[2017-07-12 14:32] 9len commented on #128
Cc @zuercher who is looking at this on our end.

[2017-07-12 14:39] mattklein123 commented on #374
@fengli79 should we close this as complete for now? Or do you want to leave this open to track further follow ups?

[2017-07-12 14:41] mattklein123 commented on #1192
I think this is complete. Closing.

[2017-07-12 16:23] mattklein123 commented on #775
@jrajahalme cool, I think we are on the same page enough that it will be easier to discuss in the context of the RFC PR. I will look for that.

[2017-07-12 17:26] jrajahalme commented on #775
Posted an RFC PR at #1246

[2017-07-12 17:45] fengli79 commented on #374
There's one more thing left. I need to create a PR for error handling. We can close this after that.

[2017-07-12 21:12] jmillikin-stripe opened #1250 "//source/exe:envoy-static is not statically linked."
According to various docs (e.g. https://lyft.github.io/envoy/docs/install/building.html), the Envoy binary built from this source tree is intended to be statically linked. However, the current build rules generate a dynamically-linked binary:

[code]

[2017-07-12 22:01] mattklein123 commented on #1250
The default link statically links against third party dependencies but not against system libraries. This is generally what I would recommend. If you want to try for a full static link you will need to modify the build files.

[2017-07-12 23:21] timperrett opened #1252 "XFCC header parsing subtly broken"
@myidpt @PiotrSikora The mTLS certificate is not having its fields correctly extracted from the inbound certificate.

**Exhibited Behavior**

When adding:

[code]
to the access log, one only sees the following result:

[code]

**Expected Behavior**

Assuming the same logging line as above, i'd expect to see the `Subject`. This particular certificate does not have a SAN, so the `By`

[code]

Here's

[2017-07-12 23:40] timperrett commented on #1252
For anyone else who struggles with this same issue, the problem is that you need a config block something like:

[code]

Unfortunately the interplay of `set_current_client_cert_details` and `forward_client_cert` was not entirely obvious to me until reading the source code for the parser.

[2017-07-12 23:40] #1252 closed

[2017-07-12 23:45] mattklein123 commented on #1252
@timperrett doc PR would be appreciated for making this more clear.

[2017-07-12 23:53] timperrett commented on #1252
@mattklein123 absolutely - i'm going to put one together today. Just lost like an hour on this :-D

[2017-07-13 00:35] myidpt commented on #1252
Thank you @timperrett. I appreciate it.

Sorry guys for the troubles. The design of using two fields is not very straight-forward, it would be great if we can make the doc better written.

[2017-07-13 13:30] jwfang opened #1254 "wierd "pure virtual method called" fault"
envoy version:

we are run envoy by docker-compose, and local service are discoveried via *strict_dns*.
we start envoy before local services, so the DNS may fail for the first time.
PS: we also tried start envoy last, and this seems not reproduce the problem yet.

below are the config/log/gdb, they are from my self built envoy on centos, with *signal_trace=disabled*
we also tried using the officia

[2017-07-13 14:57] mattklein123 commented on #1254
@jwfang I think this is an interaction between "local_cluster_name" and CDS clusters. I strongly suspect it has nothing to do with the xxx cluster. I'm pretty sure there is a pretty bad bug related to local cluster updates and potentially a cluster that has been deleted. Do you know if CDS has initialized at this point and added/removed hosts? It's hard to tell what is going on here without full l

[2017-07-13 15:20] jwfang commented on #1254
CDS is an external service outside this *docker-compose*.
there are other local services, but only *xxx* service is both local and available via CDS/SDS. and when envoy fault, the stack trace and trace log are similar: dns success for *xxx*, update hosts, fire callbacks, BOOM ...

i will try simplified the environment and provides more informations tomorrow.

[2017-07-13 15:54] mattklein123 commented on #1254
OK. Sorry, it's hard to tell with the info provided. If you can't narrow it down more/debug, please provide the full config, full debug logs from startup to crash, and optimally, the core dump with associated binary with symbols.

[2017-07-13 15:56] mattklein123 commented on #1220
@PiotrSikora this got auto closed by the other PR. Since you said "partially fixes" I'm going to reopen this. Let me know if it should be closed.

[2017-07-13 17:42] mattklein123 opened #1256 "docs: random things that Matt promises to do"
I'm opening a tracking ticket to list out the random things around Envoy arch that I have vaguely promised to do at various times. Please add things to this issue that you would like to see.

- [ ] Screen cast of source code overview.
- [ ] Blog series on low level arch internals.

[2017-07-13 18:37] PiotrSikora commented on #1220
The negotiation with multiple CAs is fixed, the part that's still broken is `/certs` and calculating expiration dates. Should we track it here (and keep this open) or split into another issue? Up to you, I don't have a preference.

[2017-07-13 18:38] mattklein123 commented on #1220
Tracking here is fine with me.

[2017-07-13 21:21] htuch opened #1259 "Support multiple clusters in ApiConfigSource"
Multiple clusters can now be specified for xDS API sources, see https://github.com/lyft/envoy-api/blob/ea695fb3012b574e78a8b2f396664ee5253da4de/api/base.proto#L151. Envoy only supports one today, we need to add support for round robin failover between clusters.

[2017-07-13 21:25] htuch opened #1260 "Dynamic config canary dry run"
In the v2 API, we've added a `canary` field (https://github.com/lyft/envoy-api/blob/ea695fb3012b574e78a8b2f396664ee5253da4de/api/base.proto#L135) to `DiscoveryResponse`.

The intended semantics when `--dry-run-canary` is supplied on the Envoy command line is that canary configs are never applied, only validated. Validation should include at least schema/constraint checking, as well as catching any

[2017-07-13 21:26] htuch commented on #1260
@rohitbhoj

[2017-07-13 21:27] htuch commented on #1259
This is a dupe of #1170 actually.

[2017-07-13 21:27] #1259 closed

[2017-07-13 22:25] htuch commented on #1260
@mattklein123 Can you comments on how LDS and the bind/listen story would interact with dry run? Are there any failure scenarios we would pick up in actually applying when it comes to port listening that would be missed in a dry run?

[2017-07-13 23:44] #615 closed

[2017-07-14 00:15] mattklein123 commented on #1260
The only one I can think of is the one I just referenced in https://github.com/lyft/envoy/pull/1257 which would be a failure to listen() even though we were able to bind(). IMO this is enough of an edge case that I think we can ignore this.

I still think that we will need a more complete design of what dry run means across all of the different APIs. It can potentially get quite complicated.

[2017-07-14 01:00] mattwoodyard commented on #1214
Here's sort of an initial cut: https://github.com/lyft/envoy/compare/master...mattwoodyard:forward_proxy. I'd like to add a config option to enable/disable this. There are some codec options for http2 should I do the same with this, or add a new option on the connection manager?

[2017-07-14 02:18] htuch commented on #1260
I think for CDS/EDS at least (where I've been spending some time recently, so I'm familiar), it's not that hard to be concrete about what happens in dry runs. For EDS today, it's anything in https://github.com/lyft/envoy/blob/master/source/common/upstream/eds.cc#L37 that would raise an `EnvoyException`. For CDS, its this in https://github.com/lyft/envoy/blob/master/source/common/upstream/cds_api_i

[2017-07-14 02:30] htuch commented on #1260
Actually, the more I look at this, the more complex it looks. See https://github.com/lyft/envoy/blob/master/source/common/upstream/cluster_manager_impl.cc#L263 for example, there's a lot of state that gets committed that is then relied upon later. Even if the existence of the state doesn't matter to the initialization (which it does almost certainly in some places), the fact that we would then nee

[2017-07-14 02:36] mattklein123 commented on #1260
Yes, I think this will be extremely complicated. (Think what @rlazarus was doing with the config verification but worse). I would really recommend just doing standard rollout/rollback procedures.

[2017-07-14 02:40] mattklein123 commented on #1229
Per https://github.com/lyft/envoy-api/issues/98 closing this out for now as won't fix.

[2017-07-14 02:40] #1229 closed

[2017-07-14 05:30] msample opened #1263 "gRPC AsyncClientStreamImpl Bug"
As pointed out by @mattklein123 in https://github.com/msample/envoy-filter-example/issues/1 there is a bug in the grpc AsyncClientStreamImpl here:

https://github.com/lyft/envoy/blob/master/source/common/grpc/async_client_impl.h#L49

Using is RpcChannel instead of AysncClientStreamImpl is a more tested but deprecated alternative.  Ideally AsyncClientStreamImpl could be fixed instead.

SEGV caused

[2017-07-14 11:00] stolsma opened #1264 "LDS without LDS Cluster definition crashes Envoy on startup"
Hello,

Just started to test the latest version with LDS implemented and found out that Envoy crashes at start-up (exit code 134, and core dump) when LDS and CDS are defined (without the referenced LDS cluster defined) and CDS didn't return the LDS cluster definition but just an empty cluster list or even an 404 response.

What we are trying to accomplish is a sort of  auto discovery of Envoy gate

[2017-07-14 11:39] jwfang commented on #1254
@mattklein123
i simplified the fault, it's [here ](https://github.com/jwfang/envoy-pvmc.git).
the README there brifely explain how to reproduce.

[2017-07-14 14:50] mattklein123 commented on #1264
Currently the LDS cluster must be a static cluster at startup. It can't be delivered via CDS. It's a bug that the configuration does not fail to load. I will fix today. Thanks for reporting.

[2017-07-14 14:51] mattklein123 commented on #1254
Thanks @jwfang I will look today.

[2017-07-14 15:13] stolsma commented on #1264
Thanks for the quick reply! We will then change our 'new gateway' discovery adding process by configuring the LDS cluster description in the initial cluster config...

Are there any plans to let a starting envoy instance discover its initial configuration from a central mgmt node (Location given by cmd line option...)?

[2017-07-14 16:16] mattklein123 commented on #1264
Not currently. If you are using all the xDS APIs, the bootstrap config is pretty much static and probably < 50 lines. With that said, adding a `--config-from-url` option would not be hard and seems like a good idea. Feel free to open a GH issue on that.

[2017-07-14 16:25] #1263 closed

[2017-07-14 19:07] mattklein123 commented on #269
This is being worked on by @gsagula

[2017-07-14 20:21] #1264 closed

[2017-07-14 20:22] mattklein123 commented on #315
I'm calling this complete. If there are further issues, etc. we will open new issues.

[2017-07-14 20:22] #315 closed

[2017-07-14 20:22] mattklein123 commented on #1250
Closing as answered.

[2017-07-14 20:22] #1250 closed

[2017-07-14 22:30] mattklein123 commented on #1254
@jwfang I know what the problem is but unfortunately there are two different problems and it's going to take a little bit of time to fix.

In the meantime I would just remove "local_cluster_name" from your config and you should be ok. (I assume you are using this because you want zone aware routing?).

[2017-07-15 02:29] mattklein123 opened #1268 "ssl: setting verify_subject_alt_name should require ca cert"
This came up at Lyft when we deployed https://github.com/lyft/envoy/pull/1203. We should have config validation that fails if CA cert is not specified when this option (and others?) are set.

@PiotrSikora just opening this to track so we don't forget.

[2017-07-15 02:33] mattklein123 commented on #541
Closing this out as I don't think we will do this before we ditch travis.

[2017-07-15 02:33] #541 closed

[2017-07-15 22:23] cmaloney opened #1269 "Teach domains to allow trailing wildcards / unknown ports in Host"
The "domains" configuration within a virtual_hosts of a route config allows wildcards at the start of the domain currently, but not the tail.

This means If I do something (like for local development) where I run envoy on port 8080 locally with a name based virtual host / domains set (ideally the same one i'm going to be deploying), I have to match the port exactly inside the domains, otherwise th

[2017-07-16 16:46] mattklein123 commented on #1269
This is kind of related to https://github.com/lyft/envoy/issues/886.

I would be in favor of (1) if you want to do a patch. I thinking having an option to "ignore port" when doing domain matching would be useful (basically just strip the port component of authority if it is present and the user asks for it). Code you need to modify is roughly here: https://github.com/lyft/envoy/blob/master/source/

[2017-07-16 16:52] mattklein123 commented on #1192
@lizan I'm going to reopen this as I just checked and there is still missing coverage on a few error paths. Please cover them when you do more features on the filter.

[2017-07-16 16:58] mattklein123 commented on #1214
@mattwoodyard at a high level this looks good to be. Yeah, I would add an http1_settings object that parallels that http2_settings object and them plumb that through in the same way.

[2017-07-17 03:02] jwfang commented on #1254
@mattklein123
thanks for your quick response. i will rerun the test once it's done.
there are no problem for the fix time. we are still in the early stage, and have work around for this.

BTW: could you briefly explain what's casuing this fault, or point me to the related PR ? just curious, and from my quick galance of the code i saw no clue. :(

[2017-07-17 05:31] skyrocknroll opened #1271 "Segmentation fault"
envoy  version: 4d43aa36b6496a300d3b48502cd239795a7df27b/Clean/RELEASE
container image : ubuntu 16.04
stdout.log
http://paste.ubuntu.com/25110053/
stderr.log
http://paste.ubuntu.com/25110052/

We use supervisor to start the process using hot restarter. Also we use consul-template to render the envoy.json.

[2017-07-17 14:34] mattklein123 commented on #1271
At minimum please provide a decoded backtrace using gdb. Optimally, please provide a core dump with matching symbols.

[2017-07-17 17:25] lizan commented on #1192
Yes there are a few TODOs there. Will working on it soon.

[2017-07-17 17:56] skyrocknroll commented on #1271
@mattklein123 Sorry. I am completely new to c++ and c code base. I will figure out and come back with details.

[2017-07-17 18:27] crazytan opened #1272 "Support custom verification logic for certificates in TLS context configuration"
Currently in TLS context [config](https://lyft.github.io/envoy/docs/configuration/listeners/ssl.html#config-listener-ssl-context), we can specify which client certs are accepted by using `verify_certificate_hash` or `verify_subject_alt_name`. However this is not sufficient if we want to do more complicated authorization based on certs, e.g., wildcard matching or verification based on other field.

[2017-07-17 18:32] mattklein123 commented on #1272
@crazytan definitely open to more complex stuff but will need specifics on what you are looking for. Can you provide more explicit details on what you need? cc @PiotrSikora @myidpt

[2017-07-17 21:22] crazytan commented on #1272
@mattklein123 since we're still in an early phase of designing, I may not have all the use-cases yet. However one thing we definitely want is to wildcard matching on subject alternative name.

[2017-07-17 21:29] mattklein123 commented on #1272
@crazytan config proposals and PRs welcome.

[2017-07-18 09:37] jrajahalme opened #1276 "Pluggable listener pre-connection filters"
Envoy currently supports SO_ORIGINAL_DST and proxy protocol version 1 for supplying connection metadata (original connection destination, and source in case of proxy protocol). If both are configured, it is somewhat unclear what should be done, even though current implementation will search for alternative listener based on the SO_ORIGINAL_DST, but then use remote and destination information from

[2017-07-18 12:27] jwfang commented on #1254
@mattklein123 thanks for your pointer. you're really quick.

i totally missed the fact that *local_host_set_* has different life-cycle with *host_set_*.

after read your PR, there is still one thing not clear for me:
why all *LoadBalancer* need to be notified for *local_host_set_* changes ?
i guess maybe we only need to notify the *LoadBalancer* which has the same name as *local_cluster_name* ?

[2017-07-18 14:58] mattklein123 commented on #1254
This only happens when you set "local_cluster_name" which is only useful when doing zone aware load balancing. The load balancer uses information about the "local cluster" to correctly balance traffic across all zones. Thus, all load balancers need to know about the local cluster. If you are not doing zone aware balancing via SDS, I would just not set "local_cluster_name" at all. It's not necessar

[2017-07-18 15:00] mattklein123 commented on #1276
This seems reasonable to me. We now have a fairly generic extension registration system that can be used to build this. If you feel like working on this it would be good to do a bit longer form design in terms of what the config would look like (also needs v2 analog in proto) and the extension interfaces.

cc @htuch @dnoe

[2017-07-18 15:08] htuch commented on #1276
It might make sense to try and intercept the v2 LDS API with this, see https://github.com/lyft/envoy-api/blob/master/api/lds.proto. We already have an explicit notion of metadata in the `Listener` and `FilterChain` messages that can be used to provide opaque data for stats/logging or other filters, essentially what we're adding here is a way to provide additional sources of the metadata, beyond ex

[2017-07-18 17:02] jrajahalme commented on #1276
Cool! I have plans of adding additional metadata sources, so working on this makes perfect sense. I’m new enough to hot have noticed Envoy API v2 work or plans before, is there something on the approach, goals, timeline, etc. on v2?

  Jarno

[2017-07-18 17:04] jrajahalme commented on #1276
Is this also v2, or is there any of this in the current Envoy?

  Jarno

[2017-07-18 17:32] mattklein123 commented on #1276
@jrajahalme please take a look through https://github.com/lyft/envoy-api

[2017-07-18 17:38] htuch commented on #1276
Yeah, as Matt points out, the repo has all the approach/goals stuff. In terms of timeline, we're working on locking down the API and implementing the subset of it that matches v1 right now. I'm hoping we'll have the v1 subset of v2 implemented within roughly a month.

After that, we need to plumb in all the additional v2 features that weren't in v1. I've started to track these at https://github.co

[2017-07-18 18:29] htuch opened #1277 "Fully populate Node proto with relevant local info"
Today we only fill in node and zone name (https://github.com/lyft/envoy/blob/master/source/common/config/utility.cc#L30). We should also set build version (https://github.com/lyft/envoy-api/issues/95), service cluster name and consider how other metadata might be set (CLI options? bootstrap.proto?).

[2017-07-18 18:37] htuch opened #1278 "Metadata support in access logs"
In the v2 APIs, we build up a metadata object as listeners/filter chains/routes are computed. Similar to the ability to log arbitrary headers in the access log today, we would also like to be able to log metadata.

@dnoe

[2017-07-18 18:40] htuch commented on #1102
https://github.com/lyft/envoy/pull/1267 is one step towards this.

[2017-07-18 18:42] dnoe commented on #1278
Where is the built up metadata object located? My plan was the include all the metadata in the Struct field (rather than configuring logging of a subset) although this isn't hooked up yet. If we want the ability to filter specifically what metadata is included I'll need to add something for that purpose into the AccessLog configuration message in http_connection_manager.proto.

[2017-07-18 18:44] htuch opened #1279 "Filter endpoint in LB based on metadata"
As decided in https://github.com/lyft/envoy-api/issues/81, we added metadata support to EDS and matching in routes to the API in https://github.com/lyft/envoy-api/commit/abcd5ba14aff347d86fbb4b54883010e0ddb304b. This issue will track the implementation work around endpoint subsetting in the LB stage.

@mccv @9len @rshriram

[2017-07-18 18:45] htuch commented on #1278
I think we're open to exploring design at this point. Simplest would be to include everything, but that would only work for the proto logging, not the string based logs with formatters that would call out specific fields.

[2017-07-18 18:51] htuch opened #1280 "Listener support for v2 FilterChainMatch filter chain routing"
In the v2 API, we have a fairly general source/destination IP range/port and SNI match criteria used to select the applicable filter chain for a given incoming TCP connection, see https://github.com/lyft/envoy-api/blob/master/api/lds.proto#L46. This issue will track the related implementation work.

[2017-07-18 19:30] 9len commented on #1279
cc @zuercher too

[2017-07-18 20:06] dnoe commented on #1278
I hadn't actually considered the case of logging metadata into string based logs, and I need to think about how this would look. Given the open ended nature of the metadata Struct it seems tricky to balance this against formatting it in a concise format (JSON in the access log line? ugh?), and the open ended composition of the Struct means it's hard to figure out how a config specifier would filte

[2017-07-18 22:53] myidpt commented on #1272
In Istio, we rely on a filter to call out to Mixer (another component) to do AuthZ. Can you tell why you want to implement the logic here?

[2017-07-18 23:24] crazytan commented on #1272
@myidpt well first of all, since service-to-service communication happens often, we're afraid that relying on another component to do authz may be slow; second, there's already limited form of matching going on with dnsname. It could be handy if URI matching also supports wildcard.

[2017-07-18 23:51] #1254 closed

[2017-07-19 00:09] myidpt commented on #1272
Sure. Actually the filter does not need to call out to mixer - you could implement all the logic in the filter itself. Adding a wildcard support to verify_subject_alt_name  seems fine to me, but I'm a little concerned about supporting custom hooks in SSL context. It complicates the ssl context code.

[2017-07-19 13:31] htuch opened #1283 "Http::Utility::sendLocalReply() does not respect stream reset"
This static helper function doesn't take into account that the caller (e.g. router) might have had its stream reset between `encodeHeaders()` and `encodeData()`. This is worked around in https://github.com/lyft/envoy/pull/1282 for router replies in the context of `Http::AsyncClientImpl`, but probably deserves a more complete solution.

[2017-07-19 14:34] htuch commented on #1283
It looks like the only call sites for `Utility::sendLocalReply()` are in `source/common/router/router.cc`. I think we could either:
1. Swallow this static into `Router::Filter`, where it can get at instance variables to figure out if the request has been reset.
2. Split into `Utility::sendLocalReplyHeaders()` and `Utility::sendLocalReplyData()` with the sender responsibility to check stream validi

[2017-07-19 14:50] htuch commented on #1283
I stand corrected, ti's used in `source/common/grpc/json_transcoder_filter.cc` as well.

[2017-07-19 14:51] mattklein123 commented on #1283
I think (2) is probably OK given the small # of call sites. As discussed offline, I think we could also pass a `const bool& is_reset` parameter and make the caller manage it. This is a bit simpler than the lambda as callers are probably managing a boolean anyway, but admit it's a bit strange. I could go for any solution.

[2017-07-19 15:00] mattklein123 commented on #1283
@htuch this code https://github.com/lyft/envoy/blob/master/source/common/http/filter/buffer_filter.cc#L41 should probably use sendLocalReply (this is going to become more important when we allow overriding error response messages). No need to fix it in this PR, but can you drop a TODO in? There may be other sites liker this I can't remember.

[2017-07-19 15:20] mattklein123 commented on #1271
If you need help with commands to get core dumps / use gdb feel free to hop in gitter and someone can help out.

[2017-07-19 17:21] htuch opened #1284 "Plumb v2 protos into existing v1 xDS APIs"
As an initial stepping stone towards the v2 APIs, we will be splitting the existing implementation of the v1 APIs into two distinct modules:
1. The internal API for xDS modules (e.g. ` EdsClusterImpl : public BaseDynamicClusterImpl`), which will have its API largely unchanged. Its implementation will expect v2 protos to be delivered via a Subscription.
2. A REST API fetch module that subscribes to

[2017-07-19 17:26] htuch opened #1285 "Hierarchical EDS weighted load balancing"
EDS now expresses weights at both the endpoint and locality level, these need to be combined to produce an effective LB weighting. The issue tracks the implementation work  on this.

[2017-07-19 17:28] htuch opened #1286 "EDS stats reporting"
Implement stats reporting required in the advanced LB EDS API (https://github.com/lyft/envoy-api/blob/master/api/eds.proto#L27). I.e. periodic reporting of relevant LB related stats to the management server to support the computation of EDS endpoints and weights.

[2017-07-19 17:30] crazytan commented on #1272
@myidpt Yeah I agree that custom hooks may be excessive. But wildcard support for verifying SAN seems totally reasonable to me.

[2017-07-19 17:31] htuch opened #1287 "v2 bootstrap implementation"
Support consuming https://github.com/lyft/envoy-api/blob/master/api/bootstrap.proto instead of the JSON config as an alternative when working with the v2 API. For a period of time, during the incremental implementation of v2, we should support both config files, consuming the missing pieces from the v1 config.

[2017-07-19 18:17] htuch commented on #1260
After some offline discussion, we arrived at the following two design alternatives, both of which involved batching up API refreshes via ADS in order to provide a complete configuration set (weaker per API canarying is still possible without ADS).

1. Weak configuration constraint checking. Essentially the moral equivalent of the JSON schema checks today. This can be easily provided with some smal

[2017-07-19 18:28] khgandhi opened #1288 "support for weighted round robin load balancing algorithm for each cluster."

[2017-07-19 18:30] khgandhi opened #1289 "add support for weighted round robin load balancing across various weight clusters at a route level"

[2017-07-19 18:31] mattklein123 commented on #1283
Fixed by https://github.com/lyft/envoy/pull/1282

[2017-07-19 18:31] #1283 closed

[2017-07-19 20:23] kflynn opened #1290 "Users want access to the documentation for the current stable Envoy release"
Right now, Envoy 1.3.0 is the most recent tagged Envoy release. I take that to mean that 1.3.0 is the current stable version and should be used in production.

However, the 1.3.0 docs are unreachable. Only the 1.4.0 docs are available.

[2017-07-19 20:40] mattklein123 commented on #1290
PRs appreciated on reorganizing the doc site layout somehow.

[2017-07-19 20:48] zuercher commented on #128
I'm going to start looking at this today, starting by porting over the changes mentioned above to fresh branch off master.

[2017-07-19 21:15] kuroneko25 opened #1291 "Access logging to stdout"
We want to use Envoy in a Kubernetes environment. It would be nice if Envoy can log to stdout/stderr instead of a file so we can take advantage of the default logging infrastructure including log rotation and log processing pipeline (fluentd on standard docker logs on the host)

[2017-07-19 22:58] mattklein123 commented on #1291
What logs are you talking about? app logs are already written to stderr.

[2017-07-20 14:22] htuch opened #1294 "Potential thread unsafe behavior in cross-thread access to DispatcherImpl::createTimer()"
This came up in the context of the additional assertion checking in https://github.com/lyft/envoy/pull/1292. Should figure out which code is responsible for this behavior and fix.

[2017-07-20 15:28] htuch opened #1295 "Add cookie hash support to RDS"
Support cookie extraction for hashing when `HashPolicy` is `Cookie` in v2. Support generating a cookie when TTL is non-zero.

[2017-07-20 15:29] htuch opened #1296 "Add explicit source IP hash to RDS."
Hash specifically on the source IP (rather than using XFF, which has complex semantics) for the v2 API.

[2017-07-20 16:28] jmillikin-stripe opened #1297 "Support running without an admin interface"
Some of Envoy's use cases, such as reverse-proxying to a non-TLS-capable backend, don't benefit much from having an admin interface available. It's just one additional port that I need to figure out how to firewall away from unauthorized access.

It'd be nice if the admin interface were made optional. Potential ways to disable it include leaving out the `"admin"` section of the config, or passing

[2017-07-20 16:31] mattklein123 commented on #1297
It's hard for me to imagine why anyone would ever run without the admin interface. Too useful for ops. However, not opposed to making it optional if someone does the patch.

[2017-07-20 17:18] zuercher commented on #128
c.f. https://github.com/lyft/envoy/compare/master...turbinelabs:osx

I maintained the author field on commits I copied from Refejlo:freebsd. Some further changes were necessary since envoy has changed a lot since February. The end result almost compiles. The final build failure in the linking step because of an unsupported linker flag. Looking at that next.

If someone who has a better understandi

[2017-07-20 17:26] zuercher commented on #128
Just realized those flags for ar seem like they would be valid for ld.

[2017-07-20 17:30] mattklein123 commented on #128
@lizan @ldemailly @htuch can probably advise on bazel issues. I just skimmed this real quick and it would be nice to avoid copying so much bazel code into our repo somehow (sad that we already have to copy so much. Not sure what is possible. :(

Overall this looks good modulo the details. Exciting to see this come together.

@zuercher once you get it mostly working, please add the bazel files/chan

[2017-07-20 17:34] mattklein123 commented on #128
@zuercher if you want to get rid of hot restart, basically do this: https://github.com/lyft/envoy/blob/master/test/integration/server.cc#L20

in prod code.

[2017-07-20 17:36] htuch commented on #128
The `ar` flag issue looks like it should be fixed upstream. Given how we're forking `cc_configure.bzl`, we might not be able to avoid some of this copy as we have things implemented today. It's possible within the `cc_configure` repository rule we could pull down stuff from the Bazel Github and inject it, that might be a lot  cleaner for files that are essentially unchanged.

We wouldn't need to d

[2017-07-20 19:10] kuroneko25 commented on #1291
Aren't access logs written to a file according to https://lyft.github.io/envoy/docs/configuration/http_conn_man/access_log.html?

[2017-07-20 19:11] mattklein123 commented on #1291
Yes for access logs. I don't really see any sane way that you can write access logs to stderr, if app logs also go there? I suppose it could be added as an option.

[2017-07-20 20:00] lizan commented on #128
I am happy to help.

You can use [`select`](https://docs.bazel.build/versions/master/be/functions.html#select) function in `BUILD` files, to compile specific `cc_library` as deps.

[2017-07-20 22:43] zuercher commented on #128
@lizan thanks -- I think that's enough for to make it better.

Current status:
- it links and doesn't immediately crash on start with no config (output looks the same as linux)
- the same branch links and passes tests under linux
- `Executed 143 out of 143 tests: 110 tests pass and 33 fail locally.`

[2017-07-21 00:44] shalako commented on #95
Support for SNI and multiple certificates would be required before we could consider using Envoy as an edge load balancer for North-South traffic in Cloud Foundry. Wildcard certs are not allowed in many regulated industries, and SAN certificates are so painful to manage that operators end up refusing to support custom domains.

Given the current config structure, I would find it most intuitive if

[2017-07-21 01:35] mattklein123 commented on #95
This feature is not hard to add. Someone just needs to do it. So whoever wants to firmly sign up just say so.

[2017-07-21 04:24] Reflejo commented on #128
I'm glad someone is picking this up. It's was on my backlog and never got back to it.

@zuercher Sounds like you are good, but do let me know if you need something from me

[2017-07-21 16:16] rnburn commented on #1196
Hello Everyone, I extracted out the Zipkin tracing code from envoy into a [stand-alone library](https://github.com/rnburn/zipkin-cpp-opentracing/tree/master/zipkin) and added a [bridge](https://github.com/rnburn/zipkin-cpp-opentracing/tree/master/zipkin_opentracing) to the proposed C++ [OpenTracing API](https://github.com/opentracing/opentracing-cpp/pull/11). I also wrote a version of [LightStep’s

[2017-07-21 16:41] mattklein123 commented on #1196
@rnburn my primary requirement for the tracing libraries are that:

- We don't lose any stats (as you point out).
- We decouple framing vs. transport. Meaning, the libraries should be written in a way that we can still use Envoy per thread networking and not have any connection pools/threading/etc. inside the libraries. If the libraries implement a default transport that's fine, but they should be

[2017-07-21 19:16] mrice32 opened #1306 "gperftools doesn't seem to be detecting leaks"
tcmalloc (and the dependent gperftools) seems to be only be linked in [non-asan builds](https://github.com/lyft/envoy/blob/4f9d60d8b07fe9e306682223a8bea4d8397725ea/tools/bazel.rc#L24).  As far as I'm aware, when tcmalloc is linked, it should allow gperftools to detect leaks through a heap checker.  However, in the process of tracking down some internal leaks, I introduced the following sample leak

[2017-07-21 19:24] mattklein123 commented on #1306
Heap checking should be enabled in normal builds via https://github.com/lyft/envoy/blob/master/ci/build_setup.sh#L7. I can check this locally in a sec. If that's not working correctly I think something broke somewhere along the way.

[2017-07-21 19:30] mattklein123 commented on #1306
@mrice32 yeah I think something is broke. I'm not seeing normal heap check output when I run tests via bazel even w/ env var set. I can investigate in a bit, trying to fix something else. cc @htuch in case he knows what might be broke.

[2017-07-21 19:33] mrice32 commented on #1306
Okay, I'll do some poking around to see if I can find the source of the problem.

[2017-07-21 19:34] htuch commented on #1306
i'm guessing it's some link issue (mattrice@ suggested it might be link order). Probably happened in the Bazelification.

[2017-07-21 19:54] htuch opened #1308 "Constraint checking for v2 protos (and JSON translations)"
In v1, we rely on various JSON config schema checks. In v2, we don't have any way to express basic sanity properties such as required fields being present, a timeout field being non-zero, string non-empty.

Some of these constraints are implied by the protobuf (e.g. enum type values), but the protobuf type system is weaker than JSON schema in many respects. During initial work in #1284, we can sti

[2017-07-21 19:57] htuch opened #1309 "Protobuf documentation generation"
We would like to make the `.proto` files in https://github.com/lyft/envoy-api/tree/master/api  the single source-of-truth for the v2 API code and documentation. In order to do this, we need to generate the API documentation for both proto and JSON in a human-readable HTML format similar in spirit to existing docs such as https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/ro

[2017-07-21 19:58] htuch commented on #1279
@9len @zuercher Will you folks be able to provide some implementation bandwidth on this feature?

[2017-07-21 20:04] htuch opened #1310 "Health Discovery Service"
The v2 APIs introduce HDS - https://github.com/lyft/envoy-api/blob/master/api/hds.proto (@amb67). It works as follows (pasting in the `.proto` comment):

1. Envoy starts up and if its `can_healthcheck` option in the static bootstrap config is enabled, sends `HealthCheckReques`t to the management server. It supplies its capabilities (which protocol it can health check with, what zone it resides in,

[2017-07-21 20:08] htuch commented on #1278
Yeah. We could support simple flat Struct access, where it's just key:value at one level, which is how metadata is probably going to be used most of the time when it's destined for logging.

[2017-07-21 20:31] alyssawilk commented on #1162
So do you still want to wait until v2, or should I resurrect the json formatted I spent 30 minutes twiddling with?

[2017-07-21 20:32] htuch commented on #1162
Yep, I think v2 makes sense, was just going through the v2 API issues and getting an idea of who might be owning some of them. Since you expressed interest in this aspect I tagged you on it.

[2017-07-21 20:36] 9len commented on #1279
Hi @htuch; we're focused on #128 right now, as a means to make development easier for us, but once we land (or time-out trying to land) that, @zuercher can take a look.

[2017-07-21 20:38] htuch commented on #1279
Sure. It's going to be a few weeks until we've fully plumbed in protos into the CDS/EDS/RDS aspects of Envoy, was just trying to get a provisional notion of who might own this one. Will assign to @zuercher for now.

[2017-07-21 20:49] mattklein123 commented on #1308
(3) would be best. Can we see about timeline? I assume it's not an option.

(2) sounds kind of awful.

(1) I guess is the fallback. I think if we factored the code checks correctly we could do it in a way where we could user it both in tools and main code as well as the "dry run"/canary functionality if that gets built.

[2017-07-21 22:35] 9len commented on #1279
our general focus will be on implementing the xDS APIs with our stuff, but this is definitely something we'll need, so we can sign up for it if nobody else needs it sooner.

[2017-07-22 00:52] adriancole commented on #1196
One thing I mentioned on another discussion about this is that diversity of
interest maintaining is important. For example, the current zipkin code
(which this effort aims to remove) was reviewed by folks at Lyft and IBM.

The one mentioned here is a replacement, and currently single-author (no
offence). In zipkin itself, there's a community provided c/c++ library
https://github.com/flier/zipkin-c

[2017-07-23 13:50] mattklein123 commented on #95
@mattwoodyard are you working on this actively? If not I'm probably just going to get this done as I'm getting tired of people asking for it. :)

[2017-07-23 16:57] mattwoodyard commented on #95
@mattklein123 - I've not got anything ready to commit, and I won't have the time to dedicate to tests and polish for a few weeks.

[2017-07-23 20:38] mattklein123 commented on #95
@mattwoodyard alright let me see where I get with this. Let me know before you spend a bunch of time doing more work.

[2017-07-24 13:45] jrajahalme commented on #775
Posted PR #1314 proposing a solution to this issue.

[2017-07-24 18:45] htuch opened #1319 "Support multiple server TlsCertificates per DownstreamTlsContext"
In the v2 API, we allow multiple `TlsCertificate`s to be specified per `DownstreamTlsContext` (https://github.com/lyft/envoy-api/blob/master/api/tls_context.proto#L107). In the current Envoy implementation, each TLS context only supports a single certificate/key (https://github.com/lyft/envoy/blob/master/source/common/ssl/context_impl.cc#L77). This issue will track the design and implementation of

[2017-07-24 18:48] mattklein123 commented on #1319
This is a dup of https://github.com/lyft/envoy/issues/95 right? We should implement SNI in the "v1" world also, as it is trivial to do so. @PiotrSikora if you are going to work on this can we maybe do the v1 work first since it will be used in v2 as well?

[2017-07-24 18:51] htuch commented on #1319
I was interested in understanding what it means to have multiple certs here. Piotr pointed out there are a number of different options, e.g. are we doing this with SNI, different cert types. If it's just SNI then it's a dupe.

[2017-07-24 19:18] mattklein123 commented on #1319
Yeah that's true, this is beyond SNI, like having both EC and RSA certs potentially I guess? Still, I would like to see us implement SNI ASAP since I'm getting tired of getting asked about it. :)

[2017-07-24 19:32] #1306 closed

[2017-07-24 20:19] PiotrSikora commented on #1319
This (`repeated TlsCertificates` in v2 API) is for having different types of certificates for the same context (e.g. RSA and ECDSA), which is different from full SNI support (#95). Let's keep this simple and move SNI discussion back to #95.

[2017-07-24 20:42] PiotrSikora commented on #95
@mattklein123: v2 API uses `multiple FilterChain`, so we're going to have multiple contexts per listener in v2 anyway.

Also, it's a bit unfortunate that we're discussing implementation details here, instead of focusing on the use cases, since proper SNI support doesn't stop at simply serving different certificates based on the SNI (which is what's been discussed here so far), but it should change

[2017-07-24 20:47] mattklein123 commented on #95
I don't really agree with this. 95%+ of the use cases for SNI are already supported if we just do the TLS part. Basically, cert per domain, and then virtual hosts per domain in a single listener. I would recommend starting there. Agree there is a lot more that can be done later.

[2017-07-24 20:52] mattklein123 commented on #95
Maybe, maybe not. This needs more thinking/design. For example, will we route to logical listeners based on SNI? If so we still have a single SSL context before filter stack routing happens, right?

[2017-07-24 21:00] shalako commented on #95
Although an SNI hostname could be used to make a routing decision based on a domain name, this is not why we need SNI. The primary use case is reducing the burden on the operator for certificate management and secondarily, improved security from not exposing unexpected domain names in a cert.

As our users can construct routing rules based on more complex HTTP attributes than hostname (e.g. contex

[2017-07-24 21:09] PiotrSikora commented on #95
@mattklein123 sure, but single SSL context means that client certificate verification settings would apply to everything on a particular listener, making it all or nothing for a particular listening port.

[2017-07-24 21:16] mattklein123 commented on #95
@PiotrSikora ok that make sense. I guess we could use the original design that @mattwoodyard proposed. I guess really all I mean is that IMO without very much work we can unblock a lot of people / make them happy, so it would be best to do that before looking at all of the more complex cases. If we want to work on multiple ssl_context at the config level and we think that is better, that's fine wi

[2017-07-24 22:44] mattklein123 commented on #95
OK I just synced offline with @PiotrSikora. I agree with him that my suggestion above of not doing multiple ssl_context is not a good idea and roughly the original design that @mattwoodyard proposed is a better idea. The goal here will be to optionally have a map of SNI names to ssl_context configurations in the v1 configuration (along with the current default context). All of this code should the

[2017-07-24 22:52] zuercher commented on #128
I've got it down to 3 failing tests:
1. `/test/common/network:proxy_protocol_test` hangs
2. `/test/common/network:connection_impl_test` asserts when the ConnectionImplTest destructor destroys the client ConnectionImpl (I think) because the connection hasn't been closed.
3. `/test/common/ssl:connection_impl_test` hangs

[2017-07-24 23:07] PiotrSikora commented on #95
@mattklein123 Sure.

[2017-07-25 08:00] damaex17 commented on #1291
Two options for you:

[code]
or log to file and in the Dockerfile:

`
RUN ln -sf /dev/stdout /var/log/envoy.log`

[2017-07-25 10:11] boosh commented on #779
Looks like this is already in [Ambassador](https://www.getambassador.io/how-to/auth-external). Maybe that can be a foundation.

[2017-07-25 10:14] boosh commented on #779
Looks like [Ambassador](https://www.getambassador.io/how-to/auth-external) already has this. Maybe there's some code there you can use as a base.

[2017-07-25 10:27] markschmid commented on #779
Indeed, thanks for the info! Ambassador seems to be written in Python though.
If only I knew C++, I'd implement that filter right away ... :)

[2017-07-25 10:29] boosh commented on #779
@markschmid I've just added a link to the c++ filter. [Here it is again](https://github.com/datawire/ambassador-envoy/blob/master/extauth.cc).

[2017-07-25 10:31] markschmid commented on #779
@boosh Great, didn't see that one, thanks!

[2017-07-25 15:05] mattklein123 commented on #1291
Thanks @damaex17. Given the workarounds I'm going to close this as won't fix.

[2017-07-25 15:05] #1291 closed

[2017-07-25 18:19] alyssawilk commented on #150
Commenting late in the game, the other advantage of the partial write over the current callback/notification driven design is only the parties which are actively contributing to buffer bloat are actually notified.  My main concern with the existing design is if you have 100 streams on a connection, pushing the high and low watermark to all 100 is a bunch of extra work if a small subset of streams

[2017-07-25 19:04] htuch commented on #990
This is flaking `//test/integration:ratelimit_integration_test`, so I'll look into fixing this.

[2017-07-25 19:38] mclarke47 commented on #960
@mattkein123 I think filtering refers to excluding endpoints that you probably don't want to trace such as admin resources or health check endpoints.

[2017-07-26 00:51] #990 closed

[2017-07-26 11:41] mclarke47 commented on #960
I think that another follow up action should be to support 128 bit trace ids ([details](https://github.com/openzipkin/zipkin/issues/1298) [reasons](https://github.com/openzipkin/zipkin/issues/1262)).

[2017-07-26 17:53] kflynn commented on #779
@markschmid Ambassador's front end is indeed written in Python, but authentication is mediated by an Envoy filter which is (of course) written in C++. @mattklein123, happy to chat with you about what's needed to get that filter folded in to the Envoy core -- it's pretty simple.

[2017-07-26 17:54] mattklein123 commented on #779
@kflynn as long as it is generally useful, has docs, and tests, just do a PR :)

[2017-07-26 18:09] kflynn commented on #779
@mattklein123 That's what I was hoping to hear. ;) OK, should be able to do that next week.

[2017-07-26 18:42] mhoran commented on #129
Hey @vturecek, @mattklein123. Has anyone started work on Windows support? We're looking to use Envoy in Cloud Foundry to resolve the issue of [Route Integrity](https://docs.google.com/document/d/1zkPVGNnBX18rWdOpinIEtRxte3kwpVhIyS9_WM3ITqM/edit#heading=h.qq4satnewahr), and my team in particular is concerned with how we'll do this on Windows. The Linux proposal involves Envoy, and we'd love to use

[2017-07-26 19:03] zuercher commented on #128
I've gotten all the tests passing on osx (and don't seem to have caused any linux regressions).

@htuch The tools/osx/crosstools ar invocation is still broken with bazel's master. I'll see about filing an issue with them. Maybe no one else is linking statically on OSX? Meanwhile, I'll try to trim the changes down to copying stuff from the bazel repo at build time and applying a diff for the one fi

[2017-07-26 19:05] mattklein123 commented on #129
@mhoran I will start a mail thread with MSFT folks to determine status.

[2017-07-26 19:07] Reflejo commented on #128
That's fantastic @zuercher. Thanks for taking this

[2017-07-26 19:12] vturecek commented on #129
Thanks @mattklein123. Just in case there's more interest from others, yes Windows work is underway on our end. @mhoran - I'll follow up with more details over email.

[2017-07-26 20:08] alyssawilk commented on #1193
I suspect this is the case but I don't believe we plan on doing so this year.  If more folks pile on requesting it I'll reach out to the QUIC TL and see if we can get it on the roadmap sooner rather than later.

[2017-07-26 21:04] mattklein123 commented on #1271
Going to close this for now. Please reopen when you have more info. Would love to get this fixed.

[2017-07-26 21:04] #1271 closed

[2017-07-26 21:54] htuch opened #1338 "Aggregated Discovery Service (ADS) support in v2 Subscriptions"
We'll need to add the notion of a shared ADS resource to `ConfigSource` handling and `SubscriptionFactory`, add an ADS variant of `Subscription` and implement appropriate muxing to provide ADS semantics. See https://github.com/lyft/envoy-api/pull/124.

[2017-07-26 22:52] mattklein123 commented on #128
Awesome work @zuercher !

re: bazel, at this point, I would just copy the code in the same as we have done for all the other crosstools stuff, but up to you (please just do in dedicated PR).

[2017-07-27 14:47] mattklein123 opened #1341 "set -fno-limit-debug-info for Clang"
See https://github.com/lyft/envoy/pull/1340.

[2017-07-27 15:26] htuch commented on #1260
We no longer require this, so closing out for now. If someone would like it later, we can reopen.

[2017-07-27 15:26] #1260 closed

[2017-07-27 18:06] #1294 closed

[2017-07-27 18:56] liamawhite opened #1344 "Ability to configure zone aware load balancing settings as config settings"
We are trying to enable AZ aware routing in Istio, which we have done but its currently only for the defaults of 100% and >= 6 upstream clusters. We would like to be able to configure `upstream.zone_routing.enabled` and `upstream.zone_routing.min_cluster_size` as config options instead of runtime options in order to utilise the AZ aware routing properly.

cc @rshriram

[2017-07-27 20:23] mattklein123 commented on #1344
Should be simple change. PRs welcome.

[2017-07-28 00:11] zuercher commented on #128
That's good, because I fell down a rabbit hole trying to make it smaller yesterday. But... I endedup upgrading to bazel 0.5.2 on the max and it turns out `strip` has the same crazy arguments program as `ar` if you use bazel 0.5.2. I "fixed it."

Anyway, tada:
https://github.com/lyft/envoy/pull/1346
https://github.com/lyft/envoy/pull/1348

[2017-07-29 03:05] bplotnick opened #1352 "watchdog config missing from TOP_LEVEL_CONFIG_SCHEMA"
The config [docs](https://lyft.github.io/envoy/docs/configuration/overview/overview.html) mention watchdog configuration options, but they are not listed in the json [schema](https://github.com/lyft/envoy/blob/master/source/common/json/config_schemas.cc#L1092), so adding these configurations causes config schema validation failure.

The relevant options are:
[code]

It's friday night for me, so i'

[2017-07-29 03:09] mattklein123 commented on #1352
cc @dnoe

[2017-07-29 05:53] andraxylia commented on #1194
We could use this feature in Istio (istio.io).

[2017-07-30 19:36] htuch opened #1354 "Add support for EDS failover endpoints"
See https://github.com/lyft/envoy-api/blob/master/api/eds.proto#L181.

[2017-07-30 19:39] htuch opened #1355 "Support drop overload in v2 EDS"
See https://github.com/lyft/envoy-api/blob/master/api/eds.proto#L188. This extends maintenance mode from runtime to EDS responses.

[2017-07-31 15:54] #1352 closed

[2017-07-31 15:58] htuch commented on #368
This is now tracked under the label "v2 API", https://github.com/lyft/envoy/issues?page=1&q=is%3Aissue+is%3Aopen+label%3A%22v2+API%22, so closing out.

[2017-07-31 15:58] #368 closed

[2017-07-31 18:47] htuch opened #1357 "Inline key/cert delivery in v2 LDS/CDS"
The v2 TlsContext supports inline delivery of key/cert material, this issue will track the implementation work on this feature

[2017-07-31 23:27] bplotnick opened #1362 "Tls date provider is O(number of listeners)"
With a large number of listeners, we end up spending a lot of time doing stuff with the `TlsCachingDateProvider`.

<img width="1364" alt="envoy-flamegraph" src="https://user-images.githubusercontent.com/5392381/28802713-c7129958-760c-11e7-9b65-e5b9c330c757.png">

If you want to explore the flamegraph more, here is the svg (gh issues don't allow attaching svg): https://gist.github.com/bplotnick/652

[2017-08-01 00:05] chrisleavoy opened #1364 "Tracing headers not propagated when x-ot-span-context header is omitted"
Within Zipkin, there isn't a concept of an 'x-ot-span-context' header. However, the initial version of the Zipkin support within Envoy requires this header to be present for Envoy to propagate the B3 headers downstream.  The following is an example of a service making an inter-service call through Envoy.

Current behavior:

[code]

Notice in the current behavior that the x-b3-traceid does not matc

[2017-08-01 00:08] mattklein123 commented on #1364
@fabolive sorry I can't assign this to you. Can you and @rshriram take a look at this when you have some cycles and propose a solution? Thank you.

[2017-08-01 15:04] #912 closed

[2017-08-01 16:10] htuch commented on #836
Fixed in #1311.

[2017-08-01 16:10] #836 closed

[2017-08-02 03:26] tehranian opened #1371 "compile-error w/gcc 4.9.4"
Greetings! I was trying to compile the top of `master` w/gcc-4.9.4 and hit the following error:

[code]

Given that the Docker builds use gcc-5.4.0, I re-tried w/the build with the newer gcc and it completed successfully.

I think either:

* The docs at https://lyft.github.io/envoy/docs/install/requirements.html need to be updated to indicate to use a newer gcc.
OR
* The build needs to be un-broke

[2017-08-02 03:33] mattklein123 commented on #1371
I will fix the docs to indicate that GCC 5.4 is the new base. Feel free to do a PR if you want to fix for GCC 4.9 though. The fix should be trivial.

[2017-08-02 14:12] mattklein123 commented on #1371
Nevermind this will be fixed by @zuercher in https://github.com/lyft/envoy/pull/1374 it looks like.

[2017-08-02 14:13] #1371 closed

[2017-08-02 16:40] rakyll opened #1376 "Invalid target on build"
Instructions on https://github.com/lyft/envoy/tree/master/bazel suggests the following for the fastbuild target.

[code]
[code]

The command fails with `Invalid do_ci.sh target`.

[2017-08-02 16:43] mattklein123 commented on #1376
Sorry docs are out of date. See here: https://github.com/lyft/envoy/tree/master/ci#building-and-running-tests-as-a-developer

Feel free to do PR to fix the docs or we can get to it in a bit.

[2017-08-02 16:57] #1376 closed

[2017-08-02 20:30] jamessynge opened #1378 "Add support for printing stack traces when exception is unhandled"
This isn't a feature that can be provided in a portable fashion, but it very useful where the compiler/runtime don't unwind the stack before calling the std::terminate_handler when dying.

[2017-08-02 21:53] mattklein123 commented on #1378
I think this is probably as simple as just printing a backtrace inside of an std::terminate handler. cc @dnoe

[2017-08-02 22:34] cstrahan commented on #1364
I was about to report the same thing.

To resolve the overwritten `x-b3-traceid`, would it make sense to change the code responsible for constructing the `x-ot-span-context` such that it first checks if the incoming request is internal, and if so, use the existing `x-b3-traceid` (if present)?

If that sounds good, I could put that on my queue (but I can't give an estimate of when I could deliver a

[2017-08-03 04:15] rakyll opened #1382 "Document how to build the alpine container"
The makefile assumes /tmp/envoy-docker-build exists with an existing binary. Add a README to the directory explaining this requirement. Otherwise, it fails with the following and user needs to investigate why:

[code]

[2017-08-03 13:18] dnoe commented on #1378
Normally that wouldn't work but I think it will because we're using the custom pthread wrapper instead of std::thread.

[2017-08-03 14:42] htuch opened #1384 "Support consuming filesystem xDS via {binary protobuf, YAML, JSON}"
Unlike the gRPC delivery of the v2 APIs, we are initially only supporting JSON translation of the protobufs on the filesystem. We should have a flexible mechanism for supporting {binary protobuf, YAML, JSON} consumption.

[2017-08-03 18:50] vbatts opened #1387 "gcc-c++ 7.1.1 fails build (of lightstep dep)"
reference log (may get purged): https://copr-be.cloud.fedoraproject.org/results/vbatts/envoy/fedora-rawhide-x86_64/00586289-envoy/build.log.gz
HEAD at the time of the build: ee138524fc55b4b9a9918d11976aa2b5d59cc694
relevant output:
[code]

Discovered while packaging envoy for fedora 26.

[2017-08-03 19:39] mattklein123 commented on #1387
@vbatts this issue actually needs to get opened in https://github.com/lightstep/lightstep-tracer-cpp. They need to add the missing include. Then we need to update to the new version which we should probably do anyway.

[2017-08-03 19:41] vbatts commented on #1387
Yep yep. Working on it. Had to step away from my desk.

On Thu, Aug 3, 2017, 15:39 Matt Klein <notifications@github.com> wrote:

[2017-08-03 19:43] mattklein123 commented on #1387
P.S. I think the version update in Envoy is not trivial due to some other changes. @RomanDzhabarov can help with that.

[2017-08-03 21:22] moderation commented on #1387
The Envoy update is not trivial. I postponed my work on the offer from Lightstep to update the libraries and integrate into Envoy.

[2017-08-03 21:24] htuch commented on #1308
Going over https://github.com/lyft/envoy/blob/master/source/common/json/config_schemas.cc and observing how the JSON schema is used today, the checks that we get from it are:

1. Types {object, array, string, boolean, integer, enum}.
2. `required` properties on objects.
3. Restrictions on `additionalProperties`.
4. `minLength` on strings.
5. `minimum`, `exclusiveMinimum`, `maximum` on integers.
6.

[2017-08-03 21:34] htuch commented on #1308
(2) is essentially requiring that a message field is set for all wrapped types, Duration, messages etc. For strings, we will treat non-empty as the same as being set, in which case this is the same as (4).

[2017-08-03 22:22] htuch commented on #1308
Started to prototype this. One issue I've hit is whether we want to push the `VALIDATE_MIN_LENGTH` to the sites that directly consume deeply nested fields (e.g. the `ip_address` inside an endpoint at the leaf of a `ClusterLoadAssignment`), or whether we want to write a separate validation library.

In favor of local checks is that doing this in a separate library requires writing proto traversal c

[2017-08-04 00:41] mattklein123 commented on #1308
I think per our offline thread if we can do this via protoc plugin that @rodaine is working that would be pretty awesome because then it will work in both go and c++ (and maybe other langs in the future).

[2017-08-04 00:46] guodongx opened #1392 "Questions on enabling envoy for gRPC with TLS"
Hi,

We are trying out envoy to proxy gRPC with TLS. We tried gRPC without TLS and it works well.
When we added TLS on both the listeners and cluster, we are getting this on the client call:
[code]

Is there any docs on how gRPC/TLS is supposed to work with envoy?

[2017-08-04 01:09] adriancole commented on #960
Hi, @flier I know this isn't your code, but since you are helping with zipkin in c/c++.. There are a lot of users who'd like this issue to be improved, but less people actively improving. If you can lend a hand, it would be very appreciated.

[2017-08-04 01:43] mattklein123 commented on #1392
Please provide your configuration, and a dump of /clusters and /stats.

[2017-08-04 02:02] guodongx commented on #1392
This is my envoy config:
[code]

[2017-08-04 13:36] vbatts commented on #1387
opened https://github.com/lightstep/lightstep-tracer-cpp/pull/51
but due to the complexity of getting a newer lightstep rebased in envoy, for now i'm going to carry a patch for this in the rpm build of envoy for fedora 26 and rawhide

[2017-08-04 20:43] guodongx commented on #1392
are `/clusters` and `/stats` two available endpoints in envoy?
Also I tried disabling tls in the upstream server and remove the ssl_context in the cluster_manager, and it's working. Wondering if envoy is changing the request if it is tls.

[2017-08-04 20:46] mattklein123 commented on #1392
/clusters and /stats are admin endpoints. Please add docs. I'm guessing that something is not configured correctly and the TLS handshake is not actually working between envoy and upstream.

[2017-08-04 21:46] guodongx commented on #1392
Here is my stats dump:
[code]

On Fri, Aug 4, 2017 at 1:46 PM, Matt Klein <notifications@github.com> wrote:

[2017-08-04 21:48] guodongx commented on #1392
stat dump:
[code]

[2017-08-04 21:49] guodongx commented on #1392
cluster dump:
[code]

[2017-08-04 23:54] mattklein123 opened #1400 "ci: reduce disk space"
I'm not sure that we can start with more disk space than we do now. It looks like we have about 20GB  free when the build starts. It seems like ASAN is starting to get very close to limit.

@htuch @dnoe what absurd hacks can we do here? Delete test binaries after test runs? Split into 2 CI runs?

[2017-08-04 23:57] mattklein123 commented on #1400
P.S. I think the chance of getting more disk space on Travis is zero. That's not an option.

[2017-08-05 01:25] PiotrSikora commented on #1400
ASAN tests are failing already... :(

`/usr/bin/ld.gold: fatal error: bazel-out/local-dbg/bin/external/envoy/test/server/http/admin_test: No space left on device`

[2017-08-05 08:39] htuch commented on #1400
Here are some other/modified ideas to the above to work around this limit:

1. Dynamically link tests. We would need to modify the build of external deps to support this, plus there were some issues that came up when we used to do this in the early days of Bazel that I've since forgotten. Could be worth exploring again. This would also make the developer UX and Travis build times faster.

2. Run t

[2017-08-05 08:48] htuch commented on #1400
BTW, if you want confirmation that it's the O(100) static binaries that are to blame for disk use, you can do `./ci/run_envoy_docker.sh 'rm -rf /build/tmp; ./ci/do_ci.sh bazel.asan; du -ka /build/tmp | sort -n` and see results like:

[code]

[2017-08-05 20:50] PiotrSikora commented on #249
@mattklein123 feel free to assign it to me.

[2017-08-06 06:44] #1400 closed

[2017-08-06 19:13] htuch commented on #1384
This should apply to the bootstrap proto as well. In addition, we should perhaps allow specifying the entire bootstrap proto on the command-line, as it's small and some deployments will benefit from this form of orchestration.

[2017-08-07 03:48] syukur91 opened #1405 "SDS with service https protocol availability"
So, I created SDS Api to get services dynamically. One of the service object is like below

[code]

in the documentation ```https://lyft.github.io/envoy/docs/configuration/cluster_manager/sds_api.html#config-cluster-manager-sds-api``` it tells that you should provide hosts array and the structure like below
[code]
I run my service above using docker container, the access should be via https protoc

[2017-08-07 04:53] mattklein123 commented on #1405
I'm not totally sure what behavior you are asking for. What access do you want to be via HTTPS?

[2017-08-07 04:54] mattklein123 commented on #1392
[code]

I would check your TLS settings.

[2017-08-07 05:09] mattklein123 commented on #128
I'm reopening this for tracking until we are sure this is fully done and to see if there are any needed doc updates.

[2017-08-07 08:07] syukur91 commented on #1405
the host access, so the point is in each host configuration you can have an option to access whether via http or https,  if I imagine it, you'll have a configuration like below

[code]

[2017-08-07 08:23] flier commented on #960
@adriancole sure, let me check it later

[2017-08-07 08:27] syukur91 opened #1406 "LDS grpc-JSON not loaded"
So I implemented Listener Discovery Service in need to access grpc via REST so I put grpc-JSON transcoder filter on it, and I created the listener object that LDS API can use it like below
[code]
 so I put the transcoder filter in it and I put the descriptor file as well, but  when I access it via postman or curl it has no response at all.But it has a response when I put the listeners manually on

[2017-08-07 14:05] 9len commented on #128
We should probably set up a darwin CI build.

[2017-08-07 14:22] htuch commented on #1406
This shouldn't be happening. Can you provide a log for the LDS situation generated with `-l trace`?

[2017-08-07 14:27] htuch opened #1407 "Dynamically link tests"
As discussed in #1400, this is probably the long term way to improve both build performance and disk utilization (should be able to get ASAN from 24GB to 4GB). I think this would be a useful improvement to developer productivity and also help with the Travis CI disk and CPU situation. I would swag this as probably 1-2 days work, looking for volunteers.

The first step would be to ensure we have th

[2017-08-07 16:14] mattklein123 commented on #1405
Currently, Envoy assumes that all hosts in a cluster are the same. The way that you would handle this is to have a TLS cluster and a non-TLS cluster and route appropriately.

[2017-08-07 16:18] mattklein123 commented on #128
@9len @zuercher unfortunately right now we won't have the ability to host OSX CI (our CI story is a mess and we need to get that in shape first before taking on potentially non-Linux targets). Some options for CI are:

- Someone else sets up a CI job for OSX. We will setup whatever GH hooks you want to fire events into your system.
- We will not block merge if that job is broken, but at least we w

[2017-08-07 16:51] 9len commented on #128
looks like there's only one option :)

we can try to set it up.

[2017-08-07 18:13] ldemailly commented on #128
travis has OSX support (it's a small pool and fairly slow but I've had successes with it) ?

[2017-08-07 18:17] mattklein123 commented on #128
Travis may have OSX support but Lyft and non-Istio Google do not have the resources to manage it right now. Like I said I'm happy to install hooks and make the tests non-blocking for merge but that's the best we can do right now. cc @htuch

[2017-08-07 18:47] 9len commented on #128
That's fine with us, and about what we expected.

We run CircleCI for our in-house stuff, would you be opposed to us using that for an OSX build? Sidesteps figuring out how to do both from one travis yaml file.

[2017-08-07 18:48] mattklein123 commented on #128
Opposite of opposed. Please do!!! :) I will setup the hooks to send them to you when you are ready. We can figure that out offline.

[2017-08-07 18:49] 9len commented on #128
cool. we'll prototype in our fork until we find something we like.

[2017-08-07 19:30] PiotrSikora commented on #249
@RomanDzhabarov could you re-open (I can't)? This is only partially fixed.

[2017-08-07 19:30] mattklein123 commented on #249
Reopening.

[2017-08-07 19:31] htuch commented on #1194
I feel that #1357 subsumes this. We should probably close this one out as a dupe as a result. #1357 is sparser but tracks a concrete action item.

[2017-08-07 20:00] mattklein123 commented on #1194
I've had multiple requests for an additional API to fetch key data since key data might want to come from a different management server. Probably worth keeping this open to track?

[2017-08-07 20:01] htuch commented on #1194
OK, I will retitle to Key Discovery Service then.

[2017-08-07 20:19] rosenhouse commented on #1194
As an Envoy user, will I need to implement an KDS API in order to support key-rotation without restart?   Or would there be a way to get new key material from the filesystem directly?

[2017-08-07 20:22] htuch commented on #1194
We have concrete plans today to allow dynamic updates via the filesystem if the listeners are specified in a file on the filesystem (e.g. `listeners.proto`) and the keys/certs are inline with the listener definitions in this file. This works via inotify on Linux. This doesn't work with an LDS server.

When we add KDS, this would probably work the same way, except the restriction this time would be

[2017-08-07 20:33] mattklein123 commented on #1194
I have a feeling we may need to add key-rotation directly via filesystem for Lyft use so it will come one way or the other.

[2017-08-07 20:35] tschroed opened #1411 "Support binding to a specific address when connecting to upstream servers"
Like the title says. We should be able to specify an address for Envoy to bind to when connecting to upstream servers.

@htuch

[2017-08-07 20:59] htuch commented on #1411
So, we need to `bind` to a an address that we need to allow to be specified optionally in the `Cluster` definition before `connect`. @tschroed do we need this to come from CDS or some local option like a command-line flag (which could be simulated in a site-local binary via custom `Options`)?

[2017-08-07 21:02] dnoe commented on #1411
I think the best would be something that is resolved via a custom resolver we run in our "half" of the binary.

[2017-08-07 21:09] lizan commented on #1406
The problem may caused by the proto descriptor, which is loaded from envoy side, not LDS. Do you have the proto descriptor in Envoy side or LDS? We should consider providing the proto descriptor inline in the config.

[2017-08-07 21:15] dnoe commented on #1411
Actually, getting ahead of myself a bit: The custom resolver is the best way to resolve LDS and EDS addresses to what we need. The source address could come from a "command line flag" that we simulate via custom Options, or from resolving a special address with the custom resolver we already need for resolving LDS and EDS addresses. This is also the case where we need IP_FREEBIND.

[2017-08-07 21:30] htuch commented on #1411
OK, so for this issue, it should probably be sourced on the CLI. I think we could do this by making it part of the bootstrap proto, since I have a feeling we're going to want to provide other parts of this proto on the CLI, so we can just feed it in as a string there.

[2017-08-07 22:43] #1277 closed

[2017-08-07 23:45] syukur91 commented on #1406
@htuch OK, i'll try it

[2017-08-07 23:58] syukur91 commented on #1406
@lizan by the way, I run the envoy with the docker-compose and add the descriptor file as attached volume so I think the file is exist, and I define the file in LDS at the same location where the descriptor was stored in compose file. So I assume that the envoy run first, and then get the LDS object which is the listeners config. But when I reach grpc via REST it has no response at all.

Different

[2017-08-08 03:21] mattklein123 commented on #1405
Closing as question has been answered. Feel free to reopen if there are additional questions.

[2017-08-08 03:21] #1405 closed

[2017-08-08 03:21] mattklein123 commented on #1392
Closing. Feel free to reopen if you have additional questions and/or suspect a bug in Envoy.

[2017-08-08 03:21] #1392 closed

[2017-08-08 03:22] mattklein123 commented on #1406
@syukur91 beyond debug/trace output, also seeing a dump of the /stats admin endpoint after you have loaded LDS and tried some requests would be useful.

[2017-08-08 05:41] syukur91 commented on #1406
@mattklein123 how can I debug the envoy running via docker?

[2017-08-08 06:10] syukur91 commented on #1406
@mattklein123  I got this log talk about my ```grpc_json_transcoder``` at line 3
[code]

it seems like no error message at all

[2017-08-08 13:56] dnoe commented on #1411
Bootstrap proto sounds perfect for this.

[2017-08-08 14:30] htuch commented on #1411
Great. The only downside to bootstrap proto is it doesn't allow specialization per-cluster, it would be a global setting. It's fine for us, but we might want to further down the track add some indirection table there to allow cluster to point at a specific outbound IP handle entry. Just thinking aloud, we have a solution for today.

[2017-08-08 14:33] htuch commented on #1406
@syukur91 The full log from `-trace` and /stats from the admin endpoint (as defined in the Envoy configuration file) would be useful to try and debug this in this ticket. In particular, it would be useful to see what happens when an incoming request is being processed. You can add additional trace/debug level log statements to the gRPC transcoder filter as well.

[2017-08-08 16:31] mattklein123 opened #1413 "Dump/Tap support"
Dump/tap is an area that we haven't gone into yet in Envoy but potentially has a huge amount of value. Opening this issue to gather a feature set that would be generally interesting. Some things to think about:

- L4 and L7 dumping
- Dumping to file
- Dumping to network
- Controlling dumping via filters (like tcpdump)
- Controlling dumping via admin endpoint
- Controlling dumping via new xDS API (

[2017-08-08 17:14] dnoe commented on #1413
This is a cool idea. For both file and disk dumping/tapping I'd suggest that an important feature is encryption with credentials obtained by the API.

[2017-08-08 17:53] mattklein123 commented on #319
Fixed by https://github.com/lyft/envoy/pull/1274. Thanks @rshriram !

[2017-08-08 17:53] #319 closed

[2017-08-08 18:23] clguimanMSFT opened #1414 "Envoy doesn't send the full Zipkin Span context for a receiving node in an inter-service call"
Using the following configuration:
**service-a-1** sits behind an envoy instance and **service-b-3** sits behind another envoy instance.
service-a-1 makes an http request to service-b-3 and as a result of that, the Zipkin drivers will send two spans back (one for each envoy):

Span from the service-a-1's envoy:
`[{
    "traceId": "00008d850394663b",
    "name": "service-b",
    "id": "00000bd7e40d

[2017-08-08 21:02] htuch commented on #1413
One useful application of this is trace+replay for performance work. The idea is you record in a format that can later be used to recreate requests, allowing representative real world workloads to be captured and analyzed offline.

[2017-08-08 22:32] mattklein123 commented on #1414
@clguimanMSFT definitely open to patches here. https://github.com/lyft/envoy/issues/1364 also needs attention which may or may not be related. Feel free to propose solutions/PRs for one or both issues. (I'm not a Zipkin expert so don't have much to say right now).

cc @rshriram @fabolive @adriancole

[2017-08-08 22:35] mattklein123 opened #1415 "perf/debugging scripts"
We should have some scripts that automate:

- Taking a profile via perf and generating a flame graph for sharing
- Dumping /clusters, /stats, etc.
- Capturing launch config.

This will make it much easier for issue reporting/investigation.

[2017-08-08 22:47] clguimanMSFT commented on #1414
I dug around the source code, and it seems the decision to skip the binary annotations is by design:
https://github.com/lyft/envoy/blob/0efa18c36d6f789562690b5053c2c4b00987979e/source/common/tracing/zipkin/zipkin_tracer_impl.h#L62

My proposal would be to add an option configuration to the tracer (it's already referenced by all ZipkinSpan objects): **shouldAlwaysAddTags** which will default to fal

[2017-08-09 00:11] adriancole commented on #1414
I think this logic is more defensive about tags that other tracers. I dont know of any other tracer that does this actually, as it implies (as you noticed) that you will always have data from another node. While there is a chance that data is different between different nodes, having this data can be good when investigating problems. For example, zipkin has a "raw trace" feature which allows folks

[2017-08-09 00:12] adriancole commented on #1414
Ps thanks for shining a light on this!

[2017-08-09 00:38] mattklein123 commented on #1414
If it's more idiomatic to just add the tags I would just fix the code to not block it IMO. But no great opinion if folks think config option is better (could also default config option to always add).

[2017-08-09 02:02] clguimanMSFT commented on #1414
I don't think the extra size is a problem.
 Having the ability to choose which tags to send in this particular case I think just make the configuration more cumbersome, so I'll just a flag for all.
I will still keep it default off so we don't brake an existing configuration that relies on this behavior. I'll submit a PR tomorrow.

[2017-08-09 02:06] rshriram commented on #1414
Thanks for spotting this. I am with Matt and Adrian. No point in making a config option. Let's just add tags from receiving end as well.
( I think Fabio did this for efficiency reasons and the fact that this was going to run in an istio setup where all proxies send data to same zipkin server. )

[2017-08-09 04:46] syukur91 commented on #1406
@htuch  the ``` -l trace `` like below

[code]

[2017-08-09 09:49] fabolive commented on #1414
The reason I refrained from adding the tags on both sending and receiving ends was that the Zipkin server was actually duplicating the binary annotations with the same key (making the UI look messy) rather than properly merging them. I agree that, in principle, always setting the binary annotations is preferable. @adriancole Zipkin should never duplicate binary annotations with the same key. Is th

[2017-08-09 09:58] adriancole commented on #1414
filtering dupes in the UI is a dropped ball on the following issue:
https://github.com/openzipkin/zipkin/issues/989 I'll sort it out.

Long term, this will become less of an issue when folks transition to a
trace context format that doesn't support sharing trace IDs
https://github.com/TraceContext/tracecontext-spec

[2017-08-09 14:01] htuch commented on #1406
Can you provide a fuller log? The fragment you provide above is for the listener loading via LDS, not the actual request. Can you provide the `/stats` from admin as well?

It looks like Envoy will only 404 in the router, when it doesn't have a matching route or cluster (the gRPC transcoder filter sends 400 error codes). I notice in your config that you have RDS configured. Are you sure the route t

[2017-08-09 16:09] clguimanMSFT commented on #1414
Here's the PR:  #1418

[2017-08-09 16:27] clguimanMSFT opened #1419 "Envoy should add a Binary Annotation to the Zipkin Span that contains the request target service"
Let's assume the following scenario:
**service-a** sends a request to **service-b**. Envoy is configured to resolve **service-b** to either s**ervice-b-1** or **service-b-2** using a weighted cluster configuration.

The Zipkin Span sent from **service-a**'s envoy doesn't contain any information on the exact cluster to which the request was sent; The only thing that can be used is the **host_header

[2017-08-09 17:02] #1362 closed

[2017-08-09 17:34] mattklein123 commented on #1419
This is meant to be used by the upstream host, so it's kind of unrelated to what you are asking about.

This sounds reasonable to me. I would just do this in the driver agnostic code so it applies to all drivers.

[2017-08-09 17:50] mattklein123 opened #1421 "harden header map overflow code"
(This is a potential security issue but exploiting is very difficult and may be impossible so just opening issue).

[code]

In HTTP/1 hitting an overflow is definitely impossible due to max header block size tracking in http_parser.

For HTTP/2, we should add additional checking here: https://github.com/lyft/envoy/blob/master/source/common/http/http2/codec_impl.cc#L680 to make sure an individual h

[2017-08-09 19:03] htuch opened #1422 "Support hashing on multiple headers (and other criteria) in route hash policy"
The v2 RDS supports a `repeated` hash policy, but today we only hash on a single header field. Support for multiple hash criteria should be added for v2 implementation completion.

[2017-08-09 20:03] mattklein123 opened #1423 "http: better handling remote envoy draining"
At Lyft, we are hitting this comment at very low rate:
https://github.com/lyft/envoy/blob/master/source/common/http/http2/conn_pool.cc#L148

This is roughly the flow:

1. Remote Envoy has `/healthcheck/fail` called as part of a drain process.
2. Active HC interval is set to 15s + 15s jitter.
3. During this period, local Envoy will keep sending new streams to remote Envoy. These streams will be acc

[2017-08-09 22:25] clguimanMSFT commented on #1414
Thanks for the fast replies and assistance in getting my PR merged!

[2017-08-09 22:25] #1414 closed

[2017-08-09 22:25] mattklein123 commented on #1414
Fixed by https://github.com/lyft/envoy/pull/1418

[2017-08-09 23:30] tehranian opened #1424 "perf: High CPU Usage for Double-L3/L4 Proxy"
(See thread at: https://groups.google.com/d/msg/envoy-users/cOoLLnI0GS0/PReYVVETCQAJ)

I was doing some performance profiling of Envoy. One test case stood out: Envoy-to-Envoy L3/L4 proxy.

The setup of the tests:
  * Using `iperf3` to test two hosts (iperf3 client & server) in the same AZ in AWS.
  * Single-Envoy: `iperf-client -> Local Envoy -----> iperf-server` yields ~line speed w/ 10% CPU usa

[2017-08-09 23:33] mattklein123 commented on #1424
Related to https://github.com/lyft/envoy/issues/232

[2017-08-10 03:23] syukur91 commented on #1406
So here's the LDS,RDS,CDS,& SDS that I,ve been prepared so far. And here's the log that I get from docker container the file is too big so I uploaded it to dropbox

https://www.dropbox.com/s/s853vcfkf1rosj5/8533a6ef6e95f6391bda5221f06f606a658000d126e73570d5bfc7931f5faf45-json.log?dl=0

### listeners object

[code]

### route object

[code]

### cluster object

[code]

### service objects

[code]

[2017-08-10 05:47] lizan commented on #1406
@syukur91 the order of the filters is wrong, router should be after grpc_json_transocder.

[2017-08-10 07:59] syukur91 commented on #1406
@lizan  I've changed the order of the filters to this, but it have no effect and still have no response at all

[code]

[2017-08-10 09:14] htuch opened #1425 "Support regex path matching in route table"
The v2 API has committed to support for regex matching for route matches. This will only be enabled when regexes are specified in the route configuration (and as a result, will only imply a performance cost in this situation). This issue tracks implementation work on this.

[2017-08-10 09:20] htuch commented on #1276
@jrajahalme Are you still after something like this post #1246? If so, are you interested in working on this?

[2017-08-10 12:31] Sergio-Slobodrian opened #1427 "grpc_json_transcoder broken in :latest docker container"
Hi,

Firstly good job with the grpc_json_transcoder it really simplifies things the architecture for my application. As of yesterday it appears that the grpc_json_transcoder functionality has been broken. I pulled a previous container at commit hash 092f01381467dfc3324e5e9528c67ee5d65744fd and that one is working correctly so presumably a commit following that one broke it.

Thanks in advance.
Ser

[2017-08-10 14:45] htuch commented on #1427
How is it broken @Sergio-Slobodrian? Can you share logs/stats etc? Currently looking at #1406, wondering if there is something related.

[2017-08-10 14:45] Sergio-Slobodrian commented on #1427
Hi, Just some more information on what the symptoms of the issue are:
The access log shows that the HTTP/1.1 URL is correctly translated to the HTTP2 URL but it always returns a 404 (not found) despite the fact that the HTTP2 URL is correct. In the working version the exact same entry is shown in the log but with a return code of 200. Hopefully this helps get to the bottom of the issue.

[2017-08-10 14:50] #1102 closed

[2017-08-10 14:54] mattklein123 commented on #1427
Can you provide full config, and output of /stats and /clusters from admin? @lizan do you mind taking a look at this also? I agree with @htuch it's possible it's somehow related to the other issue.

[2017-08-10 14:54] htuch commented on #1406
These are the relevant lines where the 404 occurs:

[code]

[2017-08-10 15:03] mattklein123 commented on #1406
If you replace just RDS with the fixed route table, does it work? For RDS are you positive you are returning the route table shown above? @junr03 and @ccaraman are working on code now that will dump the loaded route tables via admin endpoint which will make this much easier to debug. That should be done by early next week.

It's hard to tell if this is a regression in the router matching code or s

[2017-08-10 15:07] mattklein123 opened #1432 "Issue and PR template"
Per offline discussion we will create templates for opening issues as well as PRs that will help make things a bit more efficient.

For defect issues: Things like common debugging tips and data to include.
For PRs: Description of change, any extra testing recommended, regression risk, etc.

We can propose the templates here so people can comment.

[2017-08-10 15:51] mattklein123 commented on #1364
@adriancole if you have a bit of time do you think you could help advise us on what the appropriate behavior here should be? I think given that we can find someone to work on a fix.

[2017-08-10 15:57] fabolive commented on #1364
@mattklein123 I believe it is possible to rework the entire implementation so as to obviate the need for the `x-ot-span-context` header. I should have some cycles next week to make an assessment.

[2017-08-10 16:15] alyssawilk commented on #1423
Caveat: I haven't looked at the connection pool code yet so I'm not up on the current feature set.

One possible way to handle this is that routes be configured to allow initial health checks on new connections.  For routes with this configured, the first request on a given connection is always a health check.  This gets you much faster turnaround than distributed health checking (and can be a par

[2017-08-10 16:24] zuercher commented on #128
@lizan You noted a compile error on the original PR for this (#1348). All my changes have landed on master, do you still see that? If so, what version of bazel & xcode do you have installed?

[2017-08-10 16:53] #1387 closed

[2017-08-10 16:57] mattklein123 commented on #1427
@rshriram @lizan I think this is a regression from the WebSocket change (https://github.com/lyft/envoy/pull/1274).

Basically, before this change, we would typically load the cached route for the first time in the router filter in a typical transcoding/router setup. Now we load it before we actually run any filter code at all: https://github.com/lyft/envoy/blob/master/source/common/http/conn_manag

[2017-08-10 16:59] mattklein123 opened #1434 "grpc transcoding: need to refresh cached route after header changes"
See https://github.com/lyft/envoy/issues/1427

[2017-08-10 17:05] Sergio-Slobodrian commented on #1427
Hi,

I need to roll back my environment to use the failing version so it’s going to take a little while. I should get it done before the end of the day est.

Cheers…

Sergio

From: Matt Klein [mailto:notifications@github.com]
Sent: Thursday, August 10, 2017 10:55 AM
To: lyft/envoy
Cc: Slobodrian, Sergio; Mention
Subject: Re: [lyft/envoy] grpc_json_transcoder broken in :latest docker container (#14

[2017-08-10 17:07] jrajahalme commented on #1276
Yes,

I’ll prototype something locally first. Could you give me a pointer to the plugin registration mechanism mentioned in this thread before?

  Jarno

[2017-08-10 17:11] htuch commented on #1276
@jrajahalme Great! See https://github.com/lyft/envoy/blob/master/include/envoy/registry/registry.h for the factory registration bit.

[2017-08-10 18:03] lizan commented on #1427
sure I will take a look later today.

On Thu, Aug 10, 2017, 10:05 AM Sergio-Slobodrian <notifications@github.com>
wrote:

[2017-08-10 18:39] Sergio-Slobodrian commented on #1427
Hi,

Attached is the full config that I’m using as well as the output from /clusters and /stats from admin and the access log from the failing listener. The http2 listener doesn’t have any issues.  I’ll leave the broken environment set up for a little bit longer in case you need additional information.

Cheers…

Sergio

From: Matt Klein [mailto:notifications@github.com]
Sent: Thursday, August 10,

[2017-08-10 18:45] mattklein123 commented on #1427
@Sergio-Slobodrian can you put them into the issue or supply gist links?

[2017-08-10 18:50] lizan commented on #1434
looked at #1274 again, shouldn't the route pre-calculated only if the connection manager see WebSocket Upgrade header?

[2017-08-10 18:54] Sergio-Slobodrian commented on #1427
Sure… I’ll do that right now.

From: Matt Klein [mailto:notifications@github.com]
Sent: Thursday, August 10, 2017 2:46 PM
To: lyft/envoy
Cc: Slobodrian, Sergio; Mention
Subject: Re: [lyft/envoy] grpc_json_transcoder broken in :latest docker container (#1427)

@Sergio-Slobodrian<https://github.com/sergio-slobodrian> can you put them into the issue or supply gist links?

—
You are receiving this bec

[2017-08-10 18:55] mattklein123 commented on #1434
No it pre-calculates now in all cases.

[2017-08-10 18:57] lizan commented on #1434
I meant should we change that behavior to calculate only in WebSocket path?

[2017-08-10 19:00] Sergio-Slobodrian commented on #1427
As requested:

[voltha-grpc-proxy.json.txt](https://github.com/lyft/envoy/files/1216022/voltha-grpc-proxy.json.txt)
[admin.clusters.txt](https://github.com/lyft/envoy/files/1216023/admin.clusters.txt)
[admin.stats.txt](https://github.com/lyft/envoy/files/1216024/admin.stats.txt)
[voltha_access1_log.log.txt](https://github.com/lyft/envoy/files/1216026/voltha_access1_log.log.txt)

Cheers...

Sergio

[2017-08-10 19:01] mattklein123 commented on #1434
We can't, you need to calculate the route to know if it's a WS route. And if we calculate it (which is expensive) we might as well cache it. I always knew this might be a problem. IMO the fix is to provide a filter callback to force a route cache refresh.

[2017-08-10 19:02] mattklein123 commented on #1434
We could potentially optimize this by only doing it if there is at least one WS route, but the problem still remains as an edge case. @rshriram we should probably do <- anyway. Basically make ConfigImpl know if there is at least 1 WS route and pivot on that.

[2017-08-10 19:09] mattklein123 commented on #1427
@Sergio-Slobodrian are you sure the stats dump matches? I don't see any 404s.

Either way with access log this does look similar to the other issue, but given the route tables, I'm very skeptical that the caching issue is really the issue. @lizan @rshriram @htuch

[2017-08-10 19:15] Sergio-Slobodrian commented on #1427
Yes,

The stats dump matches I ran all the requests on a brand new deployment using the latest docker container and this is what I’m getting. I ran a script to issue the curl commands and then I collected all the info. In the stats I see:

http.ingress_http1.no_route: 106

Which is consistent with the number of 404s I got.

Cheers…

Sergio

From: Matt Klein [mailto:notifications@github.com]
Sent:

[2017-08-10 19:19] Sergio-Slobodrian commented on #1427
Would it help if I re-ran this on a working version and provided the access log and stats files?

[2017-08-10 19:20] lizan commented on #1434
Here is my initial thought:
Looked at the `if` block:
https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_impl.cc#L501

Other than the last [`else`](https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_impl.cc#L517), routes can be calculated after checking `websocket_requested`, and we can put that part in `else` into router, since filters might also chan

[2017-08-10 19:44] lizan commented on #1434
Also the current impl will allow HTTP/2 traffic to WS route, is that expected behavior? @rshriram

[2017-08-10 20:00] rshriram commented on #1434
I don't think so.. https://github.com/lyft/envoy/blob/master/source/common/http/conn_manager_impl.cc#L496 filters it for HTTP1 only. If you mean can a route table support HTTP/2 and websockets (for different routes), then yes. But that is normal behavior right?

[2017-08-10 20:06] mattklein123 commented on #1427
Nevermind I see it. Sorry.

How easy is it for you to run different containers? Can you potentially bisect when the problem started? I'm mostly curious if it works right before https://github.com/lyft/envoy/commit/8c42f16163c7b36df75f503d669d7171d0961571 but fails with that commit.

There is definitely an issue here per linked issue, but it's not clear to me that it would effect your configuration

[2017-08-10 20:09] Sergio-Slobodrian commented on #1427
I've set myself up to make is easy to swap out the container... it's a simple change to a Dockerfile, rebuild, and and re-deploy. I'll go pull the commit before 8c42f16163c7b36df75f503d669d7171d0961571 and try it out.

[2017-08-10 20:10] mattklein123 commented on #1427
Thank you @Sergio-Slobodrian !

[2017-08-10 20:14] lizan commented on #1434
Right, my question was HTTP2 downstream normal traffic to a route with
websocket.

On Thu, Aug 10, 2017 at 1:00 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-08-10 20:17] lizan commented on #1434
I will make a PR soon to fix this along with the integration test to detect
this.

On Thu, Aug 10, 2017 at 1:14 PM Lizan Zhou <lizan.j@gmail.com> wrote:

[2017-08-10 20:22] rshriram commented on #1434
Ah yes.. that would fail.

[2017-08-10 20:26] Sergio-Slobodrian commented on #1427
I just tried it at commit 29361deae91575a1d46c7a21e913f19e75622ebe which is the one immediately preceeding 8c42f16163c7b36df75f503d669d7171d0961571 and it works fine.

[2017-08-10 20:59] Sergio-Slobodrian commented on #1427
I just tried at commit 8c42f16163c7b36df75f503d669d7171d0961571 and that's exactly where it breaks.

[2017-08-10 21:00] mattklein123 commented on #1427
Thanks you @Sergio-Slobodrian ! We are on it.

[2017-08-10 21:29] #1419 closed

[2017-08-10 21:35] mattklein123 commented on #1406
This is very likely https://github.com/lyft/envoy/issues/1434. Closing this for now. Please watch that issue for fix. We can reopen if the issue is not the same. Thanks for reporting.

[2017-08-10 21:35] #1406 closed

[2017-08-10 21:35] mattklein123 commented on #1427
This is https://github.com/lyft/envoy/issues/1434. Closing this for now. Please watch that issue for fix. Thank for reporting and helping to debug!

[2017-08-10 21:35] #1427 closed

[2017-08-10 21:46] mattklein123 commented on #128
@zuercher AFAWK this is done right? Can we tell people to start testing?

[2017-08-10 22:07] zuercher commented on #128
@mattklein123 Sure. I'm working on a CI build for now. That'll uncover some things (like missing tools, of which I'm keeping a list to update the README).

[2017-08-10 22:09] mattklein123 commented on #128
OK I will blast out to try to get some people testing. This is awesome!!

[2017-08-10 22:34] lizan commented on #128
@zuercher I still see the same compile errors (on commit 5e35e19273219d4584ec216ce80c64fe368be371)

Errors: `bazel build -c dbg //test/...`
[code]

bazel version:
[code]

Xcode version:
[code]

[2017-08-10 23:18] mattklein123 opened #1443 "Router watermark crash"
[code]

[2017-08-10 23:48] shalako opened #1445 "How many clusters has envoy been tested to support?"
Our target for an edge southbound router is 200,000 backend clusters. Has it been tested at this scale?

Is CPU and as a result, throughput/latency, impacted as a result of processing frequent changes to this many clusters?

Envoy emits many wonderful statistics per cluster. Are these statistics batched in any way, or are counters emitted per request?

[2017-08-11 00:19] zuercher opened #1446 "OSX: setting TCP_NODELAY sometimes produces an error"
Invoking `setsockopt(,IPPROTO_TCP, TCP_NODELAY,,)` on OSX while the socket is still connecting sometimes results in an error with `errno` set to `EINVAL`. The man page indicate this is because "the socket has been shut down," but it seems to occur during the connection phase as well.

See discussion in #1381. In tests, I've privately modified the code to query the value of TCP_NODELAY after the co

[2017-08-11 00:21] mattklein123 opened #1447 "Upstream connection watermark crash"
[code]

[2017-08-11 01:36] htuch commented on #1415
I'll take this as a weekend project. I'll try and get a two-for and support capturing traces for debugging when doing non-perf work with the same wrapper.

[2017-08-11 05:02] adriancole commented on #1364
The problem and behavior description of what should happen sounds legit to me

[2017-08-11 14:37] mattwoodyard opened #1451 "Add CONNECT support"
A follow up to #1214. Add support for CONNECT to envoy. There are 2 use cases for CONNECT that I'd like to add. Envoy receiving a CONNECT request, connecting to an upstream, issuing a 200 and then downgrading to L4 (similar to websocket support). The second is envoy using CONNECT when initiating an upstream L4 connection (the moral equivalent of envoy using http_proxy for some https upstreams). I

[2017-08-11 15:19] mattklein123 commented on #1445
These questions might be better for envoy-users@, but will try to answer here:

No, almost definitely not.

Yes. In general, the more clusters you have the more memory you will need to hold the data. The number of clusters itself is not really relevant, all of the processing should generally be O(1) for lookup. However, depending on what type of service discovery you are using, all of the update p

[2017-08-11 15:29] htuch opened #1452 "Add stronger hash or comparison to xDS APIs"
Some xDS APIs (e.g. LDS, RDS and EDS) ignore updates that hash to the value of the existing config. This is to avoid churn and overhead when there is no actual update. However, we use `std::hash` today for this and no further checks, which is probably not strong enough. We should either keep the original value of the config proto around for direct comparison or use a stronger hash that will guaran

[2017-08-11 15:39] mattklein123 commented on #1451
Both sound reasonable to me. For the upstream case, I assume we just need to support HTTP/1? I think this could be folded into the http1_codec_options which should be available to upstream clusters in v1 and v2 APIs.

[2017-08-11 15:39] mattklein123 commented on #1451
Please share as much of the code as possible, but yes, I think the flow will be very similar.

[2017-08-11 15:40] shalako commented on #1445
Thank you for the reply. I will look for the users list.

Is there a Slack channel?

[2017-08-11 15:42] mattklein123 commented on #1445
The communication options are listed on the project readme.

[2017-08-11 15:43] dnoe commented on #1445
At the moment we congregate in the Gitter chat at
https://gitter.im/lyft/envoy

Slack channel will replace this Real Soon Now.

On Fri, Aug 11, 2017 at 11:40 AM, Shannon Coen <notifications@github.com>
wrote:

[2017-08-11 16:00] mattklein123 opened #1453 "/listeners admin endpoint"
Currently we have a /listeners endpoint, but it's just a quick hack to let us run integration tests with zero bound ports. We need to add a full /listeners endpoint that dumps full config of all listeners like we are doing with /routes. Either we can somehow move the test lookups to use this new endpoint, or we can move /listeners that exists today to something like /listeners_for_testing or whate

[2017-08-11 17:01] mattklein123 commented on #1443
Another dump with different stack:

[code]

I think this is basically the same issue. Downstream flow control after upstream stream is gone. I think the fix you are working on now which removes callbacks will fix this also.

[2017-08-11 22:13] mattklein123 commented on #1290
I think the best thing to do here is just to have the docs publish script iterate through a set of tags and just checkout a branch and build the sphinx build the tag into a subdirectory. So we could for example put the current docs into /latest, then have /1.3.0, /1.2.0, etc. I think it won't be that hard to do this and will find someone to work on this next week.

[2017-08-11 22:29] #1434 closed

[2017-08-11 22:30] ccaraman commented on #1432
# Proposed PR Template:
#### Description
What does this PR do? If fixing a bug, please describe what the original issue is and how the change resolves it. If applicable, refer to the tracking issue.

#### Risk level
Low/Medium/High - explain

#### Testing Validation
- [ ] Unit Tests
- [ ] Integration Tests
- [ ] Extra - Please explain: Stats, Smoke test, ...

# Proposed Issue Template:
#### Descri

[2017-08-13 16:34] htuch commented on #1308
In addition to the above validations, we should check that enums are within range, see https://developers.google.com/protocol-buffers/docs/reference/cpp-generated#enum.

[2017-08-13 18:25] ikonst commented on #1413
I'd love to see dev-time introspection for client engineers on par with what [ngrok](https://ngrok.com/) used to offer. We currently use Charles for that, but it'll be nice if it was on the server end.

[2017-08-13 18:26] theatrus commented on #1413
If dumping can be easily segregated by flows (HTTP2 or TCP), that would be a huge win. This doesn't have to exist inside Envoy's dump logic its self, but tooling around it can make it significantly more usable.

I regularly use https://github.com/simsong/tcpflow in some tricky situations, for an example of a de-multiplexer.

Also dumping internal telemetry along with the data (i.e. stats recorded,

[2017-08-13 23:15] rodaine commented on #1308
Totally agree. Adding a rule for `defined_only`

[2017-08-14 16:42] zuercher commented on #128
I've updated the readme to indicate that XCode 8.3.3 is required.

[2017-08-14 16:48] YanceySlide commented on #1413
This would be a great feature.  While we don't have specific tooling today, it would be useful to have this tap capability in place to selectively route to security monitoring tools.  We wouldn't want full contents, but being able to select specific headers would give us great visibility.

[2017-08-14 17:07] timperrett commented on #128
Managed to compile a static binary using the instructions here: https://github.com/lyft/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers

Running `bazel build -c dbg //test/...`  took 30 minutes to run, but it does indeed work.

Great stuff folks!

[2017-08-14 18:28] mattklein123 commented on #1432
A few comments:

For the PR template, testing validation section, I would make it clear that we don't expect all testing types in all PRs. I would make it more clear that people should think about different testing types depending on PR risk and to discuss why they did what they did.

For the issue template, can we be more specific, and split into issue requests and bug reports? For issue requests

[2017-08-14 19:33] mattklein123 commented on #128
Nice going to close this as complete since I think several people have got it working. We can track CI in a different PR/Issue.

[2017-08-14 20:45] ryancox commented on #1413
Very clear and unsurprising handling of back-pressure handling is important for features like this. If mirroring of traffic is not possible or violates data-plane QoS, it should be very obvious that Envoy has fallen back to sampling or dropping packets on the floor.

[2017-08-14 21:57] mrice32 opened #1464 "Per-request timing information"
We are interested in logging granular HTTP timing info on a per-request basis (non-aggregated) to a custom log destination along with other request-specific metadata.  We are currently planning on measuring this through a custom filter and logging on destruction.  However, it may be desirable to perform these measurements in a general way in the open source and make them available for consumption

[2017-08-14 23:12] mattklein123 commented on #1464
In general I think this would be useful for general open source. Also, depending on what precise definitions you want for these timings, it's not going to be possible to do in a filter. Specifically, filters are not always aware of lack of window updates and/or TCP level pauses that cause buffering.

For the three timings that you have above, can you spell out a bit more how you plan on timing the

[2017-08-14 23:12] mattklein123 commented on #1445
Closing this for now. Can reopen and/or use email if there are more questions.

[2017-08-14 23:12] #1445 closed

[2017-08-14 23:55] mattklein123 commented on #1432
@htuch @dnoe @alyssawilk any comments on ^ ?

[2017-08-15 02:15] htuch commented on #1432
Thanks for adding the templates @ccaraman. I like the idea of an issue template. Here's some ideas of things we could ask for:

* `envoy-static --version`
* Execution environment (e.g. OS, distribution, etc.)
* https://github.com/lyft/envoy/pull/1456 tarball (or logs, stats and other admin endpoints, in addition to the config). TBH, the most useful stuff I've seen so far when chasing bugs on GH is

[2017-08-15 02:18] htuch commented on #1432
Also, on risk level, I think it would be good to explain what this means in more detail. Is this basically "risk of crashing/dropping/misdirecting production traffic"? Also, examples of what is expected for each level would be good. My naive guess would be `low` is most small changes or a new optional filter, `medium` is localized with heavy testing and `high` is really complicated things (e.g. fl

[2017-08-15 02:41] marcosrmendezthd opened #1468 "newbie: help with LDS (v1)"
Hi,

First of all, thanks for the great work! I'm trying to dynamically define tcp listeners to which I'm assigning ports for backend services. So I'm looking at getting CDS and LDS working. New to envoy, so if I'm on the wrong path let me know. So the clusters define the backends, the listeners define the front end port.

I've been able to get CDS working with the following configuration and an e

[2017-08-15 02:56] mattklein123 commented on #1468
Sorry! Somehow I managed to not document the top level "lds" object in the documentation. I will fix this tomorrow morning:
https://github.com/lyft/envoy/blob/master/source/common/json/config_schemas.cc#L1173
https://lyft.github.io/envoy/docs/configuration/listeners/lds.html

[2017-08-15 03:02] marcosrmendezthd commented on #1468
we have lift off! thank you!

added the following to the top-level configuration

[code]

[2017-08-15 14:01] htuch commented on #1280
This also includes adding an alternative to the `use_original_dst` mechanism that is used in v1. Instead, a filter chain match will be able to take into consideration the original destination port.

[2017-08-15 14:41] enderv opened #1469 "Unable to remove prefix using prefix_rewrite"
It currently does not appear possible to remove the prefix using the prefix_rewrite. I would like to be able to use Enovy as a front proxy for some existing services that are all at the base url but when I put

`"prefix_rewrite": ""`

Into the config no rewrite happens and the call is proxied on with the original path.

[2017-08-15 14:54] htuch commented on #1469
Can you attach your config @enderv?

[2017-08-15 15:06] enderv commented on #1469
[code]

Heres the relevant section, sorry had to trim out some things.  I can verify it is passing through the requests unaltered, such that if I to the proxy do `/tool/health` the same request is with `/tool/health` is logged on the backend (and in this case 404s).

Poking around pretty sure it is due to this check in config_impl.cc

[code]

[2017-08-15 15:17] htuch commented on #1469
Don't you want to rewrite to `/` if you want to drop the `/tool`, rather than empty?

[2017-08-15 15:26] enderv commented on #1469
Sorry forgot to mention tried that as well and with the same `/tool/health` example the request comes through as `//health``

[2017-08-15 15:31] goaway commented on #1413
Agree with @ikonst that this could be great for client debugging, and it would be nice to remove intermediary tools. One challenge with the clients is that there's a few hoops to jump through to point them at a specific instance. If we could enable this via headers (and handle collection via something like dump-to-network), that overhead might be avoided. There are some security concerns (e.g. DDO

[2017-08-15 15:32] RomanDzhabarov commented on #1469
How about, /tool/ and rewrite to /

On Tue, Aug 15, 2017 at 8:26 AM enderv <notifications@github.com> wrote:

--

--
Roman Dzhabarov
Software Engineer
[image: Lyft] <http://www.lyft.com/>

[2017-08-15 15:43] htuch commented on #1308
Note to self: make sure we apply `minItems` across the various places we're doing `[0]` on lists today with the assumption that we're taking the JSON -> proto translation path and have a guaranteed singleton list.

[2017-08-15 15:47] enderv commented on #1469
Thanks @RomanDzhabarov that does indeed work.

[2017-08-15 15:47] htuch commented on #1469
Closing out as this is resolved.

[2017-08-15 15:47] #1469 closed

[2017-08-15 17:18] mrice32 commented on #1464
Great!  Agreed. The filter implementation would've been a pretty inaccurate approach. Here are the definitions we would like to use (please forgive me if I butcher any terminology/concepts here) and my understanding of when the timestamps would be captured:
- request sent to upstream - stamped just after the last byte of the request is passed to the kernel's send TCP buffer.
- response received fr

[2017-08-15 17:29] #249 closed

[2017-08-15 21:51] ldemailly opened #1472 "http connections on tls ports : could use better logging/troubleshooting"
Context: I spent a lot of time trying to figure out a misconfiguration:
I had an http client making a connection to envoy which was expecting TLS connection

when running with debug logging, one does get the quite clear:
[2017-08-15 17:37:44.057][300][debug][connection] external/envoy/source/common/ssl/connection_impl.cc:151] [C21] SSL error: 268435612:SSL routines:OPENSSL_internal:HTTP_REQUEST
in

[2017-08-16 15:51] htuch opened #1477 "Add custom resolver support for v2 Address messages"
In the v2 API, we allow `Address` messages to specify a resolver plugin. This will transform logical addresses to concrete addresses. This supports address virtualization and address namespaces that are non-standard. This issue will track the implementation of the registration facility, invocation of the resolver at appropriate code sites and an example resolver for testing.

The resolver should b

[2017-08-16 17:04] htuch commented on #1338
Some notes:

* Need to ensure ordering is CDS/EDS then LDS/RDS to ensure dependencies are in place when updating routes.
* EDS and RDS should coalesce the requested resources and only issues on request for each CDS/RDS update.

[2017-08-16 18:01] #1443 closed

[2017-08-16 18:01] #1447 closed

[2017-08-17 03:53] #1468 closed

[2017-08-17 14:07] htuch commented on #528
This relates to #1411.

[2017-08-17 14:10] dnoe commented on #1452
The actively loaded version of each xDS API can also be exposed as a stat or at an admin URL as part of this.

[2017-08-17 15:47] htuch commented on #1452
@dnoe Yeah, this will make writing an integration tests that validate version easier as well.

[2017-08-17 15:50] htuch commented on #1452
@mattklein123 Do you want hash in addition to `version_info` or instead of?

[2017-08-17 15:51] htuch commented on #1452
Assigned to @dnoe for triage.

[2017-08-17 15:59] #1415 closed

[2017-08-17 16:00] mattklein123 commented on #1452
Version info is most important (like we already do with stat for git sha) but hash wouldn't hurt either.

[2017-08-17 16:50] mattklein123 commented on #1464
This is really complicated unfortunately. I will drop some comments in here prior to our meeting later today and then we can update this issue for public visibility of that discussion.

Loosely, we track this today via the `downstream_request_complete_time_` in the router. This forms the start time for the `x-envoy-upstream-time` header. Obviously, this is not accurate, as after the request is ful

[2017-08-17 16:57] alyssawilk commented on #1464
" Basically, it will involve tracking request data all the way down to the byte level, and firing callbacks when a particular byte location in the output byte stream actually gets written. This is technically possible, but it's not clear to me that the better fidelity is worth it in the comment case "

If it isn't done now, I believe it will be done in a few years.    These metrics are super usefu

[2017-08-17 17:06] mattklein123 commented on #1464
I agree it's interesting and am not opposed to it at all, was just explaining that it will be a huge amount of work. If we want to go down this route we should do a full design doc.

[2017-08-17 17:09] vbatts commented on #1387
lightstep/lightstep-tracer-cpp#51 has merged as well

[2017-08-17 18:00] alyssawilk commented on #1411
Conveniently, that issue is addressed by us needing per-cluster overrides anyway :-)

[2017-08-17 19:04] eburghar opened #1487 "alpine packaging error: -fomit-frame-pointer: not found"
Hi,

I managed to successfully build envoy for alpine (static), and wanted to make an APKBUILD file with the recipe and the patches to have a fully reproducible build. The build is successful when manually executing `bazel` (after letting abuild extract and patch), but it fails during a full `abuild` with error like that one

[code]

It's obviously an empty variable somewhere, but everything is ex

[2017-08-18 09:34] tommyulfsparre opened #1491 "Outlier detection: consecutive_5xx_ counter not reset after host ejection."
If a host in a cluster starts returning 5xx the host will only be ejected once.
If the host still returns 5xx after base_ejection_time_ms the host will not be ejected again until it has served a non 5xx response: https://github.com/lyft/envoy/blob/master/source/common/upstream/outlier_detection_impl.cc#L57

Should the consecutive_5xx_ counter be reset on ejection or set to (detector->config().cons

[2017-08-18 20:31] htuch commented on #1308
@rodaine have you given any thought to the treatment of `oneof` and backwards compatibility? https://developers.google.com/protocol-buffers/docs/proto3#backwards-compatibility-issues. Seems like it would be useful to add in support to check that we really do have exactly one of the currently active fields during validation, so that code can alter switch on the known values without having to worry

[2017-08-18 20:35] abloom-stripe opened #1496 "Missing support for client certificate revocation lists"
For security purposes we need the ability to revoke existing keys, preferably via CRL. There does not appear to be a field in the [`ssl_context` block](https://lyft.github.io/envoy/docs/configuration/listeners/ssl.html).

[2017-08-18 21:16] clguimanMSFT opened #1497 "Zipkin tracer shouldn't always create a new span with a 'cs' annotation"
I noticed that Envoy is always creating a new span (when there's no context in the headers) with a CLIENT_SEND annotation: https://github.com/lyft/envoy/blob/master/source/common/tracing/zipkin/tracer.cc#L19

I think this is not always correct. Zipkin (http://zipkin.io/pages/instrumenting.html) expects to get the cs annotation in the outgoing request span (the client sends a request), but by defau

[2017-08-18 22:43] mattklein123 commented on #1497
@adriancole @rshriram @fabolive comments?

[2017-08-18 22:45] mattklein123 commented on #1496
@abloom-stripe please sync up with @PiotrSikora before implementing (if you want to implement) just to make sure we don't duplicate effort. Thank you.

[2017-08-18 22:53] rshriram commented on #1497
Iirc this was intentional. Use of ingress and egress is not reliable in a istio deployment because a listener is shared for both inbound and outbound calls. E.g, envoy receives all inbound traffic into the pod on port 80 (trapped using iptables and using orig_dst listener) and also handles outbound traffic from pod (e.g. App sends req to another service on port 80).

@fabolive would be able to pro

[2017-08-18 23:54] mattklein123 commented on #1497
Can we just add appropriate options to make this work correctly? https://lyft.github.io/envoy/docs/configuration/http_conn_man/tracing.html already has ingress and egress? Seems like we could drive off of that option?

[2017-08-19 01:23] adriancole commented on #1497
I think @devinsba noticed this glitch, too. If there's a way to tell you are ingress, definitely that code should be annotated as a server. a child of that span would be the egress (client)

[2017-08-19 03:46] rodaine commented on #1308
Interesting, so if I'm understanding what you're suggesting, checking that at least one of the `oneof` fields is set?

[2017-08-20 12:09] htuch commented on #1384
Updated to reflect that we will not support ASCII PB, since this is not standardized. YAML will be the preferred humand-readable variant of the configuration.

[2017-08-21 02:32] akshayadatta opened #1502 "support for http/1.1 -> http2 client upgrade for outbound connections"
Envoy only supports http2 connections to the upstream hosts with prior knowledge. Any upgrade request from http1.1 to http2 from the client is not supported.

Can this be supported?

Thanks!

[2017-08-21 12:00] fabolive commented on #1497
@rshriram: Your recollection of the rationale behind this behavior is correct. Furthermore, at the time of this implementation, the "ingress" and "egress" tracing options were pretty much ad hoc and could not be safely relied on. @mattklein123 Yes, we could perhaps add another valid value to `operation_name` or some other option informing the code to fallback to the current behavior, and rely on "

[2017-08-21 14:47] mattklein123 commented on #1502
This can be supported. There are two ways that I can see this being implemented functionality-wise.

1. Build functionality into the existing HTTP/2 connection pool that assumes that upgrade is required, but will always succeed. This is relatively simple to implement.

2. Support a new connection pool which can operate in both HTTP/1 and HTTP/2 modes depending on upgrade. If this is required I wou

[2017-08-21 19:06] mattklein123 commented on #956
Quick update here. Assuming Envoy gets into CNCF, CNCF will manage the slack and signup for us so we can switch then.

[2017-08-22 03:25] codesuki commented on #300
@mattklein123 I want to implement this filter according to the specs above.
I need your guidance for adding the config to the `virtual_host` and `route` section.
Until recently it seemed to be easy. I added the needed code to `router/config_impl.h` but in `router/config_impl.cc` all the code was changed to use protobuf.
( https://github.com/lyft/envoy/issues/1430 )
Do I have to change the protobuf

[2017-08-22 13:58] #1491 closed

[2017-08-22 14:19] mattklein123 commented on #300
@codesuki I think you already got the info in Gitter, but yes, you will need to do a PR in envoy-api first and then consume that PR. (You basically need to do v1/v2 changes in parallel).

[2017-08-22 14:47] mattklein123 commented on #1432
@ccaraman can we actually drop the templates into a public gdoc? I think it will be easier to iterate/comment.

[2017-08-22 15:46] mrice32 commented on #1464
Meeting resolution:
- It is of general interest to add more granular timing info to RequestInfo for consumption by filters and access logs.  We will use Matt's suggested sources to populate the timestamps mentioned above.
- More accurate timing information is a somewhat orthogonal problem to the above.  While there does seem to be long-term interest in getting more accurate timestamps, this doesn'

[2017-08-22 19:15] ldemailly opened #1514 "-user (User) option/config to downgrade privileges after binding to ports"
Most daemon support starting as root and downgrading to a specific user/group after start

e.g.
https://httpd.apache.org/docs/2.4/mod/mod_unixd.html#user

Shouldn't envoy should do the same - or at least document the workarounds
(CAP_NET_BIND_SERVICE to bind to privileged ports and wrappers like setuidgid)

[2017-08-22 19:31] if6was9 opened #1515 "discovery service path customization"
We would like to be able to pass extra contextual information through the discovery APIs and/or be able to alter the URI paths.

For instance, the SDS API is set up to be invoked at: /v1/registration/{service}

As an example enhancement would be able to re-configure this to /foo/bar/v1/registration/{service}.

Related enhancement that may achieve some but not all of the same objective would be to

[2017-08-22 19:45] dnoe commented on #1514
Note that the Envoy process doesn't actually have the "daemon nature". It runs in the foreground and doesn't do the other things daemons usually do to dissociate themselves from the context they were started in. You can use a wrapper to achieve some of this behavior.

[2017-08-22 20:22] ldemailly commented on #1514
the wrapper can't do the binding of privileged ports though; it's also additional overhead to require a wrapper

[2017-08-22 20:53] alyssawilk opened #1518 "Integration test improvements"
It would be nice to have end-to-end tests which were slightly less deterministic, to make it easier to have many streams and large bidirectional data flows going independently of each other.    This results in less deterministic tests but allows fuzzing corner cases for things like watermark limits and unexpected disconnects and resets.

Possibly a separate issue but likely predicated on this, it'

[2017-08-22 22:33] PiotrSikora commented on #1518
Related: #186.

[2017-08-23 17:14] htuch commented on #975
@kmyerson

[2017-08-23 19:25] moderation commented on #975
Some notes after testing spdlog 0.14 and chatting with @htuch on Gitter:

- spdlog upgraded to fmt 4.0.0 in release 0.14 - https://github.com/gabime/spdlog/commit/fced34e3d8c31c9f9e69bbad79271f93c989457e
- fmt moved support for printf and sprintf to the printf.h header - https://github.com/fmtlib/fmt/blob/master/ChangeLog.rst
- the printf.h header isn't included in the spdlog repo. spdlog dropped

[2017-08-23 19:28] mattklein123 commented on #975
@moderation I believe @kmyerson is going to do this issue soon. @kmyerson can you also do the spdlog thirdparty dep upgrade at the same time since there is going to be some coordinate on making spdlog take the version of fmt that we want.

[2017-08-23 20:46] junr03 opened #1522 "Use envoy-api specified protos in admin endpoint output."
In order to create admin endpoint output that can be programatically processed and analyzed, envoy-api needs to define proto apis for admin endpoint output format.

[2017-08-23 20:51] kmyerson commented on #975
Yes, I'll be working on this issue. I can do the spdlog thirdparty dep upgrade at the same time

[2017-08-24 07:52] lizan opened #1526 "//test/tools/router_check/test:router_tool_test is flaky"
[code]

The error log:
[code]

[2017-08-24 07:52] lizan commented on #1526
On commit 1ac62ab

[2017-08-24 09:57] objectiser opened #1527 "tracing: RFC Allowing span operation name to be determined based on HTTP path"
This is a proposal to enable the operation name within the tracing Span to be set to a more appropriate (possibly business relevant) value depending on the path being invoked. For example, currently all REST endpoints on a particular service will be classified with the same operation, making subsequent processing of the span data more complex.

The first part of the proposal is to recommend changi

[2017-08-24 14:59] mattklein123 commented on #1526
@hennna you mind taking a look at this?

[2017-08-24 15:33] mattklein123 commented on #1527
This sounds reasonable to me. re: regex route matching, this is going to get added, but that's orthogonal to this change, so I wouldn't worry about it. We will need a change in envoy-api to support this. Deprecation is fine. We are about to ship 1.4.0 so this will be a 1.5.0 deprecation.

@rshriram @fabolive @RomanDzhabarov @goaway @adriancole @htuch @alyssawilk @dnoe for any comments. (I think th

[2017-08-24 15:44] hennna commented on #1526
Just synced to HEAD and I'm not seeing the flake on my machine. @lizan let me know if it is still a problem.

[2017-08-24 15:55] lizan commented on #1526
Yes current HEAD still has this. I'm now on b624440e36415caa1a758d691be57e22c3191a30

[2017-08-24 16:46] rshriram commented on #1527
Bit lost on the operation name thing (the second part of proposal): are you proposing to set span name as name of the route block matched? Or the final path in the route (after rewriting)?

Or are you proposing some form of conditional tracing, over and above conditions matched by the route blocks ?
If it's the conditional tracing, I am just worried about mismatch of conditions across the system r

[2017-08-24 17:06] objectiser commented on #1527
Based on my current understanding the route block would be higher level, so probably routing all related REST endpoints to a particular service.

The operation (span) name needs to be more fine grained - so uniquely identifying the individual REST endpoints supported by the service.

The idea would be to provide additional config in the tracing block that will help to classify the operation (span)

[2017-08-24 17:54] #811 closed

[2017-08-24 18:00] mattklein123 commented on #775
I'm closing this issue as fixed as TCP case is already handled via original DST cluster. We can open a new issue for the DNS based unknown destination support.

[2017-08-24 18:00] #775 closed

[2017-08-24 18:10] bplotnick opened #1533 "Service registration within envoy"
Since envoy is already doing the healthchecking, it would be nice if it could also register/deregister a local upstream with the SDS.

[2017-08-24 18:15] bplotnick opened #1534 "Service registration example and docs"
There's already an example SDS, but we could also have a simple example service registration app that healthchecks and registers/deregisters. At the very least, maybe add to the service discovery docs that make it more obvious how to do this sort of thing yourself.

This issue would be partially obviated by #1533

[2017-08-24 18:18] mattklein123 opened #1535 "1.4.0 deprecation cleanups"
- [ ] RpcChannelImpl (@mattklein123)
- [ ] Deal with filter type() (@mattklein123) (purge "type" from all config examples).

[2017-08-24 18:20] rshriram commented on #1527
Sorry I meant the route_config block or whatever happens yo be the
innermost one. If you just want to name a span based on the route's
endpoint, can't that be obtained from the URL or name of the selected route?
On Thu, Aug 24, 2017 at 1:06 PM Gary Brown <notifications@github.com> wrote:

--

~shriram

[2017-08-24 18:55] tehranian opened #1536 "Support for Statsd Tags/Dimensions"
Greetings! Here's a feature request to track. Other folks that use Datadog for monitoring would likely be interested in this as well.

The statsd metrics that Envoy produces are geared towards the generic statsd implementation. For folks that use Datadog for monitoring this is suboptimal, because Datadog's statsd implementation supports metric tags (ie. dimensions). See:
* https://docs.datadoghq.c

[2017-08-24 18:57] mattklein123 commented on #1536
Tags/dimensions is something we would like to support. Also for Prometheus/Wavefront/Influx, etc. Needs some thinking on where to do this and how to keep back compat for statsd.

[2017-08-24 18:59] dnoe commented on #1536
@mrice32 This might be relevant to your interests.

[2017-08-24 19:30] vijayendrabvs opened #1537 "Hot restart failing often"
Hi,

We're seeing different types of failures during hot restarts of envoy. I'm listing them below -

1. "Previous envoy process is still initializing" error. There is a state file being shared between epochs and into which a previous epoch writes a flag - a new epoch that comes up as a result of a hot restart (basically it's passed the --restart-epoch flag), during initialization, checks the flag

[2017-08-24 20:03] mattklein123 commented on #1537
1) A decision was made to block hot restart in certain cases, particularly when you are doing it very often and quickly which I'm guessing you are.
2) This is very suspicious, as the sockets should be passed to the new process. This might relate to timing issue if/when doing it too often.
3) Probably again related to speed/frequency.

We've tried to fix some of the most obvious issues around hot r

[2017-08-24 20:06] tehranian commented on #1536
Didn't know that Prometheus/Wavefront/Influx supported tags as well. Changed the title of this issue to be more generic.

Thanks folks!

[2017-08-24 20:18] vijayendrabvs commented on #1537
@mattklein123 Thanks for the quick response! I'm not restarting often or quickly, there's a 10 second sleep between hot restarts (you can refer to the envoy_restart_debug.sh script, it's really just 5 lines of envoy restart commands), there's no traffic flowing through envoy either, and one of the configs (between the two) doesn't even have a listener defined. So seeing possible race conditions or

[2017-08-24 20:21] mrice32 commented on #1464
Closing because this additional info has been added to RequestInfo.

[2017-08-24 20:21] #1464 closed

[2017-08-24 20:33] mattklein123 commented on #1537
I'm sorry I don't know off the top of my head. Someone will need to dig in and debug a bit. FWIW we see zero reliability issues w/ hot restart at Lyft and use it on thousands of hosts.

[2017-08-24 20:33] mrice32 commented on #1536
+1 We will definitely need this feature for our internal monitoring as well.

[2017-08-24 20:35] mattklein123 commented on #1536
This one will need some design thought. When someone firmly signs up to work on it we can figure out what to do here. @mrice32 if that's you, let's chat at some point.

[2017-08-24 20:45] mrice32 commented on #1536
Yes, that will be me.

[2017-08-24 20:50] mattklein123 commented on #1536
OK ping me offline when you are ready to work on this and we can chat and hopefully come back to this thread with a design proposal. Anyone else feel free to weigh in here with thoughts.

[2017-08-24 21:26] lizan commented on #1526
This is reproducible in build container, not with clang, only with gcc...

checkout or cherry pick https://github.com/lizan/envoy/commit/90d050713be7dc32eb04d1453b35a3fd17c89a5f

then `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.1526'`

[2017-08-24 23:26] vijayendrabvs commented on #1537
Thanks @mattklein123 - it helps to know that Lyft sees zero reliability issues with hot restarts on ~thousands of hosts. It's just a tad worrisome to see these issues in our environment without having much visibility into what could be causing them. It would be great if someone else could chip in with their observations/inputs to help us debug/collect more info to help zero in on the cause of thes

[2017-08-25 00:57] PiotrSikora commented on #1526
FWIW, I can replicate this inside build container, but not outside of it (with gcc 6.3.0).

[2017-08-25 03:10] vijayendrabvs commented on #1537
@mattklein123 How is hot restart done in lyft? We are using the istio agent.go wrapper, but are there any other ways this is done? What is the recommended way? If there is one I can try using that to see if we see any issues with it. Thanks!

[2017-08-25 04:08] mattklein123 commented on #1537
You are restarting sooner than the parent shutdown interval (see https://lyft.github.io/envoy/docs/operations/cli.html#cmdoption-parent-shutdown-time-s). You might try setting that to 5s or something and see if it still breaks. It probably won't. Beyond that there is some bug and/or race condition. I will debug this eventually but I cannot promise when. If someone else wants to step up sooner plea

[2017-08-25 04:41] hennna commented on #1526
Seems the tests are exiting early in the failed cases. Will look more early next week.

[2017-08-25 05:41] ldemailly opened #1549 "bazel build should not need external go install"
it should use the bazel fetched go

details on https://github.com/istio/proxy/issues/424#issuecomment-324818763

[2017-08-25 07:55] objectiser commented on #1527
The URL path can't be used unfortunately due to path parameters - the operation/span name needs to be a constant value when referring to a particular REST endpoint.

In the examples I have seen, I didn't see a name on the innermost route block. Another problem with this approach is that routing is not done based on HTTP method, where as `GET /order` and `POST /order` are different business operati

[2017-08-25 12:33] adriancole commented on #1527
Fwiw zipkin traditionally defaults span name to http method, relegating the
rest to tags. That is a dumb choice, but smart also as impossible to get
wrong. Users opt in with the ability to name based on any part of the
request

[2017-08-25 20:19] terinjokes commented on #1446
Peeking into XNU, it looks like this is the relevant block:[[1]][xnu]

[xnu]: https://github.com/opensource-apple/xnu/blob/dc0628e187c3148723505cf1f1d35bb948d3195b/bsd/kern/uipc_socket.c#L4724-L4730

[code]

I'm running into a similar issue using Envoy on illumos, which has a similar block:[[2]][illumos] ([OS-6312][smartos])

[illumos]: https://github.com/illumos/illumos-gate/blob/f7877f5d39900cfd

[2017-08-25 22:28] jmillikin-stripe opened #1553 "Please support routing HTTP requests by method (GET, POST, etc)"
This is useful when using Envoy as an authenticating proxy -- we can apply less restrictive rules to HEAD and GET requests vs other, possibly mutating methods.

[2017-08-25 22:31] mattklein123 commented on #1553
This is already supported. Do a header match on the ":method" header: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/route.html#headers

(This is a pretty common question and we should probably spell it out in that section if you feel like doing a doc PR).

[2017-08-28 10:34] vadimeisenbergibm opened #1555 "Unable to perform TLS origination to public Web sites"
I tried to perform TLS origination to google.com, httbin.org, github.com. tumi.com and ibm.com. Only for google the communication was successful.

Here are two example configurations:
[configuration for httbin.org](https://gist.github.com/vadimeisenbergibm/44a622f913de94c73125af0c52429c99)
[configuration for github.com](https://gist.github.com/vadimeisenbergibm/2c739e67868ffe68bce15bde9bb6d27d)

U

[2017-08-28 14:58] mattklein123 commented on #1555
Per Gitter my quick guess would be you need to setup client side SNI. I would test with "openssl s_client".

[2017-08-28 17:02] mattklein123 commented on #1555
@PiotrSikora see Gitter. AFAICT if "sni" is set I think it should work. Not sure what's going on. Do you mind taking a quick look? (FYI I don't think we have any SNI tests in public repo since we don't have server side SNI support, hopefully we can fix that when you implement).

[2017-08-28 19:08] PiotrSikora commented on #1555
@vadimeisenbergibm it works for me just fine using [your configuration for httpbin.org](https://gist.github.com/vadimeisenbergibm/44a622f913de94c73125af0c52429c99/aeff260717e51f4dee6cac7a843b7dd54466eaa6):

[code]

which version / commit of Envoy are you using?

[2017-08-28 19:52] vadimeisenbergibm commented on #1555
@PiotrSikora I use lyft/envoy:latest docker image

[2017-08-28 20:15] PiotrSikora commented on #1555
@vadimeisenbergibm it also works fine for me from within the `lyft/envoy:latest` container:

[code]

Is there any intercepting proxy between you & public Internet?

Also, could you provide repeatable steps of what are you doing in the container, to make sure that the issues is not elsewhere (e.g. iptables)?

[2017-08-28 20:58] PiotrSikora commented on #1555
I think the issue might be the short connection timeout in your CDS config, i.e.:

    "connect_timeout_ms": 250,

Could you increase it to `2000` (i.e. 2 seconds) and see if the issue is still there?

[2017-08-28 21:51] mattklein123 commented on #1536
I just synced up with @mrice32 and after some brainstorming this is what I'm thinking about at a high level for this:

- We will always need to retain backcompat for stat backends that don't supporting tagging.
- Instead of having tagging/not-tagging be built throughout the code, it would be better if tagging is orthogonal to the main stats.
- We propose adding the ability to specify tag extractio

[2017-08-28 23:46] alyssawilk opened #1560 "Have watermark buffer inherit from OwnedImpl rather than wrap a generic buffer"
Trade flexibility we don't currently need for CPU improvements, per discussion on #1417

[2017-08-29 00:25] vijayendrabvs commented on #1537
@mattklein123 Thanks a lot for that input. Though the test harness I provided didn't quite hot reload envoy rapidly, it looks like the drain time and parent shutdown values are what were causing the initializing issue. I set these to 5 and 10 seconds respectively. The bigger issue was that in our k8s environment, we can scale backend services very rapidly in a short interval of time and that is ve

[2017-08-29 00:31] mattklein123 commented on #1537
Nope will leave open. I will investigate/fix the bug. Please leave your test container around so I can repro. Thank you.

[2017-08-29 00:54] vijayendrabvs commented on #1537
Sounds good, thanks!

[2017-08-29 07:22] vadimeisenbergibm commented on #1555
@PiotrSikora you are right - the issue was with the short connection timeout. I increased it to 2500, and both `httpbin.org` and `github.com` started to work. Thanks a lot!

@mattklein123 Additional problem was SNI for `httpbin.org`, as you correctly guessed. `github.com` does not require SNI.

Thanks a lot for your help. I have updated the configurations at the links of this issue.

[2017-08-29 07:22] #1555 closed

[2017-08-29 12:12] mhenniges commented on #1496
Hello all - Is this is issue is being worked on? Or just a proposal at the moment?

[2017-08-29 14:17] htuch commented on #508
@amb7 suggested we take a look at http://lcamtuf.coredump.cx/afl/.

[2017-08-29 14:44] mattklein123 commented on #1496
AFAIK no one is working on this. cc @PiotrSikora

[2017-08-29 15:37] dnoe commented on #508
Would this be something that runs during CI or is it too heavyweight?

[2017-08-29 15:46] htuch commented on #508
We could definitely do some light fuzzing in CI (time boxed fuzzing of X
mins), and then a heavier duty fuzz in nightly runs or elsewhere.

On Tue, Aug 29, 2017 at 11:37 AM Dan Noé <notifications@github.com> wrote:

[2017-08-29 16:06] mattklein123 commented on #508
Assuming we get accepted to CNCF we will have have more resources to apply to CI for things like fuzzing/perf/etc. We should still plan for what we ultimately want to do though.

[2017-08-29 18:52] objectiser commented on #1364
Could I suggest a slightly different fix - the `x-ot-span-context` is useful in cases where the application is responsible for propagating the context, as it is easier to just deal with a single header property.

However this causes problems if the application itself is instrumented, as the changes to the trace context are not propagated to the egress proxy.

If both the `x-ot-span-context` and B3

[2017-08-29 19:32] htuch commented on #508
@PiotrSikora is this still on your radar, or should we tag "help wanted"?

[2017-08-29 22:21] RomanDzhabarov commented on #530
https://github.com/lyft/envoy/pull/1519 PR introduced delays into mongo requests. Due to the limitation of mongo_proxy and tcp_proxy filters cannot do on a per operation basis faults.

The way it's going to work is:
Once an active delay is in progress, all incoming data up until the timer event fires will be apart of the delay. So, we'll not observe the same delay for all consequent operations, bu

[2017-08-29 22:48] rshriram commented on #628
close this? Coz we have examples right?

[2017-08-29 22:51] mattklein123 commented on #628
Agreed. If LS folks want to add their own examples they can follow along with the others. cc @bhs.

[2017-08-29 22:51] #628 closed

[2017-08-29 23:54] orbatschow opened #1569 "Envoy Tools"
Hello,

is there any convenient way of using the [tools](https://lyft.github.io/envoy/docs/install/tools/tools.html)?

At the moment it seems, that there aren't any tools packaged together with the Docker container, which is very sad. If I'm not missing something it's extremely complicated to do some route configuration checks at the moment.

Maybe delivering all binaries of the test tools togethe

[2017-08-29 23:58] mattklein123 commented on #1569
Yes we can compile/put the tools into the docker image.

[2017-08-30 01:32] lizan commented on #1549
Not sure this is the right solution, the Envoy CI with prebuilt BoringSSL doesn't require Go to build. Having a bazel fetched go for dev local builds sounds overkill, use bazel native BoringSSL for dev local only is another option. IMO it is fine with current state or any option. At least we need to state that golang is required for dev local builds in doc.

@htuch any thoughts?

[2017-08-30 03:59] mattklein123 commented on #1256
Closing this as I'm already doing this stuff and/or tracking other ways.

[2017-08-30 03:59] #1256 closed

[2017-08-30 05:26] rshriram commented on #1514
👎 personally. Too much code complication.

[2017-08-30 05:31] rshriram commented on #1432
how do you estimate risk level of a feature PT or bug fix PR?
may be have something like "feature w/ config, behavior change,bug fix, etc" ?

[2017-08-30 14:28] htuch commented on #1549
@lizan We're about to add a Go dependency to the Bazel build for Envoy. This will be for a protoc plugin that performs constraint checking. What's best practice for consuming the Go toolchain when your Bazel build depends on it?

[2017-08-30 14:33] htuch commented on #1535
RPC channel is also covered in #1102.

[2017-08-30 15:54] danielhochman opened #1571 "TLS: auto-complete certificate chains"
Add AIA capabilities to Envoy so we can resolve and verify incomplete certificate chains. It looks like BoringSSL has support already.

[2017-08-30 16:13] mattklein123 commented on #1571
cc @PiotrSikora

[2017-08-30 17:53] mattklein123 opened #1572 "Further work on x-envoy-immediate-health-check-fail"
Related to https://github.com/lyft/envoy/issues/1423 and https://github.com/lyft/envoy/pull/1570.

We should consider further enhancements to this feature:

- [ ] When using /healthcheck/fail admin endpoint, have some period of drain time before starting 100% drain/close.
- [ ] Add ability for header value to specify things like TTL for failure if used for load shedding. (Need to think about wheth

[2017-08-30 18:10] mattklein123 commented on #1514
FTR I am not a fan of building this functionality into Envoy either.

[2017-08-30 18:15] lizan commented on #1549
OK then it makes sense to have bazel fetched go and potentially consume from BoringSSL build, for normal go codes, just use https://github.com/bazelbuild/rules_go, but I'm not sure what BoringSSL actually needs. In istio we have a [script](https://github.com/istio/mixer/blob/master/bin/use_bazel_go.sh) to extract bazel fetched go to shell env, you may want to do similar things in the BoringSSL bui

[2017-08-30 18:17] mattklein123 opened #1573 "Add x-envoy-overloaded response header"
In the current code we potentially retry when:
a) We do local circuit breaking
b) When remote is circuit broken and we get 503 or some other error

We should add a header named something like x-envoy-overloaded which both Envoy and applications can set to indicate that an overload situation is occurring. In this case we should disable retry and fail fast. (We might consider also having apps propag

[2017-08-30 19:01] ldemailly commented on #1514
it's been solved by all/most httpd servers since the first CERN one
https://www.w3.org/Daemon/Implementation/HTDaemon.c
but it's your call obviously.

but shouldn't we have a documented workaround on how users would bind on port 80 on say trusty and xenial ?

[2017-08-30 19:37] PiotrSikora commented on #1571
@danielhochman What exactly do you mean? Do you want to display this information in `/certs`? Do you want to prevent Envoy from starting with incomplete chain? Do you want Envoy to auto-complete chain?

[2017-08-30 19:58] #1423 closed

[2017-08-30 20:12] danielhochman commented on #1571
sorry, auto-complete chain from intermediate

[2017-08-30 20:34] PiotrSikora commented on #1571
I don't like this feature:
1) Envoy doesn't know which CAs are trusted by the peer, so it has to auto-complete as much as it can, i.e. it cannot stop building the chain at the intermediate CA, it needs to include everything all the way to the root CAs, which means at least extra 1-2KB of certificate data in each full TLS handshake.
2) It would require configuration of "CAs to be used for auto-comp

[2017-08-30 21:11] mattklein123 commented on #1571
@PiotrSikora I already renamed it. :) (Also, I added a new "TLS" label for your implementation pleasure).

[2017-08-30 21:13] #1526 closed

[2017-08-30 22:02] PiotrSikora commented on #1571
@mattklein123 it stills shows "TLS: add authority information access capability".

[2017-08-30 22:04] mattklein123 commented on #1571
Oh sorry. Fixed.

[2017-08-30 22:56] mattklein123 opened #1577 "Fix ownership issues in RouteEntryImplBase"
Just realized that RouteEntryImplBase still refers by reference to VirtualHostImpl, and VirtualHostImpl by reference to ConfigImpl. This is not safe w/ RDS. Need to fix this.

[2017-08-31 17:48] mattklein123 commented on #1577
Nevermind the current code is safe. I forget how I implemented this. I will add more comments so it's more obvious to ... me. :)

[2017-08-31 21:18] #1577 closed

[2017-09-01 13:25] jwfang opened #1585 "stats by URL path"
currently there are HTTP connection manager level stats but no URL path level stats AFAIK.
it would be nice to have by path stats out of the box

[2017-09-01 17:59] mattklein123 commented on #1585
The is no reasonable way to have generic path stats, since Envoy doesn't know what a path is exactly with prefix routing.

Currently, we have the virtual cluster feature: https://lyft.github.io/envoy/docs/configuration/http_conn_man/route_config/vcluster.html

This might be enough. Another thing I would be open to is having dynamic stats on a per route basis, which the user opts in to.

[2017-09-03 18:04] mattklein123 opened #1589 "fail build in more obvious way if missing deps"
https://groups.google.com/forum/#!topic/envoy-users/MPLgCsj0zrQ

[2017-09-03 20:34] rshriram commented on #1537
Sorry for the late response. What kind of L7 rules are these ? Have you by anychance tried the istio pilot in your k8s setup? We faced some of these hot restarts issues ourselves and realized that (as matt said) hot restarts was not meant to operate at high frequency (restarting every 5-10s). That's a fair assumption in many aspects.

We have cut down a lot of hot restarts in latest version of pil

[2017-09-03 20:47] rshriram commented on #1309
Just FYI, the google doc gen tool is also pretty buggy. Till date, in istio, we have been manually cleaning up the docs after @ZackButcher (aka mechanical Zach) generates the docs using the internal tool. Some very annoying issues include things like eating up underscores in definitions, not respecting the ordering of content in a proto file.

[2017-09-03 20:53] rshriram commented on #1296
Would it make sense to hash on the 5-tuple (src ip port, dst ip, port and proto - http, http2, etc)? It becomes a bit more generic doesn't it ?

[2017-09-03 20:59] rshriram commented on #1280
One thought and not sure if it fits here: would it make sense to implement support for orig_dst clusters in use_original_dst listeners, such that if a connection does not match any listener, it can be passed through to intended destination as is ?

[2017-09-03 21:04] rshriram commented on #1279
Would also be nice to have fallback support , i.e. if no endpoints with the given labels are found, load balance among all endpoints. And the ability to derive the metadata from request headers.

[2017-09-03 21:16] rshriram commented on #1028
Confused. Don't we already have a udp support for statsd? We use that in istio

[2017-09-04 04:34] jwfang commented on #1585
thanks for help.

we're proxying gRPC via envoy, and would like to have some generic per method stats from envoy.

i looked at *virtual cluster* and it seems have to be configured for every method, and the suggested *dynamic stats on a per route* may also need to do this.

i am a bit confused by the

not familiar with Envoy internals, but i thought the HTTP URL path (only base path without query s

[2017-09-04 05:04] syukur91 opened #1590 "envoy grpc_transcoder cannot call POST method"
So, I created the proto file which can send request with POST method using google.api.http option like below

[code]
and I created descriptor file for this proto as well, and envoy can load everything just fine. But when I call it it has no response and the log said 404. But route is fine I think

[code]
and here's envoy access log
[code]
Is it any additional configuration to allow POST method? Be

[2017-09-04 16:11] htuch commented on #1309
@rshriram presumably once docgen is OSS we can fix it to resolve these problems. Thanks for the heads up that we have some work on this front. The current plan-of-record is to use Google docgen for proto once OSS, which hopefully happens in Q4.

[2017-09-04 16:49] htuch commented on #1589
Part of the problem is the Bazel build doesn't hard fail when the `repository_rule` executes `fail`, see https://github.com/bazelbuild/bazel/issues/3683.

[2017-09-04 16:52] htuch commented on #1589
New failure message in PR
![screen shot 2017-09-04 at 12 40 57 pm](https://user-images.githubusercontent.com/10914751/30034498-f04e2dea-916f-11e7-9ab4-000c37f62307.png)

[2017-09-04 17:33] mattklein123 commented on #1590
@lizan ^

[2017-09-04 17:43] mattklein123 commented on #1585
Regarding per path stats, the issue is basically that the stats can become unbounded so we can't do it by default (even if we strip the query string). I'm open to an optional feature here that is off by default if you want to do a design proposal and PR.

BTW, as a short term workaround, the HTTP/1.1 bridge filter will collect gRPC per method stats: https://github.com/lyft/envoy/blob/master/source

[2017-09-04 18:44] #1589 closed

[2017-09-04 19:02] rshriram commented on #1309
Q4? That's cool, though a bit late. Still, Looking forward to it! Tired of
constant manual fixes.
On Mon, Sep 4, 2017 at 12:11 PM htuch <notifications@github.com> wrote:

--

~shriram

[2017-09-04 19:18] lizan commented on #1590
@syukur91 the route config is the cause, you should always specify a gRPC prefix for routes, not HTTP binding.

Changing the prefix in envoy config to `/soapv004.Soapv004/CurrencyCall` should work.

[2017-09-04 21:23] mattklein123 commented on #1590
@lizan can we add some more specific docs/examples to https://lyft.github.io/envoy/docs/configuration/http_filters/grpc_json_transcoder_filter.html ?

[2017-09-05 01:02] syukur91 commented on #1590
@lizan so the http binding in google option is useless and can't be used anymore? I think the http binding in google option would be human readable. And I saw in this document https://grpc.io/blog/coreos that you can specify url for http binding

[2017-09-05 01:37] lizan commented on #1590
@syukur91 the http binding in google option does work, but the routing happens after the filter convert the path according to the http binding, so the prefix in your route config should be gRPC one, not before the conversion.

@mattklein123 sure.

[2017-09-05 04:05] syukur91 commented on #1590
@lizan It works when I set in my local, but when I try in my remote machine and using TLS and have specific domain in each route it doesn't works.

[2017-09-05 07:41] lizan commented on #1590
@syukur91 Can you elaborate your usecase on your remote machine, including a full config? If you want to share it to me privately, find me on gitter.

[2017-09-05 10:36] jwfang commented on #1585
thanks, you saved my day.

wonder if it's possible to add *Timer*  to the existing stats. if this doesn't involve too much Envoy internals, i may find some time to do it.

[2017-09-05 12:46] #1411 closed

[2017-09-05 16:36] mattklein123 commented on #1585
@jwfang it should be pretty easy to do timers also. See https://github.com/lyft/envoy/blob/master/source/common/http/codes.cc#L83 for how this might work.

[2017-09-05 16:58] fengli79 commented on #1585
gRPC-Web filter also do method level stats.
About http2 proxying for gRPC payload, I think envoy probably need to know more about the payload than just treat it as normal http2, as the status of gRPC is in the grpc-status header/trailer instead of the http2 status. A filter may help.

[2017-09-05 23:34] zeroum opened #1597 "Current lyft/envoy:latest Docker Hub image is based on Ubuntu 14.04. Breaks your own examples due to missing Python >=3.5 dependency."
Following the guide in https://lyft.github.io/envoy/docs/install/sandboxes/front_proxy.html

lyft/envoy:latest tag was b2114cd959c8e4231006c4b8b8150df7576833d2

$ pwd
envoy/examples/front-proxy
$ docker-compose up --build -d

...
Building service2
Step 1/8 : FROM lyft/envoy:latest
...
Get:1 http://security.ubuntu.com **trusty**-security InRelease [65.9 kB]
...
Step 3/8 : RUN pip install -q Flask==

[2017-09-06 00:10] ccaraman commented on #1432
@rshriram It is hard to write a guide on how to estimate the risk level. The PR owner should have an idea of how risky the change is or collaborate with someone more familiar to understand the potential impact and go over testing strategies.

[2017-09-06 00:14] ccaraman commented on #1432
@mattklein123 @htuch  [Here](https://docs.google.com/document/d/1oHIZOCT5ldBCxx_T9_RBZj2zBGNQ9sVjeszghqeGMEA/edit?usp=sharing) is the google doc with the template proposals. Please let me know if you can't access/comment on it.

[2017-09-06 16:29] mattklein123 commented on #568
Closing this as we already have the FAQ setup. People can add entries as needed.

[2017-09-06 16:29] #568 closed

[2017-09-06 17:21] htuch opened #1601 "Refactor common Subscription concerns to a base class"
Each individual Subscription is managing stats/logging/version tracking. This can be shared in a common base class, e.g. `SubscriptionBaseImpl`.

[2017-09-06 18:23] vijayendrabvs commented on #1537
@rshriram Thanks for the inputs. We're creating a simple path based L7 rule backed by a service in k8s, looks something like this -

[code]

About the hot restarts - unfortunately, I have an update over my last update regarding the staggering of hot restarts over 30 seconds and using a drain time of 5s and shutdown time of 10 seconds - we still see the previous epoch initializing issue causing the

[2017-09-06 19:51] htuch commented on #1432
Looks good, added some comments in the doc @ccaraman.

[2017-09-06 23:24] rshriram commented on #1537
Ah sorry for the misunderstanding about your use of istio. Do you have any of the xDS stuff implemented? If you are reloading for just L7 rules on http routes, then you are in the uncharted territory - given the frequency of update/aggressive drain times.

As a side note, to see if you are doing something wrong in your update propagation, try this minimal-istio-ingress tutorial from Kelsey. https:

[2017-09-07 00:16] cdelguercio opened #1603 "Can't connect to front proxy sandbox"
Following the guide in [https://lyft.github.io/envoy/docs/install/sandboxes/front_proxy.html](https://lyft.github.io/envoy/docs/install/sandboxes/front_proxy.html)

**After following all the steps** curl -v $(sudo docker-machine ip default):8000/service/1 **yields:**

*   Trying 192.168.99.100...
* connect to 192.168.99.100 port 8000 failed: Connection refused
* Failed to connect to 192.168.99.100

[2017-09-07 00:36] jmillikin-stripe opened #1604 "Allow `UpstreamTlsContext` without any certificates."
When using Envoy as a TLS sidecar, it's useful to have a network shape like:

[code]

This doesn't work with the v2 APIs, because `ClientContextConfigImpl` assumes its `common_tls_context` has at least one cert. This seems like a too-strict assumption, most HTTPS connections don't have client certs.

[2017-09-07 00:43] jmillikin-stripe opened #1605 "Allow listening on UNIX sockets"
Currently, creating a listener to a `unix://` (v1) or `pipe:` (v2) address will fail. The v1 codepath just crashes with a SIGSEGV, the v2 codepath fails with a somewhat opaque message about `""` not being a valid IP address.

There's some conflicting comments in `listener_manager_impl.cc` about whether this feature is intended to work, so I wanted to at least record somewhere that we want it:

[co

[2017-09-07 00:49] mattklein123 commented on #1604
I think this is a bug.

[2017-09-07 00:50] mattklein123 commented on #1605
This is not suppose to work currently. I don't think it would be very hard to get working though if you want to work on it. Likely only a few places need to be changed.

[2017-09-07 00:54] jmillikin-stripe commented on #1605
I have a super-hacky patch that just comments out the safety checks and it seems to work. Probably I'll have it PR-able some time next week.

[2017-09-07 00:55] jmillikin-stripe opened #1606 "Support generic outbound proxy"
When using Envoy as a general egress proxy, there doesn't seem to be a way to have `http_connection_manager` routes send to a cluster and have the `:authority` header be used to select the destination. I expected a cluster with `type: ORIGINAL_DST lb_policy: ORIGINAL_DST_LB` to do this, but it seems `original_dst` is actually something else (iptables level?).

`http_connection_manager` supports ro