[2018-03-05 22:42] PiotrSikora commented on #2715
@mattklein123 I agree that upstream that wants to close connection immediately should send `Connection: close`. However, whether the connection is closed immediately or an hour later, it shouldn't matter, and Envoy shouldn't queue requests on a connection that's already closed.

Furthermore, the case discussed here (i.e. connection immediately closed, which Envoy detects in the `read()` loop) is m

[2018-03-05 22:43] mattklein123 commented on #1204
This has been done. We will make the report available publicly soon.

[2018-03-05 22:43] #1204 closed

[2018-03-05 22:45] mattklein123 commented on #2075
Fixed

[2018-03-05 22:45] #2075 closed

[2018-03-05 22:47] mattklein123 commented on #2715
We are going in circles here. I agree. If Envoy knows the remote is closed, we should not reuse it. If that regressed somehow let's fix it. I'm just explaining that this will not fix all cases and a retry policy is typically needed here to get to 100% SR in all cases.

I think we are on the same page?

[2018-03-05 22:49] mattklein123 commented on #1453
@jsedgwick I'm going to go ahead and close this one. I think with our new `/dump_config` design this is no longer needed.

[2018-03-05 22:49] #1453 closed

[2018-03-05 22:50] mattklein123 commented on #1001
@ccaraman @brian-pane I'm going to go ahead and close this as fixed. Nice! Let's open fresh issues with specific enhancements/follow ups.

[2018-03-05 22:50] #1001 closed

[2018-03-05 22:51] ldemailly commented on #2715
almost, there is subtle difference though between: the upstream does fail to fulfil a request and we retry it vs envoy fails to realize the socket has been closed per spec and fixes it through a higher level retry. maybe practically we can swallow the error - but a POST for instance shouldn't be retried;  yet a POST in a dead socket is an envoy error and should be avoided instead of propagated bac

[2018-03-05 22:52] PiotrSikora commented on #1843
@mastersingh24 both SNI and ALPN are extracted from the `ClientHello` and available to filters and filter chain selector, but the code I have right now doesn't make decisions based on ALPN.

[2018-03-05 22:54] mattklein123 commented on #2715
If Envoy *knows* the socket is dead at the time we use it, it's an Envoy error. As I've already said many times, if this has regressed, we should fix it. What I'm explaining is that this is a timing issue and the race will be lost sometimes. This must be handled by higher level retries. We will not add retry capability to the connection pool. Retries are handles by the router. If we need a new ret

[2018-03-05 23:05] msample commented on #1204
Awesome, I look forward to reading the report. Thank you.

[2018-03-05 23:27] mrice32 commented on #2538
Here's the json:
[code]

and the YAML:

[code]

[2018-03-06 00:37] ggreenway opened #2731 "coverage build fails in centos image"
Coverage build fails in centos docker image due to "bc" not installed.

[2018-03-06 00:39] nmnellis opened #2733 "access opaque_config in lua filters"
*Title*: *Access opaque_config in lua filters*

*Description*:

[optional *Relevant Links*:]

[2018-03-06 04:35] jmillikin-stripe commented on #2697
https://github.com/envoyproxy/envoy/pull/2701 tweaks the UNIX socket creation to move the `unlink()` into the initial bind, so (1) it can take over from an exited Envoy and (2) it should smoothly pass an open socket to the new Envoy during hot restart.

[2018-03-06 04:55] #2731 closed

[2018-03-06 05:18] derekargueta commented on #2709
@htuch you can assign this to me - are we wanting a comprehensive design doc before starting?

[2018-03-06 05:20] derekargueta commented on #2709
comprehensive design doc wrt enumerating the currently supported variables vs nginx and other proxies. My main task in this issue is to get more flexible `START_TIME` formatting but happy to help in other regards as well.

[2018-03-06 06:39] mpuncel commented on #2655
I'm running into this same issue when trying to use EDS, the `Endpoint` message contains a `core.Address` which can have a `SocketAddress` which advertises in the doc comment
[code]

However we're seeing the "malformed IP address" error which suggests that no DNS resolution is being attempted

[2018-03-06 14:09] nmnellis commented on #2733
@dio comments from slack
I think this is an opportunity to add that to v2 (since I'm not aware we have v2 support for `opaque_config`). And I guess the opaque config should be explicitly "fetched" from the current route.

e.g. in here: https://github.com/envoyproxy/envoy/blob/master/source/common/http/filter/lua/lua_filter.h#L238

We should call the:

[code]

And populate that `opaque_config` to t

[2018-03-06 14:58] dio commented on #2733
I think after skimming the doc, we can use [metadata](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/base.proto.html#core-metadata) instead.

[2018-03-06 15:27] alyssawilk commented on #2715
Sorry, maybe I'm misunderstanding.  Matt, are you against the connection pool being registered for EPOILLERR/EPOLLIN for currently-unused connections?  I'd think if we get a FIN on an idle connection we'd want to close it and prefetch another.  Waiting until the connection is assigned to a client request seems like unnecessary delay to me as well.  Yes, it's totally possible that we'd get that FIN

[2018-03-06 16:00] JonathanO commented on #2715
@ldemailly

Unfortunately in that case you still have no idea whether the socket was closed after the remote had received and started processing your request (but before it sent a response), so you can't just blindly open a new connection and retry.

There's not much that can be done about it other than improving the detection of dead sockets before attempting to write a request to them (I've seen

[2018-03-06 16:32] mandarjog commented on #2733
If it is easily possible we should support both opaque config and metadata. Else full use of lua filters is immediately predicated on v2. Doing any serious experimentation needs access to the currently selected route and related info.

[2018-03-06 18:54] htuch commented on #2733
`opaque_config` is v1 only and deprecated. I would vote to make this a v2 only feature, v1 is going to turned down in coming months/releases, so we should avoid adding complexity and engineering work that has a limited life span.

[2018-03-06 18:55] htuch commented on #2733
Does someone want to own this work or should I mark this help wanted?

[2018-03-06 18:57] htuch commented on #2725
From earlier conversations with @mattklein123:
*  Basically for ketama just use the weights to adjust the replication factor for each host. For Maglev, during table population round robin use the weights to alter how often a host is used for selecting a slot.
* I haven’t thought about it that much but I think the power of 2 load balancer could be made to more correctly work with weights by biasing

[2018-03-06 19:01] htuch commented on #2722
@pitiwari I'm not sure how much we can assist without a full tree and exact invocation details, but this is then getting into territory where we would expect most developers to be able to support themselves. I would recommend running ASAN/TSAN and seeing if anything more descriptive shows up to help, see https://github.com/envoyproxy/envoy/tree/master/ci#building-and-running-tests-as-a-developer a

[2018-03-06 19:02] htuch commented on #2721
Sounds like an interesting feature. I think a design doc or more detailed inline proposal would be the next step here.

[2018-03-06 19:07] htuch commented on #2709
If you just want time format, let's go with your current proposal, seems reasonable. How do you plan on dealing with escaping considerations for `%`?

[2018-03-06 19:31] objectiser opened #2738 "B3 sampled header not used"
According to https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers.html#x-b3-sampled the `X-B3-Sampled` flag is used to determine whether spans are reported, and the value is consistently propagated to downstream services.

However currently it does not appear that this header is being used - and is set to always sample when [injecting the context in requests](https://git

[2018-03-06 19:36] objectiser commented on #2738
Ideally I would like to exclude the "/metrics" endpoint from being traced - not sure if there is any plan/requirement to support such a feature for other reasons?

[2018-03-06 20:31] moderation opened #2739 "dependency: gcovr 3.4"
*dependency*: Investigate updating to gcovr 3.4

*Description*: gcovr 3.4 was recently released ([release notes](https://github.com/gcovr/gcovr/releases/tag/3.4)). There are work arounds in the code for gcovr 3.3 bugs that are outlined at https://github.com/envoyproxy/envoy/blob/43df022ad90bdf62c1d254c3ad65653c8a2b823a/ci/do_ci.sh#L127-L135

Question is should we investigate 3.4 or stay on 3.3 unt

[2018-03-06 21:25] nt commented on #2500
I have an initial PR out: https://github.com/envoyproxy/envoy/pull/2740

[2018-03-06 21:38] ldemailly commented on #2715
you can safely retry HEAD/GET/PUT etc... and for POST you can request 100 continue first

the case where the socket has been closed (idle or otherwise) is more common/interesting than the case where the remote side crashed

also, yes, as @alyssawilk if you do get the eof event before you sent anything, the connection should be redone (the http1.1. socket shouldn't become readable before you send a

[2018-03-06 21:58] fenngwd opened #2741 "Dynamic HTTP Statistics Lost After Changing The Scrape Way"
Statsd were used to received stats info from envoy before, but when I changed the scrape way to scrape it by prometheus directly, I lost dynamic http statistics info such as upstream_rq_time in no any other config changed situation.

Did I forget to update any configuration?
Thanks!

[2018-03-06 22:44] ArkadyB commented on #865
Were you able to get something to work? Im trying to build grpc service mesh.

[2018-03-06 22:50] ArkadyB opened #2742 "gRPC routing based on Method, ServiceName. How does it work?"
Hi,

I cant seem to find any documentation (example) where two or more gRPC services running behind Envoy would actually have routing based on either gRPC definitons, service/method names or something more H2 like approach. Everythin is about routing H1 to H2. Is it possible to have Envoy doing routing for pure gRPC services?

[2018-03-06 22:53] mattklein123 commented on #2715
@alyssawilk no, I'm not against this. The code used to do this so I think there might have been some regression with the half close work. @lizan will fix. What I was explaining is that even if we do this there is no guarantee this will work even in the immediate close case. Depending on the interleavings on either the host Envoy is running on our depending on how the remote server is implemented,

[2018-03-06 22:58] mattklein123 commented on #2738
@objectiser no reason its not implemented. Feel free.

[2018-03-06 23:00] mattklein123 commented on #2741
Currently timers are not emitted in any of the pull stats endpoints (`/stats`). See https://github.com/envoyproxy/envoy/issues/1965.

[2018-03-06 23:01] mattklein123 commented on #2721
@srujann agree with @htuch that a design doc would be useful here. This isn't hard to implement but it's not trivial either. I would probably implement along the lines of the shadow writer in the router and create the ability to fire and forget the request to all of the healthy backends.

[2018-03-06 23:04] mattklein123 commented on #2733
The main issue here is going to be figure out the right mapping from metadata to Lua but I think this should be relatively easily doable using a Lua table.

[2018-03-06 23:11] mattklein123 commented on #2739
Realistically I'm not sure how soon coverage is really going to change. @moderation I would just do the upgrade if you feel like it. Thank you!

[2018-03-06 23:12] mattklein123 commented on #2742
Yes. gRPC is just HTTP. Each service is under a specific path. You can setup prefix routing to route to different service clusters.

[2018-03-07 01:33] PiotrSikora commented on #1031
@alyssawilk yes, HTTP/2 CONNECT + METADATA combo is superior, but it only works for traffic between proxies that support it. We'd use PROXY protocol on the last mile, when talking to remote 3rd-party TCP application servers (https://github.com/envoyproxy/envoy/issues/2659 might be a better alternative when talking with AFEs on localhost).

[2018-03-07 02:27] ArkadyB commented on #2742
@mattklein123 thank you for answer!

It does not seem to work for some reason. I have Service1 running behind Envoy with given configuration:

[code]

With docker compose i have launched two instances of this service.
[code]

Making callerservice to call service1 method aways calls the same instance in service1 docker container. Any idea why? What am i doing wrong?

[2018-03-07 02:31] ArkadyB commented on #2742
Command i use to run service and envoy:
`./service1 & /usr/local/bin/envoy -c /etc/envoy.yaml --service-cluster service1_grpc`

[2018-03-07 03:54] ArkadyB opened #2744 "gRPC load balancing"
I cant seem to make Envoy working with multiple gRPC services deployed. gRPC call always goes to the same instance. How does Envoy load balancer discovers there are other instances of same service were launched with docker-compose scale?

 Service1 configuration i use:
[code]

Now caller service has gRPC client init with:
`grpc.Dial("service1_grpc:30271", grpc.WithInsecure())`

Problem is, wheneve

[2018-03-07 07:35] DavadDi opened #2745 "mongo decoding error: invalid mongo op 2010"
**mongo decoding error: invalid mongo op 2010**

[2018-03-07 13:54:40.083][3963593][info][mongo] source/common/mongo/proxy.cc:243] mongo decoding error: invalid mongo op 2010

[MongoDB Wire Protocol](https://docs.mongodb.com/manual/reference/mongodb-wire-protocol/)

Should this command be supported ?

[code]

[2018-03-07 08:20] objectiser commented on #2182
May not have seen all of the discussions around this - but just wondering if there has been any consideration of what should happen if envoy proxy does use `/metrics` endpoint, but the proxied service also exposes its own prometheus metrics on the same endpoint?

Will envoy forward the request to the service still, but then add its own metrics to the response?

[2018-03-07 08:29] objectiser opened #2746 "Excluding metrics scrape endpoint from tracing"
Currently `HttpTracerUtility::isTracing` returns a decision regarding whether a particular invocation should be traced - which includes checking whether the request is a health check.

As mentioned in https://github.com/envoyproxy/envoy/issues/2738#issuecomment-370901239, wondering whether we should support configuring a metrics scrape endpoint for exclusion from tracing?

[2018-03-07 08:36] objectiser commented on #2738
Ok thanks. Thought it best to create a separate issue for the scrape endpoint exclusion - would appreciate your thoughts on that aswell.

[2018-03-07 10:30] JonathanO opened #2747 "Add retry policy for reset connections with idempotent requests"
*Description*:
If a connection is reset after a request has been sent then the request can often be safely retried if the method was one of GET/HEAD/PUT/DELETE/OPTIONS, or was a POST with no body and an "Expect: 100-continue" header.

It should be possible to configure a retry policy that will retry under those circumstances.

*Relevant Links*
As per the discussion in #2715

*Discussion*
Would it

[2018-03-07 13:28] dio commented on #2733
@mattklein123 Nice insight on Lua table indeed. What was in my mind: simple API just like `headers:get` but with filter and key `metadata:get("foo.bar.meta", "foo")` by adding `MetadataMapWrapper::luaGet`, calling `Config::Metadata::metadataValue()` inside it, but obviously that's not enough.

[2018-03-07 14:08] #2710 closed

[2018-03-07 17:28] ggreenway commented on #2182
@objectiser Only the admin endpoint exposes Envoy's stats on /metrics, and the admin endpoint never proxies, so it shouldn't be an issue.

[2018-03-07 17:32] htuch commented on #2428
@zuercher any thoughts on how we can resolve this? We had some active confusion in https://github.com/envoyproxy/envoy/pull/2688 which led to the author rolling back a change due to perceived introduction of OS X hangs.

[2018-03-07 17:38] karim-elngr opened #2748 "Broken links to envoy docs in Examples README.md"
*Description*:

The front proxy example links to: https://www.envoyproxy.io/docs/envoy/latest/install/sandboxes/front_proxy
After a bit of search I found the docs in the following link
https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/front_proxy
That problem occurs in the files I included in the relevant links section.
It could be that the docs links changed from /latest/install to /lat

[2018-03-07 17:42] danielhochman commented on #2745
In what context does this occur? As the Mongo docs suggest, this is a cluster internal command. It wouldn't be difficult to add support, but the use case and a repro would be helpful.

[2018-03-07 18:45] #2748 closed

[2018-03-07 18:46] danielhochman commented on #2748
Thanks for the report @karim-elngr. Should be fixed now.

[2018-03-07 22:35] jakerobb opened #2753 "Envoy errors opaquely when parsing GRPC response from discovery service"
I've written an Envoy XDS using the v2 GRPC API, and configured Envoy to call it. I've had it partially working in some variations, but there's something wrong with the data I'm sending, and Envoy isn't helping me figure out what it is. The XDS is written in Java and uses [java-control-plane](https://github.com/envoyproxy/java-control-plane) to provide GRPC services.

I find these lines from the l

[2018-03-07 23:12] ggreenway opened #2754 "Make one of the CI jobs define NVLOG"
The NVLOG compile-time option is never tested in CI. It would be useful if the "release" CI job defined NVLOG, so that compilation is tested both with and without this option defined.

[2018-03-07 23:14] #1605 closed

[2018-03-07 23:14] #2697 closed

[2018-03-07 23:24] htuch commented on #2742
Is this related to potential misconfiguration in https://github.com/envoyproxy/envoy/issues/2744?

[2018-03-07 23:25] htuch commented on #2739
Bazel team are working on fixing coverage to support lcov atm, so there is reason to suspect we might get lcov in the medium term.

[2018-03-07 23:26] zuercher commented on #2428
Every time I try to add extra logging to help me understand the problem, it disappears. I can try throwing dtrace at it. Maybe that will turn up something.

[2018-03-07 23:28] mattklein123 commented on #2746
Is this for Envoy? Or the backend service?

[2018-03-07 23:29] htuch commented on #2747
@JonathanO assigning to you for now to drive this conversation. Seems a reasonable feature to me, although I'm not sure if everything you describe in that list is technically idempotent (POST).

[2018-03-07 23:31] mattklein123 commented on #2747
In general, Envoy does not deal with idempotency since app developers nearly always get it wrong. I have no objection to adding a retry policy such as "idempotent_requests" that adheres to the above rules as long as its clearly documented that the application developers may not adhere to the rules.

[2018-03-08 00:31] bmadhavan opened #2755 "Pre-establish upstream connections (connection prefetching)"
*Title*: *Pre-establish upstream connections so that connections will be warmed up for future requests*

*Description*:
Envoy can be deployed in use cases where establishing a new upstream connection is expensive w.r.t time (~300ms RTT). Since requests are typically queued for this duration, results in increased response times.

*Proposal*:
Pre-establish few upstream connections every time the num

[2018-03-08 01:11] mattklein123 commented on #2755
Is this for tcp_proxy? HTTP/1 connection pools?

In general I don't have any major objection to this feature, though once at steady state I wonder how useful it really is with HTTP connection pools (tcp_proxy is a different issue).

The main issue I see with this feature is that it makes it more likely that requests will race with an upstream idle timeout.

[2018-03-08 01:59] PiotrSikora commented on #1843
Sorry, I've got side-tracked with unrelated bug hunting, but I've started working on this again today, so the PR should be out "soon" (the code for this & the rewrite of filter match selection logic has been completed for a while, but I'm still missing a few tests).

[2018-03-08 02:18] bmadhavan commented on #2755
Our use case is for HTTP/1 connection pools.
I agree with you that during steady state the impact of this will be much less (except for bursts). But will be quite handy during hours of the day when the requests rates either go down or starts ramping up from off peak hours....

[2018-03-08 02:30] charliezgc opened #2758 "outlier event log contains inconsistences"
*Title*: *Outlier event log contains inconsistent field value type*

*Description*:

*Logs*:

{"time": "2018-03-06T22:15:20.112Z", _"secs_since_last_action": "-1"_, "cluster": "httpbin_cluster", "upstream_url": "0.0.0.0:0", "action": "eject", "type": "5xx", _"num_ejections": "1"_, "enforced": "true"}
{"time": "2018-03-06T22:15:50.387Z", _"secs_since_last_action": "30"_, "cluster": "httpbin_cluster

[2018-03-08 03:27] mandarjog commented on #2455
Hey sorry. Yes It would be great if you start. Does not look like I will be able to get to it soon.

[2018-03-08 04:23] ramaraochavali opened #2759 "Static EDS Cluster fails with ADS as EDS Config"
We have defined two static cluster, one for ADS and another static cluster of type EDS with ADS as the EDS Config. Envoy crashes while initializing the Static Cluster.

Here is the boot strap config

[code]
Envoy crashes while loading the "test" cluster.
**Debug Notes:**
It is failing at `cluster_manager_impl` [constructor](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/clu

[2018-03-08 07:39] arkadysafety opened #2761 "gRPC for Envoy"
Hi,

I have finally managed to deploy gRPC services running behind Envoy and normally communicate on local, but on AWS it i seem cant make a call from gRPC service 1 to gRPC service 2.

Im getting this error:
received the unexpected content-type "text/plain"

Locally everything works just fine. Looks like while making a call it transforms request header into text/plain.

[2018-03-08 07:53] DavadDi commented on #2745
@danielhochman  I use the Mongodb admin tools  [Robo 3T](https://robomongo.org/), maybe the tools send  OP_COMMAND for some purpose.  I am not sure our client will use this command or not. But I found something useful from the [page](https://docs.mongodb.com/manual/reference/mongodb-wire-protocol/)

[2018-03-08 09:33] objectiser commented on #2746
It would be for the backend service. Currently we can skip tracing generated by the service itself for certain endpoints (e.g. /metrics), but when proxied - the proxy is generating the traces still.

[2018-03-08 09:39] ramaraochavali opened #2762 "Dynamic Cluster Definitions for gRPC Services"
For the  gRPC services that Envoy acts as a client, for example Metrics, ExtAutz etc have to be defined in the bootstrap configuration as static clusters. It would be good if these services can come from CDS so that Control Plane can truly control the configurations of these cluster definitions.

[2018-03-08 14:38] jakerobb commented on #2753
Thanks! I'll track down and resolve the 503 and report back.

[2018-03-08 15:22] ramaraochavali commented on #1965
@mattklein123 when you get back to work from leave, can you please take a look at the above approach and see if it makes sense?

[2018-03-08 16:11] htuch commented on #2759
Thanks for the bug report, this is what I thought it might be. I agree that for the example you provide that it should not crash, will fix.

[2018-03-08 16:26] htuch commented on #2761
There's not enough information here to be able to diagnose. It doesn't seem like a bug, so I'm going to close this out and suggest providing a more detailed description to envoy-users@googlegroups.com for community assist.

[2018-03-08 16:26] #2761 closed

[2018-03-08 16:28] htuch commented on #2762
This seems reasonable for things other than CDS itself (i.e. we want to rule out user misconfiguration and catch it early). With that proviso, are you planning on working on this?

[2018-03-08 16:34] #2696 closed

[2018-03-08 16:58] mattklein123 commented on #2745
Sure we can support this if someone wants to implement. Marking "help wanted."

[2018-03-08 17:00] mattklein123 commented on #1965
Yes @ramaraochavali I will do this next week.

[2018-03-08 17:03] mattklein123 commented on #2762
I have strong reservations about adding this feature because it will require a tremendous amount of defensive coding for when one of these clusters suddenly goes away. Do we really need this? If so we might need to introduce some type of concept of a cluster that must be delivered in the initial fetch and then cannot be deleted or something like that.

[2018-03-08 17:08] mattklein123 commented on #2746
@objectiser I think I would recommend actually adding some type of route property that allows turning off tracing for a certain route. Would that work? It feels less like a special case to me.

[2018-03-08 17:09] mattklein123 commented on #2755
@bmadhavan sure SGTM. I would recommend making it configurable in the HTTP1 specific protocol options in the cluster proto and potentially defaulting to disabled.

[2018-03-08 17:10] htuch opened #2763 "Admin endpoint security"
The admin endpoint today is unsecured (no authentication or TLS), with the assumption that it is only available to localhost or accessible on a trusted network. Ideally:

* We want to be able to restrict access to only trusted IPs, client certificates and ensure we have transport security.
* We want to have some ability to distinguish roles and access to the admin console, i.e. distinct identities

[2018-03-08 17:13] mattklein123 commented on #2763
A few initial points are in the comment here: https://github.com/envoyproxy/data-plane-api/pull/523#issuecomment-371550679

[2018-03-08 17:23] htuch commented on #2762
It's true that today we validate cluster existence in construction (https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/async_client_manager_impl.cc#L17) and don't have a good story for recovery if the cluster goes away. With that said, a lot of this will be hidden under the `Grpc::AsyncClient` abstraction and code performing metrics, ext_authz will mostly just need to deal with nor

[2018-03-08 17:25] htuch commented on #2755
This is also desirable for alternative transports (e.g. transports that need to negotiate sandbox permiters) that have high latency connection establishment.

[2018-03-08 17:27] htuch commented on #2744
@ArkadyB from your other issue it sounds like this is now working, can we close this out?

[2018-03-08 17:28] htuch commented on #2742
@ArkadyB from your other issue it sounds like this is now working, can we close this out?

[2018-03-08 17:30] htuch commented on #2712
Closing this out as I think @ArkadyB has made some progress here.

[2018-03-08 17:30] #2712 closed

[2018-03-08 17:31] htuch commented on #2695
Should this be a `DataSource`?

[2018-03-08 18:01] objectiser commented on #2746
@mattklein123 Sounds like a good solution. I can see how it would work in pure envoy proxy - with the inbound listener being configured to not trace the `/metrics` path.

However not sure how this would be used from istio route rules - the examples I have seen all seem to specify the destination service, whereas for the prometheus scrape use case, the rule would need to be for all services. Any th

[2018-03-08 18:10] mattklein123 commented on #2762
I definitely agree we can handle the errors, but IMO it's a super confusing user experience that no one should actually be doing, but will end up doing by accident, so it will require defensive coding and add to our support burden.

[2018-03-08 18:32] mattklein123 commented on #2746
At least naively I would assume that a route rule could be injected everywhere even if it ends up routing to the same backend cluster, albeit with a different setting to turn of tracing. If that won't work I suppose we can adding path exclusion rules to the connection manager tracing config, though that feels not great to me so if we can avoid it that would be nice. Can you talk to the Istio peopl

[2018-03-08 18:41] objectiser commented on #2746
Will do.

[2018-03-08 20:17] arkadysafety commented on #2744
@htuch yes, you can.

[2018-03-08 22:24] ldemailly commented on #1472
just got another 14 emails back and forth over a day with a user and it turned out to be this issue again... with still nothing in the logs to make a guess that was the issue

[2018-03-09 04:11] ArkadyB opened #2767 "Envoy SDS for AWS and Consul"
Hi,

Having successfully launched service mesh on local with docker-compose i cant seem to port my solution to aws. strict/logical DNS service discovery works perfect when i run my microservices locally and can address each service with its given docker-compose name/network name. With AWS we have multicluster system where each services is not guaranteed to run next to the dependant one. Am i right

[2018-03-09 04:34] htuch commented on #2767
Folks have done Envoy integrations for Consul. See http://timperrett.com/2017/05/13/nomad-with-envoy-and-consul for example. CC: @timperrett

[2018-03-09 06:50] bmadhavan commented on #2755
@mattklein123 Thank you. Sure, I will make it configurable & disabled by default.

[2018-03-09 12:57] dnoe commented on #2767
If you haven't already joined, #envoy-users on the Envoy Slack (see https://github.com/envoyproxy/envoy/blob/master/README.md for instructions to join) is also a great resource.

[2018-03-09 14:40] htuch commented on #2742
I think this issue has been resolved based on other recently closed ones, so closing out.

[2018-03-09 14:40] #2742 closed

[2018-03-09 15:02] htuch opened #2769 "EP-01-001 HTTP: Lacking Admin-Interface Security allows CSRF and DOS (Cure53)"
From Cure53 Pentest-Report Envoy Proxy 02.2018 report:

[code]

[2018-03-09 15:08] htuch commented on #2769
It's the assessment of the Envoy maintainers that this is not an elevate security risk justifying following the https://github.com/envoyproxy/envoy/blob/master/SECURITY_RELEASE_PROCESS.md.

The admin console is known to not have any authentication or HTTP security, and must be secured in any reasonable deployment from untrusted networks. There is a reasonable consideration that if direct access vi

[2018-03-09 15:15] htuch commented on #2769
@mattklein123 would one reasonable thing to do in the short term is add more explicit documentation on the admin console trust model and dangers? I personally like @jmarantz suggestion of switching to POST to rule out one obvious source of CSRF.

[2018-03-09 15:20] AmerbankDavd commented on #815
Same issue here, is there some way to solve this?
I can `wget -qO- localhost:80/ping` my service from within the container but I get the error when `curl`ing the ingress: `upstream connect error or disconnect/reset before headers`.

[2018-03-09 15:25] htuch commented on #2763
One thing I wonder about is whether we should be offering a traditional web interface at all. Here's one alternative design; implement only gRPC or REST endpoints, have folks build out Javascript client side interfaces which can be served from a listener via Envoy's direct response (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-field-route-route-direct-respo

[2018-03-09 15:52] danesavot commented on #815
I resolved my issue by removing http2_protocol_options: {}

[2018-03-09 18:55] jhspaybar opened #2770 "Swagger UI hosting"
**Issue Template**

*Title*: Swagger UI hosting for json/rest -> proto/grpc

*Description*:
It is now possible to perform json/rest->proto/grpc mapping. I'd also like the ability to host a swagger UI exposing those json/rest endpoints. As I understand it, Envoy doesn't want to get into the world of generic file server so it isn't possible to generate a static UI and have envoy serve it at the mome

[2018-03-09 21:20] htuch commented on #2770
@jhspaybar I think your second point is a reasonable statement of where we are today. Would it be reasonable to put a minimal web server behind Envoy (as an upstream, possibly inside the same container) to support this in your architecture? Alternatively, we do support some very minimal direct file serving now via https://github.com/envoyproxy/data-plane-api/blob/91e0504c777d280d5d51ff6ca1ffa701c1

[2018-03-09 21:59] jhspaybar commented on #2770
I could have an upstream serving the static content, but I'd prefer not to. Looking at the DirectResponse, it doesn't look like I could plug an entire directory in, so I'd need to map file by file for all js/css/img assets?

[2018-03-09 22:25] alvaroaleman commented on #2182
For Prometheus url parameters are not very nice, because if you use its service discovery mechanism you must know the name of the parameter in advance. This is why e.G. the [Prometheus samples for the Kuberntetes service discovery](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml#L253) doesn't even assume they are used.

Would it alternatively b

[2018-03-09 23:57] mattklein123 commented on #2763
For reference the web stuff was only recently added by @jmarantz. I objected to this slightly at the time because realistically I think the only production use for the admin endpoint is either curl or other automated tools, but it didn't seem like a big deal to me to serve the landing page in HTML so I didn't worry about it that much.

My overall view of things right now is that the admin endpoint

[2018-03-09 23:58] mattklein123 commented on #2769
@htuch yes. I will do this and will assign this to myself for inclusion in 1.6.0. I would suggest that we track long-term admin security in the other tracking issue.

[2018-03-10 00:01] mattklein123 commented on #2763
P.S., it would be great if someone in the community who is passionate about admin security might want to own this. There will be a non-trivial amount of work here to get to where we want to ultimately be.

[2018-03-10 02:48] lixiaobing1 opened #2773 "how envoy to control to create a new pod?"
how envoy to control to create a new pod, while a pod corrupt or extending service?

[2018-03-10 04:38] jmarantz commented on #2763
One clarification: the http handlers for mutating operations were pre-existing.  The change added a web home-page with proper escaping, and reduced XSS through proper http content types, and AFAIK added no additional exposure.

I agree that more restricted access by default would help a lot.

[2018-03-10 20:22] srinandan commented on #1472
+1 @ldemailly - that user was me :(

I was using Envoy with Istio and assumed I had auto-sidecar injection turned on. There was nothing in the logs that give me this clue.

[2018-03-10 21:05] ldemailly commented on #1472
@srinandan : click there:
<img width="533" alt="screen shot 2018-03-10 at 1 04 57 pm" src="https://user-images.githubusercontent.com/3664595/37246716-b12331d8-2463-11e8-8d4b-2da16f115ba5.png">
;)

[2018-03-10 22:57] mattklein123 commented on #2763
Sorry I spoke incorrectly. Before your change we had no HTML. I know basically nothing about web security. My real point was that if the existence of HTML is going to cause security consternation, I don't think it's worth maintaining because IMHO the use of the HTML endpoints is not going to happen in production. Assuming there is no additional exposure, than it's fine by me. I just wanted to poin

[2018-03-10 22:57] mattklein123 commented on #2773
@lixiaobing1 I'm sorry but I don't follow the question. Envoy does not create pods. Can you provide ore information? Thank you.

[2018-03-11 20:37] #2759 closed

[2018-03-11 22:54] dio commented on #2069
Hi, I will try to play around with the proposal i.e. using the following pattern

[code]

and reflect that to the `envoyproxy/envoy-filter-example`, and will share the experience 😁

[2018-03-12 00:45] mattklein123 commented on #2069
@dio thanks. FYI I'm planning on updating this issue this coming week with a final proposed plan.

[2018-03-12 02:20] ofek commented on #2763
Additionally, I would strongly recommend Envoy have a separate listener/endpoint that only serves stats with optional [basic auth](https://en.wikipedia.org/wiki/Basic_access_authentication).

[2018-03-12 03:47] dio commented on #2733
@nmnellis @mattklein123 I put a preliminary work on this at https://github.com/envoyproxy/envoy/pull/2775 if you have time please have a look. Thanks!

[2018-03-12 04:20] dio commented on #2069
@mattklein123 thanks for the heads up. I saw that as one of the agenda for the next community call. Cool!

[2018-03-12 05:50] yudiandreanp commented on #170
It's blocking our deployment on the downstream side.
As a workaround, we put an nginx in front of our envoyproxy for the specific services only (which still have HTTP1.0 clients).

Any updates on this?

[2018-03-12 16:15] kflynn opened #2776 "Connection drops on hot restart"
A client using HTTP/1.1 to send multiple successive requests to an Envoy can see its connection drop in the middle of a request when the Envoy is hot-restarted.

My reproduction case is on Kubernetes, running with a custom Ambassador Envoy image that includes PIDs in the logs:

[code]

That image includes a stripped debug-built Envoy running on Alpine, with `logger.cc` changed to include

```logge

[2018-03-12 16:40] oquenchil commented on #2625
Hey,

here's a full example of the workaround while we do the cleanup to support a slightly better way of passing files with options to the linker.
------------------------------BUILD file------------------------------
[code]

------------------------------build_id_writer.sh------------------------------
[code]

------------------------------workspace_status.sh------------------------------
[code]

[2018-03-12 16:57] alyssawilk commented on #170
I believe I'll be taking this on for the Google use case.  I'll pick it up for now.

I suspect the first pass will be having a default host, handling the inverted close logic and lack of chunking support -  I don't have the cycles to implement full standards compliance :-(     Hopefully once we have something bare bones, folks can pick up other features as needed to bring us closer in line with th

[2018-03-12 17:05] gsagula commented on #2776
@kflynn Did you try with an older SHA? I was wondering if this is related https://github.com/envoyproxy/envoy/commit/1db0c7ace77263c554d18dfffa21ea2b5ea6f3b9

[2018-03-12 17:16] jakerobb commented on #2753
Okay, so I've whipped up a simple Java GRPC client and pointed it at my discovery service; it correctly returns the response I'm expecting, but I'm still seeing that 503 in envoy's logs. This narrows things down to a couple possibilities:
1. I've got some kind of proxy between envoy and discovery service that is returning the 503.
2. The 503 is coming from something else and we're being misled by

[2018-03-12 17:18] kflynn commented on #2776
Sorry, should've specified that I built from a branch merged only up to 0ab49ee302b933e7da875405269d33b16e4e0bd4 on 15 February, so not a factor, @gsagula.

Also, we've reproduced it entirely within Docker at this point...

[2018-03-12 17:45] cmluciano commented on #2541
I'll take this on so that I can get more familiar with API changes

[2018-03-12 17:48] htuch commented on #2541
We might want to sync on this at some point soon. I'm going to be enabling locality (zonal) load balancing, which needs to have well defined behavior in the presence of zone-aware routing. The locality load balancing comes from existing EDS definitions.

[2018-03-12 18:55] zuercher commented on #2639
Were you ever able to get this working?

[2018-03-12 19:06] cmluciano commented on #492
The roadmap looks good to me. Thanks @alyssawilk !

[2018-03-12 19:30] anirudhmurali commented on #2639
Sadly no, the same error still persists. Using Ubuntu in VirtualBox to play with Envoy as of now.

[2018-03-12 19:43] cmluciano commented on #2541
@mattklein123 Talked with @liamawhite on this. The enhancement of allowing the zone to be supplied via the API call is so that we don't need to restart the container in Istio.

@liamawhite Anything else I'm missing?

[2018-03-12 19:53] liamawhite commented on #2541
Specifically, its the restarting of Envoy. We have a preference for removing as much restarting of Envoy as possible.

[2018-03-12 20:28] jakerobb commented on #2753
Apologies -- I've now determined that it's some kind of Kubernetes networking issue. Envoy talks to DS just fine if I configure it to use the Cluster IP of the Service instead of the Service's name. The 503 must be coming from Kubernetes somehow.

Closing. :)

[2018-03-12 20:28] #2753 closed

[2018-03-12 20:35] taion809 opened #2778 "Request: Lua: access and ability to make routing decisions from lua filter"
*Title*: Lua: access to routing table and ability to make routing decisions

*Description*:
  Our existing proxy solution is nginx+openresty.  With that api we have the ability to access and make upstream selections from Lua.  Now that envoy has an experimental Lua filter we'd like to evaluate replacing our nginx+openresty proxy with envoy but we are at a stand still due to existing tooling requir

[2018-03-12 23:01] rwbergstrom opened #2779 "Subset LB doesn't update it's delegate LB's host set when only health states change"
*Description*:

The subset LB only appears to trigger the `update(...)` call to it's delegate load balancer if the cluster membership changed (hosts added or removed). For health check state changes, membership hasn't actually changed - so the delegate LB doesn't get updated and continues to maintain its previous host set. This ends up having two effects:
1. When new hosts are added, they're not n

[2018-03-12 23:55] zuercher commented on #2779
I think I see the problem. I hope to have a fix tomorrow.

[2018-03-13 00:45] bmadhavan commented on #2703
@ggreenway I am thinking of implementing this by adding a new type in `ConnectionCloseType` (very much in sync with your approach (1) ).  Following that I plan to add callers from conn_manager_impl.cc that way it can be called/utilized by any HTTP filters.
Let me know if that sounds good.
Once we have this I am sure it can be called from tcp_proxy too, whenever the logic to detect a RST gets added

[2018-03-13 01:23] brian-pane opened #2780 "crash in access logger"
*Description*:
During testing just now, @derekargueta and I saw a segfault in the access log implementation.

*Repro steps*:
Unknown; it happened once, and we don't have an internal repo yet.

*Config*:
From the LDS configuration, the `access_log` configuration was:

[code]

*Call Stack*:

[code]

[2018-03-13 02:22] brian-pane commented on #2780
I found a `TODO` comment in `ConnectionManagerImpl::ActiveStream::decodeHeaders` that describes how the downstream remote address needs to be set earlier in that function.  I'll make a PR to fix that.

[2018-03-13 03:06] ofek commented on #2763
@DataDog is recommending https://gist.github.com/ofek/6051508cd0dfa98fc6c13153b647c6f8 until this is solved.

Idea courtesy of @ggreenway
Config courtesy of @bndw (with [this modification](https://github.com/DataDog/integrations-core/pull/1156#discussion_r173687184) from @htuch)

[2018-03-13 05:20] ikatson opened #2782 "NO_TRAFFIC_INTERVAL constant causes deployments to needlessly take at least a minute"
We use AWS load balancer in front of envoy, which is used as a sidecar. Envoy proxies all external traffic into our local application.

When the application comes up for the first time, envoy waits 60 seconds between healthcheck attempts because of NO_TRAFFIC_INTERVAL constant, which is used in case there's no external traffic into the cluster.

However, there can be no external traffic at this po

[2018-03-13 10:31] jacktuck opened #2784 "Support for hedged requests"
Could hedged requests (or backup requests in finagle) be supported?

https://www2.cs.duke.edu/courses/cps296.4/fall13/838-CloudPapers/dean_longtail.pdf

![image](https://user-images.githubusercontent.com/8209433/37336546-a0dc698c-26a9-11e8-8f69-905a2ff542a9.png)

[2018-03-13 10:56] ramaraochavali opened #2785 "Envoy crashes if Ext Autz Filter is configured with wrong Cluster name"
If we enable Ext Autz filter with a wrong cluster name, Envoy crashes during request process with the following exception
[code]
While this exception is valid that the cluster is not a known cluster, it would be good if we do this validation during server startup.
Also if this filter is enabled with listener served via LDS/ADS, we should validate the cluster is available and then only update the l

[2018-03-13 11:00] ramaraochavali opened #2786 "Update_Attempt stat for Static Cluster"
We have defined a static cluster called test and the stats for this cluster show as shown below

[code]
Not sure, why the `update_attempt` stat is showing as 86 and that too for a static cluster, looks like a bug to me.

[2018-03-13 15:40] mattklein123 commented on #2541
@cmluciano @liamawhite I'm sorry I don't understand why Envoy needs to be restarted. Why would the zone of a container ever change once it is started?

[2018-03-13 15:43] mattklein123 commented on #2780
@brian-pane yeah, I would probably actually just initialize downstream address to the connection address in the active stream constructor, and let it get overwritten later if applicable.

[2018-03-13 15:44] mattklein123 commented on #2782
@ikatson when Envoy initializes, it does a single HC pass, regardless of the no traffic interval, which should be able to quickly determine backend health. Can you make sure you are not seeing this behavior? If not there is a bug somewhere.

[2018-03-13 15:46] mattklein123 commented on #2784
For others searching for this, this is AKA "request racing." We have had many requests for this feature over the life of Envoy but it's never quite bubbled up to high enough priority for someone to implement. Marking help wanted. It's very doable but also non-trivial.

[2018-03-13 15:51] ggreenway commented on #2703
I think that sounds reasonable.  @mattklein123 @alyssawilk any objections?

[2018-03-13 15:57] mattklein123 commented on #2785
@saumoh can you take a look at fixing?

[2018-03-13 15:58] mattklein123 commented on #2786
Not sure why this is happening. Someone will need to investigate.

[2018-03-13 15:59] mattklein123 commented on #2767
Closing this out. We can discuss on envoy-users@ if needed.

[2018-03-13 15:59] #2767 closed

[2018-03-13 15:59] mattklein123 commented on #2722
I believe this was figured out. Closing.

[2018-03-13 15:59] #2722 closed

[2018-03-13 16:06] liamawhite commented on #2541
Its a timing issue with Kube. When we schedule a pod we don't know which node it's going to run on. We can only retrieve the az of the node once the pod is running, therefore have to restart.

[2018-03-13 16:12] alagalah commented on #2069
Would this notion of "pluggable extensions" be extended to TransportSockets? (thinking about fd.io VPP integration, and could be applicable to SslTransportSocket?)

[2018-03-13 16:44] ggreenway commented on #2069
+1 on pluggable transport sockets

[2018-03-13 16:51] mattklein123 commented on #2069
Yes definitely re: pluggable transport sockets. I will update the proposal to account for that also.

[2018-03-13 16:52] mattklein123 commented on #2741
I believe this was answered. Closing.

[2018-03-13 16:52] #2741 closed

[2018-03-13 16:52] mattklein123 commented on #2773
Closing.

[2018-03-13 16:52] #2773 closed

[2018-03-13 16:53] mattklein123 commented on #2655
I've seen this question multiple times. I think we probably need to make the error messages better here. I'm switching this over to enhancement/help wanted.

[2018-03-13 16:59] mattklein123 commented on #2541
I don't know much about k8s, but it seems odd to me that you can't adjust the params of Envoy when the pod starts running? Potentially via an env var?

[2018-03-13 17:00] ikatson commented on #2782
@mattklein123 we worked around it by starting envoy sidecar ONLY when the application has come up.
So essentially, the envoy script looks smth like.

[code]

So the issue is when the envoy starts up before the application, the first health check does not succeed, and the next one is only run 60 seconds after, which is too long

[2018-03-13 17:56] #2651 closed

[2018-03-13 18:08] mattklein123 commented on #2782
OK. The NO_TRAFFIC_INTERVAL stuff is kind of a hack. We should probably make it configurable. I'm switching this over to enhancement/help wanted.

[2018-03-13 18:38] bmadhavan commented on #2703
Great. Thanks guys !!

[2018-03-13 18:43] #2455 closed

[2018-03-13 19:29] mattklein123 commented on #2460
I believe this is being covered by all of the perf work that @jmarantz is doing and other tickets. I'm going to close this out and we can revisit if that work when it lands does not fix the issues.

[2018-03-13 19:29] #2460 closed

[2018-03-13 19:30] mattklein123 commented on #2639
Closing for now. Please hop into Slack #osx-dev room for futher help.

[2018-03-13 19:30] #2639 closed

[2018-03-13 19:56] mattklein123 opened #2795 "grpc access logging/metrics: add option to cycle streams"
There is no good way to tell long running gRPC streams that they need to cycle due to upstream GOAWAY. We should add the ability to cycle the streams on a per-time basis to workaround this. Another option is to add the ability for streams to register for GOAWAY notification, and if applicable they could then cycle at the "app" level. E.g., The access log implementation could see that a GOAWAY was

[2018-03-13 20:18] mattklein123 opened #2797 "GitHub bots tracking"
This is a tracking issue for adding functionality to our development workflow with some GH bots. We can start by just figuring out which functionality we want and add it here. Then we can figure out resourcing and hosting later.

- [ ] Allowing org members to assign issues.
- [ ] Ping stale PRs.
- [ ] Auto fix DCO (bot would go through and rewrite all commits with a message that has the correct em

[2018-03-13 20:25] alyssawilk commented on #2797
stale code bot?

I think of "pinging stale PRs" being sending a reminder if there has been no recent action but there's also "warning of PRs with stale code" - almost all our build breakages have been someone with a 2+ week old master and no merge conflicts.  I think if your're too far behind HEAD it should result in a bot warning to reviewer or a CI failure.

[2018-03-13 20:26] alyssawilk commented on #2797
Also is DCO-bot even doable?  Arguably if the developer didn't sign off on a PR I don't think we can/should do it for them.  Or is this if we merge something without leaving the DCO in the log?

[2018-03-13 20:31] mattklein123 commented on #2797
Yes I think we can ask the PR author to type something like `/fix_dco`, only allow the PR owner to do it. Then the bot can do the actual work. I think it would be pretty awesome and save a lot of annoying back and forth for new contributors.

[2018-03-13 22:30] ark3 commented on #2776
To replicate this entirely inside a Docker container:

[code]

[code]
This will loop as fast as Python-ly possible until something interrupts it.

[code]

At this point I found that loop.py had crashed in Terminal 2 as described.

[code]

[2018-03-13 22:36] jmarantz commented on #2460
@jinuxstyle would you be able to re-run with the current 'master'?  Since Feb 1 there have been a number of speedups deployed.  It would be good to confirm whether they address your startup flow, as I was not able to repro.

[2018-03-13 22:41] mattklein123 commented on #2776
@kflynn @ark3 what is the behavior of Envoy here? Can you look at Envoy logs? Is it crashing? Is it just not flushing a response? Can you try to gather some more info?

[2018-03-13 23:15] #2769 closed

[2018-03-13 23:31] kflynn commented on #2776
@mattklein123 Here's the tail end of my Kubernetes run, included in the attached `envoy-report.zip`:

[code]

This looks to me like Envoy is, for whatever reason, dropping a request on `C1` and closing its socket before even forwarding the request upstream, much less getting a response.

**Note that this is not always what I've seen in the Envoy logs.** In other cases, the logs seem to imply that

[2018-03-14 00:12] PiotrSikora opened #2800 "TcpProxy: downstream connection gets terminated in the middle of TLS handshake when upstream is down"
*Description*:

Downstream connection gets terminated in the middle of TLS handshake (usually while waiting for `NewSessionTicket` message, but that might be just because of timing) when TCP proxying to an upstream that's down.

*Repro steps*:

[code]

*Config*:

[code]

*Logs*:

[code]

cc @alyssawilk @ggreenway

[2018-03-14 00:25] mattklein123 commented on #2800
@PiotrSikora what would you want the behavior to be here? A clean close after handshake completion?

[2018-03-14 00:40] PiotrSikora commented on #2800
@mattklein123 either that (so that client establishes TLS connection that gets immediately closed) or we delay any TLS handshake processing until connection to upstream is open (so that client doesn't receive any TLS handshake messages). Former is IMHO cleaner if Envoy is doing TLS termination, but I could be convinced otherwise.

[2018-03-14 00:54] PiotrSikora commented on #2800
Note that this gets a bit trickier with TLSv1.3 and early data (payload sent during handshake when resuming TLS session), since we should potentially act differently and reject early data, so that downstream knows that it wasn't processed by the upstream and it's safe to retry, but I don't think we deal with this in case of plaintext TCP, so maybe that's not an issue.

[2018-03-14 01:53] bobbytables opened #2801 "Failure to build w/ Bazel using Quickstart instructions for MacOS"
*Title*: *Failure to build when following Quickstart instructions*

*Description*:
I tried making sure that I followed the Quickstart instructions to the tee a few times but it seems like there might be a real issue.

*Versions*
Bazel: 0.11.1-homebrew
Clang: Apple LLVM version 9.0.0 (clang-900.0.39.2)

Output:

[code]

(It looks like a `src` directory doesn't exist when a `cd` is attempted)

I'm h

[2018-03-14 02:53] mrice32 opened #2802 "Server process end lifecycle and object lifetime management"
*Description*: We've run into a few situations internally where we would like to be able to create objects that will be destroyed at server shutdown or simply be notified of server shutdown.  It's been difficult to do this in the context of a statically registered factories because the statically registered component is never destructed or notified of shutdown, and the elements it produces general

[2018-03-14 02:57] jinuxstyle commented on #2460
It worked perfectly now with the latest image I tried, which is envoyproxy/envoy:fd44fd6051f5d1de3b020d0e03685c24075ba388.

Now, the rds/cds/sds data can be fetched and processed within milliseconds rather than seconds required before. And the request timeout no longer appeared during my test. The improvement looks amazing. Thanks.

Some logs
[code]

[code]

[2018-03-14 03:09] taion809 commented on #2801
are you following this quickstart?

https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers

[2018-03-14 03:10] bobbytables commented on #2801
Yes.

On Tue, Mar 13, 2018 at 11:09 PM Nicholas Johns <notifications@github.com>
wrote:

--
- Robert Ross

[2018-03-14 03:23] taion809 commented on #2801
I'm not able to reproduce the issue; I have the same version of bazel and clang as you.  Unless someone else jumps in I would make sure you're on the latest version of master, clear the `/private/tmp/_bazel*` cache files, run bazel clean and try again.

[2018-03-14 03:32] bobbytables commented on #2801
Roger. I’ll do that in the morning. Thanks for the prompt response!

On Tue, Mar 13, 2018 at 11:23 PM Nicholas Johns <notifications@github.com>
wrote:

--
- Robert Ross

[2018-03-14 03:40] mattklein123 commented on #2800
@PiotrSikora former sounds reasonable to me, and I think would be easy to implement. Just have tcp_proxy see if downstream is TLS, and if so, wait for handshake complete before creating upstream connection.

[2018-03-14 03:45] mattklein123 commented on #2776
@kflynn you are using really short drain/parent shutdown times. Perhaps the requests are just not completing in time?

[2018-03-14 03:46] mattklein123 commented on #2802
@mrice32 this SGTM. I think there are a few options here:
1) Build shutdown notification into the singleton manager, which is already built into the server.
2) Allow shutdown registration on the server instance generically. Basically, have some type of `ShutdownNotifierCallback` and allow this to be registered on the server.

[2018-03-14 07:18] cl51287 opened #2804 "Can I deploy envoyproxy to a production server use docker images"
I find the docs say "The Envoy build system uses Bazel. In order to ease initial building and for a quick start, we provide an Ubuntu 16 based docker container that has everything needed inside of it to build and statically link envoy, see ci/README.md.", can I deploy envoyproxy to a production server use docker images?

[2018-03-14 07:51] jmarantz commented on #2802
Also I wonder if we can/should distinguish server lifetime from process lifetime vs listener lifetime.

And in the context of unit tests, would we consider server lifetime to actually be the life of the test method?

[2018-03-14 11:07] taion809 commented on #2804
Yes, the container that is shipped to hub.docker.com/envoyproxy/envoy contains a production ready build of envoy.

The container itself is very minimal (I don't mean size) so you need to decide if thats how you want to deploy envoy-with-docker, alternatively you can pull the envoy binary from the docker image and build your own container.

[2018-03-14 13:12] #2780 closed

[2018-03-14 13:18] taiki45 commented on #2763
I vote to disabling web admin interface. Alternatively:

- Move admin operations like `/cpuprofiler` or `/logging` to runtime configuration flags or simple Unix domain socket commands like [haproxy one](http://cbonte.github.io/haproxy-dconv/1.8/management.html#9.3). This allows us to manage permissions via traditional file system permissions.
- Promote pull-based endpoints like `/stats` to gRPC/RE

[2018-03-14 14:39] taion809 opened #2805 "Docker: improve docker experience for first time users"
*Title*: Docker: improve docker experience for first time users

*Description*:
The current docker image, while functional, is not as simple of a first-time user experience compared to other products.

For example, if you compare other projects on hub.docker.com you'll see that the docker image for envoy lacks readme details and modification points from the container itself (meaning you need to re

[2018-03-14 15:57] mattklein123 commented on #2805
@taion809 sounds awesome! Rock on!

[2018-03-14 16:11] ggreenway commented on #2800
Couldn't we just wait for onDownstreamEvent(Connected) in TcpProxy? Then TcpProxy doesn't need to care about the underlying protocol.

[2018-03-14 16:29] mattklein123 commented on #2800
There is no Connected event when it's not TLS (for server side). This is a really horrible interface that is a carryover from libevent/bufferevent (which we no longer use). I would really love to clean this up, but that's a different issue.

[2018-03-14 16:48] ggreenway commented on #2800
```void RawBufferSocket::onConnected() { callbacks_->raiseEvent(ConnectionEvent::Connected); }```

Does this not raise Connected? Or does that get eaten somewhere else in the stack?

[2018-03-14 16:59] ggreenway commented on #2800
Yes, you're correct.

 Perhaps we should fix that to address this issue? It looks like SslSocket is already raising Connected when the handshake finishes:

[code]

[2018-03-14 17:02] mattklein123 commented on #2800
I would love to clean up the connected logic, and actually add a new event such as `TlsHandshakeComplete` if we are going to go down that route.

[2018-03-14 17:11] ofek commented on #2763
What's the difference between a "pull-based endpoint" like `/stats` and a REST API version?

[2018-03-14 17:19] jmarantz commented on #2763
I think it makes sense to control access via configuration, including disabling the http admin interface completely or restricting it to an IP, with separate controls for read-access vs mutations.

[2018-03-14 17:43] bndw commented on #2805
@taion809 Happy to divide and conquer on this one and thanks for bringing it up!

[2018-03-14 17:48] htuch commented on #2802
We also want to do a graceful GOAWAY by doing a clean gRPC stream/client shutdown for xDS when we start server drain. So, whatever we build in this space should do that. I think option (2) in @mattklein123 would support this, in particular if we get callbacks at start of drain.

[2018-03-14 17:58] mandarjog commented on #2762
This has resulted in a breaking change in behaviour for Istio. Pilot delivers mixer cluster information via CDS today. Istio proxy recently started using `AsyncClientFactoryImpl`.
[code]
I can update Istio to configure this via bootstrap, but the more number of things we add there, upgrades become difficult.

For now, I will change Istio to use bootstrap for mixer, but it would be good to allow CD

[2018-03-14 18:01] mandarjog commented on #2762
For ref: https://github.com/istio/istio/issues/4257

[2018-03-14 18:09] mattklein123 commented on #2802
This is related also to https://github.com/envoyproxy/envoy/issues/2795

[2018-03-14 18:24] taiki45 commented on #2763
The main difference that I thought is the API one will have a dedicated listener and will be properly schema controlled. For example, `/stats` already has a json format for programmatic access.

[2018-03-14 18:36] taiki45 commented on #2763
It's not a strong objection but, to say source IP base restriction or local loopback binding, we want more detailed permission control in some deployment cases: developers can login a host in which Envoy runs but do not want to allow them to take admin operations of the Envoy instance, but want to allow only administrators to do that operations for easy debbuging.

[2018-03-14 18:43] liamawhite commented on #2541
So you're suggesting not starting envoy until we can work out the zone?

[2018-03-14 18:58] jsedgwick commented on #514
@mattklein123 do we still want to do the write side of this now in light of #2763?

[2018-03-14 19:01] mattklein123 commented on #514
@jsedgwick yes we should still do this. Security is orthogonal.

[2018-03-14 19:01] mattklein123 commented on #514
(Though the modification endpoint should be a POST)

[2018-03-14 19:02] mattklein123 commented on #2541
@liamawhite yes that is what I'm suggesting. Basically all locality information should be available before starting Envoy IMO.

[2018-03-14 19:30] #2095 closed

[2018-03-14 21:21] saumoh commented on #2762
cc @spikecurtis

[2018-03-14 21:33] #1930 closed

[2018-03-14 21:55] mattklein123 commented on #2762
If we want to drop this restriction, we will need a full audit of all error handling required. I would also argue that dropping the restriction itself should be an option which defaults to false, given how confusing the behavior will be if the cluster for one of these services suddenly goes away.

[2018-03-14 22:00] spikecurtis commented on #2762
The concrete use case is that we want to be able to enable `ext_authz` via the xDS APIs. If the auth cluster has to be in the static bootstrap, we have to redeploy in order to start using it.

Just spitballing here: could we define the cluster inline with the filter config?

[2018-03-14 22:02] mattklein123 commented on #2762
Possible, but large/complex change. I think dropping the requirement on a case by case basis is probably fine, but the error handling needs to be considered and tested for.

[2018-03-14 22:35] mattklein123 commented on #1891
I'm going to go ahead and close this as fixed. We are now opening issues for specific Lua features and can track that way.

[2018-03-14 22:35] #1891 closed

[2018-03-14 22:38] mattklein123 opened #2811 "Allow filters written in Swift"
Based on some Twitter conversations (https://twitter.com/mattklein123/status/972540021768052736), it appears possible that we could allow filters to be written in Swift, using a C bridge API between Swift and Envoy. Just opening this issue for tracking. It would be pretty neat to be able to write filters in a safe/fast/typed language.

[2018-03-14 22:43] mattklein123 commented on #1280
@PiotrSikora AFAIK you are working on this now, so just going to assign it to you for tracking. LMK if you think otherwise and I should be working on this.

[2018-03-14 23:07] lizan commented on #2762
Another spitballing: Are we going to put same restriction to proposed [http_uri](https://github.com/envoyproxy/data-plane-api/pull/538) definition? It will have same risk that the cluster can suddenly go away. The same risk also exists for Http::AsyncClient too, why we only put the restriction for gRPC cluster definitions? I agree we need auditing error handling but it still shouldn't restrict gRP

[2018-03-14 23:16] mattklein123 opened #2812 "fix releases tool to not leak creds"
https://envoyproxy.slack.com/archives/C78HA81DH/p1521068391000470

Having trouble getting this working and don't have a lot of time to invest in this. I'm going to comment this out until we clarify how to not leak creds and how to set this up.

@bndw @taion809

[2018-03-14 23:32] mattklein123 commented on #1965
Sorry for the delay here:

Yes agreed.

Yes, but we should do this without locking. There should be a histogram per thread. We can then merge the histograms during the flush interval.

Yes, during flushing we should latch all of the thread local histograms and collect them. This will require locking, and for perf reasons potentially atomic swaps of two histograms (active/collecting).

Yes, we will

[2018-03-14 23:42] postwait commented on #1965
On Mar 14, 2018 7:32 PM, "Matt Klein" <notifications@github.com> wrote:

In the flushHistograms we can get the histogram values out and push it to
the sink.

Yes, we will need to decide on how we summarize the histograms and
ultimately expose them. Which percentiles will we show in the stats output?

Can we also expose the whole histogram in the stats? There are tsdbs that
support histogram data t

[2018-03-14 23:47] mattklein123 commented on #1965
support histogram data types,  so for those, reducing the rich histogram to
a few percentiles would be a shame.

Yup sounds reasonable to me. Can you help with design of that? We should potentially also treat that is an additional incremental feature.

[2018-03-14 23:54] bndw commented on #2812
Opened an issue for the underlying upload tool: https://github.com/aktau/github-release/issues/85

[2018-03-15 01:12] mattklein123 commented on #2762
Yes I think we can potentially relax the requirement on a per-component basis as long as the correct error handling (and diagnostics) are in place.

[2018-03-15 01:27] mattklein123 opened #2817 "automate coverity scan uploads"
It looks like coverity scan might be gone. We will need to replace it with some other static analysis tool. Need to investigate which one.

[2018-03-15 02:32] asgoel opened #2819 "Re-Balancing Connections when using a hash-based load balancer"
Been exploring the envoy docs a little bit and haven't seen anything on this topic so thought I would ask. If I have a load balancer set up that uses the ring-hash algorithm, how does re-balancing work, with regards to upstreams coming up or down?

Specifically, if I have upstream A and upstream B, with persistent connections (say, websockets) open to both, and A goes down, will all traffic be rou

[2018-03-15 03:05] cl51287 commented on #2804
I found there are no versions in hub.docker.com/envoyproxy/envoy, is that latest version a release version(v1.5.0)?

[2018-03-15 03:32] htuch commented on #2795
@mattklein123 I'm a bit confused. When we get an upstream GOAWAY, shouldn't the H2 stream close and the various use sites receive a remote close?

[2018-03-15 03:41] ramaraochavali commented on #1965
@mattklein123 thanks. great.
On this ---
Only downside of this seems to be that we have histograms at two places (original place) and in sink. Given that the number of histograms are very few, is this a big deal?

On the atomic updates and concurrently updating the histograms, I thought per @postwait 's comment above " https://github.com/circonus-labs/libcircmetrics has a latency optimized, conten

[2018-03-15 03:50] mrice32 commented on #2802
Are there any objections with going with option 2 in the interest of flexibility?

[2018-03-15 06:20] fenngwd opened #2820 "Rate Limiting Configuration Not Working"
I have set a envoy as front proxy in my k8s cluster. I'm trying to set rate limiting, but it's not working. I can not find a example which enable rate limiting. I have deployed a rate-limit service, but no traffic sent to it.

Could you help me to figure this out?

Configuration:

[code]
[code]
[code]

Please ignore these indentation.
Thanks!

[2018-03-15 06:54] francisu commented on #2606
https://github.com/envoyproxy/data-plane-api/pull/548

[2018-03-15 11:08] cl51287 opened #2822 "envoy docker container get "Cannot find field" error"
*Description*:
My docker image is the latest version from https://hub.docker.com/r/envoyproxy/envoy, and the version is `d00361232086d0044e5ce93968f4b4657fa22be5/1.6.0-dev/Clean/RELEASE`
My configuration here.
<pre>
static_resources:
  listeners:
  - name: php-envoy
    address:
      socket_address: {address: 0.0.0.0, port_value: 80}
    filter_chains:
    - filters:
      - name: http_connection

[2018-03-15 11:11] cl51287 commented on #2804
I get a version `d00361232086d0044e5ce93968f4b4657fa22be5/1.6.0-dev/Clean/RELEASE` from https://hub.docker.com/r/envoyproxy/envoy latest version, I found ,it is a dev version, not a release version, which version shoud i pull?

[2018-03-15 11:16] ramaraochavali commented on #2786
@mattklein123 I did some investigation today and here are my findings. This does not happen for cluster type STATIC. This happens for static clusters of type `STRICT_DNS` or `LOGICAL_DNS`.
This happens because of the [code](https://github.com/envoyproxy/envoy/blob/e765c2c6762aaf04fabf21beb16f367d0760dcc5/source/common/upstream/upstream_impl.cc#L666) . I think this update should be moved [here](htt

[2018-03-15 11:27] #2822 closed

[2018-03-15 11:28] taion809 commented on #2804
You can pull the latest tagged image and be fine, the master branch is supposed to be production ready.  At the time of this comment the latest version is `9d4ca6dbc8808daf8dc4d8fdf52094191444af98`

[code]

[2018-03-15 11:34] taion809 commented on #2805
@bndw SGTM.

I'm a bit busy this week so I'm not sure I can be helpful until the weekend/next week.  My first pass intention was to update the release scripts to pull in the `config/google_com_proxy.v2.yaml` configuration for the "hello world" version.

Example:
[code]

[2018-03-15 11:38] cl51287 commented on #2822
sorry ,my configuration has error, I have resolved it, but the error message not easy to understand, is this will be optimized in next version?

[2018-03-15 14:15] ramaraochavali commented on #1965
@mattklein123

I think we should start with P50, P75, P90, P99 and P999 - what do you think?

[2018-03-15 14:29] postwait commented on #1965
p0, p25, and p100 are also very useful (min/max). with those (and the p75)
you can do quartile-based candlestick graphs.

On Thu, Mar 15, 2018 at 10:15 AM, Rama Chavali <notifications@github.com>
wrote:

[2018-03-15 14:29] dnoe commented on #528
Also related to https://github.com/envoyproxy/envoy/pull/2734

[2018-03-15 14:54] alyssawilk commented on #2820
- name: envoy.cors
              config: {}
            - name: envoy.router
              config: {}
            - name: envoy.rate_limit

Aren't Envoy filters applied in the order of the config?  I believe you
want to make sure that rate_limit filter is hit before you route to your
backends.
cheers,
Alyssa

On Thu, Mar 15, 2018 at 2:20 AM, Weidong Feng <notifications@github.com>
wrote:

[2018-03-15 15:07] francisu opened #2824 "Remove codec from google proxy example"
**Issue Template**

*Remove codec from google proxy example (v2)*

*Description*:
This is supposed to be rarely used as the default is AUTO, and it specifies AUTO.

[2018-03-15 15:13] francisu commented on #2824
This applies to a lot of other files in the configs folder as well.

[2018-03-15 15:41] francisu commented on #2824
https://github.com/envoyproxy/envoy/pull/2825

[2018-03-15 15:46] btc commented on #2795
https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#goaway-frame

It seems in gRPC, Go away doesn't signal stream termination. It merely prevents new stream creation.

[2018-03-15 15:49] fenngwd commented on #2741
@mattklein123 Thanks a lot! Your answer helped me!!

[2018-03-15 15:49] mattklein123 commented on #2819
It's the former. No existing requests are effected during rehashing. For long lives request reams (websocket/gRPC) you have a split brain situation. It's possible we could kill all connections on rehash, but that would be a feature request and need a bunch of thinking.

[2018-03-15 15:53] mattklein123 commented on #2802
@mrice32, no, I would do option 2. I think it will eventually allow us to register for different types of events as has already been mentioned (drain start, drain finish, etc.).

[2018-03-15 15:57] mattklein123 commented on #2795
@htuch no, GOAWAY is just an indication to not create new streams, not to terminate existing ones. (This is related to what @btc mentions but not specific to Go).

There are 2 separate issues here.

1) For Envoys that are sending long running streams (access log, metrics, etc.), in the current implementation when we shutdown we don't cleanly end the stream. We just reset it. This is related to shu

[2018-03-15 16:01] mattklein123 commented on #2786
@ramaraochavali `update_attempt` means a DNS resolution attempt. I think it's working as designed. If you agree feel free to close. Thank you.

[2018-03-15 16:12] ramaraochavali commented on #2786
@mattklein123 thanks. Will close it.

[2018-03-15 16:12] #2786 closed

[2018-03-15 16:15] mattklein123 commented on #1965
Based on when I last looked at the code, I don't think we should use https://github.com/circonus-labs/libcircmetrics as I don't think the TLS model used there is going to be easily compatible with Envoy TLS, and some of the lock-free stuff that I would eventually like to do here. I would use https://github.com/circonus-labs/libcircllhist directly, and use libcircmetrics as an implementation guide.

[2018-03-15 16:19] postwait commented on #1965
I agree with this.  If you already have a strong TLS model within the
application related to performance, you're likely to better accommodate the
primitives in libcircllhist better.  envoy managing a thread-local
histogram and later combining them (with an atomic-pivot for example),
would be an excellent implementation.

On Thu, Mar 15, 2018 at 12:15 PM, Matt Klein <notifications@github.com>
wrote

[2018-03-15 16:31] jmarantz commented on #2802
This sounds great.

I'm thinking also about how this all works in the context of unit tests, where I expect servers to be brought up & down multiple times in a single process.  Should these callbacks be re-established in each test?  And if that's going to happen should they be cleaned up between each test?

Assuming the singleton manager @mattklein123 is https://github.com/envoyproxy/envoy/blob/ma

[2018-03-15 16:45] sandbender opened #2827 "runtime:symlink_root causes breakage if symlink lives in /"
https://github.com/envoyproxy/envoy/blob/c481a8cd64ce81300dabd4aefd7851eb2b9fb5b9/source/common/filesystem/inotify/watcher_impl.cc#L39

The above line identifies the string *before* the "last slash" in the original path as the directory to use for a subsequent inotify_add_watch command for the root runtime symlink... as such, if the end user (ie: me :) ) tries to place the symlink in /, ie: "/envo

[2018-03-15 17:59] #170 closed

[2018-03-15 18:00] alyssawilk commented on #170
I encourage folks on this issue to turn this feature on and let me know how it goes.  If there's other corner cases in the spec you need supported I'm more likely to get them done while I have all the state mentally swapped in :-)

[2018-03-15 18:08] jsedgwick commented on #514
@mattklein123 should you be able to add/modify runtime values if there is no backing on-disk runtime set up (and therefore the default runtime is empty)? I don't know enough about how this feature is used to determine whether that would be a useful capability or not.

[2018-03-15 18:09] AmerbankDavd commented on #815
Where did you change that option?

[2018-03-15 18:32] vadimeisenbergibm commented on #2670
@mattklein123 I have created an example of using Envoy with NGINX, to solve this and other issues: https://github.com/vadimeisenbergibm/envoy-generic-forward-proxy .  It shows how Envoy can function as a _generic_ forward proxy,  _generic_ means being a proxy for arbitrary hosts.

Any comments are welcome.

[2018-03-15 20:11] mattklein123 commented on #2802
My assumption is that anything we do here is not using statics, since it will be registered explicitly with the server. So I think we should be fine between tests since we have a fresh server in each one?

[2018-03-15 20:12] mattklein123 commented on #514
Optimally, having this available also for the "null" runtime impl would be nice, as people could override settings for testing even without using the full disk version.

[2018-03-15 20:17] mattklein123 commented on #2373
@jmarantz is there remaining work on this or should we resolve as complete (for now)?

[2018-03-15 20:17] mattklein123 commented on #2063
@jmarantz is there remaining work on this or should we resolve as complete (for now)?

[2018-03-15 20:19] danesavot commented on #815
Share your Envoy config file. I will take a look.

[2018-03-15 20:25] bndw commented on #2812
I've opened a PR on the github-release tool that should fix the credential leak. As per @mattklein123 we'll give that a week and see if there is any activity. If there is not, we'll fork it to the envoyproxy org and apply the fix.

Once we have the leak resolved we need to update the invocation's `--user` flag, or env var, to be "envoyproxy" instead of "envoy-bot". This is because github-release [

[2018-03-15 20:26] kflynn opened #2828 "Fold Ambassador auth functionality into ext_authz"
Ambassador's auth filter (described in #2621) is deliberately more general than the authz mechanism embodied by `external_auth.proto` and implemented in #2417. After discussions between Envoy, Tigera, and Datawire folks, it seems that the best way forward is to fold Ambassador's auth functionality into the existing auth filter.

This issue will track the work of getting this done. We expect it to

[2018-03-15 20:27] jsedgwick commented on #514
Yeah, sounds right. Will do.

[2018-03-15 20:29] kflynn commented on #779
After discussions between Envoy folks, Datawire folks, and Tigera folks, we're folding Ambassador's auth functionality into the auth filter brought in by #2417. I've opened #2828 to track that work -- thanks for the interest!

[2018-03-15 20:31] kflynn commented on #2291
Opened #2828 to track further work to fold Ambassador's auth into Envoy.

[2018-03-15 20:44] jmarantz commented on #2063
There are more performance gains on the table (prototyped already) but not clear if it's worth it, e.g. the 10k case can still ~double in speed, from ~3 seconds to ~1.5 seconds IIRC, but at the cost of either adding & maintaining an alternative tag-extraction mechanism alongside regex (compatible) or removing regexes (possibly breaking some integrations).  I'm not sure if the current situation is

[2018-03-15 20:54] PiotrSikora commented on #2817
[Clang Static Analyzer](https://clang-analyzer.llvm.org/) was pretty decent when I was using it years ago.

[2018-03-15 20:59] mattklein123 commented on #2063
@jmarantz I'm inclined to close this is fixed. How about opening new tracking issues on the remaining perf enhancements so that we can triage if what we have so far is good enough? I think you have done so much amazing improvement that it's probably ok for now. Awesome work! :)

[2018-03-15 20:59] #2063 closed

[2018-03-15 21:00] mattklein123 commented on #2373
Per discussion in other perf issue, closing this as fixed. We can open new issues as needed. Awesome work!!!

[2018-03-15 21:00] #2373 closed

[2018-03-15 21:08] htuch opened #2829 "No connection close notifications for HTTP/1.1 downstream with UDS"
Connections created for UDS listeners don't generate explicit `EV_CLOSED` events in libevent. Instead, they signal connection close as `EV_READ | EV_WRITE`, relying on a failed `EV_READ` to detect close. This is problematic in pipelined HTTP/1.1 connections, where read has been disabled between requests, since no `EV_READ` is seen. See https://github.com/envoyproxy/envoy/blob/28cca62a9de32c73793d3

[2018-03-15 23:01] mattklein123 commented on #779
I'm going to close this in favor of https://github.com/envoyproxy/envoy/issues/2828. Please track that issue for further work on generic auth.

[2018-03-15 23:01] #779 closed

[2018-03-15 23:07] saumoh commented on #2291
Closing this as future work is getting tracked in https://github.com/envoyproxy/envoy/issues/2828

[2018-03-15 23:07] #2291 closed

[2018-03-15 23:35] #2824 closed

[2018-03-15 23:47] caniszczyk commented on #2817
sigh, I'll see if I can find something else, codeclimate is beautiful but doesn't support C/C++

[2018-03-15 23:52] mattklein123 commented on #842
I think this is basically fixed at this point so just going to go ahead and close. We can open specific issues with the current scheme as needed.

[2018-03-15 23:52] #842 closed

[2018-03-15 23:54] mattklein123 commented on #2754
Per https://github.com/envoyproxy/envoy/pull/2751 we are just going to get rid of NVLOG, so going to close this out.

[2018-03-15 23:54] #2754 closed

[2018-03-16 00:01] mattklein123 commented on #2069
OK sorry for the radio silence here. The new proposal after chatting with various people is:

1. We will drop <maturity_level>. We can cover that via docs as needed. For now we will assume that anything in the core Envoy repo is sufficiently mature that it should be tested, adhere to standards, etc. In the future we might possible have some type of sandbox repo with additional extensions that are

[2018-03-16 00:05] mattklein123 commented on #2817
Another one I found on Twitter: http://fbinfer.com/

Not sure how easy any of these will be to integrate with Bazel.

[2018-03-16 00:40] mattklein123 opened #2832 "v1 deprecation tracking"
- [ ] https://groups.google.com/forum/#!topic/envoy-announce/Lb1QZcSclGQ
- [x] https://github.com/envoyproxy/envoy/issues/2100
- [x] https://github.com/envoyproxy/envoy/issues/2139
- [ ] https://github.com/envoyproxy/envoy/issues/5355

[2018-03-16 00:52] dio commented on #2778
@rshriram do you think this one is also related with: envoyproxy/data-plane-api#540?

@taion809 do you have ideas what should the API look like? Does something like:

[code]
works?

[2018-03-16 01:42] cl51287 commented on #2804
Helped a lot, thanks

[2018-03-16 03:30] ramaraochavali commented on #1965
@mattklein123 so looks like we have agreement on the approach and the issues. I will start putting up PR and let us how it goes. I definitely may need your help in the locking aspect. We can discuss on that in the PR.

@postwait thanks for your inputs here. As we discussed earlier on this issue, would you be OK to provide those statistical computation functions/apis for p90 etc  on the histograms

[2018-03-16 03:41] #2782 closed

[2018-03-16 11:03] postwait commented on #1965
It is there, last function in the header.

//! Approiximate n quantiles of all values stored in the histogram
//! \param *q_in array of quantiles to comute
//! \param nq length of quantile array
//! \param *q_out pre-allocated array where results shall be written to
API_EXPORT(int) hist_approx_quantile(const histogram_t *, double
*q_in, int nq, double *q_out);

q_in would just be [0, 0.25, 0.5, 0.

[2018-03-16 11:13] ramaraochavali commented on #1965
@postwait thanks.

[2018-03-16 14:42] htuch commented on #2069
@mattklein123 can you elaborate on (3)? Are you saying the factories for modules will still lives outside `/source/extensions` or are you only referring to the core factory code?

[2018-03-16 14:48] alagalah commented on #2069
IMHO dropping maturity level from the dir structure is a good idea. Less churn. Could be handled by build time defines I guess. i.e. "give me all the mature extensions" with still having per extension granularity. I'm happy to help if there is a particular task you want to farm out.

[2018-03-16 15:19] AmerbankDavd commented on #815
Envoy is used in my Istio container. But I don't know where to find that config file.

[2018-03-16 15:58] srikailash commented on #2832
@mattklein123, i can work on these issues.(as i see both the issues are tagged with beginner, would be appropriate to me). Thanks!

[2018-03-16 17:19] mattklein123 commented on #2804
Cool, closing as answered.

[2018-03-16 17:19] #2804 closed

[2018-03-16 17:19] #2758 closed

[2018-03-16 17:32] clnperez commented on #2665
@vbatts Was that the commit that fixed it (i.e. could I cherry-pick it in)? or just one where it worked? :D

[2018-03-16 17:37] #2597 closed

[2018-03-16 17:43] mattklein123 commented on #2069
@htuch re: (3) my intention is to remove https://github.com/envoyproxy/envoy/tree/master/source/server/config and colocate the static registration with each extension. I think this will be a very nice improvement for readability.

@alagalah I had the same idea about build tagging. I think we should explore this in the future.

[2018-03-16 17:48] ggreenway commented on #2069
+1 on colocating registration with the extension.

[2018-03-16 17:50] vbatts commented on #2665
@clnperez sorry, my comment was not clear.
I was trying to build an older commit of envoy with latest bazel at the time (v1.10.1) .That is why got a parse error.

Once I pulled the latest HEAD of envoy, then the build was successful.

It's less than ideal, but the envoy codebase  is fairly lock-step with bazel releases.

[2018-03-16 17:55] mattklein123 commented on #1965
@ramaraochavali yup SGTM. Feel free to get started. If you are stuck on anything reach out and I can look at a WIP branch. Thank you!

[2018-03-16 17:56] vjsamuel commented on #2597
@pitiwari awesome work! thanks for this!

[2018-03-16 18:52] srikailash commented on #2139
@mattklein123, I would like to work on this. Feel free to assign this to me. Thanks!

[2018-03-16 18:58] mattklein123 commented on #2139
@srikailash thank you!!!

[2018-03-16 20:10] zuercher commented on #2247
I wrote a design document for this. Would love comments from anyone interested in this.

https://docs.google.com/document/d/1QuiZMT1ruetavVHsj4Sv55YpBFVxTEzJj-ZpOJqAboc/edit?usp=sharing

[2018-03-16 20:11] mattklein123 commented on #2247
@zuercher sweet will take a look. Can we also make sure to get some folks with Thrift domain knowledge to review? Can you recommend anyone specific?

[2018-03-16 20:22] brian-pane commented on #2247
Thanks @zuercher, I've shared the doc with the people at Pinterest who are working on Thrift.

[2018-03-16 21:21] PiotrSikora commented on #2817
Looks that Coverity Scan is back.

[2018-03-16 21:29] mattklein123 commented on #2817
@PiotrSikora yeah I saw. I'm going to change this title to track automating coverit uploads. We need to figure out how to do that. Potentially we can have a CI job that just runs on master commit.

[2018-03-16 21:31] caniszczyk commented on #2817
LGTM reached out and apparently supports C/C++ in beta and willing to help out: https://lgtm.com/

I may play with it over the next week or so to see how it works, however, all these tools aren't perfect by any means.

[2018-03-16 22:08] kflynn commented on #2776
Individual requests usually complete  in under 10ms... and by design, my _connection_ will never complete at all until Envoy shuts it down. So while the drain time is deliberately short, it seems that it can't be the real culprit.

After digging into this a bit further, it seems that the root of the problem is that Envoy should be sending `Connection: close` when it's about to shut the connection

[2018-03-16 22:20] sjvs commented on #2817
Hi guys. I tried adding Envoy to our C/C++ beta, but it's not entirely clear what the best way to build your code is. It'd be great if you could give me some pointers — happy to help! Here's an example on how we set up rsyslog for lgtm analysis: https://github.com/rsyslog/rsyslog/pull/2548.

[2018-03-16 22:48] jboeuf commented on #170
Thanks much @alyssawilk. I'll give it a shot and let you know.

[2018-03-16 22:59] mattklein123 commented on #2776
Envoy will send `connection: close` when it is doing a full drain close of a connection. It can only do this when it is sending a response.

I'm not sure the sequence of events that is causing this, but the root cause is your drain time is too short. Please make it longer and see if the issue still happens.

[2018-03-16 23:51] PiotrSikora commented on #2832
We don't have good story for deprecating `bind_to_port`. Should we promote it to v2 or should we migrate to `prefix_ranges` and `destination_port` from `FilterChainMatch` (not implemented yet)?

cc @htuch @kyessenov

[2018-03-17 17:19] mattklein123 commented on #2832
@PiotrSikora re: removing v1 support, IMO this is just removing v1 config processing, not necessarily all of the "v1 deprecated" fields in the v2 config. I think we can keep those until we have a complete story for them?

[2018-03-17 19:13] mattklein123 commented on #2817
I think we can just do https://github.com/envoyproxy/envoy/tree/master/ci#coverity-scan-build-flow on master commits. Will move this into 1.7.0 milestone. If anyone in the community wants to help with this, that would be great.

[2018-03-17 19:14] mattklein123 commented on #2801
@bobbytables I'm going to close this out. If it's still not working please hop into the osx-dev Slack room and hopefully someone can help out there.

[2018-03-17 19:14] #2801 closed

[2018-03-17 19:15] mattklein123 commented on #2820
Closing as answered. Let us know if you have further questions.

[2018-03-17 19:15] #2820 closed

[2018-03-17 19:15] mattklein123 commented on #2819
Closing as answered. Please feel free to open a feature request issue with more details on the requirements and use cases.

[2018-03-17 19:15] #2819 closed

[2018-03-17 19:16] mattklein123 commented on #2770
Closing as answered. Please feel free to comment on https://github.com/envoyproxy/envoy/issues/378 if you want to continue the conversation on more complex static file serving.

[2018-03-17 19:16] #2770 closed

[2018-03-17 19:18] mattklein123 commented on #2594
Going to close this out as it's a bit stale. If this is an issue some realtime debugging in Slack might be better at solving this.

[2018-03-17 19:18] #2594 closed

[2018-03-17 19:18] mattklein123 commented on #2746
Going to close this out for now. @objectiser once you finish talking with the Istio folks can you open a more explicit feature request issue and we can discuss there? Thank you.

[2018-03-17 19:18] #2746 closed

[2018-03-18 00:39] srikailash commented on #2139
@mattklein123, regarding migrating examples(https://github.com/envoyproxy/envoy/tree/master/examples). I see that all the examples are migrated here (https://github.com/envoyproxy/envoy/pull/2286). Should i just clean-up by removing the deprecated files? Thanks!

[2018-03-18 10:15] dio commented on #2785
@mattklein123 @saumoh could we divide this into two tickets?

1. Static config case, by checking if filter uses `envoy_grpc` then `proto_config.grpc_service().envoy_grpc.cluster_name()` is inside the current bootstrapped `context.clusterManager().clusters()`.
2. Dynamic config case.

If it's OK, I could probably help working on the first one, while still investigating on the second one. Thank you.

[2018-03-18 13:59] ramaraochavali commented on #1965
@postwait i am trying to include this and build with envoy and I am getting the following error in Mac Sierra Xcode 9.

**Undefined symbols for architecture x86_64:**
  "hist_alloc()", referenced from:
[code]
Do you know if it compiles on Mac and if any special flags need to be passed?

[2018-03-18 19:27] rshriram commented on #2778
This is partially related. With regard to making routing decisions - that’s a bigger topic. We used to do the same stuff like you on openresty with balancer by lua. When we moved to Envoy, this was something that was explicitly absent. But it was for a good reason. It kept the routing architecture in Envoy clean and simple.

Can you show me some of your lua snippets ? Perhaps i could help transiti

[2018-03-19 00:49] glicht commented on #1278
Hi All,

Would be happy to help out here.

I want to implement the part of the dynamic metadata on a request from a filter as described by @mattklein123.

Basically,  I was thinking of adding a DynamicMetadata map to RequestInfo with a setter method: setDynamicMetadata(namespace, struct).

[2018-03-19 02:05] mattklein123 commented on #2139
@srikailash these configs remain: https://github.com/envoyproxy/envoy/tree/master/configs

We should convert them to v2 YAML.

[2018-03-19 02:11] mattklein123 commented on #2785
@dio yes we can split. The dynamic case is being discussed in https://github.com/envoyproxy/envoy/issues/2762. I would check to see if @saumoh is fixing or not. The static case should be trivial to fix.

[2018-03-19 02:12] #2538 closed

[2018-03-19 02:19] mattklein123 commented on #1278
@mrice32 or @rodaine are you working on this soon or should @glicht take a look?

[2018-03-19 02:30] mrice32 commented on #1278
I've already completed the portions I mentioned above that we needed internally (see #2345, #2392, #2435), so we don't have any plans/need to add the dynamically built metadata object. It would be awesome for @glicht to take a look at that.

[2018-03-19 02:43] #2779 closed

[2018-03-19 03:12] htuch commented on #2069
+1 on proposal so far, but we need to also figure out what happens with test code. @dio has done some example implementation of this layout in https://github.com/envoyproxy/envoy-filter-example/pull/43/files. There are two features there of interest:
1. Source and test code are not colocated (same as Envoy structure today).
2. We now have two subtrees that reflect the extensions hierarchy, `test/e

[2018-03-19 03:19] mattklein123 commented on #2069
In general, I have a preference for a "single root," but my concern was that it was going to break too many things which assume the code is in //source and //test. So I was planning on doing the former. Yes the integration cleanup sounds good to me. If people feel very strongly about "single root" we can look into what it would take to make that happen.

[2018-03-19 03:58] saumoh commented on #2785
@dio and @mattklein123 I was thinking of addressing  item 2 directly in which case we won't need to add a check for 1. wdyt?
Will get to it this week.

[2018-03-19 09:51] dio commented on #2785
@saumoh cool!

[2018-03-19 15:18] cmluciano commented on #865
Any chance we can enhance the [grpc bridge example](https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/grpc_bridge#envoy-grpc) to satisfy this issue?

[2018-03-19 15:29] cmluciano commented on #2541
@liamawhite Think we can close this issue for now?

[2018-03-19 16:16] kflynn commented on #2776
With all respect, @mattklein123, too short for what exactly? :smile:

Remember that we have only _one_ connection active and only _one_ request in flight -- so there's only _one_ stream active in Envoy, and in my test it has a typical lifespan of less than 20ms. And, in fact, I see Envoy logging `drain closing connection`, but not doing anything about that.

I just reran the test to be able to bui

[2018-03-19 16:38] alyssawilk commented on #2069
FWIW I'm not averse to experimental / production, I really just didn't have a feel for what went there.
 Most of the documented reasons for doing this were around the experimental / production split, with the last being around owners/reviewers.  For that last issue,  Would we have subdirectory-per-various filters and have  /source/extensions//http_filters/lua owned by lua-savvy people or do more o

[2018-03-19 17:15] mattklein123 commented on #2776
@kflynn I'm sorry but I don't have time to go through this in detail. Envoy uses an incremental drain sequence to slowly drain connections. It's quite likely that your connection is not getting selected for drain, and then the parent shutdown time is too short to allow for proper drain before the entire process shuts down.

As I've already asked, please try longer drain times and see if that helps

[2018-03-19 17:15] mattklein123 commented on #2541
@cmluciano yeah I'm going to close as won't fix since I really don't think this is the right design direction. Let's reopen or discuss on envoy-dev@ if we think otherwise.

[2018-03-19 17:15] #2541 closed

[2018-03-19 17:16] mattklein123 commented on #865
@cmluciano optimally it would be a pure gRPC example IMO.

[2018-03-19 17:28] #2738 closed

[2018-03-19 17:51] mattklein123 commented on #2785
@saumoh SGTM, thanks.

[2018-03-19 17:52] mattklein123 commented on #2028
@jsedgwick big +1 to the general plan. I don't feel super strongly where the proto is placed. IMO I would actually probably put it here: https://github.com/envoyproxy/data-plane-api/tree/master/envoy/api/v2/cluster since it's part of core cluster management.

[2018-03-19 18:41] liamawhite commented on #2541
Agreed

[2018-03-19 19:06] jsedgwick commented on #2028
@mattklein123 interesting, I like the idea of having these (and there will be more, presumably) alongside the components they're logging for. I guess my concern is discoverability if logging structures aren't all in the same-ish place. Trying to cc Brian if he's opinionated about that (I'm not, really) but can't find his username here.

In any event, I'll get this going with `api/v2/cluster/{outli

[2018-03-19 20:02] mattklein123 commented on #2028
I don't really have a strong opinion about this either. I don't think discoverability is really that big of a problem in general in this case. I assume you are referring to @brian-pane?

[2018-03-19 20:08] #2713 closed

[2018-03-19 20:37] jsedgwick commented on #2028
Nope meant @btc, github wasn't recognizing his handle on autocomplete.
Anyways, SGTM in `cluster/`

[2018-03-19 22:12] #2827 closed

[2018-03-19 23:17] ilackarms opened #2847 "allow preserving the route cache in the JSON-gRPC transcoder filter"
*Description*:
The JSON-gRPC transcoder currently clears the route cache ([here](https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/json_transcoder_filter.cc#L220)), causing routes to be recalculated based on the outgoing request headers (e.g. the transformed `:path` header, etc.).

This is useful if the user has defined routes that match the outgoing request. If the user has not d

[2018-03-20 00:12] lizan commented on #2847
What is the use case of not defining a route for outgoing request? Can you provide a concrete example, better with a sample envoy config?

I feel the configuration would make users confused, even you can skip the route cache being reset by the JSON-gRPC transcoder, other filters can trigger it easily. We might need a better approach to solve your issue.

[2018-03-20 01:11] yuval-k opened #2851 "hcm: Add metadata specific the routed cluster in weighted_clusters."
*Description*:

Right now when a route points to multiple clusters, we don't have a good way of inferring  metadata
information specific to the routed cluster. more specifically when multiple clusters are in the route.

In solo.io we to get more info on the cluster chosen for routing, for example, in our transformation filter. we attach the transformation to perform to the route metadata.

To over

[2018-03-20 01:30] mattklein123 opened #2852 "Kafka protocol filter"
It's looking like Lyft may be able to fund Kafka protocol support in Envoy sometime this year.

Community, can you please chime in on what you would like to see? I know this will be a very popular feature. Stats (as in the Mongo filter) are a no-brainer. What else? Eventually routing and load balancing for languages in which the Kafka client drivers are not as robust?

[2018-03-20 02:23] ilackarms commented on #2847
Using the following gRPC method as an example:

[code]

The incoming request must already match `GET /shelves` in order to get routed to `ListShelves`. Why should the author of Envoy's config also need to be aware of the route on the upstream, `/bookstore.Bookstore/ListShelves`? Envoy already knows this because it has access to my `descriptors.pb`.

The workflow I'd like to achieve could conceivab

[2018-03-20 03:27] ldemailly commented on #2715
it should be fixed whether it is a regression or a newly discovered issue, not sure why that would matter

[2018-03-20 03:29] gwenshap commented on #2852
First, this is totally awesome.
Second, someone with Kafka experience but rather new to service meshes, I have two types of suggestions: I have some additional features that I'd want to use if I had a Kafka-Proxy and then I also have a very unbaked suggestion for a different way to look at Kafka/Mesh integration that I'd like to discuss.

Let's start with additional features (not all are my idea,

[2018-03-20 03:29] travisjeffery commented on #2852
This would be dope. A couple use cases to start are request logs and stats. You can also build a nice audit log by taking your request logs and enriching them with the users's info. This could also help people write their own Kafka filter adding features like upconverting old Kafka clients to newer protocol versions.

[2018-03-20 05:03] mattklein123 commented on #2852
Thanks @gwenshap those are all great ideas. Would love to discuss more. If Confluent is potentially interested in helping with this (even if just design) can you or someone else reach out to me? My email address is easy to find or you can DM me on Twitter to connect.

[2018-03-20 05:04] mattklein123 commented on #2852
Other interesting ideas that come to mind:

- Add Kafka support to the upcoming tap/dump feature so that we can dump to a Kafka stream.
- Shadow requests to a Kafka stream instead of HTTP/gRPC shadow.

[2018-03-20 05:09] theduderog commented on #2852
@mattklein123 Do you mind explaining the primary use case you had in mind?  Would this be a "Front Envoy" that might be used for ingress into Kubernetes?  Or would a side car proxy pretend to be all Kafka brokers to local clients?

[2018-03-20 07:21] wushujames commented on #2852
* tracing/monitoring: who is writing to which topics? Create a graph of data flow from producers to topics to consumers. https://logallthethings.com/2017/05/17/visualizing-the-flow-of-data-as-it-moves-through-a-kafka-cluster/
* add compression to apps which aren’t already using it
* add/remove SSL for traffic headed to/from broker
* fault injection. Trigger consumer rebalances, broker down, produc

[2018-03-20 10:45] alexandrfox commented on #2852
Awesome that you guys are looking into Kafka protocol support, that'd be an amazing feature to have!
+1 to @gwenshap and @wushujames ideas, also:

- dynamic routing (for multicluster setups) of producers and consumers. This, in conjunction with a control plane would be a killer-feature: cluster/topic drain operations and rebalancing potentially become much easier;
- double-producing (e.g. if user

[2018-03-20 10:58] dasch commented on #1104
:+1: to this – being able to e.g. present a pool of sharded databases as a single instance (based on e.g. a column value) would be a killer feature.

[2018-03-20 14:54] btc commented on #2028
I agree it is reasonable to bundle the data proto messages by feature. I don't have a strong opinion and `cluster` SGTM. I presume the gRPC service definition, once defined, will be located in [data-plane-api/envoy/service](https://github.com/envoyproxy/data-plane-api/tree/master/envoy/service). 👍

[2018-03-20 14:55] sdotz commented on #2852
Monitor consumer lag
Failover to another cluster/datacenter while maintaining log position (hard due to offset mismatch)
Mirroring topics to another cluster, or teeing publishes "exactly once" to maintain identical clusters
Automatic topic switching e.g. specify `my_topic_*`  to consume `my_topic_1` and switch to `my_topic_2` when it becomes available, transparently to the consumer. This would be

[2018-03-20 15:00] mbogoevici commented on #2852
Between @mattklein123 @gwenshap and @wushujames this is an awesome list of features.

As a general question, particularly for Matt: would you see any value in capturing some of the more generic features and turning them higher level abstraction for messaging support in the service mesh?

[2018-03-20 15:20] sdotz commented on #2852
Perhaps also look at some of what [kafka-pixy](https://github.com/mailgun/kafka-pixy) does. I find the wrapping of Kafka's native protocol into with REST/gRPC to be pretty compelling. This better supports usage from FaaS and apps that don't necessarily have the ability to do a long-lived connection.

[2018-03-20 15:55] lps0535 opened #2853 "upstream connect error or disconnect/reset before headers service unavailable"
*Description*:

https://www.envoyproxy.io/docs/envoy/latest/start/start

I downloaded the Dockerfile and google_com_proxy.v2.yaml in the same folder and after that I ran
these 3 commands:
$ docker build -t envoy-google-test:v1 .
$ docker run -d -p 10000:10000 envoy-google-test:v1
$ curl -v localhost:10000

Now when I run curl command I get this error "upstream connect error or disconnect/reset bef

[2018-03-20 15:56] mpuncel commented on #439
I'd like to +1 this feature, we have a few cases where we'd like to be able to health check a port that's different from the "traffic port"

[2018-03-20 16:13] mpuncel commented on #439
I looked through the previous PR. It sounds like the idea to add a "health check address" to each endpoint in EDS was uncontroversial but figuring out a clean design for specifying an alternate health check port when using strict or logical DNS (and probably static hosts) was difficult.

Would it be reasonable to add the "health check address" config option to EDS first, and then follow up with th

[2018-03-20 16:23] lps0535 commented on #2853
I put in clusters:
dns_lookup_family: V4_ONLY
and it worked.

[2018-03-20 16:37] mattklein123 opened #2854 "Remove NVLOG compile define"
Per https://github.com/envoyproxy/envoy/pull/2751#issuecomment-374638121.

cc @cpakulski

[2018-03-20 16:41] mattklein123 commented on #2853
Hmm, I guess that is still required in some cases. I will revert.

[2018-03-20 16:48] joshuarubin opened #2855 "Gzip filter compresses content when Accept-Encoding header is not present in request"
It looks like this is intended behavior as it is tested. However, the [documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/gzip_filter.html#config-http-filters-gzip) states:

https://github.com/envoyproxy/envoy/blob/a36fc3e8f2d64b86dbd2103f9143ac3515c16fba/source/common/http/filter/gzip_filter.cc#L193

https://github.com/envoyproxy/envoy/blob/a5550892f40cb8a3eb174

[2018-03-20 16:58] dcieslak19973 opened #2856 "Database protocols"
**Issue Template**

*Title*: Can Envoy be used for protocols like Microsoft SQL Server?

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

Question - Suppose I have an application that talks to one or more MS SQL Server databases (leave aside whether it SHOULD be talking to multiple databases). Could I use Envoy to step in between the application a

[2018-03-20 17:13] lps0535 opened #2857 "How to redirect request using prefix other than "/"."
*Title*: How to redirect request using prefix other than "/".

*Description*:
I want to redirect an incoming request to envoy to one of my services. Currently I'm using Envoy as a Front proxy only. Till now I've been using prefix = "/" but when I try putting prefix = "serviceA"or anything other than "/", it doesn't redirect and shows 404 Error. I'm accessing the service as
http://localhost:10000/s

[2018-03-20 17:14] #2733 closed

[2018-03-20 17:19] mattklein123 commented on #2847
Hmm. Would need to think about this more. I suppose we could add some type of option that locks the ingress route, but then filters would basically not work and I think that would be super confusing. i guess my gut feeling is to make this an option on a per-filter basis if it makes sense to do so.

[2018-03-20 17:35] danielhochman commented on #2855
cc @gsagula

[2018-03-20 19:15] lizan commented on #2847
I'm OK to doing per-filter basis. I thought it just confuses more in cases that some filter combinations would result random routing result. IMO having the option that locks the ingress route might confuses filter devs more, but confuses users less.

[2018-03-20 19:57] hennna opened #2860 "Support api_config_source without cluster_names"
*Title*: *Support api_config_source without cluster_names*

*Description*:
To support deprecation of cluster_names in api_config_source (https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L184)

we should relax/remove assertions that cluster_names.size() is 1 (https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L185)

and also handle call si

[2018-03-20 20:02] hennna commented on #2860
@mrice32

[2018-03-20 20:26] dio opened #2861 "PostgreSQL-aware filter"
Probably we can add a PostgreSQL-aware filter? Especially on handling the conn pooling (the infamous "FATAL:  remaining connection slots are reserved for non-replication superuser connections" often happens when client tries to pool the conn inside the client directly).

Similar with:
- [pgpool](http://www.pgpool.net/docs/latest/en/html/intro-whatis.html)
- [crunchy-proxy](https://github.com/Crunc

[2018-03-20 20:52] clnperez commented on #2665
@vbatts that's what i was trying to do as well. i ended up cherry-picking in 95ee420c379942fd692b42c84a1fd5ef4d7035ec and i could do what i wanted :)

[2018-03-20 20:54] mattklein123 commented on #2851
Sounds reasonable to me. @zuercher WDYT?

[2018-03-20 20:58] mattklein123 commented on #439
@mpuncel yes, at this point I think it's reasonable to just make this happen for EDS only which I think would not be too hard. I would add alternate HC port information to https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/endpoint/endpoint.proto#L19 most likely. If you want to tackle I would do a data-plane-api PR and we can discuss the details there.

[2018-03-20 21:02] mattklein123 commented on #2428
@zuercher I hate to propose this, but what if on OSX we retry the bazel test command once if it fails? (Or maybe there is something built-in to bazel to retest). This is obviously not great, but would probably cause almost all of the flakes to go away.

[2018-03-20 21:19] zuercher commented on #2851
That seems reasonable to me as well.

[2018-03-20 21:38] zuercher commented on #2856
It would be straightforward to configure Envoy as a sidecar to your application to automatically forward requests on a particular port to a particular database. (e.g. an L4 proxy). However, that's probably not sufficient if the protocol itself contains database server and name information.

More advanced configurations would require additions to the available filters in Envoy. For example, someone

[2018-03-20 21:42] zuercher commented on #2861
It's certainly possible to implement a PostgreSQL filter. Let's use this ticket to put together a set of features you'd like to see and to gauge interest.

[2018-03-20 22:28] zuercher commented on #2857
Your config is forwarding your request to "www.google.com/serviceA", which is going to return a 404 (from Google).

If you add `prefix_rewrite: "/"` to your route action (where the host_rewrite is), it will forward to "www.google.com/" and you should get a 200.

[2018-03-20 23:39] mattklein123 opened #2864 "1.6.0 deprecation cleanups"

[2018-03-20 23:51] mattklein123 commented on #1178
@junr03 can you take a look at this in the context of the conversation we had today about increasing the fidelity of Envoy error responses in certain cases? We should put together a small design that covers this and the common cases.

For everyone else, at Lyft we would like the ability to have better control over what Envoy returns in error cases. For example, can we return not only a 503, but al

[2018-03-20 23:59] zuercher commented on #2247
I've made some updates to the doc with feedback I received outside of Github and Google docs.

@mattklein123 what's the process for going forward once I finish resolving the remaining comments on the doc?

I'd also like your take on the feasibility of writing a base L7 router that could be reused for multiple protocols (per my response to @htuch's question about keeping parity with GRPC stats/trac

[2018-03-21 00:00] mattklein123 commented on #2247
@zuercher I would just go for it. It's on my list of things to review. I will take a look tomorrow morning.

[2018-03-21 02:07] htuch commented on #2069
I'm not hearing any strong argument for single root. @mattklein123 @alyssawilk @ggreenway can you folks all take a look at https://github.com/envoyproxy/envoy-filter-example/pull/43 and see if this matches what you envisage in the new layout? If so, we can merge that and we can move to applying this to the main repo.

[2018-03-21 02:09] htuch commented on #2832
Yeah, I think that would be alright, as long as we can drop having to maintain v1 config ingestion and the associated support overhead and translation code.

[2018-03-21 02:30] htuch commented on #2847
I would also vote for per-filter, since I think we are going to provide surprising behavior to users in any case if we break filters that can't handle route locking. This is the least surprising path IMHO.

[2018-03-21 02:40] dio commented on #2861
I'd like to see what `crunchy-proxy` has, the most wanted perhaps these two:

- ability to route messages based on the SQL command type - writes are sent to a master and reads are sent to replicas in a round-robin fashion
- connection pooling

[2018-03-21 02:43] mattklein123 commented on #2069
Yes envoyproxy/envoy-filter-example#43 is essentially what I was planning on doing. I was planning on moving the echo filter first, since it's so simple. Probably on Friday. So perhaps I can do that and then we can look at that PR and envoyproxy/envoy-filter-example#43 together and then make a final call?

[2018-03-21 03:07] mdamt commented on #2861
* routed queries
* weighted reads

[2018-03-21 04:54] yudiandreanp commented on #2855
It happened on our deployment environment. We expected no compression without the header, but envoy still compressed it.
I thinks it's a bug.

https://tools.ietf.org/html/rfc2616#page-103
The RFC also says that the proxy should use any encoding if no Accept-Encoding header specified:

[2018-03-21 10:07] ramaraochavali commented on #1965
@postwait thanks, was able to get the envoy build going with libcircllhist, integrated with one latency histogram , ran few requests and was able to extract the stats out of it. Will reach out to you if I need any further help.

[2018-03-21 13:42] ggreenway commented on #2069
I have a mild preference for single root, with test code located near the thing it is testing, instead of a parallel directory structure for tests. But I don't feel at all strongly about it, so if everyone else is happy with this, I say go for it.

[2018-03-21 14:09] hennna commented on #2342
Does this issue include implementation of source_prefix_ranges in https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/listener/listener.proto#L78?

[2018-03-21 14:35] alyssawilk commented on #2069
I think the encoder/decoder split makes sense for the example code, but are we planning the same split for non-example code?

I'm with Greg that I mildly prefer code and tests to be colocated (test code is easy to flag in build rules with testonly) but will go with what folks prefer.

Otherwise 'tis fine by me

[2018-03-21 16:20] #2655 closed

[2018-03-21 16:53] phylake commented on #2857
I'm facing a similar issue. [`prefix_rewrite`](https://www.envoyproxy.io/docs/envoy/v1.6.0/api-v2/api/v2/route/route.proto.html#route-routeaction) should be replacing only the matched prefix but it appears to be replacing the entire matched **path** based on my observation

[code]

I expected the request to `127.0.0.1:10000/some_service/health` to map to `127.0.0.2:1234/health`

I can only think t

[2018-03-21 17:06] phylake commented on #2857
Should have waited a few more minutes to post. `prefix: "/some_service/"` works

[2018-03-21 18:00] gsagula commented on #2855
@yudiandreanp @joshuarubin The filter should not compress the content when no Accept-Encoding is present. I'll work on the fix.

Thanks for reporting the issue.

[2018-03-21 18:55] zuercher commented on #2857
I'm going to close this, but just to clarify:

[code]

will happily rewrite "/prefix/foo" to "//foo" and forward it. Depending on the upstream that can have odd results.

To correctly rewrite "/prefix" to "/" and "/prefix/foo" to "/foo", you need two routes.

[2018-03-21 18:55] #2857 closed

[2018-03-21 18:59] mattklein123 commented on #2069
I wasn't planning on it.

I don't have a strong preference on this one way or the other. The main issue I see with colocating test code with source code is that we don't do it anywhere else, so it's a bit strange. One middle ground would be to do:

[code]

But just put the integration tests colocated with the unit tests. That seems fine to me and would reduce one aspect of the split? Thoughts?

[2018-03-21 19:10] mattklein123 commented on #2247
@zuercher the plan LGTM. I dropped some comments in re: @htuch comments. We can continue the discussion there or here, whichever is easiest.

[2018-03-21 19:14] alyssawilk commented on #2069
Agree, if we wouldn't move the rest of the tests to be colocated it'd be sort of weird.   I figured if we were moving around 80% of the code it was worth discussing the other 20% but no need to make this larger than it is :-P

I prefer keeping unit tests and integration tests separate, since integration tests often cover more than one thing, so of the two choices I'd lean towards keeping things as

[2018-03-21 19:22] mattklein123 commented on #2069
Yeah I think this more like 20% code movement, vs. the other way around. OK SGTM. I will do the echo PR on Friday.

[2018-03-21 19:34] shalako commented on #1990
In Cloud Foundry we're currently running Envoys as a sidecar in each application container. They currently only handle ingress traffic from a downstream multi-tenant platform edge routing tier, and are configured with a TCP listener only. We use them only for terminating TLS from the edge routers.

When our scheduler wants to delete a container, as when a user scales down the number of app instanc

[2018-03-21 19:58] lps0535 commented on #2853
Hi @mattklein123
I'm unable to figure out what's the issue, but this error pops out sometimes and sometimes it doesn't.

**Error: "upstream connect error or disconnect/reset before headers"**

What's the problem in this config file?

**Config File**:
static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 3000
    filter_chains:
    - filters:

[2018-03-21 21:41] hennna commented on #2342
@ccaraman

[2018-03-22 00:09] samuelyoungsc opened #2869 "Should HTTP AsyncClient always send XForwardedFor?"
*Title*: Should HTTP AsyncClient always send XForwardedFor?

*Description*:
I tried using the HTTP AsyncClient to issue requests to the GCE/GKE local metadata service. As far as I know, I need to model the service (http://169.254.169.254) as cluster in order to use the HTTP AsyncClient (https://github.com/envoyproxy/envoy/blob/master/include/envoy/upstream/cluster_manager.h#L97). It seems that HTT

[2018-03-22 02:46] htuch commented on #2869
As discussed on Slack, we probably want XFF to be configurable in general. In your specific case, I'm wondering why Envoy is sending XFF still. The GCE/GKE metadata service is not inside the service mesh, we're essentially egresssing, should Envoy know to strip XFF headers on an egress cluster? This question is probably more for @mattklein123.

[2018-03-22 06:19] 249043822 commented on #2180
@mattklein123  Is #2402 fixed this problem? Now i user the newest master branch, still got such errors below.
[root@k8s envoy-master]# ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'
ENVOY_SRCDIR=/source
HEAD is now at 59a7fe5... Fix integration test (#35)
building using 32 CPUs
gcc/g++ toolchain configured
bazel release build...
Building...
INFO: $TEST_TMPDIR defined: output ro

[2018-03-22 07:48] lps0535 commented on #2857
Hi @zuercher and @phylake
I'm trying to use Envoy as front proxy only and I'm using filter "gRPC-JSON transcoder" as I'm working with gRPC, and this filter works fine.

When I use  "prefix": "/" and "prefix_rewrite": "/", and hit **localhost:3000/errorclass** I get 200 response code which is good and I think "localhost:3000/errorclass" gets mapped to "10.104.3.32:50054/errorclass". Please correct

[2018-03-22 11:21] sudeeptoroy commented on #2180
Looks like you have set the http_proxy and https_proxy.

Use this as an example:
http_proxy=http://proxy.foo.com:8080 https_proxy=http://proxy.bar.com:8080
./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'

On Thu 22 Mar, 2018, 11:49 AM KeZhang, <notifications@github.com> wrote:

--

Regards,
Sudeepto Kumar Roy

sent from a phone

[2018-03-22 11:35] 249043822 commented on #2180
@sudeeptoroy  still the same error, looks like the proxy doesn't work inside the container

[2018-03-22 11:59] sudeeptoroy commented on #2180
Looks like only golang/protobuf download failed other went through fine.. i
did not debug further.. u can use the hack to move forward unless someone
wants to find out what's special with this golang/protobuf package..

On Thu 22 Mar, 2018, 5:05 PM KeZhang, <notifications@github.com> wrote:

--

Regards,
Sudeepto Kumar Roy

sent from a phone

[2018-03-22 12:18] cl51287 opened #2872 "A question about service discovry"
I found the "Service discovery" is used to find the members of the clusters to envoy, and decide which cluster will be requested when a request visit envoy use a domain. But before this request visit envoy, the client must know the address of this domain first, Whether we must deploy a service discovery system in the client system in order to find the address of this domain? So, we must have two S

[2018-03-22 12:50] 249043822 commented on #2180
@sudeeptoroy As i have used the hack to download all packages, i still could not compile successfully, can you help me ? Thx

ENVOY_SRCDIR=/source
HEAD is now at 59a7fe5... Fix integration test (#35)
building using 32 CPUs
gcc/g++ toolchain configured
bazel release build...
Building...
INFO: $TEST_TMPDIR defined: output root default is '/build/tmp' and max_idle_secs default is '15'.
WARNING: ignor

[2018-03-22 14:52] lps0535 opened #2873 "Envoy as Front Proxy and exposing backend service which use gRPC"
Hi,

**_Description_**
I'm trying to use Envoy as front proxy only and I'm using filter "gRPC-JSON transcoder" for incoming HTTP or gRPC calls and this filter works fine.

When I use  "prefix": "/" and "prefix_rewrite": "/", and hit **localhost:3000/errorclass** I get 200 response code which is good and I think "localhost:3000/errorclass" gets mapped to "10.104.3.32:50054/errorclass". Please corre

[2018-03-22 15:12] htuch opened #2874 "Improve LB rebuild behavior when health status changes occur"
Today, when health checks transition host status or new health status arrives in EDS (https://github.com/envoyproxy/envoy/issues/2726), we do expensive (at least O(n^2)) rebuilds in various places of the host lists, healthy host lists, locality lists, subsets, WRR, etc.

This isn't great when we scale the number of endpoints per cluster, if we have short health check intervals or if we have short

[2018-03-22 15:12] htuch commented on #2874
@alyssawilk @zuercher FYI, tracking issue.

[2018-03-22 15:16] #2853 closed

[2018-03-22 15:44] lps0535 commented on #2873
Referred this and resolved.
Basically for gRPC I put
routes:
              - match: { prefix: "/Errors/GetErrorClass" }
                route: { cluster: serviceA }

Refer the above proto file to understand better.

[2018-03-22 15:44] #2873 closed

[2018-03-22 17:52] #2855 closed

[2018-03-22 19:11] derekargueta commented on #2709
Cleared out the next few days to do this.

@htuch a couple routes we can go:
1. I can modify the parsing code to be aware of when it's inside `(...)` to interpret `%` differently as the code is currently a simple `find` call to determine the start/end of a command - the downside of this IMO is that the syntax is a bit more ambiguous as `%` is now contextual. `%START_TIME(%Y/%m/%d %H:%M)%`. The ups

[2018-03-22 19:33] htuch commented on #2709
As long as we stick with something that is basically `strftime` I think it's good, even if it's modulo some simple search-and-replace. (1) seems worth trying, I think the first opening parens `(` should make this not too hard.

[2018-03-22 19:51] derekargueta opened #2877 "Ability to specify unit/precision of access log duration"
*Title*: Ability to specify unit/precision of access log duration

*Description*:
Durations are hard-coded to milliseconds, it would be super convenient to be able to specify the unit i.e. seconds so that `3` milliseconds is logged as `0.003`. Additionally, from the code, it appears that the duration is stored using `chrono::nanoseconds` so it shouldn't be difficult to provide precision control fr

[2018-03-22 20:33] ggreenway commented on #1280
@PiotrSikora what's the status on this? I will need this pretty soon, so I can help out on it if you don't have time right now.

[2018-03-22 22:16] sporkmonger commented on #1291
I can't get `/dev/stdout` to work unless I run as root, which I really don't want to do.

[2018-03-22 22:35] brian-pane opened #2879 "perf: reduce the CPU usage of the HTTP access logger"
*Description*:
From a callgraph profile (`perf record -g`) of an Internet-facing Envoy instance serving HTTP traffic, I noticed that the access logging code is using a surprisingly large amount of CPU time. The logging code may be a good candidate for some performance work.

Here is the relevant part of the `perf report --sort parent` output, showing the percentage of total non-idle clock cycles s

[2018-03-22 22:48] brian-pane opened #2880 "perf: reduce the CPU usage of HTTP/1.1 header parser"
*Description*:
From a callgraph profile (`perf record -g`) of an Internet-facing Envoy instance serving mostly HTTP/1.1 traffic, I found that the parsing of request headers and building of the internal HeaderMap structure is somewhat CPU-intensive.

Here is the relevant part of the `perf report --sort parent` output, showing the percentage of total non-idle clock cycles spent in function+children:

[2018-03-22 23:01] wbertelsen opened #2881 "--mode validate does not support cluster configs with custom dns_resolvers"
`--mode validate` does not support configs with custom dns_resolvers

*Description*:
Running `envoy --mode validate` on a config with custom `dns_resolvers` fails with ` panic: not implemented`

*Repro steps*:
Run `envoy --mode validate -c ./example.yaml --v2-config-only`  with the below yaml.
 on `version: 7241be40a3e1cdb450a8a1feb4f468dd3e695f00/1.7.0-dev/Clean/DEBUG`

*Abbreviated Config*:
[cod

[2018-03-22 23:52] mattklein123 commented on #2880
FYI I have spent considerable time heavily optimizing this code path. There are unlikely to be any low hanging fruit here -- HTTP proxy servers end up spending an incredible amount of time dealing with headers. With that said, I would love to have someone else take a look to see if they can find any wins.

[2018-03-22 23:54] mattklein123 commented on #2324
Yup closing.

[2018-03-22 23:54] #2324 closed

[2018-03-22 23:54] mattklein123 commented on #1979
Don't think so. Closing.

[2018-03-22 23:54] #1979 closed

[2018-03-23 00:01] mattklein123 opened #2882 "RFC: Figure out policy for module specific code owners"
Once https://github.com/envoyproxy/envoy/issues/2069 is complete, we will be in a better position to have module specific code owners for extensions. This is good, because the number of requests to add extensions to the main repo is growing. We need to figure out the right way to scale this. I have a bunch of thoughts on this which I will write up within the next couple of weeks but going to open

[2018-03-23 00:12] mattklein123 commented on #2342
@hennna yes, that is what is happening. We might need to clear the route cache in the IP tagging filter if people are going to route on this header. Probably needs a bit of thinking. Unclear if we should do this in all cases. Can discuss.

[2018-03-23 01:30] brian-pane commented on #2880
I'll sign up to look at http_parser.
I'm looking at a source-line-level profile of the http_parser library now. It _might_ be possible to speed up the parser by vectorizing more of it with `memchr`. Conveniently, that library comes with a benchmark program, which will make it easy to validate potential optimizations.

[2018-03-23 02:52] cl51287 commented on #2872
Thx, i have joined slack. You mean i will deploy a envoy at the client system, and modify the dns to envoy, let the client find the domain via Enovy DNS, or configure hosts modify the domain to localhosts?

[2018-03-23 02:55] zuercher commented on #2872
One way is deploy an envoy alongside the client system, with the domain configured as "localhost" (or just "*") and configure the client to make requests to http:\/\/localhost. But it really depends on what you're trying to accomplish.

[2018-03-23 03:15] cl51287 commented on #2872
Thanks for your answer.

[2018-03-23 04:30] mattklein123 commented on #2880
@brian-pane FYI I didn't look at http_parser at all. Yes it's possible that there might be some vectorizing wins. I only optimized the layer on top (custom header string, custom data structure for storing headers, and reducing as many copies as possible).

[2018-03-23 09:28] ramaraochavali commented on #1965
@postwait one small help. I am trying to merge the histograms collected per thread in to single histogram with the following code
[code]
The above loop runs for all the threads. Merged histogram is declared as
`    std::map<std::string, histogram_t*> histograms_;`
After few runs, the code fails with the assertion
Assertion failed: hist_bucket_cmp(tgt->bvs[tgtidx].bucket, src->bvs[srcidx].bucket) =

[2018-03-23 09:28] dio commented on #2881
@zuercher should it be OK to add

[code]

inside `Network::DnsResolverSharedPtr ValidationDispatcher::createDnsResolver`?

[2018-03-23 10:41] ramaraochavali commented on #1965
@postwait never mind. Looks like I found the issue after looking at the code. The target histogram should always be fresh. We can not merge in to existing histo. Is that correct? After I made that change, i stopped getting those asserts.

[2018-03-23 12:08] PiotrSikora commented on #1280
@ggreenway it's mostly done (sans source/destination-based selection), but I'm still missing some tests... I got back to working on it yesterday, again, so hopefully I'll finish this soon, since I've been dragging this for months :(

[2018-03-23 12:12] postwait commented on #1965
You should be able to accumulate onto an existing histogram.

More than likely it is a locking problem.  This histogram manipulation is
all thread-unsafe and the called has to manage exclusive access.

On Fri, Mar 23, 2018 at 6:41 AM, Rama Chavali <notifications@github.com>
wrote:

[2018-03-23 13:30] tommyulfsparre opened #2884 "http2: Should all cluster members be considered healthy at all times?"
Is there a reason why Envoy will select a connection for load balancing even if it can't establish a TCP connection to the upstream?
(I know this behavior is documented in the cluster manger docs under health checks, but curious)

With a cluster definition using http2 (gRPC in our case):
[code]
and we add a "bad/non-existing" hosts as a cluster member we get errors when Envoy tries to send request

[2018-03-23 13:55] ramaraochavali commented on #1965
ok. Thanks. I have not implemented the locking properly at all. Will try that and let you know after that.

[2018-03-23 14:28] jakerobb opened #2888 "Support sending headers with HTTP health checks"
*Description*:
Thanks to some legacy cruft, my health check endpoint will return a 400 error if it is invoked without a specific set of HTTP headers.

This is an enhancement request to allow me to specify one or more headers to be included when Envoy calls the health check endpoint.

*Relevant Links*:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto.html#envoy-api-

[2018-03-23 15:57] brian-pane commented on #2880
An idea for anybody who has time to look into `HeaderMapImpl`: determine whether reducing the size of that struct, and/or grouping commonly accessed O(1)-time header fields within the struct so they’re in the same cache line, will help performance by improving L1 cache hits.  (The approach we used in Proxygen might also be of interest if cache footprint turns out to be an issue: https://github.com

[2018-03-23 17:01] josdotso commented on #2463
I'm having trouble with this with the latest (by hash not tag) docker hub image.

Is this wrong syntax?

[code]

Getting
[code]

[2018-03-23 17:16] zuercher commented on #2884
Envoy assumes [eventually consistent service discovery](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/service_discovery#on-eventually-consistent-service-discovery), so in the absence of health checks, this is the expected behavior.

Even if you enable health checks, you probably want to consider adding a [retry policy](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/rou

[2018-03-23 17:22] zuercher commented on #2881
I'm not very family with this part of the code, but I think we want to prevent any resolution attempts. Looks like you might be able to pass it an empty vector, though.

[code]

Looks like @dnoe has done some work with the DnsResolverImpl and may have a better idea.

[2018-03-23 18:34] cpakulski commented on #2745
@mattklein123 I will implement this.

[2018-03-23 18:41] mattklein123 commented on #2745
@cpakulski OK will add you to org so I can assign.

[2018-03-23 18:46] tommyulfsparre commented on #2884
@zuercher Sure, but is it the right behaviour? It seems wasteful to send a request on connection Envoy could know isn't in a connected/ready state (even if it fail-fast).

Using gRPC without Envoy and plugging in an eventually consistent resolver doesn't have this behaviour, right?

[2018-03-23 18:49] mattklein123 opened #2890 "make buffer filter configurable on a per-route basis"
We should use https://github.com/envoyproxy/data-plane-api/issues/540 for this.

[2018-03-23 19:05] josdotso opened #2891 "Need v2 tcp proxy example."
Hi.  I've been trying to piece together a v2 tcp proxy example, but I keep running into schema issues.  Would you be willing to include one in the docs?  Thanks!

[2018-03-23 19:18] mattklein123 commented on #2869
Just to follow up on what I wrote in Slack:

For better or worse, Envoy makes use of trusted XFF within the mesh to determine whether a request is internal or external. Thus, when making certain kind of local origin requests, we want to set XFF to the sending host/application. One could argue this is not an appropriate use of XFF. On the other hand, one could argue that Envoy is proxying for the a

[2018-03-23 21:28] #2872 closed

[2018-03-23 22:10] PiotrSikora commented on #2535
@shakti-das I'm not saying no, but the linked section of RFC talks about Server Identity, whereas we're talking about forwarding Client Identity. What's the use case here?

[2018-03-23 23:12] mattklein123 commented on #2880
@brian-pane yeah agreed, would love some analysis on the size of the struct, the size of the header string interning buffer, cache alignment, etc. Have never had time to do any of that.

[2018-03-24 00:18] derekargueta commented on #2891
Here's a super simple client TCP Proxy config I had from experimenting with Thrift behind Envoy. Any particular schema issues?

[code]

[2018-03-24 03:13] josdotso commented on #2182
Requiring the param for Prometheus scraping may be incompatible with the scrape via Kubernetes annotation pattern which is supported by the Prometheus Helm chart in the kubernetes/charts repo.

https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml#L245

+1 `/stats/prometheus` or some other path-only method.

[2018-03-24 17:48] mattklein123 commented on #2182
`/stats/prometheus` SGTM if someone wants to make that happen.

[2018-03-25 04:36] rmichela commented on #2852
I'd like to see Envoy's Zipkin traces reported to Zipkin using Zipkin's Kafka collector.

[2018-03-25 07:17] glicht commented on #1278
Hi, I've created a pull request for supporting dynamic metadata on request info and an option for the access_log to log this. See: #2895 . I still didn't add documentation about this as I wanted to get some feedback regarding the approach and naming conventions.

[2018-03-25 08:00] dio commented on #2888
@jakerobb how do you want to specify the values of the required headers? Do you think setting it in the config will suffice your requirement?

e.g.

[code]

[2018-03-25 09:35] dio commented on #865
I have a (too) simple setup example here: https://github.com/dio/simple-grpc will add xDS (probably CDS first) in the mix. After some cleanups, I'll try to submit a PR.

[2018-03-25 14:16] yuval-k commented on #2851
great! i'm on it then.

[2018-03-25 16:32] mattklein123 commented on #2854
Done

[2018-03-25 16:32] #2854 closed

[2018-03-25 18:39] Lookyan opened #2897 "Statsd global prefix"
**Add global prefix for all statsd metrics**

*Description*:
For now, we have the only option to send all metrics with 'envoy.' prefix. But it will be useful to have an option to send all metrics to special branch, for example, 'resources.envoy...'

[2018-03-25 20:46] tommyulfsparre commented on #2884
@mattklein123 Ack and yes, this was more a question if this “optimization” would be worth adding.
Wouldn’t a connection state change react faster, in some cases, than health checks and also not incur the added latency of retries? Not implying this should be use instead of health check but in conjunction as another signal.

This might not be trivial to add/Worth it so feel free to close this.

[2018-03-26 08:57] brancz commented on #2182
At that point, why not go with the Prometheus standard `/metrics`?

[2018-03-26 10:32] futangw opened #2898 "Add gRPC health check service support to HC filter"
Hi, I'd like to setup the gRPC health check between two envoys, but looks envoy as a server (upstream) does not generate gRPC health check response?

I had client envoy setting this:
    health_checks: [{
      timeout: 0.5s,
      interval: 5s,
      unhealthy_threshold: 2,
      healthy_threshold: 3,
      grpc_health_check: { service_name: "ic" }
    }]

and I had the server envoy setting this:

[2018-03-26 11:58] Lookyan opened #2899 "Retrieve endpoints received by EDS"
**Retrive endpoints received by EDS**

For now, I don't see any feature to get endpoints mapped to clusters (added via EDS).

Maybe we should add it to admin page of envoy?

[2018-03-26 12:08] anticpp commented on #373
We are facing the 'too many open files' problem as an edge service, which are the same problem as this issue.

We have built an gRPC service mesh with envoy in our system, and we use a front envoy(as edge) routing client side gRPC requests.

I wonder how do you solve this scenario in your solution? Using some else h2-proxy, etc, nginx?

However, I prefer to use a global unified solution.

[2018-03-26 12:15] dio commented on #2182
Not sure if it is nicer to follow up @mattklein123's comment [here](https://github.com/envoyproxy/envoy/issues/2182#issuecomment-350793133), by having e.g.

[code]

The `AdminImpl::runCallback` then converts the given `path` to `value.path?query.key=query.val&...` first.

[2018-03-26 13:20] dio commented on #2899
Seems like it is similar to https://github.com/envoyproxy/envoy/issues/2421?

[2018-03-26 13:52] htuch commented on #2899
Yes, dupes #2421, closing out. @Lookyan you can follow that issue for progress (there are PRs in flight to that end from @jsedgwick).

[2018-03-26 13:52] #2899 closed

[2018-03-26 14:55] alyssawilk commented on #2882
I like the idea of "you add it, you own it" as a start, but that obviously doesn't work well if that person wants to hand off ownership for [reasons] and there's folks using the code who are users but not contributors to Envoy.   I don't have solid ideas of what to do there, so I look forward to hearing your thoughts :-)

[2018-03-26 15:13] htuch commented on #2069
@alyssawilk @jmillikin-stripe and I just had our regular sync with the Bazel team and we covered this topic. The best suggestion so far is to continue our approach of using `--define`, but to create custom `bazel.rc` files that get fed into the Bazel CLI invocation to allow this to scale. The idea is that they would in turn be generated by a user facing configuration system or language (e.g. kerne

[2018-03-26 15:19] alyssawilk commented on #2880
Other potential from our overoptimized !Envoy header parsing: we take the raw header buffer and simply annotate header locations with a string-view equivalent (zero copy for header parsing) and having hash-map lookups for referencing headers (better than list walking for the non O(1) headers)

[2018-03-26 16:05] alyssawilk commented on #2897
@Lookyan flagging this as help wanted for now, but were you planning on picking it up?

[2018-03-26 16:21] alyssawilk commented on #373
Ah, a third phase of this would be when over [a configured file descriptor limit?] to simply stop accepting new incoming connections. It's drastic, but better than crashing when under DoS attack, and will likely be implemented as part of this issue.

[2018-03-26 16:26] mattklein123 commented on #2182
Because IMO it's confusing to have `/metrics` and `/stats` per previous discussions. `/stats/prometheus` seems a good compromise.

@dio that's a good idea and I think that would work, but my preference is to avoid complexity unless it's really need. Additionally, in the future we are going to promote the admin listener into more of a full listener. It's possible at that point it could have proper

[2018-03-26 16:37] mattklein123 commented on #2884
@tommyulfsparre yes in a perfect world, we would potentially refactor things such that a connection is not actually bound to until we know it's connected. However, there are cases in which the kernel will say the a connection is "connected" and then immediately fail it, so I'm not sure that will even really work in all cases.

I'm going to go ahead and close this for now, but we can definitely reo

[2018-03-26 16:37] #2884 closed

[2018-03-26 16:45] #2182 closed

[2018-03-26 16:48] mattklein123 commented on #373
@anticpp I will say that in general, incoming connections can be generally controlled pretty well by having appropriate upstream circuit breakers, downstream idle timeouts, and a high enough FD limit for the process.

With that said, I would love to make progress on this issue, but it hasn't gotten resourced yet.

[2018-03-26 16:49] mattklein123 commented on #2898
That's correct that right now Envoy itself does not support the gRPC health check service for responding to health checks. I'm going to go ahead and mark this as a feature request.

[2018-03-26 16:53] samuelyoungsc commented on #2869
@mattklein123 Would a new configuration option on Cluster make sense for this? Seems a fairly idiomatic way to add this, and I believe AsyncClient already has access to a Cluster reference.

[2018-03-26 16:59] mattklein123 commented on #2869
@samuelyoungsc does it even need to be a config option? Could it just be a code option on the AsyncClient/stream itself? How are you actually using this?

[2018-03-26 17:27] Lookyan commented on #2897
If somebody wants to do it, it will be perfect. Otherwise I'll come back to it in following 2-3 months.

[2018-03-26 17:49] alyssawilk commented on #373
I believe our team plans to pick it up in Q2
1) feel free to beat us to it and
2) please don't bet your production environment on it!

[2018-03-26 18:10] cmluciano commented on #1344
@srikailash Are you working on the Envoy side of this PR?

[2018-03-26 19:00] athampy commented on #2897
I can work on this

[2018-03-26 21:10] htuch opened #2900 "[v1.6.0 deprecation] Remove features marked deprecated in #2217"
#2217 (access log: consolidate and clean up address handling) introduced a deprecation notice for v1.6.0. This issue will track source code cleanup.

[2018-03-26 21:23] htuch opened #2901 "[v1.6.0 deprecation] Remove features marked deprecated in #2346"
#2346 (Listener: Add listener filters.) introduced a deprecation notice for v1.6.0. This issue will track source code cleanup.

[2018-03-26 21:23] htuch opened #2902 "[v1.6.0 deprecation] Remove features marked deprecated in #2393"
#2393 (grpc: singleton manager/factory pattern for gRPC async clients.) introduced a deprecation notice for v1.6.0. This issue will track source code cleanup.

[2018-03-26 21:23] htuch opened #2903 "[v1.6.0 deprecation] Remove features marked deprecated in #2438"
#2438 (DEPRECATED.md: Fix typo.) introduced a deprecation notice for v1.6.0. This issue will track source code cleanup.

[2018-03-26 21:23] htuch opened #2904 "[v1.6.0 deprecation] Remove features marked deprecated in #2766"
#2766 (router: Support range based header matching for request routing.) introduced a deprecation notice for v1.6.0. This issue will track source code cleanup.

[2018-03-26 21:24] htuch commented on #2903
This is spurious, closing it out.

[2018-03-26 21:26] htuch commented on #2901
@jrajahalme this one is for you. I sent you an invite to the envoyproxy org, if you can join that I can assign in the GH UI. Thanks.

[2018-03-26 21:26] #2903 closed

[2018-03-26 21:27] htuch commented on #2904
@kavyako this one is for you. I sent you an invite to the envoyproxy org, if you can join that I can assign in the GH UI. Thanks.

[2018-03-26 21:34] kavyako commented on #2904
@htuch  could you try assigning it to me now?

[2018-03-27 01:14] futangw commented on #2898
@mattklein123 Matt, thanks for the clarification and willing to take enhancement.

[2018-03-27 02:48] ggreenway opened #2908 "Hot restart should support configurable socket address"
Hot restart currently uses a hard-coded address in the abstract namespace for unix domain sockets. This has the advantage that it allows hot-restart between different containers. However, it has the disadvantage that there are no permissions on abstract namespace unix domain sockets.

Envoy should support configuring a filesystem path for it's hot-restart UDS so that normal filesystem permissions

[2018-03-27 14:44] yudiandreanp opened #2909 "GZip Filter doesn't work on some clients"
**Title**: GZip filter doesn't work on some http clients

**Description**:
Using Gzip filter doens't work some http client (apache http client).

**Repro steps**:

1. Using curl , netcat and gunzip
- Enable GZip Filter:

[code]

- Run a netcat server -> ./test-server
[code]

- Curl and try to decompress using gunzip:

[code]

[code]

2. Using apache http client:

- Create a simple http client-serv

[2018-03-27 15:45] mattklein123 commented on #2909
@gsagula do you mind taking a look when you have some time?

[2018-03-27 15:57] mattklein123 commented on #2908
@ggreenway I'm just going to mark this help wanted. If you plan on working on this can you remove the tag and assign it?

[2018-03-27 16:43] mattklein123 opened #2910 "repo reorg: codify if/when core code can depend on extensions"
We likely can never compile out tcp_proxy and hcm. Need to codify this and check in CI.

[2018-03-27 16:45] mattklein123 opened #2911 "repo reorg: reduce config/registration boilerplate"
Likely some options to make this less ugly. Investigate. cc @jmarantz.

[2018-03-27 16:55] htuch commented on #2910
Ideally we can have `check_format` validate this via Bazel dep graph analysis.

[2018-03-27 17:19] ggreenway commented on #2908
I'll probably get to it eventually, but not for awhile. I'll leave it help-wanted for now, and claim if/when I'm ready to work on it.

[2018-03-27 18:16] ggreenway commented on #1280
@PiotrSikora if you're short on time, I can help out with writing tests and anything else that needs to get finished.

[2018-03-27 18:57] saumoh commented on #2785
@mattklein123 @htuch
To make the authz filter use a dynamically learned gRPC cluster how about I implement the following:
- Inherit from [`AsyncClientFactoryImpl`](https://github.com/envoyproxy/envoy/blob/9271200ee1799c5cddf9785c5a63d0634cfcbf02/source/common/grpc/async_client_manager_impl.cc#L12). The inherited class will allow the authz filter to accept the `cluster_name` from v2api.
- In the fi

[2018-03-27 19:09] jrajahalme commented on #2901
This depends on #1280 being implemented first.

[2018-03-27 20:55] mattklein123 commented on #1965
@ramaraochavali as promised, here is a breakdown of exactly how I would recommend implementing this. It's complicated, but it will get us directly to the optimal solution, so I think it's worth just doing it now.

# Overview

- Per discussion in the current PR, I thought about it, and I think we should just keep running histograms regardless of the stat sinks in use. If perf really becomes an issu

[2018-03-27 21:12] mattklein123 commented on #2785
@saumoh the issue here is that if an AsyncClient is stored, you will still run into issues. I think this is what you need to do:
- have `factoryForGrpcService()` take a boolean as to whether the client should require the cluster to exist and be a primary cluster (effectively).
- Make `AsyncClientImpl::send` and `AsyncClientImpl::start` safe if the cluster does not exist. In these cases it should r

[2018-03-27 22:44] saumoh commented on #2785
@mattklein123 Makes sense.
For your point 2. In `AsyncClientImpl` I'll catch the exception thrown [here](https://github.com/envoyproxy/envoy/blob/5123d311a7222ae76e154c349c83a50dfdb6cb6f/source/common/upstream/cluster_manager_impl.cc#L595) so that the code is safe.
Will start implementing it.

[2018-03-28 00:42] wbertelsen opened #2918 "Request: Support zone aware routing for CDS-only clusters"
*Title*: Support zone aware routing for CDS-only clusters

*Description*:
Right now, in order to set `local_cluster_name` and enable zone aware routing, the matching local cluster needs to be statically defined at bootstrap. It would be preferable if this information could be sourced from CDS when available.

 *Relevant Links*:
https://groups.google.com/forum/#!topic/envoy-users/x4Vo3scNeo0
https:

[2018-03-28 02:27] linsun opened #2919 "413 error payload too large when use nginx and envoy together"
*Title*: *413 error payload too large when use nginx and envoy together when posting a file that is bigger than 1Mb.  If I post the file to nginx or envoy by itself, the problem doesn't exist*

*Description*:
I deployed the simple app from https://github.com/rayh0001/gs-spring-boot-docker to my k8s cluster in ibm cloud.     I also have istio running in my k9s cluster.

When i send the curl command

[2018-03-28 02:28] linsun commented on #2919
cc @cmluciano

[2018-03-28 02:33] joeyb commented on #2657
@ggreenway - Did you ever find a solution for this? I think I'm seeing the same issue.

[2018-03-28 02:52] PiotrSikora commented on #2919
FWIW, I spent some time looking into this last week, but I couldn't replicate it myself, even with something as ridiculous as `per_connection_buffer_limit_bytes: 1024`.

cc @alyssawilk

[2018-03-28 03:08] srikailash commented on #2139
@mattklein123 , sorry for the very late reply.(been busy last week)
Is the idea to get rid of all the template json files and modify configgen?
Thanks!

[2018-03-28 04:17] mattklein123 commented on #2919
By default Envoy is fully streaming and will apply back pressure. Most likely there is some filter that is buffering somewhere. Can you provide your full configuration? Are any of your installed filters buffering the request?

[2018-03-28 04:19] mattklein123 commented on #2139
@srikailash the idea is to convert the templates into v2 YAML, and then modify configgen/jinja to create v2 YAML configurations.

[2018-03-28 04:59] srikailash commented on #2139
@mattklein123, ack. Thanks!

[2018-03-28 05:35] rosenhouse opened #2920 "Feature request: a means to refuse subsequent TCP connections while allowing current connections enough time to drain"
#### update
We've edited this issue to be less prescriptive about solution.  it now presents 3 possible solutions that we can see

### summary

Given I've configured Envoy with LDS serving a TCP proxy listener on some port
and there are connections in flight
I would like a way to refuse subsequent TCP connections to that port while allowing current established connections to drain

We tried the fo

[2018-03-28 05:36] rosenhouse commented on #1990
I've opened #2920 as a follow-up.

[2018-03-28 06:19] ramaraochavali commented on #1965
@mattklein123 will try this approach and let you know how it hoes. Will reach out to you if I need some help.

[2018-03-28 11:01] taion809 commented on #2100
I have some bandwidth to go through the docs sometime this week

[2018-03-28 15:08] alyssawilk commented on #2910
should we just leave them in core and say they're required plugins, or leave them in extensions and just comment / doc that they're special cased?

[2018-03-28 15:28] alyssawilk commented on #2919
Yep, the http connection manager only sends a 413 for non-streaming (buffering) filters so I suspect you've got one somewhere in your config.  Well or we have a bug, but if you post the config we can take a look :-)

[2018-03-28 15:45] cmluciano commented on #2919
I attached the config as a gist link

`/usr/local/bin/envoy -c /etc/istio/proxy/envoy-rev18.json --restart-epoch 18 --drain-time-s 45 --parent-shutdown-time-s 60 --service-cluster istio-ingress --service-node ingress~~istio-ingress-779649ff5b-nl92l.istio-system~istio-system.svc.cluster.local --max-obj-name-len 189`

[envoy-rev18.json](https://gist.github.com/cmluciano/85424f51713d44460b922a23d56f2

[2018-03-28 16:18] kyessenov commented on #2919
The config is shipped from pilot, so it's not there in the bootstrap. Istio
uses mixerfilter, fault filter, CORS filter, and the regular router. I'll
need to double check if any of them are buffering.

On Wed, Mar 28, 2018 at 8:45 AM cmluciano <notifications@github.com> wrote:

[2018-03-28 16:19] kyessenov commented on #2919
Mixerfilter does buffer
https://github.com/istio/proxy/blob/master/src/envoy/http/mixer/filter.cc#L136

On Wed, Mar 28, 2018 at 9:17 AM Kuat Yessenov <kuat@google.com> wrote:

[2018-03-28 16:27] alyssawilk commented on #2919
Yeah, so if you never want to 413 you have to either only use streaming filters, or configure infinite buffering (which opens you up to OOM attacks if you don't control the downstream traffic).  We don't currently have anything which will clamp down on memory on a global level, only the per-connection limits.

[2018-03-28 16:46] mattklein123 commented on #2100
@taion809 OK, thanks. This is going to be super tedious, so be warned. My intention was basically to go through https://github.com/envoyproxy/data-plane-api/tree/master/docs/root/api-v1 and delete all anchor targets in that tree, and then clean out all refs that refer to it (and optimally replace relevant ones with v2 references). Obviously feel free to do this in pieces and we can track what has

[2018-03-28 16:57] cmluciano commented on #2918
cc @liamawhite

[2018-03-28 17:05] mrice32 commented on #1965
@mattklein123 that design looks great to me - should be more than enough to work towards.  @ramaraochavali, would you mind adding me on your PR(s) related to this?  I'd be interested to take a look :).  Also, cc @trabetti, who's working on #2736 and may want to take advantage of this once it's done.

[2018-03-28 17:10] rosenhouse commented on #2920
cc @rshriram

[2018-03-28 17:42] taion809 commented on #2100
Tedious? Toil? Sir.. I work in DevOps.

[2018-03-28 17:45] mattklein123 commented on #2100
🤣

[2018-03-28 18:28] linsun commented on #2919
BTW, here is my istio ingress envoy config for listeners (with the newly added per_connection_buffer_limit_bytes by me via pilot webhook).  I'm not seeing mixer filter buffer in there.  @kyessenov I assume the code you pointed earlier will overwrite the filter in the config below?   Do we know why mixer does buffer?  is it to improve performance?  if so, what would be our recommendation for istio

[2018-03-28 18:52] alyssawilk commented on #2919
"name": "mixer",
                "type": "decoder"
is all you need for 413s, given the line of code @kyessenov linked.  Basically any time state_ == Calling you buffer limited data instead of pushing back on downstream via H2 flow control / TCP window limits.

I can't speak to why that decision was made - it looks like the filter shouldn't pass data upstream until the check is complete but if the

[2018-03-28 18:56] mandarjog commented on #2919
@qiwzhang is there a reason to buffer when `state_ == Calling`

[2018-03-28 18:56] mandarjog commented on #2919
cc @lizan

[2018-03-28 19:04] kyessenov commented on #2919
Mixerfilter is similar to ext_authz filter in that it requires an RPC to a
remote server before passing through requests. It seems that buffering is
required in this case. I think we should selectively mixerfilter behavior
not to buffer, unless authorization is required, and not use remote
authorization check for those paths.

On Wed, Mar 28, 2018 at 11:57 AM mandarjog <notifications@github.com> w

[2018-03-28 19:08] mattklein123 commented on #2919
You can also write the filter such that it only buffers up till the decision is made, and then starts streaming. That is how our internal Lyft auth filters work, as well as the ratelimit filter in the public repo. But you will need to increase the buffer level to some amount that is mostly safe to account for service latency.

[2018-03-28 19:11] lizan commented on #2919
It is likely mixer filter is buffering the data, filed https://github.com/istio/proxy/issues/1315, it do only buffers up till the decision is made but it can still buffers too much.

[2018-03-28 19:43] linsun commented on #2919
thank you @lizan @mattklein123 @PiotrSikora @kyessenov @mandarjog @cmluciano @alyssawilk -- i appreciate everyone look into this prob and try to propose a solution.  I agree this issue can be closed in envoy as we are not expecting any action from envoy at the moment.

[2018-03-28 19:43] #2919 closed

[2018-03-28 20:09] jakerobb commented on #2888
Something like that would be perfect. I'm using a home-built xDS based on java-control-plane, so I can provide whatever the API supports.

[2018-03-28 20:59] alyssawilk commented on #2919
Leaving this closed but commenting for the record, if you change the return code you're *not* telling Envoy "do not buffer the data" you're telling Envoy "I can make forward progress without the entire request body being buffered"

A streaming filter will result in the current data will be buffered, but Envoy will push back (again via TCP window or H2 flow control) and ask downstream to stop proxy

[2018-03-28 21:10] mattklein123 commented on #2920
Yeah I think we can probably add listener drain configuration to better determine what happens when a listener enters drain mode. I.e., an option can be to just start refusing connections immediately when draining starts.

[2018-03-28 21:12] ggreenway commented on #2657
I tried it again the other day, and got a completely different error from this error. It was something about not finding a required header. So it seems to still not work, but differently. I haven't found a fix or workaround yet.

[2018-03-28 21:14] samuelyoungsc commented on #2869
Sorry for the delay. @mattklein123 It does not have to be a config option--a code option on the AsyncClient itself is fine.

If it were in code, the usage would be:
[code]

My thinking was that the config was more idiomatic for Envoy and that the AsyncClient interface is relatively simple and wouldn't need modification. But either option will work.

[2018-03-28 21:24] lizan commented on #2919
Thanks for explanation @alyssawilk, yeah that matches my understand. Before the flow control support for filters, we didn't have `StopIterationAndWatermark`, so `StopIterationAndBuffer` was the only option.

I feel we need kind of release notes for filter (or extension) developers to document this kind of C++ API changes (in `include/`). While I regularly monitor diffs of `include/` but somehow I

[2018-03-28 21:30] lizan opened #2925 "docs: C++ API release note for extension developers"
*Description*:
Add a C++ API release note or version history, preferable with migration notes if desired. The C++ API (those in `include/envoy`) changes frequently and it is hard to catch up if extensions lives outside of envoy repository.

At least a breaking change to extensions (filters, access logs, http tracers, transport sockets, etc) API should be documented.

*Relevant Links*:
#2919

[2018-03-28 21:33] mattklein123 commented on #2869
I don't have a strong opinion in terms of config vs. code. I guess in this case code seems simpler to me. But either way.

[2018-03-28 21:49] brirams opened #2927 "[circuit_breakers] MaxConnections not being honored with http1 traffic"
*Description*:

Context: https://envoyproxy.slack.com/archives/C78M4KW76/p1522105647000209

Been playing around with circuit breaking and found what I think to be some unexpected behavior with the max connections circuit breaker. When setting the value to something small like 0 or 1, I'd expect no requests to make it to the upstream cluster. However, I'm seeing that they do.

*Repro steps*:
I've b

[2018-03-28 22:19] mattklein123 commented on #2927
I honestly don't recall why this code is the way it is, but it's because of this logic block: https://github.com/envoyproxy/envoy/blob/master/source/common/http/http1/conn_pool.cc#L95

I would probably call this a bug, but would need to page back in why the code is doing this (assuming there was a good reason at some point).

[2018-03-28 22:41] mattklein123 commented on #2852
Thanks everyone for the awesome suggestions that have been added to this issue. From Lyft's perspective, we are primarily interested in:
- L7 protocol parsing for observability (stats, logging, and trace linking with HTTP RPCs)
- Ratelimiting at both the connection and L7 message level

So I think this is where we will focus, probably starting in Q3. I will need to go through and do some basic SWA

[2018-03-28 23:12] PiotrSikora commented on #2535
I know how this works, I was just wondering whether you have real products validating clients based on the DNS name, or is this a theoretical change.

[2018-03-29 02:02] ebroder commented on #2852
Are there any plans at this point for how to practically proxy the Kafka protocol to a pool of brokers? In general, clients connect to a seed node and send it a "metadata" request for the topic/partition they're interested in. The response to that includes a hostname and port, which clients then connect to directly. It means that in practice Kafka clients are (by design) very good at dis-intermedi

[2018-03-29 02:13] gwenshap commented on #2852
@ebroder One way to do it will be to register the proxy address (probably localhost:port if we are using sidecar) as their advertised-listeners. And then they'll return this address to the clients.
In the latest release, advertised hosts will be a dynamic property, so this may become even easier to manage.

[2018-03-29 02:15] wushujames commented on #2852
@gwenshap: Interesting. That would imply a Kafka cluster that would *only* work with the sidecars then, right?

[2018-03-29 02:19] lizan opened #2929 "http: not proxying 413 correctly"
*Description*:
In the case envoy is proxying large HTTP request, even upstream returns 413, the client of proxy is getting 503.

*Repro steps*:
A sample envoy config is [here](https://gist.github.com/lizan/14fdcdebc332088eb03501dcbffdf48f).

[code]
is hitting directly to listener with buffer filter, results 413.

However,
[code]
will results 503, the port 8000 is proxying to 8080, which should ret

[2018-03-29 02:27] gwenshap commented on #2852
I didn't mean to imply that. That's why I said "one way". I know @travisjeffery and @theduderog have ideas about central proxies. Sidecars do seem to be Envoy's main mode of deployment.

[2018-03-29 02:28] ebroder commented on #2852
That does require that you have to allocate a sidecar port for every kafka broker you're running, right? It seems like the overhead/management costs there could potentially add up quickly

[2018-03-29 02:32] gwenshap commented on #2852
I'm not sure? How expensive are ports? Kafka clusters with over 50 brokers are quite rare.

[2018-03-29 03:29] mattklein123 commented on #2852
@ebroder @wushujames @gwenshap TBH I really have not gotten into the details yet. If the Kafka protocol does not support a built-in method of proxying (we should discuss), I think there are a few options:
- Pre-configure all broker addresses in Envoy and have the seed node return Envoy addresses. Pro: Conceptually simple, Con: Annoying to configure.
- Use some type of IP tables interception to mak

[2018-03-29 03:32] mattklein123 commented on #2929
@lizan sorry but I don't fully grok the flow here. Can you more fully spell out who is talking to who with a small ASCII diagram? I don't quite understand who is disconnecting, etc.

[2018-03-29 04:04] lizan commented on #2929
No one is disconnecting, we have two envoy listeners above, I just pushed double proxy in one config.

The diagram:
[code]

Listener B is configured with buffer filter so when a request larger than `max_request_bytes: 512` bytes coming in, it returns 413 (expected).

The 4 cases I did test:
1. post relatively small (11KB) data to Listener B -> 413 (expected)
2. post large (28MB) data to Listener B

[2018-03-29 04:11] brian-pane commented on #2880
The [PR](https://github.com/nodejs/http-parser/pull/422) that I just submitted to the http_parser project should help a bit with the CPU usage. I wasn't able to vectorize the parsing code, but I was able to reduce the average number of conditional branches per input character and also replace some memory reads/writes with register operations.

The parsing code might still be vectorizable. A common

[2018-03-29 04:25] mattklein123 commented on #2929
Do you have the full logs? Does listener A receive the 413 response? IIRC we should send that response and not send a 503.

[2018-03-29 04:32] lizan commented on #2929
https://gist.github.com/lizan/01807d956f10d3974a93a384551357b6

From the log, listener B writes 413 response, but router of listener A doesn't try to read when its write fails, so it results 503.

[2018-03-29 04:34] mattklein123 commented on #2929
Why is the write failing though? Is it because listener B has already closed the connection? If so not really sure we can do much about this. I don't think it would happen if not on localhost. Also, you could try, but I don't think this would be an issue over HTTP/2 as the connection would not be torn down.

[2018-03-29 04:40] lizan commented on #2929
Since upstream (listener B) already sent 413 and closed the connection, before listener A finish writing, as back pressure applied. @alyssawilk to confirm if my understanding is correct.

[2018-03-29 04:46] mattklein123 commented on #2929
Your understanding is correct. When Envoy needs to send a response to a request that is not complete over HTTP/1.1, it must close the connection (this is not true for HTTP/2 where it just resets).

The issue is that on the receive side, it's a timing race between when we try to write and when we receive the read event (if write was blocked, we might get read/write ready at the same time, and IIRC

[2018-03-29 04:53] lizan commented on #2929
We process write first:
https://github.com/envoyproxy/envoy/blob/master/source/common/network/connection_impl.cc#L412

I'll try this over network (not loopback) and get back to you.

[2018-03-29 04:58] mattklein123 commented on #2929
Hmm. I feel like we used to process read first, but then we switched it for some reason I now don't remember. :) @PiotrSikora might remember.

[2018-03-29 05:12] lizan commented on #2929
If this is over network, 5 out of 10 tries I did get 503 instead of 413.

[2018-03-29 05:39] mattklein123 commented on #2929
Hmm. Yeah I guess the race can still be lost at high throughout. The only
solution I can think of is to try to read and dispatch any data on write
failure.

On Wed, Mar 28, 2018, 10:12 PM Lizan Zhou <notifications@github.com> wrote:

[2018-03-29 08:18] Lookyan opened #2931 "LDS stuck after envoy reload"
*Envoy doesn't open new LDS stream after its reload*

*Description*:
I use envoy with contour (https://github.com/heptio/contour) as management server.
When they initially start simultaneously everything works fine. But after I reload envoy server LDS and RDS resources don't receive any updates. And it looks like envoy doesn't query for LDS. Contour doesn't receive new LDS stream. And after contou

[2018-03-29 10:09] PiotrSikora commented on #2929
@mattklein123 we changed it because of the combined `read|write` events raised by the kernel (https://github.com/envoyproxy/envoy/pull/1896), but that's unrelated and changing order wouldn't fix this issue.

This issue is happening, because Envoy acting as a server (i.e. listener B in @lizan's example) closes downstream connection with pending (unread) data, which results in TCP `RST` packet being

[2018-03-29 14:10] alyssawilk commented on #2797
Also maybe a bot which pings the author when tests are broken?  May be too noisy but I see 8 open PRs with broken tests right now and I think often reviewers wait until tests are passing and authors don't check back and notice their tests failing.

[2018-03-29 14:35] mattklein123 commented on #2929
Yup I understand the problem (and thanks for reminding me of the ordering issues).

If we want to do a server side change to fix, I like the idea of adding a connection close type which does the following:
1) Does a half close
2) Disables reading (to provide TCP back pressure)
3) Sets some timeout
4) Then does full close

I would rather not get into the dance of waiting for the other side to close

[2018-03-29 14:39] taion809 commented on #2778
@dio @rshriram thanks for the help, I'm talking to the teams requesting this internally.  It seems the needs might be changing so I'll close this out if it turns out to be unnecessary :)

[2018-03-29 14:43] mattklein123 opened #2933 "extensions: allow for pluggable health checkers"
Would be generally useful and also needed to full cleanup/compile out Redis. For reference see https://github.com/envoyproxy/envoy/pull/2926.

[2018-03-29 14:46] alyssawilk commented on #2929
+1 to this.  We're going want this delay-close semantics in the long run anyway, as when we're done serving a response it's nice to get the final TCP_INFO with all the loss, rtt, and timing info.

[2018-03-29 14:51] mattklein123 commented on #2929
OK SGTM. Will switch this to bug/help wanted.

[2018-03-29 14:57] htuch opened #2934 "Reconcile envoyproxy/envoy and envoyproxy/data-plane-api"
As discussed at this week's community call, we would like to find a way to improve velocity and reduce futz when making changes which involve release notes, docs and API, while still preserving the standalone capability of `data-plane-api` as the canonical API reference.

The proposal is to do something similar to what Istio have recently proposed (https://groups.google.com/d/msg/istio-dev/znLqMD-

[2018-03-29 15:02] htuch commented on #2925
@lizan this is a good idea. Can we wait until we have https://github.com/envoyproxy/envoy/issues/2934 done? That way, we can add this without further reducing velocity, since today, many changes that aren't full features don't need to do updates to the docs repo.

[2018-03-29 15:08] alyssawilk opened #2935 "Make integration tests compatible with repo reporg (#2911)"
Here's my first pass ideas on how to get the tests co-located with code - other ideas and constructive criticism welcomed!

Right now we have a mix of tests-per-filter (lua_integration_test.cc, cors_filter_integration_test.cc, etc) and testing filters per-protocol (e.g. buffer tests in all three of  [http2_][upstream_]integration_test.cc files.

For things like lua/cors that have standalone tests

[2018-03-29 15:09] alyssawilk commented on #2935
@htuch @mattklein123 per discussion on whichever of Matt's migration PRs we discussed this on :-P

[2018-03-29 15:47] ggreenway commented on #2934
Instead of a nightly or time-based job, can we do it as a build step on each commit? Also, if we're doing it for each commit, we can more easily take the commit message and replicate it in the data-plane-api generated commit, so at least there's some meaningful history to read in that repo.

[2018-03-29 16:24] mattklein123 commented on #2934
Yes, per @ggreenway we can just do this is a master CI job, much like we do docs, etc. It's pretty easy to push commits via Circle. I think that's a great idea.

[2018-03-29 17:49] wushujames commented on #2852
@mattklein123 @gwenshap @ebroder: Yeah, I had the same idea as Matt's option 3. Since the initial request to the brokers has to flow through the sidecar anyway, it can intercept and rewrite the response back to the client, and transform the request/responses as they flow between client/broker. Sounds expensive to me, but I know very little about envoy's performance.

[2018-03-29 17:49] kyessenov commented on #2931
cc @dfc for attention

[2018-03-29 18:03] vijayendrabvs commented on #1107
This looks like a good feature to have, and I can work on this in my spare time. @mattklein123 @rshriram I'm not able to assign this to myself - can you please assign it to me?

[2018-03-29 19:06] lizan commented on #2929
@PiotrSikora I'm not sure whether this is server-side (Listener B) issue, if you use curl as client, it can always read 413 from Listener B, regardless loopback or not. If `RST` erases low-level TCP buffers, then curl cannot read 413 in some cases as well, right?

[2018-03-29 20:22] lizan commented on #2925
SGTM. No hurry at all.

[2018-03-29 21:19] PiotrSikora opened #2941 "h2 connection pool is limited by SETTINGS_MAX_CONCURRENT_STREAMS"
It turns out that gRPC async client won't open more than `SETTINGS_MAX_CONCURRENT_STREAMS` concurrent streams to xDS gRPC server (good!), but EDS monitors are long-lived streams, waiting forever, and it doesn't look that gRPC async client opens more than a single HTTP/2 connection to backend (bad!), which means that total number of working EDS endpoints is limited by xDS's settings, and only the f

[2018-03-29 22:00] htuch commented on #2941
@mattklein123 today we have 1 EDS stream per cluster. EDS can have multiple cluster subscriptions per stream, but this isn't done today outside of ADS.

[2018-03-29 22:00] htuch commented on #2941
There are no API changes, only Envoy implementation tuning.

[2018-03-29 22:05] mattklein123 commented on #2941
@htuch OK I see. Can we open a different issue on that? I would like to keep this issue open to track 2 connection pool which we should also fix at some point.

[2018-03-29 22:06] negator opened #2942 "2 Tier Envoy with gRPC-Web filter fails with `503`"
`envoy v1.5.0`
`grpc-go v1.6.0`

*Description*:
Using a 2 tier envoy setup with a gRPC-Web filter on the downstream envoy, and proxying a `go-grpc` service on the upstream envoy, returns a `RST_STREAM` midway through the request to the backend, causing the downstream envoy to return `503` to the javascript client.

The logs show the upstream envoy sends a `RST_STREAM` frame to the downstream envoy

[2018-03-29 22:08] htuch opened #2943 "Optimize EDS stream allocation"
Today, EDS attempts to open one stream per cluster to the management server when not being multiplexed over ADS. EDS streams support subscribing to more than one cluster, so this should not be necessary if the `ApiConfigSource` points to the same management server.

This is actually very noticeable when we have a large number of clusters. It shows up as stream resource exhaustion in H2 (https://gi

[2018-03-29 22:09] htuch commented on #2941
@mattklein123 Sure, https://github.com/envoyproxy/envoy/issues/2943.

[2018-03-29 22:19] lizan commented on #2942
@negator  What is the expected behavior?

cc/ @fengli79

[2018-03-29 22:24] fengli79 commented on #2942
Can you describe the protocol used in each hop?
I assuming this config will work:
client ---grpc/web---> envoy ---grpc---> envoy ---grpc---> grpc server.
Note, the first envoy already convert the protocol from grpc/web to grpc, so the 2nd envoy should be used as a grpc to grpc (http2) proxy instead of a grpc-web proxy.

[2018-03-29 22:25] negator commented on #2942
Yes @fengli79, that is the setup I am using.

[2018-03-29 22:30] negator commented on #2942
curl -v 'http://localhost:6555/' -H 'X-User-Agent: grpc-web-javascript/0.1' -H 'Accept-Encoding: gzip, deflate, br' -H 'Content-Type: application/grpc-web-text' -H 'Accept: application/grpc-web-text' --data-binary 'AAAAAAA=' --compressed

[2018-03-29 22:30] lizan commented on #2929
Disregard my previous comment, curl sees `Connection reset by peer` in a few cases.

FWIW, using HTTP2 between Envoys will let envoy proxy 413 correctly, though in this case the client curl (to Listener A) I see
`* We are completely uploaded and fine` even the POST body is huge (like 150MB), this means the flow control isn't work at some point so curl could write the entire body. @alyssawilk?

[2018-03-29 22:30] fengli79 commented on #2942
@negator Could you add some log to show the actual response each envoy received over the wire?
If a one hop proxying works, then it's more like something happened in the 2nd http2 proxying hope.

[2018-03-29 22:34] shubhaat commented on #1178
At Cloud Foundry we have also seen operators and app developers asking for more control on the error returned to the downstream client.

The specific feature we were looking to build out in the near term, was to be able to distinguish between Envoy being aware of a route and the backend misbehaving (503 error) and the Envoy not being aware of a route (404 error). It's been requested by users in ou

[2018-03-29 22:34] lizan commented on #2942
@negator can you clarify what triggers envoy-2 to RST_STREAM to the service?

[2018-03-29 22:41] negator commented on #2942
Sure! (And thanks for the quick responses)

I've attached trace logs from both the downstream and upstream envoys. You can the line `sent frame type=3` around time `2018-03-29 22:36:50.019` in the upstream. And you can see `recv frame type=3` in the downstream around time `2018-03-29 22:36:50.021`.

[upstream.txt](https://github.com/envoyproxy/envoy/files/1862161/upstream.txt)
[downstream.txt](htt

[2018-03-29 22:43] mattklein123 commented on #2929
The default h2 flow control windows in Envoy are huge. (Like 256MiB). They can be configured.

[2018-03-29 22:46] negator commented on #2942
`C1` and `C2` represent the downstream envoy and upstream service connections in upstream-envoy. And you can see `sent frame type=3` for both.

[2018-03-29 22:49] negator commented on #2942
`type=3` is the `http2` RST_STREAM frame type.

https://github.com/nghttp2/nghttp2/blob/54573f28a8eb48719422a559a41836be14491e80/lib/includes/nghttp2/nghttp2.h#L583

[2018-03-29 23:00] mattklein123 commented on #2935
@alyssawilk in general SGTM. Two comments/questions:
1) It seems OK that we can depend on some extensions for integration tests, but as you say probably worth codifying when that is OK and in other cases using test filters.
2) When we move integration tests to the extension directory, where will they live? My preference is to put them directly in the test folder alongside the unit tests. I know we

[2018-03-29 23:40] lizan commented on #2942
From upsteram.txt:
[code]

Does anyone have idea why the reset sent to C1? I don't see any reason for that from the log.

[2018-03-29 23:58] fengli79 commented on #2942
@negator Could you share the grpc server's log, which may give us clues why it close the connection.

@mattklein123 However I saw something wrong in the downstream envoy, it looks like the headers order is not correct.
According to the HTTP2 spec:
All pseudo-header fields MUST appear in the header block before regular header fields.

[2018-03-29 22:36:50.008][12][debug][router] source/common/route

[2018-03-30 00:00] mattklein123 commented on #2942
https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/codec_impl.cc#L76

[2018-03-30 00:03] fengli79 commented on #2942
@mattklein123 Means the actually order over the wire is different than the order in the log? It's better can send them in wrong order, but the log may still need to be fixed to avoid confusing.

[2018-03-30 00:16] lizan commented on #2942
Yeah I think Envoy does reorder headers before passing to nghttp2, so the log order doesn't match what is over wire.

[2018-03-30 00:18] lizan commented on #2942
@negator btw, I think you can workaround this by putting grpc-web filter to envoy-2 instead of envoy-1.

[2018-03-30 00:26] lizan commented on #2942
@fengli79 Which END_STREAM are you talking about?

I don't see any reason lead to:
[code]

This is a RST_STREAM, not a frame with END_STREAM. C1 is the server connection of envoy-2 (peer is envoy-1).

[2018-03-30 00:30] negator commented on #2942
@lizan thanks, thats an excellent workaround to use grpc-web on envoy-2 instead. I just tried it and it works 👍

[2018-03-30 00:44] fengli79 commented on #2942
@lizan My bad, I looked at a mis-matched source code.
The C1 send reset code=1 means it's NGHTTP2_PROTOCOL_ERROR?
@dfawley Looks like a underlying HTTP2 compatibility issue between nghttp2 and golang http2?

[2018-03-30 00:57] lizan commented on #2942
@mattklein123 thoughts on PROTOCOL_ERROR? We still need to investigate why this happens while workaround is available.

[2018-03-30 01:30] negator commented on #2942
I don't know if this is useful to you, but here is a quick/dirty test environment to verify this:

https://github.com/negator/envoy-grpc-web

[2018-03-30 02:15] costinm commented on #2943
Please provide an option to turn this on/off - Istio has code to deal with multiple clusters per connection, but
 we'll need to test against the new envoy implementation.

[2018-03-30 02:21] costinm commented on #2941
One possible option (or hack?) would be to override the server-sent 'max streams' until multiple connections are implemented. If the app happens to use a h2 stack that doesn't enforce max streams
they may work.

Or document how to set max stream for common languages and stacks (along with docs on how to
set h2 without mtls, which is also required for upstream h2 apps behind envoy).

The biggest pr

[2018-03-30 02:29] PiotrSikora commented on #2941
That's going to break more stuff than fix.

[2018-03-30 04:19] negator commented on #2942
I’m guessing this has something to do with Content Length validation, which is strictly enforced by nghttp2. The content-length shows 8 bytes, but you can see data sends totaling a size greater than 8.

https://nghttp2.org/documentation/programmers-guide.html

[2018-03-30 07:12] lizan commented on #2942
Nice catch!

[2018-03-30 08:41] Lookyan commented on #2931
I found out that it is getting stuck at this stage:
[code]

[2018-03-30 10:25] shakti-das commented on #2535
We have products which are validating DNS names from SAN and that's when we noticed this missing.

[2018-03-30 12:45] alyssawilk commented on #2935
Interested in your thoughts on 1.  I think tcp proxy filter and http connection manager are OK for sure, as they're already documented as required.  I think with our current tests we can probably get away without other dependencies - what did you have in mind?

Keeping integration tests with the unit tests in the filter directories SGTM.  I'd lean towards keeping the "core" integration tests (http

[2018-03-30 13:07] alyssawilk commented on #2929
@lizan not totally following your last comment.  If you think this is flow control related, feel free to ping me on chat and I'll try to sort things out

[2018-03-30 13:32] dio commented on #2933
Interested in this (in a sense of understanding the concept) and how you will approach it. I want to learn it! However, I have no concrete approach yet. Just a guessing:

1. We create the same layout of health checkers just like what we have with filters, e.g.

[code]

2. Register the factory (e.g. with a new base called `HealthCheckerExtensionFactory`) to the `FactoryRegistry` by ideally `HealthC

[2018-03-30 14:45] cmluciano commented on #2918
I'm interested in picking this up @mattklein123 . We have some teams that are interested in using this in Istio. Can you post on what the edge cases are that were mentioned in the mailing lists from your perspective?

cc @linsun

[2018-03-30 14:56] costinm commented on #2941
Extra info:
- http2 implementaton in golang1.10 sets default to 250 ( with a comment "make it 100 as GFE"), golang grpc defaults to 100.
- Piotr is right - at least golang impl does check and terminates the connection if the advertised max stream is not respected (processHeaders()).

So the real fix - or lots of docs and changes in upstream servers are required, no quick hack.

[2018-03-30 16:36] mattklein123 commented on #2935
I don't have any real ideas here. I think we can just see how things go and be flexible. I guess my thinking is that certain extensions don't require complicated third party dependencies and are generally useful as fully working real examples. Even if someone doesn't compile them into their final server binary via bazel define, it seems reasonable to require that they are used in a full test run.

[2018-03-30 16:43] alyssawilk commented on #2935
Cool, I like third party deps as a first pass on gating factor.  All of "our" code in the integration tests seems totally reasonable and this lets us not pull all of *everyone's* code.

I think it'd be nice at some point to have an easy target for "run all the integration tests in all the directories" for major changes, but that can be done well with test tags regardless of where we stick code/tes

[2018-03-30 17:33] mattklein123 commented on #2933
@dio yeah basically exactly right. We would add a new HC option here: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/health_check.proto#L119

Which is basically, "extension_health_checker" which just has a well known name and a Struct config. Then, we would translate the existing Redis configuration into an "extension_health_checker" and ultimately deprecate it.

[2018-03-30 17:49] mattklein123 commented on #2918
@cmluciano unfortunately this is going to be really thorny to fix and will require a bunch of thinking. I would honestly have to set down for a focused effort to help come up with a plan.

The issues basically stems from the fact that as has already been mentioned the local cluster is assumed to be statically defined and exist at startup. You can start to follow the code threads here:
https://gith

[2018-03-30 18:39] srikailash commented on #2139
@mattklein123, mind having a quick look at this commit (https://github.com/srikailash/envoy/commit/02f2f6d2612e342c4fdc642c255a414cb7c2f908). Will submit a PR after a bit of clean up and will have to add yaml files for other configs(envoy_double_proxy and envoy_service_to_service) . Thanks!

[2018-03-30 20:31] htuch opened #2953 "hotrestart_test flakes in spdlog with TSAN (and other sanitizers)"
Occasionally we've observed in CI that `hotrestart_test` flakes during early spdlog use in `ValidationClusterManager`. Something isn't quite right here, since we should be doing the kind of verbose logging that would trigger it. Previous investigations by @mattklein123 and myself point to possible validation init not doing the right setup for logging.

We should figure this one out.

[code]

[2018-03-30 20:32] htuch commented on #2953
@alyssawilk this is the one I was talking about that I observed in https://github.com/envoyproxy/envoy/pull/2948.

[2018-03-30 23:14] mattklein123 commented on #2139
@srikailash looks close enough to do a full PR. Thank you!!!

[2018-03-31 08:14] Lookyan commented on #2931
Solved by this PR: https://github.com/heptio/contour/pull/308

[2018-03-31 08:14] #2931 closed

[2018-03-31 08:47] Lookyan opened #2956 "URL normalization"
*URL normalization*

*Description*:
Can't find an URL normalization option (https://en.wikipedia.org/wiki/URL_normalization).

Now we have an option prefix rewrite for vhosts. For example we can replace `/service-hello` with `/` and proxy to root address of service. But in case of `/service-hello -> /` replacement if we request to this address: http://envoy:8888/service-hello/_healthz then we will

[2018-03-31 13:05] JLofgren opened #2958 "Request http2 configuration option to specify SETTINGS_MAX_HEADER_LIST_SIZE"
*Title*:
I would like a way to configure an HTTP2 max header size that envoy should advertise to upstream peers.

*Description*:
Http/2 has a settings frame that may include the SETTINGS_MAX_HEADER_LIST_SIZE. If this value is set by a server, it is an indication to the client that they should not attempt to send a header larger than that max size or the server will throw an error. If the value is

[2018-03-31 16:45] mattklein123 commented on #2941
For folks looking for management server workarounds in the interim, here is an example of a Go management server change which is pretty trivial: https://github.com/heptio/contour/pull/308

[2018-04-01 13:34] dio commented on #439
@mpuncel, if you're not on this, may I try to propose a fix for this case?

[2018-04-01 15:24] mpuncel commented on #439
@dio go for it!

[2018-04-01 19:52] #2942 closed

[2018-04-02 05:37] tonyaw opened #2961 "what is the purpose to call evconnlistener_new in every envoy thread"
*Title*: *what is the purpose to call evconnlistener_new in every envoy thread*

*Description*:
for one listener socket, every worker thread listens on this same listener socket:

[2018-03-30 15:35:41.630][1][info][main] source/server/server.cc:351] starting main dispatch loop
[2018-03-30 15:35:41.630][8][debug][upstream] source/common/upstream/cluster_manager_impl.cc:508] adding TLS initial clust

[2018-04-02 13:57] merge03 commented on #2181
Is there a work around for this issue?

[2018-04-02 14:16] #2726 closed

[2018-04-02 17:41] mattklein123 commented on #2961
See this blog post for more information: https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310

In the future we might consider adding connection balancing if really needed, but in general the kernel will do a better job of keeping track of the load of each thread/worker. I.e., you will get better performance letting the kernel do the load balancing. In either case, a single connection han

[2018-04-02 18:23] mattklein123 commented on #1034
@junr03 can we get this completed as part of the RL work in Q2? Would be nice to get this cleaned up as it causes confusion.

[2018-04-02 18:25] htuch commented on #1034
This is now RLS rather than RLDS.

[2018-04-02 18:26] mattklein123 commented on #1034
Renamed issue to indicate RLS

[2018-04-02 21:15] htuch commented on #2860
I think what we want to do as well is allow `grpc_services` as a valid option in https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L84.

[2018-04-02 21:45] htuch opened #2967 "Rewrite AccessLogformatter with parser library"
We're doing a lot of manual crufty stuff with substrings and parentheses matching to parse out the require format strings. We should probably switch to some formal grammar for the access log format strings (e.g. EBNF) and use a parser library or generator (e.g. yacc). This issue will track improvements here.

CC: @mattklein123 @derekargueta

[2018-04-02 22:21] #514 closed

[2018-04-03 05:36] ldemailly commented on #2941
if I remove maxstream on the backend side I really push it (doing 1000 simultaneous streams * 2 connections) I get about 15% errors:
[code]

I get in the envoy ingress logs (no errors on the envoy side car) :
[code]
What is UO ?

[2018-04-03 07:30] tonyaw commented on #2961
Thanks for your response and blog. :-)
I think what I saw matches the kernel feature "IO priority boosting" as you mentioned in the blog:
one worker takes most of the incoming connections.
Could you please help to confirm?

[root@host1 ~]# cat new_connection.log | wc -l
55170
[root@host1 ~]# cat new_connection.log | grep "[9]" | wc -l
6597
[root@host1 ~]# cat new_connection.log | grep "[10]" | wc

[2018-04-03 11:09] PiotrSikora commented on #2941
@ldemailly I'm pretty sure that gRPC xDS client talks directly to selected cluster over HTTP/2, so listener settings (HTTP or TCP proxy) for Pilot wouldn't matter.

As for the difference in `SETTINGS` received when proxying via Envoy vs proxying directly, those settings are per hop, so that's expected. When you say that you can do >100 simultaneous streams over single connection, you mean single c

[2018-04-03 13:24] jmarantz commented on #2797
Can we add a `/kick_tests` endpoint to CI?

I think @mattklein123 was referencing this issue from a slack comment.

[2018-04-03 15:25] dio commented on #2181
@merge03 there are two workarounds that I can think of:

1. Create a `SOURCE_VERSION` file and fill it with the commit hash of the release package. e.g. for v1.6.0 release, the commit hash value will be `4dd49d8809f7aaa580538b3c228dd99a2fae92a4`.
2. Replace the `bazel/get_workspace_status` with the one in here: https://github.com/dio/envoy/blob/workaround-2181/bazel/get_workspace_status (it is "no

[2018-04-03 17:04] jvshahid opened #2978 "Exceptions in `WatcherImpl::addWatch` are not being caught"
**Bug Template**

*Title*: Exceptions in [WatcherImpl::addWatch](https://github.com/envoyproxy/envoy/blob/c69f9593e9eb09faa26ced4356edcccb47081b91/source/common/filesystem/inotify/watcher_impl.cc#L44) are not being caught properly

*Description*:

This is closely related to https://github.com/envoyproxy/envoy/pull/2977. Without the fix in https://github.com/envoyproxy/envoy/pull/2977, Envoy will a

[2018-04-03 17:43] yudiandreanp commented on #2909
@gsagula *friendly ping*

[2018-04-03 19:29] prune998 commented on #2941
I'm dealing with this kind of issues using Envoy (Istio) since last week where I'm trying to DDOS my application. https://github.com/istio/istio/issues/4658

Go client (GO 1.10 / gRPC) -TLS- > Envoy (Istio 0.7.0) --> server (Go 1.10 / gRPC)

Trying to DDOS my app, I start some `Go client`, which in fact each simulate 100 real clients, so 100 TCP cnx to Envoy each.
My client then send a `unary` req

[2018-04-03 20:01] htuch commented on #2978
We should catch it here: https://github.com/envoyproxy/envoy/blob/0739bd915235f90c7f45d429e27fc98341fab3cf/source/common/config/filesystem_subscription_impl.h#L36

I'll do the fix PR, should be small.

[2018-04-03 21:36] mattklein123 commented on #2961
Correct

Yes that is a risk of this type of architecture. If this becomes an issue we can look into connection rebalance as a feature request. Until it's a real issue I wouldn't worry about.

I already answered this above.

[2018-04-03 22:49] ggreenway opened #2986 "socket_option_impl calls strerror on the wrong value"
In source/common/network/socket_option_impl.cc, some of the logging calls strerror(). In the case where the socket option isn't available at compile-time, it correctly passes ENOTSUP, which is fine. In the case that setsockopt() fails, strerror is passed the return value (-1) instead of the value in errno.

[2018-04-03 23:51] jrajahalme opened #2987 "Envoy fails to build with GCC 7.2"
Title: Envoy build fails with GCC 7.2.

Description:
[code]

The failure happens due to the compiler issuing the `maybe-uninitialized` warning (enabled via `-Wall`), which is considered as an error due to `-Werror` compiler option. GCC, however, reserves the freedom of issuing false positive `maybe-uninitialized` warnings (hence the 'maybe-'), and apparently clang does not turn on `maybe-uninitial

[2018-04-04 00:00] jrajahalme commented on #2987
Even though this now manifests with gcc 7.2, there are no guarantees that similar issues do not appear with gcc 5.4 later.

[2018-04-04 00:03] yuval-k commented on #2851
@mattklein123, I'm having an issue creating my PR for the code:
I can't build envoy with the new version of the data plane, as `@envoy_api//envoy/config/filter/http/ext_authz/v2` doesn't exist (it moved to v2alpha)

I tried to change (locally) v2 -> v2alpha and it got envoy to compile.
should I submit this change with this PR? should I open a new PR for that? Is someone else already on it and I sh

[2018-04-04 00:07] mattklein123 commented on #2851
Someone needs to go and fix the code. cc @saumoh @htuch

[2018-04-04 00:10] mattklein123 commented on #2987
This is unfortunate. @htuch @jmarantz can we loop in someone from abseil to figure out the recommended way of handling?

[2018-04-04 00:12] jrajahalme commented on #2987
One option would be to use compiler `#pragma` lines to suppress these false positive warnings/errors on affected code lines on a case-by-case basis but that can get ugly over time. Upon a quick glance I did not find such `#pragma`s in Envoy sources yet.

[2018-04-04 00:12] yuval-k commented on #2851
If it helps I pushed the changes I made to here: https://github.com/yuval-k/envoy/tree/authv2alpha

[2018-04-04 00:14] jrajahalme commented on #2987
Downgrading the compiler to gcc 5 can also be painful, as on Ubuntu 17.10 gcc 5 is broken in a way that breaks the build of Envoy dependencies (https://bugs.launchpad.net/ubuntu/+source/gcc-5/+bug/1725848).

[2018-04-04 01:00] moderation commented on #2987
Thanks for digging into this. I reported this initially on Slack at https://envoyproxy.slack.com/archives/C78HA81DH/p1522460801000007. I can confirm that adding the `-Wno-error=maybe-uninitialized` flag to `bazel/envoy_build_system.bzl` still reports the error but allows a successful compilation.

[2018-04-04 01:27] junr03 commented on #1034
Yeah I can take this. I talked to @jsedgwick and he is ok with the switch.

[2018-04-04 02:04] tonyaw commented on #2961
Thanks for your response and nice help.
I will report another issue if we meet this connection unbalance issue in the production environment.

Thanks for your help again. This issue can be closed.