[2021-08-18 03:48] leyao-daily commented on #17752
Hi, connect_time has a default value now. So this field has been removed in the latest release. Maybe you use an old version of envoy.

[2021-08-18 03:49] mattklein123 commented on #17752
Was just typing the same thing ^. Unless you are using a dev/latest image please use the matching docs for the release you are using.

[2021-08-18 03:49] #17752 closed

[2021-08-18 04:07] leyao-daily commented on #17743
Meet the same issue.

[2021-08-18 06:17] #17740 closed

[2021-08-18 06:40] fanshiqing commented on #9933
@membphis
Try add "-rdynamic" to the linker options, e.g.,
[code]

[2021-08-18 06:40] lickes-liu opened #17754 "use envoy and tls to proxy mysql"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

![图片](https://user-images.githubusercontent.com/81520087/129849349-ebbc49c0-145c-44f9-a668-9db4d9a39a27.png)
and this is my c

[2021-08-18 07:46] rojkov commented on #17744
Have you looked at [Perfetto](https://perfetto.dev/docs/instrumentation/track-events)? I think your description feels very similar to it. E.g. events from the same source could be annotated with an additional param to make them distinguishable.

I've submitted https://github.com/envoyproxy/envoy/pull/17591 for this.

[2021-08-18 07:51] rojkov commented on #17754
/cc  @rshriram @venilnoronha

[2021-08-18 11:21] Patrick0308 commented on #17574
@lizan Hi, can you help us? This problem bothers us very much.

[2021-08-18 13:15] snowp commented on #17744
I hadn't looked into it, I had assumed it could be used for the perf part but I imagined the generic event emission might not be covered. Looking into it now though I'm wondering if we could implement these as immediately closing scopes or just as additional annotations on the perfetto scopes. Let me play around with it a bit for our use case and I'll see if it's a good fit.

[2021-08-18 14:11] RyanTheOptimist commented on #17700
Wow! I feel very strongly that certificates should be verified by default. Having things insecure by default seems like a disaster waiting to happen. What would it take to change this behavior? (Maybe this is not practical in the short term but I really think this needs some investigation)

[2021-08-18 14:31] snowp commented on #17744
Looking into it I think this would be a great option, though the fact that it is not supported on iOS is a bit of a limitation for usages in envoy-mobile (where both me and @junr03 are coming from when asking for this kind of support).

https://groups.google.com/a/chromium.org/g/tracing/c/DDQGRl3ICW0 seems to imply that it's not that much work required to get it working on iOS, it just requires so

[2021-08-18 15:01] rojkov commented on #17744
You are right.

I thought iOS was supported, looked at the code and found this
[code]

[2021-08-18 15:31] jgunvalson opened #17758 "global FilterChain for all listeners"
*Title*: Is it possible to specify a global FilterChain that is used by all listeners

*Description*:
Would like to be able to specify a FilterChain that is used by all listeners rather than repeatedly specify the same filter chain inside of each individual listener. The use case we currently have utilizes a wasm filter with its own config. When this gets specified for each listener -> cluster com

[2021-08-18 16:11] yanavlasov opened #17759 "Improve visibility of backend health status"
Add admin page that includes health status of each back-end as well some (i.e. configurable) amount of history.

[2021-08-18 16:11] yanavlasov commented on #17759
@alyssawilk

[2021-08-18 16:19] wbpcode commented on #17758
May be ecds would be a better choice? With ECDS, in theory, we can make Filters in different Listeners share the same configuration.

[2021-08-18 16:21] mattklein123 commented on #17759
Note that the `/clusters` endpoint already shows health status of every backend. We also have health/outlier event sinks which we could use to build additional history here.

I agree this would be a great feature.

[2021-08-18 16:27] lizan commented on #17574
It seems `'x-err-detail', 'stream+terminated+by+RST_STREAM+with+error+code%3A+NO_ERROR'` is from upstream but not Envoy itself, or your log is from different Envoy.

[2021-08-18 16:34] jgunvalson commented on #17758
I hadn't considered that, I'll take a closer look at that. Thanks!

[2021-08-18 16:41] rohrit opened #17760 "TLS termination of HTTPS requests after CONNECT"
I have a question regarding using Envoy as a forward proxy with HTTP CONNECT working with dynamic forward proxy to send traffic to any upstream sites. Is it possible to terminate the TLS connection at Envoy after the initial HTTP CONNECT request?

[2021-08-18 16:57] alyssawilk commented on #17759
Yeah so our internal dashboards have the moral equivalent of response code details, and response flags, so for any backend "unhealthy" you get both a general category (unhealthy, unreachable etc) and granular details (no endpoint resolution, tls handshake failed, explicit health check failure, 503-uneahtly failure, lame-duck/draining, blah blah blah)

If we had that level of detail it could be fed

[2021-08-18 17:55] Takmo commented on #9525
It looks like there was a PR for this that didn't quite make it to merge. Has anyone been working on this recently? Would anyone still be interested in this option?

[2021-08-18 19:24] sunjayBhatia commented on #11657
I'm going to remove myself from this issue as I'm not actively working on it

[2021-08-18 20:01] #17301 closed

[2021-08-18 20:14] jn1z commented on #17085
We've encountered this issue as well. Is there a solution or a workaround for this behavior?

[2021-08-18 22:10] moderation commented on #16482
Looks like Bazel 4.2.0 has resolved the M1 issues above and I was able to run the full and no JDK versions without issue - https://github.com/bazelbuild/bazel/releases/tag/4.2.0

[2021-08-18 23:34] derekargueta commented on #9525
I no longer have a need for this option but still seems like a welcome/reasonable contribution.

[2021-08-19 02:40] hj24 commented on #17228
@esmet @mattklein123

[2021-08-19 02:53] yankunsam commented on #17574
@lizan Is it related with [13349](https://github.com/envoyproxy/envoy/issues/13349)?

[2021-08-19 02:54] Patrick0308 commented on #17574
@lizan Thanks for your reply. This log is from only one envoy. It has two incomplete calling process.  Sorry, It's not clear to see. If this problem reproduce again. I will put new log in here.

I once suspected that this problem was caused by upstream server. But the following log confused me. Please see this stream called S10909270796817708085.
[code]
This is an outbound request. The route filte

[2021-08-19 03:40] lizan commented on #17574
@Patrick0308 from the config_dump and the log of the stream, I suspect this is due to the Lua filter, any script error will result a reset stream:
https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/lua/lua_filter.cc#L739-L744

You need to turn on log level to trace for `lua` and `route` as well to see if router is executed.

[2021-08-19 03:51] mattklein123 commented on #17700
All things being equal I agree we should verify by default, however 2 gotchas:
1) As Alyssa says we will need to warn first, then fail with runtime, etc. It will be a lengthy migration.
2) The verification settings are incredibly convoluted. Figuring out how to decide in code/config whether verification is "enabled" is going to require some debate in and of itself, and then quite a bit of testing.

[2021-08-19 04:04] Patrick0308 commented on #17574
I already turned on log level to trace for all.
``
 assert: trace
  backtrace: trace
  cache_filter: trace
  client: trace
  config: trace
  connection: trace
  conn_handler: trace
  decompression: trace
  dubbo: trace
  envoy_bug: trace
  ext_authz: trace
  rocketmq: trace
  file: trace
  filter: trace
  forward_proxy: trace
  grpc: trace
  hc: trace
  health_checker: trace
  http: trace
  http2:

[2021-08-19 04:27] hbgongen opened #17768 "Tcp_Proxy hash_policy don't take effect"
First I write a customize network filter like sni_cluster to get a cluster name to tcp_proxy filter,and tcp_proxy filter route the specified cluster successfully.
but don't route by hash_policy.
Then i think it is a problem with my filter,so i drop my filter only use tcp_proxy filter.
![envoy_filter](https://user-images.githubusercontent.com/36953705/130007696-c7048ea4-073a-48f7-9f5f-7224bff3d4d2.

[2021-08-19 05:51] Patrick0308 commented on #17574
Now This problem is reproduced.
log:
[code]
I add log at the begin of cors and fault filter decodeHeader function. For example
[code]

config_dump file:
[envoy-error-config-dump.log](https://github.com/envoyproxy/envoy/files/7012011/envoy-error-config-dump.log)

[2021-08-19 06:04] Patrick0308 commented on #17574
It seems like wasm filter or fault filter due to reset stream.

[2021-08-19 06:48] hbgongen commented on #17670
I have successfully solved it, thanks @ggreenway

[2021-08-19 08:46] yankunsam commented on #17574
I see "saw upstream close connection" in the envoy's log, like this,
![image](https://user-images.githubusercontent.com/16130147/130037982-fc42ff94-1b5c-4671-9402-ea1c7fa8e788.png)

Does it mean that the server Pod's Envoy terminate this stream?

[2021-08-19 08:55] hbgongen commented on #17768
this problem has solved.
you only should make your cluster lb_policy ring-hash,and this policy will make it.
hope this can help you.

[2021-08-19 08:55] #17768 closed

[2021-08-19 09:05] #17670 closed

[2021-08-19 11:12] riyasyash commented on #17615
Finally solved the issue, for the noobs like me (and as a reference for future me) adding the solution here

For the HTTPS cluster we have to configure the `transport_socket` like this:

[code]
This will enable the SSL traffic from the envoy cluster to the configured external endpoint
Also, in the documentation for `request_handle:httpCall` it is said to pass the `:authority` header, and the docum

[2021-08-19 11:12] #17615 closed

[2021-08-19 12:52] jhanbo commented on #1220
Hello, we are facing the same issue, just only the first certificate in the file is picked up and the rest is ignored

[2021-08-19 13:38] alyssawilk opened #17771 "TLS should do cert verification by default"
See discussion on https://github.com/envoyproxy/envoy/issues/17700

[2021-08-19 13:41] alyssawilk commented on #17700
Ok, so what I'd suggest then is we leave QUIC verifying by default, and add the knob to turn it off at Nighthawk's convenience: as it'll keep the prior default there's no need to lock this in before alpha wraps up.

What we should do before we leave alpha @danzh2010 is to document the inversion in both QUIC and TLS docs so folks don't get surprised.   The explanation can link to the issue tracking

[2021-08-19 14:21] snowp commented on #17744
Given lack of iOS support I think we may want to opt for something more lightweight to support just the event tracking use case: no timings, just a simple way to notify a sink that a certain event has happened.

https://github.com/envoyproxy/envoy/pull/17772 demonstrates a simple approach of reusing the log sink to pass some structured data to log sink, bypassing spdlog to avoid round tripping thr

[2021-08-19 14:47] capoferro commented on #15830
https://github.com/envoyproxy/envoy/pull/17763

[2021-08-19 15:22] yanavlasov commented on #17759
This should also include status of DNS resolution for DNS based clusters. Right now I'm now aware of any way to get details of DNS failures from service discovery.

[2021-08-19 15:59] Takmo commented on #9525
If I have some free time, I might try and revive your old PR and get it updated (if necessary). I put together an extension to do this as a filter, but I think I would prefer just to have it as a regular feature.

[2021-08-19 17:18] danzh2010 commented on #17700
I will update the document about the difference. Adding the knob to turn off verification is not a blocker for MVP, right?

[2021-08-19 17:51] alyssawilk commented on #17700
correct!

[2021-08-19 18:04] alyssawilk commented on #17744
I don't recall if we had an open issue (@DavidSchinazi?) and I think it's pretty far back on our queue but if this is for debugging event flow it's worth getting the take of @RyanTheOptimist  :-)

[2021-08-19 19:43] yanavlasov commented on #17085
This is open source project with volunteer contributions. There is no escalation. If you have resource to fix the problem this may the best course of action.

[2021-08-19 21:44] codefromthecrypt commented on #17743
I'll look into this. We recently moved the getenvoy domain into the LF/envoy control and missed a file

[2021-08-19 21:49] christian-roggia commented on #16629
Remove stale.

[2021-08-19 22:10] codefromthecrypt commented on #17743
This should be working now. I dragged the folder containing the two below files to https://app.netlify.com/sites/getenvoy-website/deploys

_redirects
[code]

index.html
[code]

[2021-08-19 22:44] RyanTheOptimist commented on #17744
Oh this is great! I'm excited to see this move forward. This Event Tracking functionality is very similar in spirit to what Chrome has in the NetLog. Having something similar here would be awesome. In particular, Chrome's NetLog has a bit of structure to it that would be handy. More information on that design can be found here:

https://sites.google.com/a/chromium.org/dev/developers/design-documen

[2021-08-20 01:39] leosunmo commented on #17722
This is occurring right now on a connection to a 1.19 Envoy. I've enabled Trace-level logs trying to collect as much as I can.

[2021-08-20 02:04] leosunmo commented on #17722
I'm collecting a lot of logs, but nothing obvious is standing out to me, and at some point we will have more noise than signal :(

[2021-08-20 02:12] goodgeorge opened #17785 "STYLE.md has a typo for error handing, should be error handling"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *STYLE.md has a typo for error handing, should be error handling*

*Description*:
Exceptions are allowed and encouraged where appropriate. When using exceptions, do

[2021-08-20 02:23] goodgeorge commented on #17785
Hi Envoy team, I just create quick PR for fix this typo, https://github.com/envoyproxy/envoy/pull/17786
Please let me know if I not following the process, Just start to reviewing the contribution doc, Thanks

[2021-08-20 11:46] chrisxrepo commented on #17085
@mmayeda can you give me a example config for the inssue?

[2021-08-20 15:19] #17785 closed

[2021-08-20 15:39] mattklein123 commented on #17722
Unfortunately I'm not sure. My guess is some type of bug within the grpc-web filter but it's hard to say.

cc @alyssawilk @markdroth do you know if there is anyone on the gRPC team that would be willing to help debug this?

[2021-08-20 15:42] markdroth commented on #17722
@wenbozhu, can you find someone to help out with this grpc-web issue?

[2021-08-20 15:58] jtway commented on #17661
Not sure when I'll have the bandwidth to work as we have a work around we're using at the moment, and will be on vacation next week, so still open to another grabbing this. Can try to find some time once I'm back otherwise.

[2021-08-20 16:02] #17277 closed

[2021-08-20 16:02] #17332 closed

[2021-08-20 16:33] wenbozhu commented on #17722
I assume that the NodeJS application talks to Envoy via grpc (v.s. grpc-web). If so, the bug shouldn't be in the grpc-web filter?

[2021-08-20 17:32] yanjunxiang-google opened #17790 "Include the right dependency in Apple DNS test BUILD file"
*Title*: Include the right dependency in Apple DNS test BUILD file

*Description*:

Apple DNS test code should include dependency of Apple DNS library, not cares DNS library.

https://github.com/envoyproxy/envoy/blob/3bdf7863c71bdeff2313522942a012b4a8339021/test/common/network/BUILD#L135

[2021-08-20 17:32] yanjunxiang-google commented on #17790
/assign junr03

[2021-08-20 17:39] michaeljmarshall opened #17791 "Does Envoy Proxy's Kafka Network Filter Support Routing to Multiple Kafka Brokers?"
*Title*: *Does Envoy Proxy's Kafka Extension Support Routing to Multiple Kafka Brokers?*

*Description*:
I am running Kafka on Kubernetes, and I am looking to expose the brokers via a single load balancer. Envoy Proxy seems like a possible solution. However, I can't seem to get it to work with a single envoy proxy proxying to multiple brokers. The examples I have seen seem to indicate that I need

[2021-08-20 18:22] moderation commented on #17791
@adamkotwasinski

[2021-08-20 18:36] adamkotwasinski commented on #17791
No, not yet!
But I'm working on that - it's going to be a `kafka-mesh` (not `kafka-broker`) filter, that's going to actually _process_ the inbound produce requests and according to _rules_ (topic regexes) forward them to correct upstream servers.

[2021-08-20 20:31] davinci26 opened #17795 "Expose c-ares init parameters to the cluster api"
*Title*: *Expose c-ares init parametersto the cluster api*

*Description*:

would be used.

Similar to `use_tcp_for_dns_lookups` [docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/resolver.proto#envoy-v3-api-msg-config-core-v3-dnsresolutionconfig) I would also like the timeouts (see [ares_init_options](https://c-ares.haxx.se/ares_init_options.html)) property to be exposed via

[2021-08-20 20:32] davinci26 commented on #17795
@envoyproxy/api-shepherds since this involves an API change

@envoyproxy/windows-dev

[2021-08-20 20:48] htuch commented on #17795
Can we do this after https://github.com/envoyproxy/envoy/pull/17479 lands and restrict to just the c-ares extension?

[2021-08-20 20:55] davinci26 commented on #17795
yes, for sure, makes sense. I don't mind waiting for this PR to get merged as long as it is within a reasonable time.

Is the PR on track to get merged or are you iterating on the design?

[2021-08-20 21:24] davinci26 commented on #17744
@thhous-msft / @anrossi might be able to chime in since they worked on cross platform event tracing for https://github.com/microsoft/msquic

it would be awesome if we could get the event tracing to work with windows ETW as well

[2021-08-20 21:26] michaeljmarshall commented on #17791
@adamkotwasinski - that's great news! Thanks for your quick reply. Is there something (an issue, perhaps?) that I can follow to view your progress on this `kafka-mesh`?

[2021-08-20 22:59] fosterchuck commented on #17363
I haven't been able to update this as I was pulled to another matter for our current sprint.  This is still plaguing us.  How does one mark this as help wanted?  We will be implementing a Service Mesh soon, which should hide this issue, but I think fixing this or implementing it, or finding a configuration to work around the issue would make things more efficient, even in a service mesh.  Less ret

[2021-08-21 02:16] adamkotwasinski commented on #17791
@michaeljmarshall There's nothing "formal" like an issue, but in the worst case you could wait until this PR https://github.com/envoyproxy/envoy/pull/11936 gets closed (it's the main one where I keep development, and its fragments are extracted and pushed into mainline on feature-by-feature basis).

[2021-08-21 08:01] #17307 closed

[2021-08-21 09:29] ztgoto commented on #17266
envoy
![image](https://user-images.githubusercontent.com/16531243/130317448-5faabb81-2675-4746-806c-d9f729dfe687.png)

nginx
![image](https://user-images.githubusercontent.com/16531243/130317503-ddcd70e8-d183-42e7-9b63-9ce21909a527.png)

[2021-08-21 12:01] #15235 closed

[2021-08-21 19:04] shamigor opened #17798 "type.googleapis.com/envoy.extensions.filters.http.lua.v3.LuaPerRoute disabled option not working in version 1.19.0"
*Title*: *type.googleapis.com/envoy.extensions.filters.http.lua.v3.LuaPerRoute disabled option not working in version 1.19.0*

*Description*:
**type.googleapis.com/envoy.extensions.filters.http.lua.v3.LuaPerRoute** doesn't apply per route.
The problem reproduces in version 1.19.0.  In 1.18.3 works.

*Config*:
[code]

[2021-08-21 19:42] PKizzle commented on #15235
@rojkov Can you unstale the issue? I don’t think it has been fixed yet.

[2021-08-21 21:14] lizan commented on #17574
This seems normal because upstream response is completed (one line above)

[2021-08-22 00:01] #17364 closed

[2021-08-22 19:56] petedmarsh opened #17801 "Support per-route typed_per_filter_config override for set_metadata filter"
*Description*:

I'd like to be able to set metadata on a per-route basis, however, the `set_metadata` filter "does not support virtual host-specific configurations".

Example config:

[code]

The above config will result in an error: "envoy-proxy_1  | The filter envoy.filters.http.set_metadata doesn't support virtual host-specific configurations".

https://www.envoyproxy.io/docs/envoy/latest/confi

[2021-08-22 20:32] petedmarsh opened #17802 "local_reply_config mapper metadata_filter does not match route metadata"
*Title*: *local_reply_config mapper metadata_filter does not match route metadata*

*Description*:

I will admit it is quite possible that I don't understand how this is supposed to work, though as far as I can tell from reading the documentation this *should* work so at the very least there's some improvements to the documentation that could be made.

I want to apply a locale_reply mapper if and

[2021-08-22 21:00] leosunmo commented on #17722
No, it's a browser talking through Envoy to a Go and NodeJS backend. The fact that it's happening for both a NodeJS-based backend and the Go backend (kind of) rules out the Go GRPC library having a bug. Also the fact that all of our GRPC traffic is not having this problem, only GRPC-web. We have more GRPC traffic than we have GRPC-Web traffic, so it's not a volume issue either.

You can also see i

[2021-08-23 00:01] #17310 closed

[2021-08-23 04:16] qinggniq commented on #17754
TLS handshake in MySQL happens on [connection phase](https://dev.mysql.com/doc/internals/en/ssl-handshake.html) of downstream-envoy communication, it requires `envoy.filters.network.mysql_proxy` to be aware of the tls configuration, but now `mysql_proxy` do not support tls. `mysql_proxy` now is a **transport** proxy, only monitors connection stats.

I don't know how `envoy.transport_sockets.tls` w

[2021-08-23 07:22] rojkov commented on #15235
@PKizzle My understanding is this can't be fixed in Envoy's source code. The current solution would be to publish gperftools-based builds. I don't know if it fits the project's budget. Probably makes sense to file a new issue for the proposal.

[2021-08-23 08:15] Patrick0308 commented on #17574
@lizan
I add some log on wam context decodeHeaders function.
[code]
When problem reproduce again, the log printed.
[code]
It seems like wasm filter decodeHeaders causing reset stream.

[2021-08-23 10:41] Alexcei88 opened #17808 "No way to access a refresh_token in the oauth2 filter"
I am using [OAuth2 filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) to protect my microservices. Identity broker is Keycloak.
According Keycloak documentation many its REST API methods are required passing **refresh_token** instead of **access_token**.
For example [to logout user from identity provider](https://github.com/keycloak/keycloak-document

[2021-08-23 12:03] phlax commented on #17808
cc @rgs1 @asraa

[2021-08-23 12:09] phlax commented on #17802
it would probably be helpful if we had a sandbox that demonstrated advanced usage of the matching api

cc @snowp

[2021-08-23 12:21] phlax commented on #17801
cc @aguinet @snowp

[2021-08-23 16:06] cjnchk commented on #9822
One way to solve this problem is in the [envoyfilter.yaml -> HTTP_FILTER -> with_request_body] section add [pack_as_bytes: true] config.
reference: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#config-http-filters-ext-authz

[2021-08-23 17:33] ME-ON1 commented on #16705
Hi,

I was looking at this issue and i have some question to ask!
do we need to create different issue for diff deps or one issue for all lagging deps . And at what time should the action start running this ??

[2021-08-23 17:36] asraa commented on #16705
I would think maybe one issue per dependency, since that way PRs can be issued updating one dependency at a time against them (sometimes it would be hard to batch updates)

Time shouldn't matter.

[2021-08-23 21:17] leosunmo commented on #17722
I have a trace-level capture filtered on a specific connection ID that was exhibiting this behaviour a few days ago.
[trace-C80317.csv](https://github.com/envoyproxy/envoy/files/7034925/trace-C80317.csv)
It's a CSV because that's what Elasticsearch exported :shrug: But it's only an extra timestamp as the first field, and then the normal Envoy logs, so just open it in a text editor and ignore the f

[2021-08-23 23:54] kyessenov commented on #17056
A simple hack would be to return the number of draining listeners for `/drain` endpoint. Since it doesn't do any work once drain starts, we can poll and wait for it to become zero in the agent.

[2021-08-24 01:41] lambdai opened #17819 "Populate more fields of per connection stream info"
Currently a tcp connection has a stream info object but very limited fields are filled, mainly to record no filter chain found.

Instead of make the stream info ephemeral, we can use it to track connection creation, including
1. Time spent on listener filter
2. Time spent on transport socket
3. Time spent on balance
etc

TCP socket is "downstream" of a tcp connection,  the existing `last_downstrea

[2021-08-24 04:09] lambdai commented on #17754
Theoretically, starttls transport socket can be used here. See https://github.com/envoyproxy/envoy/blob/b187787680c7c3491ccf049994b551f225b002d5/api/envoy/extensions/transport_sockets/starttls/v3/starttls.proto#L19-L25

But it requires the mysql_proxy to sniff the switch boundary and poke starttls transport socket callback

[2021-08-24 04:54] PiotrSikora commented on #17576
@rahulanand16nov @unleashed FYI, I don't believe anyone is working on fixing this, is this something that you could do?

[2021-08-24 08:28] PiotrSikora commented on #17332
FYI, there is some work happening in WebAssembly ([stack swithcing](https://github.com/WebAssembly/stack-switching)) and in Proxy-Wasm/WASI around async, but it's probably going to take another year before it's finalized and usable.

[2021-08-24 08:49] dandan2095 opened #17821 "Use specific http header in ring hash."
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers#ring-hash
According to the doc above,  we know that while using ring hash lb policy, each request is routed to a host by hashing some property of the request. I wonder whether this property of the request can be specified with some http headers, or is this feature already supported and how should

[2021-08-24 09:31] dandan2095 commented on #17821
Found what I need...

[2021-08-24 09:31] #17821 closed

[2021-08-24 13:24] #17706 closed

[2021-08-24 13:59] ahasnaini opened #17827 "Specifying gRPC Access Log Service to V3"
*Title*: Specifying gRPC Access Log Service to V3

*Description*:
When using V3 for access logging nothing is being sent to the GRPC endpoint.
Here is the config I am using.
[code]

Also can this be used to log the request/resposne if not any example of tap that can be used with GRPC?

[2021-08-24 14:27] wez470 commented on #7171
My priorities ended up changing and this was set aside for me. Anyone should feel free to pick this up if they want.

[2021-08-24 15:17] unleashed commented on #17576
@rahulanand16nov @NomadXD can you guys give it a go?

[2021-08-24 17:23] rgs1 commented on #17808
Thanks for reporting this @Alexcei88 – happy to help reviewing a PR if you want to start working on something.

[2021-08-25 02:43] mpuncel opened #17836 "clusters can get stuck in warming due to race with EDS and ignore_health_on_host_removal"
*Title*: *clusters can get stuck in warming due to race with EDS and ignore_health_on_host_removal*

*Description*:
For clusters which have `ignore_health_on_host_removal` set (which causes hosts to be removed immediately if they disappear from EDS rather than waiting for a health check to fail by default), a cluster can get stuck in the warming phase forever due to a race condition.

The warming

[2021-08-25 05:13] codefromthecrypt commented on #17500
I started an action to try and do this, but there are problems in the PRs maybe by next time it might work, and in that case I can raise a PR if no one does anything

1.19.1 https://github.com/Homebrew/homebrew-core/pull/83921
1.18.4 https://github.com/Homebrew/homebrew-core/pull/83929

[2021-08-25 05:14] codefromthecrypt commented on #17500
@carlocab it seems envoy suffers from perpetual build drift with bazel. Do you know an approach to CI so that when projects change things they know if they might break a a formula before the next release?

[2021-08-25 07:24] leyao-daily opened #17840 "code coverage check for `source/common/http/http2` failed"
In the latest main branch, the code coverage for `source/common/http/http2` is 96.5 lower than 96.6.
we can see https://storage.googleapis.com/envoy-pr/2de675e/coverage/source/common/http/http2/index.html here.
The code coverage of codec_impl.cc become lower than before.

The line 1726-1727 can not be coveraged.
https://storage.googleapis.com/envoy-pr/2de675e/coverage/source/common/http/http2/code

[2021-08-25 08:17] VivekSubr opened #17841 "Network filter to mirror socket options upstream/downstream"
*Title*:  Network filter to mirror socket options upstream/downstream

*Description*:
I am using envoy in istio-sidecar.

So, the application running inside the pod ('downstream') creates a socket and does setsockopt on that socket to set some IP headers (DSCP byte in my case), but envoy uses a different socket to send message to target application ('upstream').

So, during proxying, these IP head

[2021-08-25 08:53] phlax commented on #17841
its probably worth taking a look at the (recently updated) contrib extensions policy https://github.com/envoyproxy/envoy/blob/main/EXTENSION_POLICY.md#contrib-extensions

cc @mattklein123

[2021-08-25 09:49] zhxie commented on #17652
I would like to take a try adding routing option for UDP proxy filter.

[2021-08-25 10:58] ToniCipriani commented on #14141
@phlax We noticed the same problem again on one of our clusters. However it doesn't mention the additional message, and it tried to drop the permissions, resulting in the chown error again. I will have to check the service account configuration on what it's trying to run as.

[2021-08-25 11:19] phlax commented on #14141
im a little confused - im trying to figure out how either, it could be running as non-root but get a uid of 0, *or*, its running as root but cant chown

[2021-08-25 13:06] esmet commented on #17085
I looked at this and I think I agree.

If true, then we probably have this issue in the ratelimit filter as well as the lua, jwks, and oauth filters.

[2021-08-25 13:35] naaly17 opened #17845 "Streaming Response Body Timeout"
Streaming Response Body Timeout

I am using Spring Boot StreamingResponseBody and Envoy is timing out, I tried setting the property in my filter chain:  max_stream_duration: 30000s
Is there another property I should be using?

Full YAML file:

[code]

[2021-08-25 14:06] naaly17 commented on #17845
figured this out!

So you can set your timeout here as follows:

[2021-08-25 14:06] #17845 closed

[2021-08-25 14:43] zthomas2 opened #17847 "client_ssl_auth should set termination details, and possibly response flag, on deny"
*Description*:
I have envoy configured with the client_ssl_auth filter:
[code]
Currently this is working, in that if a call is made with a certificate included in the allowed list it is let through, and if the cert is not in the list it is denied. The problem that I'm trying to solve is that when the caller uses a certificate not included in the list, Envoy seems to simply return an empty reply ra

[2021-08-25 16:08] mattklein123 commented on #17841
cc @PiotrSikora. What do you think about this as a WASM use case in general? I don't think doing a filter here would be that difficult, though I'm not sure we would want to merge it if WASM is a better place for this type of thing.

[2021-08-25 16:14] #13116 closed

[2021-08-25 18:44] PKizzle opened #17854 "Publish gperftools-based builds"
As discussed in #15235 devices with a page table size of 3 are not able to run builds based on Google's tcmalloc.
Changing the page table size to 4 requires a kernel rebuild. This is especially relevant for RaspberryPi owners.
Therfore until issues google/tcmalloc#82 or raspberrypi/linux#4375 are closed envoy versions >= 1.17 should also be published using gperftools' tcmalloc.

[2021-08-25 21:15] jespersoderlund opened #17857 "Support decode of base64 header values in headers to metadata filter"
*Title*:  Support decode of base64 header values in headers to metadata filter

*Description*:
To be able to extract some metadata from a base64 encoded header the value would first need to be decoded before the regexp could be applied. Right now it's supported to encode a value with base64, but not decode an existing value.

In my case I'm specifically looking at the Authorization header for basi

[2021-08-25 21:59] codefromthecrypt opened #17859 "Make it possible to build without git"
*Title*: Make it possible to build without git

*Description*:
Not all release automation tools expect a git checkout. For example, homebrew norms are a source extraction.  Trying to build like this results in errors like this.

[code]

@cho-m was able to troubleshoot this:

Even if there is a work around, time was lost multipled by a number of people and that is an unnecessary bomb to leave in th

[2021-08-26 01:19] FeiYing9 opened #17863 "'ConnectionManager::stopped_' never go to be 'true' in dubbo_proxy"
*Title*: *'ConnectionManager::stopped_' never go to be 'true' in dubbo_proxy*

*Description*:

However, the same variable in thrift_proxy can be set to true at https://github.com/envoyproxy/envoy/blob/ef82a02bed0e6ab3de45e87b365cb18b55be6010/source/extensions/filters/network/thrift_proxy/conn_manager.cc#L68

[2021-08-26 09:25] virnet opened #17866 "How to implement HTTP protocol (non TLS), different domain names are configured under different FilterChain or Filter"
*Title*: *How to implement HTTP protocol (non TLS), different domain names are configured under different FilterChain*

*Description*:

**error message**
[2021-08-26 17:18:40.319][1609823][critical][main] [source/server/server.cc:112] error initializing configuration '/etc/envoy/envoy.yaml': error adding listener '0.0.0.0:80': filter chain '' has the same matching rules defined as ''
[2021-08-26 1

[2021-08-26 14:37] phlax opened #17870 "Improve load-reporting example `verify.sh`"
### Description

the load-reporting example was failing, but this was not being picked up in ci

the problem has been resolved in #17770 but it would be good to add some ci to catch the issue

[2021-08-26 22:02] rgs1 opened #17882 "subset lb: support overriding TLS upstream config"
The subset LB allows us to route to the right upstream in a dynamic environment. However, there's currently no way to dynamically alter the TLS configuration that should be used to contact a given upstream endpoint (e.g.: overriding the configured SAN). More specifically, what we need is to construct an exact SAN match from a pre-configured prefix SAN using extracted metadata. That is, there is a

[2021-08-26 22:07] #17859 closed, assigned to nobody

[2021-08-26 22:37] codefromthecrypt opened #17886 "Remove build dependency on golang"
*Title*: Remove build dependency on golang

*Description*:
While marketed as always compatible, recent versions of go break especially around how modules work. Rather than embed this problem into Envoy, causing other tensions like go's platform matrix, could we not depend on go? At least for release builds?

These are the files I can see that reference go source. There may be some incidental depen

[2021-08-27 07:10] abhinav1998agarwal opened #17890 "Support tunneling tcp over HTTP/2+Connect by retaining the original destination address"
Description:

We want to use CONNECT over H2 to tunnel TCP traffic from a source to one of N possible destinations. We want to intercept requests with iptables rules, and route them over the CONNECT tunnels retaining their original destination information.
Is there a way we can capture the original destination IP and map the flow to a matching upstream? Do we need to write a filter to do this? Are

[2021-08-27 07:33] WeavingGao opened #17891 "OnDemand VHDS makes the first request returns 404."
*Description*:

cc @dmitri-d @htuch @lambdai

[2021-08-27 09:03] stamak opened #17892 "support on configuring HTTP Tunnel(HTTP CONNECT) + HTTPS"
*Description*:
 There is a need to implement next schema

`--CONNECT-over HTTP2-and HTTPS1 -->`  is pretty interesting as it has `Proxy-Authorization` as well as should be validated with custom ca cert

As I understand  [next](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades) should be configured

now My current config looks is below but it still does not work
I would

[2021-08-27 12:25] cetanu opened #17893 "Allow compressed payloads to be received via the REST API fetcher"
The REST API fetcher could check if the response contains headers indicating that the body is compressed, and decompress it. Perhaps just gzip to start with?

I had a look at how I might create a PR for this, and I got to this [function](https://github.com/envoyproxy/envoy/blob/main/source/common/config/http_subscription_impl.cc#L71), and could not understand it at all.

[2021-08-27 20:52] junpengl opened #17897 "Envoy memory leak when compiling with new TCMalloc"
*Title*: *Envoy memory leak when compiling with TCMalloc*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

When compiling Envoy v1.18.3 with the new TCMalloc library (from the official Envoy ubuntu Docker image),  the Envoy server memory_physical_size and heap_size shouldn't increase after initial start, especially when its memory_allocated do

[2021-08-27 22:59] rgs1 opened #17898 "thrift proxy: add access logger support"
Similar to #1953.

cc: @zuercher @fishcakez

[2021-08-28 04:01] #17411 closed

[2021-08-28 08:01] #16945 closed

[2021-08-28 08:01] #16991 closed

[2021-08-28 08:01] #17016 closed

[2021-08-28 08:01] #17036 closed

[2021-08-28 10:21] ThomasLohmann opened #17901 "external-dns support?"
Hi everyone,

any plans to support external-dns for Envoy? It would be really helpful and it's a common challenge on a bare-metal Kubernetes cluster. See the following link: https://github.com/kubernetes-sigs/external-dns

the idea/user story is the following: As a user, I want to create DNS records via external-dns in Cloudflare (or any other DNS provider) automatically, once another node or serv

[2021-08-28 14:20] annanya-mathur commented on #11318
I would like to take this issue

[2021-08-28 20:01] #16108 closed

[2021-08-28 23:05] santi-alvarez opened #17903 "Customize status code when jwt validation fails"
*Title*: Customize status code when jwt validation fails

*Description*:
I was wondering if there is a way to specify a custom status code to be returned when the jwt validation fails in `envoy.filters.http.jwt_authn`. Normally this returns a 401 status code but I would like to change it to a custom status code like 443.

I would like to do this because I need a way to somehow, in my client, diffe

[2021-08-29 04:01] #16981 closed

[2021-08-29 04:01] #17442 closed

[2021-08-29 06:53] ramaraochavali commented on #170
@alyssawilk If we need to build this for upstream also like for example when `use_downstream_protocol `is set on the cluster and the incoming connection is http1.0, can we use same http1.0 for upstream? Is that feasible with current setup and code? How difficult it is to build?  I know you have decided not to build upstream and add additional complexity there - but just want to get your sense on l

[2021-08-29 08:01] #17447 closed

[2021-08-29 13:11] jparklab commented on #17318
Can we re-open this ticket? There is a workaround as I mentioned in the description, but I still believe it is unexpected to clean up the port.

[2021-08-29 13:27] #17463 closed

[2021-08-29 15:36] wbpcode commented on #17898
Here is some related issue #13085 #6138. We do need a general design to solve these problems.

[2021-08-29 15:37] wbpcode commented on #17898
At present, for the general log solution, gRPC logger is the most difficult problem to solve.

[2021-08-29 16:01] #17082 closed

[2021-08-29 23:33] jpeach opened #17904 "Tag the data-plane-api repository as part of the envoy release process"
*Title*: Tag the data-plane-api repository as part of the envoy release process

*Description*:

It it not very clear how to match the xDS API to the right version of Envoy. go-control-plane releases don't line up with Envoy releases, and consuming xDS protobufs directly from the Envoy repository means pulling a large repository and (I think) reimplementing a bunch of tooling.

I did experiment wi

[2021-08-29 23:33] jpeach commented on #17904
xref https://github.com/envoyproxy/go-control-plane/issues/391

[2021-08-29 23:39] #17893 closed

[2021-08-30 00:01] #17461 closed

[2021-08-30 02:15] qas opened #17905 "Support dynamic state in composite filters"
*Title*:
**dynamic state be read and applied by Envoy when doing the matching with composite filters**

*Description*:
This feature request is for allowing dynamic state values to be used within matchers for composite filters.

Currently the only way to apply dynamic state values is to create a custom HTTP filter that reads dynamic state and sets HTTP headers, and use this filter first before the

[2021-08-30 03:46] codefromthecrypt commented on #17886
@moderation the below did happen and it did say problem downloading go, and it only happened on arm64

[code]

Whether or not you (an expert) are able to have a perfect working environment isn't the motivation of this issue. It is if the distraction caused by go and there have been, not just this one, is a required distraction or an optional one.

I can already tell you are in favor of keeping it,

[2021-08-30 03:55] codefromthecrypt commented on #17886
PS it is a good point to try to fix homebrew  #17500 hopefully can switch things to ad-hoc after the fact fixes to proactive part of a release. You'd get less non-experts commenting issues like this if the project team owned all their releases.

[2021-08-30 07:02] rojkov commented on #17903
/cc  @qiwzhang

[2021-08-30 07:04] hbgongen opened #17907 "The number of envoy connections 65,000+ will make the cpu fully loaded"
I ran into a problem recently.I use the version 1.15.2 release in docker.
In the product environment,my cpu will fully loaded when the connection reach to 65000+.
I check the handle of linux system,or the port of every connection.They seem to be normal.
/etc/sysctl.conf:
![envoy1](https://user-images.githubusercontent.com/36953705/131298310-32e616df-a048-4cf6-943f-21f2e8e86b26.png)
![envoy2](https

[2021-08-30 08:06] rojkov commented on #17897
The version of tcmalloc in Envoy is more than 6 months old now. Could you please try to update it and test again?

Also do you have the [overload manager](https://www.envoyproxy.io/docs/envoy/latest/configuration/operations/overload_manager/overload_manager) configured to try to release unused memory? Note that HeapShrinker is hardcoded to release memory if  ("physical_mem" - "allocated_mem") > 10

[2021-08-30 10:39] phlax commented on #17901
cc @mattklein123

[2021-08-30 10:44] phlax commented on #17904
cc @ggreenway @snowp

[2021-08-30 12:56] phlax commented on #17905
cc @snowp

[2021-08-30 14:40] mattklein123 commented on #17901
No, I don't think this is something that we will support. It seems like more of a control plane concern than an Envoy concern. I'm not even sure what the Envoy feature would be here.

[2021-08-30 14:48] mattklein123 commented on #17886
I'm going to close this out as this is not going to realistically happen.

In a world of infinite resources this sounds great. We don't live in such a world. Help appreciated.

[2021-08-30 14:48] #17886 closed

[2021-08-30 15:19] ThomasLohmann commented on #17901
@mattklein123 are you sure that it is a control plane issue and not a missed implementation by external-dns/envoy? Since our DevOps things so. Otherwise, how would you implement external-dns for a bare-metal cluster with an external load balancer like Envoy, HAProxy, Nginx etc. and connect it with external-dns?

Regards,
Thomas

[2021-08-30 15:22] mattklein123 commented on #17901
I don't know what this and it's not maintained by us, so I would suggest discussing with the maintainers of that project?

[2021-08-30 16:16] snowp commented on #17905
This should be relatively easy to do if someone has the time to pick this up: add the downstream StreamInfo to https://github.com/envoyproxy/envoy/blob/main/source/common/http/matching/data_impl.h#L14 and add an input (https://github.com/envoyproxy/envoy/blob/main/source/common/http/matching/inputs.h) that extracts the specified dynamic data.

In order for matching on filter state to make sense we

[2021-08-30 16:53] junr03 commented on #17907
@oschaaf or @jmarantz could probably have some pointers

[2021-08-30 17:19] ThomasLohmann commented on #17901
@mattklein123 alright. I will discuss it with the maintainers of external-dns. Because I was not sure, if this issue needs to be solved by Envoy or external-dns.

[2021-08-30 17:34] juanvasquezreyes opened #17914 "Use Header to select cluster"
Is it possible to use any header to select the cluster I want to send the request to?

if not I think will be a nice enhancement, for example

[code]

and at the clusters section, have as many clusters you want that will be selected with the enviroment, example
[code]

[2021-08-30 21:41] kyessenov commented on #2920
Given that Envoy sets REUSE_PORT by default now, it seems there is another reason to stop accepting connections in draining listeners: this would help shift traffic to another instance of envoy bound to the same port. We're thinking specifically of outbound connections that sidecar Envoy intercepts (hence, client "lame duck mode" does not help). We're aware of the inherent race in Linux TCP accept

[2021-08-30 23:59] jvanhorenbeke opened #17918 "Retry failed ext_authz requests"
*Title*: *Retry failed ext_authz requests*

*Description*:

[2021-08-31 01:06] jpeach opened #17920 "Clarify API versioning for alpha APIs"
*Title*: Clarify API versioning for alpha APIs

*Description*:

The [API_VERSIONING](https://github.com/envoyproxy/envoy/blob/main/api/API_VERSIONING.md) doc has a couple of exceptions for  the compatibility policy:

1. Changes made within 14 days of the introduction of a new API field or message.
1.  API versions tagged vNalpha. Within an alpha major version, arbitrary breaking changes are allowe

[2021-08-31 01:35] wbpcode commented on #17914
Looks like we have make it done. https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-routeaction#cluster_header

[2021-08-31 03:23] jpeach opened #17921 "DNS filter protobuf incompatibility between Envoy 1.18 and 1.19"
*Title*:

DNS filter protobuf incompatibility between Envoy 1.18 and 1.19

*Description*:

The `upstream_resolvers` field in the DNS filter was repurposed between Envoy 1.18 and 1.18.

I wanted to open a discussion on how control planes should handle this. If the field number was not re-used, then it would be relatively straight-forward to serve one field to Envoy 1.18 and the other to Envoy 1.19.

[2021-08-31 08:04] rojkov opened #17922 "Migrate event loops from file events to buffer events"
*Title*: *Migrate event loops from file events to buffer events*

*Description*:

This can help to spare at least 3 syscalls per request (two `writev()`s and one `readv()`).

Currently Envoy relies on Libevent as an implementation for event loops and uses it in the "readiness" paradigm. That is, Libevent (on behalf of the kernel) notifies the application (Envoy) that a certain file descriptor is r

[2021-08-31 09:06] rojkov commented on #17907
Could you make some [flamegraphs ](https://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html) for your setup?

What's the output of `sysctl kernel.msgmni` in your system?

PS. it smells like some counter gets overflowed after 65535.

[2021-08-31 10:50] busgo opened #17923 "found the oauth2 filter config error"
Hello, when i  inject the oauth2 filter  start the envoy service found error

[code]

my envoy.yaml is
[code]

[2021-08-31 10:58] hbgongen commented on #17907
thanks，i will try to get its flamegrahs.
kernel.msgmni is 15885.
@rojkov

[2021-08-31 12:15] juanvasquezreyes commented on #17914
Great!! thanks will try that

[2021-08-31 12:15] #17914 closed

[2021-08-31 14:03] FranGM opened #17926 "Redis Proxy support for "SCRIPT EXISTS" and "SCRIPT LOAD""
*Title*: *Redis Proxy support for "SCRIPT EXISTS" and "SCRIPT LOAD"*

*Description*:
The Redis proxy filter doesn't support every single Redis command, since not all of them can safely be hashed to a single destination. `SCRIPT LOAD` and `SCRIPT EXISTS` are examples of such commands.

However, this presents a problem when people want to rely on lua scripts, since they'd need to bypass envoy to loa

[2021-08-31 14:46] alyssawilk commented on #170
I think preserving HTTP/1.0 with use_downstream_protocol would be undesirable for most folks so I think you'd want to add an extra config knob to include http1.0.  If you have a business need to preserve this, it makes me sad but I'd totally give you the thumbs up and sign on for reviews.

I think largely you'd have to
*) send the HTTP/1.0 string as the request version
*) make sure we don't chunk

[2021-08-31 14:53] ramaraochavali commented on #170
Thank you for the feedback.

We also want to avoid this as it unnecessary complexity in Envoy.  I will sure take your help if we ever needed to build this - but I hope we do not have to :-)

[2021-08-31 15:03] mattklein123 commented on #17921
I think we should have a wider discussion of this problem here https://github.com/envoyproxy/envoy/issues/17920 (cc @envoyproxy/api-shepherds), but for this specific issue, if there is something we can do to make this easier I'm open to it, especially since this proto is still alpha (for example reserve the previous field and move this field to a new number, etc.). This wouldn't help you with alre

[2021-08-31 15:07] mattklein123 commented on #17922
For historical context, in "the beginning" Envoy did use bufferevent. I don't recall the history, but libevent's bufferevent actually had quite a lot of different issues, both perf and functionality, which is why we ended up moving away from it.

I think this would be a better approach. Similar to how we support pluggable IoHandle implementations (now we have user space IoHandles, etc.) I think it

[2021-08-31 15:40] alyssawilk commented on #17760
@lambdai had plans which would at least avoid passage through loopback, but I don't think anyone has the cycles to simplify beyond this today.

[2021-08-31 15:48] alyssawilk commented on #17891
Yeah, the router now supports internal redirects with a fully read body (https://github.com/envoyproxy/envoy/pull/15634) but the on demand filter does not yet use that new code (https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/on_demand/on_demand_update.cc#L63)

stopalliteration + explicit read disable might work for HTTP/1.1 downstream but due to how HTTP/2 buffering w

[2021-08-31 16:29] mattklein123 commented on #17920
cc @envoyproxy/api-shepherds

I agree about (1). Please raise a PR to adjust this text.

I think (2) is going to require a lot more thinking. I agree that with breaking changes we are going to reduce the chance that people will experiment with the API. So this leaves us with:
1) Just stop doing alpha and admit that all APIs are basically final (I'm getting pretty close to leaning in this direction

[2021-08-31 17:02] esmet commented on #15107
/assign

[2021-08-31 17:21] junr03 commented on #17923
please refer to the [Node](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-node) stanza in the bootstrap config.

[2021-08-31 17:58] alecholmez commented on #17904
@jpeach Also had an offline conversation about potentially moving the build of go-control-plane away from bazel since it adds quite a bit of complexity. We would reference the data-plane-api protos as the source of truth

[2021-08-31 20:01] #17432 closed

[2021-08-31 20:44] jpeach commented on #17921
Switching the field numbers would help a lot, but if anyone uses this in envoy 1.19.0 or 1.19.1, it would put them in the same position. My GitHub searching only turned up Kuma as a user of this, so maybe it would be OK?

[2021-08-31 21:18] mattklein123 commented on #17921
Not sure if it's OK or not. I'm not really sure what the best thing to do here is unfortunately.

[2021-08-31 21:19] #17836 closed

[2021-08-31 21:39] jpeach commented on #17921
| Envoy | Field 2 | Field 3 |
| --- | --- | --- |
| 1.18.4 | upstream_resolvers | -  |
| 1.19.1 | dns_resolution_config |  -  |
| 1.19.2 | reserved | dns_resolution_config |

Thinking about this some more. If we renumber and reserve the field for the next release, anyone adopting 1.19.2 from a previous 1.19 release can make the transition (because field 2 is reserved and unused). Anyone coming fro

[2021-08-31 21:47] jpeach commented on #17920
I do think that is is OK for alpha APIs to spend less on compatibility than major version APIs. People adopting them should be prepared to do at least some transition work across Envoy releases. I'm not sure how to couch it in spec language, but breakages are OK as long as you can migrate between Envoy releases.

[2021-08-31 23:01] suniltheta commented on #17921
Yes, I lean towards making **Field 2** as `reserved` for v1.19.2.

**Field 3** is already used up for [`uint64 max_pending_lookups`](https://github.com/envoyproxy/envoy/blob/v1.19.1/api/envoy/extensions/filters/udp/dns_filter/v3alpha/dns_filter.proto#L60)

So we need to find some other field ( **Field 5** may be? ) for *dns_resolution_config*. Hopefully the change that is made in v1.19.2 is also a

[2021-08-31 23:06] mattklein123 commented on #17921
If people are using this in production, my view is to go ahead and convert it over, and perhaps this would provide the 2 different protos that are needed to handle this?

[2021-08-31 23:41] jpeach commented on #17921
Ok, I'll post a PR today (just running hazel tests ATM).

[2021-09-01 00:20] jpeach commented on #17921
I posted #17943 which keeps the old field number for control planes moving from 1.19.0 to 1.19.2, but renumbers the field so that control planes can move from 1.18.4 to 1.19.2. The latter set of control planes will still need to carry a patch that reverts the type of field 2.

[2021-09-01 01:08] htuch commented on #17920
My basic thinking is that alpha APIs are unfit for use in production systems and control planes should not support them. This aligns with @mattklein123 take that basically all APIs are final. The question is how do we enforce this for `contrib/`?

In any case, I think whatever rules we adopt have to be machine enforced with `buf`. We're past the point that humans can consistently enforce them in a

[2021-09-01 02:09] busgo commented on #17923
thanks, i has fix the error.

[2021-09-01 02:09] #17923 closed

[2021-09-01 03:03] htuch commented on #17753
@gbrail this seems relevant to whoever picks up productionizing ext_proc.

The stack trace seems to be missing a bunch of information around line numbers, but does mention `source/common/quic/envoy_quic_server_stream.cc`. If that's true, not sure why, since presumably we're not using HTTP/3 here.

[2021-09-01 03:22] qiandu2006 opened #17944 "Checking directory exists or not would be much better"
https://github.com/envoyproxy/envoy/blob/51b451b8b8644370ac7523c689fff3b166de4615/examples/front-proxy/Dockerfile-service#L5

`RUN [ -d /code ] || mkdir /code`

[2021-09-01 03:26] adisuissa commented on #17920
I also agree that at the moment anything added as alpha is essentially final. I think that typically alpha/beta is used for a specific version release of a binary, during which the API can change. However, this makes little sense in how Envoy's versioning works as the binary version is orthogonal to the API version.

For `contrib/` I think the bar is much lower, and it is up to a contributor to se

[2021-09-01 04:00] mathetake commented on #12155
FWIW here, we are already able to write extensions in Rust via Wasm NullVm mechanism: https://github.com/mathetake/proxy-wasm-rust-nullvm and link them statically.

[2021-09-01 04:01] #17167 closed

[2021-09-01 04:17] wbpcode commented on #17944
Does this example not work properly?

[2021-09-01 04:43] jpeach commented on #17920
Perhaps a middle ground for alpha APIs is to be more aggressive about incrementing version numbers. Rather than making changes to v1alpha1 that are not wire-compatible, leave v1alpha1 in place N and make the change in v1alpha2. Envoy doesn't need to support both versions, but would continue to ship the protobufs (because go-control-plane isn't strongly bound to Envoy releases). Then control planes

[2021-09-01 04:44] jpeach commented on #17920
IME, the envoy project has been really good at API compatibility, so it's easy to make the same assumptions about alpha APIs :)

[2021-09-01 05:40] hbgongen commented on #17907
when i change msgmni to 70000,it also has fully cpu loaded when the tcpconnection reach 65000+. @rojkov

[2021-09-01 05:43] hbgongen commented on #17907
![image](https://user-images.githubusercontent.com/36953705/131617908-b12c5162-0cef-42f5-8cd4-da414ae9cf34.png)
i find this problem,cpu all for the kernel function **connect**.
Maybe Before we connect,shall we bind a port in case of the cost of selecting unused port.

[2021-09-01 06:56] rojkov commented on #17907
This looks like Envoy is trying to open 65000+ connections to the same single upstream and running out of local ports (65536 connections is a hard limit here). Is that the case?

[2021-09-01 07:00] wbpcode commented on #17918
Nope. Although we can make a retry-able async http reqeust by setting retry policy in `AsyncClient::RequestOptions`, ext_authz does not expose it as an config for now.

[2021-09-01 08:41] su225 commented on #15953
Adding a note here - In Istio (https://github.com/istio/istio/pull/33817), we use good old "add header" at HTTP route level for `alt-svc`. Not a complex case as mentioned by @alyssawilk, just `alt-svc: h3=:443; ma=86400`.

[2021-09-01 09:13] hbgongen commented on #17907
Yes...Sorry..Ahahahah,i have find this problem.single listener port to same upstream is only 60000+ because of the ip port range...i ignore that envoy will create a local ip to upstream.

[2021-09-01 09:13] #17907 closed

[2021-09-01 10:32] learnbyseven commented on #16475
This is still an issue with all your latest code.

[2021-09-01 11:02] phlax commented on #16475
hi @learnbyseven please reread my comment here https://github.com/envoyproxy/envoy/issues/16475#issuecomment-840344681

[2021-09-01 11:25] learnbyseven commented on #16475
Hi @phlax , I have just started with envoy following installation guide (Latest one) , My envoy version shows; /1.18.2/clean-getenvoy-76c310e-envoy/RELEASE/BoringSSL and I have downloaded and use the latest sample from https://www.envoyproxy.io/docs/envoy/latest/_downloads/92dcb9714fb6bc288d042029b34c0de4/envoy-demo.yaml file. I solved it just with by using putting a "connect_timeout: 5s".
Example

[2021-09-01 11:56] qiandu2006 commented on #17944
My error. At this first time of building, there was "/code exists" in output. Now this problem could not be reproduced. Sorry for the interrupting!

[2021-09-01 11:56] #17944 closed

[2021-09-01 11:59] phlax commented on #16475
with versions `< 1.19` the `connect_timeout` setting is required, for later versions it has a default

[2021-09-01 12:05] learnbyseven commented on #16475
I assume envoy package version has a coupling with OS version.
OS : DISTRIB_ID=Ubuntu, DISTRIB_RELEASE=18.04
Envoy : getenvoy-envoy/bionic,now 1.18.2.p0.gd362e79-1p75.g76c310e amd64 [installed]

[2021-09-01 12:20] phlax commented on #16475
its not so much related to the OS (atho its a factor) - it deps on what version you have installed

we are currently transitioning to a new packaging system, hopefully things will be clearer once that has been set up

[2021-09-01 13:09] rohrit commented on #17760
Thank you for the reply, @alyssawilk !

[2021-09-01 13:09] #17760 closed

[2021-09-01 14:09] learnbyseven commented on #16475
Good to hear , I have updated the UB 18.04 with latest packages and install Envoy as per the latest doc (yesterday only) and got into the issue. No worries thanks ! for your swift responses, really appreciated.

[2021-09-01 15:11] mattklein123 commented on #17920
Having thought about this a bit more, I would vote for one of two extreme options:
1) No more alpha outside of contrib.
2) Alpha outside of contrib is allowed during development of a feature, but there is a extremely clear understanding that alpha APIs are not stable, should not be used in production, and if someone wants to use a feature in production they need to say so so we can move the API to

[2021-09-01 17:37] ggreenway commented on #17535
It appears that the version of tcmalloc in gperftools has diverged from the main tcmalloc repo, and the offending code is only present in gperftools. But gperftools-tcmalloc is used by default on MacOS. Testing to see if switching MacOS to use the non-gperftools tcmalloc fixes the issue.

[2021-09-01 18:46] JakeCooper commented on #10793
We're bumping into this ATM while moving [Railway](http://railway.app/) to Envoy (We have over 1k secrets which is causing a stream crash on Envoy start)

"This problem does not occur if SDS comes from ADS. It is only a problem when not using ADS for SDS"

Additionally can't seem to find the resources for enabling ADS for SDS as mentioned above. dynamic_config only seems to have lds and eds. So, w

[2021-09-01 18:47] lizan commented on #17920
I'm leaning to 1. as we have contrib now, new extensions can be started in contrib during its development and then moved into main if there's desire.

[2021-09-01 19:28] mattklein123 commented on #17920
Yes (1) is my vote also.

[2021-09-01 20:01] #17295 closed

[2021-09-01 20:49] lambdai opened #17956 "rewrite waitForGaugeDestroyed in notification style"
https://github.com/envoyproxy/envoy/pull/17931#discussion_r700540524

currently only Counter supports the notification style wait

[2021-09-01 20:59] htuch commented on #17920
I vote for (1). But I also think that we are going to relitigate this whole issue inside of contrib, as control planes decide to support contrib extensions. There really is no free lunch, we need to be clear that anything inside of contrib is completely unsupported and unsupportable in any commercial product or production environment. If folks don't like that for a feature, then there needs to be

[2021-09-01 21:11] mattklein123 commented on #17920
I agree.

Well sounds like are aligned on (1). We should audit all alpha APIs in core and move them to non-alpha.

[2021-09-01 21:33] jpeach commented on #17920
@mattklein123 @htuch Can you help me understand why simply incrementing the alpha version number doesn't address most of the issues here (e.g. [this](https://github.com/envoyproxy/envoy/pull/17479#discussion_r700570928) comment)

[2021-09-01 21:35] mattklein123 commented on #17920
It does work, but it's a lot more work for the project. I really don't want to go down that road.

[2021-09-01 21:38] mattklein123 commented on #17920
How are you going to track which alpha version for which version? Etc.? Can we update multiple times within a release? It's just more complicated for all involved.

If people are using things in products it just can't be alpha.

[2021-09-01 21:43] jpeach commented on #17920
I can think of suggestions for this, but I'll avoid ratholing on it :)

True enough.

[2021-09-01 23:51] jpeach commented on #17921
This change would be needed in 1.19.2. Is there something that I ought to do to flag it for consideration?

[2021-09-02 02:32] dominicqi commented on #8218
hello, How's the work going?

[2021-09-02 03:00] #17690 closed

[2021-09-02 03:06] htuch commented on #17920
I worry have multiple alpha versions is the equivalent of multiple major versions. We know how to support it, but it's honestly a PITA if we can avoid this structurally.

[2021-09-02 04:01] #17379 closed

[2021-09-02 04:06] htuch commented on #10793
You can reference ADS in the `ConfigSource` for SDS at https://github.com/envoyproxy/envoy/blob/4aab7faa910e85c0832345c7113ff41859ba607d/api/envoy/extensions/transport_sockets/tls/v3/secret.proto#L36.

[2021-09-02 04:52] agrawroh opened #17961 "Discrepancy in VirtualCluster stats getting emitted from v1.18+"
## Title

Discrepancy in VirtualCluster stats getting emitted from v1.18+

## Description

While upgrading our Envoy version from **v1.17** to **v1.18**, we ran into an issue where the Virtual Clusters metrics stopped liking any `.`s in their names and hence broke most of our metrics using names such as `/api/2.0/…` and `/ajax-api/2.0/…` etc.

**Virtual Cluster Stats from v1.17:**

<img width="668

[2021-09-02 14:16] htuch commented on #10793
Yep, that should work.

CDS/LDS are global to the proxy, hence why they are configured in top-level dynamic resources in the bootstrap. SDS is per transport socket, hence why its configuration lives there.

[2021-09-02 15:58] gschier commented on #10793
Thanks for the help on this @htuch! Do you know if this is documented anywhere and we just missed it?

[2021-09-02 16:10] 7FA49AAC-93BF-411A-A56B-7F0416652D1F opened #17965 "SNI not retrievable streamInfo:requestedServerName() not working"
*Title*: *SNI not retrieved or `nil` with streamInfo:requestedServerName()*

*Description*:
We need a conditional statement which checks whether the originating SNI is `subdomain.domain.tld` or `api-{000...999}.domain.tld`. We use multiple `virtual_hosts` for that.
For this, we planned on using `streamInfo:requestedServerName()` in the lua filter, checking the SNI.
To retrieve it, following docume

[2021-09-02 16:32] yanjunxiang-google commented on #17921
HI, James,
I added a comment at #17943 <https://github.com/envoyproxy/envoy/pull/17943>.
I am trying to understand why we need two *
config.core.v3.DnsResolutionConfig* fields here.

thanks,
Yanjun

On Wed, Sep 1, 2021 at 7:51 PM James Peach ***@***.***> wrote:

[2021-09-02 17:09] snowp commented on #13261
At this point it seems like we can start thinking about dropping zlib support since the stable release is quite a while ago.

What would be the process for doing so? Would we want to go through a deprecation period where we switch the default to ng or are we comfortable just making the switch directly?

@keith also pointed out that we currently only support using zlib-ng on Linux, which might be a

[2021-09-02 17:35] alyssawilk commented on #17920
coming in late, for something like HTTP/3, would we have wanted it to land in contrib to start with?  I'm generally fine with a policy of "hide rather than alpha" for !contrib, but I think there are cases where alpha makes sense for in progress work.

[2021-09-02 17:56] mattklein123 commented on #17920
One other random idea: When using an alpha proto we output a stern warning that says this proto should only be used for development and should not be used in any deployments/products in which API stability is needed.

Thoughts?

I'm OK with ^ but I'm looking through the current alpha protos and some of them already need to move.

[2021-09-02 18:00] alyssawilk commented on #17920
+1 to warnings, at the very least.  One other things we could try process-wise is any alpha tagging comes with a filed issue to the author to actually get it to GA.  It'd make it easy to see who is working on it, and make the expectation that it "graduate" more clear.

[2021-09-02 18:01] mattklein123 commented on #17920
OK I like the warning idea. I will work on that, and then in parallel I will start moving some over that I know are already used in production.

[2021-09-02 19:42] adisuissa opened #17971 "Tech-debt: upgrade Thrift (or move to contrib)"
*Title*: Tech-debt: upgrade Thrift (or move to contrib)

*Description*:
At the moment Envoy uses [Thrift v0.3.9](https://github.com/envoyproxy/envoy/blob/338a42c89825653f30bd979933db94ed13619686/bazel/repository_locations.bzl#L564-L585) from twitter.common which was released on 2016-10-17.
AFAICT the project was last updated on [August 2019](https://github.com/twitter-archive/commons/tree/master/s

[2021-09-02 19:46] rgs1 commented on #17971
I don't think we should move it to contrib/ given that we actively maintain and use it in production. Plus, there's been some new contributions from outside of Pinterest too.

That Twitter common stuff is used for integration testing, I am happy to explore alternatives.

cc: @fishcakez

[2021-09-02 19:54] moderation commented on #17971
From a @envoyproxy/dependency-shepherds point of view replacing the long deprecated libraries with something maintained would be preferable and align with the [Dependency Policy](https://github.com/envoyproxy/envoy/blob/main/DEPENDENCY_POLICY.md).

Considering the Thrift community is active I would have thought there were replacements for these long deprecated projects but last time I look I could

[2021-09-02 20:01] #17503 closed

[2021-09-02 20:01] #17504 closed

[2021-09-02 20:35] jpeach commented on #17920
Just to be extra clear, I'm not asking for API stability, only the ability to implement a rolling upgrade across envoy versions, which I *think* is a weaker constraint.

[2021-09-02 20:56] jpeach commented on #17921
Between envoy 1.18 and 1.18, the type of field 2 was changed.The dns filter is used by Kuma service mesh, so when we upgrade envoy we will need to serve xDS to both envoy versions simultaneously. So we need a proto definition where field 2 isn't used for 2 different purposes.

[2021-09-02 22:29] jamesmulcahy commented on #17711
@alyssawilk Yes, looks like it. That commit isn't actually checking the verbose flag, it's unconditionally adding the spans.

This should be a straightforward fix. At a quick glance, `Tracer::startSpan` (which has access to the Config containing the verbose flag) probably needs to put the verbose flag into the `Span`, so that  `JsonV2Serializer::toListOfSpans` can determine whether or not to add t

[2021-09-02 23:34] mattklein123 commented on #17920
We understand what you are asking for. What we are saying is we aren't going to do it because it's too much work. :)

There are only 2 options we will support:

1) Full API stability
2) No API stability (alpha)

I'm going to do a change to actively warn when using an alpha proto with a link to documentation around what that means. With that said, we are willing to work with you on this as it was n

[2021-09-03 04:01] htuch commented on #10793
I think this is really reading the docs in https://www.envoyproxy.io/docs/envoy/latest/api/api, which is a bit like asking to read an entire textbook to understand one specific concept 🤷

@phlax if you're tracking areas for docs improvements, this would be a good one to add.

[2021-09-03 04:07] htuch commented on #13261
This is definitely a papercut; i.e. all things being equal it would be better to have one library than two, but we probably need to find an owner who cares enough to do the work that @rojkov suggested and get this working across platforms. The marginal security advantage is probably somewhat slim, given how well tested and used zlib is, but I'd take the dependency elimination if all other things w

[2021-09-03 04:10] #17424 closed

[2021-09-03 06:35] zhxie commented on #15293
It is easy to construct x-ratelimit-* response headers with token bucket, but there is a problem which needs to be solved. Since local rate limit allows user to apply different rate limit rules according to different [descriptors](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-ratelimit), we have to add response headers corresponding to re

[2021-09-03 07:12] luoxiner commented on #1182
I'm interested in that, too !

[2021-09-03 07:29] Patrick0308 opened #17975 "Lua filter's bodyBuffer be truncated when contain two-digit hexadecimal"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:
Lua filter's bodyBuffer be truncated when string contain two-digit hexadecimal.

*Repro steps*:

[code]
Log print:
[code]
The

[2021-09-03 07:40] Patrick0308 commented on #17574
@lizan Through more than ten days of testing after disable [wasm-based telemetry](https://istio.io/latest/docs/reference/config/proxy_extensions/wasm_telemetry/), the problem has not reoccured.
I will not close this issue, because the issue is not be fixed.

[2021-09-03 07:52] wbpcode commented on #15784
This is ok now.

[2021-09-03 07:52] #15784 closed

[2021-09-03 08:32] wbpcode commented on #17975
Looks like "setBytes" handle the data as C string.  So my be we need a additional parameter to let Lua script tell the length of data.

[code]

[2021-09-03 09:07] Patrick0308 commented on #17975
@wbpcode Thanks for reply. I will try to fix it by the way which you said.

[2021-09-03 09:18] wbpcode commented on #17975
If you want to contribute this fix, then I'd like to help you review it.

[2021-09-03 09:20] wbpcode commented on #17975
cc @mattklein123

[2021-09-03 14:29] #14260 closed

[2021-09-03 15:17] #17863 closed

[2021-09-03 15:53] howardjohn opened #17980 "xds: non-wildcarded resources unexpected behavior when parent is removed in delta"
*Title*: xds: non-wildcarded resources unexpected behavior when parent is removed in delta

*Description*:
We are seeing that we get RDS requests for resources that don't exist in any Listeners route_config_name. This seems specific to delta XDS so far, but more investigation may show others; I didn't have a chance to thoroughly reproduce everything cleanly.

I think the sequence is something like

[2021-09-03 18:03] mattklein123 commented on #17920
OK after further discussion, I think here is the final plan:

1) We will ban `alpha` in package namespaces and force migrate existing alpha packages. It's TBD whether we do this for contrib also. I would argue yes but we can sort this out later.
2) We will remove usage of the `[#alpha:] ` protodoc annotation.
3) We will add parallel message and field annotations for `work_in_progress` similar to h

[2021-09-03 18:03] mattklein123 commented on #17920
(I will work on this also as my next "side project")

[2021-09-03 20:01] #17219 closed

[2021-09-03 20:01] #17507 closed

[2021-09-03 22:47] lizan commented on #17574
Can you open an issue in Istio side as well to track? This is likely the wasm-based telemery implementation issue.

[2021-09-04 02:10] zhaytee opened #17989 "Dynamic forward proxy: can't disable certificate validation"
Hi all. Using Envoy 1.19.1 here. We've got a dynamic forward proxy setup, and sometimes our upstream hosts use self-signed certificates. In these situations, we need envoy to avoid validating those certs.

From the docs: https://www.envoyproxy.io/docs/envoy/v1.19.1/api-v3/extensions/transport_sockets/tls/v3/tls.proto.html
[code]

Also from the docs: https://www.envoyproxy.io/docs/envoy/v1.19.1/api

[2021-09-04 08:39] 13567436138 opened #17990 "where are metadata_exchange and stat wasm plugin code？I can not find them."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
where are metadata_exchange and stat wasm plugin code？
*Description*:

where are metadata_exchange and stat wasm plugin code？
[optional *Relev

[2021-09-04 12:01] #15991 closed

[2021-09-04 12:15] logrusorgru commented on #17031
@github-actions bot, die.

[2021-09-04 16:01] #17236 closed

[2021-09-05 00:01] #17346 closed

[2021-09-05 07:57] mum4k commented on #16886
Pending time allocation, but will be addressed.

[2021-09-05 17:30] agrawroh commented on #17961
We realized that the new RegEx for matching the VirtualCluster names don't support any dots etc.
https://github.com/envoyproxy/envoy/blob/0fae6970ddaf93f024908ba304bbd2b34e997a51/source/common/config/well_known_names.cc#L86

We ended up configuring the `stats_config` and replaced the VC RegEx to something like this:
[code]

[2021-09-05 18:20] rahulanand16nov commented on #17576
@PiotrSikora @unleashed We (@NomadXD and I) will give it a try and keep you guys posted here.

[2021-09-05 19:54] htuch commented on #17920
SGTM (I'm agnostic on alpha vs. WiP terminology, so whatever works)

[2021-09-06 01:51] dio commented on #17798
@shamigor sorry I couldn't reproduce this. I apply the following [patch](https://gist.githubusercontent.com/dio/f365269c7d3aa5f7b2b71d2e28185abb/raw/00686910ec823a119fc425965edb70a8969adb02/lua-per-route.diff
)[1] to Envoy `/examples` directory:

[code]

[1] Patch for you case:
[code]

[2021-09-06 06:50] wbpcode opened #17996 "dubbo: heart beat response error"
*Title*: *dubbo heart beat response error*

*Description*:

Dubbo Proxy will return an incorrect heart beat response when received a heart beat request and causing client-side parsing error.

[code]

[2021-09-06 06:53] wbpcode commented on #17996
It seems that the root cause is that the heat beat response generated by the dubbo proxy is missing one byte.

I will try to verity and fix it.

[2021-09-06 08:42] dio commented on #17711
@gongcon, do you mean annotation for `cr` and `ss`, something like below?

[code]

I think the referenced "stream events" are (called by `annotateVerbose` https://github.com/envoyproxy/envoy/blob/cc1d41e7ee9fbfb7ee3c8f73724cdc41d7c6bbb0/source/common/tracing/http_tracer_impl.cc#L235-L237):

- `lastDownstreamRxByteReceived`
- `firstUpstreamTxByteSent`
- `lastUpstreamTxByteSent`
- `firstUpstreamRxBy

[2021-09-06 09:58] dio commented on #17494
I think we should have another "container" `Http::HeaderVector response_headers_to_set_{};`? So, when we receive `if (response->ok_response().response_headers_to_add_size() > 0)` we loop over the headers (options) and check for `header.append().value()`. We `authz_response->response_headers_to_add.emplace_back()` when `header.append().value()` and vice versa, emplace back to `authz_response->respo

[2021-09-06 11:20] gitirabassi opened #17999 "Upstream connection not closed on certificate expiration"
*Title*: *Cluster with client certificate keeps using old connections with expired certificate*

*Description*:
This issue is relevant when the cluster is configured with client certificate (10 days expiration) and envoy keeps using the same connection for issuing requests even after the certificate is expired. new conenctions are issued with the correctly loaded certificate but old connections ar

[2021-09-06 12:30] jcreixell commented on #125
@kylebevans is there any progress on this one? we at SoundCloud are considering envoy and use SRV for service discovery. We already contributed some code for SRV SD to linkerd 1.x and would be happy to help out / provide feedback if needed

[2021-09-06 17:21] ME-ON1 commented on #4709
@htuch Hi i was looking to get started on these issues and was looking on this issue https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=34875&can=2&q=envoy but couldn't get the idea from where to start !!
Would love to get some starting pointers on this issue !

[2021-09-06 18:59] dandlake commented on #17514
@alyssawilk, @PiotrSikora Should I keep this issue open or should I leave it and let github close it?

[2021-09-06 22:00] esmet commented on #17494
@dio Yes that makes sense. I'm still not clear how the existing bug manifests itself as always appending instead of never appending, though. I think I don't yet understand how append defaults to true, given the proto comment.

[2021-09-07 01:35] dio commented on #17494
_I think I have a mistake in the Draft PR above (my mind was mixed up with something else)._

Since we always do `addCopy` when we have entries inside the `response_headers_to_add_` vector (set by the `onComplete` call, the `append` field value itself is ignored), hence it is always appended (not replaced).

[2021-09-07 01:40] Shikugawa commented on #17990
@13567436138 `metadata_exchange` exists here. https://github.com/istio/proxy/tree/master/extensions/metadata_exchange

[2021-09-07 01:55] dio commented on #14980
@twghu are you going to raise a PR on that? Either API or runtime guard seems fine. But yeah I agree this should be on by default for now (however, runtime guard promotes running the new behavior by default so be careful when introducing this as a breaking change).

[2021-09-07 02:31] mattklein123 commented on #17999
This is an interesting feature request, but realistically, I doubt someone is going to end up implementing this when max connection duration seems like a reasonable solution.

[2021-09-07 02:37] mattklein123 commented on #17989
So this code:

https://github.com/envoyproxy/envoy/blob/cc1d41e7ee9fbfb7ee3c8f73724cdc41d7c6bbb0/source/extensions/clusters/dynamic_forward_proxy/cluster.cc#L183-L204

Which admittedly could be better documented. Basically `auto_san_validation` is turned on by default which I assume is what is failing. You will need to explicitly disable this and also enable  `allow_insecure_cluster_options`.

[2021-09-07 07:52] gitirabassi commented on #17999
Do you mean using max_connection_duration on the downstream?

I would love to use max_connection_duration on the upstream but it's not implemented yet (from documentation)

[2021-09-07 08:08] mathetake commented on #17574
ACKed.

[2021-09-07 08:18] wu-sheng commented on #16962
We still will work on this.

[2021-09-07 09:00] mathetake opened #18011 "ecds: add support for bootstrap extensions"
just like https://github.com/envoyproxy/envoy/issues/14696, https://github.com/envoyproxy/envoy/issues/15895, https://github.com/envoyproxy/envoy/issues/12893, it would be useful if we could configure bootstrap extensions dynamically - especially [Wasm Service](https://www.envoyproxy.io/docs/envoy/latest/configuration/other_features/wasm_service) which runs in the main thread and does some async p

[2021-09-07 09:53] dio commented on #4613
Hum, seems like you need your service to collaborate? Unless you call it directly using https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#httpcall directly (not sure if that is what you want).

[2021-09-07 10:02] dio commented on #17031
@vitruvvius it should be `envoy.filters.http.grpc_json_transcoder` before `envoy.filters.http.cors`?

Something like:

[code]

Ref: https://github.com/dio/grpc-web-hello/blob/master/envoy.yaml#L223-L236 (I know the repo name is grpc-web, but it actually serves out grpc-web and grpc-json-transcoding, in separate listeners).

[2021-09-07 11:11] PiotrSikora commented on #17514
Definitely leave it open, but I'm not sure if @alyssawilk or anybody else is actively working on it.

[2021-09-07 11:32] #17990 closed

[2021-09-07 12:31] twghu commented on #4709
@ME-ON1 Hi Tarun, can you DM me on Slack/Envoy.

To get started, have a read of
https://github.com/envoyproxy/envoy/tree/main/test/fuzz#running-fuzz-tests-locally
and
https://opensource.googleblog.com/2021/02/writing-fuzz-tests-with-ease-using-bazel.html

[2021-09-07 13:49] twghu commented on #4709
NOTE in https://github.com/envoyproxy/envoy/tree/main/test/fuzz#running-fuzz-tests-locally

`bazel run //test/common/common:base64_fuzz_test --config asan-fuzzer -- test/common/common/base64_corpus -runs=1000`

`-- test` not `--test`

[2021-09-07 13:51] stamak commented on #17892
@lambdai  thx
I have set the connection timeout
[code]

and now I have the next error
`{"level":"trace","time":"2021-09-07T13:25:19.359412Z","scope":"envoy connection","msg":"[C173] ssl error occurred while read: WANT_READ"}`

Full logs:
[code]

[2021-09-07 14:04] stamak commented on #17892
as for me there is a problem at upgrading HTTP(clear text) to HTTPS(encrypted)
@alyssawilk could you pls help with it?
thx in advance

[2021-09-07 14:08] shamigor commented on #17798
Hi @dio,

We can  change the function `envoy_on_request` in your patch, like this:

[code]

We got 401 on request `curl localhost:8000/health` in versions 1.19.0

In version 1.18.3 it works, returned "ok".

[2021-09-07 14:58] #17921 closed

[2021-09-07 15:15] esmet commented on #17494
I was previously under the assumption that addCopy (as opposed to appendCopy) only added non-existent headers and didn't append. Now that I read the HeaderMapImpl I see that's wrong, so now I need to understand the difference between these two 🤔

[2021-09-07 16:54] zuercher commented on #17971
@rgs do you use the finagle thrift variant? Maybe we should drop that part? Twitter doesn't seem to be supporting it in python, but I haven't looked recently if it's still a going concern for Java/JVM-based languages.

[2021-09-07 17:39] gongcon commented on #17711
@dio yes, I meant the annotation for the acronymic ones like `cr` and `ss`. Aren't they controlled by the verbose option?

[2021-09-07 18:27] cortex93 commented on #13809
Hi @larryrun, we are trying to build a dynamic upstream TLS proxy configuration. We have a working static solution here https://gist.github.com/cortex93/6d7cd9738b077d0447ab891cbacd0d5e but we need to get rid of `host_rewrite_literal` in HCM and `hostname` in tunneling_config.
Use case is `Client --(http://dynamic.target/)--> envoy L1 --(TLS Upstream)--> envoy L2 --(TcpProxy passthrough to https:/

[2021-09-07 18:34] rgs1 commented on #17971
Not currently and in theory we could do without the finagle variant within our thrift mesh...

cc: @fishcakez sc0ttbeardsley

[2021-09-07 19:00] zuercher commented on #17882
It seems to me that the security concern for this change would be the possibility of a bad actor disabling Envoy's SAN verification or setting it to accept an unexpected SAN. Header-to-Metadata's security posture already assumes trusted upstreams, it seems the worst one could do is cause upstream requests to fail. Am I missing something?

[2021-09-07 22:47] dio commented on #17798
@shamigor I updated the patch here: https://gist.github.com/dio/048ee4daf7d5dcf5d8d44989aa1998d2

As you can see in this line https://gist.github.com/dio/048ee4daf7d5dcf5d8d44989aa1998d2#file-lua-per-route-401-diff-L38 I changed to:

[code]

Running it on my local:

[code]

[2021-09-07 22:59] dio commented on #17798
@shamigor Ah ok, I'll take a look.

[2021-09-08 01:34] soulxu commented on #17965
Have you enabled the tls_inspect listener filter? It is used to populate the SNI from the connection to StreamInfo.

[2021-09-08 01:35] #17996 closed

[2021-09-08 04:50] dio commented on #17798
Ah, sorry. It is fixed. I think by https://github.com/envoyproxy/envoy/pull/17602. It is part of the v1.19.1 release.

[code]

[2021-09-08 05:09] dio commented on #17798
I'm closing this. Let me know if upgrading to `envoyproxy/envoy:v1.19.1` doesn't solve your issue!

[2021-09-08 05:09] #17798 closed

[2021-09-08 05:13] dio commented on #17711
@gongcon they are not controlled by `verbose` option.

[2021-09-08 05:16] dio commented on #17711
I'm closing this since we need a better description and do some checking if removing `cr` and `ss` is desired and not breaking any implementation. Please open a specific issue when you think we should remove them. Thanks, @gongcon!

[2021-09-08 05:16] #17711 closed

[2021-09-08 05:39] dio commented on #17494
I think in this case using `addCopy` is the right one when the `append` value (of a `HeaderValueOption`) is true. I'm not sure if we are encouraged to use `appendCopy` anymore. cc. @asraa.

[2021-09-08 10:07] hbgongen opened #18022 "#16433 tcp_health has some problem"
if i don't set reuse_connection as false,it will report the failure health_check logs which type is NETWORK....
i don't know why.
please help me,thanks a lot.

[2021-09-08 10:17] dozer47528 opened #18023 "How to config token_bucket for each ip address when use ratelimit filter?"
I known how to config a token_bucket for a specific ip address.

But I need to config independent token_bucket for each ip.

Can envoy support this kind of config?

Thanks.

[2021-09-08 12:56] alyssawilk commented on #17920
I prefer alpha to WIP but given you're doing the work I'm happy to let you pick the color of the bike shed :-P

[2021-09-08 12:58] alyssawilk commented on #17514
yeah it's backburner for me so left it unassigned but I'll tag no-stalebot.

[2021-09-08 14:08] GTB3NW opened #18028 "write:errno=104 SNI"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:  Receiving `write:errno=104` when setting up SNI

*Description*:

[optional *Relevant Links*:]

[2021-09-08 14:09] GTB3NW commented on #18028
I'll keep this open. I've since resolved my issue but I think it could have been avoided for users who shoot themselves in the foot by missing the note, having google scrape this issue alone should help :)

[2021-09-08 15:53] mattklein123 commented on #17920
I don't care at all. If there is a preference for alpha we can do that. The only issue is we already have work_in_progress in one of the annotations and I don't really want to deprecate/change it, and then it would be odd to have things not matching at the field/message level? For that reason alone I would probably just stay with WIP.

[2021-09-08 19:39] alyssawilk opened #18034 "allow caching alt-svc to key-value store"
super useful for envoy mobile.

[2021-09-08 19:46] alyssawilk commented on #18034
so @envoyproxy/api-shepherds I'm hitting a problem with APIs here.

I naively tried to add key_value.v3.KeyValueStoreConfig key_value_config = 3; to AlternateProtocolsCacheOptions here:

https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/core/v3/protocol.proto#L93

but that's adding a dependency from core to extensions/common which already has a dependency on core for  TypedExtensionCo

[2021-09-08 20:01] #17392 closed

[2021-09-08 20:20] pdeligia commented on #17208
@PiotrSikora @mathetake could you please tag this with "no stalebot" so that the issue does not automatically close? (I am not able to do this myself)

[2021-09-08 23:47] zuercher commented on #18022
Can you provide some details about your health check configuration?

[2021-09-09 00:01] zuercher commented on #18028
I believe the errno from boringssl/openssl isn't specific to an SNI issue, so I don't think it's helpful to reference the error message in the docs.

[2021-09-09 00:22] zuercher commented on #18023
You can use the remote address descriptor to send the IP to a global rate limiting service, which can use that IP as part of its rate-limiting decision. I think to use the local rate limiter you'd have to configure a descriptor per IP and that's obviously not going to work well across large numbers of IP addresses.

[2021-09-09 00:40] moderation commented on #16291
Not stale https://github.com/envoyproxy/envoy/pull/17877

[2021-09-09 00:46] kyessenov opened #18035 "FR: nested network filter chains"
Currently, listener inspectors and transport sockets are forced to reside at one-level: first inspect, then match, then use a transport socket. This is quite inflexible, and leads to situations where a whole expensive listener is needed (e.g. https://github.com/envoyproxy/envoy/issues/4076). The proposal is to add a oneof that allows (inspectors + filter chains) to reside within the filter chains

[2021-09-09 01:23] mathetake commented on #17208
@pdeligia done.

[2021-09-09 02:21] GTB3NW commented on #18028
That's true it's not specifically an SNI issue but indicative of it not being setup correctly. As I said this issue may be enough once it's crawled, to put people on the right track, so if you're happy with that I'm happy for this to be closed too :)

[2021-09-09 05:49] hbgongen commented on #18022
@zuercher ok sorry,this is my health check conf.
![image](https://user-images.githubusercontent.com/36953705/132630061-2b18642c-75ea-4b0d-8d6a-98febc9a33f0.png)
Maybe this problem is  the same as #16433
But I don't know why can not reuse connection.

[2021-09-09 06:34] cboitel commented on #17582
Comment to avoid bot closing

[2021-09-09 08:01] #17342 closed

[2021-09-09 08:29] NomadXD opened #18038 "assert failure: SOCKET_VALID(result.rc_). Details: socket(2) failed, got error: Too many open files"
*Title*: *assert failure: SOCKET_VALID(result.rc_). Details: socket(2) failed, got error: Too many open files*

*Description*:
When I use envoy release binaries directly on a host machine (not with docker), the proxy crashes under high load giving the above assert failure. I went through some of the similar issues and seems like the issue is with the file descriptor limit of the host machine. In e

[2021-09-09 10:47] josh-ferrell-vmw commented on #15904
no stalebot

[2021-09-09 13:07] austince commented on #16859
🙏🏼

[2021-09-09 14:14] jchanam opened #18043 "[Help wanted] Dynamically redirect removing www from host"
*Title*: *Dynamically redirect hosts removing `www`*

*Description*:
I want to add a virtual host with the domain `www.*`, that will redirect with a 301 to the same host but removing the `www`. I've checked and I could do a host_redirect, but I couldn't find how to add a regex there to remove the www for any host that gets to that envoy.

Is this possible? If so, how could it be done?

Thank you!

[2021-09-09 14:41] htuch commented on #17920
I don't care that much, but one observation is WIP is self-descriptive, alpha has had some confusion over the years on what exactly is meant (which we have clarified with some ink).

[2021-09-09 15:25] mattklein123 commented on #17582
Can the local reply mapper feature be used to handle this?

[2021-09-09 16:43] ggreenway opened #18047 "Ability to assert on stat lifetime issues in debug build"
There have been some issues recently with stat references (`Counter&` et al) outliving their owning `Scope`. This can lead to use-after-free.

One way to help detect this would be for `Counter&` and friends to be replaced with a class `CounterRef`. This class, in a release build, would only contain a `Counter&`, to avoid a huge increase in memory use. But in debug builds. This object would impleme

[2021-09-09 16:46] jmarantz commented on #18047
This plan sgtm.

@pradeepcrao who has been working with stats here and would be a good candidate for a first-pass reviewer.

[2021-09-09 16:52] ggreenway commented on #18047
For anyone who works on this: please ask for feedback early in the process. This is an experimental idea, and it may not work out.

[2021-09-09 17:34] mattklein123 commented on #18047
FWIW my idea here was to do roughly the following:
1) On release builds, do exactly what we do today.
2) On debug builds, do the following:
    1) Have a wrapper class CounterRef which implements Counter.
    2) Store the underlying counter, the scope, etc.
    3) Store this class internally (perhaps even globally though that might leak over time) so a reference can be returned.
    4) Return the

[2021-09-09 17:34] #18028 closed

[2021-09-09 17:45] zuercher commented on #18043
I don't think it's currently possible to do this without creating a route entry for each domain. Each route would match on a specific value for the `:authority` pseudo-header  (e.g. where `:authority` is `www.example.com`) and specify a domain-specific redirect action (e.g. to `example.com`).

[2021-09-09 17:46] zuercher commented on #18022
It does seem like the same issue.

[2021-09-09 17:57] jmarantz commented on #18047
A few questions come to mind:

1. Should CounterRef inherit from Counter? Or just mirror the interface?
2. Somewhere there's `#ifdef NDEBUG` to differentiate prod/debug behavior. Where exactly?
3. How does this interact with stats_macros.h? e.g. COUNTER(foo) and other variants?
4. Do we change 100% of the counter refs to this? Or is this just used where it's not obvious that scopes outlive the cou

[2021-09-09 18:02] mattklein123 commented on #18047
I agree this would be better in hindsight. I'm not going to sign up for this. :)

[2021-09-09 18:03] ggreenway commented on #18047
What would be the relationship between the Stat and the Scope if lifetime of a stat is managed by a shared_ptr? Is it valid to keep the stat after the scope is deleted?

[2021-09-09 18:06] mattklein123 commented on #18047
I think it would have to be something like a weak_ptr, or a shared_ptr that wraps a weak_ptr, making it more complicated of a change, and have more perf/memory implications.

[2021-09-09 18:12] jmarantz commented on #18047
With CounterSharedPtr as is, the counter would be kept alive as long as there was an outstanding CounterSharedPtr, and would not be removed if the scope disappeared. I was thinking that might be an OK state to leave things in.

Note that CounterSharedPtr is *not* a std::shared_ptr. It's a RefcountPtr, a class we define, which inlines the refcount (which is packed into 32 bits along with the flags)

[2021-09-09 18:43] ggreenway commented on #18047
If we did that, we could make `Scope` only for namespacing, not for lifetime.

Oh, I missed that detail; thanks for clarifying.

[2021-09-09 18:47] ME-ON1 opened #18050 "build_bazel_rules_apple has a newer release 0.31.3"
*WARNING* build_bazel_rules_apple has a newer release than 0.31.2@<2021-05-07 20:37:58>:0.31.3@<2021-05-11 21:48:34>

[2021-09-09 18:47] ME-ON1 opened #18051 "com_github_curl has a newer release curl-7_78_0"
*WARNING* com_github_curl has a newer release than curl-7_77_0@<2021-05-26 06:32:21>:curl-7_78_0@<2021-07-21 06:44:54>

[2021-09-09 18:47] ME-ON1 opened #18052 "com_github_fmtlib_fmt has a newer release 8.0.1"
*WARNING* com_github_fmtlib_fmt has a newer release than 7.0.3@<2020-08-07 13:39:57>:8.0.1@<2021-07-02 23:14:33>

[2021-09-09 19:01] yanjunxiang-google opened #18053 "Put dns_resolution_config in dns_filter.proto files as deprecated"
*Title*: Put dns_resolution_config in  dns_filter.proto files as deprecated

*Description*:
With *typed_dns_resolver_config* being supported in #17479, *dns_resolution_config* in dns_filter.proto will be deprecated. And changing test cases in dns_filter_test.cc and dns_filter_integration_test.cc to use typed_dns_resolver_config.

[2021-09-09 19:01] phlax commented on #18052
@ME-ON1 does ` com_github_nodejs_http_parser` have a newer release that we can use ?

other ci is flagging issues with it

[2021-09-09 19:02] phlax commented on #18052
/me wonders if you are `[bot]`

[2021-09-09 19:03] phlax commented on #18052
8/

[2021-09-09 19:05] ME-ON1 commented on #18052
No i was working on this issue  #16705 and was running script locally but it created issues.

[2021-09-09 19:08] phlax commented on #18052
cool, if you are looking to PR updates the one i posted needs looking at so i was watching you posting hoping it would appear 8/

i can look into it tho

[2021-09-09 19:10] ME-ON1 commented on #18052
These are the logs coming from [release_dates.py](https://github.com/envoyproxy/envoy/blob/a12869fa9e9add4301a700978d5489e6a0cc0526/tools/dependency/release_dates.py#L43)
Also have no knowledge about that. I'm new with code base here.

[2021-09-09 19:16] phlax commented on #18052
are you on slack ?

[2021-09-09 19:27] ME-ON1 commented on #18052
Yes, with `dogebinge` name.

[2021-09-09 20:15] tonya11en commented on #17648
This one could use a "help wanted" tag if someone can add it. I don't have the ability.

[2021-09-09 23:20] jmarantz commented on #18047
Another fun fact: it's valid to write:
[code]
That would not work for std::shared_ptr, but it's OK for `RefcountPtr<Counter>` because the ref-counts are in the object. This might be of interest in case there are a few interesting cases where a counter created from a scope might outlast the scope. Because that's valid you could leave Scope::counterFromStatName returning a `Counter&` and choose on a

[2021-09-10 00:53] moderation commented on #18052
The latest release for `nodejs/http-parser` is a documentation change saying the project is deprecated :disappointed:

We had a couple of folks try to get the replacement `llhttp` over the line and it looks close but not quite there yet - https://github.com/envoyproxy/envoy/pull/15814. @asraa has been leading the charge.

[2021-09-10 02:51] wjtracey opened #18063 "Extensible CEL Vocabulary"
Support extending the CEL expression evaluator with custom vocabulary.

Essentially allow for custom forms of [the evaluation context](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/common/expr/context.h) to register as a ExprVocabularyProvider or similar and be referenced by e.g. RBAC, such that CEL evaluation is run against the custom vocabulary (either exclusively, or p

[2021-09-10 02:54] wjtracey opened #18064 "Add a new ABAC filter"
Title: Add a new ABAC filter.

Proposal:

* Add an Attribute Based Access Control (ABAC) filter to the Envoy extension tree (not contrib/).
  * https://en.wikipedia.org/wiki/Attribute-based_access_control
  * ABAC functionality will be a superset of RBAC.
* Include listener, network, and HTTP filter flavors.
* Use exclusively CEL for representing match criteria.
* Support an ordered set of rules e

[2021-09-10 03:02] htuch commented on #18064
FWIW I'm strongly in favor of either an ABAC filter or a radical revisting of the RBAC filter. I think the existing RBAC filter is not super well suited to the kinds of advanced ABAC cases above, and we have the ongoing issue of the RBAC filter having two languages (CEL and proto3) which don't fully track each other.

When it comes to chaining and conditional filter execution, we can possibly leve

[2021-09-10 03:04] htuch commented on #18063
CC @kyessenov

[2021-09-10 03:07] zirain opened #18065 "Anyway to disable all stats?"
*Title*: *Anyway to disable all stats?*

*Description*:
Is there anyway to disable all stats for memory test?

[2021-09-10 03:13] htuch commented on #4709
Yeah, @twghu has some great advice to your question (and to anyone else looking to get going here).

[2021-09-10 03:30] htuch commented on #18034
Yeah, in general, the invariant should be core shouldn't depend on extensions. I think we can move https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/common/key_value/v3/config.proto to `envoy.config.common` as per (1).

Alternatively, if you strongly believe that `KeyValueStoreConfig` will always only have a single field, `TypedExtensionConfig`, then feel free to remove the file a

[2021-09-10 03:37] lambdai commented on #18065
It depends on how you measure the memory. Anyway you want to set statMatcher https://github.com/envoyproxy/envoy/blob/cc1d41e7ee9fbfb7ee3c8f73724cdc41d7c6bbb0/envoy/stats/store.h#L96

Integration test that runs an envoy, it's fairly easy to use the[ StatConfig](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/stats.proto.html?highlight=statsmatcher#config-metrics-v3-statsconfig

[2021-09-10 03:52] lambdai opened #18066 "stats scope for grpc access log should be envoy wide"
*Description*:

Currently an grpc access logger is instantiate using the creator' context. Usually the owner is an filter that can be destroyed.
The logger use the stats scope of the owner. It's fine if the logger is destroyed along with the owner.
However, the grpc access logger is expensive so that logger is cached. The logger can outlive its creator and the logger stats could refer a destroyed

[2021-09-10 04:01] #16971 closed

[2021-09-10 04:28] moderation commented on #18064
https://tailscale.com/blog/rbac-like-it-was-meant-to-be/ is a really good read. This sent me down the rabbit hole of RBAC, ABAC, Google's Zanzibar etc. I collected some links at https://pinboard.in/u:moderation/t:rbac. My concern about CEL is that it doesn't appear to have generated much outside Google community. Firebase still seems like the main usage.

Open Policy Agent's Rego and Oso's Polar a

[2021-09-10 05:59] lambdai commented on #18066
#18067 explains how to pin the scope in access logger cache.
However, #18067 finds the root scope by using the dynamic cast.
Not ideal but it avoid introducing new method in CommonFactoryContext for now

[2021-09-10 06:25] zirain commented on #18065
is there anyway to disabled all stats after or before envoy running? bootstrap config?

[2021-09-10 08:32] garyyang2002 commented on #14264
Looks like there is no progress for WAF, is it ok to enable delay for rate limit filters?

[2021-09-10 08:52] phlax commented on #18052
not an easyfix it seems. Also that PR keeps the legacy parser initially so the problem wouldnt go away straight away

[2021-09-10 09:29] dozer47528 commented on #18023
@zuercher thanks, and I found the examples from this project: https://github.com/salrashid123/envoy_ratelimit

[2021-09-10 10:05] #18023 closed

[2021-09-10 13:23] asraa commented on #18052
yeah, it's been blocked for a while -- handed off to some other Googlers. maybe @KBaichoo knows the status? I'm not 100% sure who was taking it over...

[2021-09-10 13:59] hdimitriou opened #18069 "Cannot extract multiple cookies from lua filter via handle:headers():get("set-cookie")"
**Title**: *Cannot extract multiple cookies from lua filter via `handle:headers():get("set-cookie")`*

**Description**:
I am trying to modify a cookie inside an envoy http lua filter, so inside `envoy_on_response(response_handle)` I grab the cookies via `response_handle:headers():get("set-cookie")` and that brings a string, which contains cookies delimited by comma, like `foo1=bar;Path=/;Max-Age=1

[2021-09-10 14:05] KBaichoo commented on #18052
We (me and @yanavlasov)  haven't yet started digging into the llhttp yet, but are planning on working on it. There are a few open questions on how debuggable llhttp is given it's transpiled to C, and how patching it could work.

[2021-09-10 14:12] kylebevans commented on #125
I started a new job in May, and I confess I haven't had a lot of time to work on this.  I was kind of stuck on the part where I need to convert the resolve API from returning a raw pointer to an ActiveDnsQuery to using a unique_ptr.  Changing that means carefully thinking through the lifetime, but it also means the changes are going to affect all DNS queries and not just SRV queries which is scary

[2021-09-10 14:27] vparchas commented on #18069
I am also interested in this. Is there a method on the `headers()` object that would return the matching headers as an array?

[2021-09-10 15:21] jcreixell commented on #125
thanks @kylebevans, please keep us posted :)

[2021-09-10 15:24] mattklein123 commented on #18066
There are 2 possible fixes:
1) If logger stats need to be scoped to the creator, we can figure out a way of having the stats be passed by the creator, and not created by the logger.
2) If logger stats can be global, then I think your fix is OK.

[2021-09-10 17:06] jmarantz commented on #14610
@yanavlasov FYI -- this would be a good candidate for someone to build up some clang skills with.

[2021-09-10 18:13] yangminzhu commented on #18064
I think there are two things in the proposal:

1) Make the Envoy access control feature more flexible and expressive to support all the different things as you mentioned;

2) Have a separate ABAC filter to implement it instead of changing the current RBAC filter;

For 1, I agree, it's good to have more capability as long as it's useful and needed by users.

For 2, I think Envoy should have a singl

[2021-09-10 18:24] htuch commented on #18064
I'm in agreement here, but I see a long tail of RBAC users who probably will not want to move. One of the biggest mistakes we have in RBAC is it's actually not a single filter and it already has the maintenance, documentation, vulnerability management and extensibility issues you point to @yangminzhu. We have two parallel filters with independent languages squashed together, one providing a CEL AB

[2021-09-10 19:13] zuercher commented on #18051
See #18071

[2021-09-10 19:14] lambdai commented on #18066
This approach need some work with the the logger cache. A logger attached to the stats prefix A should not be used by stats_prefix B.

Following this path, perhaps we can split the stats part from the cached logger as in #18067

The logger user  gets a shared logger from logger cache.
The logger user create a new `logger with stats`, wrapping the above shared logger and offer a stat.

[2021-09-10 19:18] zuercher commented on #18069
It's possible to retrieve the individual value of multiple headers within Envoy, but that hasn't been exposed in the lua filter. Someone would have to modify the lua wrappers to allow it.

[2021-09-10 19:27] vparchas commented on #18069
Any pointers to the lua wrappers? I would like to try and give it a shot.

[2021-09-10 19:27] ejona86 commented on #18064
I don't know why "ABAC" is being mentioned; I don't see anything ABAC here. The larger piece seems a rework of the rule structure to allow greater mixing of ALLOW/DENY. And then there is the briefly-mentioned by seemingly very important `setMetadata`.

At the very least, can we not call it ABAC? RBAC wasn't role-based (it was subject-based; there is no mapping from subject to role nor request to n

[2021-09-10 19:40] zhaytee commented on #17989
After much investigation and hand-wringing, we discovered the following config field: `trust_chain_verification`, and set it to `ACCEPT_UNTRUSTED`. That did the trick! Thank you.

[2021-09-10 19:40] #17989 closed

[2021-09-10 20:00] jmarantz commented on #18066
qq: in the current system, how often is the Stats Scope created/destroyed?

There's a fair amount of overhead for that so I wanted to make sure that was not happening per-request.

[2021-09-10 20:00] htuch commented on #18064
I think we're less interested in arguing semantics; we can go with whatever name is preferred, but clearly this is intended to support ABAC (and in general, policies that are CEL based are generally supporting some form of ABAC).

Regarding short-cut logic, this is a really good point, we have some scope to work with the design here, and ultimately I think we will need to put together a design doc

[2021-09-10 20:59] davinci26 commented on #17656
I want to solicit some feedback here on the implementation that I am thinking of here:

### Problem

The biggest problem to port the Windows Dockerfile to use buildx is the usage of
[code]

This part is really important though for all cases Envoy runs as a sidecar and it **needs** to be running on as `EnvoyUser`

### Proposed Solution

tl;dr: Move the user creation to the container startup.

That

[2021-09-10 21:24] htuch commented on #18064
Was just chatting with @mattklein123 and he proposed an alternative, similar to the routing generic matchers, that we think might be able address concerns raised by folks while preserving @wjtracey original proposal. Essentially we do:

1. Create a new Access Control filter (as per @yangminzhu). This is neutral to RBAC/ABAC terminology as per @ejona86 and @moderation considerations.
2. The rule/pr

[2021-09-10 21:35] lambdai commented on #18066
I don't think there are many Scope created per-request. Perhaps 0 if not close to 0.

createScope()/scopeFromElements()/scopeFromStatNames() occurrences are rare.

[2021-09-10 22:36] mattklein123 commented on #18064
+1 to @htuch's summary of my idea. :)

[2021-09-10 22:40] mattklein123 commented on #18035
@kyessenov I'm having trouble quickly understanding the API shape of the proposal. Can you do a quick API mock up to share and discuss? Thank you.

[2021-09-10 23:01] kyessenov commented on #18035
@mattklein123 Opened PR https://github.com/envoyproxy/envoy/pull/18079 with a minimal change.

[2021-09-10 23:02] lambdai commented on #18065
yes,in bootstrap.stats_config.stats_matcher.reject_all
set it before envoy running

[2021-09-11 00:04] keith commented on #17660
I think it should probably be no stalebot since it isn't something that will be naturally resolved, but I'll leave that up for maintainers to decide

[2021-09-11 00:13] dm3ch opened #18080 "Add support of caching auth-request result for ext-auth"
*Title*: *Add support of caching auth-request result for ext-auth*

*Description*:
In some cases it's very useful to have auth response caching in order to lower request handling time.

[optional *Relevant Links*:]
Kubernetes nginx ingress have such feature (https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#external-authentication `auth-cache-*`) and it would n

[2021-09-11 00:13] dm3ch commented on #18080
Found duplicating issue: https://github.com/envoyproxy/envoy/issues/3023

[2021-09-11 00:13] #18080 closed

[2021-09-11 01:33] marcantoine-bibeau commented on #6654
Any development on this?

[2021-09-11 01:40] zirain commented on #18065
Try to use --config-yaml to override the config:
[code]
got nothing error, but envoy not ready, logs as follow:
[code]

[2021-09-11 05:16] wbpcode commented on #16698
working

[2021-09-11 06:25] velcrine opened #18082 "dns filter envoy.filters.udp.dns_filter not found in latest docker image"
*Description*:

*Repro steps*:
<details open>
<summary>Run command</summary>
<br>
<code>
docker run --workdir /var/tmp/envoy/ -v $(pwd):/var/tmp/envoy/ envoyproxy/envoy-dev:latest -c /var/tmp/envoy/udp.yaml
</code>
</details>

*Config*:
<details >
<summary>Listener config</summary>
<br>
<code>

    admin:
      address:
        socket_address: { address: 127.0.0.1, port_value: 9901 }

    static_r

[2021-09-11 06:43] velcrine commented on #18082
Solution was to add protocol: UDP in listener socket

[2021-09-11 06:43] #18082 closed

[2021-09-11 07:08] velcrine opened #18083 "udp_proxy has no access logging."
*Description*:
configuration/listeners/udp_filters/udp_proxy must have access loging option. Can't enable visibility otherwise

[2021-09-11 16:01] #17606 closed

[2021-09-12 04:01] #17607 closed

[2021-09-12 04:21] arvyshka commented on #4863
hi, anyone working on this issue ?

[2021-09-12 04:21] arvyshka commented on #7238
hi, is this done ? or some more files needed to be removed ?

[2021-09-12 04:23] arvyshka commented on #8799
@mk46 : are you working on this ?  seems inactive . @alyssawilk : can i take it ?

[2021-09-12 08:01] #17593 closed

[2021-09-12 14:54] #17680 closed

[2021-09-12 17:39] htuch commented on #16456
Fixed in #17724

[2021-09-12 17:39] #16456 closed

[2021-09-12 17:41] htuch commented on #10614
The likely conclusion of https://github.com/envoyproxy/envoy/issues/10943 is that v4 will not happen for a long time, so closing this for now, we've already eliminated v4alpha generation.

[2021-09-12 17:41] #10614 closed

[2021-09-13 02:16] daixiang0 commented on #7238
still need.

[2021-09-13 04:01] #17483 closed

[2021-09-13 04:01] #17484 closed

[2021-09-13 04:01] #17485 closed

[2021-09-13 04:01] #17491 closed

[2021-09-13 04:01] #17527 closed

[2021-09-13 04:01] #17534 closed

[2021-09-13 04:01] #17552 closed

[2021-09-13 04:01] #17561 closed

[2021-09-13 04:01] #17567 closed

[2021-09-13 04:01] #17568 closed

[2021-09-13 04:01] #17571 closed

[2021-09-13 04:01] #17578 closed

[2021-09-13 04:01] #17585 closed

[2021-09-13 04:12] mk46 commented on #8799
@arvyshka  I am not working on this.

[2021-09-13 07:23] BatanGaming opened #18092 "How to configure http-https redirect"
*Title*: *Cannot configure http -> https redirect*

*Description*:
Here's my configuration file
[code]

Https listener works perfectly, but http listener doesn't redirect. When I'm sending a request to 80 port, connection is established, but request is hanging.
I launch it in docker, 80 and 443 ports are exposed

[2021-09-13 09:31] jaywlm commented on #18092
add a default router
[code]

[2021-09-13 09:37] jaywlm commented on #18092
@BatanGaming

[2021-09-13 09:38] emilchitas opened #18094 "Change ` gRPC config stream closed: 14` log level"
*Change `gRPC config stream closed: 14` log level to info in case of `NO_ERROR`*

*Description*:
When the connection to an XDS server is terminated, envoy logs this as a warning. For some XDS servers (e.g. istio) this connection closed is expected and the re-connect happens in a matter of milliseconds.
[code]
Envoy version: `56534e716b8f7f5caad0f852b79680d97934717f/1.19.1/Clean/RELEASE/BoringSSL`

[2021-09-13 09:38] jaywlm commented on #18092
@BatanGaming

[2021-09-13 10:05] BatanGaming commented on #18092
@jaywlm Thanks a lot! I was comparing this two listeners and couldn't find a difference...

[2021-09-13 10:05] #18092 closed

[2021-09-13 10:21] velcrine commented on #18083
Are there any plans to add udp traffic access logs?

[2021-09-13 11:31] BatanGaming opened #18095 "Upgrading from 1.17-latest to 1.19-latest broke grpc"
*Title*: *Upgrading from 1.17-latest to 1.19-latest broke grpc*

*Description*:
Configuration file
[code]
At 1.17.4 it works fine, but at 1.19.1 I get
[code]
I couldn't find any breaking changes in docs so what should I modify?

[2021-09-13 13:04] arvyshka commented on #7238
@daixiang0 , you want to continue working on this ?

[2021-09-13 14:56] crimson-gao opened #18098 "support callback on runtime configuration updating"
*Title*: *support  callback on runtime configuration updating*

*Description*:

So I have to use string instead, and split it, insert into the cache map. But it is pretty time consuming if I has it done every time visting the map entry. Using a separate thread to refresh the hash map periodly, or refreshing it every N visits sounds not a good idea, either. Maybe a better way to solve this problem

[2021-09-13 15:43] pgeler opened #18099 "ext_proc crash when using grpc initial_metadata and REQ/RESP headers on 1.18+"
Issue was originally submitted to [envoy-security](https://groups.google.com/d/msgid/envoy-security/c1a201e7-ba08-4c55-85b6-6ca5742b4713n%40googlegroups.com?utm_medium=email&utm_source=footer), but rejected from there confirming that it was reproducible, asking to create a ticket in github:

dynamic functions like %REQ()% or %RESP()% causing crash for v1.18/v1.19. On v1.17 passing without crash.
c

[2021-09-13 15:51] ggreenway commented on #18066
Yeah, as far as I can tell, we only create/destroy scopes on config updates.

[2021-09-13 16:16] mattklein123 commented on #18035
Thanks, that makes sense to me at a high level.

[2021-09-13 16:41] crimson-gao commented on #18098
oh, maybe adding a timestamp to the new created snapshot could sovle my problem more easily.
add a private field `timestamp` to `SnapshotImpl` and access it by `getTimestamp`.  overload `createNewSnapshot ` so that passing the created timestamp to it

[2021-09-13 16:43] cboitel commented on #17582
As per my understanding, using the local reply mapper would change all replies for 500 errors not only those reporting by gRPC. This would leave no way of distinguishing a 500 error originated from rate limit, ext proc or any other filter.

I understand that allowing  to define fine-grained customized responses for ext_proc (and possibly all other filters in the future) may not be a path you are w

[2021-09-13 19:00] jmarantz commented on #16103
I'm trying to understand this issue more specifically. What is the stat_prefix and where is that specified?

Also, it's worth pointing out https://github.com/envoyproxy/envoy/pull/17357 which seems vaguely related, though that particular PR is focused on solving a problem for metrics defined by users in wasm code and how to differentiate them from the ones defined by Envoy C++ code. But it has in

[2021-09-13 19:02] #9479 closed

[2021-09-13 19:18] ggreenway commented on #16103
Sorry, this is all directly the result of #15951, which added a configurable [stat_prefix](https://github.com/envoyproxy/envoy/pull/15951/files#diff-f76ce906fb5b9dde8e23a117a524f178e43b28c1002dc7d1cd3d98ac134c6a23R111) to listeners. Before this, the stats were always prefixed with the ip:port of the listener (converting colons to underscores).

[2021-09-13 20:37] alyssawilk commented on #16314
Also right now DNS has a hard coded refresh rate, and resolved entries are valid until that expires (ignoring TTL)

Once we have support for stale DNS, I think we can have DNS results be respected for min(ttl, refresh_rate) and use the stale DNS support to make sure we don't end up stalling requests when we have a slightly-expired entry

[2021-09-13 22:24] samrabelachew opened #18106 "Bazel visibility for contrib filters"
*Title*: *Make library visibility configurable for contrib filters*

*Description*:
The move of certain [filters](https://github.com/envoyproxy/envoy/commit/ef82a02bed0e6ab3de45e87b365cb18b55be6010) to the contrib directory means it can be difficult to access them outside of their own package group.

Can we introduce a `CONTRIB_EXTENSION_PACKAGE_VISIBILITY` variable similar to the existing one for

[2021-09-13 22:31] lambdai commented on #18065
You probably successfully disable the stats but istio-agent need some stats

See
https://github.com/istio/istio/blob/master/pkg/bootstrap/config.go#L54

[2021-09-13 23:13] NersesAM opened #18107 "socket_options on listeners are not working on 1.17+"
*Title*: *socket_options on listeners are not working on 1.17+*

*Description*:

[code]

Everything was working as expected up until v1.16.x. Once we upgraded to 1.17+ clients started complaining that they started receiving "Connection reset by peer" errors. Digging into it I found out that socket_options setting above are not being respected and once the connection is idle above the NLBs 350s lim

[2021-09-13 23:19] lambdai commented on #18038
/etc/security/limits.conf could be the hidden one

[2021-09-13 23:53] lambdai commented on #18107
My dumb question: shouldn the keep alive sock options be applied to accepted socket instead of listen socket?

I don't know through what mechanism that the keepalive worked before 1.17, but keep alive setting at downstream connection is indded something that added to listener option.

I also find this issue https://github.com/envoyproxy/envoy/issues/3634

[2021-09-14 00:48] mathetake commented on #14920
https://github.com/envoyproxy/envoy/pull/17357 has landed, and this is all transparently to wasm users - no need to register your own prometheus namespace and instead Envoy takes care of that automatically.

[2021-09-14 01:36] soulxu commented on #18035
@kyessenov let me know if you need any volunteer :)

[2021-09-14 04:01] #17570 closed

[2021-09-14 06:49] sha-rath commented on #5401
Any comments or updates on this one? @ggreenway

[2021-09-14 09:45] du2016 opened #18111 "impl zoneaware with ringhash/maglev"
*Title*: *One line description*

*Description*:

would be used.

now,when i config the hash policy with zoneaware opend, the zoneaware doesn't work,how to set a session affinity with zoneaware routing?

[optional *Relevant Links*:]

[2021-09-14 15:21] rgs1 commented on #17882
@zuercher that's our thinking too. So perhaps something like #18112?

[2021-09-14 15:29] ggreenway commented on #5401
As I said above, I don't think anyone is working on changing the defaults, but if the defaults aren't adequate, you can explicitly configure your TLS versions/ciphers to suit your needs.

[2021-09-14 16:31] suniltheta commented on #18053
I believe reserving this field `dns_resolution_config` would be less intrusive and easier approach. As we are still in Alpha on dns_filter.proto, no harm done on not supporting the configuration via _reserved_ & _not-implemented_ field `dns_resolution_config`.

The reason it should be reserved and not removed because v1.19.2 will not have `typed_dns_resolver_config` back ported and would still nee

[2021-09-14 17:33] geokb commented on #18064
The current use of CEL inside the `conditions` field makes the RBAC filter technically ABAC imo. While I appreciate the authors' seeking to improve the RBAC filter into a more generalized context-aware policy engine point that can evaluate OPA, CEL, etc... I personally think for any non-trivial application it would make much more sense to just use the ext-authz to do complex policy engine evaluati

[2021-09-14 17:42] mattklein123 commented on #18106
Sure, sounds good, thanks.

[2021-09-14 18:00] sergiitk opened #18118 "Migrating `RateLimit` to typed filter config phase 2: Envoy consumes the new field"
*Title*: Migrating `RateLimit` to typed filter config phase 2: Envoy consumes the new field

*Description*:
This is to track the second phase of migrating `Ratelimit` to `RateLimitPerRoute`. In the first phase, the field is added to typed filter config. Now this work needs to be completed as described here: https://github.com/envoyproxy/envoy/pull/18044#discussion_r706285153.

*Relevant Links*:
-

[2021-09-14 18:26] yanjunxiang-google commented on #18053
Thanks for the information @suniltheta !

If dns_filter feature will be supported by Envoy and control-plane in the upcoming v1.19.2 & v.12.0+ , but *typed_dns_resolver_config* won't be there., can we put *dns_resolution_config* as "reserved"? Should we put it as "deprecated" and go through normal deprecation process?

[2021-09-14 18:33] yanjunxiang-google commented on #18053
BTW, we are not going to put *dns_resolution_config* as deprecated in #17479. Doing that is causing some CI scripts failure  We are exploring the options how to deprecate it.
If we can put it as "reserved", and replace *dns_resolution_config* in dns_filter_test.cc/dns_filter_integration_test.cc with *typed_dns_resolver_config* , that seem to be a clean solution moving forward.

[2021-09-14 19:01] jvanhorenbeke commented on #17918
Thank you. Is this by design? I would be open to build support for retries and push it upstream.

[2021-09-14 19:06] suniltheta commented on #18053
I totally agree with this.

Once these changes are done, then we can move the dns_filter.proto to non-alpha, as Matt suggested on #17943. Hopefully this can be done before v1.20 release.

cc @jpeach for your thoughts on if we can mark `dns_resolution_config` field 5 as reserved by v1.20 release.

[2021-09-14 19:16] suniltheta commented on #18053
Update: I redact what I said earlier about just reserving the field number 5 for `dns_resolution_config`.
@jpeach correct me if I am wrong here.

We still want control plane with v1.20.0 API to continue to support v1.18 & v1.19.2. So that means we cannot just reserve this field number 5. We still need to have `dns_resolution_config` marked as deprecated and annotated with `[#not-implemented-hide:]

[2021-09-14 19:38] yanjunxiang-google commented on #18053
For your comments about "We still need to have dns_resolution_config marked
as deprecated and annotated with [#not-implemented-hide:]",  I don't see
such deprecation and comment it in the dns_filter.proto file as below:
https://github.com/envoyproxy/envoy/blob/a1a4595f2a2fc3be669ee6c81becb732dd6c030f/api/envoy/extensions/filters/udp/dns_filter/v3alpha/dns_filter.proto#L70

This field is implemente

[2021-09-14 19:54] yarozen opened #18120 "enable_trailers not working"
*Title*: *`enable_trailers` not working*

*Description*:
While trying to configure [enable_trailers](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#:~:text=are%20lower%20cased.-,enable_trailers,-(bool)%20Enables%20trailers) I'm hitting the same issue as described [here](https://github.com/istio/istio/issues/31458).
I see the configuration is injected correctly to

[2021-09-14 20:11] yanjunxiang-google commented on #18053
BTW, I am not too familiar with the release planning. But if we can make *typed_dns_resolver_config* support in the same release with dns_filter (since it is not released yet), then we can get rid of this *dns_resolution_config*, right?

[2021-09-14 22:04] lizan commented on #18035
Yeah at high level that makes sense to me. It also reminds whether we want FCDS / filter chain references to avoid duplicated filter chain configs.

[2021-09-14 22:10] jpeach commented on #18053
Yeh, pretty sure that this is the best option. The go-control-plane project will release with an arbitrary snapshot of Envoy protobufs. Control planes downstream of that will then use those protobufs to program some version of Envoy. If you remove the field definition and simply reserve it, then someone will probably have to fork the protobufs to restore the definition.

IMHO, Envoy doesn't need t

[2021-09-14 22:13] NersesAM commented on #18107
@lambdai Sorry not sure what you mean. Are you saying this is not a bug and you don't know how it was working before 1.17?

The issue you have linked was the original feature request ticket for implementing this exact feature which worked fine until it broke in 1.17

[2021-09-15 01:16] atali commented on #12535
I still got the same issue. Is there any chance to fix the PATH for Centos ?

[2021-09-15 01:57] wbpcode commented on #17918
I think this is just ignored in implementation. It's not because of a special design.

[2021-09-15 02:00] zirain commented on #18065
confirmed with istio community, this is necessary in istio usage, thanks for your replay @lambdai

[2021-09-15 02:00] #18065 closed

[2021-09-15 02:29] yanjunxiang-google commented on #18053
Thanks @suniltheta @jpeach  for your info.

Here is my plan:  1) put *dns_resolution_config* in dns_filter.proto as deprecated. 2) Changing test cases in dns_filter_test.cc and dns_filter_integration_test.cc to use *typed_dns_resolver_config* so the Envoy CI can pass with this deprecation.  3) There is code added in  #17479: dns_factory_test.cc which test this deprecated *dns_resolution_config* fi

[2021-09-15 02:37] agrawroh opened #18125 "Only adding Request/Response header(s) if it doesn't already exist"
## Description

Currently, there seems to be no way to only add a request/response header if it doesn't already exist. Envoy will either append the value if the header already exists or will overwrite it depending on the value of `append` [flag](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-headervalueoption) passed to the `request_hea

[2021-09-15 03:54] gongzh commented on #8167
Hello, is there any progress or plan on this feature? thanks!

[2021-09-15 04:03] gongzh opened #18126 "Support different fault injection policies with a single listener single port"
*Title*: *Support different fault injection policies with a single listener single port*

*Description*:
We have tested this scenario:
- only 1 listener with only 1 port number
- route config to 2 backend services, with weighted lb setting, e.g. 50% to service1, 50% to service2
- then we want to set different fault injection settings to different backend services, e.g. 10s delay to service1, 1s de

[2021-09-15 04:47] lambdai opened #18128 "support formatter in tcp proxy tunneling setting"
Tunneling in tcp proxy allows [adding arbitrary headers](https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto#L82)

The underlying access log formatter is created but the downstream stream info is not passed during the evaluation. So the %DOWNSTREAM_LOCAL_ADDRESS% produces "-".

It seems trivial to support it. I have it running locally and

[2021-09-15 07:28] daixiang0 commented on #16139
/unaasign

@ME-ON1 you can go ahead, I am busy on other things.

[2021-09-15 08:02] agrawroh commented on #18125
I took a stab at it:
https://github.com/envoyproxy/envoy/pull/18130

[2021-09-15 08:30] phlax commented on #12535
the centos image is not currently very well maintained (my view is that we should probs just drop it as its not tested anywhere)

is there a reason for using the centos build image over the ubuntu one ?

[2021-09-15 10:47] emilchitas commented on #13504
Any updates on this? We are seeing a lot of these log entries in our envoy proxies.
Envoy version: `56534e716b8f7f5caad0f852b79680d97934717f/1.19.1/Clean/RELEASE/BoringSSL`

[2021-09-15 11:00] phlax commented on #13504
@emilchitas it looks like it was fixed in https://github.com/envoyproxy/envoy/pull/15366

reading the ticket it looks like its now a debug log - is it possible that you have debug logging set ?

if so, i will close this ticket

[2021-09-15 13:28] alyssawilk commented on #18034
Oh lovely, the move didn't help because common depends on core, so core can't depend on common.  Still with monolithic configs.

[2021-09-15 15:11] alyssawilk commented on #18128
Nope, sounds like a solid improvement!

[2021-09-15 15:24] emike922 opened #18134 "Some (IPv4) clusters not reachable in 1.19 proxy"
*Title*: *Some (IPv4) clusters not reachable in 1.19 proxy*

*Description*:
We are currently testing a dual-stack solution for Istio, *loosely* based on istio/istio#29076 with further modifications. Think mainly using :: listeners with ipv4_compat mode instead of the default wildcard listeners. This has been working pretty well in Istio 1.10/Envoy 1.18.3, but now using Istio 1.11/Envoy 1.19.1, som

[2021-09-15 15:35] mattklein123 commented on #18134
Please route this issue through the Istio project. If you have a self contained Envoy only repro feel free to discuss here. Thanks.

[2021-09-15 16:17] lambdai commented on #18128
Thank you for the feedback! @alyssawilk
/assign @lambdai

[2021-09-15 18:22] rbrandino1 opened #18137 "[Question] Header-To-Metadata Filter -> how should i use?"
*Title*: *Header-To-Metadata Filter -> What am I doing wrong?*

*Description*:

I have a project using grpc-web, where I'm working with httpOnly cookie to send a logged user authentication token.

Turns out my back-end application gets this information automatically (with no config specs for it) into metadata.cookies (in a string array).

I would like to change this format and for that, I am tryin

[2021-09-15 18:53] #17975 closed

[2021-09-15 20:01] #17439 closed

[2021-09-15 21:30] dio commented on #18137
@rbrandino1 the metadata here is https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/data_sharing_between_filters.html?#metadata. Used by envoy (and its filters) internally. From my reading, sorry if I'm wrong, are you trying to add more data to the `set-cookie` header itself?

[2021-09-15 21:54] #18120 closed

[2021-09-15 22:35] rbrandino1 commented on #18137
@dio Thanks for your response.

Because of my lack of experience, I was making a mess.
Your sentence sums it up: "Used by envoy (and its filters) INTERNALLY."

When I submitted the question, I was with the understanding that the `header_to_metadata` filter besides extracting the information from the cookie or the header, it also automatically created a new property inside the GRPC metadata with th

[2021-09-15 22:38] lizfeed opened #18138 "No way to retrieve JWT kid as metadata"
*Title*: No way to retrieve JWT tokens from metadata

*Description*:

The JWT option [payload_in_metadata](https://www.envoyproxy.io/docs/envoy/v1.19.1/api-v3/extensions/filters/http/jwt_authn/v3/config.proto#envoy-v3-api-field-extensions-filters-http-jwt-authn-v3-jwtprovider-payload-in-metadata) allows you to store the metadata stored in the JWT payload, for logging or further processing. However

[2021-09-16 00:01] #17630 closed

[2021-09-16 03:15] #17961 closed

[2021-09-16 03:29] garyyang2002 opened #18139 "How to measure envoy latency"
*Description*:
We want to accurately measure the latency overhead of envoy based on the access log, especially for the scenario that the downstream/upstream network is not stable, there are two options in my mind:
1. DURATION - REQUEST_DURATION - UPSTREAM_SERVICE_TIME
2. REQUEST_TX_DURATION - REQUEST_DURATION  + RESPONSE_TX_DURATION - RESPONSE_DURATION

One question is REQUEST_DURATION end by the

[2021-09-16 04:52] Tenaria commented on #9958
Hi @gramidt,

Has there been any update on this in regards to resourcing the work? We also have a similar interest on the topic for the same reason as @rakyll and was wondering if there is any planned roadmap / expected timeline at this stage.

Thanks!

[2021-09-16 05:58] baoervsdier commented on #11089
we also found the same problem,is it solved now?

[2021-09-16 05:58] baoervsdier commented on #11089
we also found the same problem,is it solved now?

[2021-09-16 05:59] baoervsdier commented on #11089
we also found the same problem,is it solved now?

[2021-09-16 06:02] baoervsdier commented on #16217
we also found the same problem,is it solved now?

[2021-09-16 08:54] dio commented on #18138
I have a draft PR here: https://github.com/envoyproxy/envoy/pull/18140. It adds a new `header_to_metadata` field, which I think will serve your use case well. I also have `dio123/envoy:jwt-auth-18138` (which has this change compiled in, it is an ubuntu-based envoy image) pushed to Docker Hub. If you have time, could you try it out (apparently I need to have a setup for jwt_authn (and add that to t

[2021-09-16 10:25] dio commented on #11089
@baoervsdier could you help us by sending a sample request when you do the file uploading? Thank you!

[2021-09-16 10:34] baoervsdier commented on #11089
A similar problem has been mentioned, but it has not been resolved so far. The per_connection_buffer_limit_bytes parameter has been increased, but the error still exists.https://github.com/envoyproxy/envoy/issues/16395

[2021-09-16 12:08] #18137 closed

[2021-09-16 12:58] gramidt commented on #9958
@Tenaria - Sadly, I have not heard of any progress on this.

[2021-09-16 13:04] atali commented on #12535
The target machine where I want to execute envoy is Centos 7.
 I tried to extract the Envoy built by ubuntu but I got the following issue:
 ` ./envoy --version
./envoy: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by ./envoy)`

So I suppose I need a statically compiled version of Envoy, do you have any idea how I can get it ?

[2021-09-16 13:12] phlax commented on #12535
i think the statically compiled versions still have a glibc dependency

you may find one of the older versions of Envoy supports a lower version

[2021-09-16 15:34] gilgameshfreedom commented on #11906
+1 for this feature

[2021-09-16 15:58] phlax opened #18147 "API breaking change detector is breaking in CI"
### description

its not clear if its a genuine issue, but it looks more like an issue installing the tool

first breakage in postsubmit CI was here:

https://dev.azure.com/cncf/envoy/_build/results?buildId=88659&view=logs&j=34589ac8-7a1a-5ab1-7ee8-e202f4bf08f2&t=53ebe0b6-7636-59b5-d093-fd2c4c2b2c60&l=134

[2021-09-16 16:05] howardjohn opened #18148 "Add efficient path-based prefix matching"
*Title*: Add efficient path-based prefix matching

*Description*:
The Kubernetes Ingress spec, and soon the gateway-api spec (https://github.com/kubernetes-sigs/gateway-api/issues/866) implement a different form of prefix path matching than Envoy. From the spec:

Essentially, if we want to match `prefix=/foo` in this manner we have two options:
* Convert to a regex match (like https://github.com/p

[2021-09-16 16:39] adisuissa commented on #18147
Wasn't able to reproduce it, and I don't see the same breakage in later merged PRs, e.g., https://dev.azure.com/cncf/envoy/_build/results?buildId=88682&view=logs&jobId=34589ac8-7a1a-5ab1-7ee8-e202f4bf08f2 is not failing in the same place.
Note that there is another fault during "Post-job: Cache" (https://dev.azure.com/cncf/envoy/_build/results?buildId=88682&view=logs&jobId=34589ac8-7a1a-5ab1-7ee8-

[2021-09-16 16:44] adiseshan commented on #12970
The below Envoyfilter fixed our problem.
Import point to note
`Lua expects % used as escape character for characters like - `

[code]

[2021-09-16 16:50] phlax commented on #18147
yep, it seems it was just those 2 consecutive PRs that failed, some upstream problem i guess

either way, it seems to have gone away

[2021-09-16 16:50] #18147 closed

[2021-09-16 18:57] dikshant opened #18151 "Envoy seems to be not removing upstream hosts in STRICT_DNS mode when A records are removed if healthcheck is configured for the cluster"
Envoy seems to be not removing upstream hosts in STRICT_DNS mode when IPs are removed in the DNS provider

*Description*:
I have an Envoy (v1.19.1 ) setup (running in Docker) where I have it configured in STRICT_DNS. I created A records for my domain `xyz.example.com` pointing to two IPv4 addresses through Cloudflare. I verified they can be resolved properly. I also have envoy configured to use 1.

[2021-09-16 18:58] hochuenw-dd opened #18152 "[Adaptive Concurrency filter] Occasional 503s while gradient is 1 and minRTT calculation is inactive"
Hi team, we are testing adaptive concurrency on Kubernetes. We noticed some 503s, but we are a bit confused why it happened. As shown in the picture, the gradient was always 1, and the concurrency limit was stable (except when it calculates the minRTT, but when that happened the concurrency was still higher than the actual concurrency 5 > 30 * 0.02). The ingress RPS and ingress latency were also r

[2021-09-16 18:59] hochuenw-dd commented on #18152
cc @tonya11en @mattklein123

[2021-09-16 20:01] #17625 closed

[2021-09-16 20:10] tonya11en commented on #18152
@hochuenw-dd can you show the stats on the number of active requests instead of RPS? Your `min_concurrency` is 5 which seems kind of low, but I can't be sure without knowing what the typical outstanding request count is.

Also, what exactly is "Blocked Request"? It doesn't look like a per-minute 503 count, so I'm not sure how to interpret it.

[2021-09-16 20:24] dio commented on #9958
@gramidt sorry for a naive question: do we intend to use https://github.com/open-telemetry/opentelemetry-cpp? Last time I check it has a similar approach with the current OC impl. By exporting OTLP spans only, is it converting OC Span to OTLP?

[2021-09-16 20:31] hochuenw-dd commented on #18152
@tonya11en Yes sure.  Sorry I didn't make this metric clear.
Here is the metric `envoy_cluster_upstream_rq_active`, I feel like this metric could not be always useful because this is a gauge and usually the metric exporter scrapes the metric endpoint every x seconds (30 in our case). So we miss some data points in the dashboard.
Per my understanding, the `min_concurrency` 5 is higher than the typi

[2021-09-16 20:43] dikshant commented on #18151
Turns out for my use case I had to set `"ignore_health_on_host_removal": "...",` as shown in the docs [here](https://www.envoyproxy.io/docs/envoy/v1.19.1/api-v3/config/cluster/v3/cluster.proto.html). Sorry about the noise!

[2021-09-16 20:43] #18151 closed

[2021-09-16 21:26] tonya11en commented on #18152
Right, but you can't use Little's Law with a p50 latency. You have to use the average.

In any case, the stats granularity is so coarse, that we can't really use it to validate any hypothesis related to active request counts. Some amount of 503s are expected even in the steady-state because of the minRTT measurements. This is why we recommend you enable retries on the clients so that it doesn't af

[2021-09-16 21:46] jpeach commented on #18148
Xref https://github.com/kubernetes-sigs/gateway-api/pull/869

[2021-09-16 22:08] hochuenw-dd commented on #18152
I might misunderstand something. Here the p50 is ~20ms, it means the slowest query of the top 50% fastest queries took ~20ms. If we average the p50 queries, the latency would be lower, then the concurrency would be also even smaller than 0.7.

Thanks. For now, I think l should just try to bump the min concurrency to see if this still happens again.

Thanks for this suggestion, I'll have to think o

[2021-09-16 22:18] tonya11en commented on #18152
I just mean that you have to use the average latency, not a percentile. Your p50 can be 20ms, but what if your p75 was 5000ms? You'd have a standing queue. When you multiply your average RPS by a latency, it has to be the average latency to get the average number of active requests.

No. It has to be a gauge, because it is a state. It wouldn't make sense for it to be a counter because it wouldn't

[2021-09-17 00:01] #17649 closed

[2021-09-17 00:01] #17650 closed

[2021-09-17 00:59] jpeach opened #18154 "Extension matcher documentation doesn't generate a link to the xds Matcher type"
*Title*:  Extension matcher documentation doesn't generate a link to the xds Matcher type

*Description*:

In the [extension matcher docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/common/matching/v3/extension_matcher.proto.html), the documentation generator doesn't generate a reference link for the `xds.type.matcher.v3.Matcher`.

The actual sphinx doc looks like this. Note How

[2021-09-17 03:46] leosunmo commented on #17722
This is more and more starting to look like it might be connected to https://github.com/istio/istio/issues/34973. We see similar "bad sessions" being established with good old RESTful HTTP connections. A single user/browser ends up in a situation where the replies from our upstreams are just being silently dropped somewhere, and the ingress gateway retries and retries and eventually gives up and `

[2021-09-17 04:11] mathetake commented on #17660
I think this could speed up "compile_time_options" CI step - WAVM and WAMR are the only targets which depend on LLVM lib and they are only built in that step. cc @PiotrSikora wdyt?

[2021-09-17 06:54] #18051 closed

[2021-09-17 08:01] #17647 closed

[2021-09-17 09:47] wangfakang commented on #11527
mark

[2021-09-17 09:55] YaoZengzeng opened #18160 "envoy crash when test http3 upgrade"
I tried to load test the http3 upgrade between two envoy proxies, the deploy model as:

`
fortio --http1--> client side envoy proxy --http3--> server side envoy proxy --http1--> envoy as application
`

The config of client side envoy proxy is

[code]

The config of server side envoy proxy is:

[code]

The envoy version is 1.20 and with --concurrency of 1.

If I test with follow command (10 connect

[2021-09-17 10:29] emike922 commented on #18134
Sure, I will try that. Though as the Envoy configs are virtually identical (from what I could see), I suspect the issue may ultimately come back here.. 😅

[2021-09-17 12:23] emilchitas commented on #13504
@phlax I saw the commit to change the log level, but this appeared for us with the `1.19.1` version, with only `INFO` log level enabled.
Oddly enough, these log entries did not appear in the last 2 days and I can't reproduce it since then.

[2021-09-17 14:13] antonioberben opened #18161 "Failover service appears as part of the same endpoint list for one cluster"
Having a service (`primary` service) with two pods, and configuring a failover service (`secondary` service), the envoy config dump shows something like this:

- Cluster "primary", for the two pods for `primary` service
![image](https://user-images.githubusercontent.com/5262332/133795479-af55b748-cdb2-49e9-8ebd-e0fc9f4345d1.png)

- Cluster "combined", for the two pods for `primary` service  + one

[2021-09-17 14:20] #18161 closed

[2021-09-17 16:00] itayd opened #18162 "test, please ignore"

[2021-09-17 16:00] itayd commented on #18162
/rk-ping

[2021-09-17 16:00] itayd commented on #18162
/wait

[2021-09-17 18:01] chengyaxue opened #18164 "Customized cookie name for Oauth2 filter"
*Title*: Customized cookie name for Oauth2 filter

*Description*:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter
I have different auth clients (token expiration time is different etc...) in different environment and auth server issues token that contains different profile for these clients. This will cause problem when my clients open website for multiple

[2021-09-17 18:29] #18162 closed

[2021-09-17 20:01] #17180 closed

[2021-09-18 00:01] #17678 closed

[2021-09-18 01:10] 13567436138 opened #18168 "how to config tcp global ratelimit ,I don't know the descriptor field how to config?I can not find any examples?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
how to config tcp global ratelimit ,I don't know the descriptor field how to config?I can not find any examples?
*Description*:

[code]
[optio

[2021-09-18 06:25] xiaoma2015 commented on #4961
@utkarsh-simha   I  understand  the dynamicly not just this mean. but we can  dynamicly route the request to the right instance  accordingly to its tags. for example:

[2021-09-18 07:42] rtttech opened #18171 "gdb debug problem"
I build envoy with -c dbg option but can't watch variables when debuging with gdb, says:

-var-create: unable to create variable object

[2021-09-18 12:01] #17669 closed

[2021-09-18 12:01] samitpal opened #18172 "Question: Can envoy mirror tcp traffic when acting as a tcp proxy?"
I'm running envoy in tcp proxy mode. I know envoy can mirror traffic when acting in http mode, but not sure if that is possible in tcp proxy mode. I don't see any documentation which suggests  mirroring is supported in tcp mode, but I still wanted to ask.

[2021-09-19 04:01] #17672 closed

[2021-09-19 08:01] #17394 closed

[2021-09-19 10:07] agrawroh commented on #18069
We have a similar requirement. I opened a PR:
https://github.com/envoyproxy/envoy/pull/18177

[2021-09-19 21:02] agrawroh commented on #17847
@ggreenway @zthomas2 I took a stab at it: https://github.com/envoyproxy/envoy/pull/18180

[2021-09-19 23:42] youngnick commented on #18148
As @howardjohn said above, we've chosen to go with the "replace with regex" option for now in Contour, but strong +1 that this would be very nice for us.

[2021-09-19 23:51] gabrielhesposito commented on #13877
@NomadXD  were you successful  in rate limiting your web socket work >]? can you share your results ?

[2021-09-20 00:02] #17693 closed

[2021-09-20 00:02] #17707 closed

[2021-09-20 01:00] wu-sheng commented on #17331
We still need this.

[2021-09-20 07:54] ramaraochavali commented on #3351
Virtual clusters seems to be on per header basis. Is it possible to extend it based on path regex?

[2021-09-20 08:01] #17659 closed

[2021-09-20 09:03] MydroX opened #18181 "503 Service unavailable. How to detect error location."
*Title*: *503 Service unavailable. How to detect error location*

*Description*:

[code]

I am using the debug mode but it's not giving me much more informations.

This is the error message : upstream connect error or disconnect/reset before headers. reset reason: connection failure.

So I am looking for a way to have more precise information to locate my error through my network or if you have a

[2021-09-20 10:59] dio commented on #18164
@chengyaxue to clarify, do you want to have a way to change those cookies names?

[2021-09-20 14:04] alyssawilk commented on #18172
As far as I know that's not possible today.

[2021-09-20 14:05] alyssawilk commented on #18171
Not a problem I've run across - have you tried asking on the envoy-dev slack channel to see if anyone else has run into it?

[2021-09-20 14:08] alyssawilk commented on #18168
did https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/rate_limit_filter#config-network-filters-rate-limit not help you?

[2021-09-20 14:11] alyssawilk commented on #18154
Huh, looks like the autogenerated docs aren't WAI here:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/common/matching/v3/extension_matcher.proto.html

cc @adisuissa @phlax thoughts?

[2021-09-20 14:12] alyssawilk commented on #18148
cc @htuch  @envoyproxy/api-shepherds for thoughts

[2021-09-20 14:13] alyssawilk commented on #18126
@rshriram

[2021-09-20 14:16] alyssawilk commented on #18107
huh.  @mattklein123 @snowp any ideas what might have caused a difference in TCP keep-alive or socket option proceeing between 1.16 and 1.17?   Nothing comes to mind for me :-/

[2021-09-20 14:17] alyssawilk commented on #18099
cc @gbrail @snowp

[2021-09-20 14:19] alyssawilk commented on #18095
do you get any more details of what's going on if you follow the instructions here:
https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses
?

[2021-09-20 14:20] alyssawilk commented on #18094
I think that'd be fine to downgrade if you want to make it happen.

[2021-09-20 14:22] alyssawilk commented on #18160
Just a reminder while QUIC is in alpha we're working hard to get it to GA so please do check in with envoy-security before posting crash reports publicly :-)

That said thanks for the report.  Any chance you can get symbols on that stack trace?  cc @danzh2010

[2021-09-20 14:36] phlax commented on #18154
at a guess its because its viewed as "external" to the docs, and only the internal protos are linked

i can look into this further to confirm or otherwise

if my suspicion is correct i can possibly look at adding a dictionary of proto -> urls so we can add links to upstream protos

[2021-09-20 14:58] mattklein123 commented on #18107
Not sure. Can you potentially come up with a self contained repro on top of current main branch? I think debug/trace output should make it clear what socket options are being applied but I'm not sure. We can debug further from there?

[2021-09-20 15:04] mattklein123 commented on #18148
We already do support control over route case sensitivity in matching.

What is the actual feature request here? I'm a little confused. Why doesn't `prefix=/foo` work for your example?

[2021-09-20 15:05] ramaraochavali commented on #18107
Not sure what changed but `STATE_LISTENING` is not working but `STATE_PREBIND` is working. Here is what we tried in Istio https://github.com/istio/istio/issues/28879#issuecomment-827550370

[2021-09-20 15:12] mattklein123 commented on #18107
Sorry I have no idea why it doesn't work after calling listen() now, but it used to before. PREBIND or BOUND seems more correct to me. If someone wants to debug why/how this changed please do.

[2021-09-20 15:15] howardjohn commented on #18148
The problem is `prefix=/foo` is a string prefix. The spec has "element-wise"/label prefix. So in the spec, `/foo` would match `/foo/bar` but NOT `/foobar`. In envoy, it would match both.

This is semantically equivalent to existing Envoy matching capabilities: `prefix=/foo/ OR exact=/foo`, or converting to a regex (https://github.com/projectcontour/contour/blob/2b3376449bedfea7b8cea5fbade99fb64009

[2021-09-20 15:17] mattklein123 commented on #18148
OK, so you want a "path splitting prefix mode?" That seems simple enough.

[2021-09-20 15:34] alyssawilk commented on #17722
I think largely we'd need more data to look into this :-/
This is a multi-system issue with no reproducability or even clarity which server is causing the problem.  If there were traces of Envoy reading in TCP data and not processing it, or reading stream data and not forwarding it, we could look into it but absent more information about what's going on there's not much we could do at the moment.

[2021-09-20 15:56] #18181 closed

[2021-09-20 16:00] mtalbot opened #18183 "PassthroughSocket breaks alpn"
The [PassthroughSocket](https://github.com/envoyproxy/envoy/blob/0fae6970ddaf93f024908ba304bbd2b34e997a51/source/extensions/transport_sockets/common/passthrough.h) doesn't  override [supportsAlpn](https://github.com/envoyproxy/envoy/blob/c64497b8d727ef7631565c7674a2233c58bb51ac/envoy/network/transport_socket.h#L251) and passthrough to the wrapped transport socket. This means a tap socket breaks Al

[2021-09-20 17:49] junpengl opened #18187 "Envoy doesn't set header "x-envoy-expected-rq-timeout-ms" when route timeout is set to 0s"
*Title*: Envoy doesn't set header "x-envoy-expected-rq-timeout-ms" when route timeout is set to 0s

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Envoy should set set header "x-envoy-expected-rq-timeout-ms" with value 0 when route timeout is set to 0s. The header is set when the route timeout is set to greater than 0s.
This caused the upstre

[2021-09-20 18:46] gbrail commented on #18099
It looks like the problem is that we don't pass the "StreamInfo" to the gRPC stream when starting to talk to the ext_proc server. That's pretty easy to fix, and harder to write an integration test for but I'll work on it. Thanks!

[2021-09-20 19:45] alyssawilk commented on #16652
Dan has audited: remaining features have tracking issues.

[2021-09-20 19:45] #16652 closed

[2021-09-20 19:45] alyssawilk commented on #16291
Done enough (there's TODOs left, but the feature will be alpha until the spec lands)

[2021-09-20 19:45] #16291 closed

[2021-09-20 19:47] brianpgerson commented on #17918
Reading the contributing guide's requests for any "major feature" - hard to say for sure whether this would be considered a major change from a LOC perspective, but would you recommend any further discussion before we might start working on this? (@jvanhorenbeke and i would likely be working together on this change)

[2021-09-20 20:42] leosunmo commented on #17722
@alyssawilk appreciate you taking the time, even if there's no progress! I completely agree that there's little we can do if we can't reproduce it reliably, you can imagine my frustration... It's still happening with some frequency, but I am pretty sure it's not specifically GRPC/GRPC-Web related, but some broader issue with connections. We are trying to work around this with limited success.

Wou

[2021-09-20 23:14] junr03 opened #18191 "dns cache: support per interface dns resolution"
Description: there exist certain environments where it is important for DNS resolution to be different per available network interface, e.g., mobile devices where a resolved address for a home wi-fi network might not be valid on a cellular network.

This feature request covers two parts:

1. Allow for interface specification on dns resolver queries: this needs further investigation to understand w

[2021-09-20 23:23] jpeach commented on #18154
If possible, it would probably be helpful to include the docs for all the xds repository types.

[2021-09-21 02:49] agrawroh commented on #17525
I also had some question on how the inflight requests are getting handled etc. when we have `max_connection_duration` defined and looked at the code to understand a little more. I clarified the docs and also added a section in the Timeout FAQs here: https://github.com/envoyproxy/envoy/pull/18193

[2021-09-21 03:00] chengyaxue commented on #18164
Yes I want to have a way to configure those cookies names.

[2021-09-21 04:17] htuch commented on #18148
There's some overlap with https://github.com/envoyproxy/envoy/issues/7763, which also provides matching with path fragments.

[2021-09-21 10:01] BatanGaming commented on #18095
@alyssawilk Thanks for your reply. I found the breaking change that cause my issue

I redirect http/2 from https to http and it cause reset on my asp net core application with error
[code]
 So, do I need to use `X-Forwarded-Proto` header?

[2021-09-21 10:49] #18095 closed

[2021-09-21 12:46] alyssawilk commented on #17722
I hear you - intermittent issues are the worst to debug.
I guess if I were trying to track this down I'd try a couple of things.  I'd try to come up with a repro case, with an Envoy set up in my custom configuration and varied payloads.  If I were sure the connection was around and the data was not processed I'd focus on proxying different size payloads and maybe even tweaking network or kernel bu

[2021-09-21 14:35] alyssawilk commented on #18160
Actually I'm going to pull this from the MVP list as the connect config is separately tagged alpha, so I think QUIC in general can GA without connect support being trusted in prod.

[2021-09-21 14:38] alyssawilk commented on #18160
oops, redacting, not an upgrade specific issue I misread

[2021-09-21 15:09] rmilejcz opened #18194 "Is it possible to simultaneously accept grpc web requests and standard HTTP/2 grpc requests on the same endpoint?"
*Description*:

I currently have an RPC server setup in Go accepting requests from a GRPC web client implemented in Javascript. We are now setting up a flutter mobile app and have established a dart client, but our current proxy does not like the requests:

[code]

I am assuming this is because we have the `grpc-web` http filter, so the server is expecting HTTP1/1 requests but the dart client is s

[2021-09-21 15:23] mattklein123 commented on #18191
cc @alyssawilk @RyanTheOptimist

[2021-09-21 15:25] #18138 closed

[2021-09-21 15:29] esmet commented on #17085
Friendly ping for more opinions on this @alyssawilk / @kyessenov

[2021-09-21 15:34] #17847 closed

[2021-09-21 16:16] davinci26 commented on #17795
This issue that motivated the change appears only when the container runtime is docker rather than containerd.

According to sig-windows Kubernetes is moving forward with containerd as the container runtime in the future so I do not have motivation for this change.

If anyone needs this feature then feel free to open the issue and I can chime in

[2021-09-21 16:31] alyssawilk commented on #18194
the grpc web filter should only operate on requests with the grpc-web content type
https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_web/grpc_web_filter.cc#L158

I'm not sure why your upstream is sending 464 but I don't think the problem is the mix-and-match traffic.

[2021-09-21 16:34] M4tteoP opened #18198 "Fetch upstream properties (IP,port) WASM C++"
Hi all, I need to find out as much information as possible (IP, port, request uri) about the client that sends the request (I'm still actively working on [implementing a wasm WAF](https://github.com/envoyproxy/envoy/issues/17463)). I found[ this issue regarding RUST SDK](https://github.com/envoyproxy/envoy/issues/14440) that shows the _upstream properties_, but I can't find out where these propert

[2021-09-21 19:58] esmet commented on #17918
@brianpgerson I think this is a minor feature. I agree with @wbpcode that we could use a retry policy in the AsyncClient's request options, and the fact that we don't do that right now is probably an oversight. If you don't start working on a PR for this yourself, I might give it a try soon-ish - maybe in the next few days.

[2021-09-21 20:01] #17720 closed

[2021-09-21 20:10] brianpgerson commented on #17918
Thanks for weighing in - I've been looking for a good opportunity to contribute to Envoy (esp around ext_authz) so if you don't mind hanging back, I'd like to give it a try first (but will likely not be able to put up a PR in the next couple days).

[2021-09-21 20:17] esmet commented on #17918
Sure thing!

[2021-09-21 20:59] junr03 commented on #18191
Had an interesting discussion with the folks over at google (@alyssawilk @RyanTheOptimist @DavidSchinazi).

- There is a general hypothesis that utilizing https://github.com/envoyproxy/envoy/pull/18165 will bring most of the benefits we might be able to get with having per interface entries. The only slight difference might be that with this feature, relevant entries would be in the cache already

[2021-09-21 21:41] AlexanderEllis commented on #9958
Hi @gramidt, I'd be interested in taking on this work!

I've been discussing the potential approach with Harvey (@htuch), and it looks like it may make sense to add a Tracer that uses the OpenTelemetry protos and C++ API. The only potential issue is the stability of the C++ SDK, and depending on how stable it is (I see there was a 1.0.0 release recently), it may make sense to use Envoy's gRPC serv

[2021-09-22 02:08] #17494 closed

[2021-09-22 04:49] samitpal commented on #18172
Ok, thanks! Closing the issue.

[2021-09-22 04:49] #18172 closed

[2021-09-22 06:01] hj24 commented on #17228
@esmet @mattklein123

[2021-09-22 06:30] mathetake commented on #18198
@M4tteoP  You can use `getValue` API to retrieve properties in C++ SDK. Here's an example usage in Istio: https://github.com/istio/proxy/blob/master/extensions/common/context.cc#L142-L145

[2021-09-22 06:57] mathetake commented on #18198
and JFYI you can ask Wasm questions like this in #envoy-wasm channel in Envoy slack.

[2021-09-22 08:28] M4tteoP commented on #18198
Thanks a lot @mathetake. I joined #envoy-wasm channel, see you there!

[2021-09-22 08:28] #18198 closed

[2021-09-22 08:35] dio commented on #17228
@hj24 I kinda tested your scenario and `clear_route_cache: true` does the right job for me.

I tested using the ext_authz example, with a [patch](https://gist.githubusercontent.com/dio/f83474be2aac11290bec82f5f2e71844):

To test,

1. Clone this repo: `git clone git@github.com:envoyproxy/envoy.git`
2. Apply the patch: `cd envoy && curl -s https://gist.githubusercontent.com/dio/f83474be2aac11290bec8

[2021-09-22 12:53] wbpcode opened #18209 "generic proxy support"
Now, Envoy already supports  proxy traffic of many different protocol. But if we want to support a new protocol, we alway **need to implement a complete L4 filter and all related L7 filters. But in fact, many protocols have similarities. So, may be we can try to implement a generic proxy and then, by extending different encoders and decoders to extend different protocol support. And all these prot

[2021-09-22 12:58] wbpcode commented on #18209
![generic_proxy](https://user-images.githubusercontent.com/12389633/134347472-834f1518-533c-4a47-996b-40faf2284d45.png)

ref MOSN, brpc and aeraki metadata protocol etc.

[2021-09-22 13:45] alyssawilk commented on #17085
thanks for looking at this @esmet and sorry for lag.
Yeah I like the idea of both inheriting by default and actually setting the shadow traces based on config.  Per your patch, I wonder if there's a need to keep sampled_ if we retain sampled_preference_? Not sure if there's a need for both or you just hadn't cleaned it up.  Also I think we'll want to runtime guard as this results in data plane cha

[2021-09-22 13:56] alyssawilk opened #18211 "CI flakes"
https://dev.azure.com/cncf/envoy/_build/results?buildId=89146&view=results
https://dev.azure.com/cncf/envoy/_build/results?buildId=89159&view=results
https://dev.azure.com/cncf/envoy/_build/results?buildId=89159&view=results

We're getting ~3 failures on main a day with api compat build failing. @adisuissa kindly agreed to look into it, but filing for tracking and because I noticed it's not just a

[2021-09-22 14:09] phlax commented on #18211
verify-examples mostly fails for one of 2 reasons

- docker import fails
- websocket test fails

im not seeing the first problem too often anymore, and my attempt to track it down didnt turn up anything obvious

the latter problem, is i think a bona fide flake - i can go through the test and try and make it more robust at some point

the problems with the api proto breaker are i believe related to

[2021-09-22 14:13] blevz opened #18213 "Large PUTs cause upstream connection termination"
*Title*: Large puts cause upstream connection termination

*Description*:
PUT-ing a large file thru envoy to an upstream that 404s occasionally will cause an upstream connection error.

*Repro steps*:
test.py
[code]
envoy-config.yaml
[code]

To Repro:
[code]
This sometimes produces the correct response (404), but often produces a 503 upstream_reset_before_response_started error.

Logs around the i

[2021-09-22 14:51] adisuissa commented on #18211
To the best of my understanding the api_compat issue is due to wrong configuration of the repository_cache flag or usage of the cache (which I'm looking at how this should be solved).

From a quick look at the verify errors, it seems they are unrelated.

[2021-09-22 14:54] nareddyt opened #18215 "Envoy docs website returns 404"
Official documentation website is returning 404 for any page under `latest`

Examples:
- https://www.envoyproxy.io/docs/envoy/latest
- https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_bridge_filter

![image](https://user-images.githubusercontent.com/11142171/134367453-6ad6ed77-e2e6-4635-b02f-42cd0bf5984c.png)

Versioned docs are working:
- https://www.envoypro

[2021-09-22 14:54] nareddyt commented on #18215
cc @phlax since I see you had some docs PRs

[2021-09-22 14:58] phlax commented on #18215
im working on this atm, apologies for outage

[2021-09-22 16:01] #17628 closed

[2021-09-22 17:05] #18211 closed

[2021-09-22 19:55] alyssawilk commented on #18213
Thanks for the report.  This looks like the logs I'd expect if the upstream killed the connection.  What leads you to believe this is an Envoy error and not an issue with the backend?

[2021-09-22 20:00] blevz commented on #18213
Ah, I forgot to add to the report that curl-ing directly the 8081 port never returns anything but 404.  I do believe the issue is that envoy starts reading the body before the upstream is able to respond w/ a 404.

[2021-09-22 20:58] DanTulovsky opened #18222 "router_check_tool does not support ExtAuthzPerRoute"
*Title*: config_load_check_tool does not support ExtAuthzPerRoute

*Description*:
When testing a config that includes ExtAuthzPerRoute with the router_check_tool, I get the following error:

[code]

For example:

[code]

*Repro steps*:

required to reproduce the bug.

gathers a tarball with debug logs, config and the following admin
endpoints: /stats, /clusters and /server_info. Please note if the

[2021-09-23 00:01] #17287 closed

[2021-09-23 01:07] adisuissa opened #18228 "api_compat support for work_in_progress annotations"
*Title*: api_compat support for work_in_progress annotations

*Description*:
#18218 introduced the `work_in_progress` annotations for API files, messages, and fields.
The api breaking compatibility change needs to ignore any breaking changes to these objects.

This issue is to track progress on the needed adjustments for the tool.

[2021-09-23 01:14] alyssawilk opened #18229 "GuardDogActionsTest.ShouldRespectEventPriority flaking on coverage"
Looks like this is flaking on coverage builds.
Sample runs:
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/89313/logs/243
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/89327/logs/235
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/89332/logs/235

@KBaichoo would you be able to take a look Th

[2021-09-23 10:04] dclipca opened #18233 "Route match prefix not working"
Envoy doesn't catch the specified config (is not able to detect it). That is, while accessing symmetric.xxx.com/api, there is a 404 error. On the other hand, if the following config
[code]
is being used, the api can be accessed at ```symmetric.xxx.com```. This should mean that the problem is in the prefix specification.

[code]

[2021-09-23 11:57] orHayoun commented on #14542
Sorry to barge in, but is there a workaround or my best option are to compile envoy with hardcodes`expired_in`?

[2021-09-23 13:16] rahulanand16nov commented on #17576
@PiotrSikora @mathetake Sorry for the late update; we have been slowly ramping up on the code and brainstorming how to implement it alongside other work for the past two weeks. We were thinking of moving towards a `broadcast group` implementation where any thread can register its shared queue without changing already present queue implementation in the ABI, i.e., a new `proxy_....` function. I thi

[2021-09-23 13:45] KBaichoo commented on #18229
We can disable it for now, and I'll take a look at it when I have cycles. Can you tag this no stale bot? Thanks

[2021-09-23 13:45] alyssawilk commented on #18233
sorry to clarify, you're saying the URL symmetric.xxx.com/api will match
                            prefix: "/api"
but won't match
                            prefix: "/"
?

[2021-09-23 13:47] alyssawilk commented on #18222
My guess is it's having issues with not having the extension compiled in.  Any thoughts @junr03 @adisuissa @htuch

[2021-09-23 13:52] alyssawilk commented on #18229
SG, thanks for the quick reply!

[2021-09-23 14:19] soulxu commented on #18233
I can't reproduce this on main branch if I and @alyssawilk understand correctly.

`
static_resources:
  listeners:
  - name: my_listener
    reuse_port: false
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 13333
    filter_chains:
    - filters:
      # The HTTP connection manager is the only network filter.
      - name: envoy.filters.network

[2021-09-23 14:41] Coconut105 opened #18235 "SAN with wildcard after string, does not match match_subject_alt_names value"
Hello,

We face an issue with matching the wildcarded SAN of client certificate with an exact value in the match_subject_alt_names of a listener.

If the client SAN is "test*.github.com" and the match_subject_alt_names field contains an exact value of "test123.github.com", the TLS Handshake fails with code "495 Certificate Unknown".
However, client SAN "*.github.com" works just fine.

We believe t

[2021-09-23 15:00] #18034 closed

[2021-09-23 16:01] #17733 closed

[2021-09-23 16:21] emike922 commented on #18134
Turns out the problem is related to the new runtime guard envoy.reloadable_features.listener_wildcard_match_ip_family.
Disabling that, the ipv4_compat wildcard listeners again properly handle both IPv4 AND IPv6 requests.

@mattklein123, is the ipv4_compat socket setting in any way considered when processing listeners and the mentioned runtime guard? **Should** it be?!?

[2021-09-23 16:25] zuercher opened #18238 "Remove envoy.deprecated_features.allow_deprecated_extension_names and support for deprecated extension names"
Remove the runtime feature and related tests.
Remove deprecated extension name support.

[2021-09-23 16:38] stevenzzzz opened #18240 "[SRDS] Reuse the RDS configImpl from RDS config provider in scoped RDS."
*Title*: Reuse the RDS configImpl from RDS config provider in scoped RDS.

*Description*:
we could reuse the ConfigImpl created within the RDS config provider to save a copy of ConfigImpl in SRDS.

[2021-09-23 16:38] stevenzzzz commented on #18240
/assign @stevenzzzz

[2021-09-23 17:38] esmet commented on #17085
Great, I'll prepare a real PR Soon ™️ and then we can work out those details.

[2021-09-23 17:48] mattklein123 commented on #18134
I'm not sure. cc @lambdai @ggreenway who are more familiar with this.

[2021-09-23 18:01] ggreenway commented on #18134
Looking through the history of this (see #16804), I think it makes sense to not check the IP versions when `ipv4_compat` is true, eg, the check `p.first->ip()->version() == address.ip()->version()` should be `(p.first->ip()->version() == address.ip()->version() || something.ipv4_compat())`. cc @jacob-delgado.

[2021-09-23 18:04] ggreenway commented on #18134
For reference from the [docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/address.proto.html):

"When binding to an IPv6 address above, this enables IPv4 compatibility. Binding to :: will allow both IPv4 and IPv6 connections, with peer IPv4 addresses mapped into IPv6 space as ::FFFF:<IPv4-address>."

[2021-09-23 19:02] adisuissa commented on #18222
Most probably that @alyssawilk is correct.
@DanTulovsky how are you building the tool?
I've built the tool from source (`bazel build //test/tools/config_load_check:config_load_check_tool`), run it on the following simple json config, and it passed without failures.

[code]

[2021-09-23 20:41] DanTulovsky commented on #18222
My apologies, I meant the `router_check_tool` not the config one.

[2021-09-23 20:59] #13115 closed

[2021-09-24 02:03] wbpcode commented on #18194
Does your upstream cluster have the correct configuration of HTTP2?

[2021-09-24 02:11] yanavlasov opened #18250 "Use after free in CDS"
PR #17848 introduces use-after-free when a cluster with thread aware load balancer is quickly added and removed.

Repro diff below:
Run with `bazel test --config=clang-asan --runs_per_test=10 //test/integration:cds_integration_test`

[code]

[2021-09-24 02:13] yanavlasov commented on #18250
@wbpcode, please take a look. If you think this can easily be fixed, let's do that. Otherwise we will rollback PR #17848 to unblock prod rollouts.

[2021-09-24 02:15] yanavlasov commented on #18250
Looks like PR may have violated this warning: https://github.com/envoyproxy/envoy/blob/972ac8f749b2c8782fc0e2e443a71dd9e995a727/envoy/upstream/load_balancer.h#L158

[2021-09-24 02:22] yanavlasov commented on #18250
It looks like OSS ASAN we use detects this as UBSAN failure and does not show the stack where the object was freed. Pasting here from internal runs:

[code]

[2021-09-24 02:31] wbpcode commented on #18250
Thanks for call it out. I will have quick check and decide how to fix it or revert it first.

[2021-09-24 02:47] wbpcode commented on #18250
Yes, it is my fault.  Sorry for introduce this error. 😔

[2021-09-24 03:05] mathetake commented on #17576
If we really want to add that kind of new ABI, then we should definitely go to proxy-wasm/spec repo for discussion, and should not be done here. And @PiotrSikora is working on the next version of ABI and should have consistency there.

And as for the change, let's just change the current behavior of Envoy (posting on one thread) to the broadcast mode. That would not require any change rather than

[2021-09-24 03:06] wbpcode commented on #18250
I have completed a patch, and after completing the test, I can submit a PR to fix it. This is really a very stupid oversight. Again, I am very sorry.

[2021-09-24 08:45] rahulanand16nov commented on #17576
Sure, it makes sense to take ABI changes to the spec repo. For now, we'll focus on getting the broadcast implementation out ASAP then.

[2021-09-24 11:33] dclipca commented on #18233
Sorry for being unclear. It matches "/" but not "/api".

[2021-09-24 11:36] dclipca commented on #18233
I am using ```d362e791eb9e4efa8d87f6d878740e72dc8330ac/1.18.2/clean-getenvoy-76c310e-envoy/RELEASE/BoringSSL```. I can log it but I am not sure how. Can you help me?

[2021-09-24 16:16] #18250 closed

[2021-09-24 16:48] ankatare commented on #17687
@ggreenway can you elaborate it more. I would like to understand and work on this

[2021-09-24 17:09] davinci26 commented on #1975
@mattklein123 @ggreenway I would like to implement the env variable or command line support for tagging as I want to use it in our production environment.

The history is a bit confusing here, because PRs have been merged and then some got reverted. AFAICT the `--stats-tag` is not available right now.

Is the preference still to set have this a command line option instead of reading from the env?

[2021-09-24 17:26] khushbr opened #18257 "Upgrade to 1.18, HTTP Post 4xx failures"
*Description*:
We are trying to upgrade our service to Envoy 1.18. As part of testing, we noticed the Envoy throwing large count of 4xx.

On the surface level, no breaking changes from [1.18.0 release](https://www.envoyproxy.io/docs/envoy/v1.19.0/version_history/v1.18.0) are impacting us. The documentation mentions `grpc_json_transcoder: the filter now adheres to encoder and decoder buffer limits.

[2021-09-24 18:38] yanavlasov commented on #18235
This is correct DNS SAN matcher only supports the `*.` case. This is not standard compliant and needs to be improved.

[2021-09-24 18:46] yanavlasov opened #18259 "TLS: allow specification of both type and value for SAN matcher"
Presently SAN matcher just specifies values that can be matched against DNS, URI, EMAIL and IP elements of SAN. However it is not possible to restrict this to specific types. I.e. check DNS:www.google.com or URI:https://www.google.com

This may allow certificate validation bypasses, where a signed certificate with malformed e-mail SAN www.google.com can be used to bypass intended check for DNS SAN

[2021-09-24 18:47] yanavlasov commented on #18259
@mattklein123 @ggreenway

[2021-09-25 14:26] NULLPlayer opened #18263 "build envoy(v1.19.1) in windows(docker) fail"
*Title*: build envoy v1.19.1 in envoyproxy/envoy-build-windows2019:8ca107a75ee98b255aa59db2ab40fd0800a3ce99 fail

*Description*:
system: windows 10, enable Hyper-V
envoy: v1.19.1
docker image: envoyproxy/envoy-build-windows2019:8ca107a75ee98b255aa59db2ab40fd0800a3ce99
build command: bazel build //source/exe:envoy
error:
ERROR:
[code]

but the file "consistent_hashing.pb.validate.obj.params" can be

[2021-09-25 15:17] mattklein123 commented on #18259
SGTM

[2021-09-26 02:48] soulxu commented on #18233
you can try to add parameter '-l trace', then see if there is any hints why it doesn't match

[2021-09-26 14:50] jamessynge commented on #17525
Thanks @agrawroh.

[2021-09-26 14:50] #17525 closed

[2021-09-26 21:51] aminebelroulccie commented on #18038
hello did you find the solution of this problem??

[2021-09-27 03:22] yanjunxiang-google commented on #17715
cc @htuch @jmarantz @yanavlasov

[2021-09-27 04:01] #17363 closed

[2021-09-27 05:40] incfly opened #18268 "Allow CRL verification to not require all level CA's CRL."
## Description

Currently the certificate validation context [CRL](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto.html?highlight=crl#extensions-transport-sockets-tls-v3-certificatevalidationcontext) indicates that

This is not applicable in some use cases we see. A service mesh deployments have multiple level PKI. The root is offline and beyond

[2021-09-27 05:41] incfly commented on #18268
@htuch  @lizan @PiotrSikora @ggreenway FYI ^

[2021-09-27 06:55] NomadXD commented on #18038
@aminebelroulccie It's not actually an issue. You need to figure out the configuration to handle these scenarios. eg: setting up max connection limit.

[2021-09-27 09:54] PKizzle commented on #17854
@mattklein123 were you able to test whether building the contrib arm image using gperftools’ tcmalloc works?

[2021-09-27 10:08] xichengliudui opened #18269 "rate limit failed to use source_cluster"
*Title*: rate limit failed to use source_cluster

*Description*:

ref: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-ratelimit-action

The documentation provides how to work with `request_headers`. can you provide a configuration that uses `source_cluster`? thank you very much

request_headers: https://www.envoyproxy.io/docs/envoy/latest/

[2021-09-27 10:09] xichengliudui commented on #18269
/help

[2021-09-27 10:13] wbpcode commented on #18257
Can you provide some Envoy debug logs?

[2021-09-27 12:01] #17266 closed

[2021-09-27 14:06] alyssawilk commented on #18213
So there's an inherent race where if the upstream is 404ing and immediate closing the connection and Envoy is sending data and could get a TCP reset, that Envoy may detect the connection error before the response.
Envoy itself will generally delay-close to avoid doing this to downstreams, but if your upstream is doing 404-and-close that could be the problem.

[2021-09-27 14:11] hdimitriou commented on #18069
So is this considered fixed?

[2021-09-27 14:47] mattklein123 commented on #1975
Yeah CLI please.

[2021-09-27 14:47] mattklein123 commented on #1975
cc @jmarantz also to weigh in on ^.

[2021-09-27 14:48] mattklein123 commented on #17854
I haven't tested. I'm pretty sure it will cause almost a complete rebuild but feel free to try it out.

[2021-09-27 14:49] mattklein123 commented on #17715
Now that this is an extension point you could potentially maintain this internally? I'm skeptical this has general OSS utility.

[2021-09-27 14:58] jmarantz commented on #1975
CLI >> env-var, but having read through this bug I still don't understand what this is trying to do. Stats-tagging works now via regexes (or RE2s) in the config, or hard-coded in well_known_names.cc.

[2021-09-27 15:01] jmarantz commented on #12600
@yanavlasov

[2021-09-27 15:16] mattklein123 opened #18271 "tooling: tests for protodoc"
This tool has become quite complex and would benefit from some tests.

[2021-09-27 15:39] phlax commented on #18271
this should be resolved by https://github.com/envoyproxy/envoy/pull/18178

[2021-09-27 15:53] phlax opened #18274 "Dep release date checker seems to be inconsistent"
### description

some PRs have started failing as the release date for `rules_go` is wrong (pr to fix is here #18273 )

the release date has  been wrong for some time so its not really clear why this would show now, this issue is to track investigating that

[2021-09-27 15:54] phlax commented on #18274
cc @moderation

[2021-09-27 16:00] davinci26 commented on #1975
@jmarantz the scenario that I am looking at we have envoy deployed into a set of machines and all the envoys are statically configured and they dont talk to an XDS server.

We want to tag Envoy stats with the machine name for filtering purposes. This machine name is an environment variable.

AFAICT the existing framework does not support this because the [config.metrics.v3.TagSpecifier](https://ww

[2021-09-27 16:02] ggreenway commented on #17687
If you look at the test, there's a big list of cases to test. Many of them are unintentionally not hit at all, due to changes to stats over the years since the test was written.

I think the test should keep track of which cases have been hit, and fail at the end of the test if any case has not been hit. Anytime a case isn't hit, it probably means that someone made some change to stats, and a corr

[2021-09-27 16:02] ggreenway commented on #18259
SGTM

[2021-09-27 16:16] ggreenway commented on #1975
FWIW, I accomplish the same thing by running the bootstrap config through `envsubst` before starting Envoy. The advantage of this approach is that you can change anything in the config without requiring an envoy change for each one.

[2021-09-27 16:41] davinci26 commented on #1975
I was also thinking of a similar approach as a backup but the environment I am work on does not have `envsubst` so I will have to write a script to do the replacement.

Thinking that this might be the case for multiple users, it makes sense to me to have envoy do this for all users.

Agree on that. For now, I only have the tagging requirement.

[2021-09-27 18:42] lizan commented on #18268
Sounds reasonable to me.

[2021-09-27 18:43] lizan commented on #18263
@wrowe @davinci26

[2021-09-27 18:50] lizan commented on #18235
@Coconut105 can you clarify your question? RFC 2818 doesn't state any about client certificate but server certificate for HTTPS. Since the wildcard is considered to match any single domain name component or component fragment, I don't think `test*.github.com` is supported by that statement either.

[2021-09-27 18:52] kyessenov commented on #17085
The context for my change to set sampled was that mirrored requests are also using the async client, and these requests would copy the original request tracing header which confuses the tracing system. I think it's fair to make the choice of whether to sample / trace auxiliary requests configurable. My main concern is that this is pervasive in other places in envoy, so we might need some common xD

[2021-09-27 19:16] anrossi opened #18277 "Securely provide password for private key/PFX via Environment Variable"
I am looking to add PFX support for certificates in the future, and the customer has a requirement that the password not be stored in the configuration file because they randomly generate it, and the PFX, at run time.
The existing methods for providing the password don't meet the customer's requirements of a random one-use password, and being generated at run time.
The preferred solution to this w

[2021-09-27 19:26] moderation commented on #18274
There was a prior conversation about the possibility of the Github generated SHA changing. That is why we prefer developer generated artifacts. `rules_go` is a developer provided artifact so strange it would change.

`https://github.com/bazelbuild/rules_go/releases/download/v{version}/rules_go-v{version}.tar.gz"`

Are there other artifacts having the same issue?

[2021-09-27 19:57] DanTulovsky commented on #18222
Any ideas about `router_check_tool`, is it somehow compiled differently?

Thank you

[2021-09-27 19:59] #17715 closed

[2021-09-27 20:30] htuch commented on #18277
Something like this was added for Wasm extensions recently, https://github.com/envoyproxy/envoy/pull/15136 (https://github.com/envoyproxy/envoy/pull/15136#discussion_r580739696 for a relevant thread).

I'm not sure how opinionated I would want to be about forcing the use of env vars for a feature, but it seems reasonable to support it as a data source to me.

[2021-09-27 21:47] anrossi commented on #18277
To be clear, I would not force the use of environment variable to hold the PFX password. I intend for the PFX support feature to accept all current methods for specifying password, but would like to also support environment variable as well.

[2021-09-27 22:47] willarmiros opened #18283 "X-Ray sampling default rule cannot be mutated"
*Description*:
As part of the X-Ray tracing integration, users can define a custom file (or manifest) with rules which control the sampling rate of traces to be sent to X-Ray. In other words, they can select only a percentage of requests to be traced to mitigate costs. A sampling rule manifest consists of a default rule and many custom rules (see [docs](https://docs.aws.amazon.com/xray/latest/devg

[2021-09-28 00:40] mathetake commented on #18259
+1

[SPIFFE validator is manually ignoring non-URI SANs and check only URL SANs](https://github.com/envoyproxy/envoy/blob/main/source/extensions/transport_sockets/tls/cert_validator/spiffe/spiffe_validator.cc#L227-L238) so it would be nice we can use the new API there as well.

[2021-09-28 05:10] ankatare commented on #17687
@ggreenway Thanks for explaining it. Let me understand it , will get back for any doubts.

[2021-09-28 06:55] mathetake commented on #14070
how about automatically dropping metrics which haven't been seen for, say, 10 minutes in Envoy host side? That is implementable and does not require the new ABI (which seems not coming soon). The only concern I can think of is we change the assumption on Envoy host implementation that "metric ids returned by define_metric ABI call are always valid (i.e. calling increment/recod_metric never returns

[2021-09-28 07:07] Coconut105 commented on #18235
@lizan @yanavlasov https://datatracker.ietf.org/doc/html/rfc2818#section-3.2 states: "If a server has such knowledge (typically from some source external to HTTP or TLS) it SHOULD check the identity as described above (ie. Server Identity checks section)."
According to this statement, the same rules as when checking the Server Identity should be applied. Server identity checks section https://data

[2021-09-28 07:39] lizan commented on #16886
No we don't really need service connection since both repository are public. Check how filter example repo are set up in CI here: https://github.com/envoyproxy/envoy/blob/main/ci/filter_example_setup.sh#L19

[2021-09-28 10:29] sha-rath commented on #8443
#14936 should resolve this and therefore can be closed.

[2021-09-28 12:09] hdimitriou commented on #18069
I wonder when will those be available on istio and which version...
Anyway thanks, i will close this issue

[2021-09-28 12:10] #18069 closed

[2021-09-28 13:12] jmarantz opened #18290 "test: test/integration:multiplexed_integration_test fails in frequently in CI coverage, and rarely with tsan in isolation"
Coverage tests often fail on two test-suites:
 * test/integration:multiplexed_integration_test
 * test/extensions/filters/http/kill_request:kill_request_filter_integration_test

I think the pass-rate for coverage is like 50% these days, making me think this is a race issue. Of course another big difference in coverage tests is possible inter-test-suite state bleed. Not sure if that is the case her

[2021-09-28 13:20] stevenzzzz opened #18292 "[XDS] Do not track resources when there is no subscription interested in it."
*Title*: Do not track resources that have no subscribers.

*Description*:
In DeltaSubscriptionState, all the resources from Server are "tracked"/put-into-resourceState without condition.

see https://github.com/envoyproxy/envoy/blob/main/source/common/config/delta_subscription_state.cc#L125-L128

This could cause resources been tracked when there is 0 subscribers:

1. Server sends "A, B, C" via ED

[2021-09-28 13:25] jmarantz commented on #18290
I'm having some trouble finding the PR# where that code got added, but here is the commit:

https://github.com/envoyproxy/envoy/commit/e7c114224f75571fc64542c4e641a73768e2df71

[2021-09-28 13:28] stevenzzzz commented on #18292
/cc @yanavlasov

[2021-09-28 13:48] jhanbo commented on #1220
Hello, just to confirm, it works pretty fine. Our issue was that we used Multiple CAs which have the same issuer.

[2021-09-28 13:59] stevenzzzz commented on #18292
cc @ adisuissa

[2021-09-28 14:26] rojkov commented on #17922
I've [played](https://github.com/rojkov/envoy/commit/8dd7f5f388eb20b0385f199c514482130576cad7) a bit with io_uring and I can't say it magically improves performance. It's about the same if not worse. I haven't spent too much time on optimizations though.

But there's one thing which gives hope: if io_uring is set up in `IORING_SETUP_SQPOLL` mode then in my tests with a single worker thread Envoy s

[2021-09-28 16:18] adisuissa commented on #18290
Hmmm... probably because this test was added as part of a security patch.

The fix for the multiplexed_integration_test is in PR #18293.

[2021-09-28 16:32] stevenzzzz commented on #18292
the communication between the two parties are totally async:
 after step 2, there will be a request to Server with "A" in the resource_name_unsubscribe list, b
 but in the same time, the Client could have already received an EDS response from Server with "A" in it, queued right after the CDS response, "A" gets tracked again by Envoy.
 The EDS request with resource_name_unsubscribe{"A"} is sent to

[2021-09-28 16:36] davinci26 commented on #18263
what command do you use to build?

[2021-09-28 16:39] davinci26 commented on #18263
Slightly unrelated: if you put the error messages between \``` \``` it makes the formatting easier to read. See [this link](https://www.markdownguide.org/basic-syntax#code-blocks-1) to see the exact syntax

[2021-09-28 16:53] davinci26 commented on #1975
Is there any concern if I go ahead and implement this feature?

[2021-09-28 17:37] adisuissa commented on #18292
I think what you are describing isn't related to unsubscribed resources.
This will probably occur in the following scenario:
1. Client sends a request for resource {A}.
2. Server sends a response containing resources {A,B}.
3. Reconnect happens.
4. Client will send a request for resources {A,B}, although it only registered for {A}.

I wonder if this can be reproduced in an integration test, or if

[2021-09-28 17:40] bianpengyuan commented on #14070
Want to understand this better, by dropping metrics, you mean drop the whole metric definition, or just some stale time series? I think the common problem is that for a metric, some time series are stale and never cleaned up. The metric itself is still continuously reported.

[2021-09-28 17:44] stevenzzzz commented on #18292
Yeah, it's just the scenario we are seeing in our product.

as the title says, right now it will "track resources when there is no subscription interested in it".

[2021-09-28 23:32] aweeks commented on #14070
As currently implemented, the number of metrics (in the sense of metric name, crossed with labels), increases without bound.  This manifests as an ever-increasing number of metrics visible via the `/stats/prometheus` endpoint ([link](https://istio.io/latest/docs/ops/integrations/prometheus/)).

Previous versions of istio (<=1.7) [supported](https://istio.io/v1.7/docs/reference/config/policy-and-te

[2021-09-28 23:50] mathetake commented on #14070
@bianpengyuan I'm thinking about dropping just the stable series -  calling `decRefCount()` on metric objects which are not updated for x minutes by checking periodically y secs/mins.

[2021-09-29 02:27] dm3ch commented on #3023
Is there any progress or plans?

I think TTL should be configurable. :)

[2021-09-29 04:31] bianpengyuan commented on #14070
Ok, that sounds good to me. We did the same for opencensus library to stackdriver metric expiry.

[2021-09-29 04:48] mathetake commented on #14070
great, I will work on a PoC and let's see how it looks like.

[2021-09-29 07:59] Alexcei88 commented on #17808
I found one more general case.
To logout user many OAuth provider receive id_token through id_token_hint query parameter. This is used as an indication of the identity of the End-User. Right now envoy doesn't save id_token anywhere, so I cannot get this parameter. So, it looks like I also need to save id_token .

[2021-09-29 08:06] Alexcei88 commented on #17808
I found one more general case.
To logout user many OAuth provider receive id_token through id_token_hint query parameter. This is used as an indication of the identity of the End-User. Right now envoy doesn't save id_token anywhere, so I cannot get this parameter. So, it looks like I also need to save id_token.

I will take care it soon.

[2021-09-29 08:46] #18269 closed

[2021-09-29 11:19] pradeepcrao commented on #18259
I will work on fixing this (in case no one else is actively working on a fix).

[2021-09-29 12:01] #17791 closed

[2021-09-29 13:33] lossylife commented on #10756
Does the `X-Host-Port` based route works with internal redirect ?

Adding another `:scheme` based route may work because Envoy will set the `:scheme` header for the redirected URL. But I'm not sure if there is a better way.

[2021-09-29 16:20] kyessenov commented on #14070
Since Wasm filter maintains its own stats root, I think the proposed functionality is generally useful in other extensions. The current mechanism of allow-listing stats is not very flexible, so a general "managed" stats root library that controls stat retention could be used throughout envoy for cases when stats are not directly owned by config (e.g. gRPC service method stats). One tricky case to

[2021-09-29 17:40] agrawroh opened #18308 "Custom headers are not available to the SNI `override_auto_sni_header` when added using `request_headers_to_add`"
### Title

Custom headers are not available to the SNI `override_auto_sni_header` when added using `request_headers_to_add`

### Description

We now allow a customer header to populate the SNI for the upstream requests [[Link]](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#:~:text=with%20auto_sni%20field.-,override_auto_sni_header,-(string)%20An%20optional). But,