[2020-05-15 20:29] lizan opened #11219 "api: allow generic extension config in bootstrap"
This is exists in WASM repo in a hard-coded way https://github.com/envoyproxy/envoy-wasm/blob/master/api/envoy/config/bootstrap/v3/bootstrap.proto#L183

We should make a generic mechanism, add a method to extension factory, allowing them to register bootstrap config types then they can do some global initialization based on those config.

@jplevyak @bianpengyuan to complement the exact case for wa

[2020-05-15 21:01] alexburnos commented on #6614
Do know anything public that would be specifically focused on LB algorithms, but maybe [chapter on managing load in the SRE book](https://landing.google.com/sre/workbook/chapters/managing-load/) could give some high level ideas.

[2020-05-15 21:03] mattklein123 commented on #11219
+1 this has come up before. I think I suggested this solution previously. I would call this something like "global service extensions" or something like that.

[2020-05-15 21:46] spenceral commented on #4283
@mattklein123 would you be opposed to the addition of `%RESPONSE_FLAGS%` and `%RESPONSE_CODE_DETAILS%` as supported dynamic values for [custom request/response headers](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#custom-request-response-headers)?

I'd like to add them to get a cheap win here if it doesn't negatively impact the broader objective.

[2020-05-16 05:19] sojo101 commented on #11214
Thanks for the quick reply, I was able to resolve it. Thanks!!

[2020-05-16 05:19] #11214 closed

[2020-05-16 10:03] #10423 closed

[2020-05-16 11:03] #10712 closed

[2020-05-16 13:45] chradcliffe opened #11227 "Terminating HTTP CONNECT 200 response should not send "Transfer-Encoding: chunked" header"
When Envoy terminates an HTTP CONNECT tunnel (see #1451) and sends a 200 response, it sends a `Transfer-Encoding: chunked` header. This is a violation of the [RFC-7231](https://tools.ietf.org/html/rfc7231#section-4.3.6) which states:

It looks as if the request path knows to strip the transfer-encoding header, since in `Http1::RequestEncoderImpl::encodeHeaders`, there is a branch that disables chu

[2020-05-16 13:46] chradcliffe commented on #11227
cc @alyssawilk

[2020-05-16 17:32] sgtsquiggs opened #11228 "ext_authz v2 api is used even when configured with v3 protos (how to configure to use v3 auth service?)"
I am configuring envoy via xDS (go-control-plane) with the v3 APIs. When envoy queries my ext_authz service, it is querying using the v2 api instead of the v3 api. I know that in several cases we have to explicitly declare that we are using the v3 api (like with an ADS) but I did not see anywhere to specify which version of envoy auth service to use.

Example of where we need to specify "use v3 ap

[2020-05-16 22:43] KenjiChao commented on #11206
@LisaLudique  That's correct!

[2020-05-16 22:48] mattklein123 commented on #4283
Sure we are generally fine with adding new variables.

[2020-05-16 23:03] #10683 closed

[2020-05-17 02:03] #10677 closed

[2020-05-17 03:08] junr03 commented on #11210
I dont think the failure changed on envoy mobile, isn't it the same? https://github.com/lyft/envoy-mobile/pull/848/checks?check_run_id=672527931#step:4:4

[2020-05-17 04:34] ramaraochavali commented on #11228
See https://github.com/envoyproxy/envoy/issues/10609

[2020-05-17 07:21] erikbos commented on #6614
Thanks for the reference to the SRE book, it's always a good read but I was looking for the next level of depth.. On Slack @snowp mentioned https://netflixtechblog.com/netflix-edge-load-balancing-695308b5548c which contains some of that 👍

[2020-05-17 11:50] huynhthanhbinh opened #11230 "Envoy exit with code 1 on docker run with no extra information [Please help]"
I current run envoy with docker in my project, start it up with docker compose.
But as soon as it start, it exit with code 1, with no more information.

Here is my envoy.yaml:

[code]

Here is my Dockerfile:

[code]
Here in my docker-compose

[code]

Here is log from console:

[code]

I don't know how to deal with it, I've tried to downgrade envoy 1,2,3 recent versions, but it no change.
I am look

[2020-05-17 12:01] huynhthanhbinh commented on #11230
Problem is now solved by remove "enabled: true " from cors config.
Sorry for pleased you !

[2020-05-17 12:01] #11230 closed

[2020-05-17 21:32] al45tair commented on #1861
@stevesloka Your steps basically work, though I didn't use your YAML to disable components Contour didn't need, and I had to install some additional packages as I was on a clean system. The build then failed on (from memory) a `'\x00' <= c && c <= '\x1f'` expression because char was unsigned, so `'\x00' <= c` is always true and generates a warning. I replaced the entire expression with `static_cas

[2020-05-17 22:34] #11069 closed

[2020-05-17 23:42] songhu opened #11234 "envoy build failed with macro redefined error (between boringssl and openssl headers)"
*Title*: *envoy build failed with macro redefined error (between boringssl and openssl headers)*

*Description*:

Many thanks in advance!

*Repro steps*:

https://github.com/envoyproxy/envoy/blob/11c9223aac10834b7d5d2e399b0b4b59e0a3b3a1/bazel/README.md). The command I run is

[code]

from  {my work space}/envoy/source directory

*Config*:

[code]

[code]

[code]

*Build Logs*:

[code]

[2020-05-18 03:34] mattklein123 commented on #8324
Fixed.

[2020-05-18 03:34] #8324 closed

[2020-05-18 05:20] sojo101 opened #11236 "Can we redirect our request to nearest geo located server with the help of envoy?"
Can we redirect our request to nearest geo located server with the help of envoy?

[2020-05-18 05:27] jpeach commented on #11191
I was a about to file a similar issue, but here's an example I ran into today with xDS certificate validation.

The full debug log gives all the information:

[code]

but the default "info" level log message is just:
[code]

It would make triage a lot easier if there was a way to bubble the connection target and the specific TLS error up to the warning. Or if there was enough context down in the T

[2020-05-18 06:17] al45tair commented on #1861
OK, so `ci/run_envoy_docker.sh 'ci/do_ci.sh bazel.release.server_only'` was awesome. Much easier. Thanks @lizan.

[2020-05-18 06:56] ramaraochavali opened #11237 "incorrect stats increment for streaming requests"
When a streaming service (let us say xds service) connects and disconnects with Envoy the `cluster.xds_cluster.upstream_rq_pending_failure_eject`, `cluster.xds_cluster.upstream_rq_pending_total` and `rq_5xx` are getting incremented incorrectly.  See below for a case where I disconnected twice.  Not sure if it was like that from earlier (IIRC - it is not the case) or it was caused by some recent ch

[2020-05-18 08:32] Dhiraj240 commented on #10308
@nezdolik  I have applied on community bridge and messaged you on slack for more information. You can check my portfolio here at https://dhiraj240.github.io/

[2020-05-18 09:24] amukherj opened #11238 "There is no documented way of setting the timezone of timestamps in access log"
Title: There is no documented way of setting the timezone of timestamps in access log

Description:

I want only UTC timestamps in the Envoy access logs. However there seems to be no documented way of setting the timezone of log timestamps. It just picks up the local time. I am able to do the following for a workaround but this seems hacky.

    TZ=UTC envoy -c <config>

#3546 seems to suggest tha

[2020-05-18 09:25] sp-manuel-jurado commented on #9922
Hi, If you want level log traces in e2e tests in this repo: https://github.com/sp-manuel-jurado/envoyproxy-envoy-issues-9922 I can enable then and share here the results.

[2020-05-18 09:39] VidarHUN opened #11239 "Ability to use SOCK_DGRAM sockets"
I want to route UDP traffic to a Unix Domain Socket, but I can't do that right now because there is no way to open the socket in SOCK_DGRAM mode. I think it would be a very useful feature if it cloud do that. Is there any chance that you will be able to support it in the near future?

[2020-05-18 12:50] alyssawilk commented on #11099
FWIW I think the PR fixed the specific issue you were encountering, but it sounds like there's possibly more than one :-/
Try it out and LMK how it goes.  Again not my area of code but I'll still try to take a whack at it when I have cycles :-)

[2020-05-18 13:09] alyssawilk commented on #11205
Yeah, I think that's doable.
I think we can refactor the code in the tcp proxy session somewhat like you have in your WIP, where we have a tcp-or-h2 pool which takes in config for tcp-only, h2-only, or let-upstream-decide (or what have you) which uses the neutral interfaces in tcp_proxy/upstream.* and use that code for any traffic type which wants to tunnel.

The more interesting case IMO is how w

[2020-05-18 13:16] lpan commented on #11121
@jmarantz I am interested in taking on this! It seems that the task is to author an in-memory implementation for the `Envoy::Filesystem::File` interface :slightly_smiling_face:

I am wondering if you could point me to one of these unit tests, that currently uses real files for File I/O and could potentially benefit from this in-memory implementation of the interface. So that I could use it as a re

[2020-05-18 13:21] alyssawilk commented on #11121
Thanks for being up for tackling this!

It came up in the context of waitForAccessLog, which (without simtime) has to poll disk to see when a log entry has been added.  If we had memfiles, the test memfile could explicitly notify condition variables when a file was tweaked, so we'd have far less looping and sleeping.   I think if we had it we'd also swap all of the writeStringToFileForTest and fri

[2020-05-18 13:42] yanavlasov commented on #10988
How would we manage our own changes to forked versions? Patch stack? Direct changes?
What does "...control what codec commits we bring in." mean in practice? Does it mean we will not move some commits, we deem risky or unnecessary?

[2020-05-18 14:56] auni53 opened #11240 "Race condition between drain close and integration server shutdown"
I was running into weird time behaviour as I was trying to add more integration test coverage for drain closing behaviour. I took out the simulated time, took out the WIP changes in review, and isolated it to just the drain timeout plumbing on the original protocol integration test.

https://github.com/auni53/envoy/pull/3

The first comment is a "good run", `drain_time_ = std::chrono::seconds(1);`

[2020-05-18 14:58] auni53 commented on #11240
@mattklein123 if you could take a look that would be appreciated!

[2020-05-18 15:07] auni53 commented on #11240
Got tsan to pick up again! Posted a third comment on that draft PR, I'm a little lost on interpreting what tsan is saying there.

[2020-05-18 15:52] mattklein123 commented on #11237
@ramaraochavali sorry what do you think the problem is specifically? I'm not 100% clear on what the issue is.

[2020-05-18 15:53] mattklein123 commented on #11238
I'm pretty sure this used to be true (not 100% positive) but it's possible this regressed when we moved away from old time functions to either C++ chrono time and/or abseil. @jmarantz any thoughts here?

[2020-05-18 15:55] mattklein123 commented on #11239
Yeah should be not too hard to add this behavior. Will mark help wanted.

[2020-05-18 16:00] mattklein123 commented on #10988
The easiest way would be to fork the repos into the envoyproxy org and repoint the Envoy build to those repos. Then we can have a process for reviewing all commits that go in with our own maintainers. We can decide to fast forward to upstream, possibly modify with temporary feature flags, etc.

[2020-05-18 16:02] ramaraochavali commented on #11237
@mattklein123 The problem is the increment of the following stats - When a client disconnects and reconnects to Envoy two times - I see them incremented like below. Even on single disconnection, the following stats are incremented. IIRC, even on connection these are getting incremented.
[code]

[2020-05-18 16:14] amukherj commented on #11238
In the mean time, do you see any risks with setting TZ=UTC for the envoy process?

[2020-05-18 16:28] mattklein123 commented on #11238
I don't think so, but I would definitely like @jmarantz to weigh in as he knows more about time stuff.

[2020-05-18 16:35] howardjohn commented on #10976
I noticed a crash at startup, so I am reporting here per the issue template. I would guess it is probably not a security issue as it is a crash at bootstrap time which doesn't seem exploitable, but I'll leave that for you all to decide.

I have attached the config that will trigger the crash. It is simple to reproduce with

`docker run -v $PWD:/config -w /config envoyproxy/envoy-dev -c /config/env

[2020-05-18 16:35] jmarantz commented on #11238
No worries, computers work off of UTC anyway; the time-zone is just for printing to human-readable strings.

[2020-05-18 16:46] rulex123 commented on #9846
@alyssawilk while in theory this makes sense to me, in practice I am not super confident I know where to start. Do you have any specific pointers? Or, if you already have given some thoughts to how we achieve this, could you expand on your original point?

[2020-05-18 20:18] antoniovicente opened #11246 "[test] Some test/extensions/clusters/redis/redis_cluster_integration_test test cases not running due to missing INSTANTIATE_TEST_SUITE_P"
The test RedisClusterWithReadPolicyIntegrationTest.SingleSlotMasterReplicaReadReplica and  RedisClusterWithRefreshIntegrationTest.ClusterSlotRequestAfterFailure are not running because a INSTANTIATE_TEST_SUITE_P is missing from the test definition.

Missing lines diff test/extensions/clusters/redis/redis_cluster_integration_test.cc
@@ -376,6 +376,14 @@ INSTANTIATE_TEST_SUITE_P(IpVersions, RedisClu

[2020-05-18 20:33] mattklein123 commented on #11246
@HenryYYang can you please take a look and fix?

[2020-05-19 00:10] mattklein123 commented on #11240
The issuing I'm assuming is that when you increase the drain time it's not deterministic as to whether the request gets drained closed and that's why it hangs? The test probably needs to happen in a more deterministic way.

[2020-05-19 02:19] howardjohn opened #11254 "Support overriding host in XDS connection"
Currently headers can be set for the XDS connection, via initial_metadata. For example:
[code]

However, using this to set the host does not work.
[code]

will result in the header being appended. A receiving Envoy will show the request as:

[code]
(note: cluster name is xds-grpc)

Setting `key=Host` has similar behavior

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host,

[2020-05-19 02:41] l8huang commented on #10921
I'm using 1.13.1 and don't have crash issue with reuseport enabled. I tried last commit in maser branch(32b8445b8fac9e46f67c2f2ce884716b7bc9dde8/1.15.0-dev/Clean/DEBUG/BoringSSL), couldn't reproduce it with a minimal static config.

@oblazek Could you please send the commit version you are using? If a static config can reproduce the issue, it could be helpful.

[2020-05-19 02:47] mattklein123 commented on #11110
Fixed.

[2020-05-19 02:47] #11110 closed

[2020-05-19 03:02] ramaraochavali opened #11256 "upstream_rq_active across hot restarts"
upstream_rq_active across hot restarts is carried forward to the child Envoy because it is marked as "Accumulate". This is decremented on request close (which happens on parent Envoy). So this seems to incorrect.

Should this gauge be of "NeverImport" type?

@jmarantz @mattklein123 WDYT?

[2020-05-19 03:13] mattklein123 commented on #11256
I think it should definitely be accumulate as you want to know how many are active across both processes. The gauge should correctly decrement as the parent closes requests though. Note that there is a bug where we might not correctly decrement all of the parent's stats. See https://github.com/envoyproxy/envoy/issues/10806. We should definitely get that fixed.

[2020-05-19 03:16] mattklein123 commented on #11205
Agreed this sounds like it would work. My only concern here is whether this is too specific to be in the core. I kind of like the idea of this being a transport socket extension, but that would not give you the connection coalescing behavior I think you are looking for on the egress side (since the "TCP" connection would actually be handled by the HTTP/2 connection pool as a stream).

@alyssawilk

[2020-05-19 03:17] mattklein123 commented on #7918
Sorry for the long delay. At a high level this LGTM. My preference would be to start with a config proto only PR and we can discuss further there?

[2020-05-19 03:19] ramaraochavali commented on #11256
Got it. Thanks

[2020-05-19 03:23] mattklein123 commented on #6925
This no longer applies as we rely on InlinedVector for this behavior now.

[2020-05-19 03:23] #6925 closed

[2020-05-19 05:16] Rahul7794 opened #11257 "HTTP/1.1 503 Service Unavailable"
I am running envoy proxy with Grpc services. Here is my dockerfile which runs application through envoy proxy.

[code]

here is my envoy.yml file

[code]

When I hit the server with 8083 port I am returning success code but somehow when I am hitting with 443 port which exposes envoy its throws

[code]

Any help is configuring envoy to TLS will be much appreciated.

[2020-05-19 11:54] htuch commented on #6909
@yskopets we're making concrete forward progress on some xDS improvements related to federation at https://docs.google.com/document/d/1m5_Q9LUlzvDdImP0jqh1lSTrLMldsApTQX6ibbd3i7c/edit?ts=5ec2fd8a# FYI. It doesn't solve the immediate problem here but it provides some building blocks, e.g. authority delegation.

[2020-05-19 13:19] nezdolik commented on #9064
@mattklein123 would like to work on this.

[2020-05-19 13:54] alyssawilk commented on #11205
Hm, the original TCP-over-H2 (
https://github.com/envoyproxy/envoy/issues/1630) seemed to have
pretty broad support, so I could imagine it getting decent adoption.  To
me, this is the logical extension - folks will likely want to tunnel
generic things over a prefetched multiplexex connection but treat it as if
it were not tunneled once it lands on a given machine.  That said even if
adoption gets

[2020-05-19 15:09] pjulien opened #11259 "API to Expose Histogram Raw Bins"
In order to provide richer telemetry, it would be useful to provide the raw histogram bins found in the internal Circonus histograms to the outside world.

I have added data members to ``histogram_impl`` to record these bins so they can be made available via ``gRPC``.  However, it seems the ``gRPC`` messages from ``MetricsServiceSink`` are lifted directly from ``prometheus``.  This schema does not

[2020-05-19 15:29] mattklein123 commented on #9174
Assigning this over to @LisaLudique who is going to make relevant changes her w/ runtime config, warn, error, etc.

[2020-05-19 15:30] mattklein123 commented on #2817
I'm going to close this as I think we are going to invest in LGTM/semmle.

[2020-05-19 15:30] #2817 closed

[2020-05-19 15:38] mattklein123 commented on #11205
slack, I can work on moving the existing code over.

Yeah it might be worth a quick sync and/or a short design doc just to make sure we are all on the same page. If we believe this is a generally applicable feature this SGTM I just want to make sure we think through it carefully if we are going to add it to the core.

[2020-05-19 16:55] #11015 closed

[2020-05-19 17:19] yanavlasov commented on #10988
So assuming forked nghttp2, would the process of pulling in new change look something like this?
Assuming that forked nghttp2 repo does not have any modifications and mirrors some commit A in nghttp2 source of truth. There is new commit B in nghttp2 SoT that we want to import and flag protect.

1. import B and create PR-1 for it
1. PR-1 is modified to include flag protection.
1. PR-1 is reviewed a

[2020-05-19 17:34] alyssawilk commented on #9274
Having looked into this a bit, I suspect what was happening here is the 304 was being forwarded with the content length, the connection was getting returned to the pool, then the body was being treated as unexpected data on an unassigned connection and triggering the error.

Unfortunately I'm not really sure we can do much better here.  We can arguably reject 304-with-non-zero-content-length but m

[2020-05-19 18:16] mattklein123 commented on #10988
@yanavlasov I think what you propose would work. There are probably a number of ways we could do this. Honestly I think we should probably first decide if we want to fork, and then if so we can try it and see how it goes in terms of the workflows. We will probably need to iterate.

[2020-05-19 18:18] mattklein123 commented on #9274
SGTM

[2020-05-19 18:42] pheely opened #11262 "How to invoke external Rest API within an Envoy filter"
I am working on an Envoy HTTP filter that needs to invoke an external REST API and change the original request before sending to the upstream. I noticed [rest_api_fetcher](https://github.com/envoyproxy/envoy/blob/master/source/common/http/rest_api_fetcher.h). However, I don't know how to use it. Could you pinpoint me to any concrete example or any documentation. Thanks in advance.

[2020-05-19 18:48] PiotrSikora commented on #9274
Per [RFC7230, sec. 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.3.2):

and [sec. 4.1](https://tools.ietf.org/html/rfc7232#section-4.1):

i.e. `Content-Length` header is perfectly fine, as long as the body isn't sent.

[2020-05-19 18:54] alyssawilk commented on #9274
Ah nice, so it is clear.
The problem is there's really not a great way to tell http parser we're done with the message but want to reset stream on incoming bytes, so I think we should preserve existing behavior (but I'll update my test comments thanks to Piotr's pointers)

[2020-05-19 18:58] #11227 closed

[2020-05-19 19:44] htuch opened #11264 "xDS transport next steps"
We would like to take a holistic (i.e. not point feature) approach to evolving the xDS transport. The primary motivations for this work are:
* Federation of the control plane (for example failover between two independently managed control planes, bridging independent service meshes).
* Enabling the LEDS use case (#10373 , improving xDS client resource scalability.
* Improving control plane reliabi

[2020-05-19 21:06] gkleiman commented on #10602
@tonya11en I've experimented with increasing the host weight, but it hasn't helped with services that don't get enough traffic.

Per your suggestion on https://github.com/envoyproxy/envoy/pull/11252 I'm working on making the LR LB use the following formula to calculate the host weights when not all weights are equal: `new_weight = (configured_weight / outstanding_requests^k)`.

I'll try that chang

[2020-05-19 21:39] oschaaf opened #11266 "proposal: Add tracking latencies and flamegraphs in CI"
Filing this issue to get a feel for interest in this

### Goal:
Add a means to track and persist latency numbers and perf visualizations like flamegraphs over time in CI. This would allow us to track how we're doing over time as well as have perf information
at hand when a latency regression is observed.

### Description:

Nighthawk uses a lightweight python-based framework for integration testing

[2020-05-19 21:48] sschepens opened #11267 "ads: Envoy sending DeltaDiscoveryRequest for each EDS resource"
When using CDS+EDS over ADS, when envoy receives a CDS response with new clusters it is sending a separate DeltaDiscoveryRequest for each resource instead of a single DeltaDiscoveryRequest with multiple `resource_names_subscribe `.

I'm using envoy 1.14.1

[2020-05-19 21:49] lambdai commented on #11205
I wish I proposed this plan. It could address another group of use cases as well. E.g redis cluster and xds which use adopt `ClusterManager::httpAsyncClientForCluster` and `Cluster::tcpConnForCluster`.

[2020-05-19 21:51] sschepens commented on #11267
here are some logs from our controlplane:
[code]

[2020-05-19 21:54] htuch commented on #11266
I think even redline QPS would be an amazing contribution here, everything else proposed seems like gravy. +1000.

[2020-05-19 22:01] lambdai commented on #11205
This is indeed useful. It's actually very useful to istio users and developers. People building mesh features wish to work with the mode that filter chain manager dispatched listener and h2 tunnel is the implementation detail.

[2020-05-19 22:25] mattklein123 commented on #11266
See https://github.com/envoyproxy/envoy/issues/961. I desperately want this. This will require a lot of thought in terms of how to structure repeatable tests, but yes, we really need to do this.

[2020-05-19 23:42] antoniovicente commented on #11266
I don't know if this exists yet, but it would also be good to have a few relatively small benchmark scenarios that can be used for A/B comparison of performance after changes to data plane components, specially in cases where we expect some performance impact.  Tracking performance data for the small benchmarks over time on a calibrated environment would be great.

[2020-05-20 05:43] #10739 closed

[2020-05-20 06:03] gnz00 commented on #10373
Sorry if I’m missing some larger context.

I think there is some validity to both statements,

- Control planes with many clusters/endpoints should utilize subsetting to prevent broadcasting irrelevant updates to Envoy instances
- Adding a config source for endpoints partitioned by locality doesn’t handle the scenario where there is a large number of endpoints with the same locality attributes

I

[2020-05-20 07:02] solid210 commented on #8821
How is the hessian2.0 c++ library, Is its source opened now?

[2020-05-20 08:28] lizan commented on #9922
@sp-manuel-jurado thanks for the detailed e2e test. A fix posted as https://github.com/envoyproxy/envoy/pull/11271.

[2020-05-20 09:00] nezdolik commented on #9064
After consulting with @danzh2010, this issue is allocated to internship project.

[2020-05-20 09:01] VidarHUN commented on #11239
Thanks a lot!

[2020-05-20 09:37] htuch commented on #10373
@gnz00 the second statement "doesn’t handle the scenario where there is a large number of endpoints with the same locality attribute" is true for SotW LEDS xDS, but for delta LEDS xDS each endpoint in a locality would be a first class xDS resource under this proposal, capable of independent delivery.

On-demand EDS is an interesting thought experiment; what criteria would a fetch be made with? Whe

[2020-05-20 12:44] #11215 closed

[2020-05-20 13:00] #9274 closed

[2020-05-20 13:10] #11141 closed

[2020-05-20 15:33] sp-manuel-jurado commented on #9922
many thanks, @lizan

[2020-05-20 15:40] lazy-always opened #11273 "How to get upstream host from custom http filter or network filter?"
Is there a way to get upstream host from http filter or network filter? callbacks_->streamInfo().upstreamHost() is alway nullptr. Basically, the custom filter needs to get lb-selected upstream host. Is it possible? I tried with upstream network filter. But upstreamHost is always nullptr. Please help.

[2020-05-20 16:20] wlhee opened #11275 "Admin interface /quitquitquit handler doesn't require POST"
Currently it allows GET, which is less secure than POST.

[2020-05-20 16:56] #9651 closed

[2020-05-20 17:09] ggreenway commented on #11259
Why is the prometheus format not adequate? It allows specifying both the bin upper-bound and the count. If the producer (in Envoy) populated this with all of the underlying bins from the histogram implementation, wouldn't that be what you're looking for?

[2020-05-20 17:13] mattklein123 commented on #11259
cc @postwait who also contacted me about this offline.

[2020-05-20 18:03] pjulien commented on #11259
@ggreenway it could be but the histogram bins are all 8 bit integers.  The messages you're talking about are mostly floating point doubles.

[2020-05-20 18:07] fpliu233 opened #11276 "Allow External Authz filter to be config runtime to deny protected path at filter disabling"

[2020-05-20 18:13] postwait commented on #11259
@ggreenway so the internal format has explicit integral boundaries and "count below" which is what prometheus looks like is a transform that looses expressiveness without a lot of extra space.

In the internal binning bin {10,0} is lower bounded inclusively at 1.0 and upper bounded exclusively at 1.1.  That's challenging to express and also doesn't belong in a double.

Ideally, it would be a spars

[2020-05-20 18:25] antoniovicente commented on #10988
Envoy forking libraries like nghttp2 may cause some headaches for those of us that choose to compile multiple pieces of software against a single canonical version of each third-party library.

[2020-05-20 18:28] alyssawilk commented on #10988
I think we'd need to make sure forked nghttp2 was 100% compatible with
regular nghttp2, just one would be affected by runtime flags and the other
not.

On Wed, May 20, 2020 at 2:25 PM antonio <notifications@github.com> wrote:

[2020-05-20 18:36] mattklein123 commented on #10988
Monorepo driven development. ;) But yes, understood this may be an issue which we will need to discuss. One option would be to manually vendor both libraries within Envoy and cut the dependency, and then bring in patches manually. This is potentially more painful but would fix the monorepo issue potentially.

[2020-05-20 18:57] gramidt commented on #9716
@qbrent - That config was extremely helpful! Thank you so much for sharing!

[2020-05-20 19:43] #10734 closed

[2020-05-20 19:43] gnz00 commented on #10373
In my mind, it wouldn't be on-demand EDS, but rather it would allow VHDS to return routes with previously unknown clusters, such that new CDS or LEDS resources could be subscribed to.

[2020-05-20 23:43] #10360 closed

[2020-05-21 00:28] mmatusiak-atlassian commented on #11211
I really like this new separation of concerns! I think it will make it much easier for us in the future to gauge the impact of a new version.

[2020-05-21 01:59] #9922 closed

[2020-05-21 02:04] htuch commented on #10373
VHDS can return routes with unknown clusters today, but there is no corresponding on-demand CDS implementation. That would be pretty reasonable to add though.

I think it depends somewhat on what dimension of scalability we're talking. If it's O(20k) endpoints and a single cluster/route, then we needs something like LEDS. If it's O(20k) clusters with relatively few hosts, then on-demand CDS is goi

[2020-05-21 09:37] ankatare opened #11281 "Protobuf statement Seems incorrect for V3 Bootstrap"
Description:
in V3 API code,  definition for Bootstrap seems incorrect.
URL : https://github.com/envoyproxy/envoy/blob/master/api/envoy/config/bootstrap/v3/bootstrap.proto

Statement:
// [#protodoc-title: Bootstrap]
// This proto is supplied via the :option:`-c` CLI flag and acts as the root
// of the **Envoy v2 configuration. See the :ref:`v2** configuration overview
// <config_overview_bootstrap

[2020-05-21 10:21] wbpcode opened #11283 "Is this a spelling mistake?"
https://github.com/envoyproxy/envoy/blob/5fa0d0eaf8b67a11adf13726f4d1f7cd006df3af/source/common/router/config_impl.h#L605

[2020-05-21 14:10] ahedberg commented on #10988
What's the motivation for wanting to audit/control the codec commits? Concern about introduction of security vulnerabilities upstream, concern about changes in user-facing behavior, both, something else?

If security vulnerabilities, I'd be equally (if not more) concerned about losing security patches if we fork. This isn't that different from delaying bumping a dependency, I suppose, but the toil

[2020-05-21 15:04] alyssawilk opened #11286 "vdhs seems to flake on tsan"
Running a bunch of tsan tests for a change in the works, and after vhds test failed locally I checked on master
 bazel test --config=clang-tsan //test/...  --runs_per_test=3
fails pretty reliably for me, though
bazel test --config=clang-tsan //test/integration:vhds_integration_test   --runs_per_test=3
works, so I'd guess it's load related.

hot restart tests fails with runs_per_test=3 but that's a

[2020-05-21 15:06] mattklein123 commented on #10988
Primarily concerns about changes to user-facing behavior that we might need to feature flag.

In an optimal world we would have maintainers also be maintainers of the codecs, and perhaps we should try that first. I mostly opened this issue from various discussions with @alyssawilk to discuss our options.

[2020-05-21 15:17] #10124 closed

[2020-05-21 15:20] engineerdev commented on #10514
The same problem on 1.14.1

[2020-05-21 15:50] engineerdev commented on #10514
I set the parameters:
alpn_protocols:
- "http/1.1"
- "h2"
And everything worked

[2020-05-21 16:13] popozy commented on #8821
@solid210
I haven't pay attention to the feature for a few months, but if you really need the feature, I think you could just finish it by yourself. Just need to implement
1. deserilization for method parameters type, method parameter and attachment
2. pay attention to the route with the header infos after deserilization in step1 (I dont finish this step because I was focus on how to report dubbop

[2020-05-21 18:09] zuercher commented on #3178
As I mentioned in the last Envoy community meeting, I wrote up a design doc describing how this could be implemented in Envoy. I'm soliciting comments and will also post this in the Envoy Slack.

https://docs.google.com/document/d/14Ji0Vq7Xbe9LXM6IsWQo8mgEnOB8Bo6TH75sSmFbCEE/edit

[2020-05-21 18:36] sunjayBhatia commented on #10619
See https://github.com/envoyproxy/envoy-build-tools/pull/64 for changes to envoy-build-tools that will enable generating Windows toolchain configs. All changes required for bazel-toolchains have been merged in: https://github.com/bazelbuild/bazel-toolchains/pull/873

[2020-05-21 19:11] efimki commented on #11000
@dr0pdb are you planning to finish #11204 ?

[2020-05-21 19:38] dr0pdb commented on #11000
@efimki
I would like to finish it but I will be busy with my university exams till mid-June.

I closed it so that anyone else can work on it in the meantime if they want. Otherwise, I'll resume work once I am free again.

[2020-05-21 19:48] efimki commented on #11000
Sounds good, thanks! I may pick it up before then.

[2020-05-21 20:07] gnz00 commented on #10373
I'm in the latter group of O(50k) clusters, so I apologize for the hijacking.

I think expanding the VHDS/VCDS would bring Envoy closer to the plug-n-play model of Linkerd 1/2 in the sense that Envoy node conventions and resource hinting conventions required for subsetting are very tightly coupled to control-plane conventions. I also imagine it would be useful in multi-mesh scenarios where global

[2020-05-21 20:22] mattklein123 commented on #10373
Can we please split the most recent part of this conversation into a new issue? It's not really related to the LEDS proposal.

Building on-demand CDS directly into Envoy is a fine thing to tackle. It's actually possible to build today without any core changes (some people have built FaaS systems this way using Envoy) but no one has done it in OSS.

[2020-05-21 20:35] yanavlasov commented on #10988
I think if we take protection of changes with feature flags as a requirement, then forking codecs is the right way to go. I think however that adding flag protection into codec's code would not be trivial as a result codec version upgrades would be costly. I have not seen llhtp generated source code, it may be even more of a challenge given is it generated. But I guess there is only one way to fin

[2020-05-21 20:58] mattklein123 opened #11290 "Http2FloodMitigationTest flake"
[code]

[code]

@alyssawilk probably from your recent speed up change?

[2020-05-21 21:28] dmitri-d commented on #11286
This is a duplicate of https://github.com/envoyproxy/envoy/issues/9784. Please also see comments in https://github.com/envoyproxy/envoy/pull/9828#issuecomment-594231950, https://github.com/envoyproxy/envoy/pull/9828#issuecomment-594231950 in particular.

[2020-05-21 21:53] mattklein123 commented on #11267
I believe this is currently by design based on how EDS works, because it is split per cluster and there really is no "delta EDS". See https://github.com/envoyproxy/envoy/issues/10373.

[2020-05-22 06:44] stevensu1977 opened #11292 "Lambda filter 403, error"
I use aws lambda filter , and get 403 , I confirm I use right AK/SK , Region in my docker env, I'm not sure there have anything I missed .

myconfig:

[code]
docker logs output:

[2020-05-22T06:38:46.302Z] "POST /2015-03-31/functions/hello_envoy/invocations HTTP/1.1" 403 - 14 192 1749 1748 "-" "curl/7.54.0" "8960a55f-500c-413a-856e-528019e0a2b9" "localhost:10000" "100.25.114.138:443"

curl test ge

[2020-05-22 08:21] #10396 closed

[2020-05-22 09:06] bartebor opened #11293 "Aggregate some prometheus stats"
I have a problem visualizing some of the envoy's prometheus metrics in grafana.

Currently, there are metrics like:
[code]
This is cumbersome to visualize, because we need to create separate queries for each of these metrics.
A more convenient way is to use query with wildcard in metric name (via regexp on `__name__` label), but this does not work because of labelsets being the same in all of the

[2020-05-22 09:21] #10767 closed

[2020-05-22 09:58] bartebor commented on #11293
As a workaround, one can use following configuration snippet:
[code]
what produces metrics like:
[code]
If this is the way it should be done, please close this issue.

[2020-05-22 10:21] #10760 closed

[2020-05-22 11:21] #10770 closed

[2020-05-22 12:47] w00519772 commented on #9662
@Skarlso, are you able to post your front-envoy.yaml? I have spent a long time trying to get the code here working: https://www.envoyproxy.io/learn/ssl.  I realise now that it is out of date after visiting this webpage.

I am using the project here: https://github.com/envoyproxy/envoy/tree/master/examples/front-proxy.  Just need the adapted:   front-envoy.yaml

[2020-05-22 13:14] farah commented on #10465
Hi @cpakulskim.

And run Envoy:

What is the config file?

When I run without it i get

[code]

Really would like to get debugging with breakpoints working, preferably on MacOS.

[2020-05-22 14:29] mattklein123 commented on #1451
Going to call this done. Let's track bugs / features in new issues. Thank you @alyssawilk!!!

[2020-05-22 14:29] #1451 closed

[2020-05-22 14:31] mattklein123 commented on #9230
Fixed.

[2020-05-22 14:31] #9230 closed

[2020-05-22 14:53] LeonSebastianCoimbra opened #11294 "Impossible to establish a WebSocket/SignalR connection from Xamarin application using Envoy as proxy on an AWS ec2 machine"
_Description:_

This is driving me insane.

I am using Envoy as front-end proxy for a series of web services deployed in a EC2 instance on AWS (accessed through public ip address, so no other load balancer in the middle).

For the REST api part i have no problems, but i have serious issues trying to establish a WebSocket connection using SignalR Core inside a Xamarin Android application.

The situ

[2020-05-22 15:14] Arpeet-gupta commented on #8388
https://blog.opstree.com/2020/04/07/preserve-source-ip-in-aws-classic-load-balancer-and-istios-envoy-using-proxy-protocol/

[2020-05-22 15:42] yuval-k commented on #11294
how is your domains configued?
i see a difference in the requests:
`':authority', 'hprv.lsetest.gq'` vs `':authority', 'hprv.lsetest.gq:80'`

are the configured domains contain `hprv.lsetest.gq:80` ?

[2020-05-22 16:22] jmarantz commented on #10806
I have started working on this. Doesn't look too hard, except for the integration test :)

[2020-05-22 16:28] jamesbibby opened #11296 "Add support for Redis 6 ACL"
*Title*: Add support for Redis 6 ACL

*Description*:
Redis 6 introduces ACLs which require a username and password.   We would like to continue to use Envoy as a proxy for these deployments.

[Redis ACL]https://redis.io/topics/acl

I think there are two ways to go on the implementation.   Adding an optional username alongside the password in the options, or adding a new ACL type of configuration w

[2020-05-22 16:43] Skarlso commented on #9662
Will do shortly

On Fri, 22 May 2020, 14:47 w00519772, <notifications@github.com> wrote:

[2020-05-22 16:54] jmarantz commented on #10806
The code, per Matt's option 2 above, was easy enough. But I added some logging to see what was going on in the integration test, and felt like ti was doing the wrong thing. e.g.
[code]
Probably that gauge should be labeled NeverImport; it was likely an oversight to accumulate those.

Another case is:
[code]
Probably NeverImport for that too, though I can kind of see why you might think that makes

[2020-05-22 17:19] GaneshKumarKannan opened #11297 "How to log/get Retry mode Failure details (HTTP Response code, Response Time, etc..) ?"
Hi,
I am using envoy v1.12.1 - load_assignment with two endpoints as below,

[code]

As per my understanding, When priority 0 endpoint fails, it will try to hit priority 1 endpoint.

In Such cases, Is it possible to get/log priority 0 endpoint hit failure reasons? As of now we can get logs of priority 1 endpoint hit alone by default.

[2020-05-22 18:02] RichiCoder1 commented on #10396
_bump_

[2020-05-22 18:21] #10762 closed

[2020-05-22 18:43] yuval-k commented on #11273
AFAIK, host selection happens after your filter runs.
try implementing the `AccessLog::Instance` interface, and you should see it when the `log` method is called.

[2020-05-22 18:48] wrowe opened #11298 "WIP: Resolve WSAE* errors on Windows into expected Posix error states"
We need an efficient mechanism/error class for seamlessly handling WSAE* results from windows socket api calls without an excessive switch case block of all possible translations. This may look like a new error class, mapped to a single int (DWORD) errno_ member, which can be evaluated with isEAgain(), isENotFound() and similar methods of evaluation.

This is a tracking issue just to note that @su

[2020-05-22 19:25] sschepens commented on #11267
Makes sense that it could be by current design but @htuch suggested this could be a bug.

I don't get though why LEDS would solve this and if there is no current way of fixing this.

[2020-05-22 19:53] htuch commented on #11267
It's true that there is no real delta EDS at the sub-cluster level, I don't think there should be a separate `DeltaDiscoveryRequest` for every cluster in a CDS update. This is the same issue in SotW that we fixed with the `pause()/resume()` feature.

[2020-05-22 20:00] nigriMSFT commented on #4952
On the Windows side, libevent was recently given a much more scalable backend https://github.com/libevent/libevent/pull/1006 on Windows. This should ease at least some concerns regarding libevent scalability on Windows. Edge-triggering is still not supported though.

[2020-05-22 20:57] sschepens commented on #11267
@htuch i found [this line](https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/cds_api_impl.cc#L70-L71) which presumably is only pausing EDS on V2 api version.

We're using envoy with `resource_api_version: V3` and  `transport_api_version: V3`, i'm guessing this could be causing the issue.

Is it OK for it to be fixed to V2 resources only?

[2020-05-22 21:12] htuch commented on #11267
Yeah, I think @Shikugawa was working on something here but might not have landed (or maybe I'm misremembering). In any case, we should pause/resume both the v2 and v3 CLAs.

[2020-05-22 21:34] htuch opened #11299 "xDS conformance test suite"
It would be helpful to control plane implementors and client implementations to have an xDS conformance test suite that is independent of Envoy. I think this would largely look like some scripts (Python or Go) that create xDS gRPC connections and exercise some xDS exchanges.

A priority area here is delta xDS, which control plane implementors consider to be challenging to verify.

I think we could

[2020-05-22 21:36] htuch commented on #11299
@caniszczyk @mattklein123 I remember a while back we were discussing possibilities here; I think there was someone at Lyft interested in this and also CNCF funding. In any case, would be rad to learn what is possible here.

[2020-05-22 22:11] sschepens commented on #11267
@htuch i created #11300 could you see if that does the trick? I didn't seem to find any tests regarding pausing/resuming

[2020-05-22 23:28] jmarantz commented on #10806
I think this can largely be a question of refinement at this point. But @mattklein123 could use your opinion on whether this is the right direction. I'm changing a fairly large number of Accumulate stats to NeverImport. Some of them seem fairly obvious that we should never have been importing them. In one case (health check) there was custom logic to defeat sharing across hot-restart parent/child,

[2020-05-23 00:32] jmarantz commented on #10806
WiP PR here: https://github.com/envoyproxy/envoy/pull/11301

[2020-05-23 00:36] stevensu1977 commented on #11292
this is envoy debug log,

====================
envoy print  AWS credentials information
====================

2020-05-22 07:18:36.067][12][debug][aws] [source/extensions/common/aws/credentials_provider_impl.cc:41] Getting AWS credentials from the environment
[2020-05-22 07:18:36.067][12][debug][aws] [source/extensions/common/aws/credentials_provider_impl.cc:54] Found following AWS credentials in t

[2020-05-23 06:12] stevensu1977 commented on #11292
I missing "host" header ,  aws signer use default host "localhost:10000" for sign string,  I use -H 'Host: lambda.us-east-1.amazonaws.com' ,  it's works !

curl -v -H "Content-Type:application/javascript" -H 'Host: lambda.us-east-1.amazonaws.com' -X POST -d @data.json localhost:10000

[2020-05-23 06:47] r-kotagudem opened #11302 "knative service is not recheable, connection timesout when the pod scales to zero after applying envoy filter configuration to knative service?"
Expected Behavior
Trying to apply envoy external authorization filter to knative service.
To be able to authorize requests consistently with envoy ext_authz filter delegating policy evaludation by open policy agent grpc server.

Actual Behavior
deploy a knative service, which runs fine.
apply below envoy filter using target/label selector
wait for pod to scale to zero, then the service is no longe

[2020-05-23 08:17] wbpcode commented on #11283
Check #11282.

[2020-05-23 08:17] #11283 closed

[2020-05-23 13:01] stevensu1977 commented on #11292
I flound this error because signer use default header "localhost:10000" , but upstream is aws lambda endpoint , need set host same to as endpoint , etc "lambda.us-east-1.amazonaws.com".

I think  customer already setup lambda arn etc. "arn:aws:lambda:us-east-1:111111111111:function:hello_envoy",  so I think customer don't need set special header , so I create PR use lambda region as default host.

[2020-05-23 22:06] zuercher commented on #10874
The problem is that your TCP proxy config specifies: `cluster: rsyslog_server` and your cluster is `name: rsyslog-server` (e.g., `_` vs `-`), so the TCP proxy immediately closes the connection since the cluster does not exist.

The metric `tcp.ingress_tcp.downstream_cx_no_route` is incremented in this case.

[2020-05-23 23:09] derekargueta commented on #11299
Thinking about this abstractly, I think starting with client conformance might be much easier even though it might have less value since afaik Envoy is the only conforming client (could be nice as out-of-tree integration tests I suppose).

Control plane conformance might be a bit difficult since there isn't a universal way to set the backing resources such as endpoints, listeners, routes, etc. Man

[2020-05-23 23:22] mattklein123 commented on #11267
Sorry I can't keep all of this straight, especially with ADS. So this is purely a perf enhancement, right? Meaning, it shouldn't actually matter if all of them come in different requests or for ADS is that required?

[2020-05-23 23:25] mattklein123 commented on #4952
Thanks @nigriMSFT. Note I also just discussed this topic with @davinci26 who you might work with?

From Microsoft's perspective, should we assume that one way or the other we will make libevent work well on Windows? I think my overall preference would be to stay on libevent and do tactical fixes versus switching event loops unless there is a super compelling reason. cc @antoniovicente @alyssawilk

[2020-05-23 23:26] #10795 closed

[2020-05-23 23:40] #7537 closed

[2020-05-23 23:40] mattklein123 commented on #1178
Fixed by https://github.com/envoyproxy/envoy/pull/11007. Please open new issues with specific requests.

[2020-05-23 23:40] #1178 closed

[2020-05-23 23:41] mattklein123 commented on #4283
Fixed by #11007. Please open new issues with specific requests.

[2020-05-23 23:41] #4283 closed

[2020-05-24 00:26] #10772 closed

[2020-05-24 01:26] #10442 closed

[2020-05-24 01:34] htuch commented on #11267
@sschepens looks like you'e on the right track, commented.

@mattklein123 yep, a performance enhancement as you describe.

[2020-05-24 01:39] htuch commented on #11299
@derekargueta yeah, this is a good point. I think a well written xDS server should have some ability to mock here, i.e. there is some support for dependency injection. Something like the go-control-plane should be hiding the intricacies of things like nonce handling or delta discovery from the rest of the system, so this is the main validation target, not the entire control plane.  Some kind of te

[2020-05-24 01:50] snowp commented on #11299
I think I'm saying the same thing as Harvey here, but I think one thing to keep in mind is that the scope of these tests don't need to be expanded to necessarily handle all kinds of control plane interactions: the goal would to be validate the xDS implementation specifically, not the configuration pipeline etc.

In practice, this means that the conformance test run against the go-control-plane cod

[2020-05-24 02:26] #10675 closed

[2020-05-24 03:26] #10801 closed

[2020-05-24 08:49] erikbos opened #11305 "Observability on cluster dns resolving?"
Cluster configuration allows for detailed control over Envoy's behaviour as dns client 👍 But I cannot find any stats on dns resolving performance. Is there a way to get observability on this?

(I've seen AWS/Azure's vpc resolver's rate limiting kick in due to too many request/s with other sw, so I'd love to keep an eye on this)

[2020-05-24 14:08] ErwinGeirnaert commented on #10914
Hi, I got this HTTP forward proxy working but it fails for HTTPS. There is a problem with the configuration example on https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter#config-http-filters-dynamic-forward-proxy  where the file trusted_ca: {filename: /etc/ssl/certs/ca-certificates.crt} doesn't exist on the latest Docker repository. So HTTPS doe

[2020-05-24 17:48] wlhee opened #11307 "RetryPolicy supports retry_on "no healthy upstream" in LB subsets"
RetryPolicy currently supports various [retry condition](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#config-http-filters-router-x-envoy-retry-on) at route level.

Envoy also supports [load balancer subsets](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/subsets) for a given cluster. However, when the RetryPolicy

[2020-05-24 21:28] #10804 closed

[2020-05-25 01:06] nhinds opened #11308 "CONNECT support for HTTP/1.1 upstreams"
*Description*:

I attempted to configure the second scenario from #1451, where Envoy accepts a raw TCP connection and uses HTTP CONNECT to establish a tunnel through an upstream proxy. This currently works fine when the upstream proxy is also Envoy (e.g. connecting `envoy --config-path configs/encapsulate_in_connect.v3.yaml --base-id 1` to `envoy --config-path configs/terminate_connect.v3.yaml` us

[2020-05-25 03:47] maplebeats opened #11310 "when run two envoy container in a pod，the hot restart will work incorrectly"
Description:

we running a envoyproxy as a business container in k8s and inject istio-proxy for service mesh，it works fine at first startup. but when we change the istio config，istio-proxy hot restart  for load new config，the istio-proxy will not start anymore。

Repro steps:
 1.  run two envoyproxy container in one pod
 2. hot restart one of the container，the container will no longer start success

[2020-05-25 05:35] phlax opened #11311 "Allow envoy to run as non-root user in docker container"
Currently envoy runs as `root` in the docker container.

Arguably, its more secure to run as non-root.

Allowing the user to be configurable also allows envoy to access/listen to sockets as a particular user or group.

I can PR if its helpful.

I have an example implementation here https://github.com/phlax/envoy

[2020-05-25 08:38] LeonSebastianCoimbra commented on #11294
Yes. I have different third-level domains but they all point to the same ip address.

Plus, there is no difference in this configuration when envoy is invoked using the Windows Form application or the Xamarin application.

Locally, to simulate the "production" situation i have specified equivalent domains inside the "hosts" file (i do not have a local DNS resolver).

[2020-05-25 09:13] lambdai opened #11312 "version converter + protobuf::Struct may break the convention of MessageUtil::hash()"
Protobuf has a strange behavior that MapEntry type message copy constructor doesn't copy unknown fields. See reported [istio bug here](https://github.com/istio/istio/issues/23858#issuecomment-632249037), and the [root causing code](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/map_entry_lite.h#L315-L328)
It means a copied message may not has the exact hash code under

[2020-05-25 11:25] gituserjava commented on #11129
@dio

[2020-05-25 12:05] featureed opened #11313 "Custom error html page"
Hi.

Is it possible to replace 50X status replies with some custom html page + 200 OK, like nginx or haproxy do with error_page directive? (they use internal redirect for that, afaiu)

Did some search and found that https://github.com/envoyproxy/envoy/pull/11007 is already merged, but looks like this is for local pages only and not for html?

[2020-05-25 16:47] cpakulski commented on #11065
/assign @cpakulski

[2020-05-25 21:37] oschaaf commented on #11266
I have started exploring this. Tracking progress [here](https://github.com/oschaaf/nighthawk/blob/ci-integration/benchmarks/README.md).
@antoniovicente It might be good to take a look at https://github.com/oschaaf/nighthawk/blob/ci-integration/benchmarks/test_benchmark.py, to see if that allows enough flexibility. The idea is that consumers can specify their own locations where the suite should sc

[2020-05-25 21:47] mattklein123 commented on #11266
cc @marcomagdy who is also interested in helping with this effort.

[2020-05-25 21:59] mattklein123 commented on #11313
I will mark this help wanted. I think this is a fairly simple change to allow the content-type to be set as part of the reply mapper. @qiwzhang wdyt?

[2020-05-25 22:00] mattklein123 commented on #11308
Yeah let's track this as an independent issue. I think either @alyssawilk or @lambdai are planning on implementing this but I'm not sure of the current thinking.

[2020-05-25 22:04] mattklein123 commented on #11296
cc @envoyproxy/redis-dev for comment.

[2020-05-25 22:05] mattklein123 commented on #11293
cc @ggreenway @jmarantz for comment.

[2020-05-25 22:06] mattklein123 commented on #11307
cc @zuercher @snowp for comment.

[2020-05-25 22:07] mattklein123 commented on #11294
cc @alyssawilk

[2020-05-25 22:07] mattklein123 commented on #11312
cc @htuch @lizan

[2020-05-25 22:15] mattklein123 commented on #11292
cc @marcomagdy

[2020-05-25 22:15] mattklein123 commented on #11297
I think you need to use upstream access logs.

[2020-05-25 22:16] mattklein123 commented on #11302
Please file an issue with knative.

[2020-05-25 22:17] mattklein123 commented on #11305
What stats are you looking for exactly? There are stats on success/failure/etc.

[2020-05-25 22:18] mattklein123 commented on #11311
I thought there was already in issue on this but I can't find it. PRs appreciated.

[2020-05-25 22:30] phlax commented on #11311
@mattklein123 could you point me to where a PR would go ? i was working from the docker image history and the image on hub

[2020-05-25 22:51] htuch commented on #11312
Yeah, just stripping the unknown fields in `MessageUtil::hash` seems the simplest way to fix this. Is there some concern that if we continue to annotate map entries that something else will break?

[2020-05-25 23:07] r-kotagudem commented on #11302
seems to be knative issue. hence closing

[2020-05-25 23:07] #11302 closed

[2020-05-25 23:27] r-kotagudem opened #11314 "would like to disable ext_authz on root path , could someone help"
would like to disable ext_authz on root path , could someone help

apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ext-authz
  namespace: hsbc-shpe-authz-sct
spec:
  workloadSelector:
    labels:
      app: demo-boot-ksvc-kpod
  filters:
    - filterConfig:
        grpc_service:
          google_grpc:
            target_uri: 192.168.3.85:8585
            stat_prefix: e

[2020-05-25 23:32] marcomagdy commented on #11292
@stevensu1977 I copy pasted your configuration, changed only the function ARN and It works perfectly fine for me.

We don't need to set the host header. The upstream cluster takes care of that.

[2020-05-26 02:45] nigriMSFT commented on #4952
@mattklein123 yes we work together and yes I think that is a reasonable assumption

[2020-05-26 03:16] ramaraochavali commented on #11237
I debugged this a bit more and found that this stat is also incremented for stream reset via connection termination from upstream

https://github.com/envoyproxy/envoy/blob/master/source/common/http/http2/conn_pool.cc#L53

Those were happening in our case. Now the stats make sense. I will push a PR to clarify that in the docs.

[2020-05-26 08:16] GaneshKumarKannan commented on #11297
@mattklein123 Using Upstream access logs, I am able get priority 1 endpoint (as per above) logs. How about priority 0 endpoint failure reason? Is there any way to get that?

[2020-05-26 09:37] songhu opened #11317 "How to route http requests using original IP address (extracted from Proxy Protocol)"
*Title*: *How to route http requests using original IP address*

*Description*:
I have a Aws network load balancer[1] that's placed in front of my envoy proxy. There will be multiple VPC endpoint services sending http requests to the load balancer and the envoy proxy behind it. I was wondering if I can config envoy to route such requests based on their headers and the VPC IP addresses.

* From [1]

[2020-05-26 10:35] erikbos commented on #11305
The stats I am looking for would indeed be number of successful requests, unanswered, etc: anything that can be used to determine dns resolving is not 100% working and hence cluster upstream connectivity is impacted.

In case there is cluster specific resolver configured it would good to have stats on the interaction with that specific resolver. (As nice to have perhaps resolve latency to dig into

[2020-05-26 12:37] #11286 closed

[2020-05-26 12:38] alyssawilk commented on #11286
Sorry for missing the dup.  I'll close this one off but if it has been causing CI failures for months we really should fix it.

[2020-05-26 12:45] alyssawilk commented on #10905
I think we can close this off given the new accessors solve the problem in a different way

[2020-05-26 12:45] #10905 closed

[2020-05-26 13:10] pjulien commented on #11259
@ggreenway @mattklein123 /cc @postwait

Pinging to keep this discussion alive

[2020-05-26 13:20] jmarantz commented on #11290
could we ifdef out this test on Mac until this is resolved, so CI is cleaner?

[2020-05-26 13:46] alyssawilk commented on #11290
I'm just going to revert the changes in https://github.com/envoyproxy/envoy/pull/11260 for the http2 tests.

[2020-05-26 13:46] alyssawilk commented on #11290
(still think we should debug long term - requiring a 1s sleep to pass is crummy, but mitigate first, debug after)

[2020-05-26 14:11] alyssawilk opened #11318 "clean up unnecessary std::string() in Envoy"
see discussion in https://github.com/envoyproxy/envoy/pull/11287 for some examples

[2020-05-26 14:21] alyssawilk commented on #11308
@lambdai do folks on your end need this?  AFIK @chradcliffe and co were interested too.

[2020-05-26 14:31] alyssawilk commented on #11294
Yeah, I guess the only remaining question is if we want route matching to ignore x-forwarded-for-matching-port by default.  Confusion of port handling has come up before
https://github.com/envoyproxy/envoy/pull/10960
https://github.com/envoyproxy/envoy/issues/886
and I'm not sure if there's a resolution that'd make everyone happy.

[2020-05-26 15:02] cpakulski opened #11320 "create sql library to be used by mySQL and postgres filters"
With addition of postgres proxy, there are now two network filters which need SQL-aware logic. So far that logic existed only in mySQL. Now, it must be duplicated in postgres proxy.

Create common SQL-aware library which can be leveraged by both mySQL and postgres. For mySQL filter it will be just code re-shuffling without any new functionality. Once this is done, postgres can link the new library

[2020-05-26 15:03] cpakulski commented on #11320
/assign @cpakulski

[2020-05-26 15:07] auni53 opened #11321 "Splitting out custom header parsers into a utils file"
The documentation and process around custom header processing is a little confusing, specifically in how exactly things are queried into streaminfo. I'd like to move the three [`StreamInfo -> String parse*` functions](https://github.com/envoyproxy/envoy/blob/master/source/common/router/header_formatter.cc#L133) from header_formatter.cc functions into a separate file, maybe `HeaderFormatterUtils`.

[2020-05-26 15:16] mattklein123 commented on #11321
cc @qiwzhang who was just looking at this during the local reply work. Please sync up with him. In general, anything we can do to improve code reuse and clarity here would be great. We have a lot of overlap with header parsers, access log parsers, etc.

[2020-05-26 15:18] mattklein123 commented on #11311
Presumably the docker files here: https://github.com/envoyproxy/envoy/tree/master/ci. cc @lizan

[2020-05-26 15:33] mattklein123 commented on #11259
What sinks do we want this data to come out of? All? Just metrics service? Various `/stats` endpoints? I think that will help frame the conversation.

[2020-05-26 15:36] mattklein123 commented on #11305
See `update_attempt`, `update_failure`, etc. IIRC these are incremented for DNS service discovery. Doc updates appreciated.

[2020-05-26 15:46] pjulien commented on #11259
metrics via ``gRPC``.  We would pick up the data by polling it.

[2020-05-26 15:48] mattklein123 commented on #11259
OK. My advice is to propose some API changes to enable this. If we need to move away from the prometheus protos I think that is OK.

[2020-05-26 15:56] v1b1 opened #11322 "gRPC data.accesslog.v2.AccessLogCommon: How to calculate time spent trying to connect to an upstream host?"
I'm trying to understand the various timings available in an HTTP access log entry for the purposes of recording (and providing evidence) where time is spent in Envoy vs. network wire time vs. upstream host handling time.

I noticed when logging transaction timings that the following fields are not set in the event of an upstream timeout:

`time_to_first_upstream_tx_byte`
`time_to_first_upstream_r

[2020-05-26 16:02] tortuoise commented on #1843
I could do with a little help with the setup for SNI based routing without TLS termination. I've got the SNI setup working with the TLS termination but can't get the tcp_proxy filter to work for sni routing without tls termination.

This config seems to work for SNI routing (though oddly I can only use it with v2.HttpConnectionManager and not v3) :
[code]

But what's wrong with the below additions

[2020-05-26 16:37] #11290 closed

[2020-05-26 16:37] #11237 closed

[2020-05-26 16:49] lizan commented on #11312
SGTM, just set `SetHideUnknownFields` true in hash method would be the simplest way.

[2020-05-26 17:30] auni53 commented on #11321
@qiwzhang I looked through your recent PRs and they don't seem directly related to this. Are you ok with the proposed change?

[2020-05-26 18:32] dmitri-d commented on #11286
Agreed. I think it's a false-positive, but would be good if someone else took another look at it...

[2020-05-26 19:14] PiotrSikora commented on #1843
@tortuoise what's running on `172.18.0.6:8000`? Is that a TLS server (please remember that connections are not TLS-terminated by Envoy)? `URX` means that the connection to upstream failed, so the filter chain works, but Envoy cannot connect to the upstream.

[2020-05-26 20:01] yukunlin opened #11326 "Question about max_pending_requests and max_connections in circuit breaker"
From https://github.com/envoyproxy/envoy/blob/6aee60364ef1bb539e19abc68d1e6cbe93c41512/source/common/http/conn_pool_base.cc#L114_L138, when there `ready_clients_` is empty, the following happens:

* a check against `max_pending_requests` when there `ready_clients_` is empty
* the pending requests counter is incremented while a new connection is being created

Envoy does not seem to pre-intialized

[2020-05-26 21:07] qiwzhang commented on #11321
In this https://github.com/envoyproxy/envoy/pull/11007,  I was asked to move access_log_formatter code out of access_log folder since it is not only used by access_log, but also local_reply. Your request is in the same direction.  I have not started the work yet.

You can expand this issue to re-factory access_log_formatter out of access_log folder together with your requirement of making unit-tes

[2020-05-26 21:45] qiwzhang commented on #11321
@mattklein123 , @auni53   Sorry,  your HeaderFormatter is at `router` folder,  it is totally different with the one in `access_log` folder.  So my task of access_log_formatter refractory is irrelevant with your issue here.

[2020-05-26 22:01] wlhee commented on #11307
This feature request is relatively low priority for us, coz we planned to use CDS instead.

@htuch

[2020-05-26 22:17] tortuoise commented on #1843
172.18.0.6:8000 has a tls server running with envoy as sidecar. The envoy sidecar config also uses a tcp_proxy filter which finally connects to a cluster with a tls server.

[2020-05-26 23:19] lambdai commented on #11312
Great! `SetHideUnknownFields` in MessageUtil::hash fixed my test case. Thanks!

[2020-05-26 23:24] lambdai commented on #11312
No further breakage AFAIK. I don’t know what I don't know though

[2020-05-26 23:44] lizan commented on #10465
@farah you have too old version of bazel, make sure you use bazelisk.

[2020-05-27 02:37] qiwzhang commented on #11321
My pr to refractory access_log_formatter is https://github.com/envoyproxy/envoy/pull/11330

[2020-05-27 06:35] LeonSebastianCoimbra commented on #11294
One possible solution is to do what they did in Nginx, which is to ignore the port specification. With this choice I think they accepted the fact that there is the possibility (rightly or wrongly) that it is specified and therefore must be managed.

If you decide not to proceed with this option, I suggest highlighting this behavior in the documentation, in some how-to or in another way such that,

[2020-05-27 08:04] wicksim commented on #5528
Are there any plans to support `X-Forwarded-Prefix`-header in the future?

As far as I can see, it is not possible, to dynamically add this with `add_request_headers`, because there is no dynamic value for this (like `%DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%`)?

[2020-05-27 08:48] stevensu1977 commented on #11292
@marcomagdy  thank your quick feedback,  but I think there still have  issue , I get detail from trace log, you can see , if I don't use host header ,  envoy should use "host:localhost:10000" to aws auth signer and general "authorization" header for aws lambda filter , when I lambda filter invoke post to aws lambda endpoint this authorization is wrong (because host is aws lambda endpoint ), I use

[2020-05-27 12:43] alyssawilk commented on #11294
Yeah, I agree that this could be called out better in the docs.
IMO if you're matching host.com:80 in cleartext it should care about the port, but host.com:443 is less clear.  I think changing the default (with super clear comms and the usual guards) might be worthwhile, but I'm curious what @mattklein123 @PiotrSikora @antoniovicente think

Since you were debugging this yourself lately, is there s

[2020-05-27 13:52] alyssawilk commented on #9784
I've yet to see tsan fail when there wasn't a race. Looks like there might be a teardown issue? I'd suggest adding a test where we kill the request and tear down the filter when there's a route request in progress. I suspect that'll make the failure mode more clear - if not I'll agree to take a whack at it.

[2020-05-27 14:14] #10976 closed

[2020-05-27 15:16] mattklein123 commented on #9784
So, apologies, but I think I actually noticed this issue months ago and meant to open an issue but never did. AFAICT the on demand filter does not handle `onDestroy()`. It has to have some facility to cancel an inflight route update request if the stream gets reset. This is definitely a real bug. Please add an integration test for this case and then we can fix. Thanks!

[2020-05-27 15:41] auni53 commented on #11240
OK, many many painful iterations, I think I got to the bottom of this. I stripped out the graceful admin work, the simulated time framework, reset to master, and finally was able to reproduce are as follows:
1. Allow drain time to be configured in the integration tests
2. By setting `drain_time_ = x` in [ProtocolIntegrationTest.DrainClose](https://github.com/envoyproxy/envoy/blob/master/test/integ

[2020-05-27 15:54] mattklein123 commented on #11240
cc @alyssawilk also who I think has been also dealing with a similar issue trying to speed up some of the integration tests.

[2020-05-27 17:13] auni53 commented on #11240
Chatted with Alyssa, her work in #11260 seems to be unrelated.

Action items to resolve this:

1. Try to deflake the test by using retries.
2. Add a config knob to drain manager to disable probabilistic drain close, which will disable the race.
3. Move the test over to simulated time, and just jump forward past the probabilistic drain period.

[2020-05-27 17:16] tortuoise commented on #1843
Ok got this working with the local service without the transport_socket following @PiotrSikora's reminder that envoy doesn't tls-terminate the connection. It only works with `envoy.config.filter.network.tcp_proxy.v2.TcpProxy` and not with `envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy`. Is this expected?

[2020-05-27 17:39] shashankram commented on #10899
@lambdai is there an update on this?

[2020-05-27 19:07] mattklein123 commented on #11294
@alyssawilk sorry why doesn't https://github.com/envoyproxy/envoy/pull/10960 work for this case?

[2020-05-27 19:10] alyssawilk commented on #11294
It does, assuming they're Ok stripping as they send upstream, but it sounds like they rewrote their matchers to work as expected already.

My question is should we consider matching that way by default, and if we don't think that's the right thing to do, at least warning in the matcher docs somewhere since this has come up a few times AFIK.

Worst case I'll add it to my FAQ-in-progress  :-P

[2020-05-27 19:14] mattklein123 commented on #11294
I see, OK. I think this is why in the context of that issue I had suggested also adding a mode where we strip for matching only, but not for forwarding (and maybe that would be the default?). Should we have an issue about that?

Per above I'm open to that. At minimum I think we should have the option to do this, if not the default. Definitely a FAQ in the interim would be great!

[2020-05-27 19:23] antoniovicente commented on #8720
I think this was fixed by this change: https://github.com/envoyproxy/envoy/pull/11163/files#diff-ed138bc8d20eee664368960ecfa29a73

[2020-05-27 19:37] antoniovicente commented on #8720
/assign @antoniovicente

[2020-05-27 19:44] marcomagdy commented on #11292
@stevensu1977 I was able to reproduce what you are seeing.

The problem will not happen if you pass **any** host header. It doesn't have to be Lambda's regional endpoint. In fact, if you pass `-H "Host: localhost"` it will work just fine.

The problem happens when you don't pass any host header, Envoy sets the header to
`"localhost: 10000"` and then the port section gets signed. On the other hand

[2020-05-27 19:52] songhu opened #11336 "Extract TLVs from Proxy Protocol v2 and save it in dynamic metadata to be consumed by other filters"
Issue Template

Title: Extract TLVs from Proxy Protocol v2 and save it in dynamic metadata to be consumed by other filters.

Description:

In Proxy Protocol v2 important information can be arranged in Type-Length-Value (TLV) format [1] and placed in the Proxy Protocol header. Information such as VPC endpoint [2] in TLVs could be useful by other filters.

Currently TLVs are read and discarded in th

[2020-05-27 21:19] ggreenway commented on #11326
Yes, I think that's correct, and is something that could happen after a cold start. I wouldn't expect it to happen once a steady-state has been reached.

[2020-05-27 22:41] dhermes commented on #9310
I've seen multiple instances of this as well in `istio` Ingress Gateway containers (version 1.5.0 of Istio).

[2020-05-27 22:48] jpeach opened #11340 "Unhandled exception configuring listeners on platforms without IP_FREEBIND"
Not all platforms implement the `IP_FREEBIND` socket option, which is exposed through xDS at the Listener's `freebind` field. In a control plane sets `freebind` to true, and the envoy client is running on a platform that doesn't support this socket option, Envoy will terminate with an unhandled exception. The management server has no way to know whether the client Envoy supports this socket option

[2020-05-27 22:57] staehle commented on #6686
This GitHub issue is number 5 on the Google search results for "yocto bazel", which is _**absolutely hilarious**_.

This shows about how mature and appropriate Bazel is for cross-compile environments.  My current task is to look at adding Bazel support in our proprietary build system (it works similar to a Buildroot-Yocto middle ground), and it's not looking pretty.

For comparison, we support CMa

[2020-05-27 22:57] zuercher commented on #11307
I think it's going to be difficult to do because IIRC the set of hosts known to the load balancer is constant. Membership updates create a new load balancer and that updated load balancer isn't visible in the context of the request that's routing to an empty subset.

[2020-05-27 23:58] htuch commented on #3362
@Rainton will be working on this over the summer.

[2020-05-28 00:09] mattklein123 commented on #11340
This is likely the same fundamental issue as https://github.com/envoyproxy/envoy/issues/10921. I will try to look at this soon.

[2020-05-28 00:14] jpeach commented on #11340
I'd guess it's different, since IP_FREEBIND isn't supported on macOS, the sockopt definition isn't present.

[2020-05-28 00:19] stevensu1977 commented on #11292
@marcomagdy , thank your comments , I got it , you are right , send any host header it's work ,  I should close this issue and PR , thank's again.

[2020-05-28 00:19] #11292 closed

[2020-05-28 00:24] mattklein123 commented on #11340
The fact that it crashes and is not handled gracefully is almost certainly a similar problem.

[2020-05-28 01:20] dmitri-d commented on #9784
Opened https://github.com/envoyproxy/envoy/pull/11341 which adds a test to verify vhds updates when client closes its connection. In an attempt to make things a bit more deterministic when client connection is closed midflight,  also added an implementation for `onDestroy()`.

However, vhds as currently implemented already handles client connections that disappear before/during vhds update propaga

[2020-05-28 01:51] mattklein123 commented on #11326
Yes, that's correct with the current impl.

[2020-05-28 02:55] dmitri-d commented on #9784
Slightly different race reported here (and with line-numbers). This time between the original shared_ptr and the weak_ptr destructor.

[code]

[2020-05-28 03:03] mattklein123 commented on #9784
I would need to look in more detail but I strongly suspect what you are doing is not thread safe somehow. I highly doubt this is a false positive. I can look tomorrow.

[2020-05-28 06:02] yukunlin commented on #11326
Thanks for the clarification. Regarding:

Will the created `ActiveClient` instances always be around and moved back to `ready_clients_` after being used? Or could they be also closed (for example, in https://github.com/envoyproxy/envoy/blob/6aee60364ef1bb539e19abc68d1e6cbe93c41512/source/common/http/conn_pool_base.cc#L99-L103 perhaps?)

If the `ActiveClient` being created could be closed after ste

[2020-05-28 09:30] kanongil opened #11343 "Vary header is not always set for compressible responses"
*Description*:

When the compressor or gzip filter is enabled, the `vary: accept-encoding` header is only set when the response is actually compressed. This can cause unexpected behaviour in caching proxies, depending on the order of the request.

*Repro steps*:

With a regular caching proxy in front of envoy, and a cacheable & compressible response:

1. `curl host/file.txt -v --compressed` - Comp

[2020-05-28 13:45] alyssawilk opened #11346 "http: allow matching ignoring ports"
See discussion on https://github.com/envoyproxy/envoy/issues/11294
and some on https://github.com/envoyproxy/envoy/pull/10960/files

I think if added a matcher for host.com I would expect host.com:80 to match for HTTP.  Arguably sending host.com:443 on port 80 shouldn't match, but maybe it could be a config option?

cc @mattklein123 @antoniovicente @snowp @PiotrSikora

[2020-05-28 14:24] gargnupur commented on #6532
@mandarjog : I think this can be closed now...

[2020-05-28 15:16] #6532 closed

[2020-05-28 17:00] ggreenway commented on #11293
I agree that many prometheus metrics aren't aggregated in the best way. This happens because prometheus isn't the primary way that stats are organized; statsd is the native format. The current aggregations are based on a default set of regular expressions, which sometimes miss things like this.

But I'm worried that changing the default aggregation will introduce compatibility issues.

Long-term,

[2020-05-28 17:11] ggreenway commented on #11211
Thanks! Let us know if there are any more suggestions to further clarify things.

Closing this issue, as I don't think there's anything further to do here.

[2020-05-28 17:11] #11211 closed

[2020-05-28 17:17] davinci26 commented on #11298
Based on the winsock [connect](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-connect) documentation.

This affects the code in `ClientConnectionImpl::connect()`

[2020-05-28 19:50] htuch commented on #10813
@wangfakang I reckon that it makes sense to validate your API here in xDS and then when we start diving into the data model in UDPA we can pull from this.

[2020-05-28 21:09] jmarantz commented on #11293
if we do use a new set of regexes to improve prometheus grouping, let's definitely use re2. I have a start to that here: https://github.com/envoyproxy/envoy/pull/8831

[2020-05-28 21:13] mattklein123 commented on #11346
+1 I think we should have an option for this.

[2020-05-28 21:21] mattklein123 commented on #11343
cc @junr03 @rojkov can you triage?

[2020-05-28 21:21] sunjayBhatia opened #11354 "Windows: Support setting permissions on Unix domain sockets"
In the Envoy API for Pipe addresses, we explicitly support setting the file mode on Unix domain socket files, see: https://github.com/envoyproxy/envoy/blob/ece1b6aa21c940477d3587848bad0c153cf05987/api/envoy/config/core/v3/address.proto#L30

This file mode pattern does not translate well to Windows, to get similar granular permission control we would need to leverage Windows ACLs.

This issue is fo

[2020-05-28 21:22] mattklein123 commented on #11326
Yes it's possible you could get back into that situation due to idle timeouts or something else.

[2020-05-28 21:22] sunjayBhatia commented on #11354
cc @wrowe @davinci26 @nigriMSFT

[2020-05-28 21:25] sunjayBhatia commented on #11354
The test that demonstrates this most succinctly is `//test/common/network:address_impl_test` -> `PipeInstanceTest.BasicPermission`

We have an underlying issue that we are not able to even `stat` the socket file, once that is solved, the file mode itself is the bigger question

[2020-05-28 21:25] sunjayBhatia commented on #11354
We are considering disabling that individual test for now on Windows before this issue is resolved

[2020-05-28 21:35] #11294 closed

[2020-05-28 21:56] praneethvarma opened #11355 "Upstream HTTP/2 connection limits"
I have been experimenting with Envoy recently. I am trying to understand the following. Thanks in advance for the help -

I see that the common least request implementation uses the PnC method where n is configurable (randomly choose n hosts and pick the one with least among them). Assuming there is no zone aware routing or custom weights, statistically, traffic would be spread evenly. This means

[2020-05-28 22:17] junr03 commented on #11343
IMO what we need to define is what constitutes a "compressible" response. Are you proposing that the only requirement is that the compressor filter is enabled?

[2020-05-28 23:54] lizan commented on #11355
A couple possible reason:
- `max_connections` defaults to 1024 if it is not configured.
- an uptick of `upstream_cx_close_notify` means your upstream is sending GOAWAY, if the protocol is HTTP2, or `connection: close` in case of HTTP1.

[2020-05-29 00:01] lizan commented on #11336
Sounds reasonable. I'm not aware of any ongoing or planned work on the same issue. re 2. you might have to change the connection handling part to allow listener filters to emit metadata.

[2020-05-29 04:24] froismo commented on #11308
I'm interested in this feature.

[2020-05-29 08:09] rojkov commented on #11343
I think it's a valid point. `Vary` should reflect the headers the filter took into consideration when serving a request even if compression is skipped.

Though the simple fact that the filter is enabled is not enough. Before setting `Vary` we also need to know if the filter is applicable to the request (e.g. consult `Content-Type`). And if not then the header should not be set.

[2020-05-29 08:44] kanongil commented on #11343
The current logic is here:

https://github.com/envoyproxy/envoy/blob/86caf439d6cae2c8173b19fd4fdc95361565a72d/source/extensions/filters/http/common/compressor/compressor.cc#L103-L106

Vary should apply to the responses that match the request invariant parts. A safe test would probably be:

[code]

[2020-05-29 09:54] praneethvarma commented on #11355
Thanks @lizan . Ya, the max connections that it reached was under 500. I will look into what is happening on the upstream. The upstream is another Envoy instance as well. Maybe there is a limit on the listener there. I will post my findings here soon.

[2020-05-29 09:58] rojkov commented on #11343
Looks reasonable. I'd also AND'ed with `config_->enabled()` though.

@kanongil Do you mind submitting a patch?

[2020-05-29 10:12] kanongil commented on #11343
Sure, I'll see what I can do.

[2020-05-29 10:26] #11312 closed

[2020-05-29 11:07] htuch commented on #10875
Given the shift in major versioning, where v4 might be some distance away, I think it makes sense to revisit this. We burn a lot of time in version upgrade in EDS updates with lots of hosts, so we should avoid this if we are serving v3 and consuming v3, which is likely to be the case for O(years).

[2020-05-29 11:12] htuch opened #11362 "eds: improve performance of updates"
Looking at performance profiles, there are a number of places we can optimize EDS updates:

* We are burning 30-50% of time in version conversion. We can follow https://github.com/envoyproxy/envoy/issues/10875 to improve this.

* There is a lot of highly redundant computation happening as we are doing multiple `anyConvert`s, with proto deserialization overhead, version conversions, etc. e.g. when

[2020-05-29 13:33] htuch commented on #11362
FTR https://github.com/envoyproxy/envoy/pull/10982 was a step towards mitigating this overhead, this issue tracks the long-term fix. CC @pgenera @jmarantz

[2020-05-29 13:48] htuch commented on #9623
Given that `fmt` is now in C++20, I think we should stick with `fmt` for the long term FWIW.

[2020-05-29 14:06] zyfjeff commented on #11362
@htuch The results of your performance analysis are consistent with the results of my previous performance analysis of EDS. In addition, I also found that the comparison of Metadata is also a very CPU-intensive point.

[2020-05-29 14:24] ahedberg commented on #9623
It is a little weird to have two formatting libraries, but probably not worth the churn. Maybe some rule like "use fmt in logging, use absl everywhere else" suffices.

If the ultimate goal is to remove dependencies, Abseil is releasing its own logging framework soonish, which could let us cut spdlog and fmt if we wanted.

[2020-05-29 15:00] ahedberg commented on #10917
/assign foreseeable

[2020-05-29 15:10] sunjayBhatia commented on #11354
related general issue: https://github.com/envoyproxy/envoy/issues/9571

[2020-05-29 15:16] mattklein123 opened #11365 "api: add proto transform quick mode"
The current proto transform tooling takes quite a bit of time to run. During the dev/test cycle it would be very nice to have a "fast" mode where we only transform a specific set of proto files and copy them out to the shadow files. This would greatly speed up the dev flow when making a feature, especially until we get rid of the checked in shadow files and have them built directly by bazel on dem

[2020-05-29 16:54] davinci26 commented on #11354
Is setting granular file permissions are requirement for a high priority scenario or is it a good to have? Is there a way to see what the customer demand for this is?

What I am thinking is that we could have this API in Windows with the current limitation. Basically only setting the socket read-only or write and write. And then offer an additional module just for win32 ACL. This is similar to the

[2020-05-29 17:22] praneethvarma commented on #11355
@lizan , I checked to see if I could find anything with the upstream hosts. Some observations -

1. Given this is HTTP/2 , there won't be more than one connection per host. The active connections stabilize at 160 upon repeating this experiment multiple time, suggesting that it is unlikely for it to be caused by something on the upstream hosts. Would you agree?
2. In our setup, the `upstream_cx_clo

[2020-05-29 18:06] ahedberg commented on #10917
/assign foreseeable

[2020-05-29 18:08] tan-stripe opened #11369 "Envoy HTTP2 Connection sends RST_STREAM before initial HEADERS which causes upstream server to close connection with PROTOCOL_ERROR"
### Description
Preface: we’re using envoy as an  L7 proxy with a HTTP2 upstream. We’ve noticed that sometimes Envoy sometimes sends a RST_STREAM before actually sending the HEADERS frame to change the stream state from idle to open.

The following is a pcap of a single TCP connection between envoy and the upstream server. The upstream server is listening on 8080 while the ephemeral port that envo

[2020-05-29 18:54] snowp commented on #11369
Sounds like we should be tracking whether we've sent anything over the streams (either in the deferred reset code, in `ConnectionImpl::StreamImpl::resetStreamWorker` or in nghttp2 proper) and conditionally issue a RST_STREAM based on that.

WDYT @mattklein123 @alyssawilk

[2020-05-29 19:07] antoniovicente opened #11370 "http2: Potential improvements to behavior of buffer high watermark when proxing over H2"
I'm wondering if we should invest some effort to tighten the bounds on max size of H2 connection output buffers.  I think that the current H2 codec implementation eagerly moves data frames from the per-stream buffers to the output buffer as long as connection window is available, even in cases where the output buffer is already over the configured high watermark.

In the nghttp2 API documentation,

[2020-05-29 19:43] yuval-k opened #11371 "backwards compatibility issue with PR #11125 (Move access_log_format out of FileAccessLogger to be shared)"
We updated envoy to recent master, and noticed one of e2e tests was failing. specifically, the semantics of using an empty string for file access log format has changed. It used to mean to output the default log format; after that change it outputs nothing.

To reproduce, use this config:

[code]

PR #11125 was merged to master in commit 00238028d51dd7e2a866e721a678dbc5cdbec996.
this outputs nothi

[2020-05-29 19:58] mattklein123 commented on #11371
@qiwzhang can you fix? Thank you.

[2020-05-29 20:02] mattklein123 commented on #11362
cc @lita @jessicayuen

[2020-05-29 20:13] mattklein123 commented on #11369
Hmm, this is an interesting one. This is a bit deeper in the spec than I am familiar with. I don't think it's as simple as simple as tracking the state, as I think the only way we can get into this situation is that we have already submitted headers, but not data. What I think is happening is that nghttp2 is dropping the headers frame when it sees the reset frame. I think it's possible this would

[2020-05-29 20:15] mattklein123 commented on #11370
cc @tatsuhiro-t who I'm sure would be happy to chat APIs if there is something missing that we would like.

[2020-05-29 21:07] songhu commented on #11336
Hi lizan,
Thanks for the suggestion. I will look into the connection handling. I should come back with a pull request for review soon.
Have a great weekend.
Song

[2020-05-29 22:18] qiwzhang commented on #11371
@mattklein123 sure,  I will work on it.

[2020-05-29 22:30] sunjayBhatia commented on #11354
further discussion: https://envoyproxy.slack.com/archives/CNAK09BSB/p1590785118071500

We are seeing differences in behavior about `stat()` on a unix domain socket

[2020-05-29 22:32] sunjayBhatia commented on #11354
as per @wrowe catching this: https://github.com/golang/go/issues/33357#issuecomment-517246291

[2020-05-29 22:40] yukunlin commented on #11326
Thanks, this clears things up.

[2020-05-29 22:40] #11326 closed

[2020-05-29 23:25] lita commented on #11362
Just so the community is aware, we are seeing performance issues at Lyft also. Going to try sending v3 data for EDS to see if that helps alleviate some of the CPU pressure.

[2020-05-30 02:43] tatsuhiro-t commented on #11369
nghttp2 cancels pending HEADERS frame if it sees RST_STREAM referencing it.  In this case, RST_STREAM itself is not sent in this case.

https://github.com/nghttp2/nghttp2/blob/ef41583614e95efd12b6cce821e34837c1b28ed0/lib/nghttp2_session.c#L956-L957

It is true that nghttp2 does not do any effort not to send RST_STREAM to idle stream unless the above code finds those HEADERS.
If the above code work

[2020-05-30 02:55] tatsuhiro-t commented on #11370
If I understand it correctly, the H2 connection output buffer is envoy specific output buffer which contains the bytes produced by nghttp2_session_send or nghttp2_session_mem_send.

The use of NGHTTP2_ERR_WOULDBLOCK (and its variant NGHTTP2_ERR_PAUSE which has slightly different semantics) is good use case here.  If buffer is full, return the error code.  And don't call nghttp2_session_mem_send as

[2020-05-30 09:43] ankatare opened #11377 "Broken Link in README.md"
Broken Link found in below path:

**URL**:  https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#enabling-optional-features
**3rd Point :** BoringSSL can be built in a FIPS-compliant mode with --define boringssl=fips (**see FIPS 140-2** for details).
Below is broken URL:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl.html#fips-140-2

[2020-05-30 14:29] RA489 commented on #10996
/no stalest

[2020-05-30 14:31] RA489 commented on #10956
/no stalest

[2020-05-30 15:22] #10846 closed

[2020-05-30 16:22] #10870 closed

[2020-05-30 16:51] ankatare commented on #10843
/no stalest

[2020-05-30 17:22] #10907 closed

[2020-05-30 20:22] #10478 closed

[2020-05-30 21:22] #10826 closed

[2020-05-30 21:40] mattklein123 commented on #11369
I will review the code again but I'm pretty sure in the deferred reset case we only ever submit reset after submitting headers. It's possible there is some sequence we are missing here. I will try to audit the code unless @alyssawilk gets to it first.

[2020-05-31 00:22] #10887 closed

[2020-05-31 03:22] #10377 closed

[2020-05-31 10:02] #10512 closed

[2020-05-31 11:02] #10857 closed

[2020-05-31 12:02] #10751 closed

[2020-05-31 13:02] #10635 closed

[2020-05-31 15:31] dominicqi opened #11378 "HCM request_header_to_add.append not working"
Description:

I use the  [header append](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-headervalueoption).
but it not append to existing values. Will add a new header

Repro steps:

envoy config add header in `VirtualHost` ,then request envoy with a same name header .
` curl -H 'theader:12312' host:18000`
Test with  envoy docker  image

[2020-06-01 00:01] #11314 closed

[2020-06-01 11:35] htuch commented on #10849
@Shikugawa further thoughts on this one?

[2020-06-01 11:59] abhayyb commented on #11369
I am also facing this issue with istio-proxy within our K8s cluster.
Envoy version : 1.12.0

The server container sends a GOAWAY to istio-proxy on receiving RST_STREAM for idle stream.
We use libmicrohttpd for HTTP server.

![GOAWAY](https://user-images.githubusercontent.com/49165774/83406330-0ce3e680-a42c-11ea-8523-18b5068b84ef.jpg)

Additional Debug Data contents : `RST_STREAM: stream in idle`

[2020-06-01 12:31] vadim-egt opened #11382 "Jaeger Native Tracing is broken after migration from 1.12.3 to 1.14.1"
In version 1.12.3 tracing worked. and we see messages
[code]
 In version 1.14.1 we see message , but connection is absent.
[code]
In  migration we used you examples:
https://github.com/envoyproxy/envoy/blob/release/v1.14/examples/jaeger-native-tracing/front-envoy-jaeger.yaml

Please see our config:
[code]

[2020-06-01 13:22] htuch commented on #10875
Based on code audit, I think we're most of the way here:
* `MessageUtil::unpackTo` won't invoke `VersionConverter::upgrade` unless versions differ.
* `VersionConverter::recoverOriginal()` doesn't wire cast if the original and latest Envoy version are the same, but does copy. It's possible we could optimize further here.

[2020-06-01 13:31] htuch commented on #11362
I think for folks who switch to v3, there probably isn't a big regression compared to before, but there might be a small amount of room to improve, see https://github.com/envoyproxy/envoy/issues/10875#issuecomment-636858298.

The most attractive low hanging fruit here is to avoid running the xDS resource through `anyConvert` twice, once for the resource name (from `GrpcMuxImpl`) and again by the x

[2020-06-01 14:11] htuch commented on #11362
One other thing to note is that LEDS will also be one way to address this overhead (other than the initial update), see https://github.com/envoyproxy/envoy/issues/10373. Backend subsetting is another option.

[2020-06-01 14:57] jlong4096 opened #11383 "Load balancing does not work with docker-compose links"
*Load balancing does not work with docker-compose links*

*Description*:
If I run the front-proxy sandbox, but link front-envoy to service1, the requests are not load balanced.  Is this intentional?  Known?  I couldn't find any documentation or explanation.

*Repro steps*:
Patch:
[links.patch.txt](https://github.com/envoyproxy/envoy/files/4711931/links.patch.txt)

Output:
[logs.txt](https://github

[2020-06-01 15:07] antoniovicente commented on #10943
Proto validation and conversion costs have been a problem specially for EDS.  Envoy deployments that get used to discovery APIs being relatively inexpensive when using the right versions will face problems and be forced to rollback binaries to those with last-efficient xDS versions around the time of version bumps.

Refs: https://github.com/envoyproxy/envoy/issues/10875 and https://github.com/envo

[2020-06-01 15:20] #11371 closed

[2020-06-01 15:22] mattklein123 commented on #11382
cc @objectiser

[2020-06-01 15:37] alyssawilk commented on #11369
tl;dr at first glance I don't see a way we can create http2 streams without immediately sending headers to nghttp2

Looking at Envoy code in the happy path:

UpstreamRequest::encodeHeaders calls
HttpConnPool::newStream calls
ConnPoolImplBase::newStream.  If there is a connection ready,
ConnPoolImplBase::attachRequestToClient calls
      --ConnPoolImpl::ActiveClient::newStreamEncoder calls

[2020-06-01 17:06] objectiser commented on #11382
Sorry @mattklein123 no idea - haven't worked on the dynamic OT/jaeger native part. Possibly @rnburn might know?

[2020-06-01 18:41] yuval-k commented on #11378
from these logs it looks like it is working, `theader` appears twice

[2020-06-01 18:42] vadim-egt commented on #11382
@yskopets

[2020-06-01 19:32] lita commented on #10943
Another thing to note that go-control-plane currently sets the `TypeUrl` of the request and doesn't allow a passthrough if we want the response to be a different `TypeUrl`.

https://github.com/envoyproxy/go-control-plane/issues/303

[2020-06-01 19:32] antoniovicente opened #11388 "[watchdog] Provide additional watchdog actions and/or extension points"
The thread watchdog is already an important mechanism to detect and recover from coding errors that results in infinite loops, blocking API calls and very long computations in worker threads.  There are a few simple improvements that would make the watchdog even more awesome:
- Option to capture a 5sec to 10sec CPU profile after a series of watchdog misses or mega misses, and either write it to di

[2020-06-01 19:44] antoniovicente opened #11389 "[watchdog] Config options for random delay before kill and percent of threads stuck before multi-kill"
Here are two config options that could be added to improve the behavior of the watchdog:
- Add a config parameter for random(0, N) seconds before kill that can be used to smear out single-thread watchdog kill events and avoid coordinated, simultaneous failures across multiple proxy instances.  Do not kill the proxy if it recovers while waiting for the random delay timer to fire.
- Add a percent or

[2020-06-01 19:54] tonya11en commented on #10897
I'm gonna get to this one soon. Spoke to @danielhochman about it today.

[2020-06-01 20:17] antoniovicente opened #11391 "[watchdog] Increase frequency of thread still-alive reports"
The current watchdog implementation based on a periodic timer that can run at most once per libevent loop iteration is effective at detecting infinite loops and problematic long running computations, but can result in spurious kill events when under CPU overload if kill threshold is configured too aggressively.  Use of a longer kill threshold is an effective work around, but it increases time to r

[2020-06-01 20:17] mattklein123 commented on #11369
Yeah this was my assessment also but I will look again this week.

[2020-06-01 23:26] htuch opened #11396 "Support xDS server subscription to client resources"
In order to be able to gain knowledge of resource readiness (https://github.com/envoyproxy/envoy/issues/5174), a management server today needs to resort to OOB techniques to learn whether a listener (for example) has successfully been bound to a port. There are other examples of this, for example resources failing to warm due to dependency failure. It's not sufficient to rely on xDS's inbuilt ACK/

[2020-06-01 23:27] htuch commented on #11396
CC @costinm @jpeach @mattklein123 @envoyproxy/api-shepherds

[2020-06-02 02:05] l8huang opened #11397 "Support exposing server readiness state by a file"
Description:

We are running Istio with Envoy as ingress gateway, there could be more than 2k Gateway/VirtualService/Service got translated into XDS configs. A problem with this scale is, Envoy may take a long time to handle XDS response pushed from control plane, this causes the ingress-gateway pod's readiness probe timeout(it's a admin API call `/stats?usedonly&filter=server.state`), then pod is

[2020-06-02 02:59] mattklein123 commented on #11397
Can you please provide a perf trace showing that the main thread is actually blocked processing xDS responses for 15s or longer?

I don't really understand how saving state to a file is going to fix this problem if the actual processing time takes the long. It seems like the server simply isn't ready and you either have to account for that or the performance needs to be improved?

[2020-06-02 03:12] #11240 closed

[2020-06-02 04:58] ramaraochavali commented on #11397
@mattklein123  I think the problem here is not with the initial config but subsequent config updates. The initial config update would certainly delay the pod readiness (correctly so) till the config is obtained - but after it is ready, and during config updates that take longer the calls to  admin handlers fail and might result in this issue?

Relevant Istio issues https://github.com/istio/istio/i

[2020-06-02 06:07] veshij opened #11398 "Request with Transfer-Encoding: chunked and Content-Length is valid per RFC, but rejected with HPE_UNEXPECTED_CONTENT_LENGTH"
Duplicating https://github.com/nodejs/http-parser/issues/517 to envoy.
Prior to making changes to http-parser library wanted to confirm that proposed change looks reasonable to envoy maintainers.

Current implementation of nodejs/http-parser rejects requests with Transfer-Encoding: chunked and Content-Length headers with HPE_UNEXPECTED_CONTENT_LENGTH.
https://github.com/nodejs/http-parser/blob/mas

[2020-06-02 08:13] meteorcloudy opened #11400 "Envoy is red on Bazel CI"
https://buildkite.com/bazel/envoy/builds/1179

Please help fixing the problems, in the meantime, I'll have to disable Envoy in Bazel downstream.

Related issues:
https://github.com/envoyproxy/envoy/pull/11218
https://github.com/envoyproxy/envoy/pull/11226

/cc @lizan

[2020-06-02 08:15] meteorcloudy commented on #11400
There are currently two issues:

In RBE build:
[code]

And in coverage build:
[code]

[2020-06-02 09:59] bobvanderlinden commented on #7148
What happened with the `handle:spanInfo()`? It would be really helpful to set span information inside of LUA, but currently I do not see anything about this in the documentation.
Should I make a separate issue?

[2020-06-02 15:01] markdroth commented on #11396
I do like the idea of allowing the xDS protocol to be symmetric.  There are other use-cases, like LRS, that may also be addressed by this approach.

That having been said, I do wonder whether we can do something simpler for the specific problem of having the client report config health to the server.  It seems like we could solve that problem by extending the ACK/NACK mechanism built into the prot

[2020-06-02 15:02] mattklein123 commented on #11400
@lizan PTAL

[2020-06-02 15:03] mattklein123 commented on #11397
Right, we need to fix the underlying performance problem in some way or increase the timeout. File caching does not make sense. If file caching is desired it can be implemented by an external process.

[2020-06-02 15:04] mattklein123 commented on #11398
cc @alyssawilk @PiotrSikora @antoniovicente can you advise?

[2020-06-02 15:14] alyssawilk commented on #11398
If a message is received with both a Transfer-Encoding and a
       Content-Length header field, the Transfer-Encoding overrides the
       Content-Length.  Such a message might indicate an attempt to
       perform request smuggling (Section 9.5) or response splitting
       (Section 9.4) and ought to be handled as an error.  A sender MUST
       remove the received Content-Length field prior to

[2020-06-02 15:16] zyfjeff commented on #11397
This problem is actually similar to the problem I mentioned before #10394 . The main thread is busy dealing with xDS and the Admin interface fails to respond, resulting in a timeout. I think the problem to be solved by the core is still to find the reason for the slow processing of xDS and solve it. I believe that if these performance problems mentioned in #11362  can be solved, then this problem

[2020-06-02 15:26] htuch commented on #11396
This is possible, the main counter-argument being I think that this is going to increase the complexity of config version handling in xDS, and it's already pretty complicated.

[2020-06-02 15:30] markdroth commented on #11396
It seems like most of the complexity in the current mechanism is due to the strange way that version and nonce interact in requests.  I don't think there's actually anything inherently complicated about this problem, and I think there are other ways of structuring it that would be very straightforward.  If we just explicitly indicated the state of a given version in the request, then the need for

[2020-06-02 15:48] htuch commented on #11396
One of the problems you will run into with this is that there isn't a "config" being warmed. Once a config is accepted, you have a bunch of independent listeners or clusters being warmed. There would need to be some additional state tracking to make this work, and it might not be what the server actually wants. It wants to know whether listener X is active, not necessarily the details of X's earli

[2020-06-02 16:04] markdroth commented on #11396
That's a fair point.  So perhaps what we need is to report state on a per-resource basis, rather than a per-response basis.  And once we've done that, it might not actually be simpler than having a separate resource published to indicate state.

I guess let's wait to have a concrete proposal and then we can debate the details.  Thanks!

[2020-06-02 16:15] pojntfx commented on #10128
To anyone still struggling with this: Envoy appears to be throwing CORS errors when you for example forget to add your headers to `allow_headers`; I was, for example, decoding JWT tokens with Envoy, so I sent the `authorization` header; you have to actually add the headers that you want to use.

[2020-06-02 17:44] aminjam commented on #11091
@mattklein123 @lizan Is there any updates on this issue or thoughts about the path forward? I'd be happy to close this issue for now if there is no workaround or plan in the foreseeable future.

[2020-06-02 17:45] efimki commented on #11000
Quick update: it was decided to go with `ControlPanelStats` instead in #11390.

[2020-06-02 17:53] sunjayBhatia commented on #11091
I can work up a PR for this, feel free to assign it to me

[2020-06-02 17:54] lizan commented on #11091
@aminjam per-stable-version "latest" tag sounds good to me.

[2020-06-02 17:56] mattklein123 commented on #11091
Please don't close this. We should definitely do this but we need someone to work on it. @sunjayBhatia that would be awesome!

[2020-06-02 17:58] lizan commented on #11400
@meteorcloudy I don't have any idea why RBE fails in Bazel CI, have you changed RBE settings recently?

[2020-06-02 18:40] alyssawilk commented on #11378
I think the confusion may be over the word "append"

In the API it's append vs replace.  If you have
foo: bar

and you replace with eep, you end up with
foo: eep

if you append eep, you may either get
foo: bar, eep
or
foo: bar
foo: eep

I think either is valid, but it could be that we're not as clear in docs as we could be.

[2020-06-02 18:42] lizan commented on #11382
It's the binary incompatibility: see #9849

[2020-06-02 18:58] alyssawilk commented on #11275
Can you give a bit more detail about what you're running into?

If I tweak our QUIT tests to use GET I see

[ RUN      ] IpVersions/IntegrationTest.QuitQuitQuit/IPv6
[2020-06-02 18:56:21.161][744][error][admin] [source/server/admin/admin.cc:680] admin path "/quitquitquit" mutates state, method=GET rather than POST
test/integration/server.cc:226: Failure
Expected equality of these values:
  "200"

[2020-06-02 19:18] veshij commented on #11398
I'm thinking of this approach:
* opt-in in http-parser to allow parsing such requests and return both headers if enabled
* verify envoy rejects such requests and enable http-parser opt-in by default in envoy.
* add opt-in to envoy to allow serving such requests.

[2020-06-02 19:21] #11377 closed

[2020-06-02 19:30] l8huang commented on #11397
I agree this issue can be resolved fundamentally in some better ways:

- create a dedicated thread to handle admin API call
- make control plane using delta push to avoid huge LDS/RDS/CDS response, and give admin API call high priority for avoiding starving

When Istio control plane having more and more Gateways/VirtualServices/Services, the time needed by handling LDS/RDS/CDS response becomes lon

[2020-06-02 20:31] wlhee commented on #11275
Hmmm, you are right, I can't reproduce it.

Probably it's something related to the Google internal envoy admin interface helper.

[2020-06-02 20:31] #11275 closed

[2020-06-02 20:40] mattklein123 commented on #11397
I'm not in favor of writing a file. There are a bunch of issues with this becoming stale. We should just fix the actual issue in some way. In the interim if you want to write a file you can do this externally.

[2020-06-02 20:46] mattklein123 commented on #8416
Hi all,

The doc has been edited again to a hopefully near final statement. The salient points here are:
1) Yearly minor version API release alongside the Q1 Envoy release.
2) 1 year deprecation window for fields (this means that a deprecated field will be implemented in the code base for 1 - 2 years depending on deprecation time).
3) Fatal by default is not part of this proposal. Envoy will still

[2020-06-02 23:53] auni53 opened #11411 "Check format is taking a long time"
The runtime of `> ./ci/run_envoy_docker.sh 'ci/check_and_fix_format.sh'` seems to be increasing over time. Now it takes 5-10 minutes and validates every proto on top of doing bazel builds. Is there any way to just access the code linting part of this script?

[2020-06-03 00:08] htuch commented on #3362
@mattklein123 re: "If a cluster is an EDS cluster, should we dump the EDS configuration as a nested item in the cluster output?"

How about we make EDS standalone `ClusterLoadAssignment` and only do this for EDS clusters in the config dump?

[2020-06-03 04:20] #11091 closed

[2020-06-03 05:30] ramaraochavali commented on #11397
I have n't tried file caching. In Pilot I cached the server state after initial config is obtained , from then on reusing the cached stat instead of looking at admin hander

[2020-06-03 05:31] iinikolaev opened #11415 "Request/Response matching"
Are any possible ways to match request and response in filter?

[2020-06-03 05:50] dominicqi commented on #11378
Yes , you are right , but i see the [RFC 7230-section-3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) say

   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).

and The code look like did this( may be i'm wrong , i am not good at C)
https

[2020-06-03 05:53] ryanlyy opened #11416 "Traffic Control based upstream CPU and Memory etc measurement"
Looking at currently traffic policy (weighted) round robin, hash etc load balance, they all does not count on upstream CPU utilization. in  those kind of load balance, if upstream endpoint CPU is high, envoy can still forward traffic to that upstream w/o difference with others upstream endpoints. then it is really not load balanced. So can envoy support traffic control policy based on upstream CPU

[2020-06-03 06:02] ryanlyy opened #11417 "Traffic control based on previous response time for http request"
for envoy load balance, whatever it is round robin, hash etc, there is no traffic control policy which does load balance based response time of previous http request. As you know, for one upstream endpoint, if it always has delay for its response comparing with other upstream endpionts. that means that upstream may be in not good status(for example: high CPU, high network bandwidth/latency etc) bu

[2020-06-03 06:27] yashwant121 commented on #11318
Hi @alyssawilk, I would like to take this issue.

[2020-06-03 06:34] vadim-egt commented on #11382
In version 1.12.3 we use envoy example:

https://github.com/envoyproxy/envoy/blob/release/v1.14/examples/jaeger-native-tracing/install-jaeger-plugin.sh

snippts of docker file:

`FROM envoyproxy/envoy:v1.12.3

RUN apt-get update && apt-get install -y curl gettext-base && apt-get clean && rm -rf /var/lib/apt/lists/*
**RUN curl -Lo /usr/local/lib/libjaegertracing_plugin.so https://github.com/jaegert

[2020-06-03 07:26] lizan commented on #11382
@vadim-egt you should build libjaegertracing_plugin.so with libc++, there's some instruction here: https://github.com/jaegertracing/jaeger-client-cpp/issues/183#issuecomment-595790140 and prebuilt binary here: https://github.com/tetratelabs/getenvoy-package/issues/35#issuecomment-522799798 (it says centos but it is almost statically linked binary with libc++ so it should work).

[2020-06-03 08:40] Shikugawa commented on #10849
@htuch I agree with your idea. For the moment, we should transfer the V2 testing to V3 by remaining one of V2 integration test.

[2020-06-03 10:40] AlexDaSoul opened #11418 "upstream connect error when cluster address is localhost"
Hi! I started microservice without docker and i want get this from envoy. Envoy started with docker. And this is not working. Microservice without envoy is available and works.

My config:
[code]

Envoy logs:
[code]

I don't know what I'm doing wrong

[2020-06-03 11:11] GaneshKumarKannan commented on #11297
Any update on this issue?

[2020-06-03 12:10] slonka commented on #10804
I would be interested in such a feature. Can someone point me to how would I implement it in a filter?

[2020-06-03 13:18] auni53 commented on #11411
Oh while I'm complaining, it also seems to not work on worktrees.

[2020-06-03 13:37] konste commented on #8394
@zonghaishang How have you solved the debugging problem in the Mac?

[2020-06-03 13:41] antoniovicente opened #11420 "[http2] Stats and logging of H2 goaway error codes"
It would be good to have stat counters for H2 goaway error codes so we can better understand reasons why H2 connections are forced closed by the local or remote endpoint.  Requests that failed due to immediate local or remote goaway should goaway error code and debug data in their request logs.  It would also be nice to have a config option to enable sending additional debug data in goaway message

[2020-06-03 13:42] alyssawilk commented on #11318
Thanks!  Tossing it your way :-)

[2020-06-03 14:00] htuch commented on #11411
This is a dupe of https://github.com/envoyproxy/envoy/issues/11365

[2020-06-03 14:00] #11411 closed

[2020-06-03 14:03] htuch commented on #11365
My starting point here would be to look back in the tree to the last GitHub merged commit and list the proto files that have changed, restricting `protoxform` to just these files. This should provide a huge speedup. We already do something like this, deciding whether to do a proto format run based on whether _any_ protos have changed since the last GitHub merged commit.

This is on my TODO, but no

[2020-06-03 14:21] antoniovicente opened #11421 "[http] Measure per-connection and per-request memory usage"
It would be good to have some benchmarks that measure memory usage in the following scenarios:
- H1 and H2 request after proxying request headers to upstream
- H1 and H2 request after proxying response headers to client
- Idle H1 client connection using raw sockets and TLS sockets
- Idle H2 client connection with empty/full compression context

Implementing strict tests like test/integration/stats

[2020-06-03 14:36] antoniovicente commented on #11421
cc @mum4k

[2020-06-03 14:43] mattklein123 commented on #3362
Yes see https://github.com/envoyproxy/envoy/issues/3362#issuecomment-562691796. I think we should just do an independent dump here as the dump will have the cluster name, so IMO it's not needed to have it be nested.

[2020-06-03 14:55] alyssawilk commented on #11378
so the way that I read the quoted test is if you have a single value header (e.g. Host) you may not send multiple lines.  If you have a header which can have multiple comma-separated values (e.g. Transfer-encoding) you may.  If you're using the append function you're implicitly saying it's a multi-valued headers so again I think this is OK by the linked spec? Do you think I'm misreading?

There ar

[2020-06-03 14:57] alyssawilk commented on #11378
Regardless of if this is legal (which I think it is) it sounds like the behavior isn't the behavior you want :-)

Given that either variant is legal, you could rename this to "consider using inline append" and mark it as a feature request.  We'd have to runtime guard, and if the inline variant didn't work for some folks make it a configuration option (append vs inline-append?)

[2020-06-03 14:58] mattklein123 commented on #11420
IIRC the GOAWAY reason is in the frame data here: https://github.com/envoyproxy/envoy/blob/5d8f7d785b59d1450b67f3279706b787c5641a66/source/common/http/http2/codec_impl.cc#L582 (it's possible that not all of the error reasons are as detailed as we want).

[2020-06-03 15:02] oschaaf commented on #11421
I can see this work by writing some targeted tests, which involve the test server delaying responses and capturing profiles with timings based on those delays. We'll be bound to Envoy's built-in profiler if tcmalloc is used. If we test with an Envoy instance that uses regular allocators then capturing profiles with perf/bcc tools may also be helpful here.

[2020-06-03 15:03] mattklein123 commented on #11416
Not currently, see https://github.com/envoyproxy/envoy/issues/6614 which would be a good way of accomplishing this.

[2020-06-03 15:03] oschaaf commented on #11421
Also, maybe it would be good to have prometheus's node-exporter running alongside in tests, and have the tooling track delta's produces by that.

[2020-06-03 15:04] mattklein123 commented on #11417
Correct this is not implemented currently, though in practical terms least request LB does a good job of handling this.

[2020-06-03 18:02] antoniovicente opened #11426 "[tls] timeout for TLS handshakes"
It would be good to have individual config knobs to control timeouts for TLS connections that are in waiting for handshake to start and are in the middle of the handshake.  AFAIK there is an existing connection idle_timeout config but it tends to be relatively long because it is meant to cover cases where an idle H1 connection is waiting for the next request.

The handshake timeout should cover th

[2020-06-03 18:23] lizan commented on #10942
FYI: https://github.com/envoyproxy/envoy/issues/9577 is requested before to properly support STARTTLS and there is a PoC to terminating STARTTLS.

[2020-06-03 18:26] antoniovicente opened #11427 "[http] Adaptive timeouts for idle HTTP client connections waiting for a request"
HTTP1 downstream connections are either waiting for the first byte of the request headers, parsing request headers or handling the active request.  We benefit from relatively long timeout for connections with no active request as it allows for effective prefetching and connection reuse.  We do expect a relatively short time between when the first and last byte of the request headers arrive which c

[2020-06-03 19:53] snowp commented on #11307
I think it would be possible, as retries include a delay before issuing the next request. Since the retries are fired from timers on the dispatcher, it would be possible that a new update has been applied to the TLS cluster that reflects the new subsets between the retry being scheduled and executed.

[2020-06-03 20:34] dcarney-stripe opened #11431 "Aggregate cluster properties override those of the "child" clusters"
*Title*: *Aggregate cluster properties override those of the "child" clusters*

*Description*:
We’re using Envoy 1.13.0.1 with an aggregate cluster, and multiple “child” clusters.

Our aggregate cluster has a basic config, similar to the example given in the current docs [0].

[code]

Each of our “child” clusters (`primary`, `secondary`, `tertiary` in this example) is configured to use HTTP/2, by

[2020-06-03 20:47] antoniovicente opened #11432 "[http] Further improvements to Envoy crash logging."
Ref: #7300

We have some logging of the active request on crashes under callstacks that have a ScopeTrackerScopeState but those scoped objects are only associated with events under some HCM, UpstreamRequest and timer callstacks.  Also, dumped information is fairly limited.

Possible improvements to ScopeTrackerScopeState to increase dump coverage:
- Have the FileEventImpl or network::ConnectionImp

[2020-06-03 22:31] htuch opened #11433 "Proxying multiple 100-continue headers"
A fuzz bug that I'm looking at generates multiple 100-continue headers from the backend in 100-continue proxying mode. This triggers ASSERTs, e.g.
[code]
The HTTP spec seems to allow for multiple 100 continues, i.e. from https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html we have:
[code]
I have two questions around this:
1. What is the intended Envoy behavior? Should we proxy these or drop any

[2020-06-03 22:37] OneFirefly opened #11434 "Feature Request: Disable Nagle's algorithm"
It seems like there is currently no way to disable Nagle's algorithm which is relevant for applications that require low latency. To my knowledge, this algorithm is by default enabled for TCP connections.

Nginx also has the feature (tcp_nodelay)

Are there any plans to implement this?

[2020-06-03 22:53] mattklein123 commented on #11434
TCP_NODELAY is set on all proxy connections by default.

[2020-06-03 22:59] mattklein123 commented on #11431
cc @snowp do you recall the history here?

cc @alyssawilk also as this is mildly related to our recent conversations about cluster.proto being a bit out of control.

[2020-06-03 23:15] snowp commented on #11431
I imagine there must be somewhere in the code where we read cluster configuration directly instead of from the selected host.

Looking at the code we see this:
[code]

where we resolve which protocol to use before host selection is done using the top level cluster configuration.

This is a bit trickier to fix than I thought originally, since we'll need to defer protocol selection until after the h

[2020-06-04 00:53] ryanlyy commented on #11417
@mattklein123 thanks a lot for your response. Least Request means to chose upstream endpoint which has least http request but it does not mean remote is busy and response is slow if it does not count on response time. And in long time running, the upstream requests are average. Looking at the statistics, there is count on response, so envoy shall be can count response time and when chose upstream

[2020-06-04 01:01] ryanlyy commented on #11416
@mattklein123 that is great. what is the plan to deliver this feature?

Thanks,
Ryan

[2020-06-04 01:10] costinm commented on #5677
I get the same error with Envoy 1.14.1, using SDS.

Error:

[code]

The key was generated with openssl, using the Istio makefile:
[code]

[2020-06-04 01:18] costinm commented on #5677
More logs from envoy - I started with trace, I don't see any info on why it was rejected.

[code]

[2020-06-04 01:38] OneFirefly commented on #11434
Thank you

[2020-06-04 04:35] #11219 closed

[2020-06-04 05:46] hobbytp opened #11436 "Apply Lua filter will close existed http/2 long live connection"
*Description*:
The issue is found in istio, and seems need to route to envoy proxy , the istio issue is https://github.com/istio/istio/issues/24316

After I configure envoy.lua by using envoyfilter API, the existed HTTP2 connection will be closed and the client will get GOAWAY response from envoyproxy. And later new re-created connection can work correctly.

My concern is the runtime configuration

[2020-06-04 06:44] fttyX commented on #11313
I'd agree even with the option to leave content-type not touched by envoy, if that makes sense (in our case backend sets this header).

[2020-06-04 06:55] AlexDaSoul commented on #11418
The trouble was docker's networking

[2020-06-04 06:55] #11418 closed

[2020-06-04 09:21] PiotrSikora commented on #5677
@costin can you paste matching certificate? It's hard for me to test it without it.

[2020-06-04 10:27] weixiao-huang commented on #11190
Now we find that kube-apiserver only proxies requests from kubectl exec. The real SPDY request is resolved in kubelet. However, we find that kubelet also supports websocket for receiving exec operation. So we use websocket to interact with kube-apiserver so that it can proxy it to kubelet's websocket api. There is a very simple example for using websocket to implement exec: https://github.com/kair

[2020-06-04 10:27] #11190 closed

[2020-06-04 12:14] mk46 commented on #11383
@jlong4096 Please share docker-compose file.

[2020-06-04 13:43] jmarantz opened #11437 "thread: threads should be named to help performance analysis and tuning"
It's possible to name threads in posix via pthread_setname_np. If we do that, performance tools can make it easier to visualize time taken in main thread, access log flusher, workers, etc.

[2020-06-04 13:44] jmarantz commented on #11437
It may also be useful to experiment with affinity and other options you can tweak at thread creation time.

[2020-06-04 14:44] mpuncel opened #11439 "Add validation when a gRPC service is configured on a HTTP/1 cluster"
When we were prototyping using the ext_authz filter, we configured it to use gRPC to a "self cluster", i.e. one that points at a socket on the local Envoy sidecar. This is perhaps non-standard, but the reason we did this is that we wanted the requests to run through our typical egress filter chain.

We forgot to set http2_protocol_options on this cluster, and were quite confused when our gRPC upst

[2020-06-04 15:41] mattklein123 commented on #11439
cc @snowp @alyssawilk this is related to common ALPN/protocol misconfiguration in the cluster config, related to work you have both been doing recently. Anything we can do here to make this better would be great.

[2020-06-04 15:48] alyssawilk commented on #11433
I think we had intended to support only one but if the spec says allow many we should probably allow many.

I thought we had a test for multiples somewhere which verified nothing whacky happened,

[2020-06-04 15:58] dominicqi commented on #11378
I think you are misreading.

Not

I think this is the behavior i want . append with comma.

[2020-06-04 17:19] knight42 opened #11443 "keep query string by default when performing http path_redirect"
*Description*:

https://github.com/envoyproxy/envoy/blob/ed300943217723dbc449480afd3f967e08ac4c95/source/common/router/config_impl.cc#L667-L679

At present envoy uses the HTTP/2 pseudo header semantics internally, and the query segments are considered part of the `:path` header. That makes query string get stripped when performing [http path_redirect](https://www.envoyproxy.io/docs/envoy/latest/ap

[2020-06-04 18:16] hakuno opened #11445 "Strange information in doc"
Hey all,

The doc has a section called [Is there a way to disable circuit breaking?](https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/disable_circuit_breaking)

There explains it should be

[code]

But I have some questions:

- Why `HIGH` instead of `DEFAULT`? Since the router uses `DEFAULT` for default.

- The `thresholds` field expects a list. But it shows no list. Is there right?

[2020-06-04 18:57] errordeveloper opened #11446 "question: how to fix bazel errors when cross-compiling for arm64?"
There had been a few issue regarding arm64 (https://github.com/envoyproxy/envoy/issues/10512, https://github.com/envoyproxy/envoy/issues/7686 & https://github.com/envoyproxy/envoy/issues/1861), but this one is not a feature request.
I have attempted to configure Bazel to cross-compile for arm64, but I am facing a roadblock.

Here is what I did:
- read Bazel docs ([Configuring C++ toolchains](https

[2020-06-04 19:07] errordeveloper commented on #11446
I have looked into `rules_foreign_cc`, but I fail to understand what is really going on there really.

[2020-06-04 19:24] jplevyak opened #11447 "Should encodeHeaders be called if decodeHeaders is not called in HTTP Filters?"
While working on WebAssembly filters we discovered that it is possible for encodeHeaders to be called on a HTTP filter even if decodeHeadershas never been called.  This occurs if there is an error while parsing the headers or at a higher level resulting in sendLocalReply() being called without decodeHeaders.

Do we want this behavior?  The filter in question has no context for the encodeHeaders ca

[2020-06-04 19:34] htuch commented on #11433
Also related:
* https://github.com/envoyproxy/envoy/pull/2567
* https://github.com/envoyproxy/envoy/pull/4313

[2020-06-04 19:40] snowp commented on #11445
Yeah this seems incorrect, this should probably define two thresholds, one for HIGH and one for DEFAULT.

A PR would be appreciated!

[2020-06-04 19:41] cthumuluru commented on #11439
+1; I had the similar issue.

[2020-06-04 19:45] snowp commented on #11439
I think I prefer the second option outlined, since iirc there aren't any cases where you wouldn't use HTTP/2 for gRPC.

Would we eventually want to support HTTP/3? If so, validating that its either HTTP/2 or HTTP/3 might be be best option.

[2020-06-04 19:56] #11311 closed

[2020-06-04 19:59] cthumuluru commented on #11439
@snowp — I would like to work on this issue; I too prefer the second option outline in the issue.

[2020-06-04 20:09] snowp commented on #11266
We'd also be interested in this, so let me know how I can help to move this forward

[2020-06-04 20:26] hakuno commented on #11445
@snowp I made it https://github.com/envoyproxy/envoy/pull/11451 Thanks

[2020-06-04 20:57] htuch opened #11452 "RepoKitteh based envoyproxy organization membership management"
User story:
* Envoy maintainer wants to `/assign` a new GH user who is not in the envoyproxy org or `@envoyproxy/assignable` team. The maintainer issues a `/assign <user>`.
* RepKitteh notices the missing membership. It uses GH teams APIs to add the user to the organization and team. This is invite-based.
* The new GH user accepts the invite and pings the issue.
* The maintainer reissues `/assign

[2020-06-04 20:59] htuch commented on #11452
One thing I worry about is how to do this safely in RK, since you need admin-level IAM AFAIK.

[2020-06-04 21:29] jsbucy commented on #9577
I think I mentioned somewhere: it isn't clear to me if it's better to have one of these for each application protocol (there probably aren't that many) or the transport socket from the protocol inspection part and make the latter pluggable. The amount of boilerplate in the wrapper TransportSocket implementation isn't that much and it could well be more complicated to make the plugin api accomodate

[2020-06-04 21:42] hakuno commented on #11445
Nobody reviewed my first PR yet 😢

[2020-06-04 22:14] jlong4096 commented on #11383
See attached.  `examples/front-proxy/docker-compose.yaml`

[docker-compose.yaml.txt](https://github.com/envoyproxy/envoy/files/4732949/docker-compose.yaml.txt)

[2020-06-04 22:38] htuch commented on #9328
@adisuissa also pointed out that there is an Abseil span-based pattern that works nicely here at https://abseil.io/tips/93

[2020-06-04 23:01] #11000 closed

[2020-06-05 01:11] #11234 closed

[2020-06-05 03:28] mattklein123 commented on #11447
At least for the C++ filter stack, this is the way "it has always been." I think here is utility in this in some cases like for example the local reply case you outlined. I do think this behavior could be optional but I think it would need to be config driven somehow on a per filter basis. cc @alyssawilk

[2020-06-05 03:31] #11445 closed

[2020-06-05 03:46] itayd commented on #11452
This will require write access. Not sure if you can assign specific permission to specific user?

[2020-06-05 04:45] snowp commented on #3431
I was playing with the code to get this working, I think something like this would work:

The new conn pool keeps a `std::unique_ptr<ConnectionPool::Instance> delegated_conn_pool_` that manages the actual connection pooling. In order to create this, the first attempt to create a stream will be be managed by the outer connection pool:
1) The outer connection pool will create a raw connection to the

[2020-06-05 07:11] boostchicken commented on #11033
This issue isn't stale?  Would like to see resolution on it.

[2020-06-05 08:09] rojkov commented on #11343
@kanongil Are you still planning to submit a patch?

I've got some time to spend on community work, so I could submit the patch myself if you are busy.

[2020-06-05 08:57] errordeveloper commented on #11446
More specifically, what I don't get is:
- what exactly `rules_foreign_cc` is trying to do?
- how is `vars["LDFLAGS"]` set normally and why it doesn't get set in my case?

[2020-06-05 09:23] errordeveloper commented on #11446
Two updates:

- having disable Lua extension, I am seeing the same error in relation to `gperftools_build`
- added `--record_rule_instantiation_callstack`

[code]

[2020-06-05 09:50] errordeveloper commented on #11446
I have managed to overcome the LDFLAGS issue with a fairly simple fix (https://github.com/bazelbuild/rules_foreign_cc/pull/407). I'll share an update if I run into anything else, or will be sure to close the issue otherwise.

[2020-06-05 13:12] errordeveloper commented on #11446
I have made some further tweaks and declared GCC files based on what I found in Tensorflow repo ().

Here's what I'm getting now:
[code]

First, I'm really not clear on all protobuf warnings. And I also don't know if CMake is meant to compile `io_opentracing_cpp` for the host, or the target, as it's trying to use the host compiler.

[2020-06-05 14:34] #8092 closed

[2020-06-05 15:16] mattklein123 commented on #3431
@snowp this makes sense to me. Note that I would like to implement this using the new connection pool extension mechanism being implemented by @alyssawilk in https://github.com/envoyproxy/envoy/pull/11327.

[2020-06-05 15:35] danzh2010 commented on #8479
/assign @nezdolik

[2020-06-05 15:50] PhoenixMage opened #11472 "Provide an option to specify gn and ninja binary locations"
At present when you compile envoy it attempts to use a precompiled gn and ninja binary if on Darwin or Linux-x86_64 (https://github.com/envoyproxy/envoy/blob/8ad0884d0ecc4c5e6e0671b7727b1e5abad47653/bazel/external/wee8.genrule_cmd#L84-L94)

I am compiling istio proxy which has envoy as an external dependency envoy on a straight alpine system based on musl and gn and ninja it fails due to missing g

[2020-06-05 15:59] smart-duck opened #11474 "Question about trusted_ca parameter in validation_context"
Can you confirm me that the full certificate chain is required (from Intermediate to root CA) and that using a file with only the intermediate CA will failed ?

Thank you

[2020-06-05 17:11] htuch commented on #11433
Also, thanks to Uli on Slack, a more modern reference is https://tools.ietf.org/html/rfc7231#section-6.2

[2020-06-05 17:25] htuch commented on #11433
The more I look at the spec, I'm becoming convinced that while multiple 1xx should be supported, i.e. different 1xx informational responses, but multiple 100 doesn't make any sense. It's not stated explicitly, but this seems to be a reasonable interpretation.

[2020-06-05 17:38] davidledev commented on #11474
I have the same problem using PKI with 3 levels (root, intermediate and end-entity). It works fine when i use the root CA in "trusted_ca" part. But i obtain error with intermediate CA in "trusted_ca" part. I obtain the following error with curl. It seems it cannot check the certificate chain.

`
curl -vvvv -k --cert certificate.pem --key privkey.key  https://localhost:1443/tto
....
 TLSv1.3 (IN),

[2020-06-05 17:53] #11164 closed

[2020-06-05 18:05] errordeveloper commented on #11446
After some more digging I realise that Bazel needs to call GCC in special way, it has to have `-no-canonical-prefixes` and `-fno-canonical-system-headers`. So I ended-up copying more config from Tensorflow with some adjustments, so no I have
https://github.com/errordeveloper/envoy/commit/24e4631dbe520aea35dabb2f69faf367ef80228b and had been able to get past various issues. However, I'm hitting an

[2020-06-05 18:33] jmarantz commented on #9328
`MemBlockBuilder` uses `absl::Span` fwiw

[2020-06-05 20:38] htuch opened #11477 "Converge [New]GrpcMuxImpl"
We have two distinct gRPC mux impls for xDS, which impacts velocity as we need to do the same thing twice when working with the xDS transport and will be a source of inconsistency long term. This is some hangover from earlier work on delta xDS.

CC @wgallagher @fredlas

[2020-06-05 20:48] mattklein123 commented on #11477
What is left to do here? I thought we already merged most of the code?

[2020-06-05 21:30] htuch commented on #11477
That's not the case, there are distinct paths for delta and SotW, I'm making the same change in both places right now for https://github.com/envoyproxy/envoy/issues/11362. @wgallagher has more complete state and a provisional plane here.

[2020-06-05 21:41] wgallagher commented on #11477
The remaining work is to merge GrpcMuxImpl and NewGrpcMuxImpl (the SoTW / Delta mux)

[2020-06-05 21:47] akonradi commented on #11427
High/low memory thresholds and connection counts sounds like something that should be done through the overload manager. There is already a resource monitor for watching memory usage, and it shouldn't be too bad to add one for the number of open connections. We could then wire that into an action that modifies either all or a subset of connection timeouts.

[2020-06-05 22:02] mattklein123 commented on #11427
@akonradi yup that's the plan. Our goal is to thread the overload manager through more places and use it for active/passive adaptive thresholds. cc @tonya11en

[2020-06-05 22:08] akonradi commented on #11427
Has there been any work on adding a resource monitor for connection counts? If not I'd be happy to take that on.

[2020-06-05 22:12] mattklein123 commented on #11427
There has, let's sync up on this briefly offline.

[2020-06-05 22:39] akonradi commented on #11426
This seems like something that should be added to the [DownstreamTlsContext](https://github.com/envoyproxy/envoy/blob/8161b915026986de157cd90d6d1ba1534f8567be/api/envoy/extensions/transport_sockets/tls/v3/tls.proto#L58) proto. If that sounds reasonable, I'd be happy to address the first part of this issue (adding the configuration knobs).

[2020-06-06 09:10] #10967 closed

[2020-06-06 11:10] #10924 closed

[2020-06-06 12:10] #10953 closed

[2020-06-06 13:10] #10671 closed

[2020-06-06 14:10] #10986 closed

[2020-06-06 20:10] #10525 closed

[2020-06-07 01:10] #11020 closed

[2020-06-07 04:39] vadim-egt commented on #11382
Also I added
[code]
Thank for help.

[2020-06-07 04:45] #11382 closed

[2020-06-07 08:03] ryanlyy commented on #11416
Hello, any comments?

Thanks,
Ryan

[2020-06-07 18:45] #11025 closed

[2020-06-07 19:34] prestonvanloon commented on #6110
I'm interested in the gRPC sink implementation. Has there been any progress?

[2020-06-07 20:48] bvandewalle opened #11492 "Suggested new feature: modifiable User-Agent for HTTP HealthChecks"
As we are using Envoy together with Active HTTP HealthChecks, a lot of our upstream services are wondering about those HealthChecks in their logs.
Ideally, I would like to modify the user-agent to add some information to the healthCheck.

The HC http user-agent is hardcoded in Envoy to `Envoy/HC`:
https://github.com/envoyproxy/envoy/blob/master/source/common/http/headers.h#L261

I'm suggesting add

[2020-06-07 23:44] htuch commented on #11433
Based on the RFC 7231 description "A client MUST be able to parse one or more 1xx responses received prior to a final response, even if the client does not expect one.  A user agent MAY ignore unexpected 1xx responses." I'm going to go with "allow multiple 100 continues but ignore proxying all but the first.". I think this is the intended behavior today but the integration test in my PR seems to s

[2020-06-08 00:39] snowp commented on #11492
Have you looked at using `request_headers_to_add` to set the user-agent? From a brief look at the code I imagine a `user-agent` header added there with `append=false` would overwrite the default

[2020-06-08 13:15] alyssawilk commented on #11447
yeah, there's a TODO in the HCM (ConnectionManagerImpl::ActiveStream::sendLocalReply) to only run the response through filters which saw the request, but at this point I'm not sure that we could just convert on over - I agree it's something we'd need to folks to configure.

[2020-06-08 13:51] alyssawilk commented on #11433
obligatory @PiotrSikora  :-)

[2020-06-08 14:20] bvandewalle commented on #11492
Thanks for the suggestion @snowp , let me try that. I will report here

[2020-06-08 14:44] antoniovicente commented on #11426
CC @envoyproxy/api-shepherds

DownstreamTlsContext proto seems like the right place, but you should double check with the api-shepherds

[2020-06-08 14:53] antoniovicente commented on #11433
We should fix brokenness while attempting to proxy multiple 1xx response headers.  The first step could be a simpler change to fail if multiple 1xx responses are detected.  I don't know how common multiple 1xx responses are; I can see a server replying with 100 followed by 103 or 102.  I don't know how common 102 or 103 responses are: 103 is from an RFC published in 2017, 102 is part of webdav

[2020-06-08 15:24] htuch commented on #11433
I think the spec suggests that the fix could be just ignoring unexpected headers. If we don't support 102, for example, then it's acceptable to ignore it, rather than fail. It would be good to clarify if failure semantics are preferred to ignoring semantics.

[2020-06-08 15:28] htuch commented on #11426
Makes sense to me, @lizan WDYT?

[2020-06-08 15:28] mattklein123 commented on #11433
FWIW I suggest we keep it simple and (correctly) ignore all 1xx responses after the first. I think this was @alyssawilk's intention and I would just do this until someone complains about it.

[2020-06-08 15:38] #11437 closed

[2020-06-08 16:35] codyl-stripe opened #11498 "Envoy rejects all requests with 503 on aggregate cluster CDS change"
_Title: Envoy rejects all requests with 503 on aggregate cluster CDS change_

_Description:_

We’re using Envoy 1.13.0.1 with an aggregate cluster, and multiple “child” clusters.
Our aggregate cluster has a basic config which we initially supply using CDS, similar to the example given in the current docs [0].
[code]

We sometimes want to change the priority levels of the aggregate cluster such as

[2020-06-08 17:11] dapengzhang0 opened #11500 "How will initial_requests in HedgePolicy work with RetryPolicy"
Currently `HedgePolicy` is always working with a `RetryPolicy` because [`HedgePolicy.hedge_on_per_try_timeout`](https://github.com/envoyproxy/envoy/blob/591fdf8ac68658092dfa4ffa5d72632c01c10f23/api/envoy/config/route/v3/route_components.proto#L1160) is based on [`RetryPolicy.per_try_timeout`](https://github.com/envoyproxy/envoy/blob/591fdf8ac68658092dfa4ffa5d72632c01c10f23/api/envoy/config/route/v

[2020-06-08 17:21] antoniovicente commented on #11420
I was mostly interested in goaway sent by Envoy.  Tracking received goaway by hooking into that code seems useful.

[2020-06-08 17:30] antoniovicente commented on #11427
@tonya11en

One thing to think about is how to implement adaptive timeouts.  The current practice of using independent timers to track request timeouts makes reducing timeouts under memory pressure challenging.  You can't rely on the timeout value being known at the time you want to schedule the timer.  A potential solution may involve use of a timer list for operations that are waiting for timeou

[2020-06-08 17:50] antoniovicente commented on #10646
This may be a topic for a separate feature request, but it would be good to run header validation relatively often in debug modes so we can detect cases where filters make modifications that break header invariants.  Re-running header checks after each filter that can modify headers and/or before serialization may help us detect issues early (e.i. in integration tests)

[2020-06-08 17:55] LisaLudique opened #11501 "router check tool: add test support for CORS configs"
The router check tool currently does not support input/validation of [CORS properties](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-corspolicy), which can result in a longer development/testing cycle for those looking to validate CORS changes.

This issue is a feature request to add support for validation. Ideally the implementation woul

[2020-06-08 18:07] LisaLudique opened #11502 "router check tool: support coverage for routes with runtime set to 100%"
The router check tool tests for runtime by treating the runtime setting as enabled when the `random_value` field is less than the fractional percentage set in the default fraction for the runtime field. To account for when the numerator was 0 (i.e. runtime disabled by default), the tool treats the route as though the numerator is 1 so that users can test for coverage.

A similar workaround needs t

[2020-06-08 18:57] fredlas commented on #11477
At this point @wgallagher is probably more plugged in here than I am. However, I think there's one bit of important information to share here. When #8974, which would have resolved this, caused the weird obscure hang with that one user, the reporter and I pored over it together for like a week. There was nothing in the behavior of the new SotW code going wrong in any way. Rather, Envoy was simply

[2020-06-08 19:10] nezdolik commented on #10119
Hi @snowp, I would like to fix this issue.

[2020-06-08 19:36] htuch commented on #11477
Yeah, there have been quite a few changes around init manager since then as well. @fredlas @rgs1 would it be easy to validate whether or not a revived #8974 would be safe to merge again? Is there a concrete enough reproducer we can build into a test?

[2020-06-08 20:07] lizan commented on #11426
For upstream TLS the handshake is included in connect_timeout, wondering whether we should do this similarly?

[2020-06-08 20:12] antoniovicente commented on #11426
A longer timeout before handshake starts is appropriate in some cases to allow for TCP prefetches.

[2020-06-08 20:28] mattklein123 commented on #11498
Seems like a warming bug or just a straight up bug. cc @snowp.

[2020-06-08 20:49] AngelaNing97 opened #11504 "Fault injection: active faults not decremented properly after request finishes"
Description:
When using fault injection filters with max_active_faults set, we noticed that we couldn’t inject delays after some iterations. The Admin stats showed that active_faults was larger than the specified max_active_faults, which would stop further fault injection. We expected active_faults to decrement when a request finishes, which was not observed.

Repro steps:
1. Configure a fault fil

[2020-06-08 20:56] mk46 commented on #11383
@jlong4096 Here networks are used to resolve other containers by its name, so no need to use the links. If you want front-envoy will start after service1 then use depends_on instead of links.

[2020-06-08 21:07] ahmetb opened #11506 "examples/front-proxy tutorial is broken"
I'm using Docker for Mac and for some reason the example proxy in examples/front-proxy cannot bind to 0.0.0.0:80 inside the container.

    front-envoy_1  | [2020-06-08 21:04:27.772][7][critical][main] [source/server/server.cc:100] error initializing configuration '/etc/front-envoy.yaml': cannot bind '0.0.0.0:80': Permission denied

`docker run --rm -p 80:80 nginx` works fine.

So it makes me thin

[2020-06-08 21:15] antoniovicente commented on #11398
Envoy has tests to verify behavior when both transfer-encoding and content-length are present.  Moving the code that rejects this kind of request from the parser to Envoy code seems fine.
 https://github.com/envoyproxy/envoy/blob/702a3648273af44408e93ab5e584e2b7e5261f6b/test/integration/integration_test.cc#L377

[2020-06-08 22:06] dio commented on #11506
Hum, I think all examples that bound to 80 need to be updated since: https://github.com/envoyproxy/envoy/pull/11323

Meanwhile:

[code]

[2020-06-08 22:14] ahmetkotan commented on #11506
CMD command runs with envoy user because of [this](https://github.com/envoyproxy/envoy/blob/e8a2d1e24dc9a0da5273442204ec3cdfad1e7ca8/ci/Dockerfile-envoy#L30) configuration. I tried adding to `USER root` to Dockerfile and `user: root` to docker-compose.yaml, but it didn't work because of [this](https://github.com/envoyproxy/envoy/blob/e8a2d1e24dc9a0da5273442204ec3cdfad1e7ca8/ci/docker-entrypoint.sh

[2020-06-08 22:54] snowp commented on #11498
Definitely sounds like a bug, I'll try to reproduce this in an integration test.

[2020-06-09 00:35] #11085 closed

[2020-06-09 00:40] howardjohn opened #11512 "xds v3 regression: spammy EDS/RDS requests only on v3"
After migrating to XDS v3, we see very spammy EDS/RDS requests from Envoy.

When envoy requests v3:

[code]

(logs are from control plane)

When a client requests v2:

[code]

I am pretty sure this issue was present in v2 at some point as well and was fixed, so maybe it somehow isn't on the v3 codepath - not exactly sure though

cc @ramaraochavali @htuch

[2020-06-09 03:16] du2016 opened #11515 "envoy rate limit not work when use_remote_address is true and have no x-forwarded-for header"
envoy config

[code]

test as this,rate limit server not recive any request
[code]

test as this,rate limit server can recive request,and rate limit working right

[code]

why envoy ratelimit working with `use_remote_address` must have `x-forwarded-for` header

[2020-06-09 04:09] mattklein123 commented on #11512
I think this is https://github.com/envoyproxy/envoy/pull/11300

[2020-06-09 04:15] mattklein123 commented on #10108
I think this is no longer an issue with split binary.

[2020-06-09 04:15] #10108 closed

[2020-06-09 09:01] phlax commented on #11506
its the entrypoint which changes the user.

@mattklein123 would you like me to PR to update the examples that expose `80` ?

[2020-06-09 10:02] JonathanO opened #11517 "Assertion failure moving endpoints between priorities"
Given a cluster performing http health checks, change the priority of an existing LocalityLbEndpoints containing at least one healthy host from priority >0 to 0.

This results in:
[source/common/upstream/health_checker_base_impl.cc:265] assert failure: interval_timer_ == nullptr && timeout_timer_ == nullptr.

[Test Case](https://github.com/envoyproxy/envoy/files/4751408/envoy-priority-crash.tar.gz

[2020-06-09 11:48] Ccaomei opened #11518 "Compilation fails"
I use "bazel build //source/exe: envoy -static" commands to compile, tip: fatal: unable to access "https://go.googlesource.com/tools/" : Failed connect to go.googlesource.com: 443;Connection timed out.I found it was Fetching @org_golang_x_tools;Cloning c9f9432ec4b21a28c4d47f172513698febb68e9c of https://go.googlesource.com/tools this link to download the go/tools, my virtual machine can't link to

[2020-06-09 12:46] PiotrSikora opened #11519 "release/v1.14 fails on Windows due to undeclared SO_DOMAIN"
`release/v1.14` started failing on Windows on 6/7 (without any code changes), most likely due to changes in the AZP's Windows CI image (reorganized `include`, etc.):
[code]
It still passes on `master`, and there are no changes between `release/v1.14` and `master` in `include/envoy/common/platform.h`, so I'm not sure where else to look, or how to narrow this down without access to Windows machine.

[2020-06-09 12:51] errordeveloper commented on #11446
For the record, bazelbuild/rules_foreign_cc#407 has been merged and I'll open a PR here to update the dependency.

[2020-06-09 12:55] errordeveloper commented on #11446
Good news: I have built Envoy successfully now, yet with quite a few tweaks, which can be found in my [branch](https://github.com/errordeveloper/envoy/commits/cross-aarch64). I'd like to open a PR at some point, but it would help if someone could help me to resolve some of the underlying issues that I've managed to bypass.

[2020-06-09 12:59] #11446 closed

[2020-06-09 13:15] lazy-always commented on #11273
I am able to get this with "callbacks_->connection().remoteAddress()->asStringView()" but it gives the resolved IP Address. I am looking for the host name instead of IP Address. Any help?

[2020-06-09 14:10] mattklein123 commented on #11519
cc @wrowe

[2020-06-09 14:10] mattklein123 commented on #11506
Sure any fixes to improve the examples appreciated.

[2020-06-09 14:12] htuch commented on #11512
Yes, this is a dupe of #11300, closing.

[2020-06-09 14:12] #11512 closed

[2020-06-09 14:12] htuch commented on #11512
Or, rather https://github.com/envoyproxy/envoy/issues/11267.

[2020-06-09 15:01] abdulsalama opened #11522 "ext_authz config per virtual host"
Description:
Need to apply ext_authz filter to only specific virtual hosts. Currently it applies to the whole ingress.

I currently have it as this:
[code]
The problem is that it applies to all virtual hosts under the same ingress. I want to only apply it to specific virtual hosts. Currently I'm excluding some hosts using the following:

[code]

However, I would like if I can do it such that I app

[2020-06-09 15:28] PiotrSikora commented on #11519
@wrowe but `//source/exe:envoy-static` was building fine on Windows on 1.14 until 6/6:
https://dev.azure.com/cncf/envoy/_build/results?buildId=41469&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=168f295b-0553-5364-35f7-923225ecd8b3
(from #11470)

and it started failing on 6/7 without any code changes:
https://dev.azure.com/cncf/envoy/_build/results?b

[2020-06-09 16:25] htuch commented on #9671
This is obviated by https://github.com/envoyproxy/envoy/issues/11362.

[2020-06-09 16:25] #9671 closed

[2020-06-09 16:28] htuch commented on #11362
There's also another optimization here that the discussion today from @mattklein123 on SotW/delta handling made me think about. If the `GrpcMuxImpl` can do state tracking of versions for all resources, we can skip delivering updates to the EDS subsystem (for example) when there is no change. Arguably, management servers should do this already, but this is a potential optimization to explore if the

[2020-06-09 16:46] marufmax commented on #7007
interested +1

[2020-06-09 16:48] dounan commented on #7007
@RichardSieg @dio can we close this ticket now that https://github.com/envoyproxy/envoy/pull/10110 is merged?

[2020-06-09 16:48] sunjayBhatia commented on #11519
@PiotrSikora I think you are right, it is possible changes to the Windows AZP image have affected this, I haven't been able to see anything specific from this history: https://github.com/actions/virtual-environments/commits/master/images/win

To maintain a consistent build environment we may want to backport the changes to Windows CI that run it in Docker so we are not at the whims of AZP images

[2020-06-09 17:24] PiotrSikora commented on #11519
Sounds good, let's just disable Windows CI on v1.14 branch. See: #11525.

[2020-06-09 17:24] #11519 closed

[2020-06-09 17:32] #7007 closed

[2020-06-09 18:14] dapengzhang0 commented on #11500
@mpuncel What was the thinking when adding `initial_requests`?

[2020-06-09 19:27] bcelenza opened #11527 "Question: EDS + active health check endpoint removal behavior"
Envoy Version: 1.12.3

I'm looking for clarification on the behavior of Envoy when using EDS combined with active health checks. I'm observing behavior highly similar to what was fixed in #6765, but having trouble reasoning about why this is the intended behavior.

The specific issue I'm observing is an extended period of time after which an endpoint is removed via EDS in which Envoy continues to

[2020-06-09 19:38] htuch commented on #11362
Tagging for collection in https://github.com/envoyproxy/envoy/issues/10943

[2020-06-09 19:38] htuch commented on #10875
Tagging for collection in https://github.com/envoyproxy/envoy/issues/10943

[2020-06-09 19:40] htuch commented on #10776
Tagging for collection in https://github.com/envoyproxy/envoy/issues/10943

[2020-06-09 19:40] htuch commented on #10609
Tagging for collection in https://github.com/envoyproxy/envoy/issues/10943

[2020-06-09 19:40] htuch commented on #9479
Tagging for collection in https://github.com/envoyproxy/envoy/issues/10943

[2020-06-09 20:12] alyssawilk opened #11528 "Share code between TCP and HTTP connection pools"
It'd be good if we didn't have to implement features twice as we add things like prefetch logic.

[2020-06-09 20:14] lizan commented on #11522
cc @yangminzhu we discussed something like this

[2020-06-09 20:30] snowp commented on #11504
Do you see this issue when only configuring a single fault filter? I'm not sure if the multiple fault filter situation is well tested so I my initial suspicion is that something odd is at play there.

[2020-06-09 21:02] gkleiman commented on #10602
@mattklein123 / @tonya11en:
I verified that https://github.com/envoyproxy/envoy/pull/11252 has the desired effect in Lyft's infra during a squeeze/red line test.

The patch makes the Least Requests LB use the following formula to calculate the host weights when hosts have different weights:

`weight = host.weight() / host.active_requests()^<active_requests_exponent>`

When `active_requests_exponen

[2020-06-09 21:14] tonya11en commented on #10602
Sounds like a good approach to me. Update the draft PR with these changes and I'll take the first few passes on the PR.

[2020-06-09 21:55] ericychoi opened #11531 "ext_authz service response code in DeniedHTTPResponse not honored"
*Description*:
It seems that no matter what I pass in `DeniedHTTPResponse.Status.Code`, what's specified in `status_on_error` overrides it and return it whether it's network related error or explicit denial set like
[code]

Is this an expected behavior?  If not how do I make envoy return the right http code?

I tested this with `envoyproxy/envoy:v1.14-latest` as of today.

[2020-06-09 22:14] ericychoi commented on #11531
this is actually due to an unrelated issue.  closing

[2020-06-09 22:14] #11531 closed

[2020-06-09 23:55] htuch commented on #11267
Tagging for https://github.com/envoyproxy/envoy/issues/10943

[2020-06-10 00:23] rauljordan commented on #6110
Bump on this, interested in having this feature!

[2020-06-10 03:20] mattklein123 commented on #11527
By default, yes.

Yes. Those are very extreme health check settings. I don't recommend them.

You can either configure `ignore_health_on_host_removal`, or send a double update where you first set the host health state to UNHEALTHY and then remove it.

See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discovery#on-eventually-consistent-service-discovery. Basically

[2020-06-10 03:22] mattklein123 commented on #11517
cc @snowp

[2020-06-10 03:46] cbrisket opened #11532 "[bug] Client x-request-id Mangled by RequestIdExtension::setTraceStatus"
### Description

When providing an x-request-id header in the request (rather than have it injected by Envoy), a UUID has its 14th byte modified. This results in a different UUID than provided by the caller, breaking the x-request-id passed along a call chain.

At a cursory glance, I believe the code is here:
[request_id_extension_uuid_impl.cc](https://github.com/envoyproxy/envoy/blob/master/sourc

[2020-06-10 04:23] stepupit-work opened #11533 "Question: How to redirect request to second server on first server unavailability"
Hi Team,
My requirement is that hit first server for request if that server is unavailable then redirect same request on another server (back-up server).

Can you provide if this functionality is supported in envoy?

[2020-06-10 06:49] tomocy commented on #9840
Is anyone working on this?? If none, I'll tackle this.

[2020-06-10 07:05] tomocy opened #11535 "style: use type aliases instead"
Description:
There are several uses not following Envoy type alias style.
I've found those below so far.

- `std::unique_ptr<ScopeKey>`
- `std::unique_ptr<SnapshotImpl>`
- `std::unique_ptr<NullVmPlugin>`
- `std::unique_ptr<Configuration::FilterChainFactoryContext>`
- `std::unique_ptr<NullVmPlugin>`
- `std::shared_ptr<Network::DrainableFilterChain>`
- `std::shared_ptr<FilterState>`
- `std::shared_p

[2020-06-10 08:32] apoorv-beeq commented on #6573
@joseluisq, could you help me with the configuration as I'm trying to use envoy for forwarding data from http://example.com to https://example.com

[2020-06-10 09:22] #10950 closed

[2020-06-10 09:33] kumaranshu72 commented on #7738
@mmahimtura Can you please help me out. I am facing the same issue.

[2020-06-10 15:06] mattklein123 opened #11538 "http2_integration_test flood test flake"
I've seen this a few times in CI:
[code]

[2020-06-10 23:41] kyessenov opened #11547 "Proposal: add config blob discovery"
This proposal is to add a generic Blob Discovery Service that allows the control plane to push arbitrary data blobs and keep them up to date without an update churn using resource versions. The motivation is Wasm extension files which are realistically on the order of MBs. The current solutions have many issues:
- inlining MB sized binaries in LDS/RDS config is problematic and can cause head-of-li

[2020-06-11 01:20] mandarjog commented on #11547
+ ADS can order BDS ahead of LDS that use them avoiding warming all together.

@jplevyak @PiotrSikora @htuch

[2020-06-11 01:36] kyessenov commented on #11547
@mandarjog Yeah that's true. We can treat warming similar to LDS/CDS interaction where listener awaits until the cluster is pushed in the state-of-the-world. I was initially thinking of LDS/RDS interaction where listener requests a particular route instead.

[2020-06-11 01:50] kumaranshu72 commented on #7738
@bitsmaker Tried the above No success.
On checking envoy logs i am getting following error.
`TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER`

[2020-06-11 02:37] rogchap commented on #10514
We are experiencing the same issues, but also note that it seems to effect certain versions of Windows 10 and Internet Explorer/Edge (pre Chromium versions) as well as Safari.

@engineerdev 's fix to enable ALPN for HTTP/1.1 does indeed work; but requests are now forced to use HTTP/1.1 even when HTTP/2 is available; so this workaround is not a long term solution.

You may want to downgrade to Envo

[2020-06-11 02:42] #11096 closed

[2020-06-11 02:49] ericandrewmeadows opened #11549 "Envoy is blocking all OPTIONS, PUT, etc"
We are having issues with Envoy Proxy, where all OPTIONS requests are getting blocked, with the side-effect of reporting possible CORS issues when using `fetch` in JavaScript.  Could there be an issue with the config (we are using Istio, and Envoy is the proxy)?

[code]

[2020-06-11 02:52] ericandrewmeadows commented on #11549
The issue presents itself in the Envoy logs as follows:
[code]

[2020-06-11 06:49] instigardo opened #11551 "Getting permission denied on latest dev image for access logs"
[code]
When the envoy-dev container is started it gives out following error, can someone help out here.
[code]

Image: envoyproxy/envoy-dev:92e608f066b017d664d8fa161cfc735f0c6b41e7

[2020-06-11 08:47] dio commented on #11551
This is related to the change introduced in #11323. I think you can either let the `envoy` user have access to `/dev/stdout` or set `ENVOY_UID=0` when running the container.

[2020-06-11 09:10] instigardo commented on #11551
Great! thanks @dio

[2020-06-11 10:39] instigardo opened #11552 "HTTP code 404 from proxy after CONNECT with No Response"
Below is the referred egress configuration, am I missing something here

[code]

[2020-06-11 13:36] htuch commented on #11547
I think a blob discovery service is a great idea! I've long thought SDS should look more like this. Let's do it.

Re: warming, the problem with pushing BDS ahead is the proxy needs to be ready to receive it. In general, unless this is a SotW API, we expect that clients are free to ignore updates for resources that they don't have a reference to in their DAG, CC @markdroth

[2020-06-11 13:50] PiotrSikora commented on #11547
I thought that the main difference between BDS and SDS was that BDS was supposed to push resources ahead of time via ADS, whereas SDS requires proxy to explicitly request and subscribe to them.

If we're going to subscribe to resources and warm listeners, then this is literally SDS (unless I've missed something), so why not just us that?

[2020-06-11 13:55] htuch commented on #11547
If you want to do that, you are going to have to make BDS a SotW API which is subscribed to with wildcard (i.e. it's similar to LDS or CDS). Otherwise the xDS transport does not guarantee that a client will retain the resources.

[2020-06-11 13:56] htuch commented on #11547
Also, IMHO SDS is way too complicated and should be deprecated in favor of a simpler mechanism like BDS. It conflates transport level delivery of resources to the proxy with a bunch of rigid interfaces around certificate management.

[2020-06-11 14:00] PiotrSikora commented on #11547
@htuch I don't care too much one way or the other, but I'm confused how BDS with subscription is different and/or simpler than SDS.

[2020-06-11 14:10] htuch commented on #11547
SDS is packing together a bunch of resources, e.g. certificate chain, private key, and having to unpack them and then coordinate watches across on the filesystem, e.g. https://github.com/envoyproxy/envoy/blob/master/source/common/secret/sds_api.cc#L63 and https://github.com/envoyproxy/envoy/blob/master/source/common/secret/sds_api.cc#L133.

I think we should have just a general purpose way of push

[2020-06-11 14:24] mattklein123 commented on #11547
Overall I'm supportive, but I think there is some intentional overlap with https://github.com/envoyproxy/envoy/issues/7867, as I assume you implicitly want to update WASM code out of band from everything else (and possibly share it between multiple filter chains).

Can we please do a design doc to make sure we think through all of the various cases including potentially using this for SDS?

[2020-06-11 14:32] mattklein123 commented on #11549
This response is coming from your upstream, not Envoy (see upstream_service_time). I'm fairly sure we don't block OPTIONS requests (cc @alyssawilk). Maybe you want to use the CORS filter?

[2020-06-11 14:33] alyssawilk opened #11553 "clean up integration test teardown"
See comments on https://github.com/envoyproxy/envoy/pull/11542

[2020-06-11 14:39] htuch commented on #11547
+1 on design doc. The way I think of this is that we're providing essentially a way for the management server to tell a proxy what blobs it might be interested in, essentially populating a virtual filesystem on the proxy. Then we can have any API, via a DataSource, refer to these blobs.

This is very simple for SotW, but I think considering what would be needed for on-demand is worth doing. Becaus

[2020-06-11 14:42] instigardo commented on #10756
I tried using the above approach but I keep on getting 404 for https requests
[code]

[2020-06-11 14:55] #11383 closed

[2020-06-11 15:27] kyessenov commented on #11547
Thanks for the feed. Yes, I am aware of the connection to filter config discovery service. I can imagine having FCDS working for Wasm would also solve the motivating problem. I am not entirely sure which way is better. Both have general advantages.

[2020-06-11 15:54] mattklein123 commented on #11547
My only main comment on this point would be that I know we need FCDS for a ton of different use cases. So if FCDS solves the problem it might be a better use of limited engineering resources.

[2020-06-11 16:07] ericandrewmeadows commented on #11549
@mattklein123 - how can you tell it's upstream?  We've had a hard time debugging this issue.  Also, we tried CORS filtering, but it isn't taking at the moment - Istio just drops it when we add it to the config.

[2020-06-11 16:08] pjulien commented on #11259
@mattklein123 /cc @postwait

After looking at the code, it seems that the `gRPC` code for metric sinks only allows pushing out data to providers.  I would like to add another `stats_sinks` or should I say "stat sink" similar to what was done for `Prometheus`.  The reasoning behind this is to allow custom polling by customers:

1. In most scenarios, the URL in the admin page would be hit every minu

[2020-06-11 16:15] alyssawilk commented on #11549
Above Matt mentioned upstream service time - that indicates Envoy did forward the request to an upstream.

You could also try checking out https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses for how to get more detail in your logs (either error log or per-request logs)

[2020-06-11 16:55] mpuncel opened #11556 "Inconsistencies in gRPC stats"
I'm looking into how an application can leverage Envoy stats to measure an SLO in terms of the ratio of "successful" requests to "failed" requests. The service I'm currently looking at supports both HTTP and gRPC for the same logical endpoint.

The first stat I looked at was the `downstream_rq_5xx` one, thinking that it might also include requests with a gRPC status code that maps to an HTTP 5xx c

[2020-06-11 17:20] costinm commented on #11396
And ideally an incremental approach/implementation: we can start with just adding a Resources[] entry to DiscoveryRequest.

Maybe also expose a way for WASM/modules to initiate sending of such DiscoveryRequest and getting back the associated DiscoveryResponse.

[2020-06-11 17:35] #11320 closed

[2020-06-11 18:09] kyessenov commented on #11547
Unless there's an objection, I'm in favor of pursuing filter config discovery service instead. Wasm requires a VM per config instance, so that puts a reasonable upper bound on the number of different configs (roughly, the bound is ~1K VMs which is an upper bound of possible configs to be shipped). Ultimately, it's more natural to map user input (config) to a unit of edit in Envoy xDS tree.

[2020-06-11 18:25] jmarantz commented on #11109
@alyssawilk FYI

[2020-06-11 18:39] nicktrav opened #11558 "TLS server_name value is missing, breaks SNI based routing"
*Description*:

We are using Envoy (via Istio) as a TCP proxy, using SNI-based routing and observe occasions where TLS connections are established to incorrect upstreams.

*Repro steps*:

Unfortunately, we do not have a clear reproducer, as this happens seemingly randomly (5-30 mins between instances). We observe consistent pattern when it _does_ happen, though.

We have been able to correlate the

[2020-06-11 19:19] mattklein123 commented on #11547
+1 to pursuing FCDS. We need this for quite a few different use cases at Lyft moving forward and can help out. cc @wgallagher @gkleiman @tonya11en @LisaLudique

[2020-06-11 19:36] zhishi opened #11560 "Misuse of runtime_fraction and is there a better alternative?"
_Description:_

We encountered a traffic problem recently which is caused by `runtime_fraction`. Basically We want to split traffic among three endpoints groups, which are from same upstream cluster. The endpoints group is identified by endpoint metadata. For example, we want to split traffic as: `"group1": 5%, "group2": 5%, "group3": 90%`. So we use three routes with different matching rules, whi

[2020-06-11 21:01] #11538 closed

[2020-06-11 21:26] mattklein123 commented on #11259
If you want pull behavior, a new admin handler seems right. Note that custom admin handlers can be added by extensions, including stat sinks. See the hystrix extension for example. cc @jmarantz in case he has any additional thoughts on this.

[2020-06-11 21:36] pjulien commented on #11259
Thank you @mattklein123 .  I'll check the extension out and proceed as outlined unless someone objects.

[2020-06-11 21:42] lizan commented on #7738
@kumaranshu72 likely you have a different issue, can you open a new GH issue with your config/logs as detail as possible?

[2020-06-11 21:49] lizan commented on #10756
How did you make your request? The config above requires `X-Host-Port` header.

[2020-06-11 21:50] mpuncel commented on #11556
I think this is a dupe of https://github.com/envoyproxy/envoy/issues/5720 actually, which I forgot I filed!

[2020-06-11 22:15] lxnch commented on #10927
can someone please answer if this a 'bug' or a 'feature' to set some expectations? it's really a weird behavior to filter prometheus metrics endpoint using statsd metrics names.

[2020-06-11 22:43] sunjayBhatia commented on #11298
See https://github.com/envoyproxy/envoy/pull/11565 for some a solution to this issue and some commentary on alternative solutions; please review and provide feedback on the approach we have taken and alternatives considered

[2020-06-12 00:30] eselkin commented on #10514
Yes, issue in Safari is resolved in 1.14 with @engineerdev 's alpn_protocol options, but IE/edge still has issues with the same setup.

[2020-06-12 05:34] mandarjog commented on #11547
FCDS is solving the general motivating problem, however it is not able to share the most expensive part of the config directly. For example if we have same config and Wasm bits but 50 different vmids, proxy will request essentially the same thing 50 times.
FCDS is yet to be designed so we can ensure that this part it optimized.

As an example: in a small istio deployment with 50 proxies,  the full

[2020-06-12 07:03] instigardo commented on #10756
I used the following curl request

```curl --header "X-Host-Port: www.google.com" http://envoy:10000```

[2020-06-12 07:52] #11063 closed

[2020-06-12 08:52] #11059 closed

[2020-06-12 09:52] #10864 closed

[2020-06-12 09:58] lizan commented on #10756
@instigardo it seems it's yahoo returning a 404 when the host is containing port, i.e.

`curl --http1.1 -v --header "Host: www.yahoo.com:443" https://www.yahoo.com:443` does return 404.

[2020-06-12 13:31] irozzo-1A opened #11569 "Support tunneling TCP over HTTP/2 behind HTTP proxy"
Description:

#1451 enables the usage of envoy to tunnel raw TCP over HTTP/2. I would like to use this feature in a scenario in which the tunnel should pass through an HTTP proxy (supporting HTTP/1.x CONNECT). This would mean that I would need "double tunneling", something like:

[code]

I know HTTP/1.x connect are not supported yet (i.e. #11308), but I would like to have an early feedback about t

[2020-06-12 14:34] kyessenov commented on #11547
@mandarjog Could we make it that Wasm filter reads VM_ID from other places, too? I think the number of 50 comes from tenants in your cases, and they are probably segregated by listeners. We could make the Wasm filter read a listener property to determine which VM_ID to use.

[2020-06-12 14:43] mattklein123 commented on #11547
I think it's possible that we could build a config sharing (reference) system into FCDS, but yes this needs to be thought through. I'm not sure what the "WASM cache" is and how it relates to this.

[2020-06-12 14:58] mattklein123 commented on #10927
It's a bug.

[2020-06-12 14:59] mattklein123 commented on #11556
Yeah I agree it would be nice to be consistent here, but honestly, this is very confusing so I think we will need a concrete proposal that takes into account the new gRPC stats filter.

[2020-06-12 15:00] mattklein123 commented on #11569
cc @alyssawilk

[2020-06-12 15:52] mandarjog commented on #11547
Wasm cache is something that we added to envoy-wasm while this solution is being worked out. During creation of a vm an in memory cache is checked to see if the bit are already downloaded. If the sha matches then we don’t download it again. This means that as long as the same wasm bits/sha is used it will not be carted around repeatedly.

https://github.com/envoyproxy/envoy-wasm/blob/cc7b50f6fe65a

[2020-06-12 16:33] mpuncel opened #11572 "DownstreamConnectionTermination (DC) response flag not set for gRPC"
The DC response flag signifies that the downstream disconnected or cancelled the connection or request and is very useful for understanding what happened to certain requests via access logs.

It's currently set with this logic:
[code]

The problem for gRPC is that we may have seen the 200 HTTP response code already, but a cancellation can happen later while receiving the body/trailers.

Proposal:

[2020-06-12 17:52] #11018 closed

[2020-06-12 18:38] rgs1 opened #11573 "locality zone name is looked up often when running with --use-fake-symbol-table 0"
When disabling the fake symbol table, I see the following:

[code]

Note: those numbers aren't going up _that_ fast, it's a few thousand every couple of seconds. Also, it doesn't show up in CPU/mem perf profiling. But it might still be good to clean it up.

What we probably want is to avoid creating a new `Stats::StatNameManagedStorage` every time a `HostDescription` instance is constructed:

http

[2020-06-12 20:21] ggreenway opened #11574 "`--define google_grpc=disabled` does not work when `envoy.tracers.opencensus` is included"
bazel option `--define google_grpc=disabled` has no effect when extension `envoy.tracers.opencensus` is included.

This was introduced in #9877. In the BUILD file for `opencensus_tracer_impl`, `//source/common/grpc:google_async_client_lib` was added as a dependency without wrapping it in `envoy_select_google_grpc`. This causes `google_grpc` to be included in the building.

[2020-06-12 20:23] ggreenway commented on #11574
@bianpengyuan Could you take a look at this please?

[2020-06-12 22:32] moderation commented on #11574
Not sure if this is related but I see possibly related behavior as per https://envoyproxy.slack.com/archives/C78M4KW76/p1589215395353700. I do have the OpenCensus extension enabled.

[2020-06-12 22:35] ggreenway commented on #11574
Yes, I think it's the same issue.

[2020-06-13 07:16] kumaranshu72 opened #11582 "Unable to connect TLS with envoy"
I have a GRPC Web client and a GRPC Server and I am using envoy proxy from the conversion of HTTP 1.1 to HTTP2.

My server creation Logic uses TLS. The code is as follows:

[code]

I am calling the From my react client as follows:

[code]

The envoy.yaml is as follows:

[code]
The Dockerfile for envoy is as follows:

[code]
I am getting the following error when:

`{code: 2, message: "Http response

[2020-06-13 07:17] kumaranshu72 commented on #7738
@lizan created a new issues https://github.com/envoyproxy/envoy/issues/11582

[2020-06-13 07:28] arun11299 commented on #4589
If anyone is still interested, the use of BIO_f_base64 in cpp-jwt has been removed.

[2020-06-13 08:12] #11080 closed

[2020-06-13 21:12] #10318 closed

[2020-06-14 22:16] smijolovic opened #11586 "Can envoy support a build process without bazel?"
cmake/make
go build

There are common ways to build binaries, and bazel is an absolute nightmare with legacy dependencies abound and a slew of unnecessary inclusions for specific project needs.

Can we please get a more security focused and simpler method to build code with the compilers for the appropriate code and a true list of necessary dependencies vs these bloated build environments that do

[2020-06-15 01:38] jmarantz commented on #11573
on it

[2020-06-15 02:57] columbus9963 opened #11587 "Envoy occasional 504s but the upstream response 200"
## Description
I'm using envoy 1.10.0 as my front edge and nginx as the backend, h2 downstream and http1.1 upstream. I notice that the 504 requests appear batchly over weeks while the nginx upstream response 200. using elk for access log collecting.
* a sample access log with same request id
![image](https://user-images.githubusercontent.com/57693768/84609807-f38e7000-aeea-11ea-90f5-4d4561a6c783.p

[2020-06-15 03:29] ramaraochavali commented on #11079
no stalebot

[2020-06-15 12:42] jmarantz commented on #11573
This turns out to be a little messier than anticipated. @rgs1 suggested above we could store a map in the PriorityStateManager, but is one of those always available when we make HostDescriptionImpls? I started to make that change but found the fanin of contexts growing. I'll take a look more later with fresh start.

Also, I think as @rgs1 observed this is not really mission-critical because these

[2020-06-15 14:06] ajoysinha opened #11592 "EnvoyFilter [ lua filter ] is not printing log on console"
This is not an issue but a question.

I am new in this field. Trying to implement lua filter with OPA [ open policy agent and istio ]
to implement a simple poc, i have created following following filter.

[code]

When i am executing my api I am able to get the updated header value in output. [ seems lua filter is invoked in filter chain ]

but my problem is, i am not able to find the log “envoy_on

[2020-06-15 14:31] howardjohn commented on #11120
Its not just the SDS cluster being inactive, the SDS cluster could be active but not return any secrets

[2020-06-15 15:25] mattklein123 commented on #11586
We will not support a non-bazel build system. I would suggest following up with Bazel if you have Bazel specific feature requests and if there are specific things we can improve on the Envoy side feel free to open issues here.

[2020-06-15 15:25] #11586 closed

[2020-06-15 15:56] clarakosi opened #11593 "Proposal: Add dynamic metadata to rate limit actions"
**Description**: Currently to pass information from the dynamic metadata to the rate limit actions one would need to use the Lua filter to append a header with the relevant information. Instead, it would be more useful to be able to use the dynamic metadata directly as one of the actions of the rate limiter.

The action can follow the current MetaData schema[1] to get the value:

[code]
key: The k

[2020-06-15 15:59] htuch commented on #11592
What log level do you have configured?

[2020-06-15 16:03] ajoysinha commented on #11592
I haven't specifically configure any log level, [  I also don't have idea where to set :) ]  but did try to log with Error / Debug / Info all .. it didn't log for any one.

[2020-06-15 16:05] htuch commented on #11587
@mattklein123 any thoughts?

[2020-06-15 16:06] nicktrav commented on #11558
cc: @lizan @PiotrSikora for triage on the TLS side of things

[2020-06-15 16:07] htuch commented on #11593
Seems reasonable functionality; how will a value in the action be interpreted?

[2020-06-15 16:10] htuch commented on #11582
You probably want to set an upstream TLS context if your server is using TLS.

[2020-06-15 16:21] clarakosi commented on #11593
I think we can interpret it the same way we interpret the values from the other actions.

[2020-06-15 16:27] mattklein123 commented on #11587
No quick ideas. The version of Envoy you are using is very old. Please upgrade and see if the issue still occurs. In general it is possible for there to be a race in which the upstream responds with 200 but Envoy still times out.

[2020-06-15 18:08] davidraskin opened #11594 "Proposal: Add LOG action to RBAC filter"
@liminw @yangminzhu

_Description:_

I’m proposing to add a new ‘LOG’ action to the RBAC filter API to choose whether to log requests based on permission and principal information. Based on the decision, a key-value pair can be set by the RBAC filter and later read by other filters to determine whether they should log a request. This makes it very flexible for access loggers and custom telemetry b

[2020-06-15 18:57] toddmgreer commented on #10021
Currently, we don't cache responses without cache-control headers, but when we start caching responses with cacheable-be-default status codes and no cache-control headers, we need to make sure "pragma: no-cache" is treated the same as "cache-control: no-cache". Note that any other "pragma" headers should be ignored.

[2020-06-15 19:02] Pchelolo opened #11595 "Proposal: support for dynamic rate limits"
### Rationale

Wikimedia Foundation is going to adopt envoy as an API Gateway. One of the features we are interested in is rate limiting. In our design, it is a fundamental property of the API that requests are rate limited differently based on who is making the request. Specifically, they stipulate that we will rate limit on a client ID basis, where clients are grouped into classes that share a c

[2020-06-15 19:52] yosrym93 commented on #10021
Needs to be implemented after #9833 , as currently cache-control request headers are not checked.

[2020-06-15 20:42] mattklein123 opened #11596 "Formalize policy and removal of exclusionary language from Envoy"
We should formalize our policy around exclusionary language in Envoy in the contributor guide. In recent times these have all been commented on in code review in an ad-hoc way, but we should make it explicit in the contributor/review guide. This includes not allowing the following phrases:
- master/slave (use primary/replica instead)
- blacklist (use deny list instead)
- whitelist (use allow list

[2020-06-15 21:31] moderation commented on #11596
RocketMQ network filter needs replica change too.

[2020-06-15 21:55] mattklein123 commented on #11572
I think this is the same problem for HTTP though, right? So it seems like potentially this is a larger issue in which downstream disconnect needs to be tracked in a more explicit way?

[2020-06-15 23:38] mattklein123 commented on #11595
This makes sense to me and seems like a fine way to approach this problem.

The only question I have is what should the behavior be if the rate limit service gets different override limits for the same key? I guess it would just be eventually consistent and/or use whatever override limit key is provided so it's probably fine?

cc @junr03 in case he has any other thoughts.

[2020-06-16 00:53] htuch commented on #11593
SGTM, should I assign this to you?

[2020-06-16 02:27] columbus9963 commented on #11587
ok, I'll try it in V1.14.2 later to see if this occurs

[2020-06-16 05:42] utsav-dbx opened #11599 "Proposal: Request Durations in Load Stats Reporting"
I'm pretty new to Envoy, so apologies in advance if this is a silly question.

Envoy's load stats reporting currently reports useful metrics like [total_successful_requests](https://github.com/envoyproxy/envoy/blob/570f7ac553e64206193d64952bf8d4a72b76e49c/api/envoy/config/endpoint/v3/load_report.proto#L36) and `total_requests_in_progress`. I'm looking to implement a server that can estimate the lo

[2020-06-16 10:17] irozzo-1A commented on #11308
I opened this issue #11569, which is related to this feature request. I would gladly propose my help to implement it.
Disclaimer, I have not lot of experience with C++ and Envoy code base so it may take some time, but I've plenty of motivation ;-). WDYT @alyssawilk @mattklein123 ?

[2020-06-16 13:16] alyssawilk commented on #11587
Also see https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses - if you add details to your log it should give you more information as to why Envoy is sending the response it is sending :-)

[2020-06-16 13:20] alyssawilk commented on #11569
Why would you need double tunneling?   Could you simply have the middle proxy forward the connect on untouched?  Envoy at least supports incoming CONNECT being sent as outbound CONNECT, at which point you could just encapsulate your TCP in a CONNECT request at the front proxy, forward it through the middle one, and terminate the CONNECT at the last one in line.

[2020-06-16 13:28] clarakosi commented on #11593
Yes, thanks!

[2020-06-16 13:32] htuch commented on #11599
I think it's totally reasonable to add this to LRS, I'd recommend trying to leverage what we have in stats (or plumbing new ones), since LRS basically builds on this, e.g. https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/load_stats_reporter.cc#L85.

The main issue you'll encounter is that you want the stats such as average request time to be only for the reporting period, whi

[2020-06-16 13:35] alyssawilk commented on #11308
Feel free to give it a shot!  It shouldn't be too bad with the HTTP/2 code and tests to model off of :-)

[2020-06-16 14:45] htuch commented on #11592
Do you have the same problem if you try this with standalone Envoy and console logs (which can be controlled with `-l <loglevel>`, rather than when integrated with Istio?

[2020-06-16 14:47] irozzo-1A commented on #11569
Thx @alyssawilk for your reply. This setup would be needed in environments where we don't have the hands on the middle HTTP proxy, that could be anything e.g. Squid, Bluecoat proxies, Fortigates, etc. The advantage is that it would be transparent to the middle HTTP proxy and wouldn't require any specific configuration on it.
I agree that having full control on the environment would make it easier.

[2020-06-16 14:48] irozzo-1A commented on #11308
Ok thx I will give it a try. I will let you know if I encounter any issue.

[2020-06-16 15:04] ajoysinha opened #11602 "Null / nil response is getting for invoking OPA from lua filter"
This is a issue related with lua filter and open policy agent implementation. I am trying to implement OPA and lua filter togeather.

[ I have already successfully implement lua filter with envoy.ext_authz filter successfully ]

But when I am trying to integrate lua filter with OPA, OPA is called but not getting any response back in response_body in following code .

[code]

Getting following erro

[2020-06-16 15:08] ajoysinha commented on #11592
Thanks .. Fortunately I have found that only **request_handle:logCritical** is writing on log. not the other ones .. i am sure that this is standard logging configuration, but i don't have any clue how to do it..

[2020-06-16 15:18] mattklein123 commented on #11560
I think in general we want people to use weighted clusters for this, but I'm not sure if this works with the subset LB which I think you are using? cc @snowp @zuercher

[2020-06-16 15:19] snowp commented on #11560
Yeah weighted cluster seems like a better option here, it seems like it has support for specifying `metadata_match` per cluster so it should work with the subset lb

[2020-06-16 16:03] utsav-dbx commented on #11599
@htuch do you think it's feasible to send something like the p50, p75, and p95 request times? I see no way to `latch` a histogram value, but might be missing something.

[2020-06-16 16:11] mk46 commented on #10173
@kota65535 IMO, You need to configure fault injection filter for that service only where to inject failure. Could you Please explore a little bit more about the scenario ?
Is envoy configured as a sidecar for external service or something else?

[2020-06-16 16:37] pete-thecat opened #11605 "Question on using RBAC and JWT http filters"
Following the example (https://github.com/envoyproxy/envoy/issues/7913) I have the filters listed below. But is seems that the JWT is not getting parsed as I do not end up with anything in dynamicMetadata (see logs below config.)  The payload_in_metadata is supposed to put the JSON parsed JWT **if verified**. Because I am not seeing the text in the log and rbac is failing I am assuming that verifi

[2020-06-16 17:04] mattklein123 commented on #10921
In looking at this again this looks like an OOM so I'm going to close. If you have a self contained repro please let us know.

[2020-06-16 17:04] #10921 closed

[2020-06-16 17:48] #10806 closed

[2020-06-16 17:55] lambdai commented on #11569
I am adding pluggable backend to tcp proxy, so potentially you could have additional control on terminating raw TCP at L2 Envoy.

I feel the double tunnel is extremely complex. I see your point but it's likely be supported by your own extension using the pluggable framework.

My PR on the pluggable tcp proxy backend will be create today. Now I am examples how it could be used and the compatibility

[2020-06-16 19:52] htuch commented on #11599
Yeah, you'll have to reconcile the histogram on the main thread, since this isn't an atomic integer that can be latched. @jmarantz do you know the best place to snapshot some percentile integers for histograms on the main thread for periodic reporting purposes?

[2020-06-16 20:34] jmarantz commented on #11599
@ramaraochavali might know better, but I think you can get this today by polling the 127.0.0.1:ADMIN_PORT/stats?filter=HISTOGRAM_NAME and then parsing the output.

This can also be done internally via the adminRequest API, though you could probably plumb through a more convenient API that didn't require serializing an ad-hoc format to a string and then parsing it.

[2020-06-16 21:29] htuch commented on #11599
The idea is to integrate this into the LRS stream, so polling admin is not the right solution.

[2020-06-16 21:38] htuch commented on #11396
Also related to #9447

[2020-06-16 22:10] qiwzhang commented on #11605
A couple errors in your jwt_authn config:

1) Following lines:
[code]
mean it will try to find TOKEN as following:
[code]
If your TOKEN is in default location "Authorization: Bearer ",  just remove them, use default locations. Or you have to specify value_prefix as
[code]

2) following two lines are conflicting each other
[code]

`forward: true` means to forward the original token header as it is.

[2020-06-16 23:22] htuch commented on #11602
@ajoysinha sorry, I'm revealing my ignorance here, what is OPA?

[2020-06-16 23:23] htuch commented on #11605
@qiwzhang any thoughts on this one?

[2020-06-16 23:34] costinm commented on #9447
IMHO xDS acts very close to a pubsub system: you subscribe to a topic (typeURL) and get some messages.

Instead of introducing a 'delayed NACK' concept - which I agree would be quite complicated - we can just define a new resource type - '.../config_status' or '/nacks' - and have envoy ( or any XDS client ) publish on the topic, assuming that #11396 is accepted.

The nice thing about treating it a

[2020-06-17 00:33] ghostsquad opened #11610 "JSON Application Logs"
Description:

Support JSON log output for the envoy application logs (not just access logs, like in #4693

[2020-06-17 00:58] jmarantz commented on #11599
I'm not familiar with the LRS stream, but the way histograms work the data
will be collected across multiple threads and the values sent to a callback
on the main thread. The adminRequest API packages that for you. Http
requests do not need to be involved if you are doing this from within the
process.

On Tue, Jun 16, 2020, 5:29 PM htuch <notifications@github.com> wrote:

[2020-06-17 02:08] liminw commented on #11594
@mattklein123

[2020-06-17 02:34] utsav-dbx commented on #11599
So it seems like the most correct behavior would be:

When the load reporting timer goes off, we should dispatch an event to the main thread to take a snapshot of all histograms (and clear them), then dispatch an event (with some data) so a worker thread can take the frozen histograms, and process rest of the data. On those lines, we probably need to add a method to `upstream_impl.h` since it has

[2020-06-17 03:39] mattklein123 commented on #11594
Sorry can you explain more what this is going to do exactly? Is it going to set dynamic metadata? Is it going to set a flag in stream info that we can filter on? Etc.

[2020-06-17 04:27] #2778 closed

[2020-06-17 04:28] mattklein123 commented on #7917
@kyessenov can we call this done or is there more to do here?

[2020-06-17 04:30] dsymonds commented on #7272
Are you sure it isn't already working? I'm finding that gRPC client-set metadata (passed as headers) gets through to our ext_authz service, appearing as regular HTTP headers. I'm using Envoy v1.14.2.

[2020-06-17 04:34] mattklein123 commented on #11552
cc @alyssawilk

[2020-06-17 06:31] oblazek commented on #10921
That doesn't sound right.. we are running envoy on a baremetal machines with approx 192GB RAM and the whole system including envoy is consuming around 10GB so not sure how this can OOM.

[2020-06-17 06:35] ajoysinha commented on #11602
@htuch extreamly sorry for using short form .. I was mentioning about "open policy agent" [OPA] in this context.
Trying to configure "open policy agent" with Envoy Lua filter.

[2020-06-17 09:59] pete-thecat commented on #11605
Thank you @qiwzhang for the detailed explanation. I have made the recommended changes
- remove forward_payload_header.
- removed from_headers
  - I also tried adding the value prefix, but as you mentioned, since I am using the standard, I just removed that config.
There was no change in behavior. FYI, I forgot to mention that I am using version 1.13.1.

[2020-06-17 13:14] alyssawilk commented on #11552
connect is rejected by default and must be explicitly configured on.
Please see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades

I'll also go add a section to the Envoy FAQ on this since I think the 404 is easily confusing :-/

[2020-06-17 13:20] jmarantz commented on #11599
IDK about clearing them. If you want to capture deltas can you just keep your own state for previous values and compute deltas?

From a flow perspective, start by looking at

https://github.com/envoyproxy/envoy/blob/ad9245b99abbcd74b67b4d37006446cbbb4f9f54/source/exe/main_common.h#L65

Then via the admin stats infrastructure, that ultimately calls:

https://github.com/envoyproxy/envoy/blob/ad9245b

[2020-06-17 13:20] alyssawilk commented on #11552
Gah, that was explained badly.  Connect requires specific matchers (as it's generally path-less)  - the linked guide should help with that.

[2020-06-17 13:24] jmarantz commented on #11599
Also, you did find the right `post()` API if you need to then get the data accessible on a particular worker thread. But I'm nervous about the attempt to 'freeze' stats. That sound difficult. I'd think instead about grabbing a reasonably coherent snapshot to the best extent possible using the threading flow I gave above.

[2020-06-17 13:35] alyssawilk commented on #11528
(forgot to tag #11529 with this)

[2020-06-17 13:42] r-kotagudem opened #11616 "how to enable envoy filter to ingress gateway, yet apply filter to a specific kubernetes pod/service/domainname"
@rshriram
Would like to enable filter on ingressgateway instead of individualpod. However, is it possible that this filter is run/executed/applied to specific kubernetes service/pod?

Tried routeconfig with domain name , yet it applied to all service withall domain names. please help

apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: hcm-tweaks
  namespace: istio-system

[2020-06-17 14:00] juanjoDiaz commented on #11089
This is definitely still an issue for me.

[2020-06-17 14:27] pjulien commented on #11259
@mattklein123

One question for you... what macro should I use to register the factory?  Unlike `hystrix`, I'm only adding an admin handler, not a stat sink.  I have no need to implement `Stats::Sink`.

I tried using

[code]

but that doesn't seem to do anything.

[2020-06-17 14:48] mattklein123 commented on #10921
I'm working on fixing related issues right now and I can't repro this. Are you still able to repro this on current master? It's possible this is a bug in the format library.

[2020-06-17 14:53] oblazek commented on #10921
We've rolled it back, but yeah np I will try that again with current master.

[2020-06-17 14:57] mattklein123 commented on #11259
You could probably make it a bootstrap extension? https://github.com/envoyproxy/envoy/pull/11413. cc @lizan