[2022-10-07 08:03] github-actions[bot] opened #23400 "Newer release available `com_github_google_perfetto`: v30.0 (current: v28.0)"
Package Name: com_github_google_perfetto@28.0
Current Version: v28.0@2022-08-02
Available Version: v30.0@2022-10-06
Upstream releases: https://github.com/google/perfetto/releases

[2022-10-07 08:03] #23031 closed

[2022-10-07 08:03] #22943 closed

[2022-10-07 12:01] #22526 closed

[2022-10-07 17:19] PiotrSikora commented on #22669
@kyessenov could you reopen this as well? Thanks!

[2022-10-07 17:30] peiwenhu commented on #16629
Hi @christian-roggia may I confirm if you or your team are working on this and if so are expecting some progress? If not, I need to look for someone to fix this soon. Thanks

[2022-10-07 18:03] christian-roggia commented on #16629
@peiwenhu I am not currently working on this item, please let me know if I can be of any help. P.s. The repository used to reproduce this bug is still online.

[2022-10-07 18:51] sergey-safarov opened #23407 "httpCall() proxy options support"
*Title*: *httpCall() proxy options support*

*Description*:
I want to generate a new request via HTTP proxy to the `https` site. In this case, envoy should send a request with the `CONNECT` method after the TLS channel is established then an HTTP request should be sent.
Now I want to use the form
[code]
And specify `proxy` in the `options` array-like
[code]
Could you implement "proxy" options of h

[2022-10-07 20:01] #22915 closed

[2022-10-07 20:08] roelfdutoit commented on #23389
Thank you.

[2022-10-07 20:08] #23389 closed

[2022-10-08 01:22] thejerrybao commented on #11136
Hello! I'm very interested in this feature; how can I get this on envoy's roadmap?

[2022-10-08 08:03] github-actions[bot] opened #23410 "Newer release available `aspect_bazel_lib`: v1.13.0 (current: v1.12.0)"
Package Name: aspect_bazel_lib@1.12.0
Current Version: v1.12.0@2022-09-16
Available Version: v1.13.0@2022-10-07
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-10-08 08:03] #23271 closed

[2022-10-08 09:12] YvesZHI opened #23412 "hot-restart killed the envoy container"
I used `docker-compose` to start a docker container of Envoy.
Here is my `docker-compose.yml`:
[code]
I can execute `docker-compose up -d` to start it, it works as expected.

Now I'm trying to hot-restart the Envoy process inside of the docker container. So I executed the command: `docker exec -it envoy_gw envoy -c /etc/envoy/envoy.yaml --parent-shutdown-time-s 8 --restart-epoch 1`.

However, this

[2022-10-08 09:31] adam-prohack opened #23413 "Envoy doesn't forward important TLV header by ProxyProtocol v2"
*Title*: Envoy doesn't forward important TLV header by ProxyProtocol v2

*Description*:
I have a problem with Proxy Protocol 2 and the Envoy connected as part of ProxyProtocol v2 proxies/load balancers chain. In my solution architecture, I have connected in series some network proxies and load balancers. Incoming traffic is moved by AWS NLB in TCP mode (without TLS termination), to HAProxy where T

[2022-10-08 09:41] YvesZHI commented on #23300
@saltbo   Can `docker-compose restart` benefit from the mechanism of https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart ? I'm not sure and I kind of don't think so. If I simply restart the whole container immediately, I think some ongoing requests/responses in the Envoy will be killed immediately.

I've also tried the py and the bash scripts. I got an error abou

[2022-10-09 02:35] saltbo commented on #23300
Are you want a graceful restart with docker-compose? maybe not a good idea.

The hot restart of the container is different from the general binary hot restart. The hot restart of binaries is to replace binaries and retain the socket. But the container restart must completely kill the process and restart a new process.

For example, in k8s, The graceful restart by switching traffic directly between

[2022-10-09 03:01] He-Jingkai opened #23414 "How to redirect tcp pocket to envoy"
I deployed envoy **in a container**, and then I added the iptables rules(using **DNAT**) to the host. However, I found that envoy could not find the original address of the tcp packet correctly.

My purpose is to make envoy(PROXY_IP=10.32.0.8) proxy all traffic to the client(CLIENT_IP).

The rule I add to host is:
[code]

Then, I send a HTTP request to client.

The log of envoy is:
[code]
This mea

[2022-10-09 07:37] ramaraochavali commented on #17287
@alyssawilk @yanavlasov gentle ping ^^. Could you please help with this?

[2022-10-09 07:37] sergey-safarov commented on #23407
Looks like [Http11ProxyUpstreamTransport](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/http_11_proxy/v3/upstream_http_11_connect.proto#extension-envoy-transport-sockets-http-11-proxy) maybe used to relay request via HTTP proxy.
I will try to prepare the envoy config.

[2022-10-09 07:50] sergey-safarov opened #23416 "widcard route do not works when used non-standard port"
*Title*: *route: add wildcard support for non-standard port*

*Description*:
I need to route the request to a host with a non-standard port. In my case to port 5060
[code]
To cover all non-standard ports in need use forms like
[code]
Could you extend domain matcher rules to cover wildcards in the non-standard port and hostname like `*.example.com:*`

[2022-10-09 08:00] lizan commented on #16629
I didn't have bandwidth to fix this. But happy to help if you need anything.

[2022-10-09 08:01] #22503 closed

[2022-10-09 08:01] #22676 closed

[2022-10-09 08:01] #22894 closed

[2022-10-09 08:03] masquee opened #23417 "path rewrite based on endpoint metadata"
*Title*: *path rewrite based on endpoint metadata*

*Description*:

[2022-10-09 09:06] wbpcode commented on #23327
#23341

[2022-10-09 09:06] #23327 closed

[2022-10-09 09:31] wbpcode commented on #23213
/assign

Any way, we should solve this problem.

[2022-10-09 11:56] masquee commented on #22788
@yuzd I had the same problem. Only lldb works, but none of the variables are visible. How did you solve it?

[2022-10-09 12:01] #22506 closed

[2022-10-09 13:48] liangsqrt commented on #21193
i also meet the same problem in docker, the docker image is envoyproxy/envoy-alpine:v1.21-latest

[2022-10-09 14:17] dagtveit commented on #18983
i have the same issu aswell is no one looking into this ?

[2022-10-09 16:01] #22939 closed

[2022-10-09 16:01] #22949 closed

[2022-10-09 17:48] Alexcei88 commented on #23007
Could you add the tag "help wanted" please

[2022-10-10 00:04] #22967 closed

[2022-10-10 00:54] labilezhu commented on #22951
Hope someone can clarify it.

[2022-10-10 03:02] dio commented on #23258
Seems like https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/310 is merged (the updated v8 version is v10.7.193.13). I can set up my own bucket at first to serve the required snapshot for submitting a PR (to upgrade the v8 version for Envoy), but then we need someone who has access to provide the snapshot on [https://storage.googleapis.com/envoyproxy-wee8/](https://storage.googleapis.com/envo

[2022-10-10 03:20] htuch commented on #23213
FTR I think it makes sense to keep track of the original EDS status in `Host`, so +1 to that. At the very least this would make sense when reporting endpoint status in endpoint dumps, but there are other advantages as Mark points out.

[2022-10-10 04:30] #21963 closed

[2022-10-10 05:56] Sachin-M-Desai commented on #23284
Disabling the panic threshold works for throughput. I see reduced CPU usage after the endpoint has been declared to be unhealthy.

Running some tests and will share results in this thread.

[2022-10-10 07:51] #22966 closed

[2022-10-10 08:04] #22933 closed

[2022-10-10 08:42] phlax opened #23424 "Update references `envoyproxy/protoc-gen-validate` -> `bufbuild/protoc-gen-validate`"
As the repo has moved we should use the canonical repo reference

[2022-10-10 08:43] phlax commented on #23424
to find:

[code]

[2022-10-10 08:52] ameypd commented on #22859
no stalebot I am looking into this

[2022-10-10 10:55] soulxu commented on #23413
Seems we already have few issues request this feature https://github.com/envoyproxy/envoy/issues/18940, https://github.com/envoyproxy/envoy/issues/18520

[2022-10-10 12:43] jmarantz commented on #23003
Spencer & Madhu -- have you sorted which of you will work on this?

Feel free to ping me on reviews.

[2022-10-10 19:54] #23326 closed

[2022-10-10 23:12] RyanTheOptimist commented on #23417
cc: @zuercher

[2022-10-10 23:14] RyanTheOptimist commented on #23414
cc: @phlax do you have any insight here?

[2022-10-10 23:15] RyanTheOptimist commented on #23413
/cc @alyssawilk @wez470

[2022-10-10 23:16] RyanTheOptimist commented on #23412
cc: @phlax in case you happen to know the answer here?

[2022-10-10 23:17] RyanTheOptimist commented on #23407
cc: @alyssawilk who has been doing CONNECT work lately

[2022-10-11 01:46] qiwzhang commented on #16629
OK,  I will look into this.

Hi @lizan,  since you have found the problem, could you describe your finding here?   Or I may have to reproduce it by myself.

[2022-10-11 02:17] #23047 closed

[2022-10-11 02:26] He-Jingkai commented on #23414
This is because envoy uses the `getsockopt(…, SO_ORIGINAL_DST, …)` syscall when obtaining the original dst. This syscall uses the records in the kernel to obtain the original dst before being modified by nat.
This requires that the location where nat is used to forward network packets and the location where envoy runs must be the same linux kernel or container (that is, linux namespace).

[2022-10-11 02:31] He-Jingkai commented on #23414
I solved this problem using policy routing, by modifying the routing table. This means that network packets are routed to the container where envoy is located, and then nat is used in the container where envoy is located.
I wonder if there is a better solution

[2022-10-11 04:09] StarryVae commented on #23302
yes, thanks, i will add query matcher to fix this.

[2022-10-11 04:29] zuercher commented on #23417
I don't believe there's anything available to support this at the moment.

This would be tricky to do in an HTTP filter, because HTTP filters are applied before an upstream host is selected. Thus the filter has no mechanism by which it can access the endpoint's metadata. Further, any filter can cause Envoy to recompute the selected route (e.g. if the filter has modified headers). This could potent

[2022-10-11 05:20] PiotrSikora commented on #23258
@mpwarres should have access to generate and upload them.

[2022-10-11 06:07] Gaurav0411GitHub opened #23429 "Can we configure multiple socket address for dual stack support at listener side in envoy"
*Title*: *Can we configure multiple socket address for dual stack support at listener side in envoy*

*Description*:
At listeners side in envoy we want to give support of dual stack so we are able to configure only ipv4 address like this
"name": "AA_NONSEC_LISTENER_0",
     "active_state": {
      "version_info": "V1",
      "listener": {
       "@type": "type.googleapis.com/envoy.config.listener.

[2022-10-11 06:17] soulxu opened #23431 "Add address or remove address to a multiple addresses listener without draining the unchanged address connections"
Currently, when adding a new address or removing an existing address from a multiple addresses listener, it will lead to a new listener generated, and draining the old listener, then all the existing connections will be drained.

There is a requirement from the istio side https://github.com/istio/istio/pull/41248. For headless service, Istio will create a listener for each endpoint original. Now w

[2022-10-11 06:17] Co9514 commented on #21639
@Hexta Hi, is someone running an issue?
I want to try it.

[2022-10-11 06:18] soulxu commented on #23431
cc @zhlsunshine @howardjohn , hope I understand the issue correctly.

[2022-10-11 06:18] soulxu commented on #23431
cc @mattklein123

[2022-10-11 06:20] soulxu commented on #23431
/assign @soulxu

[2022-10-11 06:24] soulxu commented on #23429
You can reference the `additional_addresses` field in listener https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto#config-listener-v3-listener, it is available on main branch, it will be part of 1.24 release and that will be release very soon.

[2022-10-11 06:26] soulxu commented on #23224
/close

[2022-10-11 08:40] #22475 closed

[2022-10-11 09:19] alphamarket opened #23433 "The envoy doesn't pickup the newly updated config file"
We are trying to update our envoy configuration once per minute (if there are any new updates) but after updating the new configuration it seems like the envoy doesn't pick up the changes, there is this [hot restart](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart) document but as I understood it the envoy should be able to pick up the changes automatically,

[2022-10-11 09:31] alphamarket commented on #23433
Our envoy version: `envoyproxy/envoy:v1.23-latest`

[2022-10-11 09:37] dio commented on #23433
@alphamarket you need to send a signal (SIGHUP) to the hot restarter script (https://www.envoyproxy.io/docs/envoy/latest/operations/hot_restarter.html?highlight=sighup), or alternatively, you can start Envoy with dynamic configuration by using files that implement the [xDS](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#xds-protocol) protocol.
https://www.envoyproxy.io/docs/envo

[2022-10-11 11:33] phlax commented on #23414
no immediate insight im afraid - half following the problem/solution

[2022-10-11 11:44] phlax commented on #23412
agreed - this will kill the process - you need to send it a signal

its a while since i played with hot restart so dont rem exactly how it works - im think this would definitely benefit from a sandbox tho - cc @nguyenptk

[2022-10-11 12:12] nguyenptk commented on #23412
yeah - I think this feature `hot-restart` is very useful when want to reload our configurations (add new routes, modify clusters, etc.) with zero/less downtime.

[2022-10-11 13:17] alphamarket commented on #23433
@dio Thanks for the response, but using xDS protocol didn't help and still new configs are not getting loaded, here is my configuration:

[code]

[code]
The `envoy-lds.yaml` is being generated by a script that we generate it by [jinja](https://jinja.palletsprojects.com/en/3.1.x/). can you see something that I don't see, what am I doing wrong here?

I tried to load the clusters as static resources

[2022-10-11 13:28] peiwenhu commented on #16629
Hi @qiwzhang , @christian-roggia [was able to make a minimal repro sample](https://github.com/envoyproxy/envoy/issues/16629#issuecomment-866174186) in https://github.com/christian-roggia/envoy-16629

[2022-10-11 14:43] Gaurav0411GitHub commented on #23158
Thanks for your suggestion.
Could you please let me know when 1.24.x version will be available?

[2022-10-11 15:40] peiwenhu commented on #16629
Hi @qiwzhang , could you chmod 777 on grpc-json-transcoder.yaml and hub.proto.bin ? that solved it for me.

[2022-10-11 15:46] #23224 closed

[2022-10-11 15:50] qiwzhang commented on #16629
It works now,  thanks.

[2022-10-11 16:33] kyessenov commented on #23431
Important note: this is in the context of listeners with bind_to_port=false and use_original_dst=true.

[2022-10-11 19:41] markdroth opened #23445 "Envoy should NACK an EDS update with duplicate addresses"
Currently, if there are multiple addresses in the same EDS resource, Envoy will [ignore all but the first occurrance](https://github.com/envoyproxy/envoy/blob/df5152b6d46bcc16c526837069cf749f9621d0d9/source/common/upstream/eds.cc#L136).  This behavior seems fairly arbitrary and surprising, especially because the different occurrances of the address could be in different localities or priorities.

[2022-10-11 20:10] peiwenhu commented on #16629
In the [gRPC on HTTP2 doc](https://grpc.io/blog/grpc-on-http2/#footnotes), it says:

I wonder if this has something to do with this problem.

[2022-10-11 20:43] #19753 closed

[2022-10-11 21:16] qiwzhang commented on #16629
It is possible,  the code is [here](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/grpc_json_transcoder/json_transcoder_filter.cc#L557-L568).  I am not familiar with this code, need time to study it.  Maybe you can read it to see if you can find out any clues.

[2022-10-11 21:26] qiwzhang commented on #16629
The implementation [pr](https://github.com/envoyproxy/envoy/pull/10110/files) has a integration test: (GrpcJsonTranscoderIntegrationTest, UnaryEchoHttpBody).  It is passing.

What is the different with this case?  Is it bcx this is using http2?

[2022-10-11 21:36] euroelessar commented on #16629
So, I've just realized that we have an internal patch applied on envoy which references http/2 issues in particular.

<details>

[code]
</details>

IIRC, the only reason we have not sent it through pull request as we were not able to reproduce it using envoy own test suite (but we can repro it in our internal heavy integration tests).

[2022-10-11 21:38] euroelessar commented on #16629
@qiwzhang Can you verify if it fixes the issue, please?

[2022-10-11 22:04] qiwzhang commented on #16629
I can verify that next week as I am about to take a flight in a few hours. @peiwenhu could you verify that fix?

[2022-10-11 22:39] peiwenhu commented on #16629
I've not worked on Envoy before so I am not familiar with the tests and don't have a good way to reproduce (I directly use Envoy docker image). I may have to wait until you come back. Thanks!

[2022-10-11 22:47] qiwzhang commented on #16629
OK, I will verify it next week.

[2022-10-12 01:03] soulxu commented on #23431
thanks! that is important, let me check those cases.

[2022-10-12 01:08] soulxu commented on #23158
it expected to 10/15, this weekend https://github.com/envoyproxy/envoy/blob/main/RELEASES.md#major-release-schedule

[2022-10-12 01:12] qiwzhang commented on #16629
@euroelessar I just created a pr for the changes which fixed the issue.  But it doesn't have any test.  Maybe you can submit another pr with some tests

[2022-10-12 02:48] zhlsunshine commented on #23431
Thanks @soulxu, I think it's correct for you to understand the scenario.

[2022-10-12 03:52] mpwarres commented on #23258
Ack, ran out of time to do this today, but will get to it tomorrow.

[2022-10-12 04:25] kyessenov commented on #21447
This is quite convoluted. I think the remaining bit of information missing is https://github.com/envoyproxy/envoy/pull/14954. That PR modified the destructor of `ClusterInfo` which owns the last SSL socket context to be dispatched and deleted on the main thread. So it should be easy to delay `manager_` destruction after `dispatcher_` to fix this crash.

[2022-10-12 04:28] #22937 closed

[2022-10-12 07:43] wbpcode commented on #23445
cc @mattklein123

[2022-10-12 07:55] wbpcode commented on #23433
Hi, could you provide a complete config yaml and lds yaml?

[2022-10-12 08:01] alphamarket commented on #23433
This is the compiled version of the LDS yaml configuration:

[code]

[2022-10-12 08:02] alphamarket commented on #23433
Complete config yaml file (which already posted before):

[code]

[2022-10-12 08:48] ramaraochavali commented on #8644
@saagar241290 when you says

Are these connections on client?

[2022-10-12 09:12] StarryVae commented on #23306
So, is it resonable to fix this, and is any one working on it? if no, i will try to fix.

[2022-10-12 09:13] wbpcode commented on #23433
I removed `https_listener` in your config and the everything just ok.

![image](https://user-images.githubusercontent.com/12389633/195301692-adb1e3f0-be7a-4d8b-aaa4-15aeed4fefbf.png)

[2022-10-12 09:15] alphamarket commented on #23433
@wbpcode Try to update the LDS file while the server is running and check if the envoy behaved as it's expected based on the new updates.

[2022-10-12 09:29] wbpcode commented on #23416
May strip_matching_host_port could solve your problem?

[code]

Check more info:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#strip_matching_host_port

[2022-10-12 09:43] murtuza-kolasavala opened #23454 "Envoy Ratelimt: config is not loading"
I am facing issue setting up rate limiting service in kubernetes cluster. I have prepared deployment file which creates rate limit deployment, service and config map. Pod is coming up but when i try `curl localhost:6070/rlconfig` I am not getting any output.

There is one error message on output logs but not sure if it is relevant.

`level=error msg="error loading new configuration from runtime: r

[2022-10-12 09:51] meteorcloudy commented on #23390
Note that, the flag has been flipped at HEAD, and Envoy is currently failing in downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2670#0183ca5c-4612-4980-88f5-86240a1f7c65

[2022-10-12 09:57] wbpcode commented on #23433
You couldn't edit the lds directly. You can only create a copy of lds file and update the copy. And finally, apply all updates to original lds file by a single `mv`.

[code]

[2022-10-12 09:59] alphamarket commented on #23433
Ah, OK now I understand how the envoy works regarding the LDS; Thanks.

[2022-10-12 10:48] #23433 closed

[2022-10-12 12:19] marcosrmendezthd commented on #21812
any updates?

[2022-10-12 12:20] marcosrmendezthd commented on #22625
what's the official docker image I can use to test it @mbana ? 😄

[2022-10-12 12:56] jmarantz commented on #21812
TBH I had not even heard of the envoy metrics service grpc endpoint. Is it possible that @lizan knows who owns this?

[2022-10-12 13:28] inflatador commented on #9300
I'm seeing the same thing; has anyone had success proxying TLS 1.3 using envoy static config? If so, would you mind sharing your config?

Here's [my current config](https://gist.github.com/inflatador/73b19e411e6d38a663ab162d548c7be4) for reference .

[2022-10-12 13:58] ramaraochavali commented on #21812
@jmarantz We built it long time ago and I know the code. @marcosrmendezthd Sorry. I missed this. I will take look tomorrow.

[2022-10-12 14:16] marcosrmendezthd commented on #21812
thank you!!!!!!!

[2022-10-12 14:40] Sachin-M-Desai commented on #23284
Thanks a lot for the help. I ran some tests with various scenarios. Here are results, hope it will be of help.

With ext_authz and access log server present (with and without active health check):

    @1000 RPS, Envoy CPU is around 200%

With ext_authz and access log server absent and NO active health check configured as below

    @1000 RPS, Envoy CPU is around 280%

With ext_authz and access lo

[2022-10-12 14:41] #23284 closed

[2022-10-12 14:50] aetracht opened #23458 "HTTP Status Codes missing some IANA/industry-standard values"
*Title*: *The HTTP status code definitions are missing some well-know/standard values*

*Description*:

- 102: "Processing",  # see RFC 2518
- 103: "Early Hints",  # see RFC 8297
- 306: "Switch Proxy", # Switch Proxy (now unused)
- 418: "I'm a teapot",  # see RFC 2324 (now unused)
- 425: "Too Early",  # see RFC 8470
- 449: "Retry With",  # proprietary MS extension
- 451: "Unavailable For Legal Rea

[2022-10-12 15:21] sdlevi27 opened #23459 "AWS Lambda Filter: Behavior with upstream headers"
*Title*: *How should the AWS Lambda filter handle upstream headers to the Lambda API*

*Description*:
We have the Lambda filter configured with "payload_passthrough" set to "false".  Per the docs, and the actual code, "then the HTTP request is transformed to a JSON payload with the following schema...".  Part of the request body schema includes the downstream headers.  We see these headers are bei

[2022-10-12 16:48] keith commented on #23390
https://github.com/envoyproxy/envoy/pull/23460

[2022-10-12 16:57] diannahu commented on #23054
no stalebot

[2022-10-12 17:36] vindiagram opened #23461 "bad header key (http/1.1 protocol error HPE_INVALID_HEADER_TOKEN) from internal redirect resulting in HTTP 502"
*Title*:
Sites with CDN: Imperva result in HPE_INVALID_HEADER_TOKEN errors when processing internal redirects returning 502 to client.

*Description*:
I have a client using envoy as an egress proxy behind a corporate proxy to communicate with a 3rd party REST endpoint (I cannot provided).
This site is using Imperva which provides an invalid header in a HTTP 1.1 response. Specifically this response

[2022-10-12 17:49] adisuissa commented on #13951
In addition to the problem with non-aggregated listeners described in the [first comment](https://github.com/envoyproxy/envoy/issues/13951#issue-739457652), I think there are other use-cases that may not fit with the proposal. Specifically, `self` limits which ADS config to use. Here are a couple of examples:
1. Using static clusters, where different sub-groups of clusters each wants to use a diff

[2022-10-12 19:20] markdroth commented on #13951
@adisuissa I think both of those use-cases are actually already handled by the approach described in this issue.  I don't see how the proposal for named ConfigSources actually helps with any of this.

Note that there is no requirement here to use "self" ConfigSources for ADS.  The "self" option is useful in that it prevents the need for control planes to embed their own name in their resources, bu

[2022-10-12 19:52] #21447 closed

[2022-10-12 20:10] mpwarres commented on #23258
The following files have been added to the https://storage.googleapis.com/envoyproxy-wee8 bucket:

v8-10.7.193.13.tar.gz
v8-10.7.193.13-deps.sha256
chromium-base_trace_event_common-521ac34ebd795939c7e16b37d9d3ddb40e8ed556.tar.gz
chromium-icu-20f8ac695af59b6c830def7d4e95bfeb13dd7be5.tar.gz
chromium-zlib-f48cb14d487038d20c85680e29351e095a0fea8b.tar.gz

[2022-10-12 20:46] shashankram commented on #23234
I ran into this issue with Envoy v1.23.1 as well. Had to use otel-collector v0.57.2 to get this working. It did not work with the much older versions and also not with v0.61.0.

[2022-10-12 21:39] dio commented on #23258
Thanks, @mpwarres!

[2022-10-12 22:46] adisuissa commented on #13951
My concern is the need to rewrite the same config source in many places, and then the need to identify the same source by comparing the protos (it can be hashed, but not ideal). Making the names explicit has the benefit of defining it once and referencing it from multiple places.

[2022-10-12 23:07] markdroth commented on #13951
If the goal is to avoid the repetition, then using xdstp names gives you that, where the name is the authority.  Why do we need a second mechanism to do the same thing?

[2022-10-13 01:24] dragoscalinescu opened #23464 "WASM Filter + External Processor performance issue when using send_http_response"
I've been succesfully using for a while an envoy with both a wasm filter and an external processor filter chained together.

Now I needed to send a response from the `on_http_response_headers` callback. This change has brought me a significant performance degradation (5x).

The only change I'm doing to a working example is adding at the end of my `on_http_response_headers` callback these 2 lines:

[2022-10-13 01:31] cetanu commented on #19881
Sorry to resurrect but I believe this would still be valuable

If additional specifications are needed, I would describe them as follows:

**Background:**
The External Authorization service receives a [CheckRequest](https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/auth/v3/external_auth.proto#L37).
The CheckRequest contains an [AttributeContext](https://github.com/envoyproxy/envoy/bl

[2022-10-13 01:34] cetanu commented on #19881
It sounds like you are returning a header from the ext_proc service, and then placing a Header to Metadata HTTP filter directly after it in the filterchain, in order to transform the returned header into dynamic metadata.

So then this work would remove the need for that to occur, and the dynamic metadata could be populated by the processing response? (actually this might already be possible today

[2022-10-13 02:10] dragoscalinescu commented on #23464
Ok, so I think I figured it out, or at least I'm in the correct direction.
This was not related to external processor at all.

Please correct me if I'm wrong. When you call send_http_response, while end_of_stream is false, the connection to downstream is closed, which adds overhead to each request.

I just changed the code to

[code]

If the response has no body, `send_http_response` will be calle

[2022-10-13 07:07] klokane opened #23466 "Flush http filter buffer"
*Title*: *how to flush data from http filter*

*Description*:

**Is there way how can I force http filter to push partial body to downstream?**

[2022-10-13 08:03] github-actions[bot] opened #23467 "Newer release available `rules_rust`: 0.11.0 (current: 0.3.1)"
Package Name: rules_rust@0.3.1
Current Version: 0.3.1@2022-04-26
Available Version: 0.11.0@2022-10-13
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-10-13 08:04] #22893 closed

[2022-10-13 08:39] ramaraochavali opened #23468 "downstream peer certificate details in network WASM filter"
Is it possible to get downstream peer cert details like SAN etc. in network WASM filter? I have looked at the proxy API https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/master/proxy_wasm_api.h - could not find any thing.

If it is not available currently, Is it acceptable to add it?

We have a use case to build some logic in  network WASM filter based on client identity.

[2022-10-13 09:19] #23034 closed

[2022-10-13 10:49] He-Jingkai opened #23469 "Envoy reports a connection failure, but I succeed to curl the host in the container where envoy is located"
I deploy envoy in a container and have the following problem.
Envoy reports a connection failure with the target ip (connection failure, error number:113). But when I go to the container where envoy is located and try to curl the target ip, it succeeds.

envoy log:
[code]

curl:
[code]

This confused me and I would like to get some analysis or debug suggestions.

[2022-10-13 13:00] alyssawilk commented on #23407
as a heads up that transport must (currently) work in conjunction with an HTTP filter which puts metadata in the stream info.  See test/integration/filters/header_to_proxy_filter.cc for a test only filter example of this.  I think it would be lovely to upstream an envoy non-test filter which did this, but the only use case I had was Envoy Mobile.

[2022-10-13 13:32] darjisanket commented on #17571
We are also facing same issue, any update on this issue.

[2022-10-13 13:38] #22926 closed

[2022-10-13 13:59] adisuissa commented on #13951
I agree that xdstp naming gives that, but requires changes on the server side.
In addition the named-config-source allows decoupling the stream from the authority.
For example, if a single authority provides both secrets and other config, but wants to serve them from different servers, then the authority in the resource names can stay the same, but the providing server could be different.

[2022-10-13 14:59] adisuissa opened #23471 "New header validation invalid parsing of integers"
*Title*: *New header validation invalid parsing of integers*

This describes an invalid validation of the WIP header validation code, and is not a security risk to currently deployed Envoys.

*Description*:
PR #22537 introduced new header validation code (source/extensions/http/header_validators/envoy_default/header_validator.cc).
The code uses `std::from_chars(value_string_view.begin(), value_str

[2022-10-13 15:36] miyamotokenji opened #23473 "Can you still pass response headers (such as CORS headers) from Authentication Server when ExtAuth fails?"
*Title*: *Can you still pass response headers (such as CORS headers) from Authentication Server when ExtAuth fails?*

*Description*:

Here's part of my configuration

[code]

[2022-10-13 15:38] markdroth commented on #13951
The named ConfigSource approach also requires server-side changes, so I don't see how that's a benefit here.

The whole point of the authority in the xdstp names is to indicate what server to get the resource from.  There's no value in having the same authority for two resources that you want to fetch from different servers.

I don't see what this approach gives us that we don't already have.  I t

[2022-10-13 15:40] kyessenov commented on #23468
You can use `get_property({"connection", "subject_local_certificate"})` and [etc](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/attributes) in network Wasm filter context.

[2022-10-13 15:49] ramaraochavali commented on #23468
Cool. Thank you @kyessenov .

[2022-10-13 15:49] #23468 closed

[2022-10-13 16:05] jeffalder opened #23475 "How to set `localEndpoint.serviceName` in Zipkin tracer"
How do I set the `localEndpoint.serviceName` field in the Zipkin tracer?

*Description*:
Repro: https://github.com/jeffalder/envoy-servicename-repro

I am working to configure Envoy to send spans to the New Relic Trace API, which [accepts Zipkin-formatted spans](https://docs.newrelic.com/docs/distributed-tracing/trace-api/report-zipkin-format-traces-trace-api). I am able to capture the spans with

[2022-10-13 16:32] htuch commented on #13951
xdstp:// changes aren't really the huge IMHO. You can even start by using them as opaque identifiers in server or client.

[2022-10-13 17:03] Hubert97 opened #23477 "Exposong session stats via admin port."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Thoughts and suggestions on new feature that would expose detailed list all TCP/UDP sessions.

*Description*:
I'm writing on behalf of a large company. We have a nee

[2022-10-13 17:09] jeffalder commented on #23475
I did some more digging. NR is rejecting the span for the _extauth_ server. The custom tag configured above _is_ working for the base span but is _not_ working for the _extauth_ span. I'll see if I can add custom tags to the extauth span to resolve the issue.

That said, the `localEndpoint` field has the same value for the extauth span and the backend span. It seems like a generally-favorable solu

[2022-10-13 19:53] newwuhan5 opened #23487 "Question about release: 1.22.3 2aca584: envoy/VERSION.txt => 1.22.3-dev"
We use git submodule like this: git submodule status
2aca584b3bca81622d3b009612f0c7be93eeea34 envoy (v1.22.3)

But envoy/VERSION.txt contains:
1.22.3-dev

Thus, the RELEASE full string looks like this:
"version": "b87295fae172bc56584b65fdb05a05c31acd2ffa/1.22.3-dev/Clean/RELEASE/BoringSSL",

"xxx-dev" can be an issue for us if running in the PRODUCTION even though it's official release.  Anyway to

[2022-10-13 20:01] #22363 closed

[2022-10-13 20:28] balbifm opened #23488 "WASM Plugin on_log method not called with Matching API"
*Title*: WASM Plugin on_log method not called with Matching API

*Description*:
The scenario is having two filters in the same filter chain for a http listener.
* The first filter rejects the request and a response is returned by it.
* If the second filter is an _ExtensionWithMatcher_ with an _ExecuteFilterAction_ delegating to a _WASM filter_, and the _WASM filter_ is implementing the on_log meth

[2022-10-13 20:31] kyessenov commented on #23488
CC @mpwarres @snowp

[2022-10-13 21:40] phylake commented on #22418
/no-stalebot

[2022-10-14 00:06] #22527 closed

[2022-10-14 03:08] #16384 closed

[2022-10-14 04:04] gbrail commented on #22925
Thanks for posting this -- just playing around with the "health_check" module, I can see that when it's used, ext_proc is getting called with the response headers first, without ever receiving the request headers. I'm not 100% sure that I imagined that possibility in the implementation of ext_proc, so I am going to look in to that more. Previously I had not included the health_check module in my t

[2022-10-14 04:16] gbrail commented on #22925
Here is my theory -- I'd appreciate whether others think it's right. I'll try to find more time to experiment:

1. In the second configuration you selected, you're essentially disabling ext_proc for all paths except "/healthcheck." (I don't understand routing in Envoy well enough to know if that's a feature or a bug.)
2. When you make a call with any path except /healthcheck, Envoy is therefore no

[2022-10-14 08:04] qfiard opened #23492 "Max-Age in oauth2 cookies is set to an absolute timestamp instead of a duration relative to the current time"
https://github.com/envoyproxy/envoy/blob/817cfee4b1188d4e6ce57b2ab0964c317b36130f/source/extensions/filters/http/oauth2/filter.cc#L419-L421
is used to set the Max-Age field in oauth2 cookies:
https://github.com/envoyproxy/envoy/blob/817cfee4b1188d4e6ce57b2ab0964c317b36130f/source/extensions/filters/http/oauth2/filter.cc#L53
https://github.com/envoyproxy/envoy/blob/817cfee4b1188d4e6ce57b2ab0964c317

[2022-10-14 08:05] github-actions[bot] opened #23493 "Newer release available `com_github_google_libprotobuf_mutator`: v1.1 (current: v1.0)"
Package Name: com_github_google_libprotobuf_mutator@1.0
Current Version: v1.0@2020-11-13
Available Version: v1.1@2022-10-13
Upstream releases: https://github.com/google/libprotobuf-mutator/releases

[2022-10-14 08:49] phlax commented on #23487
this was a mistake - release 1.22.5 should have the correct versioning

[2022-10-14 09:10] phlax opened #23497 "Problems adding extension with `not-implemented-hide`"
When adding a new WIP/alpha extension that has `not-implemented-hide` set for the proto CI fails as it is trying to associate the extension with the extension category

[2022-10-14 09:11] phlax commented on #23497
cc @nezdolik

[2022-10-14 09:38] qfiard commented on #23492
Sent https://github.com/envoyproxy/envoy/pull/23498 to fix this issue.

[2022-10-14 09:44] wendyfatcat opened #23499 "When envoy grpc call timeout, we found that sometimes the duration is much less than timeout"
Hi, envoy team, in our project, we made a grpc call without retry, and we set the timeout config to 500ms.
In our test, the concurrency is 300. That means there are 300 requests send to envoy the same time.
Every test cases show that there are several requests time out, and we get a error msg "upstream request timeout".
We are debugging the envoy source code, the "timeout_.global_timeout_" in this

[2022-10-14 12:10] wbpcode commented on #23445
/assign

[2022-10-14 12:22] #23487 closed

[2022-10-14 12:23] newwuhan5 commented on #23487
We will upgrade to use 1.22.25 then.  Thank you @phlax  for your quick response!

[2022-10-14 12:56] phlax commented on #23348
thinking further on this - there are a few moving parts in terms of changing to allow multiple changes

i think for now i will just clean up and fix the linting - we can revisit if we think there is a need to

[2022-10-14 13:07] phlax commented on #23348
hmm, checking this further - multiple `change` per entry wont work as its not valid yaml - its a duplicate key

i was wondering why this was not being picked up by the tool already as it is quite strictly typed - it seems that pyyaml doesnt fail on duplicate keys it just ignores all but the last (its possible to add a custom yaml loader that would detect this but im not convinced that is the right

[2022-10-14 13:42] phlax commented on #22875
as noone has raised any PRs to address this yet and the 1.24 release is imminent i will probably look at this over this weekend if noone else has already

[2022-10-14 14:31] mattklein123 commented on #22845
Realistically we are never removing any fields at this point. Deprecated fields will be around forever, so I'm not sure it's that big of a deal. Can we just clearly document the current situation?

[2022-10-14 15:27] wbpcode commented on #22845
/assign

[2022-10-14 15:58] pgeler commented on #22925
@gbrail yes, that is the original issue with the processor, and right now it's more of a synthetic example.
To me the way it works is controversial, and it could be as a health_check filter in case of `passthrough: false` should be using local_response instead, but this may be more a feature other than a bug. @mattklein123 thoughts?

[2022-10-14 16:05] fabiomnk commented on #23221
Hi deep diving envoy metrics in order to find some clues, i noticed the following scenario:

we start streaming data (17:36), everything seems to work properly , the service is correctly receiving data from the client.

![image](https://user-images.githubusercontent.com/34380079/195889981-e792e4bc-eb7c-47cc-9a7a-f9783af659a5.png)

server.log
Total Item Processed 49852
READ STREAM PAUSED
{"level":"

[2022-10-14 16:52] sjguro opened #23503 "Error when using filter_chain_matcher without StringValue action"
*Title*: Error when using filter_chain_matcher without StringValue action.

*Description*:

 From this document([Matching Filter Chains in Listeners — envoy 1.24.0-dev-df5152 documentation (envoyproxy.io)](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/advanced/matching/matching_listener)) we are able to see that the filter_chain_matcher uses a stringValue action to match to a spe

[2022-10-14 17:02] kyessenov commented on #23503
Can you explain the goal of using a bool action? I think the selection expects a string as the value for the filter chain name. Maybe you want a predicate `input == true -> value = chain_name`?

The crash is unfortunate, I'll take a look and make it reject a config instead.

[2022-10-14 17:31] sjguro commented on #23503
The goal is to be able to match to a value within the metadata rather than a static string. For example we could use an action such as

action:
name: dynamic_match
typed_config:
"type": type.googleapis.com/google.protobuf.Metadata
value: <Metadata field>

where the matcher would choose the filter_chain that matches the value in <Metadata field>. In the original issue we are using BoolValue with cu

[2022-10-14 18:05] jeffalder opened #23507 "Zipkin cluster does not honor TLS parameters"
*Title*: Zipkin cluster does not seem to honor TLS parameters

*Description*:
I have configured the Zipkin cluster to have min and max TLS version 1.3
[code]

`my-host` is in CloudFlare and **does not support TLSv1.0**. Unfortunately, Envoy 1.23.1 cannot negotiate this TLS connection.

Per Wireshark, the record layer is TLSv1.
![not-working-envoy-1.23](https://user-images.githubusercontent.com/498

[2022-10-14 18:23] ktnrn opened #23508 "OAuth2: tokens set in the cookies are not encrypted"
*Title*: *OAuth2 filter sets the tokens in the cookies but not encrypted*

*Description*:

Most of the Oauth clients encrypt the tokens when using cookies as storage. i.e. NextAuth etc.
The Oauth2 filter must support this. If not, please provide the reasons and the alternate solution to encrypt the tokens.
I think most of the SecOps will not allow using the oauth2 filter in the production without

[2022-10-14 18:33] marcosrmendezthd commented on #21812
the metrics format is the prometheus format for that specific sink. https://github.com/envoyproxy/envoy/blob/d142c9d55ae9aab34e9924aa25f20bd27635e060/test/extensions/stats_sinks/metrics_service/metrics_service_integration_test.cc#L77 the issue is the histograms and summaries are empty.

[2022-10-14 18:36] marcosrmendezthd commented on #21812
so based on https://github.com/envoyproxy/envoy/blob/d142c9d55ae9aab34e9924aa25f20bd27635e060/test/extensions/stats_sinks/metrics_service/grpc_metrics_service_impl_test.cc the sink is supposed to be sending histograms and summaries. why are they empty?

[2022-10-14 19:18] jeffalder commented on #23475
The answer is to set `node.cluster` in the [envoy.yaml](https://www.envoyproxy.io/docs/envoy/v1.22.5/api-v3/config/core/v3/base.proto#envoy-v3-api-msg-config-core-v3-node) or use `--service-cluster` on startup.

[code]

[2022-10-14 19:18] #23475 closed

[2022-10-14 19:26] mr-miles commented on #11816
Sorry to bug - do you think it will land?  I've ended up here via detective work trying to find out why IRSA wasn't working as I expected! (... and I've learnt a lot about aws in the process)

[2022-10-14 19:31] suniltheta commented on #11816
I am still working on the changes. I haven't got enough time to dedicate to this task.

In the current state I am able to make http calls to fetch the credentials but don't know how it can be fetched in main thread and updated on all the worker thread. https://github.com/envoyproxy/envoy/compare/main...suniltheta:envoy:cm_ref_2

Also, the change is no where close to the version where I would be ab

[2022-10-14 19:50] mr-miles commented on #11816
Thank you so much for the quick response.  I would offer to help but this is miles away from my knowledge area...

I'm sure you thought of this, but just for my own knwoledge - since the lambda filter is still beta and already uses curl, is there a downside of incorporating the patch in the interim, while libcurl is being expunged?  The patch didn't seem to be increasing the problem, but my readin

[2022-10-14 20:02] KBaichoo commented on #23221
Hi @fabiomnk can you provide the redacted Envoy config from the admin endpoint: https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--config_dump ?

I'm not familiar with all the intermediary layers you're using on top, and it'd be good to see what the Envoy is actually running with. Thank you

[2022-10-15 03:57] ramaraochavali commented on #21812
@marcosrmendezthd Yes. It is supposed to send histograms. But as I mentioned earlier, it was not implemented for sending metrics in prometheus format (it uses prometheus proto even for sending metrics in non prometheus format because it is standard proto for transporting metrics via gRPC). Histograms needed [special logic](https://github.com/envoyproxy/envoy/blob/33b108e7787a0298a60b26ee034fe7d750

[2022-10-15 04:30] #22599 closed

[2022-10-15 04:30] #22605 closed

[2022-10-15 08:03] github-actions[bot] opened #23510 "Newer release available `com_github_grpc_grpc`: v1.50.0 (current: v1.49.0)"
Package Name: com_github_grpc_grpc@1.49.0
Current Version: v1.49.0@2022-09-14
Available Version: v1.50.0@2022-10-14
Upstream releases: https://github.com/grpc/grpc/releases

[2022-10-15 08:03] #23273 closed

[2022-10-15 08:03] github-actions[bot] opened #23511 "Newer release available `net_zlib`: v1.2.13 (current: v1.2.12)"
Package Name: net_zlib@1.2.12
Current Version: v1.2.12@2022-03-27
Available Version: v1.2.13@2022-10-14
Upstream releases: https://github.com/madler/zlib/releases

[2022-10-15 08:19] fabiomnk commented on #23221
attached
ares-ingress is the server
istio-ingressgateway-ares-fe is the Istio Gateway wich is exposing the service outside of the cluster.

Thanks for support.

[istio-ingressgateway-ares-fe-envoy-config-dump.json.txt](https://github.com/envoyproxy/envoy/files/9791550/istio-ingressgateway-ares-fe-envoy-config-dump.json.txt)
[ares-ingress-envoy-config-dump.json.txt](https://github.com/envoyproxy/en

[2022-10-15 11:10] yuzd commented on #22788
I switched to 1.20.7 and solved the problem
note：
https://mp.weixin.qq.com/s/R7JbhwXqJ9QiQk0vlTIMKA

[2022-10-15 12:01] #22581 closed

[2022-10-15 16:01] #23016 closed

[2022-10-15 20:29] wrowe commented on #23156
@adisuissa I don't see a backport of #21110 out there, as you authored it did you want to take this, or want to hand it off, before a new series of maintainence branch releases? Would this also need to land on 1.20.x / 1.21.x (still supported till Jan and April respectively) - or did the defect not exist yet?

[2022-10-15 21:32] sergey-safarov commented on #23407
I am not a Go developer and do not understand how to use his info.
Maybe you have the YAML config file?

[2022-10-15 23:44] albertocavalcante commented on #13078
Hey, is this something still being worked on? Thanks

[2022-10-16 00:05] #22930 closed

[2022-10-16 00:05] #23027 closed

[2022-10-16 05:01] coder-kevin-1985 commented on #10990
Hi，I find the upgrade config my works, like the config demo in github：https://github.com/envoyproxy/envoy/blob/main/configs/encapsulate_in_http1_connect.yaml

the document is here：
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades

Hope to be helpful~

[2022-10-16 06:57] sergey-safarov commented on #23416
For me look like the bug is there.
How I have tested.
I have modified the [forward-proxy config](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter#config-http-filters-dynamic-forward-proxy)
On my server, it looks like
[code]

Here I have added
[code]
With config file above envoy produce this logs
[code]

[2022-10-16 17:47] ankitdiscovery commented on #11293
@reda-ayoub @bartebor i need to enable /see these outlier detection metrices somewhere or in prometheus for visualization. i can see those values(total/active outlier detection) in `istio-pilot GET stats` but need somewhere to track / visualize them.

[2022-10-16 21:14] caetanobca commented on #23185
Hi @adamkotwasinski, searching on the web I found this [demo](https://github.com/flobuehr/spire-envoy-kafka) and that looks like they don't set the Envoy as advertised.listeners. I was hoping that someone with more experience could take a look at this repo and sees if there is something that I didn't see

[2022-10-17 00:05] #22867 closed

[2022-10-17 01:23] wbpcode commented on #23508
Then which type encrypt is you want?
IMO, the data security should be ensured by the TLS. There is no other guarantee in oauth2 or oauth2 filter self.

[2022-10-17 01:24] wbpcode commented on #23508
cc @snowp

[2022-10-17 02:35] sudomann commented on #19296
@northerndev  I reached the same conclusion and decided to just edit the ingressgateway deployment to mount it myself

[2022-10-17 02:44] soulxu commented on #23416
@sergey-safarov have you try the `strip_any_host_port`? It is different with `strip_matching_host_port`. The `strip_matching_host_port` only strip the port if it is equal to the listener's local port

[2022-10-17 02:54] wbpcode commented on #23507
It seems that this problem is none of zipkin's business. And it's weird that no certs/verify config in the tls context. (I am not sure if it's acceptable.)

cc @lizan

[2022-10-17 03:02] wbpcode commented on #23499
Hi, could you provide some more context about the test.
1. The version of Envoy.
2. The config or config_dump of Envoy.
3. How you record the duration?

[2022-10-17 03:07] wbpcode commented on #23477
Seems these stats should be provided by the OS or external network monitor.

[2022-10-17 03:08] wbpcode commented on #23477
cc @jmarantz

[2022-10-17 03:14] wbpcode commented on #23473
Could you provide the cors request and error response to help us to clarify this issue?

As I know, if it's a legal cors request, the cors filter will send a local response and the ext_authz filter will not be applied in this case.

[2022-10-17 03:21] wbpcode commented on #23469
Hi, could you provide some more contexts?
1. Which version of envoy is used?
2. Is this problem always occurred for every request?
3. Will this problem occurred for clusters of other types?

[2022-10-17 03:22] wbpcode commented on #23469
cc @kyessenov

[2022-10-17 03:25] wbpcode commented on #23464
Then could we close this issue?

[2022-10-17 03:58] wbpcode commented on #23461
I think it's hard to say it's a bug.

And it's impossible to drop these invalid headers by http filters.  The v1.2 is too old to provide more support.

[2022-10-17 04:16] wbpcode commented on #23459
cc @mattklein123

[2022-10-17 05:09] Gaurav0411GitHub commented on #23158
Envoy 1.24.x version is not coming in stable version.
https://www.envoyproxy.io/docs
is it released or delayed? if it is delayed when it could be expected?

[2022-10-17 05:58] daixiang0 commented on #23458
Actually some codes like 451 is defined as below:
https://github.com/envoyproxy/envoy/blob/edd69583372955fdfa0b8ca3820dd7312c094e46/bazel/external/http_parser/http_parser.h#L143

[2022-10-17 07:01] #23454 closed

[2022-10-17 07:10] lihaomin1010 opened #23514 "How to improve imbalance of cpu load in threads caused by http/2 connection?"
We use envoy as gateway. Most of our clients use http2.
I foundThe problem of  imbalance of threads is very obvious . So I use reuse_port and balance_config param.
But now the cpu load imbalance  of threads still  exists. I thick the main reason is some clients have a lot of http/2 requests, but some have a little.
I think smaller max_concurrent_stream maybe useful, but con't solve question. Do yo

[2022-10-17 07:34] reda-ayoub commented on #11293
@bartebor I'm using envoy through Istio. I installed the last istio release 1.15.1 using Helm on AWS EKS. I'm still not able to see those metrics. I can say that the outlier detection is working because I can see that some pods does not receive any traffic when they trigger the circuit breaker. How did you install/setup envoy?

[2022-10-17 09:08] sergey-safarov commented on #23416
I have applied this change to the config
[code]
Now logs looks like
[code]
After port striping DNS name matched. That is fined.
But important here
[code]
That means instead of requesting port 5060 envoy tries to connect to port 80.

[2022-10-17 09:10] wywanlv opened #23516 "Is there any way to set multiple 'transport_socket' to one 'cluster'?"
In [[config.cluster.v3.Cluster proto]](https://github.com/envoyproxy/envoy/blob/adf97d39fbbf64b24a3b143a5dc4a159a1cfc196/api/envoy/config/cluster/v3/cluster.proto#L47) , one "cluster" can have one "transport_socket" struct.

In my project, "Proxy-Protocol" and "TLS" are both important feature to one upstream cluster.
[code]
[code]

It seems that one "cluster" can only support one "transport_socket

[2022-10-17 09:11] sergey-safarov commented on #23416
Also here is typo
[code]
https://github.com/envoyproxy/envoy/pull/23513/files

[2022-10-17 09:13] sergey-safarov commented on #23416
maybe need options like
[code]

[2022-10-17 09:15] wbpcode commented on #23416
sound reasonable to me.

[2022-10-17 09:19] wbpcode commented on #23416
Seems that was supported.

  // With this option enabled, Envoy will ignore the port number in the :authority header (if any) when picking VirtualHost.
  // NOTE: this option will not strip the port number (if any) contained in route config
  // :ref:`envoy_v3_api_msg_config.route.v3.VirtualHost`.domains field.
  bool ignore_port_in_host_matching = 14;

[2022-10-17 09:32] sergey-safarov commented on #23416
I searched `virt` on [http_connection_manager.proto](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto) page.
And found nothing.
How I can try this option?

[2022-10-17 09:33] sergey-safarov commented on #23416
Found `ignore_port_in_host_matching` here
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto

I will test

[2022-10-17 09:41] sergey-safarov commented on #23416
yes, this config change works for me
[code]
Thanks, very much @wbpcode.
Hope Google will find this ticket when somebody searches the same question.

[2022-10-17 09:47] sergey-safarov commented on #23407
I go to relay the request to the upstream envoy forwarding proxy.
For `https` links I will a script for casting HTTP requests between envoys servers.

[2022-10-17 09:47] #23407 closed

[2022-10-17 09:51] ramaraochavali opened #23517 "redis pipeline implementation"
This is more of question about redis pipeline implementation. When we say redis supports pipeline at [protocol](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#supported-commands) level, do we support pipeline in its true sense as described [here](https://redis.io/docs/manual/pipelining/#:~:text=Redis%20pipelining%20is%20a%20technique,supported%20by%20most%20R

[2022-10-17 09:52] ramaraochavali commented on #23517
@mattklein123 is the above correct understanding?

[2022-10-17 09:59] #23416 closed

[2022-10-17 10:15] wbpcode commented on #22845
Keep this open and look forward one day we can solve this problem once and for all.

[2022-10-17 10:30] bartebor commented on #11293
@reda-ayoub I hava a custom envoy installation with own control plane and configuration, but it should not matter in this case. Note that circuit breaker and outlier detection are separate functions. Make sure you have outlier detection enabled in cluster config. If outlier detection stats are visible in envoy's administration interface (`/stats`, `/stats/prometheus`)  like @ankitdiscovery said ab

[2022-10-17 10:42] YvesZHI commented on #345
So have these functions been merged into Envoy? I'm working with Envoy V1.22.0 but there doesn't exist a `route_config` in the `TcpProxy`...

[2022-10-17 10:49] abhinav1998agarwal commented on #345
@YvesZHI Please check https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto to perform layer 4 routing.

[2022-10-17 10:55] kihaloul commented on #23283
Hello,

I got two cpuprofiles, one from v1.17.3 and one from 1.23.1. The test parameters were the same as in the initial comment. However this time I built the debug version of envoy, with the command:
`./ci/run_envoy_docker.sh 'BAZEL_BUILD_EXTRA_OPTIONS="--define tcmalloc=gperftools"  ./ci/do_ci.sh bazel.debug.server_only' `

The results can be seen in the following table:

<html xmlns:v="urn:sch

[2022-10-17 12:45] stasos24 opened #23520 "Null-pointer-dereference - Envoy::Server::ActiveTcpSocket::GenericListenerFilter::onAccept"
Hello, i've found a Null-pointer dereference during fuzzing tls inspector harness.

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

*Repro steps*:
[code]

*Logs*:

sharing.

*Call Stack*:
[code]

[2022-10-17 13:18] DiegoGamaV commented on #23185
Hey, @adamkotwasinski, sorry for the delay.

But isn't this the metrics facade class? Is this really the place to temper with the response? This commented diagram seems to suggest the better place to change this is Request or Response Decoder. https://github.com/envoyproxy/envoy/blob/v1.23.1/contrib/kafka/filters/network/source/broker/filter.h#L111

I apologize if I'm spilling out nonsense, but I'

[2022-10-17 13:24] vindiagram commented on #23461
My mistake on my type up. I am using envoy docker image v1.21-latest.

[2022-10-17 13:25] vindiagram commented on #23461
@wbpcode How would you suggest dealing with these headers?

[2022-10-17 13:30] KBaichoo commented on #23221
Thanks for providing the config. I think your intended configuration isn't reaching the Envoy, so you should look earlier at the pipe.

To be concrete, looking at your listener for the Envoy, I think you want to apply H2 protocol options to have sensible flow control. If we look at your static listeners from the Envoy's perspective:

[code]

We don't see the protocol options for flow control you i

[2022-10-17 13:33] Purushotham233 commented on #22395
/not-stale
/reopen

[2022-10-17 13:49] soulxu commented on #23520
I can take a look at this

[2022-10-17 13:49] soulxu commented on #23520
/assign

[2022-10-17 13:58] phlax commented on #16867
some progress on this - we have just landed code to auto push assets on release - only envoy binaries initially -  but it will establish the pipeline

the debs are pretty much ready to publish and we can follow up fairly quickly to add - the main reason i didnt include is that they are slightly larger than expected so wanted to check out the reason before adding

there is an #envoy-release channel

[2022-10-17 14:10] fabiomnk commented on #23221
I see that listener in the dynamic_listeners section, the port i'm using is the 10037 for which i see in the config file (starting from line 54339 )

`
{
        "name": "0.0.0.0_10037",
        "active_state": {
         "version_info": "2022-10-14T15:21:59Z/69",
         "listener": {
          "@type": "type.googleapis.com/envoy.config.listener.v3.Listener",
          "name": "0.0.0.0_10037",

[2022-10-17 14:21] wendyfatcat commented on #23499
@wbpcode Thank you for help!

1. Our Envoy version is 1.17.4
2. The config_dump is too long to paste it here. We implemented a filter, and in this filter we made a grpc call (function is similar to ext_authz_grpc_impl) to external service, the grpc timeout config is 500ms, and the connection_timeout to external service is 250ms.
3.  Before sending the grpc request, we use monotonicTime() to record

[2022-10-17 14:26] KBaichoo commented on #23221
If you search for `http_connection_manager` in the ENVOY config, we'll see most of them are unconfigured.

There is one that's configured:

[code]

but it doesn't limit the number of streams that can be created, the default for number of streams is HUGE. You should set `            max_concurrent_streams` in `http2_protocol_options` to something smaller, perhaps 100.

[2022-10-17 14:39] fabiomnk commented on #23221
i'll try to set max_concurrent_streams , do you think is related to flow control not working properly ?

[2022-10-17 14:51] suniltheta commented on #23459
So if I understood correctly, we would like to have an option to exclude some headers to be included when Lambda extension makes API call towards AWS Lambda?

If this is the case then there was an API added `match_excluded_headers` to [AwsRequestSigning proto](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/aws_request_signing/v3/aws_request_signing.proto#envoy-v3-api-fi

[2022-10-17 15:02] fabiomnk commented on #23221
added your suggestions: i see the following in the envoy configuration of the same listener as before

![image](https://user-images.githubusercontent.com/34380079/196212485-1ee4b983-e369-45c9-b4ab-f448194de640.png)

i tested and i observe the same behaviour, flow control is not stopping the ingestion .

[2022-10-17 15:45] KBaichoo commented on #23221
My next question is where is the traffic going to e.g. which clusters, and what's the reason that cluster isn't backing up?

If the cluster is

[code]

from line 4627 of the Envoy config dump then there are a few suspect bits:
1) We have both http2_protocol_options and HTTPProtocolOptions set via typed_extensions_protocol_options and they conflict, you should probably only configure one of them an

[2022-10-17 15:56] mattklein123 commented on #23517
IIRC the pipeline will maintain ordering.

[2022-10-17 16:13] fabiomnk commented on #23221
yes, the traffic is on 10037.

I'm using Istio as overlay so i'm not aware of all configurations being issued , i'll check about the conflct you mentioned.
I'll try to configure circuit breakers as well, can you elaborate a bit "sane values" ? just to better understand your point on this .

We are still running in a test environment and i configured request and limits with plenty of resources (1gb

[2022-10-17 16:45] jalajk24 commented on #20238
@phalx since i am a begginer could plz guid me that whether i have to go through the whole documentation or a particular area i am bit confused

[2022-10-17 16:48] jalajk24 commented on #20238
@phalx since i am a beginner could you plz guid me weather i have to go through the whole documentation from starting or form a particular section it would be really helpful for me since i am bit confused

[2022-10-17 16:53] jeffalder commented on #23507
@wbpcode Thanks for looking at this! I certainly wouldn't have expected Zipkin to be related; I figured this was well before the tracing code did anything with the actual upstream, but I didn't want to make assumptions about what was or was not relevant.

The answer was surprisingly simple, yet opaque: someone else pointed out that I didn't have SNI configured as part of my upstream context. Once

[2022-10-17 16:53] #23507 closed

[2022-10-17 16:56] phlax commented on #20238
i think it is a case of going through by hand - mostly at least - where you start from is somewhat arbitrary - either at the beginning of the docs or perhaps the most popular pages

the docs are largely divided into 2 parts - the rst part in `docs/root` and the rst that is embedded in comments in the `api/` `.proto` files - the most popular pages tend to be the pages in the api for `Listeners`, `C

[2022-10-17 17:04] cboitel opened #23524 "JWT filter: add disabled metrics"
*Title*: JWT only report `allowed` counter even if disabled on route

*Description*:

As of today, JWT filter increments the `allowed` counter even though no JWT validation has been performed:
- either because filter was disabled on route
- or because no requirement was given (e.g. requirement added only on routes where it is required)

Enhancement would:
- increment `allowed` only if actual verif

[2022-10-17 17:13] jalajk24 commented on #20238
@phlax one last question would i have to build the entire envoy on my system or i can edit it on my forked repository??

[2022-10-17 17:17] phlax commented on #20238
well - you certainly dont need to build all of Envoy - you might want to build the docs locally so you can see your changes (this does require building the docs from the api which can take some time)

the common way to do it is using the build container

[code]

this way uses a fairly large docker container so you need to have both docker access and some space etc

if you have a bazel env set up (

[2022-10-17 18:46] KBaichoo commented on #23221
[code]

Above are default values for some of the circuit breaker fields you overwrite. can you try these defaults?

If the case is

Envoy ---> Backend and backend stops responding and we have the circuit breakers as you have perhaps Envoy is OOMing from insane number of retries.

[2022-10-17 19:10] jnwright commented on #12582
@Pchelolo Hi! I'm a product designer working at HashiCorp, and I'm researching how we can best show envoy access logs in Consul's UI. I saw your comment above and thought you might be a good person to reach out to. If you aren't interested in them being shown in the UI, though, please feel free to ignore this!

If you are, can you tell me what information from the logs would be most important for

[2022-10-17 19:47] kyessenov commented on #23503
Do I get it correctly, that you would like the filter chain name to be a value in some dynamic metadata? Let me think about it. I think the matcher doesn't allow a direct input value without matching, so you'd need to do something "if metadata value == X, then action is X", for every chain name. Would that alternative be OK?

[2022-10-17 22:10] joseret opened #23531 "Envoy dynamic proxy - terminating ssl working but easily see where to specify the terminated port"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Description*:
Trying to create a envoy proxy to terminate tls and then send the terminated stream to a particular port for post processing.
Having troulbe from the docs how

[2022-10-17 23:11] marcosrmendezthd commented on #21812
right. this is what this issue is about. @ramaraochavali 😄

[2022-10-17 23:16] jmarantz commented on #21812
@marcosrmendezthd as you are motivated to see this fixed, would you like to take a run at it yourself? :)

[2022-10-17 23:18] codefromthecrypt commented on #16867
can you describe what you mean by "auto push assets on release"? do you mean attach to GitHub release or somewhere else?

[2022-10-18 01:14] ramaraochavali commented on #23517
Ok. So the code I pointed above seems to respond as soon as the response comes. Is there some other place the ordering is maintained? Can you please point me to that? I know you need to page lot of stuff back, so whenever you get time.

[2022-10-18 01:40] soulxu commented on #23520
/assign @KBaichoo

@KBaichoo already get a fix, he will submit soon tomorrow, thanks for that!

[2022-10-18 02:34] kyessenov commented on #23469
Running from istio-proxy container means you might be accessing IP directly without traffic capture by Envoy. I suggest posting your Istio config as an issue in Istio, and see if we can figure out why Envoy config is not working for you.

[2022-10-18 03:00] wbpcode commented on #23499
Is it possible just record error? When there are many requests is handled at same time, the log sequence of multiple threads is messy. 🤔

[2022-10-18 03:11] wbpcode commented on #23461
Sorry, but it's impossible to handle this case for now. This error is throwed by the http1.1 parser and envoy even couldn't know which header result in this error.

Could you know which header result in this error and try to find why other proxies or client could handle it?

[2022-10-18 03:46] wendyfatcat commented on #23499
No, grpc callbacks are in different function, all the success calls will execute onSuccess(), and timeout calls will execute onFailure(). We record the duration in both function and use different names, so it cannot mistake.
All the timeout requests will execute router_cc: onResponseTimeout()->onUpstreamTimeoutAbort(),  and the "response_time" in onUpstreamTimeoutAbort() is also not correct.

[2022-10-18 03:48] iheng commented on #20919
@soulxu, @zackzhangkai  had same issue with version 1.23.1.  with
 http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
it's not working. how we suppose to set  envoy.reloadable_features.no_extension_lookup_by_name as false. I'm running as docker container

[2022-10-18 04:15] wbpcode commented on #23499
Seems it's hard to find out the root cause without more detailed code and log. Could this problem be reproduced in the `ext_authz`?

[2022-10-18 04:25] wbpcode commented on #23514
May be `max_requests_per_connection` for HCM would helpful?

[2022-10-18 04:46] pxpnetworks commented on #23516
check this out -> [transport_socket_matches](https://www.envoyproxy.io/docs/envoy/v1.23.1/api-v3/config/cluster/v3/cluster.proto.html?highlight=transport_socket_matches)

BR,
Stoyan

[2022-10-18 05:06] wbpcode commented on #23524
Sound reasonable to me. cc @lizan

[2022-10-18 05:19] darjisanket opened #23532 "Need Suggestion on Redis Envoy Java library"
We are working on POC for Redis envoy to replace our caching solution. We use Micronaut Frameworks but we lettuce is not able to connect t envoy and facing issue. Need to understand how everyone is using Redis envoy with Java or which is best fit Java library .

[2022-10-18 07:15] andreas-ahman opened #23533 "High memory usage on AMD EPYC machines"
*Title*: *High memory consumption on AMD EPYC*

*Description*:

*Repro steps*:

*Config*:
[code]

*Findings:*
We're experiencing some strange behaviours of Envoy when running high core CPUs
With a very basic Envoy configuration we're seeing these figures.
The reported number of cores is with Hyper-Threading and SMT enabled. I.e. /2 physical cores

Idle:

After load:

*With TCMalloc:*
[code]

*With

[2022-10-18 07:45] wbpcode commented on #23514
It's sub field of common_http_protocol_options

[2022-10-18 07:48] lihaomin1010 commented on #23514
Thanks for reply! I will try it

[2022-10-18 08:05] wywanlv commented on #23516
Thanks for replying. I have tried but it seems not work. "transport_socket_matches" configuration can use different transport sockets for different endpoints, but only one transport_socket configuration works at one time.

[code]
I use tcpdump to inspect TCP packets, it seems only "tls" can work, and "proxy-protcol" not work.

[2022-10-18 09:26] acarlson0000 opened #23534 "Intermittent SSL errors when communicating with clusters w/ configured transport sockets (to perform mTLS)"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Intermittent SSL errors when communicating with clusters w/ configured transport sockets (to perform mTLS)

*Description*:
**Observed on Version: Envoy Binary v1.22.

[2022-10-18 09:31] Naski86 opened #23535 "How to generate a token JWT internally in envoyproxy"
Hello.

I'm trying to make a custom plugin to generate and add in header a JWT token, however, I managed through filters to put a harcode token, but I don't know how I should do to generate one, if with lua through libraries or how, as there is hardly any documentation on generation and signing of JWT token inside envoy.

thanks

[2022-10-18 09:44] phlax commented on #20919
im wondering where the confusion is coming from here - checking the docs and it seems they are correct

@iheng you would be better to just get the `typed_config` working - the example config in `examples/fault-injection/envoy.yaml` should work i believe

[2022-10-18 09:47] phlax commented on #16867
github release

[2022-10-18 10:16] fabiomnk commented on #23221
Configured circuit breakers as suggested , i see the configuration in the attached config dump, please confirm is what you were expecting.
unfortunately i experience the same behaviour as before.
Now that are configured properly i shall say that i dont see circuit breakers opening during the test.

![image](https://user-images.githubusercontent.com/34380079/196402503-ac461b4a-bec7-4d79-9728-9dc6dc

[2022-10-18 11:03] codefromthecrypt commented on #16867
cool. can you try to get Mac x64 and aarch64 builds up there as well as windows x64? there's been a lot of problems sourcing binaries particularly on Darwin, and we can change the sourcing accordingly.

[2022-10-18 11:06] phlax commented on #16867
could you jump on the slack channel ?

it has discussion about these and why they have not been included initially

[2022-10-18 11:30] codefromthecrypt commented on #16867
probably best to cite the permalink to here as it is the better record. I have had some difficulty getting into the envoy slack due to it restricting which domains can join. I doubt I'm the only one.

maybe you can restate if there is any plan to expand beyond that or why there won't be? regardless, this is improvement even if partially implemented, so welcome progress.

[2022-10-18 11:34] phlax commented on #16867
there is - this is just initial progress establishing the pipeline - there are various issue with all of the other binaries

can you clarify the problem - im happy to follow up

[2022-10-18 12:23] rmendal commented on #20919
I'm also using 1.23.1 and needed all 3 of the type_configs in [this](https://github.com/grpc/grpc-web/issues/1220#issuecomment-1104854371) comment.

Also consider running your `envoy.yaml` through [this](https://envoylint.com).

[2022-10-18 12:28] phlax commented on #20919
are there any current Envoy docs that suggest running without the `typed_config` ?

perhaps the source of confusion is from 3rd party sites showing old config - if not i would like to update our docs

[2022-10-18 12:35] #23258 closed

[2022-10-18 13:26] KBaichoo commented on #23221
Looking at

[code]

from the above attached file it doesn't look like circuit breakers are configured as expected. Can you try again?

[2022-10-18 13:55] fabiomnk commented on #23221
i'm sorry , i must have updated the wrong file.

[ares-ingress-envoy-config-dump-circuit_breakers.json.txt](https://github.com/envoyproxy/envoy/files/9811120/ares-ingress-envoy-config-dump-circuit_breakers.json.txt)

[2022-10-18 14:07] aetracht commented on #23458
@daixiang0  Indeed, my grep did find that one instance (see the end of my write-up), but that is insufficient for general use of all of the IANA/Industry-standard values.

[2022-10-18 14:59] markdroth commented on #20634
I don't think this is done yet.  We still need to actually implement the extensions, and figure out how to handle `CommonLbConfig`.

[2022-10-18 15:03] wbpcode commented on #20634
Seems like because of this. 🤣

![image](https://user-images.githubusercontent.com/12389633/196468536-ed007215-078b-4259-8fd7-65a4564e765c.png)

[2022-10-18 15:16] mattklein123 commented on #23517
The problem is solved as you outline: some combination of health checking, timeout tuning, etc.

[2022-10-18 15:26] fabiomnk commented on #23221
Unfortunately i'm willingly settings all the settings under http2_protocol_options using the following Istio Envoy Filter
[test-envoy-filter-h2-control.yaml.txt](https://github.com/envoyproxy/envoy/files/9812083/test-envoy-filter-h2-control.yaml.txt)

if i remove them this is the resulting configuration , the settings under HttpProtocolOptions are still there
[ares-ingress-envoy-confg-dump-without

[2022-10-18 15:42] #23469 closed

[2022-10-18 16:46] qiwzhang commented on #23524
SGTM too

[2022-10-18 16:50] qiwzhang commented on #23524
The code change should be easy and small. @cboitel you can provide a pr and I will help to review it.

[2022-10-18 17:17] cboitel commented on #23524
Will be glad to do so

[2022-10-18 17:43] alyssawilk commented on #17287
Because Envoy does eager serialization in many cases, increasing max outbound frames slightly increases the possibility of adversaries to send malicious traffic flows clogging your Network::Connection with frames they will never read.  If you have legitimate tragic being affected I'd definitely increase the limit and just make sure you have overload manager configured to protect against OOMs.

[2022-10-18 19:29] adamkotwasinski commented on #23185
@caetanobca

So how Kafka works:

1. client sends a Metadata request to one of servers in `bootstrap.servers` about topic(s)
2. response contains all servers (with what they put into `advertised.listeners`) hosting these topics
3. client then drops the connection to the bootstrap.server one [in non-degenerate cases, it's considered to be "-1" broker]
4. .... and then connects to one of the folks f

[2022-10-18 19:54] ploszpe opened #23543 "CSFR example port conflict"
*Title*: *Both 'crossite' and 'samesite' is binding to port 8000 under csfr example*

*Description*:
This issue was introduced in commit 823dc2eb8f19a084ac49413917e1ff6f0224bf97.
Crossite should use port 8002, as it is stated in documetation.

*Repro steps*:
Try to run csfr example.

[2022-10-18 20:44] adamkotwasinski commented on #23185
@DiegoGamaV Hah sorry I confused you - I was pointing at an example implementation of request listener. Then you might get an access to the request coming and modify it.

But! Then the implementation detail is that we are not serializing the deserialized data - it's all passthru (https://github.com/envoyproxy/envoy/blob/main/contrib/kafka/filters/network/source/broker/filter.cc#L97)
So even if we

[2022-10-18 21:01] ktnrn commented on #23508
This is another example where data is encrypted before storing in the cookie.
https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/session_storage

[2022-10-19 00:06] #22986 closed

[2022-10-19 00:58] toddmgreer commented on #14225
The compression filter should use the same logic on HEAD and GET responses headers to decide whether a response should be compressed, and should then modify the response headers in the same way, including setting `content-encoding`. The only difference should be lack of an actual body.

It may be that the response headers from upstream differ between HEAD and GET responses in a way that produces d

[2022-10-19 01:47] toddmgreer opened #23548 "Compressor filter per-route config"
Support enabling/disabling Compressor filter per-route, and communicate compression status.

Initial proposal:

[code]

[2022-10-19 02:35] toddmgreer opened #23549 "Compressor Filter: Weaken Strong ETags"
Currently, Compressor filter has two ways of handling compressible responses with etags:
 1. don't compress responses with etags (either strong or weak)
 2. remove strong etags when compressing responses

Our products require a different behavior:
 3. weaken strong etags (e.g. `etag: "my_etag"` -> `etag: W/"my_etag"`

To handle all three, I propose to deprecate `ResponseDirectionConfig.disable_on_

[2022-10-19 02:37] MUCZ opened #23550 "Custom `x-b3-traceid` header created via Lua filter gets overwritten."
Custom `x-b3-traceid` header created via Lua filter gets overwritten.

***Description***:

We are using Istio and would like to do some transformations on the headers of HTTP requests at its IngressGateway.
The HTTP request arriving at IngressGateway comes with headers `x-uniqueId` and do not contain any `x-b3-*` headers, we are trying to convert the `x-uniqueId` to `x-b3-traceId` via Lua Filter,

[2022-10-19 02:43] toddmgreer opened #23551 "Compressor Filter: add max length"
To bound the CPU and RAM costs due to compression, add support to Compressor filter for setting a maximum compressible message length.

Proposed addition to `extensions.filters.http.compressor.v3.Compressor.CommonDirectionConfig`:

[code]

[2022-10-19 02:44] ramaraochavali commented on #17287
Thank you so much @alyssawilk

[2022-10-19 02:44] ramaraochavali commented on #17287
Any insight on the 512 MB limit?

[2022-10-19 03:25] wywanlv commented on #23516
I hope that I can have only one upstream endpoint (e.g 1.1.1.1:8080), and use "tls" and "proxy-protocol" feature at same time. When connection established, client and server exchange certificates and do tls-handshake (tls). Then client sends data with "Proxy-Protocol" header. Is it possible for envoy?

Thanks !

[2022-10-19 04:11] ramaraochavali commented on #23517
Thank you @mattklein123. one final question, do you use more than one downstream connections (I guess that would be the case to help improve throughput (use more worker threads) + detect failures fast, but will ask any way)?

[2022-10-19 07:55] wendyfatcat commented on #23499
Let I have a try. It's difficult to reproduce it via ext_authz.

[2022-10-19 08:09] github-actions[bot] opened #23552 "Newer release available `com_github_unicode_org_icu`: release-72-1 (current: release-71-1)"
Package Name: com_github_unicode_org_icu@71-1
Current Version: release-71-1@2022-04-06
Available Version: release-72-1@2022-10-18
Upstream releases: https://github.com/unicode-org/icu/releases

[2022-10-19 08:09] github-actions[bot] opened #23553 "Newer release available `com_google_protobuf`: v21.8 (current: v21.7)"
Package Name: com_google_protobuf@21.7
Current Version: v21.7@2022-09-29
Available Version: v21.8@2022-10-18
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-10-19 08:09] github-actions[bot] opened #23554 "Newer release available `org_llvm_llvm`: llvmorg-15.0.3 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.3@2022-10-18
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-10-19 08:09] #23372 closed

[2022-10-19 08:09] github-actions[bot] opened #23555 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.3 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.3@2022-10-18
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-10-19 08:09] #23373 closed

[2022-10-19 08:17] acarlson0000 commented on #23534
Note: Also seeing this behaviour on 1.23.1

[2022-10-19 08:29] krdln commented on #23234
@shashankram This should be fixed in 1.23.2 – released yesterday.

[2022-10-19 08:29] #23234 closed

[2022-10-19 08:37] zuige970126 opened #23556 "How to convert the pb file under envoy/api to pb.go"
Our envoy project is trying to modify the endpoint_ components.proto, want to use the generated pb.go to overwrite the files that go-control-plane is relative to.

[2022-10-19 09:07] Ackuq opened #23557 "Using `regex_rewrite` in RedirectAction appends original path to the resulting path"
*Title*: *Using `regex_rewrite` in RedirectAction append original path to the end*

*Description*:

When using a `regex_rewrite` configuration for a redirect route, the original path always gets appended to the end of the resulting path. This happens even though the regex pattern does not find a match in the requested path. In my included configuration, I use one of the examples for this field, th

[2022-10-19 09:13] Ackuq commented on #23557
Worth noting as well, that using the provided `regex_rewrite` configuration for the RouteAction works as expected. I.e. that `/service/foo/v1/api` gets rewritten to `/v1/api/instance/foo` when being forwarded to the upstream.

[2022-10-19 09:27] ramaraochavali opened #23558 "prefix keys based on a value in dynamic metadata/filter state in redis"
*Title*: prefix keys based on dynamic metadata in redis

*Description*:
We want to build a redis cluster using Envoy proxy for a multi tenant application. We want to prefix the keys supplied by user (during store and retrieve) so that we can build governance. One of the ideas is to have the prefix added in dynamic metadata (probably in a WASM network filter, based on client certificates, which use

[2022-10-19 09:58] Shuanglu opened #23559 "Unexpected result for tag extraction in stats_config"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Unexpected result for tag extraction in stats_config*

*Description*:
I'm using istio and trying to customize some metrics name and tag name. I added below to the '

[2022-10-19 11:24] rulex123 opened #23560 "GCP auth filter supports configuring header name"
*Title*: *GCP Authentication Filter supports configuring request header that holds GCP authentication token.*

*Description*:
Currently, the filter fetches the GCP authentication token from the GCE metadata server and adds it
to the request in the HTTP Authorization header. This might be fine for most use cases, however there
might be exceptions where services expect the GCP token to arrive in a d

[2022-10-19 12:01] odidev commented on #21503
Hi Team,

Adding a gentle reminder to take a look at the above issue.

[2022-10-19 12:13] phlax commented on #21503
hi see [#16867 ](https://github.com/envoyproxy/envoy/issues/16867#issuecomment-1280908059) for further info

[2022-10-19 12:40] acarlson0000 commented on #23534
We have been further debugging the issue, and have replaced our upstream service with an application fronted by `httpd/apache`, and are not seeing the issue occur now.

This leads us to believe it is an issue with Envoy communication, but not sure if this is occurring on the Downstream envoy transport_socket, instead of our upstream (where we have previously been debugging).

The transport_socket

[2022-10-19 12:46] itsLucario commented on #14209
How can we get the `REQUEST_TX_DURATION` or `RESPONSE_TX_DURATION` or `DURATION` in microseconds or even the

[2022-10-19 12:47] itsLucario commented on #14209
/reopen

[2022-10-19 13:42] alyssawilk commented on #17287
Not offhand - I assume it's how much data it takes to hit the required number of frames but AFIK it depends on payload and isn't fixed.  If changing the frame limit doesn't help we can try to look into it.

[2022-10-19 14:27] stasos24 opened #23562 "network_writefilter: Heap-Buffer-Overflow"
*Title*: network_writefilter: Heap-Buffer-Overflow

*Description*:
Hello, i've found a heap-buffer-overflow during fuzzing network_writefilter harness

*Repro steps*:
Run fuzzing harness wtih crash_file

*Call Stack*:
[code]

[2022-10-19 14:28] stasos24 commented on #23562
Crash file
[crash_envoy.txt](https://github.com/envoyproxy/envoy/files/9821319/crash_envoy.txt)

[2022-10-19 14:52] ramaraochavali commented on #17287
It certainly helped. We have increased the max_outbound_frames things are working fine. Thank you.

[2022-10-19 15:03] ramaraochavali commented on #23517
Sure no problem. Thank you for the answers.

[2022-10-19 15:03] #23517 closed

[2022-10-19 16:29] DavidSchinazi opened #23564 "connect-udp support (RFC 9298)"
*Title*:

Add support in Envoy for connect-udp ([RFC 9298](https://www.rfc-editor.org/rfc/rfc9298.html))

*Description*:

Envoy already supports the HTTP CONNECT method, Upgrades, and Extended CONNECT for HTTP/2 and HTTP/3. We would like to add support for connect-udp to allow tunneling UDP securely over HTTP. Along the way we'll also add support for HTTP Datagrams ([RFC 9297](https://www.rfc-edit

[2022-10-19 16:29] DavidSchinazi commented on #23564
/assign @DavidSchinazi

[2022-10-19 16:43] alyssawilk opened #23565 "better limit proto inclusion to compiled extensions"
I noticed looking at Envoy Mobile bloaty traces that it's pulling in, for example, the skywalking trace proto despite building happily if the file is removed.
I'd like to fix the proto files so (like the C++ files) protos for a given extension are only built if the extension is built.

cc @adisuissa @htuch

[2022-10-19 18:14] htuch commented on #23565
Makes sense, do we need changes to proto files or the BUILD setup? This seems a bug more than anything.

[2022-10-19 19:01] yanjunxiang-google commented on #20086
I think the config_dump support for ECDS is still pending. Isn't it?

[2022-10-19 19:02] sergey-safarov opened #23568 "boringssl: -Werror=array-bounds error"
*Title*: *boringssl build failed with error -Werror=array-bounds*

*Description*:
[code]

[2022-10-19 19:02] sergey-safarov commented on #23568
Fedora 37

[2022-10-19 19:34] sergey-safarov opened #23569 "source/common/common/logger.cc: comparison is always true due to limited range of data type"
Fedora 37
[code]
compiler
[code]

[2022-10-19 19:42] sergey-safarov opened #23570 "org_brotli: previously declared as a variable length array"
Fedora 37
[code]
compiler
[code]

[2022-10-19 20:01] #22678 closed

[2022-10-19 20:01] #23018 closed

[2022-10-19 20:01] #23053 closed

[2022-10-19 20:20] stevenzzzz opened #23575 "[stats]: lazy init stats to save RAM (and CPU)"
*Title*: stats: lazy init stats to save RAM (and CPU)

*Description*:

With lots of clusters and route-tables in a cloud proxy, we are seeing tons of RAM been spent on stats while most of the stats are never inc-ed due to traffic pattern(or long tail). We are thinking that we can lazy init cluster stats() so that the RAM is only allocated when it's required.

To achieve that we need to have finer

[2022-10-19 20:21] stevenzzzz commented on #23575
cc @jmarantz

[2022-10-19 20:22] stevenzzzz commented on #23575
This is the subgroups I plan to have for clusters.

/**

All cluster config update related stats.
*/
#define ALL_CLUSTER_CONFIG_UPDATE_STATS(COUNTER, GAUGE, HISTOGRAM,
TEXT_READOUT, STATNAME)
COUNTER(assignment_stale)
COUNTER(assignment_timeout_received)
COUNTER(update_attempt)
COUNTER(update_empty)
COUNTER(update_failure)
COUNTER(update_no_rebuild)
COUNTER(update_success)
GAUGE(version, NeverImpo

[2022-10-19 21:51] stevenzzzz commented on #13009
cc @stevenzzzz

[2022-10-19 23:08] chewbacca9000 opened #23576 "Envoy proxy random load balancing option is not random"
We are using the below Envoy load balancing YAML file.  It is working but it is NOT randomly distributing requests across nodes 1, 2, and 3.  In our use case, we have high load coming from a single source IP address (customer server).  We want to distribute the traffic across the nodes like so:

Request 1 -> Node 1
Request 2 -> Node 2
Request 3 -> Node 3
Request 4 -> Node 1

However, this is what

[2022-10-19 23:11] chewbacca9000 commented on #23576
We did find this article: https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/concurrency_lb

However it is confusing and does not actually clearly articulate with an example what to do to actually fix this.  Also, it's not clear why even with multiple workers that Random would not actually be Random?  Is this something to do with HTTP2?  Random should be random - i.e. every request is

[2022-10-20 00:06] #23057 closed

[2022-10-20 04:14] markdroth commented on #23213
I don't think this is fully fixed yet.

[2022-10-20 04:17] wu-sheng opened #23579 "Enhance ALS TCP to support periodic reports when the TCP connection is not closed"
*Title*: *Enhance ALS TCP to support periodic reports when the TCP connection is not closed.*

*Description*:

would be used.

Currently, the HTTP ALS reports for every HTTP request, and TCP ALS only reports after the connection is closed.
In the observability case of SkyWalking for Istio mesh, we rely on the ALS to generate the topology map with metrics. But when TCP is set through service mesh,

[2022-10-20 04:46] wbpcode commented on #23579
Sound reasonable to me. It would be helpful for the users who using raw TCP connections.

[2022-10-20 04:47] sergey-safarov opened #23580 "com_github_google_tcmalloc: 'asm' clobber conflict with output operand"
Fedora 37
[code]
compiler
[code]

[2022-10-20 04:48] wbpcode commented on #23213
Yeah, an additional minor patch is necessary to match the override status with the new health status.

I am doing it now.

[2022-10-20 05:17] PragyaGpt opened #23581 "/v3/discovery:endpoints EDS resources rejecting for Length > 1"
/v3/discovery:endpoints EDS resources rejecting for Length > 1

Hi ,
I was trying to configure my EDS response with configuration Length greater than one , as per the configuration resource is an array and it should accept multiple configuration , but in my case it fails to accept , giving error as -> /v3/discovery:endpoints rejected: Unexpected EDS resource length: 2,
AS per the configuration str

[2022-10-20 05:46] deva26 commented on #23579
👍

[2022-10-20 06:25] sergey-safarov commented on #23340
I have made a fresh build of the master. 01db288c6418c8d8260142139eec5454823e7743
And one error is the
[code]
is it expected?

[2022-10-20 08:02] #23029 closed

[2022-10-20 08:03] github-actions[bot] opened #23582 "Newer release available `com_github_bufbuild_buf`: v1.9.0 (current: v1.7.0)"
Package Name: com_github_bufbuild_buf@1.7.0
Current Version: v1.7.0@2022-07-27
Available Version: v1.9.0@2022-10-19
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-10-20 08:03] #23124 closed

[2022-10-20 08:44] znqjnny opened #23583 "RBAC IPMatcher doesn't work expected when more than 1 IP was included in HTTP header x-forwarded-for"
We test the RBAC IP filtering feature with 1.24 dev version.  Looks like the custom_match feature with [type.googleapis.com/xds.type.matcher.v3.IPMatcher]  currently couldn’t recognize the IP correctly when we have 2 or more IPs from one input.

In our use case, we retrieve the IP from the header with X-forward-for . And since we have proxies between the downstream and upstream services, the addit

[2022-10-20 08:56] zonque commented on #6686
@mathewprokos would you be willing to share your `.bbclass` and possibly also your recipe for envoy? I guess quite some people would be grateful of that :)

[2022-10-20 09:24] jdomag commented on #14785
@dio
Can you explain a bit why below approach doesn't have an effect and we need to disable tracing directly in httCall()?
My LUA filter takes the request and  forward it to service providing authorization based on the headers of request.
I use envoy sampling so every 10% of total traffic gets sampled. I would like to see in the full span (request lifecycle) the requests to the authorization servi

[2022-10-20 11:43] Ackuq commented on #23557
After some further experimentation, this issue does not appear when matching the route using the `safe_regex` doing the route matching. Also, after some digging into this, I found that this behaviour is a consequence of passing the `prefix` as the "matched " into the [`finalizePathHeader` function inside config_impl.cc](https://github.com/envoyproxy/envoy/blob/main/source/common/router/config_impl

[2022-10-20 12:28] mkauf opened #23584 "Combine HTTP header values with comma and space: ", ""
[RFC 9110](https://www.rfc-editor.org/rfc/rfc9110#name-field-order) recommends to combine the values of multiple headers that have the same name with a comma and a space: ", ".

Example:
[code]

Envoy currently uses only a comma: ",".

Example:
[code]

Envoy should use the recommended way to combine headers to be consistent with other servers, e.g. the Apache HTTP Server.

This patch implements th

[2022-10-20 12:57] #23357 closed

[2022-10-20 14:20] tyxia opened #23585 "Should we include the Envoy Node info in `RateLimitQuotaUsageReports`"
Question from @bbassingthwaite : In our use case, the RQLS management server needs to know the Envoy node information in order to understand where the usage report is coming from. Should the first RateLimitQuotaUsageReports that Envoy sends contain the Node similar to other xDS APIs?

[2022-10-20 14:20] tyxia commented on #23585
/assign @tyxia

[2022-10-20 14:21] zonque opened #23586 "Compilation issue with 1.24.0"
*Title*: Compilation issue

*Description*:

Trying to build Envoy 1.24.0 gives me the following error on our build system:

[code]

[2022-10-20 14:29] tyxia commented on #23585
/cc @bbassingthwaite

[2022-10-20 14:30] tyxia commented on #23585
Hi @bbassingthwaite, for this question, first let me describe our design a bit.

The relationship of different objects here is :
- A single report could include quota usage for multiple Buckets (i.e., 1 `RateLimitQuotaUsageReports` <-> many `BucketQuotaUsage`)
- A single `BucketQuotaUsage` includes the usage info for a group of clients (could be single client per configuration) as the rate limitin

[2022-10-20 14:43] bbassingthwaite commented on #23585
Hi @tyxia thanks for the response. The RQLS management server will receive reports from many Envoy nodes across various regions, clusters and tenants. In our use case, the Envoy Node contains all of this information and allows us to distinguish the tenant/region/cluster and apply the appropriate rate limiting policies.

We could encode this information in the bucket but it's quite redundant and wo

[2022-10-20 14:52] alyssawilk opened #23588 "envoy_reloadable_features_allow_adding_content_type_in_local_replies deprecation"
Your change #20460 (http: respecting configured added content encoding on local replies) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23589 "envoy_reloadable_features_allow_upstream_inline_write deprecation"
Your change #19523 (data plane: allowing upstream inline writes) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23590 "envoy_reloadable_features_append_or_truncate deprecation"
Your change #19745 (file: truncating files which are not opened with append) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23591 "envoy_reloadable_features_append_to_accept_content_encoding_only_once deprecation"
Your change #19394 (decompressor: do not add accepted content encoding twice.) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23592 "envoy_reloadable_features_conn_pool_new_stream_with_early_data_and_http3 deprecation"
Your change #19388 (retry: retry immediately on 425 response code and H3 stream reset) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23593 "envoy_reloadable_features_deprecate_global_ints deprecation"
Your change #20168 (runtime: deprecating global ints) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23594 "envoy_reloadable_features_do_not_await_headers_on_upstream_timeout_to_emit_stats deprecation"
Your change #20072 (router: record upstream request timeout stats for all the cases) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23595 "envoy_reloadable_features_http1_lazy_read_disable deprecation"
Your change #20148 (lazy read disable for the http1 codec) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:52] alyssawilk opened #23596 "envoy_reloadable_features_http2_new_codec_wrapper deprecation"
Your change #20600 (Re-enables the HTTP/2 wrapper API by default.) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23597 "envoy_reloadable_features_http_100_continue_case_insensitive deprecation"
Your change #20603 (http: 100-continue is case insensitive in Expect header) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23598 "envoy_reloadable_features_no_extension_lookup_by_name deprecation"
Your change #20397 (extensions: strongly prefer type URL lookup) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23599 "envoy_reloadable_features_override_request_timeout_by_gateway_timeout deprecation"
Your change #20026 (HCM: on downstream timeout, set response 504 if the request is fully read) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23600 "envoy_reloadable_features_postpone_h3_client_connect_to_next_loop deprecation"
Your change #19860 (quic: postpone conn pool connect ) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23601 "envoy_reloadable_features_skip_delay_close deprecation"
Your change #19863 (http: reduce delay-close issues for HTTP/1.1 and below) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23602 "envoy_reloadable_features_strict_check_on_ipv4_compat deprecation"
Your change #19716 (listener: ensure `getBalancedHandlerByAddress` works with ipv4_compat) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:53] alyssawilk opened #23603 "envoy_reloadable_features_support_locality_update_on_eds_cluster_endpoints deprecation"
Your change #19056 (Fix handling locality update for an eds cluster endpoint) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @vikaschoudhary16

[2022-10-20 14:53] alyssawilk opened #23604 "envoy_reloadable_features_top_level_ecds_stats deprecation"
Your change #20396 (ecds: use top level stats prefix) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2022-10-20 14:55] #23590 closed

[2022-10-20 16:03] #23046 closed

[2022-10-20 16:03] #23051 closed

[2022-10-20 16:26] zonque commented on #23586
This happens with Bazel 5.1.1 as well as 5.3.2.

[2022-10-20 16:31] phlax commented on #23586
currently `.bazelversion` is pinned to 6 (pre) - im wondering if this is related

[2022-10-20 17:32] zonque commented on #23586
Forget it. My build system was messing with `bazelrc` :roll_eyes:

[2022-10-20 18:25] #23588 closed

[2022-10-20 18:40] belyalov commented on #22583
We have it constantly reproducible on our test setup under live traffic. I've added backtrace before the assertion:
[code]

Any thoughts?
cc @alyssawilk

I can add more debug prints to extract even more information - we have it happen couple times per day.

[2022-10-20 18:46] kyessenov commented on #22583
@belyalov This looks like regular TCP proxy? Is there something else going on (CONNECT, xDS updates, ORIGINAL_DST) on the data path?

[2022-10-20 20:04] agrawroh commented on #23594
@alyssawilk Thanks, I'll open a PR to remove it.

[2022-10-20 20:20] alyssawilk commented on #22583
yeah the stack trace is confusing me.  essentially it's
if (isIdleImpl) {
  doDeletionCode();
  }
and doDeletionCode fails isIdleImpl checks.   clearly there's some code between the original check and the final check that makes the statement no longer true but I'm having trouble finding it via code inspection.  If I got you a patch with some increased logging since you have a repro case would you

[2022-10-20 20:24] kyessenov commented on #22583
@alyssawilk I remember seeing this assertion violation when manually stress testing prior to https://github.com/envoyproxy/envoy/pull/22371. It went away after that PR for HTTP usage, but I see that this is still happening on 1.24. My guess was there is some pointer address collision when synthesizing hosts rapidly. Having detailed info about when hosts get created in ORIGINAL_DST would be helpful

[2022-10-20 20:34] kyessenov commented on #23503
Thanks @sjguro, I think the most intuitive thing is to define an action that is not just a string but can be computed from metadata. I'll submit a proposal.

[2022-10-20 20:51] belyalov commented on #22583
yeah, absolutely, please go for it, happy to help.

[2022-10-20 21:00] #16629 closed

[2022-10-20 21:45] kyessenov opened #23614 "matchers: support format string as input and action"
Feature request for https://github.com/envoyproxy/envoy/issues/23503.

Add an extension that registers [SubstitutionFormatString](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/substitution_format_string.proto#envoy-v3-api-msg-config-core-v3-substitutionformatstring) as an HTTP and network input. Additionally, allow its usage as an `action` in the selection of the filter chain n

[2022-10-20 21:46] kyessenov commented on #23503
Posted a feature request. I'll work on a draft PR.

[2022-10-20 22:35] jeffalder opened #23615 "How to pass route metadata to ext_authz"
*Title*: How to pass route metadata to ext_authz?

*Goal*: I want to be able to use the same ext_authz service with slightly different configuration parameters on different routes. For example, I want to say "/api/v1 uses auth method X and /api/v2 uses auth method Y" _without_ having to deploy my single ext_authz service with every possible permutation of auth method.

_add_ I also don't want to h

[2022-10-20 23:31] #23589 closed

[2022-10-21 00:06] #23059 closed

[2022-10-21 00:06] #23089 closed

[2022-10-21 00:06] #23095 closed

[2022-10-21 00:41] wbpcode commented on #23531
Sorry, but I don't get your quesion clearly. what do you mean by `then send the terminated stream to a particular port for post processing`? Proxy the traffic to upstream server or other things?

[2022-10-21 00:51] wbpcode commented on #23532
Sorry, but most developers here are cpp player. 🤣

[2022-10-21 00:52] wbpcode commented on #23532
cc @mattklein123 for redis code owner

[2022-10-21 01:05] wbpcode commented on #23533
cc @ckennelly

[2022-10-21 01:10] kyessenov opened #23618 "flake: oauth2 integration test"
https://dev.azure.com/cncf/envoy/_build/results?buildId=118871&view=logs&jobId=1439b9f7-a348-5b50-b5fe-ea612ea91241&j=1439b9f7-a348-5b50-b5fe-ea612ea91241&t=37b0a9be-1a71-50b3-594a-4c04a031247d

[ RUN      ] IpVersionsAndGrpcTypes/OauthIntegrationTest.LoadListenerAfterServerIsInitialized/3
test/integration/fake_upstream.h:497:29: runtime error: member access within address 0x6120004d02c0 which doe

[2022-10-21 01:12] jmarantz opened #23619 "stats: retain Scopes for some amount of time after the last reference to them is dropped, to avoid leaking data when xds removes a scope"
*Title*: Then an xDS update removes a cluster, any stats that get updated after the most recent sink or scrape will get dropped when the ScopeSharedPtr held in the cluster gets dropped.

*Description*:

[2022-10-21 01:13] jmarantz commented on #23619
@kyessenov @stevenzzzz

[2022-10-21 01:16] wbpcode commented on #23534
cc @ggreenway could take a look for this issue? Thanks.

[2022-10-21 01:27] wbpcode commented on #23535
I think it's more like a quesion about jwt-lib. You can find lots of jwt lib by the google and integrate it with envoy.

[2022-10-21 01:28] kyessenov commented on #14070
Yes, I finally got around to rewriting away from Wasm https://github.com/istio/istio/pull/41441, circumventing the whole ABI question. I haven't done expiry, but it seems fairly straightforward now.

[2022-10-21 01:28] wbpcode commented on #23543
#23545

[2022-10-21 01:30] kyessenov commented on #23619
Thanks, this should provide a general mechanism to provide metric expiry for dynamic stats as well, e.g. grpc_stats with dynamic names.

[2022-10-21 01:30] wbpcode commented on #23548
cc @KBaichoo

[2022-10-21 01:31] wbpcode commented on #23549
cc @KBaichoo

[2022-10-21 01:32] wbpcode commented on #23550
do you enabled the zipkin tracer?

[2022-10-21 01:37] wbpcode commented on #23556
You can create you owned go-control-plane with `tools/api/generate_go_protobuf.py`

[2022-10-21 01:43] wbpcode commented on #23558
cc @mattklein123

[2022-10-21 01:50] wbpcode commented on #23562
cc @mattklein123

[2022-10-21 01:52] wbpcode commented on #23568
cc @keith

[2022-10-21 01:56] wbpcode commented on #23569
cc @keith should we just update the code to avoid this building error?

[2022-10-21 01:57] zuige970126 commented on #23556
Thank you for your answer.
We use a lower version of the envoy,  and found that the generated pb.go is quite different from the go-control-plane

[2022-10-21 01:58] wbpcode commented on #23570
may be you can build the envoy with the building image to avoid the effects of compiler/os version?

[2022-10-21 01:59] wbpcode commented on #23575
cc @jmarantz

[2022-10-21 02:03] wbpcode commented on #23576
tcp proxy is used the the load balancing is based on the connections rather than requests. I think you can check this first.

[2022-10-21 02:04] wbpcode commented on #23580
cc @keith

[2022-10-21 02:04] zuige970126 commented on #23556
![image](https://user-images.githubusercontent.com/65713439/197093207-e90d06cc-5c40-4d12-9cfb-a4e227d1d83b.png)
![image](https://user-images.githubusercontent.com/65713439/197093247-12ee4166-ea3b-46da-a6f4-cfa89a2412e3.png)
The first picture is the original one of go control plane, and the second picture is produced by generate_go_protobuf.py.
Is the protoc version a problem? How to solve this pro

[2022-10-21 02:08] wbpcode commented on #23581
every eds cluster has its independent eds subscription. So, only one resource could be accepted by the single eds cluster.

[2022-10-21 02:10] wbpcode commented on #23583
cc @yanavlasov

[2022-10-21 02:15] wbpcode commented on #23615
Yeah, `typed_metadata_context_namespaces` only be used for dynamic matadata which is created dynamicly in the runtime by other filters.

[2022-10-21 02:17] wbpcode commented on #23618
cc @vikaschoudhary16 cc @snowp

[2022-10-21 02:20] wbpcode commented on #23556
Then it's a little hard to create new control plane for you. Maybe you need do update the `tools/api/generate_go_protobuf.py` first to make sure it will pull a similar base version with your envoy.

[2022-10-21 03:18] twogoods opened #23620 "How does https Passthrough work when proxying iptables"
*Description*:

In an container injected envoy, curl https://xxx.com will success ,envoy proxying iptables and route to PassthroughCluster.
but if envoy config like this:
[code]
TestPassthroughCluster may not send tls request to upstream

[code]
it will send tls request to upstream。in this case envoy accept http call and proxy to upstream with tls, it need extra config `transport_socket`

so I int

[2022-10-21 04:48] Shuanglu commented on #23559
Thanks. The reason for only 1 group is because I got this from the doc `If no second capture group is provided, the first will also be used to set the value of the tag`. However I tried to use `_rq_((\\d))xx$` but it still doesn't work.

[2022-10-21 05:39] PragyaGpt commented on #23581
@wbpcode  Thanks for the reply , is there any solution for what I'm trying to achieve , as per my requirement I will have multiple resources , is there a way to configure multiple resources ??

[2022-10-21 06:41] PiotrSikora commented on #22028
@lizan could you reopen this and add appropriate tags?

[2022-10-21 07:44] Naski86 commented on #23535
Hello, thanks for u answer

Good, if I'm looking at libraries, but all is to validate, not to sign within the same envoy, which I do not see anywhere, and I do not know if it is viable.

I am trying to validate a JWT and call an external uri to make a post, but I am not able to do it.

these is a example

          - name: envoy.filters.http.lua
            typed_config:
              "@type": typ

[2022-10-21 08:03] github-actions[bot] opened #23623 "Newer release available `com_github_intel_qatlib`: 22.07.1 (current: 21.11.0)"
Package Name: com_github_intel_qatlib@21.11.0
Current Version: 21.11.0@2021-11-10
Available Version: 22.07.1@2022-10-20
Upstream releases: https://github.com/intel/qatlib/releases

[2022-10-21 08:03] #22341 closed

[2022-10-21 08:03] github-actions[bot] opened #23624 "Newer release available `com_github_wasmtime`: v2.0.0 (current: v1.0.0)"
Package Name: com_github_wasmtime@1.0.0
Current Version: v1.0.0@2022-09-20
Available Version: v2.0.0@2022-10-20
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-10-21 08:03] #23275 closed

[2022-10-21 08:30] zuige970126 commented on #23556
The problem may be that the protoc-gen-go version is too low.  generate_go_protobuf.py installs protoc through bazel. Where can modify the protoc version.

[2022-10-21 10:20] zufardhiyaulhaq commented on #19369
@rittneje we experience some race conditions where new connections still go to the Envoy in Kubernetes since the controller to update the endpoint IP is async.

[2022-10-21 12:34] vikaschoudhary16 commented on #23618
Will take a look.

[2022-10-21 14:24] #23520 closed

[2022-10-21 14:45] mattklein123 commented on #2181
Fixed by https://github.com/envoyproxy/envoy/pull/23577

[2022-10-21 14:49] plallin commented on #16867
Hello! Is there a plan to provide official FIPS-compliant packages? Currently the guidance is to build Envoy from source ([ref](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#fips-140-2)). This causes issue where there is a requirement to run CI pipelines in air-grasped environment with no Internet access as building Envoy offline is not supported either ([ref](https:

[2022-10-21 15:49] jeffalder commented on #23615
@wbpcode OK, so _typed_ metadata aside (and I presume this limitation applies to _untyped_ as well), any thoughts on how to accomplish the original goal?

My next thought was to use `request_headers_to_add` on the route. Then I _should_ have a header that I can observe in the ext_authz service. I'll try that next.

[2022-10-21 15:56] #23557 closed

[2022-10-21 16:01] jbohanon opened #23625 "HTTP 1.1 connections intermittently used after connection is closed resulting in 503"
*Title*: *HTTP 1.1 connections intermittently used after connection is closed resulting in 503*

*Description*:

[code]
I have used the yaml in the repro steps section to create a testing environment which has demonstrated that this issue occurs under the following conditions:
1. when using Envoy, but not nginx or direct requests
2. when using an ExpressJS upstream, but not a Go upstream (see boha

[2022-10-21 16:04] #22724 closed

[2022-10-21 16:05] #23008 closed

[2022-10-21 16:06] kyessenov commented on #23008
Duplicate of https://github.com/envoyproxy/envoy/issues/20086

[2022-10-21 16:16] sjguro commented on #23503
Thank you!

[2022-10-21 16:55] jeffalder commented on #23615
[code]

This did not appear to work either; the header was added to the proxied request but not to the request sent to ext_authz.

[2022-10-21 17:03] jeffalder commented on #23615
ah ha, I finally found it.

ext_authz supports "per-route configuration": https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#per-route-configuration

The protobuf definition is here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html?highlight=extauthzperroute#envoy-v3-api-msg-extensions-filters-htt

[2022-10-21 17:03] #23615 closed

[2022-10-21 17:09] kyessenov commented on #21910
An interesting use-case is "xDS redirect" where a resource name can be translated between two xDS authority servers. That simplifies federation if their use inconsistent naming schemes.

[2022-10-21 17:50] joseret commented on #23531
I want to send terminiated stream to another pod on port 10000 for example

[2022-10-21 19:23] tyxia commented on #23585
@bbassingthwaite  Thanks for sharing the information and use case from your side!
For our(i.e., Google) cases, we currently don't need this information as I describe above because we are operating on quota bucket basis and don't really care about which Envoy Node. We could use it later (e.g., logging).

But I think your proposal is for the legit use case. I will send a PR for this later.

[2022-10-21 19:25] bbassingthwaite commented on #23585
Thanks @tyxia !

[2022-10-21 20:32] amthorn commented on #18928
@LuyaoZhong do you know if the implementation will be compatible with the [custom handshaker extension](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#custom-handshaker-extension) ?? I.E. to be able to send some of the relevant server cert information (SANs, CN, etc...) or the certificate itself to a custom handshaker extension??

[2022-10-22 00:46] GermanKingYT commented on #21617
when it will be fixed for normal version get the same error

https://i.imgur.com/caGltA8.png

[2022-10-22 06:42] MUCZ commented on #23550
Yes, it's enabled.

After I post this question I have read some of the envoy code and I presume that it might due to the implementation of `setByReferenceKey` called in  `ZipkinSpan::injectContext`, its behavior is to **remove** the existing header(the header we set in the Lua code) and then add the new header (randomly generated `x-b3-*` headers).

I also presume that the reason why `setByReferen

[2022-10-22 08:03] github-actions[bot] opened #23631 "Newer release available `aspect_bazel_lib`: v1.13.1 (current: v1.12.0)"
Package Name: aspect_bazel_lib@1.12.0
Current Version: v1.12.0@2022-09-16
Available Version: v1.13.1@2022-10-21
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-10-22 08:03] #23410 closed

[2022-10-22 09:11] wbpcode opened #23632 "test flaky: tls/ocsp:ocsp_test and tls:ssl_socket_test failed out of the expectation"
see the ci pipelines. and here is an example https://dev.azure.com/cncf/envoy/_build/results?buildId=118940&view=logs&jobId=8c169225-0ae8-53bd-947f-07cb81846cb5&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec

[2022-10-22 09:12] wbpcode commented on #23632
Hi, any idea about it? cc @ggreenway

[2022-10-22 09:45] phlax commented on #16867
@plallin not an immediate plan - i would encourage you to join the #envoy-release slack channel as we are discussing there which binaries to add

that bug was just closed - so that way should work now

[2022-10-22 09:49] phlax commented on #16867
...actually - that bug was partially resolved i think - you can build from a tarball now:

https://github.com/envoyproxy/envoy/blob/main/bazel/README.md#building-from-a-release-tarball

for an air-gapped build you would still need to resolve the deps somehow

[2022-10-22 10:39] phlax commented on #23543
i think this is fixed now

[2022-10-22 10:39] #23543 closed

[2022-10-22 14:23] wbpcode commented on #23550
Sorry, but I am not sure if it's a common use case or just for your special scene?

why you want to set zipkin trace id by lua filter? could we just use the zipkin tracer directly?

[2022-10-22 19:59] cancecen commented on #22661
I am working on this.

[2022-10-22 20:28] suniltheta commented on #23076
bump

[2022-10-22 22:21] esigo commented on #9958
Hi,
I was wondering what the status of this issue is. I could help with implementation if needed

[2022-10-23 00:05] #22634 closed

[2022-10-23 05:08] MUCZ commented on #23550
I personally think it is a common use case, to summarize this problem in one phrase:

When the Zipkin tracer is enabled, all operations we did in the Lua filter to any 'x-b3-*' headers is ineffective.

As far as I know this is not mentioned in any docs, so I think it as a bug.

The reason why we want to set our 'x-b3-*' headers using lua filters is because that we are trying to integrate Istio mes

[2022-10-23 08:01] #23130 closed

[2022-10-23 08:01] #23142 closed

[2022-10-23 08:54] masquee commented on #22812
/close

[2022-10-23 08:54] #22812 closed

[2022-10-23 12:01] #23120 closed

[2022-10-23 16:02] #22720 closed

[2022-10-24 11:29] kfaseela commented on #9652
Having similar concerns about the debug logs. Not sure if someone is looking into this.

[2022-10-24 12:01] #22880 closed

[2022-10-24 12:24] #23595 closed

[2022-10-24 13:22] #23632 closed

[2022-10-24 13:33] #23602 closed

[2022-10-24 17:07] AlexanderEllis commented on #9958
Hi @esigo !  The OpenTelemetry Tracer is in place and ready to use with gRPC exporting, with at least one improvement as a pending TODO if you're interested (see the above comment about HTTP exporting). Other than that, I think it's mostly tackling any bugs/improvements as it sees use in the wild.

[2022-10-24 17:30] keith commented on #23340
looks like another case of the same issue in another external repo, com_googlesource_googleurl

[2022-10-24 17:52] gabrielgiussi opened #23642 "How can I obtain per route downstream statistics?"
*Title*: How can I obtain per route downstream statistics?

*Description*:
By default I'm getting the `downstream_rq_time` histogram in `/stats/prometheus` but it doesn't include any label to identify the route.
Is there any way to include the route as a label to distinguish the latency per route?

[2022-10-24 19:41] zonque opened #23644 "Compiler failure: '__builtin_memset' forming offset 16 is out of the bounds"
I'm getting the following error trying to compile 1.24 or the current git development head:

[code]

Anyone else seeing this?

[2022-10-24 19:42] #23593 closed

[2022-10-24 19:46] keith commented on #23644
looks like a dup of https://github.com/envoyproxy/envoy/issues/23568, what gcc version are you using here?

[2022-10-24 20:42] alyssawilk commented on #22583
Ok no patch yet (sorry, mostly focused on EnvoyCon) but I've at least got an integration test of basic original dst cluster additions and removals both for TCP and HTTP neither of which I don't think we had previously.
@kyessenov if you have ideas of how I could better tweak the tests I sent your way to repro the thrashing issues you were seeing lmk, otherwise I'll try to add some sensible logging

[2022-10-24 20:51] esigo commented on #9958
Hi @AlexanderEllis, thanks for the reply.
I'll work on HTTP exporting then :)

[2022-10-24 21:24] zonque commented on #23644
This is on Fedora 36:
[code]

[2022-10-24 21:26] zonque commented on #23644
And yes, it's a dup. Closing hence.

[2022-10-24 21:26] #23644 closed

[2022-10-24 21:33] zonque opened #23646 "Build failure with gcc 12: argument 4 of type 'uint8_t *' {aka 'unsigned char *'} declared as a pointer"
Trying to build on Fedora 36 with gcc 12.2.1 yields the following build error:

[code]

[2022-10-25 09:39] zonghaishang opened #23649 "config vscode failed when run refresh_compdb.sh"
**Ubuntu 20 Parallels Vm (apple mac pro m1)**

[code]

[2022-10-25 10:11] AtticusLv opened #23650 "Lua filter modify outbound host when envoy acts as sidecar in istio"
Hi, I'm new with envoy and istio.
Is it possible to modify outbound request's host, and real request routing to other upstream cluster or host?

*Description*:
Run with the sample project - bookinfo, and apply custom envoy lua filter with istio.
Desired scenario is that, when productpage calls upstream reviews service, the envoy sidecar in productpage can modify the outbound request's host. The re

[2022-10-25 12:45] untitaker opened #23651 "Envoy crashes on any non-empty MULTI transaction when proxying Redis Cluster"
*Title*: Envoy crashes on any non-empty MULTI pipeline when proxying Redis Cluster

*Description*:

When envoy is configured to talk to an upstream Redis cluster, any `MULTI-EXEC` transaction causes it to segfault.

*Repro steps*:

Please refer to https://github.com/untitaker/envoy-redis-pipeline-segfault for exact configuration.

1. have a redis cluster
2. tell envoy to proxy that redis cluster
3

[2022-10-25 12:55] PKizzle commented on #23339
Or compiling envoy with `--define tcmalloc=disabled` which for me was the only acceptable option. I have published the images on Docker Hub https://hub.docker.com/repository/docker/thegrandpkizzle/envoy if you don't want to compile it yourself.

[2022-10-25 13:09] tcohen01 opened #23652 "ext_proc ImmediateResponse headers not respected in ResponseBody response using BUFFERED_PARTIAL with chunked response from server"
### Version
v1.24-latest / v1.24.0

### Description
We wish to send ImmediateResponse in our ext_proc service based on conditions that need to be met on response body content. The response body may come in different formats depending on the webserver, possibly chunked transfer-encoding as well.

However, when using `transfer-encoding: chunked` in the server's response and there's more than one or

[2022-10-25 13:27] mattklein123 commented on #23651
cc @asheryerm can you please take a look at this?

[2022-10-25 14:18] boringuy opened #23653 "Utility::PercentEncoding::encode doesn't encode non-ascii character correctly"
*Title*: *Utility::PercentEncoding::encode doesn't encode non-ascii character correctly*

*Description*:
Utility::PercentEncoding::encode() does not handle binary correctly because it ended up getting interpret as "negative" number due to the most significant bit being 1.

*Repro steps*:

*Admin and Stats Output*: N/A

*Config*: N/A

*Logs*: N/A

*Call Stack*: N/A

[2022-10-25 14:18] boringuy commented on #23653
This is a simple fix and I already update the unit test to reproduce this. I will be submitting PR soon.

[2022-10-25 15:45] #23424 closed

[2022-10-25 17:38] keith commented on #23646
https://github.com/envoyproxy/envoy/issues/23570

[2022-10-25 17:38] #23646 closed

[2022-10-25 18:18] bars83 commented on #23080
Any news?

[2022-10-25 18:34] keith commented on #23568
Upstream issue is here: https://bugs.chromium.org/p/boringssl/issues/detail?id=492&q=__builtin___memset_chk&can=2

I think I can provide a workaround for this, just trying to repro first

[2022-10-25 18:35] keith commented on #23342
workaround here https://github.com/envoyproxy/envoy/pull/23667
upstream fix here https://github.com/google/brotli/pull/985

[2022-10-25 18:47] timo-haas-by commented on #23080
Waiting for approval.

[2022-10-25 19:03] kyessenov commented on #14930
Istio 1.13 doesn't have this fix.

[2022-10-25 19:05] adamkotwasinski commented on #23185
@DiegoGamaV I just realized that it might not be as simple as replacing with only one value - metadata requests contain information about _all upstream Kafka brokers_ i.e. {broker 1 = host1, broker 2 = host2, etc.}. If we need it to work we'd need to either:
* keep the current model (envoy per broker) and have the config that's aware of the whole cluster topology (e.g. envoy 1 knows the address of

[2022-10-25 19:48] keith commented on #23390
https://github.com/envoyproxy/envoy/pull/23434

[2022-10-25 19:48] keith commented on #23390
everything should be fixed here, please lmk if anyone else spots more issues with this!

[2022-10-25 20:08] keith commented on #23570
fixed upstream in https://github.com/google/brotli/commit/0a3944c8c99b8d10cc4325f721b7c273d2b41f7b and https://github.com/google/brotli/commit/27dd7265403d8e8fed99a854b9c3e1db7d79525f

trying to pull in the new version in https://github.com/envoyproxy/envoy/pull/23668

you can workaround locally in the meantime with `--copt=-Wno-error=vla-parameter`

[2022-10-25 20:33] keith commented on #23580
fixed upstream in https://github.com/google/tcmalloc/commit/1198329a6e9316e432d006d214e555262e8012a0
update pr: https://github.com/envoyproxy/envoy/pull/23671

[2022-10-25 20:41] rulex123 commented on #21535
👋 @KBaichoo I have a [patch](https://github.com/envoyproxy/envoy/pull/22877) that addresses this issue. Any chance we can get somebody to help with a first pass of code review? Thanks!

[2022-10-25 20:52] tottiliyt opened #23672 "Streamed response causes added latency in envoy sidecar"
Description:

When doing performance testing envoy as the sidecar of a web app, I found that streamed response caused an added tail latency of ~30 ms, whereas the latency observed when using buffered response was ~1 ms. Any idea why this happens and how to fix it?

Example code of using streamed response in NodeJS:

const server = https.createServer(options, (req, res) => {
  res.statusCode = 200;

[2022-10-25 22:25] jewertow opened #23674 "TcpProxy ignoring tunneling_config"
*Title*: *TcpProxy ignoring tunneling_config*

*Description*:
We have an [integration test](https://github.com/istio/istio/blob/master/tests/integration/pilot/tunneling_test.go) in Istio which verifies tunneling TCP over HTTP that is implemented with TcpProxy.tunneling_config.

Basically the test verifies that when an app "a" (with sidecar) sends a request HTTP/1.1 to an app "external" (without si

[2022-10-25 22:29] keith commented on #23569
https://github.com/envoyproxy/envoy/pull/23675

[2022-10-26 00:53] keith commented on #23649
fixed by https://github.com/envoyproxy/envoy/pull/23677 as long as you also invoke the script with `EXCLUDE_CONTRIB=true ./tools/vscode/refresh_compdb.sh`

I'm looking at the other issues that require excluding contrib

[2022-10-26 02:46] kyessenov commented on #23674
One possibility is the previous listener hasn't been drained and is still effective. Is the connection somehow persistent?

[2022-10-26 06:15] DimitarHKostov opened #23680 "External Processing Filter"
*External Processing Filter for grpc connection*

[2022-10-26 07:51] zonque commented on #23570
FWIW, that's not possible in my case as I'm trying to cross-compile with an SDK.

[2022-10-26 08:03] github-actions[bot] opened #23685 "Newer release available `com_github_curl`: curl-7_86_0 (current: curl-7_85_0)"
Package Name: com_github_curl@7.85.0
Current Version: curl-7_85_0@2022-08-31
Available Version: curl-7_86_0@2022-10-26
Upstream releases: https://github.com/curl/curl/releases

[2022-10-26 08:03] github-actions[bot] opened #23686 "Newer release available `com_github_google_flatbuffers`: v22.10.25 (current: v22.9.29)"
Package Name: com_github_google_flatbuffers@22.9.29
Current Version: v22.9.29@2022-09-30
Available Version: v22.10.25@2022-10-26
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-10-26 08:07] #23570 closed

[2022-10-26 08:13] ningyougang opened #23687 "receive 2 health check requests each time when configure endpoint's healthcheck's hostname field"
## Envoy Env
Use envoy under istio.
Envoy version: v1.13.2

Some knowledage: we can configure healthcheck's `hostname` field to make its own endpoint to get the custom Host heade value when get health check request (e.g. the same value with $hostname)
![image](https://user-images.githubusercontent.com/11749867/197968171-f22ef190-4859-4a9a-91d6-3d634c05ec9a.png)

## Issue desc
* If configure every

[2022-10-26 08:57] StarryVae commented on #23650
`if host == "reviews:9080" then`

Where is the value of the `host `obtained? Do you miss some code? OR i think you should get the value of `host` from headers first.

[2022-10-26 10:12] zonque opened #23692 "Build error: argument 1 null where non-null expected"
This is seen on Fedora 36 with gcc 12.2.1:

[code]

[2022-10-26 10:24] jiayoukun opened #23693 "build error(v1.24.0)"
I found a syntax error build to v1.24.0 envoy

The wrong path in \contrib\sip_proxy\filters\network\source\metadata.cc:29

code:  // Eg: Route: <sip:test@pcsf-cfed.cncs.svc.cluster.local;role=anch;lr;transport=udp; \

Please check if the symbol “\” is correct ？

Please timely solve, thank you

[2022-10-26 12:23] #23591 closed, assigned to ipuustin

[2022-10-26 12:37] PragyaGpt commented on #23581
@here was trying to configure multiple cluster with multiple resource through CDS , though my logs shows that it is able to configure multiple cluster but for endpoints it is throwing warning

**BELOW IS MY LOGS ATTACHED**

[2022-10-26 18:03:23.147][1343921][info][main] [source/server/server.cc:907] starting main dispatch loop
[2022-10-26 18:03:23.148][1343921][warning][config] [source/common/prot

[2022-10-26 14:46] #23672 closed

[2022-10-26 14:58] stevenzzzz commented on #23619
Thanks for tracking this issue!

[2022-10-26 16:01] wrowe commented on #22478
Do azure pipelines support serializing a build step, across builds? @lizan would you be familiar?

[2022-10-26 16:07] phlax commented on #22478
i dont think so

tbh im wondering about the downstream repo using a submodule for this given it has bazel also - sure it should use bazel to pull in the envoy repo

switching that wouldnt resolve by itself - but we could potentially use a PR (that gets updated) or somesuch to update the downstream rather than checkout/commit/push which is prone to racing

another option is adding a retry/rebase if

[2022-10-26 16:55] wrowe commented on #23618
Ping @vikaschoudhary16 - this is affecting PR's, and main branch CI validations.

[2022-10-26 17:24] keith commented on #23342
https://github.com/envoyproxy/envoy/pull/23668

[2022-10-26 17:24] #23342 closed

[2022-10-26 17:29] kyessenov commented on #22583
The trashing issue was solved for HTTP in the merged PR (hosts are now reused more often). What made me suspect it was seeing identical memory addresses for hosts in original_dst implementation, there I just printed the host address [here](https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/original_dst_cluster.cc#L69). I think it's already there actually.

[2022-10-26 17:43] hochuenw-dd opened #23696 "Return 429s instead of 503s in adaptive concurrency filter"
Hi team,
When the adaptive concurrency filter of a server is triggered, clients may feel confused that the server is unavailable instead of that the server is proactively rejecting requests. I'm wondering if it makes more sense to change the status to 429s instead of [503s](https://github.com/envoyproxy/envoy/blob/v1.24.0/source/extensions/filters/http/adaptive_concurrency/adaptive_concurrency_fil

[2022-10-26 19:30] keith commented on #23649
leaving open for the other issues

[2022-10-26 20:01] #23165 closed

[2022-10-26 20:01] #23166 closed

[2022-10-26 20:21] SalmaSamy commented on #23390
Hi @keith, It looks like Envoy is still failing in the downstream: https://buildkite.com/bazel/bazel-at-head-plus-disabled/builds/1461#0184143d-e174-4fa1-94a6-1b2337dd9476

[2022-10-26 20:24] keith commented on #23390
thanks, im interested to hear replies about this on https://github.com/bazelbuild/bazel-skylib/issues/404

[2022-10-26 21:58] nezdolik commented on #23328
This is duplicate of https://github.com/envoyproxy/envoy/issues/18351

[2022-10-27 00:06] JuniorHsu opened #23699 "per-client idle timeout for tcp conn pool"
*Title*: *per-client idle timeout for tcp conn pool*

*Description*:
Thrift proxy uses tcp_conn_pool to manage connections.
If a host has `n` downstream host and the max host-to-host QPS is `q_max`,
the connections on the upstream host would be up to `n * q_max` and those connections are closed only if the pool idle timeout is triggered. However, pool idle timeout requires 0 active streams on the

[2022-10-27 01:37] levimm opened #23700 "how to use original destination as hostname in tunneling_config"
*how to use original destination as hostname in tunneling_config*

*Description*:
I'm using iptables to redirect certain traffic to envoy (for example: `iptables -t nat -A OUTPUT -p tcp --dst 10.10.1.0/24 -j REDIRECT --to-port 8099`) and then encapsulate it in HTTP1.1 CONNECT following the sample [here](https://github.com/envoyproxy/envoy/blob/582ae02170/configs/encapsulate_in_http1_connect.yaml).

[2022-10-27 03:25] #23685 closed

[2022-10-27 03:37] AtticusLv commented on #23650
sorry, miss the code before the line. I have modified that.
[code]

[2022-10-27 03:41] acrazing commented on #23190
Is there any updates? @wbpcode

[2022-10-27 04:14] ssripadham commented on #23503
What is the ETA @kyessenov?

[2022-10-27 05:39] vikaschoudhary16 commented on #23618
hey, last couple of days were holidays in India. Would try to send a fix soon.

[2022-10-27 06:06] weissne opened #23701 "JWT Filter - Add ability to pass JWT authentication failure to another filter"
*Title*:
JWT Filter - Add ability to pass JWT authentication failure to another filter

*Description*:
I'm interested in adding to the existing JWT Authentication filter (envoy.filters.http.jwt_authn)  the ability to pass the JWT authentication failure reason to another filter.

This will allow a filter following the JWT filter to be able to know not only if the JWT was successfully verified or no

[2022-10-27 06:58] YasiruShaminda opened #23702 "AWS Lambda authorization header isn't generating properly."
*Title*: *AWS Lambda authorization header isn't generating properly*

*Description*:
I tried to invoke a AWS Lambda function  with envoy AWS lambda filter and AWS Request Signing filter. I passed the Access token and Secret key in docker environment. But when I try to send request to the aws lambda it shows following error;

and I noticed that the authorization header was generated twice in the re

[2022-10-27 08:03] github-actions[bot] opened #23703 "Newer release available `aspect_bazel_lib`: v1.14.0 (current: v1.12.0)"
Package Name: aspect_bazel_lib@1.12.0
Current Version: v1.12.0@2022-09-16
Available Version: v1.14.0@2022-10-26
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-10-27 08:03] #23631 closed

[2022-10-27 08:03] github-actions[bot] opened #23704 "Newer release available `bazel_gazelle`: v0.28.0 (current: v0.26.0)"
Package Name: bazel_gazelle@0.26.0
Current Version: v0.26.0@2022-06-26
Available Version: v0.28.0@2022-10-26
Upstream releases: https://github.com/bazelbuild/bazel-gazelle/releases

[2022-10-27 08:03] #23122 closed

[2022-10-27 08:03] github-actions[bot] opened #23705 "Newer release available `com_github_google_flatbuffers`: v22.10.26 (current: v22.9.29)"
Package Name: com_github_google_flatbuffers@22.9.29
Current Version: v22.9.29@2022-09-30
Available Version: v22.10.26@2022-10-26
Upstream releases: https://github.com/google/flatbuffers/releases

[2022-10-27 08:03] #23686 closed

[2022-10-27 08:03] github-actions[bot] opened #23706 "Newer release available `com_google_protobuf`: v21.9 (current: v21.7)"
Package Name: com_google_protobuf@21.7
Current Version: v21.7@2022-09-29
Available Version: v21.9@2022-10-26
Upstream releases: https://github.com/protocolbuffers/protobuf/releases

[2022-10-27 08:19] levimm commented on #23700
works now, config error...

[2022-10-27 08:19] #23700 closed

[2022-10-27 10:28] asheryerm commented on #23651
@untitaker @mattklein123
For the redis-cluster configuration it is important that you add the line
`lb_policy: CLUSTER_PROVIDED` to the envoy configuration, because this is one of the criteria that envoy uses to determine if this is a cluster:
[code]
If I add this line, everything works fine. Without this line I get this output:
[code]
So basically redirection of the first command doesn't take pla

[2022-10-27 11:04] untitaker commented on #23651
@asheryerm noted the `lb_policy`, but I can reproduce the crash either way. the crash cannot be reproduced using redis-cli, the commands have to be pipelined (such as what the redis python library does, or the netcat command I provided)

[2022-10-27 14:09] KBaichoo commented on #23221
yes, try to have the typed_extension_protocol_options at least match the http2_protocol_options that you want.

See https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#config-core-v3-http2protocoloptions for why the defaults otherwise can be a problem. e.g. initial_stream_window size is 256MiB.

[2022-10-27 14:15] asheryerm commented on #23651
@untitaker ok, got it. I can reproduce the crash with pipelining, I will check.

[2022-10-27 14:25] untitaker commented on #23651
In fact it seems like the redis cluster doesn't even have to be running in order to repro

[2022-10-27 15:14] jtway commented on #20989
Looks like the run time guard was removed prior to this issue getting worked.

[2022-10-27 16:13] gregbanks commented on #23238
i was trying to get setup with vscode/devcontainer yesterday on an M1 max MBP and am running into this [issue](https://github.com/envoyproxy/envoy/issues/22217) as well. here's the debug output if that helps:

[code]

[2022-10-27 16:44] asheryerm commented on #23651
@untitaker I've reproduced the issue and opened a PR with a fix. The transaction client was closing prematurely which caused the segmentation fault. The fix is fairly simple. Thank you for bringing this issue to my attention.

[2022-10-27 16:47] kyessenov commented on #23503
I have a prototype, and now need to get it merged in steps. First PR is #23669 , and then a couple more.

[2022-10-27 17:34] kyessenov commented on #23598
Blocked by https://github.com/envoyproxy/envoy/issues/20476

[2022-10-27 17:49] #23569 closed

[2022-10-27 18:27] qiwzhang commented on #23701
This is a reasonable feature request.  But I will propose a simpler implementation

Just add a field in Provider
[code]
This will apply to all failed cases.

You can use this new field and existing "allow_missing_or_failed"  for your usage.

[2022-10-27 19:11] JuniorHsu opened #23718 "high cpu usage on tls handshack backpressure from http health check timeout"
*Title*: *high cpu usage on tls handshack backpressure from http health check timeout*

*Description*:
We notice a host is slow to response to admin port and cpu usage is maxed out on our docker limit.
flamegraph shows > 25% of cpu usages on tls handshake for http health checker timeout.

`Envoy::Upstream::HttpHealthCheckerImpl::HttpActiveHealthCheckSession::onTimeout` tries to close the socket bu

[2022-10-27 19:23] alyssawilk commented on #23699
I very much support timeouts for idle clients - I thought there were already some but it's been a while since I touched that code - maybe I'm misremembering or one of the other maintainers can remind me of the option.
Why don't you throw together an actual PR with end to end tests - feel free to start with a hard-coded time and we can sort out config before landing?

[2022-10-27 19:26] alyssawilk commented on #23699
cc @envoyproxy/api-shepherds for the API question

[2022-10-27 19:34] JuniorHsu commented on #23699
Thanks for your prompt response, Alyssa!
I'll make a patch to move forward if people think per-client idle timeout is a good idea. Thanks!

[2022-10-27 19:43] alyssawilk commented on #22583
oh awesome, thanks for adding the logging.  did you need creation and deletion log points, or was just creation sufficient?

[2022-10-27 20:04] fcrisciani opened #23719 "IPv6 link local downstream endpoints not working"
*Title*: *IPv6 link local downstream endpoints not working*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Given a cluster with a backend endpoint such:
[code]
2 things should happen:
1) Envoy should be able to parse the IPv6 address with scope
2) Envoy should be able to create a socket that correctly sets the `sin6_scope_id` sockaddr_in6 (m

[2022-10-27 20:08] dxps commented on #4027
This is also available in [proxy-wasm-rust](https://github.com/proxy-wasm/proxy-wasm-rust-sdk) SDK and [others](https://github.com/proxy-wasm/spec) as well.

Now, before diving into understanding how this can be done, I am wondering: did anyone evaluate the response times of a Lua vs non-Lua (like Rust, which I'm using right now) implementation :grey_question:

I'm planning to do this, except that

[2022-10-27 20:09] fcrisciani commented on #23719
I validated that the issue is the one mentioned above just adding sin6_scope_id in [utility.cc](https://github.com/envoyproxy/envoy/blob/main/source/common/network/utility.cc#L106) and I was able to reach the downstream endpoint.

[2022-10-27 20:13] fcrisciani commented on #23719
My proposal for the fix is the following:

1) change the IP parsing to allow to specify the scope
2) when available add the sin6_scope_id to the sockaddr_in6 returned.

[2022-10-27 20:17] kyessenov commented on #22583
I think the deletion event is printed by cluster already, as part of its host lifecycle management.

[2022-10-27 20:39] DavidSchinazi commented on #23719
IPv6 link-local identifiers aren't meant to be shared outside of a host. I'd suggest using routable IPv6 addresses such as ULA for your use-case.

[2022-10-27 21:27] keith commented on #23340
fix for that case is here https://github.com/envoyproxy/envoy/pull/23722

[2022-10-28 00:02] keith commented on #23649
the contrib issues I see around CcInfo missing all appear to be fixed in a newer bazel, so https://github.com/envoyproxy/envoy/pull/23678 is tracking that

[2022-10-28 00:37] yanavlasov commented on #23719
My sense is that it is reasonable to expect Envoy to work with IPv6 link local addresses, since it is used to simplify network configuration.

The parsing of Endpoint addresses occurs here: https://github.com/envoyproxy/envoy/blob/489a41f248ebb02bcba3e30788a6c4ba943b678e/source/common/network/utility.cc#L103

It is possible to add support for parsing of the scope at the end of the IPv6 address.

[2022-10-28 01:00] DavidSchinazi commented on #23719
Reading this again it looks like the link-local identifiers aren't leaving the host - this is just local configuration. So what I said was irrelevant. Please ignore my previous comment, this sounds like a worthwhile addition.

[2022-10-28 01:04] trick392 opened #23724 "Connection pools questions"
*Title*: Do worker threads have a cold or warm start to a an upstream server. What is the current load balancing policy of which thread will serve the connection.

*Description*:
As described by https://www.envoyproxy.io/docs/envoy/v1.24.0/intro/arch_overview/intro/threading_model#arch-overview-threading by default each cpu core gets spun up as a worker thread by default. When serving a new client

[2022-10-28 01:54] zhanghw0354 commented on #19589
Hi, @stevenzzzz ,what's going on for this issue? I meet a problem similar to the issue when using istio. When requesting a service like http://10.233.2.174:8080/demo/requesturl with pod injected by sidecar, but in the service the http requesturl is changed to http://10.233.2.174/demo/requesturl, the port number is stripped. I set strip_any_host_port: false,strip_matching_host_port: false,ignore_po

[2022-10-28 02:16] daixiang0 commented on #23724
Now Envoy has [exact](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto#envoy-v3-api-msg-config-listener-v3-listener-connectionbalanceconfig) and [dlb](https://www.envoyproxy.io/docs/envoy/latest/configuration/other_features/dlb) connection balancers to do those things, you can search codes to see what happened.

[2022-10-28 02:22] daixiang0 commented on #23458
I think it is good to add those, you can post a PR to fix it.

[2022-10-28 03:04] zhanghw0354 opened #23725 "In a pod injected by istio sidecar, the port number in http requesturl is stripped"
I meet a problem similar to [#19589 ](https://github.com/envoyproxy/envoy/issues/19589) when using istio. When requesting a service like http://10.233.2.174:8080/demo/requesturl with pod injected by sidecar, but in the service the http requesturl is changed to http://10.233.2.174/demo/requesturl, the port number is stripped. I set strip_any_host_port: false,strip_matching_host_port: false,ignore_p

[2022-10-28 03:08] zhanghw0354 commented on #23725
The envoy filter I created as below:
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"networking.istio.io/v1alpha3","kind":"EnvoyFilter","metadata":{"annotations":{},"name":"demo-filter","namespace":"istio-system"},"spec":{"configPatches":[{"applyTo":"ROUTE_CONFIGURATION","patch":{"opera

[2022-10-28 04:16] #23181 closed

[2022-10-28 04:51] ssripadham commented on #23503
Change looks good, Is the strategy to implement the feature in 2 parts and this PR is to expose StreamInfo to filterChain matching and the stream Info will contain the dynamic metadata?

[2022-10-28 06:19] zonghaishang commented on #23649
It works for me, :-)

There seems to be some alarm, should I ignore it?

[code]

[2022-10-28 06:35] dio commented on #14001
@imrenagi, after re-reading https://github.com/envoyproxy/envoy/issues/14001#issuecomment-742852892. I think I agree with @yanniszark. So, we need to introduce [runtime guarding](https://github.com/envoyproxy/envoy/blob/main/CONTRIBUTING.md#runtime-guarding), to deprecate the current behavior (with runtime guarding we allow users to fallback to the previous (current) behavior).

Basically, you nee

[2022-10-28 07:32] jrauschenbusch commented on #22196
@phlax Coming with [v1.24](https://github.com/envoyproxy/envoy/releases/tag/v1.24.0) statically linked binaries are now available, aren't they? Is the naming scheme of these binaries stable? If so, I'd like to change my [renovate](https://renovatebot.com/) dependency source from [Tetrate archive-envoy](https://github.com/tetratelabs/archive-envoy/releases) to this repository because then my Docker

[2022-10-28 07:33] jrauschenbusch commented on #22579
@phlax How is this related to [this ticket](https://github.com/envoyproxy/envoy/issues/22196)? Is it a duplicate?

[2022-10-28 07:51] phlax commented on #22196
yes - there are some improvements still to make but that was the first release to include the published binaries. We will most likely backport this to other branches as/when they release also

[2022-10-28 07:52] phlax commented on #22579
yep - we can probably close both of these - as i mentioned on the other ticket, there is some follow up to do - but this pipeline is now active

[2022-10-28 07:53] #22579 closed

[2022-10-28 07:53] phlax commented on #22196
im going to close this ticket - follow ups can be tracked elsewhere

[2022-10-28 07:53] #22196 closed

[2022-10-28 07:57] edubonifs opened #23727 "Envoy Filter Or Command %REQ(X?Y):Z% not working as expected"
Hi, regarding the documentation: https://www.envoyproxy.io/docs/envoy/v1.22.5/configuration/observability/access_log/usage#config-access-log-format
If we have an envoy filter and we set a header with an or command %REQ(X?Y):Z%, the envoy filter will skip this configuration and will skip this header.

Steps to reproduce:

[code]

[2022-10-28 08:03] github-actions[bot] opened #23728 "Newer release available `aspect_bazel_lib`: v1.15.0 (current: v1.12.0)"
Package Name: aspect_bazel_lib@1.12.0
Current Version: v1.12.0@2022-09-16
Available Version: v1.15.0@2022-10-27
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-10-28 08:03] #23703 closed

[2022-10-28 08:03] github-actions[bot] opened #23729 "Newer release available `com_github_grpc_grpc`: v1.50.1 (current: v1.49.0)"
Package Name: com_github_grpc_grpc@1.49.0
Current Version: v1.49.0@2022-09-14
Available Version: v1.50.1@2022-10-27
Upstream releases: https://github.com/grpc/grpc/releases

[2022-10-28 08:03] #23510 closed

[2022-10-28 08:03] github-actions[bot] opened #23730 "Newer release available `com_github_wasmtime`: v2.0.1 (current: v1.0.0)"
Package Name: com_github_wasmtime@1.0.0
Current Version: v1.0.0@2022-09-20
Available Version: v2.0.1@2022-10-27
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-10-28 08:03] #23624 closed

[2022-10-28 09:15] nezdolik opened #23732 "Improve documentation for WIP extensions"
*Title*: *Improve documentation for WIP extensions*

*Description*:
It is not clear from current developer [documentation](https://github.com/envoyproxy/envoy/blob/main/api/STYLE.md#adding-an-extension-configuration-to-the-api) that extensions with wip code should have public documentation. This is currently enforced by CI. We should better clarify developer guide on how to add wip extensions.

[2022-10-28 14:07] zonghaishang opened #23735 "build envoy failed"
*Description*:

ubuntu 22.0.4 LTS vm ( apple mac pro M1 )

[code]

[2022-10-28 14:15] SuitespaceDev commented on #23291
Use of gen-delim and sub-delim characters in this manner is compliant and intended use within the scope of https://www.rfc-editor.org/rfc/rfc3986 -- specifically in the path components and query component.

Downstream RFCs should not restrict use to less semantic formating. These characters are reserved for URI dereferencing algorithms. If Envoy, frameworks, APIs and URI schemas did not utilize th

[2022-10-28 14:27] nezdolik opened #23736 "IP Geolocation Filter"
*Title*: *IP Geolocation Filter*

*Description*:
Introduce a filter for geolocation header decoration of the HTTP request for a trusted client address. That filter will look up a trusted client address from request in a precompiled geolocation database and populate a set of geolocation headers like `x-geo-country`, `x-geo-city`, `x-geo-asn` etc.

*Design document*:
[RFC: IP Geolocation Filter](htt

[2022-10-28 14:33] nezdolik commented on #23736
@sc0ttbeardsley @alyssawilk @mattklein123 @rulex123 @petedmarsh please do one more pass on proposal, I have addressed feedback from community and updated the proposal. (could not tag some folks who commented in the doc, did not find their github aliases)

[2022-10-28 15:06] ameily commented on #23291
@SuitespaceDev Thank you for the info and context, that is very helpful!

If I'm understanding your comment and the RFC correctly: characters in the `reserved` set are allowed unencoded if they do not have any semantic meaning for the URI component that they are appearing in. For example, the `:` character has semantic meaning when its present in the `host` component of the URI but no semantic mea

[2022-10-28 15:25] nezdolik commented on #23328
No, it's not the same. `host.creationTime()` indicates a timestamp for when the host has joined the cluster.
Host enters slow start upon passing 2 conditions below (when an active health checking is enabled per cluster):
* host create duration (duration since host has joined the cluster) is less than or equal to configured slow start window;
* host has passed an active health check.
More detailed

[2022-10-28 15:30] nezdolik commented on #18351
/assign @nezdolik

[2022-10-28 15:46] carlin-q-scott commented on #5528
Hey @gumpt this bot says we need one of you maintainers to tag this issue 'help-wanted' to keep it open. This header would be helpful for a variety of backend frameworks that support it.

[2022-10-28 16:15] keith commented on #23735
Dup of https://github.com/envoyproxy/envoy/issues/23580

[2022-10-28 16:15] #23735 closed

[2022-10-28 16:43] kyessenov commented on #23503
Yeah, first is to propagate stream info. Then we can add an action that reads stream info. Then an input from stream info. I think action is enough for you.

[2022-10-28 16:49] #23618 closed

[2022-10-28 17:20] #23322 closed

[2022-10-28 17:28] trick392 commented on #23724
awesome thank you @daixiang0 - do you have an answer to whether the connection pool has a cold start to the upstream or not?

[2022-10-28 18:01] trstringer opened #23739 "What does it mean when the heap size is much larger than allocated and physical size?"
*Title*: What does it mean when the heap size is much larger than allocated and physical size?

*Description*:

For Envoy memory consumption, I'm seeing a situation where the heap size is a large order of magnitude (in cases, 10x) larger than memory_allocated and memory_physical_size. Here's an example:

* Heap size: 3500 MB
* Allocated: 300 MB
* Physical: 400 MB

Is there any common behavior that

[2022-10-28 18:02] #23728 closed

[2022-10-28 19:32] #23599 closed

[2022-10-28 19:42] yanavlasov commented on #23283
Thanks for the profiles. A couple of things to note. It is not very useful to profile debug builds, please profile and compare release builds. Please also generate SVG output for the profiles. It is very hard to interpret pprof text output.

[2022-10-28 20:01] #22900 closed

[2022-10-28 20:01] #23167 closed

[2022-10-28 20:03] #23603 closed

[2022-10-28 20:04] #23390 closed

[2022-10-28 20:07] gabrielgiussi commented on #23642
I would like to understand if this wasn't added because the feature wasn't requested or because its performance cost.

If its something we want to add out of the box I would like to work on this, in case you think it should be out of the box I would like to implement it for my use case anyway to any hint on where I could introduce this will be appreciated (also any explanation on why I shouldn't b

[2022-10-28 20:11] SuitespaceDev commented on #23291
Yes; that is accurate. The path component reserves only the ; (semicolon)
for separating general metadata into sub-paths. For example, in mailto:
URIs, the @ character is actually in the path component; somewhat
unintuitively. When not specifically reserved for a use in other URI
components by RFC 3986; gen-delim and sub-delim are reserved *for the
developers* interpreting the URIs.

Here's a chun

[2022-10-28 21:46] justinyjsong opened #23740 "gRPC-JSON trasnscoding issue: upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: delayed connect error: 111"
*Title*: *gRPC-JSON encoding issue: upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: delayed connect error: 111*

*Description*:

I used docker-compose which takes Dockerfile to deploy the service.

docker-compose.yaml
[code]

Dockerfile
[code]

envoy-local.yaml
[code]

and this is how I compile my protobuf which also contains g

[2022-10-28 21:58] dio commented on #23740
I think this is a docker networking "issue". You need to be able to reach a service running on your "localhost" from within a process that runs inside a container.

- https://stackoverflow.com/a/43541681/10897718
- https://stackoverflow.com/a/24326540/10897718

[2022-10-28 22:01] dio commented on #22996
No stale.

[2022-10-28 22:07] justinyjsong commented on #23740
Based on your link,

I tried to modify it as

[code]

docker-compose.yaml
[code]

But it seems still unreachable. I am basically running my gRPC server local in Linux, and run envoy in Linux, but with a docker container.

[2022-10-28 22:20] justinyjsong commented on #23740
actually just a configuration issue, resolving this ticket. thanks.

[2022-10-28 22:20] #23740 closed

[2022-10-28 22:50] mattklein123 commented on #23725
Please open this issue in the Istio project.

[2022-10-28 22:50] #23725 closed

[2022-10-28 22:51] mattklein123 commented on #23727
Please open this against Istio.

[2022-10-28 22:51] #23727 closed

[2022-10-28 23:24] #23277 closed

[2022-10-29 01:37] ssripadham commented on #23503
Would you be able to create a skeleton PR for the second part and share?

[2022-10-29 08:01] #20272 closed

[2022-10-29 08:58] RiverPhillips commented on #23696
It would make sense to me if this was [configurable like the global rate limit.](https://github.com/envoyproxy/envoy/blob/ba81ae537e722ad99906599f5d3ad367ca854433/api/envoy/extensions/filters/http/ratelimit/v3/rate_limit.proto#L123) We could default to 503 but allow users to override it.

[2022-10-29 09:34] #23414 closed

[2022-10-29 16:01] #22803 closed

[2022-10-29 18:11] skbergam opened #23742 "Emit Prometheus metrics based on headers or dynamic metadata"
I would like to emit Prometheus metrics with custom labels from my envoy proxy. Specifically, I would like to have total request count and latency metrics for all requests, but labeled w/ certain header values:

1.  X-SENDER - this is a request header that tells me who the caller is
2. X-ENDPOINT - this is a response header which tells me the name of the endpoint that was called

What is the best

[2022-10-29 19:00] vaibhav7dhage commented on #13980
Following up on this thread, is there any work done recently to support disabling stateful session resumption?

[2022-10-30 00:03] #21923 closed

[2022-10-30 02:41] bb010g commented on #22863
Bump.

[2022-10-30 09:39] wbpcode commented on #20344
#21087

[2022-10-30 09:39] #20344 closed

[2022-10-30 09:47] phlax commented on #22863
@bb010g i think the question in this ticket has already been answered - im minded to close it - wondering why you bumped it

[2022-10-30 12:01] #22768 closed

[2022-10-30 12:01] #23174 closed

[2022-10-30 15:24] weissne commented on #23701
Thanks.
Good point that only a new field in the JwtProvider needs to be added.
I just suggest that the name should be, instead of "failed_status_to_metadata", "failed_status_**in**_metadata" (which is probably what you meant) in order  to be aligned with the other fields like "header_in_metadata" and "payload_in_metadata" .

[2022-10-30 21:26] david-yu commented on #23533
@ckennelly I've been following along but am no Envoy or expert. Do you mean to suggest that although the memory allocated for Envoy looks larger with tcmalloc due to CPU cache, and thus its likely that it is doing so that that it could service more requests per second initially? If no cache is needed per CPU core, then it will drain the cache.

[2022-10-30 21:33] denniskniep commented on #22697
Hi @Shinerrs may I ask if you are going to raise a feature request for this?

[2022-10-31 01:42] LuyaoZhong commented on #19308
still working on this

[2022-10-31 02:18] daixiang0 commented on #23724
I do not get the meaning of the cold start, as I know Envoy will not visit upstream.

[2022-10-31 03:23] zonghaishang commented on #23580
I applied the patch manually and there was another error ` src/tracer.cpp` ：

[code]

[2022-10-31 03:47] zonghaishang commented on #23649
Before build run with EXCLUDE_CONTRIB=true ./tools/vscode/refresh_compdb.sh from issue https://github.com/envoyproxy/envoy/issues/23649

yiji@yiji:~/opensource/envoy$ bazel build envoy -c dbg
Starting local Bazel server and connecting to it...
INFO: Analyzed target //:envoy (796 packages loaded, 33869 targets configured).
INFO: Found 1 target...
ERROR: /home/yiji/.cache/bazel/_bazel_yiji/4cd4e6760

[2022-10-31 05:10] LuyaoZhong commented on #18928
@amthorn Sorry for late response, I missed your comment. I think the answer is yes, just let the custom handshaker extension to interact with cert provider.

[2022-10-31 08:26] kss95 opened #23745 "Possibility to change the format of Envoy logs according to user desired format"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Possibility to change the format of Envoy logs according to user desired format

*Description*:

[2022-10-31 08:42] #23119 closed

[2022-10-31 10:13] sergey-safarov commented on #23580
I think previous comment related to #23569

[2022-10-31 10:40] jdomag commented on #21513
@zengyuxing007
can you reopen this one? I would love to see this feature as well. Our use case is, that it's hard to judge by the response code if that was external service or rate limiting service which responded with 429. Allowing customization of the body would solve this issue.

[2022-10-31 11:16] wbpcode commented on #23620
`tcp_proxy` will send all binary data from downstream to upstream server, no matter it's http or https.

[2022-10-31 12:56] #23080 closed

[2022-10-31 13:14] kihaloul commented on #23283
Thanks!

I attach the SVGs from the debug builds profiling:
envoy_debug_v1.17.3_20221014155657.cpuprof.svg:
![envoy_debug_v1 17 3_20221014155657 cpuprof](https://user-images.githubusercontent.com/9484101/199015926-2ec48091-c945-4325-bc0c-88ba90aac4ef.svg)

envoy_debug_v1.23.1_20221014160228.cpuprof.svg:
![envoy_debug_v1 23 1_20221014160228 cpuprof](https://user-images.githubusercontent.com/9484101

[2022-10-31 13:49] KBaichoo commented on #23650
cc @mattklein123 @wbpcode

[2022-10-31 13:52] KBaichoo commented on #23653
/assign @boringuy

[2022-10-31 14:02] KBaichoo commented on #23653
Thank you for looking into this @boringuy!

[2022-10-31 14:15] KBaichoo commented on #23680
cc @gbrail @snowp @pradeepcrao

[2022-10-31 14:20] wbpcode commented on #23650
sidecar will re-research route table after headers are updated by default. May be there is a default route that will catch all request the route it to original target?
I seem to remember that istio will create something like that.

[2022-10-31 14:22] KBaichoo commented on #23652
cc @snowp @pradeepcrao

[2022-10-31 14:25] KBaichoo commented on #23745
Which logs is this for? access logs or envoy logs?

See https://github.com/envoyproxy/envoy/issues/2692 which discussed accerss log formatting

[2022-10-31 14:34] boringuy commented on #23653
The fix is easy but I have not submitted the PR yet because I need to re-read the PR guideline as I have not done it for a while. It should happen this week.

[2022-10-31 15:15] imrenagi commented on #14001
Sure @dio . Will take a look and try to update my PR. thanks!

[2022-10-31 15:21] edubonifs opened #23753 "Envoy Filter Or Command %REQ(X?Y):Z% not working as expected"
Hi, regarding the documentation: https://www.envoyproxy.io/docs/envoy/v1.22.5/configuration/observability/access_log/usage#config-access-log-format
If we have an envoy filter and we set a header with an or command %REQ(X?Y):Z%, the envoy filter will skip this configuration and will skip this header.

[code]

[2022-10-31 15:28] KBaichoo commented on #23693
cc @dorisd0102 @durd07 as extension owner

[2022-10-31 15:29] KBaichoo commented on #23693
Is this causing a build error? If so can you also include the error in the description? Thank you!

[2022-10-31 15:34] KBaichoo commented on #23702
cc @marcomagdy @tonya11en

[2022-10-31 15:38] KBaichoo commented on #23724
We don't currently have preconnect if there's no request to the upstream -- you will run into a cold start problem. See https://github.com/envoyproxy/envoy/issues/21346

[2022-10-31 15:40] KBaichoo commented on #23732
cc @phlax

[2022-10-31 15:43] KBaichoo commented on #23753
cc @cpakulski I think this might be related to unified formatters

[2022-10-31 15:44] cpakulski commented on #23753
Looking into it. Thanks!

[2022-10-31 15:46] cpakulski commented on #23753
@edubonifs What is the version of Envoy you are using?

[2022-10-31 15:47] #23359 closed, assigned to nobody

[2022-10-31 15:57] suniltheta commented on #23702
I guess if we are making call only to AWS Lambda then no need to include the aws_request_signing configuration?

[2022-10-31 16:14] marcomagdy commented on #23702
You don't need the `aws_request_signing` filter.
The Lambda filter signs the request independently.
 https://github.com/envoyproxy/envoy/blob/362e415045e1c8b7391fcb1a21f8c6003de3e8e0/source/extensions/filters/http/aws_lambda/aws_lambda_filter.cc#L174

[2022-10-31 16:15] #23597 closed

[2022-10-31 16:28] elicore commented on #20915
Getting the same error. MacOS 12.6 on M1 using Docker Desktop.

Head: `362e415045`
Docker Compose: `2.10.2`
Docker: `20.10.17, build 100c701`

[code]

Tried to logout and login to docker hub, same results.

[2022-10-31 16:46] edubonifs commented on #23753
Hi, I am using version 1.23.2

[2022-10-31 16:47] YvesZHI opened #23755 "How to direct response a static resource"
I'm using Envoy as the gateway of my web servers. I have some static files, such as index.html, which should be sent back to the clients while receiving the requests from the clients.

For example, `https://example.com/static` should get the file at `/static/index.html`.

Here is the part of my config:
[code]

However, when I visit `https://example.com/static`, I will get a 301 and then a 404. I c

[2022-10-31 16:58] keith commented on #23580
that's actually another case of the same issue, fixing that one here https://github.com/envoyproxy/envoy/pull/23757

[2022-10-31 17:03] keith commented on #23649
that last error is fixed by https://github.com/envoyproxy/envoy/pull/23757

[2022-10-31 17:09] alyssawilk opened #23758 "Merge Envoy mobile code into the Envoy repo"
Almost all files are copied from envoy-mobile repo to envoy/mobile  Source of truth for mobile changes is still envoy-mobile.  @alyssawilk is doing updates until we flip source of truth to envoy/mobile.

TODO:
- run relevant Envoy workflows when dependencies are bumped (phlax)

Thursday(ish) switch source of truth from envoy-mobile to envoy/mobile
 - copy over PRs which have landed since then
 - n

[2022-10-31 17:24] kyessenov commented on #23503
@ssripadham The branch is https://github.com/envoyproxy/envoy/compare/main...kyessenov:envoy:add_format_action?expand=1. I will open once the dependent PR is merged.

[2022-10-31 17:34] drinkbeer opened #23759 "[Question] Does the non-Redis-Cluster mode support detailed commands stats?"
*Title*: *Does the non-Redis-Cluster mode support detailed commands stats?*

## *Description*:

Redis protocol supports commands stats in Redis Cluster based on the doc:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#redis-cluster-support.

We are not using Redis-Cluster now. We use xDS and Envoy for service discovery in production. We are now using the `envo

[2022-10-31 17:50] KBaichoo commented on #23674
cc @alyssawilk @zuercher

[2022-10-31 18:01] KBaichoo commented on #23642
Any reason why  [access log](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage) or [tracing](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/tracing) won't work for your usecase e.g. to spot e2e latency?

[2022-10-31 18:14] gabrielgiussi commented on #23642
We currently don't have a backend that supports traces so it would be harder to use envoy tracing.
The access log could be useful, it provides the duration and the path but will require more work to parse and export those logs to an opentelemetry grpc receiver (I found [this doc](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/access_loggers/open_telemetry/v3/logs_service.proto) but

[2022-10-31 18:16] qiwzhang commented on #23701
SG

[2022-10-31 18:19] KBaichoo commented on #23642
cc @mattklein123 @jmarantz @stevenzzzz might have more context

[2022-10-31 18:58] alyssawilk commented on #23674
Envoy will delay close by default, so connection: close header being respected may depend on a well behaved client.  Does your log show the connection in question being established after the config load?

[2022-10-31 19:53] KBaichoo commented on #23739
can you provide more context e.g. where you got each of these numbers from, etc?

[2022-10-31 20:01] trstringer commented on #23739
I got them from [the memory admin endpoint](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--memory), which I believe is an implementation of [admin.v3.Memory](https://www.envoyproxy.io/docs/envoy/latest/api-v3/admin/v3/memory.proto).

[2022-10-31 20:02] YvesZHI commented on #378
So has Envoy supported this function?

[2022-10-31 20:18] jewertow commented on #23674
In this particular case, a listener which should tunnel connection was updated for the last time at `2022-10-21T18:30:22.794` and after this event, client sent 9 requests within the next 1,5 second and timed out.
In general that test applies Istio configuration and sends requests for the next 10 seconds and then it times out if these requests were not tunneled by an external proxy.

How much time

[2022-10-31 20:18] KBaichoo commented on #378
There's an additional feature in the work to provide custom error response based on if the upstream request errored: https://github.com/envoyproxy/envoy/issues/21441

[2022-10-31 20:24] qixuan-li1 opened #23762 "Set gRPC ext_authz request headers based on incoming request header"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: _Set gRPC ext_authz request headers based on incoming request header_

*Description*:
I have a list of headers that I want to set before sending it to gRPC/HTTP ext_

[2022-10-31 20:57] rgs1 opened #23764 "redis: hostnames in MOVED (or ASK) responses are not supported"
The Redis Proxy assumes that `MOVED` and `ASK` responses will contain an IPv4/6 address as the given endpoint:

https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/network/redis_proxy/conn_pool_impl.cc#L312

And here is the Redis integration test failing when non IP endpoint is passed:

https://github.com/envoyproxy/envoy/blob/main/test/extensions/filters/network/redis_proxy/re

[2022-10-31 21:10] cpakulski commented on #23753
@edubonifs I just tried 1.23.2 and everything seems to be working fine. I added basic access log to the
HttpConnectionManager:

[code]

And I get the right output for:
`curl -H "x-h1: h1" -H "x-h2: h2" http://$GATEWAY_IP/get`

I think I am missing something here. Can you provide a config snippet? I also do not understand what do you mean by _rejected_:

[2022-10-31 21:56] keith commented on #23692
https://github.com/envoyproxy/envoy/pull/23765

[2022-11-01 00:19] mikehuston opened #23767 "Equivalent to AuthorizationRequest/AuthorizationResponse configs for gPRC ext_authz service?"
[ext_authz.v3.HttpService](https://www.envoyproxy.io/docs/envoy/v1.24.0/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html?highlight=authorizationresponse#extensions-filters-http-ext-authz-v3-httpservice) allows me to configure [authorization_request](https://www.envoyproxy.io/docs/envoy/v1.24.0/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto.html?highlight=authorizationr

[2022-11-01 00:25] #23692 closed

[2022-11-01 00:59] dio commented on #23767
I think this is already issued: https://github.com/envoyproxy/envoy/issues/21535. On-flight PR: https://github.com/envoyproxy/envoy/pull/22877.

[2022-11-01 02:22] AtticusLv commented on #23650
where can i find that 're-route' things? is it the "PassthroughCluster"?

[2022-11-01 02:22] AtticusLv commented on #23650
where can i find that 're-route' things? is it the "PassthroughCluster"?

[2022-11-01 02:29] josephjacks opened #23769 "Add support for Homa - emerging TCP alternative"
Would Envoy consider adding support (via filter or more deeply) for @johnousterhout's Homa?

Paper: https://web.stanford.edu/~ouster/cgi-bin/papers/replaceTcp.pdf

Video: https://www.youtube.com/watch?v=qu5WDcZRveo

Example impl: https://github.com/PlatformLab/HomaModule/blob/master/protocol.md

[2022-11-01 02:46] wbpcode commented on #23650
It's implementation detail of lua filter. You can only check it in the code of lua filter.

IIRC, yeah.

[2022-11-01 03:40] sc0ttbeardsley commented on #23764
Welcome back @rgs1

[2022-11-01 05:56] moderation commented on #23769
Related Twitter thread at https://twitter.com/JosephJacks_/status/1587270796031844352

[2022-11-01 08:13] qixuan-li1 commented on #23762
I actually figured out a workaround that uses `ExtAuthzPerRoute` + `typed_per_filter_config` and pass custom headers as `context_extensions`. Howerver, our routes match against headers set by the `ext_authz` server, and it seems in such case,  Envoy can't find the destination route and is unable to add those headers.

[2022-11-01 10:13] wbpcode commented on #23755
I think you should use `direct_response` rather than `redirect`.

[code]

[2022-11-01 10:59] zirain commented on #20086
@yanjunxiang-google do you plan to working on this?

[2022-11-01 11:28] bb010g commented on #22863
@phlax I would still like to see a sample config for basic static file serving.

[2022-11-01 11:30] phlax commented on #22863
im afraid that is not possible as that is not currently a functionality that Envoy offers - please direct any further discussion on that to #378

[2022-11-01 11:30] #22863 closed

[2022-11-01 12:05] durd07 commented on #23693
@jiayoukun
Could you please share the build error description and your build env?
This is just one symbol in comments. I don't think it would block the building.

[2022-11-01 12:37] AmitKatyal-Sophos commented on #21660
@chriseizus what was the issue ? I am also facing the same issue. Thanks.

[2022-11-01 12:55] phlax opened #23773 "Speed up CI/release publishing pipeline"
Currently, to release the steps are:

- create a release PR
- wait for it to pass
- land PR
- wait for release branch CI to pass
- release tag is created (automated by previous step)
- wait for tagged branch CI to pass
- :rocket: assets/docker images/docs are published

all in all it can take a very long time, has historically been error-prone, and encourages maintainers to force/push through step

[2022-11-01 12:55] phlax commented on #23773
cc @lizan @mattklein123

[2022-11-01 12:58] #23348 closed

[2022-11-01 13:19] alyssawilk commented on #23674
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto
covers the delay close timeout.  It's configurable in Envoy but I can't
speak to Istio config.

On Mon, Oct 31, 2022 at 4:18 PM Jacek Ewertowski ***@***.***>
wrote:

[2022-11-01 14:16] #23340 closed

[2022-11-01 14:24] ravenblackx opened #23774 "The size of the buffer in the filter chain is set inconsistently, which causes problems with grpc transcoder"
When a stream is http2, the maximum size of the buffer in the filter chain is derived (surprisingly) from `initial_stream_window_size`

When it's not http2, the maximum size of the buffer comes from `per_connection_buffer_limit_bytes`, which sounds more reasonable from the name, but turns out to still actually be surprising, because that value is intended to be "the maximum size of a single read"

[2022-11-01 15:07] amthorn commented on #18928
@LuyaoZhong What if my custom handshaker already implemented the cert-provider interface?? Can i disable the envoy one and use the one my handshaker provides?? (We pass the SAN/CN into the handshaker which forwards to the cert-provider)

[2022-11-01 15:21] mattklein123 commented on #23642
We already allow per-route stats which are opt-in (it works similar to the virtual cluster feature but on a per-route basis where the route must be named).

We could potentially also opt-in for some downstream stats, but keep in mind that sometimes there is no route depending on where things end up returning/failing, so it would be important to think carefully through what the stats actually mean.

[2022-11-01 16:43] #23649 closed

[2022-11-01 16:58] alyssawilk commented on #22583
in that case @howardjohn could you share full logs somewhere @kyessenov and I have access to?

[2022-11-01 17:03] alyssawilk commented on #10455
I'm sure there will be more added here but I think this is done enough for trial use.

[2022-11-01 17:39] sc0ttbeardsley commented on #12969
Pinterest is interested in this also. cc @fishcakez @JuniorHsu

[2022-11-01 17:56] keith commented on #23568
https://github.com/envoyproxy/envoy/pull/23777

[2022-11-01 18:00] #23241 closed

[2022-11-01 18:08] sbanala12 opened #23778 "Dynamic upstream Socket address and SNI"
*Title*:  Upstream Socket address and SNI Dynamically

*Description*:
    I would like to extract the hostname from fqdn and rewrite to upstrem without cluster defination.  Here is flow

     envoy-apps.training.in.com(fqdn) ----> envoy-apps(hostname) ---> upstream

Example of Traffic

https://envoy-apps.training.in.com  ---> envoy-apps ---> upstream

[2022-11-01 19:00] KBaichoo commented on #23762
cc @esmet @pradeepcrao as extension owners whom have context

[2022-11-01 19:02] KBaichoo commented on #23759
cc redis experts @weisisea @msukalski @HenryYYang

[2022-11-01 19:21] ktnrn commented on #23508
If we agree on this, can we start working on this?

[2022-11-01 20:47] keith commented on #23580
still waiting on https://github.com/envoyproxy/envoy/pull/23671

[2022-11-01 21:58] howardjohn commented on #22583
[logs1.txt](https://github.com/envoyproxy/envoy/files/9914220/logs1.txt)
[logs2.txt](https://github.com/envoyproxy/envoy/files/9914221/logs2.txt)
[logs3.txt](https://github.com/envoyproxy/envoy/files/9914222/logs3.txt)

Here are 3 different instances. Let me know if you need something else

[2022-11-01 22:17] #23568 closed

[2022-11-02 00:29] keith opened #23783 "gcc 12 -Wuninitialized build failure"
[code]

When building with gcc 12 on ubuntu 20.04 with `CC=gcc-12 CXX=g++-12 bz build envoy -c opt` (I think the `-c opt` matters for different warnings). on 851606902390f9e650002538114f89ab95596ab4

I'm not sure if this one is real or not but it's coming from here:

https://github.com/envoyproxy/envoy/blob/851606902390f9e650002538114f89ab95596ab4/envoy/common/union_string.h#L61

[2022-11-02 00:31] keith opened #23784 "clang-15 boringssl fips link failure"
Building with `bazelisk build envoy -c opt --config=clang --define=boringssl=fips` on 851606902390f9e650002538114f89ab95596ab4:

[code]

[2022-11-02 00:39] abdennour opened #23785 "How to fix Failed to load pkcs12 within UpstreamTlsContext"
*Title*:  Failed to load pkcs12 within UpstreamTlsContext*

*Description*:
While trying to implement this architecture:
![image](https://user-images.githubusercontent.com/1788384/199367504-fe273708-62ca-4abf-a2e3-73577033ce5e.png)
I prepared this configuration file `envoy.yaml`

[code]

When deploying the envoy container, i got this error:

[code]

Seems like this code is responsible for that erro

[2022-11-02 01:22] wbpcode commented on #23550
@jdomag Sorry for the delayed reply. The Lua call sampling could be only controlled by sampling flag in the call. It would be better to set the flag based on the `x-b3-sampled` or tracing decision in the stream info (for first hop).

[2022-11-02 01:31] wbpcode commented on #23550
@MUCZ sorry for the delayed reply.

`x-b3-*` headers are special headers and I think it's more like a conventional rule that the `x-b3-*` will be controlled by ZinKin tracer.

Rather than ignore some headers in ZinKin tracer, it would be better to tell ZinKin tracer to re-use some exist header as trace id and make its trace decision. And this even could be a common feature to help bridge different

[2022-11-02 01:54] wbpcode commented on #23581
sorry for the delayed reply.

As I said, every cluster have **independent eds subscription**, it means that every cluster should only accept its own endpoints from its own eds stream. You shouldn't create an eds response with multiple clusters' endpoints.

If you want to develop your own control plane, it would be helpful to read some code of exist matured implementation, such as istio or somethin

[2022-11-02 01:56] abdennour commented on #23785
It turns out that the `certificate` has to be used alongside a `password`.

And i verified that by using curl on the external service directly:

[code]

This means that `envoy.yaml` must include the configuration of a password.
Hence, the config file should looks like:

[code]

REF: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto#envoy-v3-api-fie

[2022-11-02 01:56] #23785 closed

[2022-11-02 02:09] wbpcode opened #23786 "optional early header mutation before tracing and routing"
Inspired by the #23550. It would be helpful to support early header mutation before tracing and routing.

Especially, by this way, it's possible to bridge different tracing system. For example, envoy enabled tracer B.

Then when a request with trace headers of tracer A is coming, we can create trace headers of tracer B according to the exist A's headers before the tracing is start.

It's also coul

[2022-11-02 02:09] wbpcode commented on #23786
cc @mattklein123 cc @alyssawilk

[2022-11-02 06:56] PragyaGpt commented on #23581
@wbpcode thank you for your time , could you plz conform me one last thing on this ,
even if I develop my own control plan , as per the envoy doc it says that   **the order of the routes matter in the route config. The first match is considered and the rest of the routes are ignored. In a scenario where there are multiple services that share a common prefix, ensure that the service with the longes

[2022-11-02 07:10] wbpcode commented on #23581
@PragyaGpt Sorry. But I am a little confused. I am not sure if missed something. What's your final target?

In the eds repeated `ip:port` is not allowed. In the current implementation, only first one will be accepted, and rest will be ignored.
In the future, we will reject eds response with repeated `ip:port`. see #23445

[2022-11-02 07:14] wbpcode commented on #23581
As far as I know, services (or clusters) in the envoy are organized as unordered map. I don't think we need some sequence constrains to it.

[2022-11-02 07:22] PragyaGpt commented on #23581
"cluster_name": "some_service",
        "endpoints": [
          {
            "lb_endpoints": [
              {
                "endpoint": {
                  "address": {
                    "socket_address": {
                      "address": "0.0.0.0",
                      "port_value": 5000
                    }
                  }
                },
                "metadata": {

[2022-11-02 07:46] wbpcode commented on #23581
no. `ip:port` is a unique id for eds cluster.

[2022-11-02 08:03] github-actions[bot] opened #23789 "Newer release available `org_llvm_llvm`: llvmorg-15.0.4 (current: llvmorg-12.0.1)"
Package Name: org_llvm_llvm@12.0.1
Current Version: llvmorg-12.0.1@2021-07-09
Available Version: llvmorg-15.0.4@2022-11-02
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-02 08:03] #23554 closed

[2022-11-02 08:03] github-actions[bot] opened #23790 "Newer release available `org_llvm_releases_compiler_rt`: llvmorg-15.0.4 (current: llvmorg-14.0.0)"
Package Name: org_llvm_releases_compiler_rt@14.0.0
Current Version: llvmorg-14.0.0@2022-03-23
Available Version: llvmorg-15.0.4@2022-11-02
Upstream releases: https://github.com/llvm/llvm-project/releases

[2022-11-02 08:03] #23555 closed

[2022-11-02 08:22] PragyaGpt commented on #23581
thank you @wbpcode for your time and response .

[2022-11-02 08:23] jiayoukun commented on #23693
@durd07
error description :
external/envoy/contrib/sip_proxy/filters/network/source/metadata.cc:29:3: error: multi-line comment [-Werror=comment]
   29 |   // Eg: Route: <sip:test@pcsf-cfed.cncs.svc.cluster.local;role=anch;lr;transport=udp; \
        |   ^
-------------------------------------------------------------
I think the annotation symbol is used incorrectly. Please determine whether the s

[2022-11-02 08:39] PragyaGpt commented on #23581
**could you plz conform me this once that can I do the same by using CDS alone , and not having EDS**???

[2022-11-02 08:44] PragyaGpt commented on #23581
is there any way to configure through CDS i.e having multiple clusters and multiple endpoints with same ip and port ??? can the same be achieved through just CDS configuration alone ?    while configuring endpoints in CDS configuration it fails to route to endpoint ... I think this feature is not supported in envoy ??

[2022-11-02 09:08] dio commented on #22996
@MiguelAng86 could you share your config? I tested this quickly (sorry was not able to report this earlier). I can inspect the check request payload (to a gRPC auth server) as the following:

[code]

This is done by running:

[code]

with a slight change to `examples/ext_authz/config/grpc-service/v3.yaml`:

[code]

Then sending the request (with that `example-header` header with `España` as the va

[2022-11-02 10:28] LuyaoZhong commented on #18928
@amthorn If you are asking if cert provider can work with custom handshaker in general, Yes, you need to implement a custom handshaker which can fetch certs from a cert provider instance. We can discuss on https://github.com/envoyproxy/envoy/issues/19308 and https://github.com/envoyproxy/envoy/pull/19582

If you are asking if tls bumping can work with custom handshaker, I think it depends on custo

[2022-11-02 11:57] kss95 commented on #23745
Thanks for the reply.
The query is for both access logs and envoy logs. Is there the possibility to format logs, based on the syslog format defined by RFC 5424, as below:
{"version": "x.y.z", "timestamp": "YYYY-MM-DDThh:mm:ss.sss±hh:mm", "severity": "severity-level", "service_id": "service name", "message:”message from Envoy"}

[2022-11-02 12:35] KBaichoo commented on #23687
cc @snowp @mattklein123

[2022-11-02 13:26] KBaichoo commented on #23774
I'm leaning more in favor of the second solution since it will push the complexity just to where it's needed -- in this case the grpc transcoder filter which might expect a given size for transcoding.

cc @nareddyt

[2022-11-02 13:41] KBaichoo commented on #23769
cc @alyssawilk @mattklein123  @htuch

[2022-11-02 14:14] gabrielgiussi commented on #23642
@mattklein123

I wasn't aware of the virtual_clusters feature, it seems to be what I need but [the note](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-virtualcluster) says

I do want to have metrics per each endpoint in the app, I'm deploying envoy as a sidecar so I would like to have the metric for the sidecar acting as a server and as a

[2022-11-02 14:15] jbohanon commented on #23625
I tested the latest (at the time) patch of all minor versions 1.24 back to 1.17, and all exhibited the behavior.

[2022-11-02 14:19] zonghaishang opened #23797 "envoy failed to compile (clang)"
*Description*:

gcc compiles too slowly, and switching to clang compilation does not generate debug symbols
Ubuntu 22.04.1 LTS, arm64 ()

build envoy env:
`export TEST_TMPDIR=/home/yiji/envoy-compdb`
`export BAZEL_BUILD_OPTIONS="--copt=-fno-limit-debug-info"`

 user.bazelrc :
[code]

[code]

os:
[code]

clang++
[code]

lldb:
[code]

[code]

dwp:
[code]

[2022-11-02 15:11] mattklein123 commented on #23687
Please open this against Istio or provide a pure Envoy based repro. Thank you.

[2022-11-02 15:13] mattklein123 commented on #23642
This is really a matter of your own infra, TSDB provider, etc. You will have to try it out and see. There is no free lunch here.

IIRC it was added recently on the route config. There is a way to turn on stats on a per route basis.

[2022-11-02 15:17] ramaraochavali commented on #23642
https://www.envoyproxy.io/docs/envoy/v1.24.0/api-v3/config/route/v3/route_components.proto.html?highlight=we%20do%20recommend%20setting%20up%20stat%20prefix

[2022-11-02 15:32] #23400 closed

[2022-11-02 17:58] #23693 closed

[2022-11-02 18:58] rgs1 commented on #23764
So I think that it should be fairly straight forward to add support for DNS lookups on top of #23802. The only not great thing would be that the dns cache currently resides in `source/extensions/common/dynamic_forward_proxy/` and it might be nice to have it in a more common area path, but not a big deal.

[2022-11-02 19:24] alyssawilk commented on #23625
Could you add a bit more detail on how you can tell that the connection is used after it is closed. There's an inherent race condition that an upstream can close a connection at any point and Envoy may not yet know, assign it to be used, and find out it is closed. We attempt to avoid that by returning all connections to the pool to give the kernel a chance to inform us of FINs but can't avoid the

[2022-11-02 19:36] #22912 closed

[2022-11-02 20:50] nezdolik commented on #12419
@KBaichoo this issue is not done yet. We are 60-70% done with one of the suggested monitors. Need to plug downstream conns monitor into tcp listener and deprecate existing mechanism that tracks downstream conns. The remaining monitors are 0% done (active requests and upstream connections).

[2022-11-02 21:03] KBaichoo commented on #12419
Whoops sorry, this autoclosed when merging the PR. Reopen, thanks!

[2022-11-02 21:13] kyessenov opened #23809 "quic: require_client_certificate is ignored"
Quic implementation seems to not support mTLS. Server silently accepts `require_client_certificate` but a client without a cert can connect regardless.

[2022-11-02 23:08] chusteven commented on #19765
I have no idea if my issues trying to use [Envoy and TLS with MySQL](https://groups.google.com/g/envoy-users/c/Mjtm3XHKfqU/m/w2LgfC3TBQAJ) are in the same vein, but if they are then I definitely have interest too!

[2022-11-02 23:58] nareddyt commented on #23774
This is surprising behavior for me too. I always assumed the buffer size would come from `per_connection_buffer_limit_bytes`, but I read the discussion on slack and understand why it's not the case.

As for the proposed solution, I would **not** prefer 2.

`setDecoderBufferLimit` and `setEncoderBufferLimit` change the buffer limits for the entire filter chain. It is nothing specific to gRPC transc

[2022-11-03 02:22] AtticusLv commented on #23650
Updates!

I dive into envoy filters and listeners source logic, and find outbound of envoy is listening with only one port.

In BookInfo sample, outbound of 'productpage' listens to port '9080'. when modified cluster's port is same with that(9080), replacing host and cluster works in LUA filter.

But, with other replaced cluster port, such as 'port=80' in my codes, it doesn't work at all.

So the

[2022-11-03 02:37] wbpcode commented on #23650
Sorry, but I didn't get what's your mean by `modified cluster's port`. It would be better to provide complete example config.

[2022-11-03 03:46] hbagdi opened #23811 "TLS decryption of an HTTP CONNECT tunnel using dynamic forward proxy?"
*Title*: Is it possible to terminate TLS of the byte stream within an HTTP CONNECT tunnel?

*Description*:

I was able to set up Envoy to terminate HTTP CONNECT (i.e. establish a tunnel between the client and the upstream) and use it as a dynamic forward proxy.
After the tunnel is established, I'd like to know if it is possible to intercept the TLS traffic within the tunnel (assuming that envoy ha

[2022-11-03 04:06] asaha123 commented on #865
@phlax I am looking to work on this. If you have any suggestions let me know. I will share my plan before i start work.

[2022-11-03 05:37] ssripadham commented on #23503
@kyessenov PR1 is approved.

[2022-11-03 05:38] ssripadham commented on #23503
Seems like this PR has the changes from the first PR included. Where are the new changes located?

[2022-11-03 08:03] github-actions[bot] opened #23813 "Newer release available `aspect_bazel_lib`: v1.16.0 (current: v1.15.0)"
Package Name: aspect_bazel_lib@1.15.0
Current Version: v1.15.0@2022-10-27
Available Version: v1.16.0@2022-11-03
Upstream releases: https://github.com/aspect-build/bazel-lib/releases

[2022-11-03 08:03] github-actions[bot] opened #23814 "Newer release available `com_github_gabime_spdlog`: v1.11.0 (current: v1.9.2)"
Package Name: com_github_gabime_spdlog@1.9.2
Current Version: v1.9.2@2021-08-12
Available Version: v1.11.0@2022-11-02
Upstream releases: https://github.com/gabime/spdlog/releases

[2022-11-03 08:03] #20667 closed

[2022-11-03 08:03] github-actions[bot] opened #23815 "Newer release available `rules_license`: 0.0.4 (current: 0.0.3)"
Package Name: rules_license@0.0.3
Current Version: 0.0.3@2022-05-28
Available Version: 0.0.4@2022-11-02
Upstream releases: https://github.com/bazelbuild/rules_license/releases

[2022-11-03 08:03] github-actions[bot] opened #23816 "Newer release available `rules_pkg`: 0.8.0 (current: 0.7.0)"
Package Name: rules_pkg@0.7.0
Current Version: 0.7.0@2022-04-07
Available Version: 0.8.0@2022-11-03
Upstream releases: https://github.com/bazelbuild/rules_pkg/releases

[2022-11-03 09:35] AtticusLv commented on #23650
sorry for my fuzzy description. Here's an example istio EnvoyFilter config I use to replace request host, and route the request to other cluster.

[code]

Look at the lines
[code]
This is what I mean ```cluster port```. Not sure the request life logic I dived into is right.

First outbound listens 9080 port, and passes the request to some virtual filters, then lua filter.

in the lua filter, repla

[2022-11-03 09:47] wbpcode commented on #23650
@AtticusLv When you request is entered envoy, one listener will be selected according to request's original dst (ip and port, especially, the port) to handle this request.
This selected listener has a route table which contains all reachable services that have **same `port` as the listener**.

When you update you host with lua filter, envoy will re-research the route table for the request. If your

[2022-11-03 10:02] phlax commented on #865
i would take a look at the example in @dio's repo

not sure if we want/need to have TLS - i think the main thing is showing the gRPC proxy and health check - but perhaps im wrong and it is necessary for some reason

[2022-11-03 10:36] nlamirault commented on #12986
Any news on this bugfix @snowp ?

[2022-11-03 13:02] soulxu commented on #23811
@hbagdi The internal listener could help you on this case https://www.envoyproxy.io/docs/envoy/latest/configuration/other_features/internal_listener.html?highlight=internal%20listener#internal-listener, then you can done something like a listener to terminal the CONNECT, then another internal listener for terminate tls.

[2022-11-03 14:40] #22222 closed

[2022-11-03 16:04] #23222 closed

[2022-11-03 16:04] #23254 closed

[2022-11-03 16:19] jwendell opened #23821 "LinkCreatesNamedFile test failure"
This test is consistently failing in my environment: https://github.com/envoyproxy/envoy/blob/35bf11a0f14a996d4e95b5302b0a953e0beba9f6/test/extensions/common/async_files/async_file_handle_thread_pool_test.cc#L140

Here's my attempt to explain why:

The function `manager_->createAnonymousFile()` relies on the underlying filesystem supporting the `O_TMPFILE` flag: https://github.com/envoyproxy/envoy