[2021-03-30 23:23] nezdolik commented on #12419
The proposed above approach implies that OM reference is available in Tcp Listener.

[2021-03-31 00:59] dmitri-d commented on #15767
Agreed. this is handled correctly in unified mux implementation (for reference: https://github.com/envoyproxy/envoy/pull/15473/files#diff-4228bc8f4213ff904d2a3584f69a2cf049180957f668d8bc0125d9bfa3379fa2R166)

[2021-03-31 01:28] dmitri-d commented on #15770
To clarify: is the idea to accept a "partial" route config update by ignoring per_filter_configs whose factories cannot be found?

[2021-03-31 01:34] htuch commented on #9656
@snowp can you update this issue with where your generic matching is going? This seems the evolution of the earlier work and draft PRs above that could provide a solution here.

[2021-03-31 01:42] #13580 closed

[2021-03-31 01:45] htuch commented on #15770
CC @markdroth who introduced this. I agree it would be useful to make this configurable, probably fine to do it at bootstrap level.

[2021-03-31 01:51] snowp commented on #9656
The generic matching API seems like a good fit for a generic route configuration, but some work will need to be done to make it fit tie it in with actually selecting a route. It's not clear how generic routing we're asking for here, but with the current match API I can imagine something like

providing per protocol input types (thrift headers, dubbo headers, etc.) and generic routing actions

this

[2021-03-31 03:17] liuqi-sun commented on #15724
I think the issue seems unrelated to Wasm. even if `wrk` terminates requests in flight without waiting for the responses. the REQ and RES should be equal. is it a bug?

[2021-03-31 04:19] marcosrmendezthd opened #15783 "Add a flag to set the service region"
*Description*:

[2021-03-31 06:40] lovingcodesk commented on #15761
thank you

[2021-03-31 06:40] wbpcode opened #15784 "general tracing support"
*Title*: *general tracing support*

*Description*:

Envoy provides powerful tracing capabilities. However, it is currently only available for the HTTP protocol. Because Tracer uses Http::RequestHeaderMap to pass the tracing context of the request.
While other protocols can implement an Http::RequestHeaderMap to directly reuse the existing Tracer, this requires a significant amount of work.
But if

[2021-03-31 10:59] phlax commented on #15777
also for yaml would be useful once #15726 has landed

for this idk of a formatter - but im pretty sure we could parse the yaml and then write it out with certain rules - i can investigate further

[2021-03-31 11:03] VajiraPrabuddhaka opened #15787 "Performance drop with the envoy version upgrade"
*Title*: *performance of envoy is degraded with the envoy version upgrade*

*Description*:
We have conducted a performance test by directly using envoy as a router deployed on docker containers. The performance test was conducted with the same configuration set (see below), by varying envoy version (1.14.1 , 1.16.0 , 1.17.1) and average throughput recorded for these cases were 7054.7/s, 5575.2/s a

[2021-03-31 11:23] PiotrSikora commented on #15712
Duplicate of https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/issues/93. Closing this one, since it's an issue with the Proxy-Wasm C++ SDK.

[2021-03-31 11:23] #15712 closed

[2021-03-31 11:25] bhatiakartik10 opened #15788 "HTTP filter before and after evaluation of Connection: Close header sent by upstream"
*Title*: *Forwarding connection:close header received from upstream to downstream*

*Description*:
Picking up from #14910, I wish to write an http filter before and after Envoy closes the connection with upstream. Boils down to 2 questions:
1. Is there a way to recognise that connection: close header has been sent by the upstream and add a header denoting the same?
2. Is there a way to consume the

[2021-03-31 11:40] mk46 opened #15789 "PyJWT flake in CI"
CI fails due to `pyjwt 2.0.1`
[code]

Please see https://dev.azure.com/cncf/envoy/_build/results?buildId=70832&view=logs&jobId=c5dd2866-6ab3-5f3c-3a44-4cef0ec909b5&j=1c04237c-5f52-5959-5f83-5522b3556331&t=db3f3889-c922-566b-fa2e-4bc4948bc467

[2021-03-31 11:43] mk46 commented on #15789
@phlax Would you mind to take a look?

[2021-03-31 11:46] phlax commented on #15789
this will be fixed in #15781

[2021-03-31 13:12] stevenzzzz commented on #15770
some clarification: we want to break the management server and Envoy version coupling.
In some cases, it's fine to "ignore" some features for some routes, (esp for a multi-tenancy proxy).

I think we can add a switch for such factories: if mandatory, let's throw, if "optional", feel safe to withdraw.

[2021-03-31 13:22] #15620 closed

[2021-03-31 14:22] markdroth commented on #15770
I think this would be best addressed by fixing #15025.  That way, the control plane can explicitly indicate which filters should be optional and which are required.

Note that gRPC has already implemented support for the new `is_optional` fields.

[2021-03-31 14:23] markdroth commented on #15770
Also, I don't think I introduced Envoy's current behavior -- I think it has always done this.

[2021-03-31 14:49] asraa commented on #14076
Could we add GCP's KMS support to envoy-ci and sign images via cosign in our postsubmit docker CI workflow?  We'd already have the credentials in our CI workflow. This would attest that the images on dockerhub were produced via CI. Users can verify their images if they have envoy-ci's public key view access (or we can publish the pk on GitHub) (via `cosign verify -kms gcpkms://projects/envoy-ci/lo

[2021-03-31 15:40] akonradi commented on #12419
If this is the only way that workers can learn that they shouldn't make new downstream connections (and if there's another way, I missed it), that's not going to be fast enough. If we want to absolutely make sure of anything, we need a counter that is incremented and read atomically. Otherwise there's still the possibility of a race: suppose worker A calls `updateResource()`, incrementing the "env

[2021-03-31 15:59] #15170 closed

[2021-03-31 16:02] mattklein123 commented on #15783
see https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-config-yaml which you can use to override bootstrap config.

[2021-03-31 16:10] KBaichoo opened #15791 "Buffer Accounting"
Buffer Accounting: Account for allocated bytes in buffers charging to a particular downstream.

*Description*:
Buffer limits for Envoy are too soft. This can lead to excessive buffering, potentially OOMing Envoy. The existing mechanism which we have don't allow us to quickly close streams for existing connections to reclaim resources if we're facing memory pressure.

If we tracked how much allocat

[2021-03-31 16:10] KBaichoo commented on #15791
/assign @KBaichoo

[2021-03-31 16:45] lambdai commented on #7783
@mattklein123 I think this is reasonable from this use case. It arguable when there are more than 2 network filter chains at the same tcp listener.
Suppose one tcp proxy at this listener reports not healthy while the other tcp proxy at the same listener but owned by another network filter chain reports healthy, it's not reasonable to stop listening by failing the tcp shake.

[2021-03-31 16:51] mattklein123 commented on #7783
Yeah I agree it needs more thinking and design.

[2021-03-31 17:05] phlax commented on #15744
on further investigation, this is fixed in the working v1.14-7 branches - and will hopefully be rectified in the next releases of those

for the v13 branches not sure of the status - latest link is broken, previous shows pre-release and fixes are not backported

cc @mattklein123

[2021-03-31 17:08] phlax commented on #15744
https://www.envoyproxy.io/docs

[2021-03-31 17:19] stevenzzzz commented on #15767
to clarify: so this happens on reconnection:
* Envoy sends a new request with a stale nonce(for some XDS, say RDS) to management server, management server sees an error and break the connection. The "stale nonce" is popped from the pausable_ack_queue_. But now it may have "stale nonces" for a different XDS type(say SRDS or CDS) from this connection.
* Envoy retries connecting to (possibly another

[2021-03-31 17:35] stfp commented on #6608
Just in case this helps other folks: you need a matcher on `/` for cors headers to be sent:
[code]

I have a config without one -- only matchers for specific services like:
[code]

And envoy wouldn't send `access-control-allow-origin` etc in responses.  I don't understand why but adding a `/` matcher fixes it.

[2021-03-31 17:45] phlax commented on #15789
should be fixed now

[2021-03-31 17:45] #15789 closed

[2021-03-31 17:47] phlax commented on #15754
i think this is resolved and docs updated in #15764

[2021-03-31 17:47] #15754 closed

[2021-03-31 17:48] phlax commented on #15761
i think this is resolved

[2021-03-31 17:48] #15761 closed

[2021-03-31 17:58] marcosrmendezthd commented on #15783
thanks @mattklein123 !

[2021-03-31 17:58] #15783 closed

[2021-03-31 18:20] mattklein123 commented on #15784
Yeah this is something I would love to clean up. Would definitely appreciate cleanup work here to make this code all generic.

[2021-03-31 18:21] mattklein123 commented on #15787
It's going to be almost impossible to say what the issue is from the information provided. I would recommend capturing some flame graphs of each scenario and sharing them.

[2021-03-31 18:22] mattklein123 commented on #15788
Stepping back, can you describe what you are actually trying to achieve? Do you want to set a header when Envoy is about to close the downstream connection?

[2021-03-31 19:47] bladedancer opened #15793 "ext_proc: Returning StopAllIterationAndWatermark prevents whole request processing"
I've an integration scenario where I want to use ext_proc to call out to an external service. This service is going to process the request and may update headers and/or body - e.g. redaction, signature generation, transcoding, etc.

The external service needs the entire request before it can be processed. The problem is ext_proc stops after sending the headers and awaits a response:
[https://githu

[2021-03-31 20:01] #15026 closed

[2021-03-31 20:01] #15132 closed

[2021-03-31 20:03] bhatiakartik10 commented on #15788
For a connection close request sent by upstream, I just want to forward it to downstream as well.

[2021-03-31 20:06] KBaichoo commented on #15701
IIUC the situation correctly, the main types you'd actually want to target is the `Storage` (a byte array) and `Slice`. Right now the `Storage` abstraction is just an array of bytes multiple of 4k and the `Slice` contains most of the "brains" (which section writable, capacity, etc.)

It might be awkward having some logic spewed across both the `Slice` and `MemBlockBuilder`s. I think if you're able

[2021-03-31 20:11] antoniovicente commented on #15701
I think that doing low level operations on buffers and operations like memcpy on a class like BufferImpl is acceptable.  This code has high test coverage and has received the attention required to ensure that the low level operations in use there are suitably safe.

[2021-03-31 20:12] mattklein123 commented on #15788
This doesn't make sense in the context of Envoy, where downstream and upstream are decoupled and can use different protocols. I'm still not completely understanding the actual problem you are trying to solve?

[2021-03-31 20:20] bhatiakartik10 commented on #15788
I understand that they are decoupled however we have a Envoy setup which is fronted by a LoadBalancer. Whenever the upstream hosts sends a Connection:close header, Envoy closes the connection with upstream endpoint and removes this header from the response. We want to also close the connection between the LoadBalancer and Envoy (so that LB->Envoy doesn't live forever), for this we need Envoy to pr

[2021-03-31 20:26] mattklein123 opened #15794 "listener: switch default for SO_REUSEPORT to true"
Switch the default to SO_REUSEPORT to true as at this point functional kernel support is widespread, and it's an ongoing support burden for Envoy with people complaining about connection imbalance. Plan:

1) Deprecate `reuse_port`
2) Add WKT `enable_reuse_port`
3) Default for `enable_reuse_port` will be true, with a runtime feature flag to flip the default to false (preserve current behavior).

cc

[2021-03-31 20:27] mattklein123 commented on #13333
@adisuissa I wanted to ping back on this. Is this something we can lock in a default for at this point?

[2021-03-31 20:29] #14650 closed

[2021-03-31 20:58] dtjm commented on #15132
Just leaving a breadcrumb here as I have been researching this functionality.

I haven't actually tried it yet, but it looks like this may be doable using a combination of Lua scripting and the `:path` pseudo-header since headers and metadata should be accessible in the Lua environment.

[2021-03-31 21:02] #12829 closed

[2021-03-31 21:02] alyssawilk commented on #15771
Ah, that's a good question.  I think the thing is that for most requests, host was considered superfluous, but for connect it's required.

A possible improvement would be to allow stripping it with the same matcher, but then re-append the original port if forwarding the CONNECT request upstream.

[2021-03-31 21:15] mattklein123 commented on #15788
I would consider just using a shorter idle timeout? I don't think there is going to be a great way to handle this otherwise.

[2021-03-31 21:25] mattklein123 commented on #15794
I'm realizing that flipping the default to true probably also has to be aware of hot restart. I don't think hot restarting onto a different default is going to go well.

[2021-03-31 22:07] dragonbone81 commented on #15569
@gbrail I have a similar issue except instead of content-length theres a value in the header that is calculated based off of the body and it needs to match (crc32). Since I want to modify the body I would need to change that header value. It sounds like this is not possible in the ext_proc filter. Do you know if that is a limitation of just this filter or would the other ones than can process the

[2021-03-31 22:26] gbrail commented on #15569
I'm not sure that you'd be able to do that in any Envoy filter right now -- but if someone does it then we can certainly add that capability to ext_proc.

The problem is that you want Envoy to hold the filter chain "in place" and not transmit the headers to other filters in the chain until the body callbacks have been run. I don't know of a way to do that in Envoy's HTTP filter chain today. You ca

[2021-03-31 22:38] dragonbone81 commented on #15569
Is what is mentioned here in the Lua section what you mean:
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#currently-supported-high-level-features

This seems like what I need, just not yet implemented in the ext_proc if I understand?

[2021-03-31 22:43] gbrail commented on #15569
Well if it works in that filter there must be a way, so I'll read the code and figure out what they did.

[2021-04-01 01:06] mathetake commented on #15239
not stale

[2021-04-01 01:19] gbrail commented on #15569
So the short answer is just to return StopIteration rather than StopAllIterationAndWatermark from decode/encodeHeaders. But that's the short answer. ext_proc lets the processing server decide in each callback what callbacks it wants next, so if we return StopIteration then Envoy will likely call encode/decodeData before the gRPC message has come back (if it was ever sent at all) and we don't know

[2021-04-01 01:45] gbrail opened #15798 "HTTP filter manager: Support a "continue only the current filter" mode"
*Title*: Support a way to continue encoding/decoding, but only for the current filter

*Description*:
In the ext_proc filter, the protocol first sends a "request_headers" message to the external processing server, waits for a response, and then decides what to do with the request body. It then may or may not send a separate message to handle the body, and so on for the response path and perhaps th

[2021-04-01 01:49] wbpcode commented on #15784
I can try to figure it out. Because I just want to enhance the tracing of the dubbo protocol. General tracing support is a very important pre-work.  🤔

[2021-04-01 02:28] wbpcode commented on #15798
May be we can just enhance ext_proc to support mode like this and developers to pre-configure it:

decodeHeaders() called
Return Stop StopIteration.
decodeData() called with end_stream = false
return StopIterationAndBuffer
decodeData() called with end_stream = true
Dispatch async gRPC (headers) to server
Receive async gRPC (headers) reply
if need then dispatch async gRPC (body) to server and keep

[2021-04-01 02:45] wbpcode commented on #15793
ext_proc is designed to look like this. And wasm did some restrictions.

[2021-04-01 02:47] VajiraPrabuddhaka commented on #15787
@mattklein123 I will share the flame graphs.
But, before that ,could you explicitly answer to the question "Is there a performance drop with the envoy version upgrade ?"

[2021-04-01 04:01] #15129 closed

[2021-04-01 07:09] phlax opened #15800 "Flaky test is flaky"
### description

there is a test to report on apparent test flakes - but that itself is throwing an error:

https://dev.azure.com/cncf/envoy/_build/results?buildId=70906&view=logs&j=8c169225-0ae8-53bd-947f-07cb81846cb5&t=6b0ace90-28b2-51d9-2951-b1fd35e67dec&l=23349

[2021-04-01 07:17] phlax commented on #15787
i dont think there is an *explicit* answer

there is only answers dependent on your environment and configuration

if you can share that information, the setup of the tests and the results then others can look more closely at why that might be the case

[2021-04-01 08:38] phlax commented on #15800
the code that triggers the error is here:

https://github.com/envoyproxy/envoy/blob/1134a1602c37d6fec8d5dd9bccd2855f32b2a34a/ci/flaky_test/process_xml.py#L100-L108

im unsure as to why its  failing whether the name of the test is incorrect - or whether this script is incorrect

the test that is marked as flaky is the `access_log_manager_impl_test` here https://dev.azure.com/cncf/envoy/_build/resul

[2021-04-01 16:05] #14781 closed

[2021-04-01 16:37] dragonbone81 commented on #15569
@gbrail Thanks for taking this on so quick :) Seems like there is a path forward so far for making this work. Really liking this ext_proc filter!

[2021-04-01 19:22] snowp commented on #15798
Do we not already support this via the `StopIteration` return value? The current filter will block header iteration until continue is called, but will still receive data + trailers. It means that the ext_proc filter will need to manage receiving data etc. while there might be a pending ext_proc gRPC call, but I think this would give you the flexibility to do what you want here?

@alyssawilk might

[2021-04-01 19:24] snowp commented on #15793
@gbrail

[2021-04-01 19:37] gbrail commented on #15798
The problem I have now is that I don't necessarily know what to do with the body chunks that come in to the filter until the reply comes back from the "request headers" message, and I don't want to just buffer the body in case it's too large for the current buffer size.

I was hoping for an easy way out, by returning StopAllIterationAndWatermark from the headers callback, and then adding some way

[2021-04-01 22:18] davinci26 commented on #15800
I saw that failure as well

re the test failure in `access_log_manager_impl_test`, I am not sure what is happening but I could not get a repro at 100k runs so it might be some rare flake that caused this.

 re the python script: @rmiller14 do you know on top of your head how to fix the python script otherwise I can look at it.

[2021-04-01 22:33] snowp opened #15817 "Opentelemetry dependency incompatible with Go proto export"
Reported here https://github.com/envoyproxy/go-control-plane/issues/407

The dependency on OT protos from Envoy protos means that exporting just the @envoy_api protos becomes insufficient for Go to use the protos generated by tools/api/generate_go_protobuf.py

The immediate problem is that the OT protos use `logs` as an import path which conflicts with the std lib, but on further inspection it's c

[2021-04-01 23:47] davinci26 opened #15819 "Support build targets on Windows."
*Description*:

In linux `./ci/run_envoy_docker.sh './ci/do_ci.sh <TARGET>'` supports a wide variety of targets for developers.

We should support a similar range of targets on Windows.

[2021-04-02 01:34] quentinplessis commented on #15045
I also got the same issue and had to use envoy 1.15 as well

[2021-04-02 01:47] PiotrSikora commented on #15798
The whole "store-and-forward" flow doesn't really work for request/responses with unbounded sizes, so I'd highly discourage it unless you have to transcode body in a non-streaming way (e.g. resize image), but even then you usually don't need to block headers.

Also, unless I'm missing something obvious, returning `StopIterationAndBuffer` means that `ext_proc` is flaky and doesn't work in a "real w

[2021-04-02 02:01] terryburton commented on #15045
This issue is resolved for me in the recent nightly builds.

[2021-04-02 02:52] danzh2010 commented on #15034
/assign @danzh2010

[2021-04-02 05:31] stlava commented on #6297
I'm still trying to work the through the same out of memory issue when using `bazel-cmakelists`. However, has anyone actually been successful building the envoy binary on macos with dbg symbols for use with gdb? I don't quite follow how cmake factors into this other than setting up the project for CLion.

[2021-04-02 09:39] dippynark opened #15824 "Superfluous minimum in priority load pseudocode"
*Title*: *Superfluous minimums in priority load pseudocode*

*Description*:

The pseudocode at the end of the priority levels documentation (https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/priority) seems to contain superfluous minimum.

The `priority_load(P_0)` function does not need to be taken as the minimum of 100 since `health(P_0) * 100 / normalized_to

[2021-04-02 10:24] vixus0 commented on #13053
It looks like #11158 was raised based on the same requirements (solo-io/gloo#2983) for enabling multiple header values without coalescing. Does it apply to a different part of the flow?

[2021-04-02 14:38] VajiraPrabuddhaka commented on #15787
@phlax @mattklein123 I'm using pre-build docker image of envoy, is there a way to get flame graphs from that, without building the project. Could you please share some guide to capture flame graphs..

I have been reading [this](https://github.com/envoyproxy/envoy/blob/main/bazel/PPROF.md#on-cpu-analysis). Is that the correct way to capture flame graphs for envoy..

[2021-04-02 16:18] mattklein123 commented on #15824
cc @snowp

[2021-04-02 16:44] ntgsx92 commented on #15441
I encountered similar situation while trying out DynamicForwardProxy filter. The underlying DNS cache used by the filter will only use either [port 80 or 443](https://github.com/envoyproxy/envoy/blob/80c0abdc9b4491fa1c35bc20577bb638147cff09/source/extensions/filters/http/dynamic_forward_proxy/proxy_filter.cc#L82-L86) depends on whether TLS connection is needed.

I think the reason why this was imp

[2021-04-02 17:20] #15817 closed

[2021-04-02 17:47] gbrail commented on #15798
ext_proc is deliberately designed to give the server control over what callbacks and data it gets. Receiving a buffered body is one of the options that the server can choose. It's not the only option the we designed (although right now it's the only one implemented) and it's not the default -- by default ext_proc doesn't do anything with the bodies at all and doesn't buffer them.

In a lot of use

[2021-04-02 17:49] shashankram opened #15826 "HTTP path regex matching not working as expected for path with trailing slash"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
HTTP path regex matching not working for paths with trailing slash

*Description*:

the bug, for example: Envoy should not crash, the expected

[2021-04-02 18:45] shashankram commented on #15826
Upon reading the docs further, I came across a note regarding how trailing slashes are handled in prefix matches:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto
[code]

I would expect this to be explicitly stated for the `prefix` field in the RouteMatch proto doc: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#co

[2021-04-02 18:47] ngtuna commented on #6297
@stlava take the [example](https://github.com/jpeach/envoy-build/blob/master/user.bazelrc) @jpeach mentioned above and append it to <envoy-folder>/.bazelrc then you don't get memory issue anymore.

[2021-04-02 19:07] stlava commented on #6297
Yup, I've tried that but I still run out of memory even with 16gb. I'm now attempting to build fewer extensions in the hopes that decreases the memory consumption of the build.

[2021-04-02 20:38] jespersoderlund commented on #15132
That is probably possible. Though Lua scripting adds computing overhead and latency and should only be needed for non standard things IMO. I would definitely not put this feature in that bucket, but it seems not to get immediate traction so maybe my use case is the outlier, wanting to rewrite the path to include a user is picked up from the authenticated user, or actually a substring of the userna

[2021-04-02 21:26] tbarrella commented on #15472
@mattklein123 @alyssawilk @htuch I created the doc, please feel free to comment. Do you have any thoughts after reading it?
https://docs.google.com/document/d/13H7aZgZ_CoOPxH3IopABShcZZCB_AF6Qu5-6w3SOEiQ/edit

[2021-04-02 22:03] #15336 closed

[2021-04-02 22:26] dragonbone81 commented on #15569
@gbrail Would implementing request trailers and response trailers in ext_proc be a solution to this? From what I've been reading it seems that's what they are for, if thats easier than adding functionality to be able to change the headers in the body.

[2021-04-02 23:03] #15665 closed

[2021-04-03 00:03] #14869 closed

[2021-04-03 00:03] #15150 closed

[2021-04-03 01:11] gbrail commented on #15569
If your application can work with trailers, then trailers are great.
ext_proc needs to have support for trailers but there are some nuances --
like how to behave when a processor wants to add trailers but they're not
there already. It's on the list of things that I know we need to add.

Also, from what I can see, Envoy only implements trailers for HTTP/2. That
might also affect whether it works fo

[2021-04-03 01:33] mandarjog commented on #15062
We still do need this. Someone from Google will work on it.

[2021-04-03 04:02] #15123 closed

[2021-04-03 04:02] #15169 closed

[2021-04-03 09:46] dpwrussell opened #15830 "SimpleHttpCache: age header missing on cached responses after validation"
*Description*:
I would expect the `age` header to contain the time since the cache was last validated (i.e. when `date` is updated), and it does, except when the max-age is exceeded, but the response has not changed.

Series of events:
* Initial request, response does not contain `age` header ✅
* Second request (within `max-age`), response contains `age` header ✅
* Third request (without `max-age`

[2021-04-04 03:59] jstewmon commented on #13904
👋 Hi @azihsoyn @dio @rgs1 @derekargueta @mattklein123 @marcomagdy

Can we reopen this issue and add a `no stalebot` label? It precludes the use of POST (or any other method with with a body) because the `x-amz-content-sha256` hash does not match the body.

For anyone looking for a workaround, I found that the filter works with GET requests, as long as the query parameters are already sorted. Of co

[2021-04-04 08:01] #14798 closed

[2021-04-04 08:25] BatanGaming opened #15834 "[Question] How properly set up front proxy for both web and grpc services"
*Description*:
I'm trying to set up front proxy which will redirect to one of "stands". Each stand consists of own proxy, some web services and one grpc service for mobile client. But when I try to connect to the grpc service through front proxy it fails with
`"- - HTTP/2" 0 DPE 0 0 0 - "-" "-" "-" "-" "-"`. So what I did wrong?

Here's what I want to achieve (stand's proxy works fine):
![](https:

[2021-04-04 13:54] BatanGaming commented on #15834
Ok, I tried to change route for grpc in stand's proxy (before I was using regex match and it worked fine, now I want to use prefix match like `/mobile/`) and I'm not sure but it seems problem is in dart grpc client. So, still question is - will this set up work?

[2021-04-05 00:20] htuch commented on #15472
@tbarrella thanks for doing this. I've left a few comments, mostly I think we need a diagram or two! :)

[2021-04-05 10:53] VajiraPrabuddhaka commented on #15787
@mattklein123 find the attached flame graphs for each scenarios.

[flame_graphs.zip](https://github.com/envoyproxy/envoy/files/6257694/flame_graphs.zip)

Environment details:

Used docker images : [https://hub.docker.com/r/envoyproxy/envoy](https://hub.docker.com/r/envoyproxy/envoy)

[2021-04-05 13:18] BatanGaming commented on #15834
In the end, I created multiple virtual hosts instead of routes because `:authority` header must contain domain name, so now I route `mobile.<some_domain>` instead of `<some_domain>/mobile`.

[2021-04-05 13:18] #15834 closed

[2021-04-05 15:34] mattklein123 commented on #15472
+1 thanks @tbarrella the doc is a great start. I added a few more comments to further our discussion.

[2021-04-05 15:36] mattklein123 commented on #15826
cc @alyssawilk

[2021-04-05 15:39] mattklein123 commented on #15787
@VajiraPrabuddhaka unfortunately there are no symbols associated with the flame graphs so they are not very useful. Please make sure to use a binary with symbols when generating.

[2021-04-05 17:32] howardjohn opened #15838 "Retried XDS requests append `extensions` node info multiple times, leading to XDS request size leak"
*Title*: Retried XDS requests append `extensions` node info multiple times, leading to XDS request size leak

*Description*:
Istio issue for reference: https://github.com/istio/istio/issues/31904

When XDS requests are retried due to errors from the XDS server, Envoy will repeat the `node.extensions` field. The first request will have each extension one time, then 2 times, etc. In some cases, we s

[2021-04-05 17:34] howardjohn commented on #15838
cc @yanavlasov

[2021-04-05 19:03] spockz opened #15839 "Support using each individual upstream's endpoint hostname as SNI parameter"
*Title*: *Support using each individual upstream's endpoint hostname as SNI parameter*

*Description*:
In our situation we have mainly a flat network except for some K8s clusters which have independent address spaces for their workloads. We currently have a, finagle-based, mesh in which we have E2E TLS & and client-side load balancing over instances, also over instances in the K8s clusters. This i

[2021-04-05 20:01] #15187 closed

[2021-04-05 21:20] jhughesjha commented on #11532
@mattklein123,

Do you have a full example EnvoyFilter that would set pack_trace_reason: false? We think this is set but still seeing the 14th nibble being changed.

Thanks!

[2021-04-05 21:59] htuch commented on #11299
@howardjohn do you have any additional update? HH are spinning up on this project and would like to know if there's anything to be learned from the Istio experience. Thanks.

[2021-04-05 22:01] howardjohn commented on #11299
@htuch beyond https://github.com/envoyproxy/envoy/issues/11299#issuecomment-647711851 I haven't explored this much. I ran into issues with figuring out the "mock API" or inputs and how to make it generic. As a result, we just focused on expanding our own Istio-specific "conformance" tests which we have a fake ADS client, with Istio specific configurations. Most of these are in https://github.com/i

[2021-04-06 02:17] antoniovicente commented on #12419
I think that the name "reactive" threw me off.  I think that the check that you're proposing is a "proactive" check rather than a reactive mechanism like the current reactive check that operates based on the most recently propagated overload state information which is computed periodically.

Regarding interface, I think something like `bool tryAllocateResource()` which atomically increments the nu

[2021-04-06 03:03] moderation opened #15845 "Docs: clarify QUIC BPF operation"
*Title*: *Docs: clarify QUIC BPF operation*

*Description*:
Prompted by the Twitter chat at https://twitter.com/mattklein123/status/1378172039870091265 I looked into the runtime flag that allows QUIC routing in the kernal via BPF - https://github.com/envoyproxy/envoy/blob/main/source/common/runtime/runtime_features.cc#L82
[code]
Installing BPF rules like this requires one of:
1. Envoy is running a

[2021-04-06 03:28] mattklein123 commented on #15845
Yeah in addition to documentation, I agree we should have logging on which mode, and potentially even have it be configurable with error message if the kernel doesn't support it, not run as root, etc.

[2021-04-06 03:29] mattklein123 commented on #15838
cc @adisuissa @dmitri-d

[2021-04-06 03:31] goudai commented on #15514
This proxy seems to only support the latest pop protocol consume message。

[2021-04-06 05:50] jihyun00 opened #15848 "There are two same types cluster names, I wonder what is difference."
*Title*: *There are two same types cluster names, I wonder what is difference.*

*Description*:
I ran below commands and I found ingressgateway had more endpoints than an application pod.

[code]

[code]

I found Ingressgateway had both cluster names. But Application pod didn't have the first one.
1) outbound_.8080_.canary_.test.common.svc.cluster.local
2) outbound|8080|canary|test.common.svc.clus

[2021-04-06 06:52] kev1n11 commented on #12274
Hi team, just wondering what the progress of this is?

[2021-04-06 07:31] wbpcode commented on #15163
For this problem, I think a small extension to RequestOption/StreamOption is sufficient. Just as below:

[code]

[2021-04-06 08:52] sunnoy opened #15851 "http local_ratelimit filters notworking"
*Description*:

config：

[code]

error log :

[code]

[2021-04-06 08:54] sunnoy commented on #13761
but i ger error log

[code]

[2021-04-06 11:11] Kagamia-MS opened #15852 "How to logging request pending duration in circuit breaker?"
When enable circiut breaker and set `max_connections` and `max_pending_requests`, a request may stay in the pending queue for a while until any other request completed.

I’m looking for a way to record how long a request is 'queuing' in circuit breaker, I find `%DURATION%`, `%REQUEST_DURATION%`, `%RESPONSE_DURATION%` from [access_logs](https://www.envoyproxy.io/docs/envoy/latest/configuration/obse

[2021-04-06 12:45] rojkov commented on #15851
Looks like the local rate limit filter is not linked in.

[2021-04-06 12:53] rojkov commented on #15848
I suspect this is how Istio configures Envoy instances. You'd better ask somebody from the Istio project why it does so.

[2021-04-06 13:00] alyssawilk commented on #15845
I'll throw this Dan's way as part of the docs clean up for Alpha

[2021-04-06 13:20] alyssawilk commented on #15851
Looking at https://github.com/envoyproxy/envoy/blob/main/source/extensions/extensions_build_config.bzl it looks like its disabled by default.
You can check out "Enabling and disabling extensions" in bazel/README.md for how to fix!

[2021-04-06 15:37] BatanGaming opened #15854 "JWT Authentication failed to fetch remote jwks after updating docker"
Envoy version: 1.17

I've just updated `Docker Desktop` to RC3 version for apple silicon and now I get error `Jwks remote fetch is failed`. Before it was working well, still maybe there are some issues with my config. Any ideas?

Config:
[code]

[2021-04-06 16:16] alyssawilk commented on #15035
Hm, any further data on how this is going for you?  We now have HTTP/3 integration test relying on access logs so they appear to be working for the common case.

[2021-04-06 16:18] alyssawilk commented on #13115
lazy-ask: was this not accepting updates to the quic filter chain, or not being able to in-place add/remove quic listeners?

[2021-04-06 16:21] alyssawilk commented on #9435
Hm, @danzh2010 do you think we should have this for alpha?  I think we can mark it as required for MVP since envoy flags lag behind Google, so are pretty well vetted by the time they are true in Envoy.

[2021-04-06 16:22] alyssawilk commented on #8826
Tagging as quic alpha just to make sure we are happy with buffer limits as configured before we un-hide config.
I think some of the work can wait for mvp but will let dan document what goes where :-)

[2021-04-06 16:23] alyssawilk commented on #8479
This is something we'll need for quic-upstream, but no changes needed for quic-downstream support right?

[2021-04-06 16:45] ggreenway commented on #13115
The call to `listener.second.tcpListener()->get().updateListenerConfig(config);` is guarded by `if (config.listenSocketFactory().socketType() == Network::Socket::Type::Stream) {`. The ask is to do the same thing for datagram listeners.

[2021-04-06 16:51] nezdolik commented on #12419
@akonradi i may have not provided enough details on suggested approach. Worker threads will not be aware of global max counter, they only maintain local counters (eg per listener) and thread local state for overload action. Atomic max counter is stored in resource monitor in OM on main thread. Upon trying to accept new connection worker thread contacts OM with "increment", OM in turn propagates th

[2021-04-06 17:11] alyssawilk commented on #13115
OK, I think we need to either support this for alpha or make it really clear in docs it's not yet supported.

It shouldn't be too much work to forward packets for old connections to the old listener and new to the new listener, but it's not trivial.

[2021-04-06 17:11] qiwzhang commented on #15854
Maybe your new docker doesn't have SSL root certfificate files?   It seems that your remote jwks requires SSL, and you did not specify root CA.

Could you add following into your `congnito_jwks_cluster`
[code]

[2021-04-06 17:18] lambdai commented on #13115
The ownership of the filter chain is not clear to me: Quic listener need to decide whether the old and new config has filter chain only change.
Also, the per worker thread listener needs to track what connections are bind to the gone filter chain. AFAIK this is done in ActiveTcpListener, the quic listener needs a similar accounting.

[2021-04-06 17:39] mattklein123 commented on #15839
I don't think this is possible today though it's something that could be added. cc @ggreenway @lambdai

[2021-04-06 18:36] danzh2010 commented on #8479
This is only client side feature, so not need for server downstream support.

[2021-04-06 18:38] danzh2010 commented on #9435
I don't think we need runtime support for QUICHE flags for alpha.

[2021-04-06 18:47] dmitri-d commented on #15838
Looking into it.

[2021-04-06 19:35] spockz commented on #15839
@mattklein123 I would be happy to contribute something. Although my c knowledge is seriously limited I would appreciate some guidance on where to fix this. E.g. I'm not sure whether setting the sni parameter by default would break existing setups so it probably needs to be toggled.

[2021-04-06 21:25] NomadXD opened #15860 "Envoy WASM singleton service per envoy instance"
*Title*: *Envoy WASM singleton service per envoy instance*

*Description*:
I have a requirement where I have to make a HTTP request to an external service and pull some data periodically. I implemented a HTTP filter in Rust and doing the HTTP call from the `onTick` in the `RootContext`. But `RootContext` gets created for each worker thread and for each worker thread , a HTTP occur. In the docs, th

[2021-04-06 22:05] dragonbone81 opened #15861 "Envoy proxy http to https redirect with dynamoDB (aws request signing)"
The basic flow that I want to achieve is:
- application sends dynamoDB request to envoy
- envoy intercepts this request and transforms the body with a lua filter
- envoy sends this request to a dynamoDB endpoint

I have achieved the first two steps. However I'm stuck on getting the request to the dynamoDB endpoint. In my application I set the dynamoDB endpoint as http://envoy:8888 (the host/port e

[2021-04-06 22:23] NomadXD commented on #15860
Configured as follows as mentioned in the docs. But envoy rejects the config at start up saying `error initializing configuration '/etc/envoy/envoy.yaml': Protobuf message (type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:wasm: Cannot find field.) has unknown fields`. Envoy version used in 1.17.1
[code]

[2021-04-06 23:22] htuch commented on #12274
@kev1n11 yes, still priority, PRs welcome!

[2021-04-07 00:03] #14823 closed

[2021-04-07 00:20] mattklein123 commented on #15839
So, I think this may actually be possible today via `transport_socket_matches`, but it would be extremely verbose and wouldn't be dynamic (since the config is on the cluster vs. the endpoint), but it might theoretically work for you if you can use a static cluster and inline a match for each endpoint.

Assuming that doesn't work (likely), I would have a look at how transport socket is configured t

[2021-04-07 00:33] skiptomyliu opened #15862 "Add logging for DNS Filter"
*Title*: Add logging for DNS Filter

*Description*:
We'd like Envoy to act as DNS for our services.  DNS logs are a rich source of telemetry data for security detection and visibility on outbound requests.  It would be great if we had the option to log both local and external resolutions.

[2021-04-07 01:34] yanavlasov opened #15864 "proposal: Add access log specific FactoryContext interface"
*Title*: *Add access log specific FactoryContext interface*

*Description*:

[optional *Relevant Links*:]

Subsequent PR #15829 for fixing broken proprietary access loggers.

[2021-04-07 02:48] jihyun00 commented on #15848
@rojkov Thanks! I'll ask istio groups!

[2021-04-07 03:13] lambdai commented on #15839
@mattklein123 When you mention `transport_socket_matches` I realize cluster upstream filter doesn't work.

The existing transport socket match is something like we prepare N transport socket candidates, and when an upstream host is selected, choose the best fit for "endpoint metadata". It might be easier to extend TransportSocketMatch by
1. extend the match critieria, add another host info beside

[2021-04-07 04:57] BatanGaming commented on #15854
Thank you. Now everything works fine 👍

[2021-04-07 06:04] BatanGaming commented on #15854
I want to ask you another one question:
Now I want to replace zipkin tracing with native jaeger tracing to not propagate `b3` headers in my system. I just did this Dockerfile:
[code]
and now I'm getting this error
[code]
I understand what it mean but how it's possible?

Another one question: if I build the latest version of jaeger (which is 0.7.0) will it work fine?

[2021-04-07 06:10] sunnoy commented on #15851
tks

[2021-04-07 06:10] #15851 closed

[2021-04-07 06:39] #15848 closed

[2021-04-07 06:44] dragonbone81 commented on #15861
Figured out using this will transform the http request
[code]

However the signing filter is not working correctly and giving an exception: The security token included in the request is invalid
[code]

[2021-04-07 07:45] grzegorz-mirek commented on #15771
Not sure if I understood. My case is slightly different - I'm [terminating the CONNECT](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/upgrades.html?highlight=connect_config#connect-support), not forwarding it:

[code]

In other words, I want to be able to receive CONNECT, terminate it and then send the request to upstream with a different port (443). I thought that setting `

[2021-04-07 07:48] spockz commented on #15839
@mattklein123 , regarding the matchers, I think we would be okay for a PoC if we can insert the matches based on hostname/endpoint. Potentially we can add them to a an Envoy cluster using Istio's `EnvoyFIlter`. However, I'm not sure what the match configuration would look like, particularly how to set the SNI value in the configuration.

As we are generating all the entries for the pods in the rem

[2021-04-07 08:37] Coconut105 commented on #15441
Hi again,

I still see the same problem though when, for example, first request uses port 80 and second request uses port 443.

[2021-04-07 09:37] PiotrSikora commented on #15860
That's not the way to configure a bootstrap extension, you need something like this:
[code]

[2021-04-07 09:39] PiotrSikora commented on #15769
@DerekStrickland does that work for you? If so, could you close this issue? Thanks!

[2021-04-07 10:34] liuqi-sun opened #15868 "envoy send RST tcp segment"
After three handshakes, the HTTP request is sent, and the RST fragment is returned

![envoy-rst](https://user-images.githubusercontent.com/48784730/113853123-e1f6bb80-97cf-11eb-8ef5-e3fed5b5f7d1.png)

[2021-04-07 11:17] DerekStrickland commented on #15769
@PiotrSikora  Looks promising. Thanks!

[2021-04-07 11:17] #15769 closed

[2021-04-07 12:50] snowp commented on #15862
Is this just asking for regular logs or something akin to an access log that provides more sophisticated sinks?

[2021-04-07 12:52] snowp commented on #15868
Sorry can you elaborate on this some more? Configuration used, how you are reproducing this, what you expect, etc.

[2021-04-07 13:10] VigneshSP94 opened #15869 "Connecting with IP when the listener is configured with SNI"
We are PoC-ing envoy to use it as our load balancer, we are trying to utilize the SNI feature and it works perfectky fine.

But when we try to connect to IP of the listener that is configured with SNI, we get `no matching filter chain found` and the request fails.

We use curl with option `-k` to do this.

Below is the minimal configuration to do this

[code]
My questions are :

1. Will connecting

[2021-04-07 13:12] NomadXD commented on #15860
@PiotrSikora Thank you. I think the docs for that relevant section has not been updated yet.

[2021-04-07 14:06] ipuustin opened #15871 "Add a private key provider to accelerate RSA and ECDSA crypto operations on recent Intel Xeon processors."
*Title*: Add a private key provider to accelerate RSA and ECDSA crypto operations on recent Intel Xeon processors.

*Description*:

Intel's [IPP (Integrated Performance Primitives) crypto library](https://github.com/intel/ipp-crypto) has support for [multi-buffer crypto operations](https://github.com/intel/ipp-crypto/blob/develop/sources/ippcp/crypto_mb/Readme.md). Briefly, multi-buffer cryptograp

[2021-04-07 14:44] howardjohn commented on #15839
Leaking Istio discussion here a bit, but FWIW Istio doesn't allow patching Endpoints with EnvoyFilter

[2021-04-07 15:40] mattklein123 commented on #15862
From talking to @skiptomyliu previously this is a request for access logs, which makes sense to me.

[2021-04-07 15:52] mattklein123 commented on #15839
I'm going to need to think about this a bit so let me get back to you. cc @alyssawilk also who just pinged me about a somewhat similar issue as it relates to H2 vs. H3 transport socket configuration.

[2021-04-07 15:53] skiptomyliu commented on #15862
Thanks for eliciting the clarification, Snow.  Yep this is for access logs.  I've edited the original enhancement request.

[2021-04-07 16:09] ggreenway commented on #15839
I don't think we want a different transport socket config for each host. The sent SNI value is a per-connection (not context) setting in BoringSSL. I think we should add an option "set SNI to hostname" to the TLS upstream transport socket config somewhere, and set that on the `SSL*` when it is created [here](https://github.com/envoyproxy/envoy/blob/7d426641e044491ed13b0b45afb25604c323fbc9/source/e

[2021-04-07 17:01] qiwzhang commented on #15854
The error mans your c binary doesn't compatible with std runtime libraries from the system. It is better to re-build it with the same base image or OS:  it means your developing, or compiling host should be the same as target host,  or the one envoy docker image is based on.

[2021-04-07 17:03] mikosa opened #15873 "Lua Filter Response Handle Metadata is nil when method is "OPTIONS""
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*:  Lua Filter Response Handle Metadata is nil when method is "OPTIONS"

*Description*:
I am using Lua filter  v2 to copy request headers into metadata and then in the

[2021-04-07 17:07] BatanGaming commented on #15854
Ok, I get it, thank you very much.

[2021-04-07 17:07] #15854 closed

[2021-04-07 17:20] martinezlucas98 opened #15874 "Supporting C++20 in Envoy"
*Supporting C++20 in Envoy*

*Description*:

Context:
The latest standard version ratified and published by ISO in December of 2020 as ISO/IEC 14882:2020 (informally known as C++20) —a very significant update over C++17—is widely (but not yet fully) supported by major compilers such as gcc-10 and clang-10.
C++20 is already being used as the standard version by some companies and this number will c

[2021-04-07 17:24] snowp commented on #15871
For testing is there any way we can run these tests in CI? Not sure how much control we have over processor types in CI. @lizan do you have thoughts on our options here?

@envoyproxy/dependency-shepherds for thoughts on adding the dependency.

[2021-04-07 17:32] danzh2010 commented on #8826
Regarding QUIC crypto stream buffer, we could trust QUICHE handshake implementation wouldn't OOM itself even without send buffer enforcement.
Regarding QUIC header stream buffer, it's send buffer contributes to connection level watermark which is configured via perConnectionBufferLimitBytes.

[2021-04-07 17:39] snowp commented on #15874
I'm not sure I follow why this means we need to be using C++20 in Envoy, surely most C++ compilers are backwards compatible? Can you speak to specific updates that you feel needs to be done in order to make Envoy compatible in these cases?

In any case I believe there have been concerns about supporting various platforms (e.g. for envoy-mobile), so not sure if we're ready to make the switch to C++

[2021-04-07 17:46] tbarrella commented on #13868
I should be able to do this. I'm assuming we don't want to break what happens when `strict_1xx_and_204_response_headers` is true and the new flag is false, or (breakingly) change `strict_1xx_and_204_response_headers` to an enum. Is there any precedent for how Envoy would interpret two overlapping flags like this? i.e., with features `strict_1xx_and_204_response_headers` and `accept_1xx_and_204_tra

[2021-04-07 17:49] xxx0624 commented on #3887
Good idea!

[2021-04-07 17:52] qiwzhang commented on #14556
Please assign this issue to me.  Thanks.

[2021-04-07 17:57] moderation commented on #15874
Recently the addition of a small C++17 feature caused build breakages and toil - https://github.com/envoyproxy/envoy/pull/14923 fixed by https://github.com/envoyproxy/envoy/pull/15093

[2021-04-07 18:10] GabrielGhe commented on #15228
bump to prevent close

[2021-04-07 18:33] mattklein123 commented on #15874
Realistically I don't think we will be able to update to 20 any time soon, and will be gated on the mobile compilers. We can use this issue for tracking any work proposals.

[2021-04-07 19:22] PiotrSikora commented on #15860
@NomadXD patches welcome!

[2021-04-07 19:46] snowp commented on #15873
Can you provide an Envoy config that reproduces this issue? I think that would be helpful in tracking down the cause of this, thanks!

[2021-04-07 20:10] alyssawilk commented on #15771
right, but unfortunately if we start port-stripping it'll break things for folks who proxy connect unless we fix both in tandem.  At the point we do port removal, we haven't locked in if Envoy is proxying or terminating.

[2021-04-07 20:17] alyssawilk commented on #13868
I don't think we have precedent for this, so I'm game for anything which allows istio (and others) to roll out multi-level support.  Keeping prior behavior with envoy.reloadable_features.strict_1xx_and_204_response_headers true is a nice to have, but I'm totally fine with say deleting that guard and replacing it with two new ones (for upstream / downstream) (permissive/strict), whatever makes sens

[2021-04-07 21:15] tbarrella commented on #13868
Thank you! I think I'll split it into two distinct guards so that the behavior is less confusing.

[2021-04-07 21:17] rgs1 opened #15879 "track_cluster_stats/request_response_sizes not working"
I pushed a change -- via CDS -- to enable `track_cluster_stats/request_response_sizes` (#11559) and the change went through (e.g.: /config_dump shows that clusters picked up the knob) but still no stats:

[code]

I tried a binary (hot) restart and also nothing... Anyone using this feature? Digging through the code now to see if
there's anything special about it. It's not working for both mTLS upst

[2021-04-07 21:33] snowp commented on #15824
Yeah seems like you're right, we should just remove that to simplify things. Are you able to put a PR up?

[2021-04-07 21:36] rgs1 commented on #15879
cc: @ranjithkumar007

[2021-04-07 21:45] mattklein123 commented on #15871
If the dep is only uses by the extension I think it's OK with me, but will see if @htuch or @moderation have any concerns.

In terms of testing, we have other tests that check for hardware/OS compat before running, though it might be good to also mock to make sure we have good coverage as I'm not sure of CI status and it might change over time.

[2021-04-07 22:17] sunjayBhatia commented on #15612
Looking with a bit more detail about how this would work, I'm on board with @jnehlmeier's suggestion about Envoy not trying to figure out the correct path/domain attributes to rewrite a cookie with and requiring an explicit configuration by users how they want their `Set-Cookie` header to look for a couple reasons:

- The host/path can be rewritten in a fair few places, Lua filter, RouteAction, Re

[2021-04-07 22:29] lizan commented on #15871
We don't have Xeon processor based CI runner today, but we can provision a few to the CI cluster.

[2021-04-07 22:49] moderation commented on #15871
Is the proposed dependency open-source? I couldn't see a link to a repo on the link provided and a "Get Access" button indicating the code is behind a wall. Would be interesting to run the ipp-crypto dependency through the dependency policy at https://github.com/envoyproxy/envoy/blob/main/DEPENDENCY_POLICY.md

[2021-04-08 00:04] mattklein123 commented on #15839
Thanks @ggreenway for the link. I had forgotten that we basically already support this.

@spockz see: https://github.com/envoyproxy/envoy/blob/a67d8e588532fc2e3a7d89ee6aa469931c6419be/api/envoy/config/core/v3/protocol.proto#L40-L43

And how that ultimately works here:

https://github.com/envoyproxy/envoy/blob/7d426641e044491ed13b0b45afb25604c323fbc9/source/extensions/transport_sockets/tls/context_

[2021-04-08 00:05] #15218 closed

[2021-04-08 00:05] #15230 closed

[2021-04-08 00:16] ggreenway commented on #15839
One important difference with the existing `auto_sni` (I'd forgotten about that): I believe that `auto_sni` sets something on the upstream connection so that there is a separate connection pool per SNI value. For this new use-case, we want to make sure we don't do that. This new use case does not want requests to be routed to a connection based on the SNI; the SNI is just needed to setup the conne

[2021-04-08 00:23] #15131 closed

[2021-04-08 01:12] htuch commented on #11816
Bumping priority given the high CVE rate (almost always false positives as well).

[2021-04-08 01:54] fukuda151 opened #15883 "Why envoy behaves differently when envoy adds an error tag to trace according to HTTP and GRPC status?"
*Description*:
Envoy adds an error tag to trace when HTTP status is 5xx (NOT when HTTP status is 4xx). On the other hand, envoy adds an error tag to trace when GRPC status is not "OK".

I think envoy should not adds an error tag to trace when GRPC status is such as "NOT_FOUND" or "PERMISSION_DENIED" because they are equivalent to HTTP status 4xx.

Is there any intention for this difference?

*Rele

[2021-04-08 03:11] liuqi-sun commented on #15868
Envoy acts as the data control surface for Istio,Istio redirects the port through the iptable to 15006. The envoy listens to 15006. But when the client connects the envoy through 15006, the result envoy sends RST.
![envoy-rst-1](https://user-images.githubusercontent.com/48784730/113962882-2aa78680-985b-11eb-9f84-1c9d1f8d9188.png)
![envoy-rst-2](https://user-images.githubusercontent.com/48784730/11

[2021-04-08 04:03] #15232 closed

[2021-04-08 04:13] moderation commented on #11816
OpenTelemetry went 1.0.0 is Feb - https://medium.com/opentelemetry/opentelemetry-specification-v1-0-0-tracing-edition-72dd08936978. Looks the Zipkin exporter still needs Curl
- https://github.com/open-telemetry/opentelemetry-cpp/blob/main/bazel/repository.bzl#L76-L84
- https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#prerequisites

I was thinking we could deprecate OpenCens

[2021-04-08 05:51] pcmoritz commented on #14980
I'm also interested in this! Especially because lua filters are advertised as _filters_, passing the filter if there is an error in the lua program seems like a very very dangerous default to me.

[2021-04-08 05:52] mattklein123 commented on #15839
@ggreenway I'm pretty sure we can reuse the same hashing logic and it would effectively be a no op because there would be one value per host? My initial thinking was an option that is shared across all conn pools including TCP. I can look more tomorrow.

[2021-04-08 06:19] lovingcodesk commented on #15761
yes

[2021-04-08 09:17] rojkov commented on #15871
@moderation Here's the repo of the library https://github.com/intel/ipp-crypto

[2021-04-08 10:56] jnehlmeier commented on #15612
Not sure which variables you have in mind but variables for domain and path are required from the beginning when cookie rewrites are configured manually by the user.
Otherwise cookie rewrites are not possible for virtual hosts with multiple domains and/or domain wildcards and also not possible for prefix and regex based path rewrites / redirects.

[2021-04-08 11:02] davidkornel opened #15887 "UDP: add support for multiple filters"
Does UDP support network filters? If not, why not? Are there some issues with it, or someone has to implement it?

**Network filters:**
I'd like to write my own filter that works with UDP as well but currently as I know network filters won't apply for UDP listeners.
I know that for now, only 1 UDP listener filter per listener supported, but what about network filters?

**Listener filters:**
In #11

[2021-04-08 11:23] ipuustin commented on #15871
Thanks for the comments. It seems that writing a mock library for testing the multi-buffer operations using just regular crypto functions would be a good idea. I'll show the DEPENDENCY_POLICY.md list to the ipp-crypto team to get comments to the items there.

[2021-04-08 11:24] davidkornel opened #15889 "proposal: Downstream source ip/port filter"
**Concept:**
I am thinking of a new filter that would do filtering on the source IP/port of the connection. With this filter, we would be able to control where to accept connections from. Like [filter_chain_match](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto#config-listener-v3-filterchainmatch)'s `source_prefix_ranges` and `source_ports`. If the s

[2021-04-08 12:17] phlax opened #15890 "Go-control-plane updates seem to have broken verify_examples"
### description

afaict the updates yesterday to go-control-plane have broken the examples - certainly the last 2 post-submit jobs have failed on this

the error is:

[code]

and can be seen here https://dev.azure.com/cncf/envoy/_build/results?buildId=71451&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=3053

[2021-04-08 13:50] sunjayBhatia commented on #15612
Yeah, was mostly thinking about rolling things out incrementally and possibly not covering wildcard domains etc. initially but yes, to cover those sorts of use cases you are correct, a user configuring routing themselves would need access to original host/path variables

[2021-04-08 14:08] htuch commented on #15871
@ipuustin I'd definitely suggest adding a SECURITY.md and plan around how to handle security incidents for something this foundational to transport sec.

[2021-04-08 14:51] #15530 closed

[2021-04-08 15:32] ggreenway commented on #15839
Oh right, that makes sense. 👍

[2021-04-08 15:53] phlax commented on #15890
this was resolved in #15891 - further discussion is here https://github.com/envoyproxy/go-control-plane/issues/419

[2021-04-08 15:53] #15890 closed

[2021-04-08 16:43] lambdai commented on #15839
Is the feature request here to set SNI by downstream request or upstream endpoint? IMO `auto_sni` does the former which is from downstream.

[2021-04-08 16:53] NomadXD commented on #15860
@PiotrSikora Sure. Would like to contribute. Any specific procedure that I have to follow before sending a PR for the docs ?

[2021-04-08 17:09] snowp commented on #15868
Sorry there's not much I can do without more information about the config Envoy is using. I'm guessing there is a misconfiguration that causes Envoy to reset the incoming request.

I suggest bringing this to the Istio folks brings to help understand what configuration Envoy is using here.

[2021-04-08 17:11] snowp commented on #15869
I believe you'd either need to include the ip as one of the SNIs (assuming the client sets the IP as the SNI) or use a second filter chain that doesn't try to match on SNI.

[2021-04-08 17:15] snowp commented on #15887
I know we have some support for UDP listeners, but not sure how sophisticated the support is compared to TCP.

@alyssawilk @mattklein123 might know more

[2021-04-08 17:22] lambdai commented on #15889
FilterChainMatch is not applied to udp_listener. Partially because udp listener doesn't not support "connection filter chain"

I would suggest creating the *udp filter chain*. Since the udp is packet-oriented, it's probably not reasonable to separate listener filter vs network filter as in the tcp listener.

A single udp filter chain can simulate the role of FilterChainMatch which dispatches to mu

[2021-04-08 17:28] lambdai commented on #15868
The tcp hand shake is complete: iptables says yes. It's very likely the envoy listener is ready.

Could you turn on the access log at envoy? With the access log you can understand if a filter chain is found or not. If the filter chain is selected, usually the detailed error flag is revealed in the access log

[2021-04-08 18:21] akhilgoel09 opened #15893 "Getting 503 on istio ingressgateway service when requesting using curl- istio version: 1.9.1"
Hi,

Any help will highly be appreciated if someone has face the similar issue or knows the answer let me know.
I am getting 503 error when I do curl to my micro service, below is my curl:

    curl -vvv https://api-gateway.cap-staging.saturn.xyz.net/v1/health?authkey=password

    * Trying 44.235.129.53...

    * TCP_NODELAY set

    * Connected to api-gateway.cap-staging.saturn.xyz.net (44.235.1

[2021-04-08 19:12] mikosa commented on #15873
this is more of an istio deployment

[2021-04-08 19:39] skiptomyliu opened #15895 "ecds: add support for udp filters"
*Title*: Implement ECDS for UDP listener filters

*Description*:
Use-case: We'd like reload the configs independent of the listener.  In our case, we're using the DNS filter and would like to be able to dynamically update the DNS entries without reloading the listeners.

Referencing related ecds enhancement for network filters:
https://github.com/envoyproxy/envoy/issues/14696

[2021-04-08 20:21] mattklein123 commented on #15887
I would love to have multiple UDP filters implemented, but someone needs to work on it. There is no high level reason it is not done, it's just that no one has cared to do it yet. I will repurpose this issue to track that.

[2021-04-08 21:12] lambdai commented on #15869
Or you can create another filter chain with empty `server_names` to expclity accept either no-SNI or `unknown-SNI`

[2021-04-08 22:16] shashankram commented on #15826
Hey @alyssawilk, is this expected?
Thanks!

[2021-04-08 23:12] #14736 closed

[2021-04-08 23:38] mattklein123 commented on #15839
I took another look at this and my concrete suggestion is:
1) Add a common field on the `Cluster` proto to account for the new functionality. I think its debatable where this is put but potentially on `UpstreamConnectionOptions`. Whoever actually works on the change can suggest the best place after looking through.
2) Ultimately hang this option off of `ClusterInfo`
3) Do something like `wrapTrans

[2021-04-08 23:42] mattklein123 commented on #15889
Yeah I would suggest we track this in https://github.com/envoyproxy/envoy/issues/15887 per @lambdai. Also, we need to tease apart whether you want this for TCP or UDP. If you want this for TCP I would say either do it with filter chain match or potentially via network RBAC.

If you want this for UDP I think it makes more sense to properly implement multiple filters. Then we can do whatever we want

[2021-04-09 02:51] jasondeutsch commented on #15893
@akhilgoel09 I'm getting 503s when a `Content-Length` header > 0 is added to any request.

[2021-04-09 07:46] liuqi-sun opened #15898 "Is the program release or debug"
The file command shows with debuginfo, but --version shows release
![envoy-info](https://user-images.githubusercontent.com/48784730/114146799-9ae10580-994a-11eb-897c-aafa59baf8e6.png)

[2021-04-09 08:17] NomadXD commented on #13877
@alyssawilk Hi ,I have few questions and clarifications about the way `decodeData` works when a web socket frame passes through a filter.

1 . So far what I've seen is for each web socket frame, `decodeData` gets called once and I can access all the frame data in one go. But I'm not sure what will happen when a very large payload comes, whether `decodeData()` gets called multiple times or not ?

2

[2021-04-09 08:32] PiotrSikora commented on #15860
No, simply update `docs/root/configuration/other_features/wasm_service.rst` and make sure that it generates properly (e.g. using `./ci/run_envoy_docker.sh './ci/do_ci.sh docs'`).

If you want more about contributing to Envoy in general, there is [CONTRIBUTING.md](https://github.com/envoyproxy/envoy/blob/main/CONTRIBUTING.md) file that you could read.

[2021-04-09 08:49] liuqi-sun commented on #15868
thank you

[2021-04-09 08:49] liuqi-sun commented on #15868
thank you

[2021-04-09 08:55] liuqi-sun commented on #15868
When you access an envoy using iptables to redirect ports, does an envoy have the ability to disable requests from an upstream service that does not exist on a port?For example, the upstream service listens on 80, which I can only access through 80, even though the port is redirected

[2021-04-09 08:55] liuqi-sun commented on #15868
When you access an envoy using iptables to redirect ports, does an envoy have the ability to disable requests from an upstream service that does not exist on a port?For example, the upstream service listens on 80, which I can only access through 80, even though the port is redirected

[2021-04-09 11:34] Alan-buaa commented on #4543
I upgrade the ambassador,  now it use 1.15.1,  still has this problem.

[2021-04-09 11:50] davidkornel commented on #15887
Alright, thanks. Yes, that would be very nice to have multiple UDP filters. I'd say I'll do it but unfortunately to this point, I only changed a small portion of the code to implement a smaller feature I need. And I definitely don't see where and how should these changes be done. So I see two options right now. We'll wait until someone - who's capable - get the job done, or if someone gives me hel

[2021-04-09 12:01] #15182 closed

[2021-04-09 12:01] #15260 closed

[2021-04-09 12:04] #15824 closed

[2021-04-09 13:02] snowp commented on #15898
That probably is an -opt build (at least -NDEBUG is set). It seems to be a custom build (based on `Modified`), so it's probably easier to find out by tracking down how this was built?

No reason why an optimized build can't contain debug info/symbols, it all just depends on how you build it.

[2021-04-09 13:03] snowp commented on #15883
I don't think this is intentional, we'd probably be up for changing to be consistent here.

[2021-04-09 13:09] snowp commented on #15873
Most of us aren't familiar with Istio enough to reproduce Istio deployments, so I would suggest looping the Istio folks in first to understand what Envoy configuration this is using as a first step. Once we have a way to reproduce this it will be a lot easier for us to take a look. Alternatively if you are able to set up an example Envoy config that doesn't use Istio that would be helpful.

At a h

[2021-04-09 13:11] snowp commented on #15893
I would suggest raising an issue with Istio about this, this is likely a configuration issue

[2021-04-09 14:26] phlax opened #15901 "Docs flake in post-submit jobs"
### description

docs fails from time to time with the following error:

[code]

which can be seen here https://dev.azure.com/cncf/envoy/_build/results?buildId=71621&view=logs&j=681c7800-c42c-5f1e-f2ee-699120aa5784&t=9a535103-4675-5a3d-3e9c-59a6e6997567&l=122

its problematic as it means that docs are not getting published when they should be

[2021-04-09 14:43] mtalbot opened #15902 "panic: not implemented from --mode validate"
*Title*: Admin API TAP sockets fail on validate

*Description*:
When validating a static config file using `--mode validate` with tap transport sockets wrapping any other transport socket (tried with both raw buffer and tls) then envoy crashes with a `panic: not implemented` from https://github.com/envoyproxy/envoy/blob/main/source/server/config_validation/admin.cc#L13

*Repro steps*:
run envoy in

[2021-04-09 15:26] snowp commented on #15902
Thanks for the report, this seems like a clear bug so marking help wanted.

[2021-04-09 15:44] cpakulski commented on #3006
I am working on the implementation. I believe that cluster part is taken care of by UPSTREAM_CLUSTER tag and route is taken care by ROUTE_NAME. I am going to add a formatter for VHOST.

[2021-04-09 16:16] davinci26 commented on #15902
For some reason I think my change here is the smoking gun, I will try to take a look today. Feel free to assign to me now as I do the triaging

[2021-04-09 16:26] mattklein123 commented on #15887
For experienced contributors I would say medium, for new contributors hard. I can try to find some time to write down some implementation notes but I'm not sure when I will be able to get to it.

[2021-04-09 17:05] akhilgoel09 commented on #15893
Thanks @jasondeutsch I will look into it

[2021-04-09 17:06] akhilgoel09 commented on #15893
@snowp I have posted on their git hub too, thanks :)

[2021-04-09 17:12] xtreme-jesse-malone opened #15904 "Extremely high memory usage with long streaming gRPC requests"
*Title*: Extremely high memory usage with long streaming gRPC requests

### Description:

The issue was first observed affecting a thanos deployment but I have reproduced with a simple gRPC sample application. My first attempts hit it with a large number of connections and memory usage skyrocketed until the envoy pod was killed.

![Screen Shot 2021-03-16 at 5 27 28 PM](https://user-images.githubus

[2021-04-09 17:36] fredwangwang opened #15905 "Ability to log outlier event to stderr"
*Title*: *Able to log outlier event to stderr*

*Description*:

We run envoy as sidecar and want to monitor outlier events. We already have the log shipper setup to read from docker container logs. Right now envoy supports configure the outlier event to a file sink, which needs to have additional log rotation and log shipping in place to read that information. It would be much more straightforward

[2021-04-09 17:42] snowp commented on #15905
Have you tried specifying the target of the file sink as `/dev/stderr`? This is typically supported for file outputs

[2021-04-09 18:12] wrowe commented on #14605
https://github.com/envoyproxy/envoy/pull/15699 has resolved this issue based on available binaries following 1.18.0 release.

[2021-04-09 18:12] #14605 closed

[2021-04-09 18:15] marcosrmendezthd commented on #14981
any update on this issue?

[2021-04-09 18:46] arungeorge101 commented on #8167
Is this feature being worked on and when will it be available?

[2021-04-09 19:45] lambdai opened #15907 "Can Envoy allow changing address in a listener config update?"
*Description*:
The current listener update reject the new config if the new address of the same listener name is different.
It's safe: new reuse the socket.

Can we relax a little bit to support 127.0.0.1 <-> 0.0.0.0 address update? With proper socket options
this behavior should be safe and avoid service interruption.

What's the drawback?

What can be done in control plane?

Also see the failure

[2021-04-09 19:48] fredwangwang commented on #15905
Thanks @snowp for your quick response! Just tried and it is indeed able to send log to stderr.

Closing

[2021-04-09 19:48] #15905 closed

[2021-04-09 19:52] snowp commented on #15907
I think this has come up before and iirc there is no fundamental reason why this can't be supported, @mattklein123 might recall the details

[2021-04-09 21:29] rgs1 commented on #15879
Ok I see the bug now, PR coming up in a bit. I'll add an integration test too, to prevent this from regressing.

[2021-04-09 21:29] rgs1 commented on #15879
@snowp you can assign to me, thanks!

[2021-04-09 22:34] mattklein123 commented on #15907
@lambdai sorry I can't really parse the issue text. Can you clarify your various points?

At this point I honestly don't remember why I/we originally blocked address changes. I think it's probably fine to allow address changes and just correctly handle the case where we make a new socket for the new listener and correctly drain the old listener (which I guess would happen anyway).

Is there any ca

[2021-04-09 22:41] mattklein123 commented on #15907
@lambdai if we end up deciding to change this, can you also fix https://github.com/envoyproxy/envoy/issues/15562 please? It's in the same code area.

[2021-04-09 23:41] lambdai commented on #15907
I am less ambitious: I wish we can start with allow update from wildcard ip to unicast ip.

I don't have the use case of changing from a unicast ip to another unicast ip.  Although literally the code path should be exactly
the same as "wildcard ip" to "unicast ip" update, IMO unicast ip to unicast ip update is more likely a config error.

My major concern is that the listener update is not yet rev

[2021-04-10 00:13] mattklein123 commented on #15907
FWIW, as part of fixing https://github.com/envoyproxy/envoy/pull/15818 I'm going to change it so that all sockets are allocated ahead of time on the main thread (even for SO_REUSEPORT). This will fix a bunch of the corner cases you are talking about and make the logic much simpler to understand. I don't know when I will get to finish that PR though.

In terms of only allowing wildcard IP to unicas

[2021-04-10 08:01] #15257 closed

[2021-04-10 08:01] #15287 closed

[2021-04-10 12:18] phlax commented on #15403
bump

[2021-04-10 14:13] saiskee commented on #1963
@mattklein123 Where can I find the coverage report?

[2021-04-10 15:13] phlax commented on #1963
@saiskee clicking that link work for me - not sure what the error you saw was but should work

[2021-04-10 15:21] nonefaken opened #15911 "RBAC filter config on JWT metadata (JwtAuthentication)"
Hello,

i have problem with configuration of RBAC filter for JWT metadata (JwtAuthentication).

I`m using envoyproxy/envoy-alpine:v1.17-latest

This works:
[code]

This does not work:
[code]

This does not work as well:
[code]

Attaching JWT token dynamicMetadata from Envoy proxy debug log:
[code]

Im sure it is simple, but im stuck due to lack of experience.

Thank you!

[2021-04-10 16:33] saiskee commented on #1963
@phlax
![image](https://user-images.githubusercontent.com/1731122/114277399-04b7e880-99f9-11eb-9be4-fe7a682b5599.png)

[2021-04-10 16:40] phlax commented on #1963
apologies - i see now - i clicked that you posted - the one that works

[2021-04-10 17:51] nonefaken commented on #15911
For anyone wondering it was realy easy fix:
[code]

[2021-04-10 17:51] #15911 closed

[2021-04-11 12:49] V3K3R opened #15915 "Global Rate limit not taking effect: Istio 1.9.x"
*Title*: *Global Rate limit not taking effect: Istio 1.9.x*

*Description*:
After applying a global rate limit on a host, the rate limits seem to be added to the host config, but not taking any effects.
[code]
Rate limit and Redis service Config:
[code]

*Config*:
These are the envoy filters definitions
[code]
I enabled debug mode on istio-ingressgateway, and I can't see anything helpful, except t

[2021-04-11 16:02] #15280 closed

[2021-04-11 21:55] nezdolik opened #15917 "[Documentation| Panic mode] Are numbers for normalised total health correct?"
Looks like calculations in documentation for panic mode contain some errors [here](https://github.com/envoyproxy/envoy/blob/20e4dd2c0e5bacf07cd2fa7f559ae4714da8f905/docs/root/intro/arch_overview/upstream/load_balancing/panic_threshold.rst):
![Screenshot 2021-04-11 at 23 51 50](https://user-images.githubusercontent.com/14430883/114322517-f82eaf80-9b20-11eb-8b1f-50614866da30.png)
Normalised total he

[2021-04-11 23:53] htuch commented on #15904
@antoniovicente @KBaichoo do you have any suggestions?

[2021-04-11 23:55] htuch commented on #15915
I think this issue should be filed in the Istio GitHub tracker, it requires a lot more understanding of full system context to diagnose.

[2021-04-11 23:55] #15915 closed

[2021-04-11 23:56] htuch commented on #15917
@snowp can you take a look?

[2021-04-12 00:03] #14710 closed

[2021-04-12 00:03] #15116 closed

[2021-04-12 01:40] roycyz opened #15919 "Is there a filter to analyse or modify the postgre sql"
Just like the title.

[2021-04-12 02:27] davinci26 commented on #15902
I got hang-up with some other things on Friday so I got around to the triaging today.

The regression is coming from https://github.com/envoyproxy/envoy/commit/e7a0f7c891bfcdb84c7b7d03bb5b48f1f148a47e

The root of the issue is that in order to generate the warning regarding using Admin tapping with `UDS` sockets we request the socket from the admin interface. This throws for the config_validation

[2021-04-12 03:29] rtttech opened #15920 "http to tcp filter"
I want to create a filter that can transcode a http request to a tcp request, How can I do that?

for example: http rest -> redis transcode

[2021-04-12 05:51] ankatare commented on #11027
closing this issue now as it is long open for docs improvement.

[2021-04-12 05:52] #11027 closed

[2021-04-12 08:12] cakoolen commented on #12511
Is there a chance to get this re-opened since I would like such an image to be released as well.

[2021-04-12 08:36] everflux commented on #12511
Arm64 is already present, see https://hub.docker.com/r/envoyproxy/envoy/tags/

[2021-04-12 15:05] alyssawilk commented on #13877
Yeah, there's no guarantee that a decodeData call will contain a single complete websocket frame.  It's possible to have multiple sent at once, and it's possible to have a large frame spanning several decodeData calls.  You'll basically want to handle streaming data, either by buffering until the full frame is present, or draining the buffer and stashing it internally.  You can test this by just c

[2021-04-12 15:19] cpakulski commented on #15919
There is postgres filter which creates a metadata based on SQL query: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/postgres_proxy_filter.html?#dynamic-metadata. It is however in experimental stage and works only for simple statements. We need a better SQL parser to address all the cases.

Modifying SQL is not possible.

[2021-04-12 15:23] htuch commented on #15919
This seems to answer the question, I think it's best to move informal questions like this to Slack.

[2021-04-12 15:23] #15919 closed

[2021-04-12 15:24] htuch commented on #15920
It's a bit unclear what is being asked here, can you clarify?

[2021-04-12 15:30] snowp commented on #15917
Seems right to be with an overprovisioning factor of 1.4, e.g. we treat 25% health as 25% * 1.4 = 35% health, or am I missing something here?

Perhaps the documentation should be clearer about what health(P_x) means? Might not be clear that it includes the overprovisioning factor

[2021-04-12 15:49] nezdolik commented on #15917
Agree, this would be helpful

[2021-04-12 15:56] nezdolik commented on #15917
Actually, I now see this formula (health(P_X)), which explains the calculations:
[code]

[2021-04-12 16:06] lizan commented on #15700
I found the reason... We use the last_github_commit.sh to determine the merge base, while the branch from dependabot is committed by GitHub, so it generates no diff and the script will fail. Will fix this soon.

[2021-04-12 16:37] NickEPalmer opened #15928 "Struggling to make gRPC-web and HTTPS work"
I've got a SPA web app that uses gRPC web and envoy to proxy back to a server that speaks gRPC.  This all works great, no problems.

I'm trying to make this secure using HTTPS/TLS and just keep running into issues and can't seem make it work.

Our setup is this:

Web Client SPA app (accessed from web node.js server also running on the lahinch server.  URL is https://lahinch.mycorp.com ).  Web app

[2021-04-12 16:38] htuch commented on #14973
@yanjunxiang-google can you update this issue with your findings? Thanks!

[2021-04-12 16:40] NomadXD commented on #13877
@alyssawilk I already implemented my filter assuming that it will get called for every web socket frame although i had this confusion. And as you mentioned in the previous comment, I couldn't find a proper websocket framer written in C++ and it's not feasible to implement a framer myself at the moment. Ideally I'm looking for something that I can do `framer::getframes(decodeDataBody)` or any libra

[2021-04-12 16:46] alyssawilk commented on #13877
yeah sorry, I've not actually had to frame websocket, I just pass the bytes back and forth to people who do :-P

[2021-04-12 16:48] NomadXD commented on #13877
Haha okay :-D . Thank you for all the info.

[2021-04-12 16:54] markdroth commented on #14973
I'm really not convinced that it's actually practical for control planes to always set defaults for all new fields.  That seems like a lot of work for control plane maintainers to have do -- they'd have to constantly stay at the leading edge of the xDS protos themselves, effectively rebuilding their control plane with the latest version of the xDS protos every time any xDS client releases a new ve

[2021-04-12 20:10] alyssawilk commented on #15826
I think that rule should match the URIs you list: https://github.com/envoyproxy/envoy/pull/15931
Do you perhaps have some other filter transforming your incoming requests?

[2021-04-12 21:42] murray-stripe commented on #14350
:wave: &nbsp; Wanted to get your feedback on an approach before diving into an implementation since I'm
sure you all have a much better idea of what works and what doesn't.

It seems like the `DrainManagerImpl` is the common class that ties the HCM
(`Http::ConnectionManager`) which needs to react to a signal and the bits that generate the signal
(`ListenerHandler`, `ListenerManagerImpl`, and `serv

[2021-04-12 22:18] leosunmo commented on #6110
This is something that would be very useful for my org! Is anyone still looking in to this? Anything I can do to help?

[2021-04-12 22:20] mattklein123 commented on #6110
I don't think anyone is working on this, but I would love to see it implemented!

[2021-04-12 23:22] lambdai commented on #5940
@pedro-tramontin (since you are assigned) and @arun-vasudev (since you are the author of the latest PR) Are you still working on this?
Any update?

[2021-04-12 23:26] htuch commented on #14973
I think this is overstating the problem. Control planes only need to set defaults for behaviors they actually are expecting to see from clients. If a new defaultable field is added and ignored, it's fine; it probably doesn't matter. E.g. let's say a max headers size limit is set and it varies across clients. That's fine until the control plane starts to make guarantees about the actual max headers

[2021-04-12 23:29] markdroth commented on #14973
The problem here is Hyrum's Law: Just because a control plane is not making a guarantee about something does not mean that clients are not actually using a given behavior.  Users are not likely to think about a given knob unless they have some reason to know that a knob is changing in a way that is going to break their existing usage.  And the only way that we are actually giving users to discover

[2021-04-13 00:07] antoniovicente commented on #14973
If you want something to behave in a certain way, you have to configure it as such.  We are have problems with bad defaults or defaults that are not safe from a security standpoint.

Deployments that rely on defaults need to accept that those defaults may change over time and those changes like any other change in proxy behavior has potential to break them.  Runtime features are similar, they may

[2021-04-13 00:58] rtttech commented on #15920
When envoy received a http request It relays the http request to upstream service, that's the normal case. However our upstream service can only handle tcp protocol(not http),   so we have to implement a filter that perform the transcoding.

[2021-04-13 01:51] htuch commented on #14973
@markdroth in the proposed model, let's say an Envoy-side change in a default happens, it will only affect Envoy clients. So, only Envoy clients subject to Hyrum's Law suffer. We generally handle this by using runtime and allowing folks to override defaults as needed when making these changes. Other clients, e.g. gRPC, see no change.

So, there are really multiple issues:
1. Is it fine to have dif

[2021-04-13 01:56] htuch commented on #15920
There are many examples of this, e.g. see https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/grpc_web/v3/grpc_web.proto. You will need to write an HTTP filter to do this.

[2021-04-13 02:53] zachmandeville opened #15934 "Inconsistent Search Results Behaviour"
*Title*:
*On the envoy docs, search results are inconsistent across similar search terms.*

*Description*:
I noticed when searching for [ip tagging](https://www.envoyproxy.io/docs/envoy/v1.17.0/api-v3/extensions/filters/http/ip_tagging/v3/ip_tagging.proto.html), that I could only find the page when i matched text in the qualified names referenced on the page.   Other pages I could find by matching

[2021-04-13 02:54] zachmandeville commented on #15934
cc: @phlax

[2021-04-13 03:09] mattklein123 commented on #14350
Yeah this sounds like a great plan to me. In the drain manager API let's make sure to return an RAII handle (see CallbackManager and callback_impl.h).

[2021-04-13 03:51] mengmichael1 commented on #14904
@mattklein123 @snowp With https://github.com/envoyproxy/envoy/pull/15266 merged, can we close this issue now?

[2021-04-13 05:45] aamirbutt opened #15938 "Cannot go through CORS security in a POST call with grpc transcoder"
*Cannot go through CORS security in a POST call with grpc transcoder*

*Description*:
Here is my config file:
[code]

I have a java-based server running and serving the requests on port 53000.
I can curl and get a proper response using this command:
[code]
However, when I try to access it from a web app using this simple code. I always get the CORS error.

Code:
[code]
Error:

```Access to fetch a

[2021-04-13 05:51] BatanGaming opened #15939 "How to properly use multiple certificates for downstream tls context"
Let's say I have 2 certificates - for `example.com` and for `*.example.com`.
In envoy config I have 2 virtual host - `mobile.example.com` and `example.com`.
So how to configure tls to use `example.com` certificate for `example.com` and `*.example.com` for `mobile.example.com`?
I tried to do this:
[code]
But it doesn't work

[2021-04-13 06:15] roycyz commented on #15919
I can get the messages in postgres_filter.cc. But  These data contain sql protocols. Also I can't change the buffer,Its encapsulated without interface.
From the web page,it's not support in my version.My version is 1.15 and thanks.

[2021-04-13 06:58] tsaarni opened #15940 "Access log command extension config parameter is not constructed correctly"
Access log command extensions have `typed_config`. The config message, which is given as parameter to the extension, is currently constructed as protobuf `Any` and not translated to the concrete type defined by the extension.

`std::bad_cast` will be thrown when extension tries to cast the config message to the concrete type.

Repro steps:

For example test case `SubstitutionFormatStringUtilsTest:

[2021-04-13 07:05] tsaarni commented on #15940
cc: @rgs1

I created PR for a proposed fix #15941

[2021-04-13 08:47] phlax commented on #15934
@zachmandeville thanks for reporting

ive noticed that the search is not very good on a number of occasions - tbh ive never been that impressed with sphinx's search

there are a few search settings set in the `conf.py` i guess its worth playing around with these to see if any help to improve results

i think there is also a search adapter that you can add to further customize, which may be useful

[2021-04-13 13:25] roelfdutoit opened #15947 "HttpConnPoolImplMixed could result in many unused upstream connections"
*Title*: `HttpConnPoolImplMixed` unused connections

*Description*:
Consider a scenario with the following conditions:
- `HttpConnPoolImplMixed` is required (possibly because some percentage of upstream servers are expected to still use http/1.1)
- downstream negotiates h2
- upstream is **likely** to negotiate h2
- downstream creates an initial burst of h2 streams

`HttpConnPoolImplMixed::instanti

[2021-04-13 13:34] roelfdutoit commented on #15947
References:  #3431 and #13922

[2021-04-13 13:48] caitong93 opened #15949 "tools: Support export dependencies"
*Title*: *Support export dependencies*

*Description*:

How about adding support to Envoy to export its dependencies? The generated tarball can be distributed and used as  [`distdir`](https://github.com/envoyproxy/envoy/blob/1bd965ecbcbb411a537ab86958168e26c11e6351/bazel/EXTERNAL_DEPS.md) directory to make the Envoy build faster and more stable. I have created a [draft PR](https://github.com/envoy

[2021-04-13 15:52] alyssawilk opened #15953 "alt-svc for Envoy"
We can do basic alt-svc for Envoy using the route response_headers_to_add but it'd be nice to be able to do alt-svc on a per listener basis rather than a route at a time, and to allow pooling across domains (alt-authority)

Given this is pretty core to using QUIC, I think it's worth putting directly in the HCM

[2021-04-13 15:52] alyssawilk commented on #15953
cc @danzh2010 @RyanTheOptimist @DavidSchinazi

[2021-04-13 15:54] mattklein123 commented on #15949
cc @lizan

[2021-04-13 15:54] VigneshSP94 commented on #15869
This worked, thanks for your humble help !

[2021-04-13 16:09] danzh2010 opened #15954 "Optimize UdpGsoBatchWriter performance"
UdpGsoBatchWriter::writePacket() copies source/destination addresses and linearizes buffer into string on each call. These are unnecessary and add a lot of overhead.

The overall implementation needs to be reviewed to eliminate such cases.

[2021-04-13 16:14] mattklein123 commented on #14904
Thank you!

[2021-04-13 16:14] #14904 closed

[2021-04-13 18:08] asraa opened #15955 "[deps] renovatebot for bazel deps"
*Title*: *renovatebot for bazel deps*

*Description*:
I recently came across this project https://github.com/renovatebot/renovate that states it has support for updating http_archives and other bazel deps. I'm curious if anyone has heard or tried it, and has any opinions on whether it might work.

I worry that
* It will not handle our `repository_locations.bzl` and our metadata format
* It will ha

[2021-04-13 18:26] snowp opened #15956 "hcm: improve onMatchCallback interface"
The current onMatchCallback function is fairly basic and has no return value, which means that it cannot be used to influence the filter manager. For example, if something goes wrong during the match callback there is no way to safely issue a local reply as the filter manager will pass the data to the next FM callback, which then triggers all kinds of asserts as a local reply has already been issu

[2021-04-13 18:30] phlax commented on #15955
looks good! i checked previously for dependabot <> bazel but it doesnt currently have support

afaict it creates PRs, so at very least, if we can make it work, its an independent warning system about dep updates (and possibly sec issues)

[2021-04-13 18:37] shashankram commented on #15826
The configuration I have is simple and as follows:
1. An inbound listener that accepts connections
2. A filter chain that allows all traffic
3. An HTTP filter on the filter chain that references an RDS configuration
4. An RBAC filter on the filter chain with `principal == permission == ANY`
5. A single virtual host and route in RDS that wildcards the hostname and matches on the regex `/status/200(

[2021-04-13 18:38] PiotrSikora commented on #14947
Not stale. @mathetake do you have some time to look at this?

[2021-04-13 19:12] SleepyBrett commented on #15768
I just came across a tweet pointing to this issue when wondering the same thing. I don't care what the units are as long as they are represented in the metric name. I've certainly seen large projects that use millis, micro, nanos .. however their metrics names communicate that.

I would suggest that the naming of `envoy_cluster_upstream_rq_time_*`
 and like metrics be `envoy_cluster_upstream_rq_se

[2021-04-13 19:22] lizan commented on #15949
Yeah this makes sense and thanks for working on it.

[2021-04-13 19:57] moderation commented on #15955
I came across this as well @asraa and pinged @htuch about it on Slack. I haven't gotten around to installing the self-hosted version. It looks like it might work - https://docs.renovatebot.com/modules/manager/bazel/

We currently have a _lot_ of out of date deps as reported by `https://github.com/envoyproxy/envoy/blob/main/tools/dependency/release_dates.py`. We'll need to see if it works and wheth

[2021-04-13 20:47] shashankram commented on #15826
I figured the trailing slash doesn't work with the httpbin app that I am using even without Envoy, so it does not seem to be an issue here.

The http server I am using for my testing is the httpbin app from `kennethreitz/httpbin` image on Dockerhub.

$ curl -I http://httpbin.org/status/200/
[code]

$ curl -I http://httpbin.org/status/200/
[code]

Sorry @alyssawilk for the trouble, I somehow never

[2021-04-13 20:47] #15826 closed

[2021-04-13 20:59] yusong-shen commented on #15045
Will https://github.com/envoyproxy/envoy/pull/15567 fix this issue?

I see that the PR has been merged, do we know which release can include the fix?

[2021-04-13 21:19] yanjunxiang-google commented on #14973
I did memory usage and CPU performance benchmarking for bool vs GWK-BoolValue, int32 vs GWK-Int32Value, and int64 vs GWK-Int64Value. Here is the summary ( with 1 million repeated elements for above type in each protobuf message):

Memory:
1.1 ) For memory in wire, GWK consumes 2 extra bytes for each boolean, and 3 extra bytes for each integer.
1.2 ) For memory in local:
GWK boolean : raw boolean

[2021-04-13 21:40] bianpengyuan opened #15960 "Zipkin trace span timestamp annotation is not properly replaced during serialization"
https://github.com/envoyproxy/envoy/pull/15492 adds timestamp annotations to span, but the replacement records is not properly set:

https://github.com/envoyproxy/envoy/blob/110aec2b2fb61c8c9d3e7295b08beb8d46cc01e3/source/extensions/tracers/zipkin/span_buffer.cc#L136

With the code above, it records replacement as key: `"cr":"1618349542333171"`   value: `"cr":1618349542333171`, but the serialized

[2021-04-13 21:46] derekargueta commented on #5357
Looking into this now.

I think one desirable characteristic of HTTP ExternalAuthorization is being able to send the data to a single endpoint, e.g. `POST /authenticate` similarly to how the gRPC implementation calls a single RPC. The current implementation expects the authentication endpoint to accept arbitrary methods/paths because it essentially duplicates the request but targeted to the define

[2021-04-14 00:38] mathetake commented on #14947
I could.. maybe next week or so.

[2021-04-14 00:39] tonya11en commented on #11816
You can assign this to me. It looks like it's mostly the AWS filters.

[2021-04-14 00:44] htuch commented on #15928
Is your upstream expecting TLS? Can you connect to it manually without Envoy?

[2021-04-14 00:49] htuch commented on #15939
See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl.html?highlight=tls%20certificates#certificate-selection.

You can only have one cert of RSA or ECDSA. You might want to use SAN covering both hosts in a cert.

[2021-04-14 00:50] htuch commented on #15947
@alyssawilk thoughts?

[2021-04-14 01:38] #15861 closed

[2021-04-14 01:38] dragonbone81 opened #15963 "How to use AWS Request signing filter (AwsRequestSigning)"
I'm trying to proxy AWS DynamoDB requests through envoy and I'm changing the data in the requests. Because of this I need to re-sign the requests (they've already been signed by the AWS SDK that made the original request). The request goes into a lua filter first.

I configured the filter like this:
[code]

I also need to strip the original `authorization` header as it seems the filter just append

[2021-04-14 02:02] jinglina opened #15964 "can envoy enable to auto add token to header after validate token to request?"
when I use *AuthorizationPolicy* to authenticate a jwt token,
step1, client to jwt server to generate token using private key and return token
step2, client requests with token and verify token using public key through  Api gateway
step3, after verfication, access to protected api to finish jwt check

I wonder If envoy can add token to header automatically in step2, in that case ,client won't take

[2021-04-14 04:35] soulxu commented on #15770
emm....I missed this comments, looks like I fixed it as a wrong way.

[2021-04-14 05:15] soulxu commented on #15907
a question for the preference of envoy between 'update a listener' and 'add a new listener and delete the old one'. Looks like add a new listener and delete the old one can avoid the trouble (by need the control-plane to ensure the new one works before delete the old one), or we have a preference of `update a listener`.

[2021-04-14 05:22] BatanGaming commented on #15939
Oh, thank you. That exactly what I need

[2021-04-14 05:22] #15939 closed

[2021-04-14 08:01] #6909 closed

[2021-04-14 08:01] #7215 closed

[2021-04-14 08:24] ahachete commented on #15270
Based on the comments above, I'd be more inclined to implement HBA inside of the existing Postgres filter. After all, metadata that could be used for Postgres current HBA is very simple (source IP address and CIDR matching), as other information is gathered from the Postgres filter itself (username, database, authentication mechanism). There may be some possibility to share some functions/code, ho

[2021-04-14 13:11] madhu-shankar opened #15968 "Envoy upstream connection failure due to 503 upstream_reset_before_response_started{local reset} LR"
*Title*: *Envoy is failing to connect to upstream cluster*

*Description*:

1. What is the underlying cause for the 503 response from Envoy, is it failing to handle the `connection:close` and has stale connections to upstream.

2. We tried fixing it by configuring retry on connection reset using the below config,
[code]
Even after configuring the 1-retry, there has been a reduction in the number o

[2021-04-14 15:05] sschepens opened #15971 "rbac: efective policy ID in standard engine"
RBAC currently adds `shadowEffectivePolicyID` field to Dynamic Metadata buy only when shadow engine is being used.

We have a use case where we would need to know which policy has been applied for traffic that has been allowed by the standard engine.

We could add a new `effectivePolicyID` field to Dynamic Metadata, does this seem OK? would it need to be turned on via proto settings?

[2021-04-14 15:19] martinezlucas98 commented on #15874
@lizan

Yes, that's exactly the idea: initial support without breaking C++17 compatibility while trying out C++20 features. This could also be useful/educational for people wanting to write new extensions in C++20.

Regarding Envoy-mobile, which directories (or sub-directories) would you consider mobile exclusive, to ensure we do not mess with them? Also, do you have any files/directories/sub-dire

[2021-04-14 15:34] mattklein123 commented on #15874
The only way we would accept this right now is to allow C++20 to be opt-in for new extensions and no existing code, and even then we would need to discuss whether we want that extension to be ever used on Envoy Mobile.

IMHO it's not worth this right now, but if someone wants to do the build plumbing for this we can start there.

Stepping back, can you describe what features you want to use and ho

[2021-04-14 15:45] phlax opened #15973 "literalincludes in docs can be broken by changes to yaml files"
### description

there are a few cases in the docs where `yaml` files are `literalincluded`

if they don't include all lines, or if some lines are emphasized this can break when the yaml files

this is kinda brittle - but theres not an easy way to prevent  - although we may be able to add some indexing of relevent files/lines and expected content which could potentially trigger a fail in ci when t

[2021-04-14 15:49] htuch commented on #15963
@tonya11en can you help with AWS filters? :)

[2021-04-14 15:51] htuch commented on #15964
Not sure I fully understand the question, but maybe @qiwzhang can help.

[2021-04-14 15:52] htuch commented on #15971
Seems reasonable, @yangminzhu?

[2021-04-14 15:53] alyssawilk commented on #15947
You can never be sure which way this is going to go, and you either take a CPU penalty by assuming H1 (and doing unnecessary handshakes) or a latency penalty and assuming H2 (and queueing streams for a connection which can't handle them in parallel). The current implementation defaults to the former, but there's no reason we can't allow the latter with a config knob.
I don't think establishing a c

[2021-04-14 15:57] lambdai commented on #15868
Sorry I cannot understand. Can you rephrase?
Meanwhile please check if bind_to_port works for you https://github.com/envoyproxy/envoy/blob/58606021040b5719db9b6ff3d18ceebdff50fcda/api/envoy/config/listener/v3/listener.proto#L276

[2021-04-14 16:03] roelfdutoit commented on #15947
Thank you for the response.  I do agree that HTTP/1.1 has this behavior, but my question is specific to the combination of conditions listed where upstream is **likely** to negotiate h2 (but not always).  If downstream is h2 then it is very cheap to send lots of requests, which would trigger lots of upstream TLS handshakes.  The amplification is due to the difference in cost of creating a new h2 s

[2021-04-14 16:12] esmet commented on #5357
Thinking more, would you agree the issue is that most people want the control and semantics of the gRPC authorization server, but may not (for whatever reason) be able to use gRPC?

If that's the case, I think it would be neat to do something like https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_reverse_bridge_filter#config-http-filters-grpc-http1-reverse-brid

[2021-04-14 16:19] alyssawilk commented on #15947
I agree that the ALPN pool would do extra work in this case, but again with years worth of proxies that terminate HTTP/1 and forward HTTP/1.1 back (which is still a common mode for folks who haven't updated its infrastructure) I really don't think it qualifies as an attack or a bug, just a config knob which would be good to have.  You can cause as many handshakes if you control the upstream by sim

[2021-04-14 16:56] alyssawilk commented on #15061
ok, we think we have this sorted - I'm going to close this off and flip the new pool on after the release. :-)

[2021-04-14 16:56] #15061 closed

[2021-04-14 17:24] roelfdutoit commented on #15947
Thanks again.  We would certainly appreciate the config knob (to assume h2 and limit upstream connections in the mixed pool) in our environment.

[2021-04-14 17:43] lambdai commented on #15907
@soulxu Is your high level goal that only updating address?

If the listener update involves changes other than address, the huge advantage of updating the listener is that your new tcp request never lost. Also, if you have multiple filter chains living in the listener.

Even if the goal is address only update, ideally if you are changing from wildcard address to nic address. the "update" path gua

[2021-04-14 19:23] flashyang opened #15977 "Should HC activation be delayed until needed secrets are available?"
*Description*:
Recently, we noticed that during the Envoy initialization, there is a race condition between when TLS is configured on a upstream cluster (like validation context) and when active healthcheck begins on that cluster, and it will take around 60s for the Envoy to initialize. In this case, we find that Envoy initiates the first healthcheck on the upstream cluster before the validation c

[2021-04-14 19:25] derekargueta commented on #5357
That's a great idea! My basic flow of what I went through was
1) hmm can I use gRPC? nope
2) ok let me implement the HTTP endpoint
3) oh wait it doesn't work that way

So I think consistency between the gRPC and HTTP implementations would be great. I'll need to read a bit of code to better figure out how the grpc-http1-reverse-bridge fits in code-wise, but another alternative implementation could

[2021-04-14 19:34] tonya11en commented on #15963
Sure thing, go ahead and assign to me and I'll look into this later today.

[2021-04-14 19:55] davinci26 opened #15978 "[Docs] Windows FAQ Section"
*Title*: *Windows FAQ Section*

*Description*:

As discussed in the community meeting we would need to make a FAQ regarding Envoy on Windows.  We should add a Windows Section under the FAQ, https://www.envoyproxy.io/docs/envoy/latest/faq/overview.

Some questions that should answered are:

* What is the minimum version of Windows supported?
* Does Envoy on Windows support FIPS?
* What is the perfo

[2021-04-14 19:56] davinci26 commented on #15978
@envoyproxy/windows-dev feel free to chime in.

[2021-04-14 20:00] davinci26 commented on #11975
Another angle to this problem that @yanavlasov brought up during the community call on 14th of April is that we need Windows Server Images to debug the build tools and the CI. This is  because docker works differently on Windows client and Windows Server.

The solution that we come up with should also address this problem

[2021-04-14 20:20] htuch commented on #15977
@rgs1 @mpuncel

[2021-04-14 21:53] dragonbone81 commented on #15963
Looks like this PR should solve my issue: https://github.com/envoyproxy/envoy/pull/15846#issuecomment-819839934

[2021-04-15 02:54] esmet commented on #5357
Right, something like encoding a CheckRequest as JSON and sending it via HTTP 1 is the right idea.

I think code reuse and moving towards a consistent user experience are my biggest goals. Do you also have a proposed filter config / API in mind?

[2021-04-15 08:07] tsaarni commented on #7583
While implementing proposal #15711 I have became bit suspicious if the approach is the best:

1. Is it optimal that we create specific extensions for trivial things like stripping `?querystring` or will that approach result in many extensions with very narrow use case but high overhead of being an extensions?
2. Non-optimal user experience when seemingly trivial thing requires relatively complicat

[2021-04-15 09:17] phlax opened #15981 "Verify examples is broken by cython pypi update"
### description

the cache example installs `pyyaml` on alpine (which does not have gcc or any build packages)

this has a dependency on cython which was updated yesterday (15/4/21) somehow breaking the wheels package and forcing a compile - which obv fails due to no build chain.

i have tried pinning cython to the older version - not sure why - but that doesnt seem to work - so for now i think we

[2021-04-15 09:32] kunalekawde opened #15982 "Build on windows failure"
*Title*: *build failure on windows*

*Description*:
I've followed the procedure as per https://github.com/envoyproxy/envoy/tree/main/bazel under windows section. Once the build was done and bazel test failed. Later on after cleanup (bazel clean --expunge) and I'm getting following error:

[code]

Other details:
Executing this in windows cmd prompt , had tried git bash but on build error there as w

[2021-04-15 11:11] phlax commented on #15981
this has been fixed upstream - once postsubmit is happy ill close...

[2021-04-15 11:24] phlax commented on #15901
im guessing that this is caused by ~simultaneous pushes to main and by the time it wants to publish the docs the website refs are changed

if this is correct perhaps we need to add some code to force a rebase when this error is hit

[2021-04-15 13:22] soulxu commented on #15770
Close my PR. The optional filter is preferred fixed. @markdroth let me know if you need any volunteers to help on #15025.

[2021-04-15 14:01] markdroth commented on #15770
As far as I know, no one is working on that issue, so you should feel free to send a PR for that.

We may want to just close this bug as a dup of #15025.

[2021-04-15 14:14] soulxu commented on #15907
yes

copy that, thanks for the explanation :)

[2021-04-15 14:42] phlax commented on #14995
@antoniovicente ive added a "fix" for this in #15983

not sure if this is the best fix - it just stops it from outputting the empty dict - im wondering if you had a better idea here

[2021-04-15 15:10] mattklein123 commented on #15901
Yes I think this is the case, but I'm not sure it's worth handling. It fixes itself typically shortly thereafter.

[2021-04-15 15:11] phlax commented on #15901
the problem is when it happens on a stable build - ie published - i think its the reason that some of the links on the envoy docs page dont work

[2021-04-15 15:13] mattklein123 commented on #15901
I'm very skeptical, around release time the branches are mostly locked, but I suppose it's possible.

[2021-04-15 15:16] phlax commented on #15901
well what is fact is that some of the published docs are broken - they dont exist - the link goes nowhere

[2021-04-15 15:21] alyssawilk opened #15985 "QUIC config not sufficiently validated"
If you do something like configure a QUIC transport socket, but don't hard-code the codec type to HTTP3, you hit  NOT_REACHED_GCOVR_EXCL_LINE when serving. Ditto upstream.  We should not just validate that you use a quic transport socket for H3, but that you don't use it for TCP.

cc @danzh2010

[2021-04-15 15:24] mattklein123 commented on #15901
Maybe it's this problem or maybe it's another problem. It's hard to say without more information.

[2021-04-15 15:24] phlax commented on #15901
yep - ill follow up - but lets try and actually publish the docs 8/

[2021-04-15 15:31] #14995 closed

[2021-04-15 15:34] arun-vasudev commented on #5940
I will address the review comments and upload a new patch by April 18. @lambdai. I had lost track of this!

[2021-04-15 15:36] alyssawilk opened #15988 "QUIC issues with concurrency > 1"
Example configs from https://github.com/envoyproxy/envoy/pull/15987 load, but downstream doesn't work with concurrency > 1

We should either fix the bug causing QUIC to fail with this set up, or reject the config if we know something isn't set up properly.

cc @danzh2010

[2021-04-15 16:18] v1b1 opened #15991 "Importing multiple Lua scripts through LDS/RDS API?"
*Title*: Possible to import multiple Lua scripts through LDS/RDS API without requiring them to be available on Envoy's filesystem?

*Description*:
I configured my LDS to send a Lua V3 HTTP filter to Envoy v1.17.1 in the following format:

[code]

But Envoy outputs the following:
[code]

How can I reference `source_codes` files from my `GLOBAL` Lua script?

[2021-04-15 16:53] davinci26 commented on #15982
Hey, thanks for the issue

How did the test fail?

Yeah your observation is correct. You might want to ensure that the link.exe that resolves on your PATH is from VC++ Build Tools and not /usr/bin/link.exe from MSYS2, which is determined by their relative ordering in your PATH. A dirtier hacky way is to rename gnu `link.exe` to `link_.exe`.

I know that some people have successfully built the proj

[2021-04-15 17:13] RameshByndoor commented on #15569
@gbrail Hi any idea why case RESPONSE_HEADERS: doesn't get called.? I have response_header_mode: "SEND" set in filter http.ext_proc

[2021-04-15 17:20] dragonbone81 commented on #15798
Hi, thanks for working on this :)
@PiotrSikora I'm curious about your comment. We have a use-case where we want to transform the body of the request, however since we are changing the body of the request we are required to change a field in the header (a crc32 hash of the body). Would there be any way to approach this besides buffering the body + headers?
Would you also discourage doing it this wa

[2021-04-15 18:24] htuch commented on #15991
@mattklein123 any thoughts as Lua owner?

[2021-04-15 18:32] kunalekawde commented on #15982
It was the same error of 'Failed to determine workspace status'

Executing from MSYS2 also gave error:
[code]
Not sure if this is also due to 'link'
[code]

[2021-04-15 18:41] davinci26 commented on #15982
The issue that you are seeing is because link.exe resolves to `link.exe` from gnu and not from MSVC.

**You might want to ensure that the link.exe that resolves on your PATH is from VC++ Build Tools and not /usr/bin/link.exe from MSYS2, which is determined by their relative ordering in your PATH. A dirtier hacky way is to rename gnu link.exe to link_.exe.**

[2021-04-15 19:03] mattklein123 commented on #15991
I honestly have no idea. Perhaps there is some load ordering issue here? cc @dio

[2021-04-15 20:01] aaronkaz commented on #14148
Having the same issue.  @sagital Are you sending a dummy host header from your request or in the envoy config somewhere?

[2021-04-15 20:08] zachmandeville commented on #15934
Thank you for these resources!  I'll do some experimenting as time permits.

[2021-04-15 20:15] sagital commented on #14148
@aaronkaz in my case I realized that the issue was caused because I used a custom port `localhost:10000` and that was used to calculate the signature. I added `strip_matching_host_port: true` to the `envoy.filters.network.http_connection_manager` filter configuration and the problem went away

[2021-04-15 20:43] aaronkaz commented on #14148
@sagital That makes sense, thanks!  Now I just need to upgrade my envoy sidecars from v2 to v3 to make use of that configuration!

[2021-04-15 20:56] phlax opened #16001 "Figure out a good strategy for managing python version/s"
### description

some parts of tooling/ci require python3.8 and more generally recent python 3.x versions have syntax incompatibility

for those reasons the envoy-build-image sets python3.8 as the default interpreter

some OS dont have support for this out of the box so we could do with a good strategy for handling this

a couple of ideas in this respect are:

- use a `python_runtime` bazel rule t

[2021-04-15 21:04] aaronkaz commented on #14148
For posterity, I knew I had a working example of this some time ago - apparently that was in `v1.13.1`.  At the time of writing, I'm using `v1.14.1` in production though latest version is `v1.18.0`.

[2021-04-15 21:36] alyssawilk opened #16002 "envoy.reloadable_features.always_apply_route_header_rules deprecation"
Your change #13204 (http: applying route header rules on local replies.) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16003 "envoy.reloadable_features.activate_timers_next_event_loop deprecation"
Your change #11823 (dispatcher: Run zero-delay timeout timers on the next iteration of the event loop) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16004 "envoy.reloadable_features.allow_500_after_100 deprecation"
Your change #12185 (http: allowing 100 then 500) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16005 "envoy.reloadable_features.allow_response_for_timeout deprecation"
Your change #12178 (gRPC-Web: Fix failing HTTP/2 requests on some browsers due to empty trailers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16006 "envoy.reloadable_features.check_ocsp_policy deprecation"
Your change #12685 (tls: add OCSP stapling support with configurable stapling policy) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @daniel-goldstein

[2021-04-15 21:36] alyssawilk opened #16007 "envoy.reloadable_features.hcm_stream_error_on_invalid_message deprecation"
Your change #12498 (http: send GOAWAY for H2 downstreams  for envoy.overload_actions.disable_http_keepalive) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16008 "envoy.reloadable_features.http_transport_failure_reason_in_body deprecation"
Your change #12321 (router: add transport failure reason to response body) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16009 "envoy.reloadable_features.http2_skip_encoding_empty_trailers deprecation"
Your change #12178 (gRPC-Web: Fix failing HTTP/2 requests on some browsers due to empty trailers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16010 "envoy.reloadable_features.overload_manager_disable_keepalive_drain_http2 deprecation"
Your change #12498 (http: send GOAWAY for H2 downstreams  for envoy.overload_actions.disable_http_keepalive) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16011 "envoy.reloadable_features.prefer_quic_kernel_bpf_packet_routing deprecation"
Your change #13086 (udp: support forwarding packets between workers) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16012 "envoy.reloadable_features.require_ocsp_response_for_must_staple_certs deprecation"
Your change #12685 (tls: add OCSP stapling support with configurable stapling policy) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @daniel-goldstein

[2021-04-15 21:36] alyssawilk opened #16013 "envoy.reloadable_features.tls_use_io_handle_bio deprecation"
Your change #12911 (tls: use custom instead of socket based bio) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16014 "envoy.reloadable_features.unify_grpc_handling deprecation"
Your change #13038 (http: unifying grpc local reply logic) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16015 "envoy.reloadable_features.enable_type_url_downgrade_and_upgrade deprecation"
Your change #12913 (Support mixed v2/v3 xDS request/responses ) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:36] alyssawilk opened #16016 "envoy.reloadable_features.new_tcp_connection_pool deprecation"
Your change #13012 (tcp: switching to the new pool) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-04-15 21:42] alyssawilk opened #16018 "deprecated http_match_on_all_headers and http_set_copy_replace_all_headers"
"envoy.reloadable_features.http_match_on_all_headers",
    "envoy.reloadable_features.http_set_copy_replace_all_headers",

The script didn't work for these two since they merged with issue #195 which doesn't make any sense.

assigning to myself to dig up their origin

[2021-04-15 21:50] antoniovicente commented on #16003
Will try to get to this soon.  Thanks for the reminder.

[2021-04-15 21:52] mattklein123 commented on #16018
@alyssawilk I think it refers to setec issue 195 :(

[2021-04-15 21:54] alyssawilk commented on #16018
haha, I'd checked setec _PR_ 195, and it wasn't that.

[2021-04-15 23:05] NickEPalmer commented on #15928
By default the upstream is is not expecting TLS, but it can be configured for that which I have done.  And yes I can connect without Envoy.  I have a simple test program but it didn't support using TLS/certs so I had to update the test program for that.  After some configuration issues, I was able to run the test program using TLS/certs which makes a gRPC connection using port 50251 to the upstrea

[2021-04-15 23:29] codefromthecrypt opened #16021 "Crash on macOS with invalid DNS name"
*Title*:
Crash on macOS with invalid DNS name

*Description*:
I worked on a change that involved updating Envoy to latest 1.17.1. On my host machine, I found a crash noted below which was using test data and a bad hostname.

[code]

*Repro steps*:
I used a bad hostname for endpoint socket address on this platform:

[code]

*Config*:
![image](https://user-images.githubusercontent.com/64215/11495024

[2021-04-16 00:03] #15343 closed

[2021-04-16 00:47] gbrail commented on #15798
I have a PR in flight that lets ext_proc process headers along with buffered bodies by using the existing callback structure, so I'm going to close this issue.

Here's the PR:

https://github.com/envoyproxy/envoy/pull/15935

it seems to be working OK so I suspect that it'll be ready in the next few days.

[2021-04-16 00:47] #15798 closed

[2021-04-16 00:50] gbrail commented on #15569
The PR is in progress:

https://github.com/envoyproxy/envoy/pull/15935

As for why response headers aren't being sent -- they should be sent unless the processor closed the stream on the other end, or unless the gRPC timed out. In the event of a timeout an error should be returned to the client unless  "failure_mode_allow" is set. Turning on "filter" tracing or debugging, for instance with the com

[2021-04-16 00:51] gbrail commented on #15793
The PR for this is in progress: https://github.com/envoyproxy/envoy/pull/15935

[2021-04-16 01:13] jinglina commented on #15964
Let's put it in that way:  After verifing authorization in **Request authentication** , envoy knows the jwksUri or jwks; To verify author
policy ,like **AuthorizationPolicy** which need token , can token to added to header automatically by envoy throgh some rule?

[2021-04-16 01:13] chaoqin-li1123 commented on #16015
Sure, will clean it up!

[2021-04-16 01:13] jinglina commented on #15964
Or any further efforts to it ?

[2021-04-16 01:41] htuch commented on #15928
You have the same certs/keys for your downstream and upstream. Is this intended? The downstream key/certs are what will be used by the Envoy when acting as a server for clients attaching. The upstream key/certs are used for the client TLS portion of mTLS when speaking to the backend/upstream.

[2021-04-16 01:47] htuch commented on #16021
@junr03 this is using the Apple DNS resolver.

[2021-04-16 01:59] yanavlasov commented on #15968
Is it possible that upstream server sends "connection: close" on connections that Envoy used to start a request?

[2021-04-16 02:03] malza321 opened #16026 "I want to use my dns server in /etc/resolv.conf when I use forward proxy on envoy."
Hi all,

I need to configure a transparent forward proxy, which does no operation on the coming request just route it on the basis of domain, I don't want envoy to make any changes(L3/L4 to L7) to the input request. I've already used envoy for reverse prxoy with loadblancing but I also want to use envoy with outbound forward proxy.

With solution [#10756] we cannot specify a dns_resolver for the c

[2021-04-16 02:08] Shikugawa opened #16027 "Who is the 2021/Q2 stable maintainer?"
It seems that we don't have any person who will be involved in stable maintaining. Could we consider it?

[2021-04-16 02:18] yanavlasov commented on #15904
If the client opens a lot of independent connections backpressure will not help. You will need to configure overload manager to stop accepting new connections when Envoy consumes all the memory allocated to it. See this doc for more information: https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge

[2021-04-16 02:20] mattklein123 commented on #16027
Are you volunteering? :)

[2021-04-16 02:25] Shikugawa commented on #16027
@mattklein123 Of course I can do that. But @lizan said that we should elect non-Tetrate stable maintainer previously. If he agrees to it, I can continue to work with them.

[2021-04-16 02:30] mattklein123 commented on #16027
Realistically I think it will need to be someone from the Istio community so I will let you all sort it out and discuss. cc @lizan @htuch

[2021-04-16 02:30] lizan commented on #16027
Yeah we should diverse who is maintaining stable releases. This links to the Istio Networking WG discussion this morning. cc @dmitri-d any interest from Red Hat side? cc @duderino.

[2021-04-16 02:42] dmitri-d commented on #16027
@lizan: sure thing.

[2021-04-16 03:23] antoniovicente commented on #15904
Some questions about the scenario described above:
- Number of active requests/streams per HTTP2/gRPC connection
- Expected request and response sizes.
- What upstream are you using? What is the network RTT between the proxy and the upstream?  RTT between proxy and downstream?
- Do you have heap profiles for the larger scale experiment?

Basically, I'ld like to understand if the issue is related t

[2021-04-16 04:42] madhu-shankar commented on #15968
the upstream sends connection:close in the response after serving fixed number of requests on each connection. If your question was if upstream sends connection: close on a new request without giving normal response, then no.

[2021-04-16 08:06] PiotrSikora commented on #15798
@dragonbone81 for something like checksum, the better approach woud be to send it in HTTP trailers, after the body, assuming that the client supports them.

[2021-04-16 08:57] Xunzhuo opened #16032 "Install Envoy with getenvoy went wrong"
*Title*: Install Envoy with getenvoy went wrong

*Description*:
Install Envoy with getenvoy went wrong

![image](https://user-images.githubusercontent.com/48784001/114999857-ce84d800-9ed4-11eb-988b-34c18fc2fc32.png)

*Repro steps*:

follow instructions at getenvoy site

[2021-04-16 09:04] phlax commented on #16032
@Xunzhuo my guess is that this is related to release yesterday

cc @lizan

[2021-04-16 09:16] bladedancer commented on #15793
@gbrail  - I'm reading it right (and I may not be) the logic is send headers and then you either buffer or you watermark waiting for the reply.

If my body is larger than the buffer and I need the entire body before the header response then this will fail, right? Presumably this is expected as it only supports buffered mode at the moment.

When it's streaming I assume this limitation will be remov

[2021-04-16 09:51] kunalekawde commented on #15982
Thanks @davinci26 , I shall try with this change.

[2021-04-16 09:51] #15982 closed

[2021-04-16 10:24] dozer47528 commented on #15968
Same problem.
I have an unreachable ip in a cluster, and Envoy 1.15 won't retry.
The accesslog is `503 upstream_reset_before_response_started{local reset} LR`

[2021-04-16 11:23] phlax opened #16034 "Remove docs/containers for insecure releases"
### description

checking the docs page, i think some of the docs relate to builds/releases for which there are known sec issues:

https://www.envoyproxy.io/docs

(also, some of the links are dead)

afaict there are also still dockerhub images with a similar issue:

https://hub.docker.com/r/envoyproxy/envoy/tags?page=1&ordering=last_updated&name=1.17

if you read the docs and look at the published

[2021-04-16 11:24] phlax commented on #16034
cc @mattklein123

[2021-04-16 11:45] joshpollara commented on #12883
Are there implementation plans for this issue? Looks like #14221 is closed.

[2021-04-16 12:29] boeboe commented on #15146
@lambdai

Will the fix mean that users have to configure exact_balance on the first catch_all listener 0.0.0.0:15001, or do users have to configure it on the next listener 0.0.0.0:9080 (in case the upstream service/cluster is at 9080)?

Related to https://github.com/istio/istio/issues/18152, where @hobbytp tried to apply the exact_balance on the second listener.

[2021-04-16 13:23] phlax commented on #15981
post-submit is now happy again

[2021-04-16 13:23] #15981 closed

[2021-04-16 13:23] JonathanO opened #16035 "Endpoint updates during initialisation can stall initialisation"
### Description
If an endpoint is removed from a cluster with active health checking enabled, during initialisation then initialisation can block for at least no_traffic_interval (or forever if it was the only endpoint in the cluster.)

### Repro steps
- Configure envoy with an actively health-checked EDS cluster with >0 endpoints.
- During cluster initialisation at startup, send an EDS update rem

[2021-04-16 13:31] phlax opened #16036 "Automate update of envoy-build-tools/images hashes in Envoy repo"
### description

one of the issues/resolutions that was discussed during release wrangling yesterday was automating the update of Envoy's use of the tools and images from https://github.com/envoyproxy/envoy-build-tools

there are a number of places that the build images need to be updated

there is also a bazel dep that turns out to be quite important but had not been getting updated during the de

[2021-04-16 13:43] phlax commented on #15453
@yashwant121 the framework for testing has been added as well as some generic base classe - probs to add missing tests we also want to update the tools

if you are still interested in helping with this im happy to provide some pointers

probs easiest thing is to jump on the envoy-dev slack channel and we can discuss further

[2021-04-16 13:50] esmet commented on #12883
@joshpollara it's on the back-burner right now, unfortunately, until I get cycles to come back to it. #14221 went stale since we were exploring alternative implementations like #14926

[2021-04-16 14:40] kmx2 commented on #14272
typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:

try:
    typed_extension_protocol_options:
      envoy.extensions.upstreams.http:

[2021-04-16 15:00] ygolovlev commented on #8440
hello, is there any progress in this issue?
just recently started using envoy for redis and in version 1.17.1 the same problem.
in config:
clusters
...
typed_extension_protocol_options:
        envoy.filters.network.redis_proxy:
          "@type": type.googleapis.com/envoy.extensions.filters.network.redis_proxy.v3.RedisProtocolOptions
          auth_password: { inline_string: 'mysuperpassword' }

[2021-04-16 15:44] mattklein123 commented on #16034
I don't think we can remove old images, because for better or worse people may be pinned to them.

I think removing old releases is very reasonable. Do you want to do a PR over on the docs site? https://github.com/envoyproxy/envoyproxy.github.io/blob/c470b304486a3ca1edbc50527c1f5ea32e2db290/_config.yml#L25

[2021-04-16 15:47] phlax commented on #16034
sort of yes - the repo is huge - need to find some disk space to do it

after playing with netlify over on envoy-playground - i like it a lot - but i guess that is a separate issue

[2021-04-16 15:53] phlax commented on #16034
also just thinking we may need to change envoy ci too to prevent changes being overwritten (ill check further)

[2021-04-16 16:02] #15206 closed

[2021-04-16 16:17] dragonbone81 commented on #15798
@PiotrSikora Trailers would be a good solution I think, but I don't think any of the envoy filters like lua, wasm or ext_proc support them right now.
However do you think it would be a huge gain by using them? We'd still need to completely buffer the body in the proxy in order to read and modify it.
So is getHeaders->sendHeaders->getBody/modifyBody/sendBody->sendTrailers faster than
getHeaders->ge

[2021-04-16 17:45] lexh opened #16039 "Support destination port range in config.rbac.Permission"
I am using [config.rbac.Permission](https://github.com/envoyproxy/envoy/blob/5a8bfa20dc3c85ecb61826d122696ecaa75dffa0/api/envoy/config/rbac/v3/rbac.proto#L145) to configure RBAC for a dynamic forward proxy.

My proxy configuration needs to support allowing large port ranges.

Today, I can achieved this by combining thousands of [Permission.destination_port](https://github.com/envoyproxy/envoy/blob

[2021-04-16 17:48] akonradi commented on #16007
@alyssawilk I think your script is buggy. #12498 added the runtime override `envoy.reloadable_features.overload_manager_disable_keepalive_drain_http2`, not `envoy.reloadable_features.hcm_stream_error_on_invalid_message deprecation`

[2021-04-16 17:49] akonradi commented on #16007
Oh I see. Part of that PR moved `hcm_stream_error_on_invalid_message` since it was out of order alphabetically

[2021-04-16 18:42] jamesmulcahy commented on #15960
Good catch, @bianpengyuan -- apologies for the trouble!

[2021-04-16 18:55] joshpollara commented on #12883
@esmet ok. thanks for the update!

[2021-04-16 19:57] NickEPalmer commented on #15928
I actually got things working :) More on that later.

I'm not sure if having the same cert is intended or not, as finding examples to follow was a bit tricky and I've been trying lots of different combinations to see what works.  Is it required to have different certs for the upstream and downstream servers/clients?

For TLS to work, it seems that it is required that the the entire chain uses SSL/

[2021-04-16 20:18] jcrugzz commented on #8167
@rgs1 Would definitely be interesting in chatting sometime if you wanted.

[2021-04-16 20:21] rgs1 commented on #8167
Sure ping me on Slack and we can coordinate, I actually gave some extra thought this week on what it'd take to open source what's described in the above blog post... But couldn't allocate the cycles yet.

[2021-04-16 21:17] luistilingue opened #16042 "Make/force envoy Host header be the same as destination address (downstream) in HTTP request"
**Description**:
I have a [Spring Cloud Gateway](https://spring.io/projects/spring-cloud-gateway) acting as an API Gateway (also making a proxy) running on a k8s cluster (GKE) and I have to enable Istio (creating a serviceMesh) in all cluster deployments. But when I enable istio-proxy (envoy) in that Spring Gateway pods, my downstream connections to k8s services from other applications don't work

[2021-04-16 21:51] moderation commented on #15953
With Firefox turning on h3 in beta and nightly - https://hacks.mozilla.org/2021/04/quic-and-http-3-support-now-in-firefox-nightly-and-beta/ - I was wondering what version does Envoy support? From my testing with clients like neqo and proxygen that can specify h3 draft version's it appears that only `h3-29` works with Envoy. And https://quiche.googlesource.com/quiche/+/88c8d5903d851744410ea9840201b

[2021-04-16 23:01] RyanTheOptimist commented on #15953
Makes sense. I suspect Envoy also supports the various Google QUIC versions. (there's also a flag which can be set to enable the final RFC version "h3", but that should not be enabled "in production" until the RFC is final) @danzh2010 probably knows for sure. I'd be happy to update the documentation if someone can point me in the right direction?

[2021-04-16 23:11] davinci26 commented on #16004
@alyssawilk are you working on this or can I take it? One legacy test with this feature is flaking on Windows

[2021-04-16 23:17] gbrail commented on #15793
If you need to modify the headers only after examining the body, then the only way for that to work is for Envoy to buffer the entire body. That's because if you're going to modify the headers, then Envoy can't send any headers until you are done deciding what to modify, and it can't send any bytes of the body until it's sent all the headers. So implementing any kind of streaming processing in ext

[2021-04-16 23:54] DavidSchinazi commented on #15953
To clarify, Firefox does not yet support `h3`, they're waiting for the spec to be done like everyone else. Firefox supports `h3-27`, `h3-28`, `h3-29`, `h3-30`, `h3-31` and  `h3-32`. Chrome supports `h3-29`, and Safari does not yet support HTTP/3. Envoy supports `h3-29` today, and has disabled-by-policy support for `h3`. We'll enable `h3` when the spec is done. From discussions at IETF, everyone ha

[2021-04-17 08:01] #15354 closed

[2021-04-17 08:01] #15364 closed

[2021-04-17 08:01] #15378 closed

[2021-04-17 20:01] #15439 closed

[2021-04-17 21:12] PiotrSikora commented on #15487
Not stale.

[2021-04-18 00:06] dippynark opened #16048 "Support using downstream TCP destination port for SNI dynamic forward proxy upstream connection"
*Title*: Support using downstream TCP destination port for SNI dynamic forward proxy upstream connection

*Description*:
Currently the [SNI dynamic forward proxy](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/sni_dynamic_forward_proxy_filter) allows setting a `port_value` to be used for the upstream TCP connection if the [SNI host does not have a port embedded

[2021-04-18 08:44] PiotrSikora commented on #15798
Proxy-Wasm supports trailers, but you're right, it looks that `ext_proc` doesn't support them yet.

That really depends on what kind of transformations are you doing. A lot of things can be done in a streaming fashing (e.g. (de)compression, chunk-by-chunk transcoding, HTML rewriting, etc.), in which case you don't need to buffer the complete body, and you could calculate the checksum in a streamin

[2021-04-18 09:00] codefromthecrypt opened #16050 "log resolved admin port"
*Title*:
log resolved admin port

*Description*:
Right now, the admin port can be set to zero, avoiding port conflicts. It prints to console like so:
[code]

It would be nice if this logged the actual listen port as that can be easier for "expect" like tools who parse console out vs determining the admin port file and parsing that.

[2021-04-18 12:01] #15440 closed

[2021-04-18 12:38] rtttech commented on #15920
thank you very much, but After check the grpc_web source code I am still now clear that how the http filter send a tcp request to upstream. I dont found any code that does the job.

[2021-04-18 17:40] htuch commented on #16042
There's a variety of ways to configure host rewriting, including that which preserves the original host, see https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-auto-host-rewrite.

I'm going to close this out, as this is an Istio issue, please open at https://github.com/istio/istio instead.

[2021-04-18 17:40] #16042 closed

[2021-04-18 17:42] htuch commented on #16048
@lizan WDYT?

[2021-04-18 17:45] htuch commented on #16050
This makes sense, I'll leave this as an open issue, but you might also find https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-admin-address-path useful.

[2021-04-18 17:46] htuch commented on #16027
Sounds like @dmitri-d is it :)

[2021-04-18 17:46] #16027 closed

[2021-04-18 17:48] htuch commented on #16026
@malza321 not sure I fully understand the question; it sounds like you are familiar with Envoy dynamic forward proxy capability. It seems the main issue is around where the DNS resolver is specified; in the title you say you want to use the DNS server in /etc/resolve.conf, but in the text above you say you can't place it in /etc/resolv.conf, can you clarify?

[2021-04-18 18:04] htuch commented on #15928
Certs don't need to be the same for downstream/upstream; each hop uses [m]TLS differently potentially. You need to decide based on PKI in your environment how to make this work. The best way to think about this is hop-by-hop; what are the client/server certificates that should be in play on each hop in your network path.

[2021-04-18 18:09] htuch commented on #15920
You're right, if you are transcoding to something that isn't fundamentally L7, then this looks different. I don't think there is a lot of precedents, but you would need to replace the router filter and make your HTTP filter a terminal filter, that interacts directly with the TCP connection pool in upstream.

[2021-04-18 23:08] malza321 commented on #16026
Simply I want to use my own dns server, not the 8.8.8.8

my dns server adress in resolv.conf, but It's not a matter. I just want to put my dns server address on envoy.yaml and use it.

I've tried everyting but can't find out. plz help...

[2021-04-19 01:58] zyfjeff opened #16053 "Add hosts_modify parameter to PrioritySet Callback"
*Title*: Add hosts_modify parameter to PrioritySet Callback

*Description*:

[code]

Now MemberUpdateCb and PriorityUpdateCb have no hosts_modify parameter, so it is impossible to know which meta information of host has changed, so subset cannot be updated efficiently.

[2021-04-19 02:21] wzshiming commented on #15488
PING @snowp

[2021-04-19 02:29] PiotrSikora opened #16054 "Maintainers for Stable Releases."
Lifted from https://github.com/envoyproxy/envoy/pull/15942#issuecomment-822124188, so there is a chance that people will read it:

@mattklein123 @htuch @duderino @lizan we don't have any maintainers for [Stable Releases](https://github.com/envoyproxy/envoy/blob/main/RELEASES.md). Could you find any volunteers?

[2021-04-19 02:30] PiotrSikora commented on #16054
Dupe of #16027.

[2021-04-19 02:30] #16054 closed

[2021-04-19 04:25] rtttech opened #16056 "how can I use http connect proxy in istio?"
How can I achieve the following result in istio?

Features implemented in this pull: https://github.com/envoyproxy/envoy/pull/14552

configure example:
envoy/configs/terminate_http2_post.yaml

[2021-04-19 05:26] wbpcode commented on #15163
#15863

[2021-04-19 05:26] #15163 closed

[2021-04-19 06:46] mathetake commented on #14947
yeah, we haven't handle the failure info in Envoy but only handles it in cpp-host (except the startup time failure), so that's the reason why we don't send 503 even in the fail-close case. will work on a fix.

[2021-04-19 07:45] rtttech commented on #15920
Thank you. I found this can satisfy my need, how can I use it in istio(if envoy already has the feature)

https://github.com/envoyproxy/envoy/pull/14552

configure example:
envoy/configs/terminate_http2_post.yaml

[2021-04-19 11:34] VigneshSP94 opened #16062 "Stats tag regex not capturing substring ending in non-dot character"
*Description*:
We are trying to utilize the `stats_config` feature to extract/expose some metrics.

Metric page outputs -
[code]

We are trying to match the `appname` which is between `cluster.` and the first `_`. And the regex we tried is `^cluster\\.((.*?)_)`, this gives no output.

We get everything between two `.`'s when we use `^cluster\\.((.*?)\\.)`, but we need to match the substring.

Conf

[2021-04-19 13:23] esnible commented on #12883
I tried to do this with Wasm and succeeded.  (I failed the first time, then finally got things exactly right).

See https://github.com/esnible/wasm-examples/tree/main/httpcall for an example of using EnvoyFilter to customize a response.

[2021-04-19 14:01] luistilingue commented on #16042
@htuch I don't wanna preserve the original host. I just wanna force using the same address of downstream host (the same of called by the envoy).

[2021-04-19 14:14] stevenzzzz opened #16063 "[delta-xds] do not populate resource_names_subscribe with existing resources on reconnection for "wildcard" XDSes"
*Title*: Since LDS/CDS/SRDS are wildcard XDSes, we should not populate the resource_names_subscribe with existing resources.

*Description*:
 On reconnection, DeltaXDS packs the already subscribed resources into resource_names_subscribe, which is used to mean "new subscription interests", this is confusing on the management server side since for "wildcard XDSes"( CDS/LDS/SRDS) it expects an empty

[2021-04-19 14:15] stevenzzzz commented on #16063
@yanavlasov @htuch @AndresGuedez

[2021-04-19 14:17] #13868 closed

[2021-04-19 15:24] Xunzhuo commented on #15165
@phlax OK, Thanks a lot~

[2021-04-19 16:13] BatanGaming opened #16064 "Multiple virtual hosts issue"
(Sorry, cannot come up with issue's title)

Let's say we have 4 virtual hosts for domain `example.com`:

- `stand1.*`
- `stand1.ws.*`
- `ws.*`
- `*`

When I go to page `stand1.example.com` frontend makes http request to `stand1.example.com/api/service1` and connects to `stand1.ws.example.com` by websocket.
In `stand1.example.com/api/service1` Service1  makes request to `stand1.example.com/api/serv

[2021-04-19 16:27] QIvan opened #16065 "Bazel build error “Invalid or incomplete multibyte or wide character”"
*Title*: Bazel build error “Invalid or incomplete multibyte or wide character”

*Description*:
 I followed [your instruction](https://github.com/envoyproxy/envoy/blob/main/bazel/README.md#quick-start-bazel-build-for-developers) to set up my build environment. I use **Linux Ubuntu 20.04**

I installed Bazelisk as bazel and downloaded [clang+llvm-11.1.0-x86_64-linux-gnu-ubuntu-16.04](https://github.

[2021-04-19 17:05] dragonbone81 commented on #15798
Awesome thank you for the help and insights!

[2021-04-19 17:08] snowp commented on #16053
What do you suggest for this parameter? It might be tricky to track the exact modification, but we could probably pass some information to avoid updates in some cases?

[2021-04-19 17:38] bladedancer commented on #15793
For my scenario I'm offloading the entire request to the external processor - it'll buffer (if needed) and then stream the modified body back in the processor response. And then on to the next filter in the stack.

I am definitely not familiar enough with the Envoy internals to figure out how this works internally.

[2021-04-19 18:19] QIvan commented on #16065
funny enough, I got exactly the same error if I run a docker build:

`./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'`
[code]

please note `�foo.go (Invalid or incomplete multibyte or wide character)`

[2021-04-19 18:23] htuch commented on #16026
Are you saying that, following #10756, the issue is that dynamic forward just doesn't support `dns_resolver` specification?

[2021-04-19 20:59] #15565 closed

[2021-04-19 21:22] stevenzzzz commented on #16063
@antoniovicente @ahedberg

[2021-04-19 21:22] htuch commented on #16063
The one thing to be wary of is whether anyone might be relying on this behavior today. Is Delta xDS at the point that we can't break backwards compat?

[2021-04-19 21:24] stevenzzzz commented on #16063
I dont believe so.
I don't see the point of having the "already subscribed" resources in both lists, it should just work the same if we just use initial_resource_versions to include "resources that has versions", which tells management server the same info: please send updates of these resources to me.

[2021-04-19 21:25] adisuissa commented on #16063
Should this be wrapped with a runtime configurable flag?

[2021-04-19 21:25] htuch commented on #15920
I think you'll need to take this to the Istio issue tracker, see https://github.com/istio/istio. Since you say this answers the original question, I'm going to close this out. Thanks.

[2021-04-19 21:25] #15920 closed

[2021-04-19 21:43] antoniovicente commented on #16063
Is the current implementation adding a subscription for both wildcard and specific resources on reconnect?  Or only for specific resources?

It seems to me that if the intent is to subscribe for wildcard, envoy should send wildcard subscribe requests.  I don't know how backwards compatibility factors into this.

[2021-04-19 22:09] boringuy opened #16071 "Do not add chunked Transfer-Encoding header to 304 response when upstream doesn't provide Content-Length"
*Title*: *Do not add chunked Transfer-Encoding header to 304 response when upstream doesn't provide Content-Length*

*Description*:
This is not exactly a bug according to the spec:

   304 (Not Modified) response (Section 4.1 of [RFC7232]) to a GET
   request, neither of which includes a message body, to indicate that
   the origin server would have applied a transfer coding to the message
   body

[2021-04-19 22:39] suniltheta commented on #12432
Hi, I would like to take a stab at this issue. Can someone assign it to me? Thanks.

[2021-04-19 22:46] asraa commented on #16071
I think that makes sense to me. An option would definitely be good, with default preserving behavior for now.
I would tag Alyssa, but she is out -- @antoniovicente @yanavlasov other opinions?

[2021-04-19 22:51] asraa commented on #16065
Maybe try clearing the entire cache?
bazel clean --expunge, or
rm -rf the whole cache /home/ivan/.cache/bazel/_bazel_ivan

[2021-04-19 23:03] malza321 commented on #16026
is that true?
I just want like #10990

We can't use other dns server. should use our own dns server.

[2021-04-19 23:05] malza321 commented on #16026
is that true?
I just want like #10990

We can't use other dns server like a 8.8.8.8. We should use our own dns server and that is not in local server.

[2021-04-19 23:28] dmitri-d commented on #16027
Is there any process that I need to follow?

[2021-04-19 23:34] antoniovicente commented on #16071
Seems about right.  304 responses shouldn't have a body; handling should be similar to 204 responses.

[2021-04-19 23:37] #15767 closed

[2021-04-19 23:42] htuch commented on #16042
I'm still not sure I understand the issue, can you rephrase? Alternatively, I suggest filing this request in the Istio issue tracker.

[2021-04-19 23:55] #16013 closed

[2021-04-20 01:23] Shikugawa commented on #16027
@dmitri-d Stable maintainer's task is to track backport for envoy which released for 1 year. (In this quarter, 1.18, 1.17, 1.16, 1.15 are target versions of maintaining) To do this work, you should watch PRs which attached `backport/review` and approve them (it will be done by attaching `backport/approve` tag). After that, you should create backport PR for the target versions of envoys.

[2021-04-20 01:59] #15869 closed

[2021-04-20 07:53] slovdahl commented on #15902
Any chance the fix in #15932 will be backported to the 1.18 release branch? FWIW, I think this is also broken in 1.17.

Seen on 1.17.1.p0.gd6a4496-1p74.gbb8060d:

[code]

[2021-04-20 07:55] BatanGaming commented on #16064
I stopped my prod (which is on `example.com`) and now everything is ok. Any ideas?

[2021-04-20 13:04] #15960 closed

[2021-04-20 13:29] QIvan commented on #16065
no... I did that, and anyway, with docker, it should be a clear state "our the box" anyway, right?

[2021-04-20 13:35] asraa commented on #16065
Can you read up and see if any of this helps? https://github.com/bazelbuild/bazel/issues/12986
Particularly the utf8only

[2021-04-20 13:37] QIvan commented on #16065
oh, my God, thank you, I'll take a look right away.

[2021-04-20 14:03] jakubednarek commented on #15883
I had a same issue and created a PR with a fix: https://github.com/envoyproxy/envoy/pull/16078. I would appreciate a review if this is an acceptable change.

[2021-04-20 14:11] QIvan commented on #16065
@asraa Thanks once again, I thought I'm alone with such a problem.
They said

but could you help me, please, with a workaround for this problem for the current Bazel version?

[2021-04-20 14:17] asraa commented on #16065
Add a patch to rules_go https://github.com/bazelbuild/rules_go/issues/2771 like this one

There are examples of patching deps in this repo. look for .patch files.

[2021-04-20 14:29] ynsta opened #16081 "ext_proc for external waf"
*Title*: Implementing an external web application firewall using ext_proc

*Description*:

I saw that you were looking for potential usages for ext_proc. I was thinking on experimenting with ext_proc to implement a waf with [ModSecurity](https://github.com/SpiderLabs/ModSecurity).

This would permit to have a ModSecurity / envoys base waf that is not directly linked with envoy as in https://github

[2021-04-20 15:47] jvolkman commented on #16065
I believe `rules_go` v0.26+ has a workaround for this issue.

[2021-04-20 15:53] snowp commented on #16081
@gbrail

[2021-04-20 15:55] asraa commented on #16065
nice, feel free to try updating, and send a PR!

[2021-04-20 16:47] #16010 closed

[2021-04-20 17:00] akonradi commented on #15032
Copying from discussion on #9809 to keep it all in one place:

[2021-04-20 17:01] #15034 closed

[2021-04-20 17:21] yashwant121 commented on #15453
Hi @phlax, thanks for the initial work on this. I will setup my envoy slack channel and will ping you there in case stuck. Thanks!

[2021-04-20 17:23] aqua777 opened #16084 "Route configuration using variuos query parameters matchers with the same URL prefix"
*Title*: *Route configuration using various query parameters matchers with the same URL prefix*

*Description*:
We are working on a configuration where the same prefix is used by two distinct clusters and the routing path is decided based on query parameters provided with the request.

We would like the routing to work as follows:
* if no query parameters are passed, the request should return 404

[2021-04-20 17:25] phlax commented on #15453
the newer pattern uses `envoy_py_binary` for python bazel targets - this auto creates a pytest runner

see the [README](https://github.com/envoyproxy/envoy/blob/main/tools/README.md) for how to use and set up a python target

the README probs needs work so any feedback on it would be great

the release_dates target will need to be updated to use either a Runner or Checker

[2021-04-20 18:56] QIvan commented on #16065
@asraa here you go =)
https://github.com/envoyproxy/envoy/pull/16083

build works for me after the upgrade. Thanks, @jvolkman!

[2021-04-20 19:16] #15902 closed

[2021-04-20 20:05] martinezlucas98 commented on #15874
@mattklein123

The idea is exactly this, to use it for new extensions and use C++20 enabled libraries from this new extensions.

That's exactly my motivation, to contribute the plumbing to enable experimentation with the new language features without affecting nor disrupting the core pieces.

We don't want to use any of the "super advance features", just start playing with the smaller convenient o

[2021-04-20 21:58] lambdai commented on #15146
Sorry for the late reply.
For istio where the 15001 listener **usually** doesn't hold connection, the 15001 should use no-op balancer (the goal is to reduce latency) and the huge amount of "9080" sub listeners should use exact_balancer (trade cross thread migration for balancing).

Yeah, you can also use exact_balancer for 9080 listener and not to use balancer for 9070.

[2021-04-20 22:21] xtreme-jesse-malone commented on #15904
Hi @antoniovicente ,

Thanks the reply, I'll get as much of this additional information as I can. By "larger scale experiment" do you simply mean the runs which showed gigabytes of memory consumption? I don't have profiles for those, but I can try to get a run with a static build at a similar scale.

[2021-04-20 22:28] antoniovicente commented on #15904
Yes, I was referring to the multi-GB scenario described at the beginning of the description.  Please also see if the request/response size info and number of active requests numbers in my comment above match what was involved in the smaller scale repo.

[2021-04-20 22:31] yangminzhu commented on #15971
I think this makes sense to me. This probably can be enabled by default unless there are any concerns about the performance overhead of writing to dynamic metadata on every matched requests.

The change should be small, just need to be consistent with the current shadow engine design: there are two fields `shadowEffectivePolicyID` and `shadowEffectivePolicyResult`. It also supports adding custom p

[2021-04-20 22:40] yangminzhu commented on #16039
+1 to this. This not only makes the config simpler but also has the potential to greatly improve the performance by using some highly efficient data structure and algorithm for the matching.

In the future we probably could/should expand this design to other fields like path/header/IP where we know some people puts hundreds and thousands values in these fields.

[2021-04-20 22:46] yangminzhu commented on #15270
Is the main difficulty of option 1 (`Gather the extra metadata and pass to RBAC filter`) related to the custom deny response in RBAC filter? How flexible the error response need to be and where does these information come from?

One variant is to improve the RBAC filter to allow returning a custom error message which could even be based on the dynamic metadata itself. The Postgres filter can write

[2021-04-20 23:15] ahachete commented on #15270
The problem is that RBAC doesn't know (nor it should) how to send Postgres protocol messages, this is not standard HTTP ;)

[2021-04-20 23:51] gokulnair opened #16088 "Error running ./ci/run_envoy_docker.sh"
Doing a fresh checkout of master and running the following (on Mac OSX)

`./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'`

errors out with the following message:

[code]

[2021-04-21 03:08] mattklein123 commented on #15874
I'm still not convinced there is value here. Any extension/code that uses c++20 is not going to be usable on Mobile. It would have to be a pretty compelling feature to make us ignore a portion of our users. Can you provide some more concrete detail on what features you want to use and why it's worth it to drop support for existing users for code that uses those features?

[2021-04-21 07:30] daixiang0 commented on #15763
@phlax hi, I would like  to do it, where can I start first?

[2021-04-21 08:03] wbpcode commented on #3642
Try to land it.

[2021-04-21 09:35] littlegreyzhang opened #16096 "hotkey for redis: find hotkeys by heat"
hotkey for redis: find hotkeys by heat

Can I submit a PR to add the following feature? @mattklein123  @yiyouguisu

Description:

We can do this in client/proxy/redis.
Relative Merits:

We just want to find some hotkeys. Not the heat of all the keys. So I want to use some cache algorithm(such as LFU) to implement this feature in proxy(envoy).

Relevant Links:

[2021-04-21 10:12] phlax commented on #15763
@daixiang0 that would be amazing

[2021-04-21 12:46] vengadanathan-s opened #16098 "Headers added in envoy.filters.http.ext_proc are not used for route matching"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

I would like to use the envoy.filters.

[2021-04-21 13:19] darox opened #16099 "Variables in route match"
I'd like to make use of variables in route match. Is something like this possible:
[code]

Note the {var}

Thx a lot!

[2021-04-21 16:26] darox commented on #16099
I could solve the issue by using regex:
[code]

[2021-04-21 16:28] #16099 closed

[2021-04-21 20:39] ggreenway opened #16103 "Prometheus stats for listener with stat_prefix set have wrong labels/extraction"
If a listener has a `stat_prefix` configured (new in Envoy 1.18) and the stat_prefix does not match the regular expression for an address (`1.2.3.4_443` or similar), the prometheus stats will include the `stat_prefix` in the stat name instead of in a label, eg `envoy_listener_vip_downstream_cx_overflow{}` for `stat_prefix: vip`.

The correct output is `envoy_listener_downstream_cx_overflow{envoy_l

[2021-04-21 22:02] asheldon opened #16105 "Performance: Over a third of CPU usage is unaccelerated cryptographic operations on arm64"
The BoringSSL dependency used by Envoy does not use CPU intrinsics for cryptographic acceleration, falling back to unaccelerated mode.

# Description

We profiled Envoy on both AWS Graviton2 machines and AWS c5 instances on the same workload at the same time. We found that on Graviton2, we are spending over a third of our time in BoringSSL's `nohw` methods and virtually none in corresponding metho

[2021-04-21 22:16] HenryYYang commented on #15704
I think this issue is likely due to TLS instead of IPv4.  The open source redis protocol return a list of IPs in the CLUSTER SLOTS command and Elasticache changed that to a list of hostnames when TLS are enabled.  This is a dup of https://github.com/envoyproxy/envoy/issues/8440

[2021-04-21 22:19] jensengrey commented on #16105
Thanks @asheldon,  folks on the Envoy team are currently testing this patch

https://github.com/envoyproxy/envoy/pull/16104

[2021-04-21 22:59] NickEPalmer commented on #15928
Ok thanks, I think I understand. I'll do some more testing, but I think I've resolved this issue

[2021-04-21 22:59] #15928 closed

[2021-04-21 23:36] PiotrSikora commented on #16105
@asheldon if you could build Envoy from #16104 and verify that the performance improved, that would be great!

[2021-04-21 23:43] asheldon commented on #16105
Do you have a branch based on Envoy 1.17.2 I can build? We aren't on 1.18 yet, but this patch looks straight-forward enough to backport and verify.

[2021-04-21 23:47] PiotrSikora commented on #16105
@asheldon I don't, but you can simply download [updated bazel/boringssl_static.patch](https://github.com/envoyproxy/envoy/blob/a6b4fe810ee417fc57366877a38e70082e43fa63/bazel/boringssl_static.patch).

[2021-04-21 23:50] dmitri-d commented on #15838
@howardjohn: I'm having a hard time trying to reproduce the issue you are seeing, could you describe/link to the changes you made in istiod to trigger the issue?

[2021-04-22 00:04] howardjohn commented on #15838
[code]

I think the reason its harder to reproduce now is because of a bug fix on Istio side - see the change of `return err` vs `return nil`. Basically, previously we always closed the stream with no error.

So this must only happen when the XDS server terminates the stream, but with no error?

[2021-04-22 00:05] qiwzhang opened #16108 "move simple LRU cache code into envoy"
In this [PR](https://github.com/envoyproxy/envoy/pull/14341), jwt_authn is adding cache feature JWT token.

It is using a simple_LRU_cache map from [here](https://github.com/google/jwt_verify_lib/tree/master/simple_lru_cache)

This map supports O(1) lookup with LRU auto purge.

This simple_LRU_cache code can be used by other Envoy modules, hence propose to move this code into Envoy.

[2021-04-22 00:42] tavishvaidya opened #16110 "A new transport socket extension for offloading mTLS handshakes to Secure Session Agent (S2A)"
This issue introduces a new transport socket extension. This extension will offload the functionality of performing mTLS handshakes to the [Secure Session Agent](https://github.com/google/s2a-core). The Secure Session Agent is a service that enables workloads to offload mTLS handshakes and protects the private key material from exfiltration.

Using this transport socket extension, the Envoy client

[2021-04-22 00:44] tavishvaidya commented on #16110
@asraa

[2021-04-22 00:55] Xunzhuo opened #16111 "Webassembly Runtime Guide"
As envoy source code shows:

![image](https://user-images.githubusercontent.com/48784001/115530576-7b40ca00-a2c6-11eb-9767-e3d26c719162.png)

How can I run wasm in Wasmtime, Wavm.. instead of v8 engine in Envoy ?

I try to edit directly envoy config to change runtime field to wasmtime or wavm, but it seems not to work right.

![image](https://user-images.githubusercontent.com/48784001/115639947-6d

[2021-04-22 01:19] mburtless commented on #15463
Just wanted to follow up here for future readers, we ended up using http headers for our use case.  Thanks for pointing us in the right direction @mattklein123 !

[2021-04-22 06:37] dmsqls opened #16113 "ConnectionBalancer Bug"
Hi. Report a bug in ConnectionBalancer

When pickTargetHandler is called, Count 1 increases as shown below.

[code]

However, the connection count is always 0, and the connection balancer is not processed as expected. (See log below)
[code]

Temporarily modified as follows and it resolved.
[code]

Please review.

Thanks.

Reference information

Envoy Binary Version
`./envoy  version: 430fb4cd40048

[2021-04-22 07:04] leyao-daily opened #16114 "Add new dependency WAMR"
*Title*: *Add new dependency WAMR*

*Description*:

would be used.
We need add a new dependency WAMR - https://github.com/bytecodealliance/wasm-micro-runtime
To support WAMR build
[optional *Relevant Links*:]

[2021-04-22 07:04] #16114 closed

[2021-04-22 07:06] leyao-daily opened #16115 "To file the addition new dependency to support WAMR"
*Title*: *Add new dependency to support WAMR runtime build*

*Description*:

Add WAMR - https://github.com/bytecodealliance/wasm-micro-runtime
[optional *Relevant Links*:]

[2021-04-22 07:09] leyao-daily commented on #16115
Located at https://github.com/envoyproxy/envoy/pull/16057#discussion_r616297480

[2021-04-22 07:52] asheldon commented on #16105
I think this patch works.

I haven't put this into production, so I can't share a comparable profile or comment on performance improvements yet, but I can confirm that my non-production profiles now have no methods with `nohw` in them and methods like `aes_hw_ctr32_encrypt_blocks` now exist.

[2021-04-22 08:10] xpepermint opened #16117 "Handling millions of rules"
I'd like to think of my envoy service as the gateway handling all the incoming/outgoing traffic for all the services I host for my clients. I wonder how such a setup would perform in case I have 1 million clients and each client has its own domain, http/grpc rules, and such.

Because the envoy must calculate all these conditions on each request I expect this to be much less performant compare to r

[2021-04-22 08:43] tonya11en commented on #16117
It's tough for me to give my opinion without understanding your scenario better, but for these multi-tenant proxy use cases, you may consider using [scoped routes](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_routing#route-scope). It sounds like you're considering an Envoy per tenant as a method of config namespacing, so the scoped routes may allow you to keep it all o

[2021-04-22 08:48] lewislbr opened #16118 "Use "Via: envoy" header instead of "Server: envoy""
**Title**
Use `Via: envoy` header instead of `Server: envoy`

**Description**
Currently, envoy attaches a `Server: envoy` header to all responses. This overwrites any `Server` header defined upstream.

The [`Server` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Server) should be used by the server that generates the response in its origin, and be respected if set.

The [`Via` h

[2021-04-22 08:52] xpepermint commented on #16117
Thanks, @tonya11en for your reply. Basically, the use case is actually super simple and we can debate on a theoretical level. I'd like to host N domains where each domain has N rules. The question is more about how the envoy searches among all defined rules. The linear search would be slow, the indexed list would be faster but is it fast enough to have the config sized in MBs?

[2021-04-22 12:01] #15357 closed

[2021-04-22 15:24] snowp commented on #16117
It depends on the matching logic required for these domains, if you have N unique domains with M <<<< N rules per domain, you could list the N domains as virtual hosts (exact match here gives you a hash lookup), and provide the M rules for each virtual host which will be searched linearly. If you need more complicated domain lookup (e.g. virtual host wildcard) you end up in linear scan territory a

[2021-04-22 15:41] bkaimal commented on #15438
@mattklein123 , i observed that the HTTP CONNECT requests are not passed to ext_authz filters only GET is sent. This is probably expected but was not sure, so thought to check. For Lua filters, i do see the filter get all the requests.

[2021-04-22 15:42] rohrit commented on #15438
@mattklein123 , i observed that the HTTP CONNECT requests are not passed to ext_authz filters only GET is sent. This is probably expected but was not sure, so thought to check.

[2021-04-22 15:57] xpepermint commented on #16117
This is helpful @snowp, thank you. I've seen different implementations for the hash lookup but I'd say this part is the fastest possible and is provided by the programing language itself so should be good. Linear lookups on the second level should not cause problems. My biggest fear is/was the level one (domain level) lookup where the "most expensive" lookup happens.

So if I understand this corre

[2021-04-22 16:03] #15480 closed

[2021-04-22 16:49] Xunzhuo commented on #16032
![image](https://user-images.githubusercontent.com/48784001/115753271-964a3180-a3cd-11eb-9cf2-b53357c508e6.png)
1.18.2 has been released but I try to install it with getenvoy, return 404 as this issue tells and getenvoy try to install v1,17.1

[2021-04-22 16:59] nrjpoddar opened #16123 "Smarter way to pick endpoints for dual-stack IPv4/v6 support"
*Title*: *Support smarter way to send traffic to IP family endpoint based on downstream connection*

*Description*:
We are working on supporting dual-stack IPv4 and IPv6 in Istio. As part of configuring Envoy via Istio control plane for dual-stack we are wondering what's the best way to avoid duplicate Envoy xDS objects. Currently, as POC we are creating both IPv4 and IPv6 listeners, which for HTT

[2021-04-22 17:39] justin-mp commented on #7763
Looking at #15299 taught me a bunch about the syntax we may want to allow.  Two points came out of that:

1.  Our case really wants to do file name extension matches, like `/**.m3u8` or `/media/*.m4s`.  The gRPC transcoding http.proto syntax supports suffix matches by abusing the `:verb` syntax, but it’s not very explicit.  In particular, the http.proto syntax allows the verb to match any “LITERAL

[2021-04-22 17:50] howardjohn opened #16124 "Admin server hangs and stops accepting all requests"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Admin server hangs and stops accepting all requests

*Description*:
On rare occasions, the admin server hangs and stops accepting all requests

A call to [another li

[2021-04-22 18:01] nonefaken opened #16126 "envoy.filters.http.oauth2 stops working after upgrade from 1.17.2 to 1.18.2"
Hello,

i have Envoy Proxy PoC with Keycloak 12.4 and Okta. All works with Envoy 1.17-latest.
After upgrade to 1.18-latest (1.18.2) neither Okta nor Keycloak PoC work.

The error thrown is: "client credentials are invalid"
Client credentials are 100% valid and did not change after upgrade.
Downgrade to 1.17-latest immediately solves problem.

Example config for Okta:

[code]

Example config for Ke

[2021-04-22 18:17] howardjohn commented on #16124
bt in one case:

<details>

[code]
</details>

A trace log file:
[ingress.txt](https://github.com/envoyproxy/envoy/files/6360466/ingress.txt). We froze at Thu Apr 22 18:03:10 UTC 2021. Most of the logs are health check probes that don't hit the admin interface

[2021-04-22 18:26] howardjohn commented on #16124
cc @bianpengyuan . Not 100% sure but this may actually be in istio's SD plugin so this may be the wrong repo.

[2021-04-22 18:47] markdroth commented on #16063
FWIW, I agree that the client should populate `resource_names_subscribe` for the first message on a reestablished stream exactly the same way as if it were not a reestablished stream (i.e., as if it were the very first stream created after the client started up).  If it's a wildcard subscription, `resource_names_subscribe` should be empty; if it's a non-wildcard subscription, `resource_names_subsc

[2021-04-22 19:19] antoniovicente commented on #15701
@rialg @jmarantz what are your thoughts on my replies above? I think that it is fine for Buffer::Instance to do low level operations, no need to use MemBlockBuilder

Can this issue be closed?

[2021-04-22 19:22] jmarantz commented on #15701
Agreed; let's close this for now, especially as we'd have to extend MemBlockBuilder to handle this case.

There may be other instances of memcpy calls we should still tackle, but for now let's leave this one alone.

[2021-04-22 19:22] #15701 closed

[2021-04-22 19:26] rialg commented on #15701
Hi @antoniovicente, sorry for your late response. After reviewing your previous comment, I agree with you on this point. Maybe, it will be better to update other places with MemBlockBuilder, but for that I will create a separate PR. So, this issue can be closed. WDYT @jmarantz ?

[2021-04-22 20:01] #15309 closed

[2021-04-22 20:01] #15464 closed

[2021-04-22 20:16] snowp opened #16129 "Inconsistent timeout handling between max_stream_timeout and router global timeout"
Due to recent changes to the timeout logic (https://github.com/envoyproxy/envoy/pull/15585, https://github.com/envoyproxy/envoy/pull/13302/files) there seems to be some inconsistencies in how timeouts are enforced, leading to surprising behavior when updating Envoy:

The max_stream_timeout falls back to using the route timeout under certain conditions: https://github.com/envoyproxy/envoy/blob/main

[2021-04-22 20:18] rgs1 commented on #15061
Alright, it happened again:

[code]

[2021-04-22 20:24] #16007 closed

[2021-04-22 21:13] xjtian commented on #16129
Additionally, #13302 introduces a new behavior where the `grpc-timeout` header is not respected if `grpc_timeout_header_max` is not set on the route: [link](https://github.com/envoyproxy/envoy/pull/13302/files#diff-7cfd594a6eff3119b0382311e215145da49b9c2e5e776e83453c44dfcf2b6be3R1149). We observe this on bidirectional GRPC streams where setting `grpc-timeout` on the client side to something greate

[2021-04-22 21:57] antoniovicente commented on #16129
Regarding use of x-envoy-upstream-rq-timeout-ms as an override, is the intent to allow this header to adjust the timeout downwards, upwards or both?  Effectively respecting the min of these timeouts may be the most tractable option.

[2021-04-22 22:06] antoniovicente commented on #16129
This comment thread may be relevant: https://github.com/envoyproxy/envoy/pull/15585#discussion_r607312415

If we had unified logic to determine the timeout and were to use timeout_.global_timeout_ as a source of a timeout value we'ld get more consistent behavior.  FilterUtility::trySetGlobalTimeout sets timeout_.global_timeout_ based on the contents of the relevant request header.

[2021-04-22 22:06] tomastigera opened #16130 "original_dst : use local address with transparent sockets and TPROXY"
*Title*: *original_dst : use local address with transparent sockets and TPROXY*

*Description*:

Use the local address if the listener uses `transparent` or allow user to set such an option on the original_dst.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto.html?highlight=transparent

*Reasoning:*

Original destination uses `SO_ORIGINAL_DST` to get the origin

[2021-04-22 23:10] mattklein123 commented on #16113
cc @lambdai I think this is the bug you are currently fixing?

[2021-04-22 23:14] mattklein123 commented on #16123
cc @alyssawilk

For upstream, @alyssawilk and team are working on the ability to handle dual stack.
For downstream, I would like to implement https://github.com/envoyproxy/envoy/issues/11184 which would allow a listener to bind to multiple addresses.

[2021-04-22 23:22] mattklein123 commented on #16129
Per offline convo in the maintainers chat, it makes me very uncomfortable that we keep having issues in this area. I think we a) don't have a clear understanding of the behavior we want and b) don't have enough tests.

I think @snowp is going to analyze the change history but my vote is to revert as much as possible and then come back with a holistic plan on what we need to do to not break any exi

[2021-04-22 23:46] htuch commented on #7763
SGTM; @lizan @markdroth @mattklein123 @qiwzhang @josheinhorn @nareddyt are you folks happy to commit to this as PoR?

[2021-04-23 00:03] #15512 closed

[2021-04-23 00:35] dmitri-d commented on #15838
@howardjohn: How old is the envoy version that you are using? This change: https://github.com/envoyproxy/envoy/commit/36e05482cc27b4d2b5765fdebcdb5fef16f07d84#diff-3d9b7f541cceecbc0ee4f3ff9972955b13408dd67823e05a1be1a6ed8b6ab064L54, which is about two months old, should fix the issue you are seeing. I can reproduce the behaviour when extensions are being copied multiple times on a stream reset wit

[2021-04-23 00:39] asraa commented on #16081
@envoyproxy/security-team this may be interesting

[2021-04-23 00:41] howardjohn commented on #15838
I was on Istio 1.9, trying similar change on master it does seem like it may be resolved. I could have sworn I checked master previous but maybe I was mistaken and this is fixed!

[2021-04-23 00:44] dmitri-d commented on #15838
I think this can be closed, @howardjohn: please comment here if the issue resurfaces again.

[2021-04-23 00:45] asraa commented on #16084
Can you verify that matching with a config that requires no query params gives 200 first?

[2021-04-23 00:46] asraa commented on #16088
Is it this issue? https://github.com/envoyproxy/envoy/issues/16065

[2021-04-23 00:48] asraa commented on #16096
@msukalski  @henryyyang

[2021-04-23 00:48] asraa commented on #16098
@gbrail

[2021-04-23 00:55] asraa commented on #16111
As seen here https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/wasm/v3/wasm.proto
those are not enabled by default in builds.
You will need to build Envoy yourself with --define wasm=wavm to enable this config setting https://github.com/envoyproxy/envoy/blob/cfc04c4ff221ef2bdbcdf7d6de0d1c8b37e08db6/bazel/BUILD#L396

I hope.

[2021-04-23 00:59] asraa commented on #16118
@yanavlasov also while @alyssawilk is out, maybe this makes sense. it would need to be flag protected if implemented.

[2021-04-23 01:00] asraa commented on #16126
@rgs1 @derekargueta has anything changed with oauth filter?

[2021-04-23 01:01] asraa commented on #16110
@ggreenway @antoniovicente this is a proposal for a new extension that would offload private key operations

[2021-04-23 01:04] gbrail commented on #16098
There's a flag in the gRPC protocol called "clear_route_cache." It's not implemented yet. But it's supposed to be -- the result would be that ext_proc would call "clearRouteCache" on the filter callbacks object when it gets a message with this flag set.

I imagine that if this were implemented it would solve your problem. Does that make sense? It's not yet implemented in ext_proc but it's a small

[2021-04-23 01:08] qiwzhang commented on #15506
Hi @moderation, could you re-run the score card for this rero?

[2021-04-23 01:09] qiwzhang commented on #15506
@envoyproxy/dependency-shepherds @envoyproxy/security-team

Can you approve this proposal?   Thanks

[2021-04-23 01:12] rgs1 commented on #16126
Hmm not sure... cc: @williamsfu99

[2021-04-23 01:16] nrjpoddar commented on #16123
Thanks @mattklein123. We were planning to use ipv4 compatibility flag on listeners which can help in avoiding duplication for wildcard addresses. But multiple actresses on a listener can remove duplication for specific addresses too so thank you for the pointer!

@alyssawilk can you share any docs/PRs for upstream dual-stack handling?

[2021-04-23 02:03] Xunzhuo commented on #16111
@asraa  Thanks so much~

[2021-04-23 02:03] #16111 closed

[2021-04-23 02:26] Xunzhuo opened #16136 "Question: How can I build specific version envoy with CI Docker images?"
*Title*: *How can I build specific version envoy with CI Docker images?*

*Description*:

I want to build envoy in v1.18.2 with CI Docker images, How can I build specific version envoy with CI Docker images?

[2021-04-23 02:26] Xunzhuo commented on #16136
/help wanted

[2021-04-23 02:34] Xunzhuo commented on #16136
After running `./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'` , compiled envoy version is 1.19.dev

[2021-04-23 05:06] lizan commented on #7763
SGTM

[2021-04-23 05:16] phlax commented on #15558
bump

[2021-04-23 05:20] nonefaken commented on #16126
Hi! FYI there must be some changes. I tried to implement "auth_scopes", which motivated to upgrade to 1.18.2 # Cf. https://github.com/envoyproxy/envoy/pull/14168 which was introduced after 1.17.2. Not saying it caused it.

[2021-04-23 07:09] chenrui333 opened #16138 "envoy 1.18.2 build failed on Mojave box"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure on OSX Mojave</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/2372125098
relates to Homebrew/homebrew-core#75282

[2021-04-23 07:29] cocotyty opened #16139 "Prometheus stats handler used too much memory."
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Prometheus stats handler used too much memory.

*Description*:
![image](https://user-images.githubusercontent.com/2241753/115835141-8ae81c00-a

[2021-04-23 07:32] cocotyty commented on #16139
https://github.com/envoyproxy/envoy/blob/8a2143613d43d17d1eb35a24b4a4a4c432215606/source/server/admin/prometheus_stats.cc#L211

Maybe use http chunks to response can fix this problem.

[2021-04-23 07:34] cocotyty commented on #16139
@alyssawilk @lizan

[2021-04-23 08:12] daixiang0 commented on #15763
Could you share more details here?

[2021-04-23 08:34] phlax commented on #15763
broadly we need to figure out:

1. where to store this information
2. where to render the information
3. a strategy for when to use these

and maybe a few other things.

im thinking we probably want to store this information in the protos with annotations.

the question of where to render is more complex than it might first seem as so much of Envoy config is implemented through extensions

in term

[2021-04-23 08:37] phlax commented on #15763
for reference on how other projects use these (in relation to a REST API rather than config) the django docs guidelines are worth checking out:

https://docs.djangoproject.com/en/dev/internals/contributing/writing-documentation/#documenting-new-features

[2021-04-23 08:39] phlax commented on #15763
@daixiang0 can you join the Envoy slack - there is a doc-improvements channel which it might be helpful to discuss on

[2021-04-23 08:45] wxdao opened #16141 "Original destination not picked up from x-envoy-original-dst-host header set by request_headers_to_add in route.VirtualHost or route.Route"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Original destination not picked up from x-envoy-original-dst-host header set by request_headers_to_add in route.VirtualHost or route.Route

*Description*:

I've been

[2021-04-23 08:54] lizan commented on #16032
Yes I'm working on them. We're also doing migration from Bintray because it will be sunset on May 1.

[2021-04-23 11:04] justin-mp commented on #7763
Note that there are some extensions to this grammar that we could implement in the future by broadening the restricted syntax proposed above:
* FUTURE1: Prefix globs within a segment. For example `/api/{version=v*}/1234` to extract versions starting with “v”
* FUTURE2: Suffix globs within a segment.  For example:  `/api/{version=*beta}/1234` to extract versions ending in beta.
* FUTURE3: Globs on

[2021-04-23 11:17] visit1985 commented on #3732
@mattklein123

When your client is not using the default port defined for the protocol specified in `x-forwarded-proto`, envoy has to add a `x-forwarded-port` header. Otherwise the server (in my case spring-boot) will build `location` headers with missing port.

Most deployments aim to use standard ports and don't run into this issue.

Users don't see and shouldn't care about this header as it is

[2021-04-23 12:47] snowp commented on #10195
Looking over this again I think this would be be very doable as a stats filter + matcher as long as each filter is just trying to extract/target one stat name/tag value. Some complexity arises if we want to do multiple tags/name segments: the match tree only arrives at a single MatchAction, so if we want to combine multiple values that quickly leads to complexity explosion of the match tree since

[2021-04-23 13:00] chenyanshan opened #16143 "How to configure query_parameters not exist match"
"sign" not exist match. how to configure?

[code]

[2021-04-23 13:53] snowp commented on #16129
@mattklein123 might be able to fill in the historical bits here but I believe at one point the only (?) per stream timeout mechanism was enforced by the router (the "global" timeout), and this is the timeout that was modifiable by the header. This is the total amount of time that the router may spend trying to send the stream upstream, including retries. As a result this isn't really the timeout f

[2021-04-23 14:26] Xunzhuo commented on #16032
@lizan tks~
It seems like that I can directly get .rpm from http://tetrate.bintray.com/getenvoy-rpm/centos/8/x86_64/stable/Packages/

[2021-04-23 14:38] josheinhorn commented on #7763
LGTM except one part:

This is gives me pause since it's a divergence from the existing syntax, and I don't entirely see how the inclusion of periods in the variable names conflicts with periods in the value. For example, what is wrong with `/{file.dir}/{file.name=*.ts}`? My primary concern is that there is already a lot of prior art using the `google.api.http` annotation that uses periods in vari

[2021-04-23 15:32] stevenzzzz commented on #16063
I think we are on the same page here.

IIUC, resource_names_subscribe field is for "newly added not served " resources only.
On reconnection, for the management server to rebuild the status of the client, initial_resource_versions is used. I think it's reasonable to not send "already served" resources, which are already included in the "initial_resource_versions", via the "resource_names_subscribe

[2021-04-23 15:53] markmsmith commented on #14076
I'd love to see signed releases (and ideally contributor commits) for this project.
If it's any help, here's an example of how nodejs lists out the release maintainers' keys (in addition to having them on the standard key servers):
https://github.com/nodejs/node#release-keys
and here's an example of how it's verified in the official docker alpine build for it:
https://github.com/nodejs/docker-node

[2021-04-23 16:00] markdroth commented on #16063
I don't think we can do that.  The entries in `resource_names_subscribe` are resource locators, each of which may match multiple resources (e.g., as a wildcard subscription in the current naming scheme, or via a glob collection or flexible context parameter matching in the new naming scheme).  However, the entries in `initial_resource_versions` are resource names, each associated with a specific i

[2021-04-23 16:03] #15219 closed

[2021-04-23 16:55] lambdai commented on #16124
istio/istio#29334 Various factors can cause DOS at main thread .
Deadlock and epoll/read should have quite different symptom though: the former is almost 0 cpu utilization and the latter saturate 1 cpu core.
https://github.com/envoyproxy/envoy/pull/14954 should have fix one of the cause of the latter case. The very first istio/istio#29334 might have been resolved.

https://github.com/envoyproxy/en

[2021-04-23 16:55] danzh2010 opened #16146 "quiche: add test coverage for 0-RTT request"
HttpIntegrationTest::quic_connection_persistent_info_ stores quic crypto config to be used across all client connections. Add a test to test 0-RTT with the config after https://github.com/envoyproxy/envoy/pull/15912 is checked in.

[2021-04-23 17:06] gbrail commented on #16081
Yes, WAF-like stuff is certainly one of the things ext_proc is intended to help with. There are a few capabilities that have been designed (but not all implemented) that can help with this. Specifically:

1) If initially you only need to look at HTTP headers, then you can get started right now with a processor that looks at the headers and rejects a request.
2) Right now you can see the HTTP body,

[2021-04-23 17:09] gbrail commented on #15793
The original problem has been fixed in #15935.

I'm still interested in understanding how people want to use various body processing modes. For example, if you don't need to modify the headers then a streaming mode would be possible, but if you want to modify it in a streaming way then there are some questions about the Envoy filter chain that I need to get answers for.

[2021-04-23 17:09] gbrail commented on #14631
This was fixed and can be closed.

[2021-04-23 17:36] lizan commented on #16032
@Xunzhuo it is weird that your package manager is trying to download from `getenvoy-rpm/centos/`**2.2** which is not a valid centos version. What's the environment you're using?

[2021-04-23 17:42] Asdprom commented on #15599
Any update on this one?

[2021-04-23 17:52] howardjohn commented on #16124
@lambdai I agree with your assessment, after looking at it a bit more it seems two completely distinct issues

[2021-04-23 17:54] Xunzhuo commented on #16032
@lizan Ops~ I realize what may caused this weird error, my server runs on a System of Tencent which based on CentOS, and its version is 2.2, so package manager is trying to download from getenvoy-rpm/centos/2.2  which caused 404 response...

[2021-04-23 18:16] salrashid123 commented on #14631
the boriler plate notices are abit confliciting but  readers will get the idea fromthe warning.
thx

[2021-04-23 18:16] #14631 closed

[2021-04-23 18:56] martinezlucas98 commented on #15874
Hello @mattklein123 , it's just as you said before, my motivation is to contribute to the plumbing with a demo extension, so when the time for C++20 comes, there is this demo extension to take as an example maybe.
If by features you mean the C++20 features, there are some interesting ones like the `contains` member function for associative containers (as sets and maps); also, now we can bring enum

[2021-04-23 19:21] GinYM commented on #15654
Looking into it.

[2021-04-23 20:34] sschepens opened #16152 "rbac: policy order is not respected"
*Title*: *RBAC: policy order is not respeted*

*Description*:
RBAC Filter documenation specifies that policies are iterated [in order](catalog|26504) `The policies are examined in order.`, protobuf maps maintain order, but we're then dumping the policies configuration into a `std::map` which orders elements by key, this breaks the specified contract.

The fix seems simple, it would seem we don't a

[2021-04-23 20:41] boringuy commented on #16071
While working on the integration test, I found that envoy is also adding "content-length: 0" to 304 response when upstream doesn't supply content-length header. This is definitely a bug as the "content-length" in a 304 response is NOT the content-length of the 304 response but should be the content-length of the original assert if it were to return 200.

The fix that I am doing actually also fixes

[2021-04-24 08:37] phlax commented on #16034
the other thing i need to procede with this are:

- supported versions
- list of known insecure versions

[2021-04-24 22:13] QIvan commented on #16065
I think we can close it. At least, it works for me after my PR merge.
Thank y'all for the help, I do appreciate it!

[2021-04-24 22:13] #16065 closed

[2021-04-25 03:01] mattklein123 commented on #3732
For everyone complaining about "why isn't this done yet," it's because someone has to do the work. We should add the feature and have it be opt-in configured as I don't think most people care about this information and we shouldn't force the perf degradation on everyone.

[2021-04-25 03:03] mattklein123 commented on #15874
I guess? I'm still not really seeing the value here.

[2021-04-25 03:09] mattklein123 commented on #16118
See the "server_name", "server_header_transformation," and "via" options here: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto

[2021-04-25 03:09] #16118 closed

[2021-04-25 03:17] mattklein123 commented on #16096
This sounds like a reasonable feature to add to me.

[2021-04-25 03:26] arikachen opened #16157 "upstream: per host connection limit support?"
*Title*: per host connection limit support?

*Description*:
using this feature to prevent too much active connections in a host.
[code]

[2021-04-25 04:03] #15305 closed

[2021-04-25 06:56] Xunzhuo opened #16158 "Question: Why version 1.18.0 released before plan finish in milestones?"
*Title*: Why version 1.18.0 released before plan finish in milestones?

*Description*:

As milestone shows here: https://github.com/envoyproxy/envoy/milestone/18

<img width="1466" alt="WeChatWorkScreenshot_ef33cb11-a336-4c80-b1f2-4c81ea8b71ff" src="https://user-images.githubusercontent.com/48784001/115983828-3b375b00-a5d6-11eb-85e9-38a0099381d7.png">

it seems like many plans have not finished ye

[2021-04-25 07:01] #16158 closed

[2021-04-25 07:28] daixiang0 commented on #15763
Yep, I am in the slack now.

[2021-04-25 07:31] phlax commented on #15763
im unable to find you there by your username - can you join #doc-improvements

[2021-04-25 07:35] daixiang0 commented on #15763
I ping you directly :)

[2021-04-25 09:37] lewislbr commented on #16118
@mattklein123 This is more about using `Via` instead of `Server` to add the proxy information, rather than the option to set up any of them, as in the case of `Server` it’s usually defined upstream. Is there any reason why `Server` is used?

[2021-04-25 14:24] Gurpartap opened #16160 "`(request-target)` header key with parenthesis gives 400 Bad Request"
*Title*:
Using parentheses/brackets in header key field produces 400 Bad Request

*Description*:
[Signing HTTP Messages](https://tools.ietf.org/id/draft-cavage-http-signatures-12.html) (draft http request signing standard) suggests `(request-target)`, `(created)`, and `(expires)` as header keys for its implementation.

However, with envoy-1.18.2 as the server proxy, making a http request with `(re

[2021-04-25 19:15] mattklein123 commented on #16118
Envoy's original use was as a gateway in which it was desired to obfuscate the real backend server, so server was overwritten. I don't think it's worth changing this default behavior given that it can all be controlled via configuration.

[2021-04-25 23:27] htuch commented on #16063
I'm aligned with presenting `resource_names_subscribe` on a re-established stream in the same way its done on the initial stream; do we just need to clarify somewhere the assumption of `initial_resources_version` being only a hint?

[2021-04-26 00:03] #14860 closed

[2021-04-26 00:03] #15345 closed

[2021-04-26 00:35] dmsqls commented on #16113
No, I'm not currently fixing it.

[2021-04-26 01:33] RameshKandukuriB commented on #15411
"help wanted" / "no stalebot"

[2021-04-26 07:12] daixiang0 commented on #12949
Is it still necessary to fix?

[2021-04-26 08:49] shaftofchina opened #16165 "Is there any possibilities to support reuse previous connection pools when updating a static cluster"
We found that when we use **ClusterManagerImpl::addOrUpdateCluster** to update a static cluster, it will firstly reset the previous clusterEntry which will lead to deconstruction of all related connection pools and of course its established tcp connections. However, our problem is that when we update a static cluster most of its endpoints are the same as previous one, just a few endpoints changed.

[2021-04-26 10:59] aqua777 commented on #16084
Hi @asraa , I am not entirely sure what do you mean ?

The configuration which I am trying to build DO REQUIRE query params for all requests. Without query params we expect Envoy to find no match and to respond with 404 Not Found, which it does:
[code]

[2021-04-26 11:48] asraa commented on #16136
You can checkout 1.18.2 https://github.com/envoyproxy/envoy/tree/v1.18.2 if you'd like to build it yourself.

or https://hub.docker.com/layers/envoyproxy/envoy/v1.18.2/images/sha256-7a348fb943f7aaf526509ffc73c818a9ff33f7d0fd06ce37d9426af081ec1295?context=explore

[2021-04-26 11:55] asraa commented on #16138
@zuercher it seems like envoy has been able to build on mojave before, maybe something broke after a protobuf update?

[2021-04-26 12:05] oleksiyp opened #16170 "Update of base docker images to something newer than alpine 3.12.3"
*Title*: *Update base docker image to alpine-glibc:alpine-3.13_glibc-2.32*

*Description*:
We have vulnerability scanning in our enterprise that detects older versions of alpine being vulnerable.
This prevents images from being imported to our registry.

[code]

Is it possible to upgrade alpine base image to newer version?
Thanks!