[2021-06-16 19:59] mattklein123 commented on #16954
cc @antoniovicente

[2021-06-16 20:01] mattklein123 commented on #16987
This is a request we have had periodically over the years. The reason we have pushed back on this is that if the control plane is down, scale up is broken anyway, so the control plane really needs to be considered a T0 component. One of handling this would be to use file based xDS and have a local daemon cache the config.

[2021-06-16 20:01] #15569 closed

[2021-06-16 20:01] #16098 closed

[2021-06-16 20:01] #16247 closed

[2021-06-16 20:01] #16323 closed

[2021-06-16 20:01] #16375 closed

[2021-06-16 20:01] #16401 closed

[2021-06-16 20:02] mattklein123 commented on #17012
Couldn't you just use file based xDS and have some other process write the config out?

[2021-06-16 20:03] mattklein123 commented on #17013
I agree that having some type of pluggable subsetting capability would be nice. Design proposals appreciated.

[2021-06-16 20:23] conqerAtapple commented on #17012
Absolutely makes sense to have another process write the xDS config.  We were exploring if the client/user could be saved from writing the error prone configurations and let the translator do that. But i think this idea might bring in other issues.
Thanks for the answer.

[2021-06-16 20:56] antoniovicente commented on #16954
I think the issue here is that the code in question is really counter intuitive.  Slice::prepend copies the input from the back, so passing in data.data() as the first argument here is correct since what the code does on each iteration is consume bytes from the end of the string_view.

https://github.com/envoyproxy/envoy/blob/b164962eb367e054df7fd563acce59663b16dd86/source/common/buffer/buffer_imp

[2021-06-16 21:24] freddygv opened #17016 "respect_expected_rq_timeout is not leading to expected behavior"
Related to #7358

*Description*:
When configuring `respect_expected_rq_timeout`, the value in `x-envoy-expected-rq-timeout-ms` doesn't actually seem like it's being propagated.

The docs say:

This makes it seem like if `x-envoy-expected-rq-timeout-ms` is present in an inbound request, the matching outbound request should have the same value.

What I expect is that this should work similar to `x-e

[2021-06-17 02:23] wbpcode commented on #16391
/no-stale

[2021-06-17 04:01] #15793 closed

[2021-06-17 04:56] youngnick commented on #6767
I'm not sure about the second option, but the first one would let us in Contour remove a Lua workaround we have that does the same thing. You can see the whole thing at https://github.com/projectcontour/contour/blob/40d5c259697ca92693071bc6977a1c8da08555b0/internal/envoy/v3/listener.go#L565-L603

[2021-06-17 06:37] kangrong-tencent commented on #16954
Thanks. I was wrong.

[2021-06-17 06:37] #16954 closed

[2021-06-17 08:01] #15441 closed

[2021-06-17 08:01] #16213 closed

[2021-06-17 08:50] rainingmaster commented on #10478
So sad, I have fix `dyld: Symbol not found: _program_invocation_name` by install XCode, but `Abort trap: 6` still exists. Do you fix it? @MeenaAlfons

[2021-06-17 11:45] apolukhin commented on #16987
Yes, that would work. Hovewer such a caching daemon would be reinvented by each new xDS, which is not quite convenient.

Adding caching functionality to Envoy would remove the burden from users and lower the fault tolerance requirements for xDS.

[2021-06-17 12:01] #16407 closed

[2021-06-17 15:55] conqerAtapple commented on #17013
@mattklein123 i will try to write up a basic design by next week so that we can iterate over the details.

[2021-06-17 15:56] mattklein123 commented on #16987
It would also make Envoy itself more complicated. Perhaps we could host an OSS daemon that would do such a thing if you want to work on it?

[2021-06-17 16:46] vitruvvius commented on #6608
^+1. only way it works w/ grpc json transcoder. saved me hours.

[2021-06-17 18:41] jmarantz opened #17027 "stats: Optimize stat-matcher rejection by prefix"
Currently when we have a stats-matcher expression with a prefix, the following algorithm is used implemented here: https://github.com/envoyproxy/envoy/blob/0a55eb90060664ffa01229a8cd7c1fedcbc0599d/source/common/stats/thread_local_store.cc#L439

It is essentially:
[code]

The implementation is more complex and expensive than this because there's a rejection set both in thread_local_store.cc's centr

[2021-06-17 22:59] leosunmo commented on #8867
I know this is a long-dead issue, but I've just recently run in to an issue where I would like to terminate long-lived gRPC streams when my Cluster changes. Are there any plans to add a `forcefully_close_connections_on_host_set_change`?

Having a function that is identical to this, but if it fails to gracefully terminate the connection withing a certain time-frame (ideally configurable as well), i

[2021-06-17 23:20] qiwzhang commented on #14587
Here I like to summarize the issue ESPv2 is facing with this change:

Setting correct :scheme header is important for Google IAP to work. Google IAP requires :scheme to be https, otherwise it will send 302 redirect.
When ESPv2 envoy is deployed in Google Cloud-Run service, its downstream protocol is http since it is getting request from GFE and GFE terminates the SSL from the client, and its upstr

[2021-06-18 04:01] #16124 closed

[2021-06-18 06:33] vitruvvius opened #17031 "gRPC Json Transcoder + Options Request from Web Browsers causes 404 for envoy config without a "/" as a matching path"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
gRPC Json Transcoder + Options Request from Web Browsers causes 404 for envoy config without a "/" as a matching path

*Description*:

the bug

[2021-06-18 07:01] ankatare commented on #17000
@phlax see reults below

necuser@dldt-project_005:~/new_folder/envoy$ docker images | grep envoy-build-ubuntu
envoyproxy/envoy-build-ubuntu        55d9e4719d2bd0accce8f829b44dab70cd42112a   934ad7f43563   6 weeks ago     4.43GB
envoyproxy/envoy-build-ubuntu        d9b1f1cbb24b2cecca768feaa9fa3c6e6660a948   3e93399b8711   3 months ago    4.48GB
envoyproxy/envoy-build-ubuntu        19a268cfe3d126253

[2021-06-18 07:34] phlax commented on #17000
i think i see the problem

the `run_envoy_docker` mounts your local build directory into the image - including the virtualenv used to create the docs

my guess is that the virtualenv has been created historically and is not working with the default python inside the image

i think either you need to remove the virtualenv and let it be recreated - or wait a few days until i have removed this code

[2021-06-18 07:44] ankatare commented on #17000
@phlax Ok. Thanks for help. let me check this  as well.

[2021-06-18 08:52] #16893 closed

[2021-06-18 08:52] surendarmsk1 commented on #16893
Closing as not required logs are available

[2021-06-18 09:01] surendarmsk1 opened #17032 "GKE console - How to view HPA autoscaling definition"
Hi,

I am looking to find an option on GKE console, where i can find the information on Pods HPA autoscalling information?
We are able to get the HPA info using "kubectl get hpa -n <namespace>" but trying to know how one can get this info from GKE console who don't want to use kubectl . I tried looking at Pod & Replicaset YAML configuration on console, but i am unable to find the HPA specification

[2021-06-18 10:35] liuqi-sun opened #17034 "The QUIC causes the process to crash"
![image](https://user-images.githubusercontent.com/48784730/122548390-de9b6e00-d063-11eb-84e0-c8dade325fd5.png)
envoy：v1.17.0
![image](https://user-images.githubusercontent.com/48784730/122548457-f7a41f00-d063-11eb-8f7f-30c33f3f6540.png)

[2021-06-18 11:18] Gurpartap commented on #16160
Hello @yanavlasov!

Since it's just a _draft_ proposal, I've since modified my implementation of it, to avoid using header keys with parenthesis.

Thank you for your kind attention.

- GS

[2021-06-18 11:39] sumitaneja opened #17036 "How to calculate sha256 digest of mesaage in lua filter"
Looking for way to calculate sha256 digest body, preferably reading body in chunks for large payloads.
is there any optimized API available to calculate digest as part of lua filter with istio

[2021-06-18 13:33] chrismacp commented on #3538
It's been a while since there was any updates here. It would be brilliant to have this or even know if it is being considered.

[2021-06-18 18:22] davinci26 opened #17045 "Support WASM on Windows"
*Title*: *Support WASM on Windows*

*Description*:

would be used.

Enable and validate WASM on Windows

[2021-06-18 18:23] davinci26 commented on #17045
@PiotrSikora @wrowe I know that you are on it but I have created an issue for tracking purposes. Let me know if there is anything I can help with the effort

[2021-06-18 18:23] davinci26 commented on #17045
See https://github.com/envoyproxy/envoy/pull/15252

[2021-06-18 18:57] mdeggies opened #17047 "Envoy docker images on ECR"
*Title*: Public envoy docker images on ECR

*Description*:
Now that [dockerhub is enforcing rate limits for unauthenticated pulls](https://www.docker.com/increase-rate-limits), pulling envoy images from dockerhub can cause issues for downstream projects. It would be great to have official envoy images published on [AWS ECR](https://gallery.ecr.aws/) as an alternative. This would let us (and probab

[2021-06-18 20:01] #16138 closed

[2021-06-18 20:01] #16332 closed

[2021-06-18 20:01] #16460 closed

[2021-06-18 20:11] david-yu commented on #17047
Hi there, I'm a Consul PM here (one of a few). We have found it a bit challenging to support AWS ECS for our use case with Envoy, and would love to see if the same Envoy image could be mirrored on the ECR repository. I just wanted to provide a bit more color here around this ask:

Currently external users of Envoy Proxy within a Service Mesh will be rate limited quickly by Docker Hub when pulling

[2021-06-18 21:45] #12340 closed

[2021-06-19 00:01] #16461 closed

[2021-06-19 02:25] ikonst opened #17050 "Prioritize route tracing config over runtime"
Currently runtime global sampling etc. settings are handled after connection manager tracing config and per-route tracing config, thus taking precedence. This probably wasn't meant to be this way, as it overrides the more-specific config (per route).

[2021-06-19 08:01] #12508 closed

[2021-06-19 09:46] #17032 closed

[2021-06-19 16:17] quenenni opened #17054 "Does Envoy do external requests to get info"
Hello,

I would like to know if Envoy proxy needs to query the structure of a type or a schema to an external server?
From https://github.com/envoyproxy/envoy/blob/main/examples/redis/envoy.yaml
[code]
From this, does Envoy need to query type.googleapis.com to get infos it needs?
Or is it only an internal filter reference in Envoy?

If it indeed needs to query the googleapis address, when will it

[2021-06-19 20:01] #16227 closed

[2021-06-20 04:01] #15727 closed

[2021-06-20 04:01] #16395 closed

[2021-06-20 04:01] #16473 closed

[2021-06-20 11:20] ramaraochavali opened #17056 "add support for drain and quit"
We have drain listener support in admin interface. We would like to enhance that to drain and quit with additional request parameter `/drain_listeners?graceful&quit` - The usecase is when proxy is  terminated via SIGTERM we want to drain and quit.

[2021-06-20 11:20] ramaraochavali commented on #17056
@howardjohn FYI

[2021-06-20 14:42] AliYouness opened #17057 "UDP listener"
Hi

I have tried to add envoy proxy with two listeners one for TCP and another one for UDP.  as in the below YAML file. unforntunatly
I was not able to test because always got the same error whatever update I did

Error
Recv failure: Connection reset by peer
* Closing connection 0
curl: (56) Recv failure: Connection reset by peer
*   Trying 0.0.38.173:80...
* Immediate connect fail for 0.0.38.173:

[2021-06-20 18:06] howardjohn commented on #17056
One issue with this is if we have no connections and immediately terminate, then there may be races form new requests. What we probably want is "start draining and exit when there are no connections left, with a minimum time of X seconds".

We may also need to make sure we don't get stuck from connection to control plane, etc. I guess that would just be "downstream connections" which would handle

[2021-06-20 20:09] nitgoy commented on #15325
Closing this issue with the following PR merged:
https://github.com/envoyproxy/envoy/pull/15519

[2021-06-20 20:09] #15325 closed

[2021-06-21 02:53] daixiang0 commented on #17057
You can try update all address with `0.0.0.0`

[2021-06-21 07:15] AliYouness commented on #17057
Dear Long Dai

as you can see all the addresses are 0.0.0.0 . still getting the same error

====================Console ==========================

Connected to 20.75.44.87 (20.75.44.87) port 80 (#0)

* Recv failure: Connection reset by peer
* Closing connection 0
curl: (56) Recv failure: Connection reset by peer
==============================================

====================Yaml File =======

[2021-06-21 07:17] AliYouness commented on #17057
Dear Dai

also the admin Web UI is not working

curl -v 20.75.44.87 8001
*   Trying 20.75.44.87:80...
* Connected to 20.75.44.87 (20.75.44.87) port 80 (#0)

* Recv failure: Connection reset by peer
* Closing connection 0
curl: (56) Recv failure: Connection reset by peer
*   Trying 0.0.31.65:80...
* Immediate connect fail for 0.0.31.65: No route to host
* Closing connection 1
curl: (7) Couldn't con

[2021-06-21 07:20] daixiang0 commented on #17057
[code]
try `curl -v 20.75.44.87:8001`

[2021-06-21 07:30] AliYouness commented on #17057
Dear Long

curl -v 20.75.44.87:8001 take too much time to execute. is there any way to trace what is going on behind the scene

curl -v 20.75.44.87:8001
*   Trying 20.75.44.87:8001...
* Connected to 20.75.44.87 (20.75.44.87) port 8001 (#0)

* Recv failure: Connection reset by peer
* Closing connection 0
curl: (56) Recv failure: Connection reset by peer

________________________________
From: Long

[2021-06-21 07:31] AliYouness commented on #17057
Dear long

please find below the admin section configuration

admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 8001

best regards

________________________________
From: Long Dai ***@***.***>
Sent: Monday, June 21, 2021 10:20 AM
To: envoyproxy/envoy ***@***.***>
Cc: AliYouness ***@***.***>; Author ***@***.***>
Subject: Re: [envoyproxy/envoy] UDP listener (#17057)

cur

[2021-06-21 07:33] AliYouness commented on #17057
Dear long Dai

is there any working can i try with

best regards,
Ali

________________________________
From: Long Dai ***@***.***>
Sent: Monday, June 21, 2021 5:53 AM
To: envoyproxy/envoy ***@***.***>
Cc: AliYouness ***@***.***>; Author ***@***.***>
Subject: Re: [envoyproxy/envoy] UDP listener (#17057)

You can try update all address with 0.0.0.0

—
You are receiving this because you authored the

[2021-06-21 07:38] daixiang0 commented on #17057
Try localhost:8001 or 127.0.0.1:8001, if both failed, please check envoy log.

[2021-06-21 07:53] AliYouness commented on #17057
Hi

how I can check the log. please note that i have deployed in azure

best regards

________________________________
From: Long Dai ***@***.***>
Sent: Monday, June 21, 2021 10:39 AM
To: envoyproxy/envoy ***@***.***>
Cc: AliYouness ***@***.***>; Author ***@***.***>
Subject: Re: [envoyproxy/envoy] UDP listener (#17057)

Try localhost:8001 or 127.0.0.1:8001, if both failed, please check envoy log.

[2021-06-21 08:58] phlax commented on #17057
@AliYouness please enclose all code, logs, configs etc in ` ``` ` - it will make it much easier to read

[2021-06-21 09:24] AliYouness commented on #17057
Dear phlax

please find the code in the attached folder. my business case is to set up an envoy proxy in front of two azure containers Instance. with the ability to either TCP and UDP downstream binding

best regards

________________________________
From: phlax ***@***.***>
Sent: Monday, June 21, 2021 11:58 AM
To: envoyproxy/envoy ***@***.***>
Cc: AliYouness ***@***.***>; Mention ***@***.***>
Sub

[2021-06-21 13:06] soulxu commented on #17054
it won't query `type.googleapis.com`, it is just a URL of type `type.googleapis.com/envoy.extensions.filters.network.redis_proxy.v3.RedisProxy`. Then the protobuf will know what type of message you want to unpack.

[2021-06-21 14:32] alyssawilk commented on #14587
So Matt and I I discussed this offline and think the way to go about this is have a per-route scheme modifier, as we do for host and path, and also have a per-HCM option to set scheme.  I think for ESPv2 you'd just set that to https, and get the behavior you want.   Does that sound reasonable?

[2021-06-21 15:32] zili55 opened #17066 "Question: It is possible to change http to https in response location header?"
Hello Guys!

I would like to use envoy as reverse proxy.  I'm trying to do tls termination for a http service (plantuml) according to this config:

[code]
cds.yaml:
[code]
Welcome page https://plantuml.example.com:10000 is working:
[code]
But when I click on something on the page it returns a new location with http... and then page just breaks.
[code]
How should I modify my config to return always

[2021-06-21 15:36] quenenni commented on #17054
@soulxu

Perfect.
Thank you for your help.

[2021-06-21 15:36] #17054 closed

[2021-06-21 16:00] alyssawilk opened #17067 "flake on IpVersions/AdmissionControlIntegrationTest.GrpcTest/1 in admission_control_integration_test"
@tony612 could you take a look?

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/79778/logs/271

2021-06-21T15:29:48.9188031Z external/envoy/test/extensions/filters/http/admission_control/admission_control_integration_test.cc:162: Failure
2021-06-21T15:29:48.9188947Z The difference between throttle_count / request_count and 0.80 is 0.056666666666666643, which exc

[2021-06-21 16:07] alyssawilk commented on #16309
I think we'll want it on by default, and we can add a knob to configure it off if they want to. If we want to flag it off, I think we'd do so in the dns resolver, since that's where we currently scope down from N hosts to 1 host.

[2021-06-21 16:39] alyssawilk commented on #17066
sorry can you clarify if Envoy is returning the redirect or if your upstream is?

[2021-06-21 16:41] alyssawilk commented on #16820
@dmitri-d thoughts?

[2021-06-21 16:42] alyssawilk commented on #16917
cc @adisuissa

[2021-06-21 16:42] alyssawilk commented on #16950
It would definitely be nice to have, but I'm not sure anyone with understanding of the system has the cycles to do it :-/
cc @phlax

[2021-06-21 16:45] alyssawilk commented on #16970
I think this answers your question :-)

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#per-route-configuration

[2021-06-21 16:46] alyssawilk commented on #16971
cc @gbrail @snowp

[2021-06-21 16:50] alyssawilk commented on #16986
not my area but you could potentially add a header to that route and not log based on header filter?  alternately doing route based filtering would make sense so if there's not a way to do that and you're willing to do the addition that'd be welcome

[2021-06-21 16:51] alyssawilk commented on #16991
cc @ggreenway

[2021-06-21 16:52] alyssawilk commented on #17003
what platform are you using?  worst case there's --//bazel:http3=False which should compile out all the HTTP/3 code

[2021-06-21 16:53] alyssawilk commented on #17004
cc @PiotrSikora @mathetake @lizan

[2021-06-21 16:54] alyssawilk commented on #17034
sorry can you give a bit more detail?  Were you running with one of the sample configs and standard traffic?

[2021-06-21 17:27] alyssawilk commented on #17047
I don't think any projects here would object, but I suspect it's an issue of 1) doing the work and 2) making sure there's funding (I assume anything with unlimited downloads isn't free but correct me if I'm wrong).  If you folks are up for doing (1) and can confirm if (2) is  thing I can reach out to CNCF folks about budgeting.

[2021-06-21 17:29] alyssawilk commented on #17016
Thanks for the report.  Can you send trace logs of this issue?  I suspect you're hitting a different timeout somewhere

[2021-06-21 17:33] dmitri-d commented on #16820
@alyssawilk:  will do

[2021-06-21 17:35] jstewmon commented on #16991
Before I realized support had been dropped, I tried configuring the upstream TLS context to support `ECDHE-ECDSA-AES128-SHA`. Envoy seems to silently ignore this configuration and falls back to the default. I'd expect a warning if some cipher suites aren't supported and an error if none of them are supported.

[code]

[2021-06-21 17:54] ggreenway commented on #16991
That's very surprising to me. Can you check if there was anything in the logs about this when you ran with that configuration?

[2021-06-21 18:04] jstewmon commented on #16991
This is the info log including one request:
[code]

This is the cluster configuration:
[code]

[2021-06-21 18:05] jstewmon commented on #16991
I'm running envoy in docker with the `envoy-alpine:v1.18.3` image.

[2021-06-21 18:31] ggreenway commented on #16991
Huh, not sure why it's not working as expected. I would have expected to hit this error: https://github.com/envoyproxy/envoy/blob/1aa65ac88e9888127fe795e3ecb4c1bbc36534bf/source/extensions/transport_sockets/tls/context_impl.cc#L134

[2021-06-21 18:52] freddygv commented on #17016
Here you go @alyssawilk. They're from docker-compose so the logs from different containers are interleaved, but prefixed by the container name.

The server app is configured to respond in ~30s.

Sandbox: https://github.com/freddygv/Envoy-respect_expected_rq_timeout-issue/

[code]

[2021-06-21 18:56] antoniovicente commented on #8925
We should look at how libevent handles this case.  I think that the two cbs would need to be registered with the same event loop, so it seems possible to ASSERT that there is at most 1 active registration per fd.  That said, the refactoring to internalize file events inside IoHandles does result in an ASSERT failure when IoSocketHandleImpl::initializeFileEvent is called twice on an IoHandle withou

[2021-06-21 19:15] dmitri-d commented on #16820
Opened a PR: https://github.com/envoyproxy/envoy/pull/17068

[2021-06-21 19:29] lizan commented on #16788
Yes it is set intentionally for CI purpose. But we're open to change it to more explicit way by specifing `--test_tmpdir` and `--output_base`. In CI environment the idle secs should be small as well.

[2021-06-21 19:57] alyssawilk commented on #17016
Looks like you're hitting a different timeout

�[server-proxy_1  |�[0m [2021-06-21 18:43:25.401][16][debug][http] [source/common/http/filter_manager.cc:883] [C0][S14324767371825436092] Sending local reply with details upstream_response_timeout

[2021-06-21 20:13] freddygv commented on #17016
I'm not sure what to make of that

Upstream response timeouts are tied to the route timeout: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-upstream-rq-timeout-ms

I updated the route config on the server proxy to be 11s and the client requests are now timing out at 11s with the same error/logs.

Unless I'm misunderstanding, this seems like the is

[2021-06-21 20:32] freddygv commented on #17016
New trace logs after dropping the route timeout on the server proxy to 11s:

[code]

Seeing this same pattern where the expected timeout diverges when I would expect them to be the same:
[code]

[2021-06-22 00:21] daixiang0 commented on #16981
Update [link](https://docs.google.com/document/d/1k2wyZo1pGr8_jaxd7wfpPHctR47bhQgk8E5gFl1HJLU/edit?usp=sharing).

[2021-06-22 02:55] #13229 closed

[2021-06-22 03:19] liuqi-sun commented on #17034
Does v1.17.0 support QUIC？

[2021-06-22 03:41] liuqi-sun commented on #17034
# An example config which accepts HTTP/1 requests over TCP and forwards them to google using HTTP/3
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000
    f

[2021-06-22 03:42] liuqi-sun commented on #17034
`# An example config which accepts HTTP/1 requests over TCP and forwards them to google using HTTP/3
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000

[2021-06-22 03:43] liuqi-sun commented on #17034
**# An example config which accepts HTTP/1 requests over TCP and forwards them to google using HTTP/3
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000

[2021-06-22 03:44] liuqi-sun commented on #17034
`# An example config which accepts HTTP/1 requests over TCP and forwards them to google using HTTP/3
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000

[2021-06-22 03:45] liuqi-sun commented on #17034
# An example config which accepts HTTP/1 requests over TCP and forwards them to google using HTTP/3
admin:
  access_log_path: "/dev/null"
  address:
    socket_address:
      protocol: TCP
      address: 0.0.0.0
      port_value: 9901
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 0.0.0.0
        port_value: 10000
    f

[2021-06-22 03:46] liuqi-sun commented on #17034
client request：sudo curl 127.0.0.1:10000/
curl: /usr/lib/x86_64-linux-gnu/libcurl.so.4: no version information available (required by curl)
curl: (52) Empty reply from server

[2021-06-22 03:49] liuqi-sun commented on #17034
![image](https://user-images.githubusercontent.com/48784730/122860178-de46ef80-d34f-11eb-93b7-75dc014cbd1e.png)
![image](https://user-images.githubusercontent.com/48784730/122860199-e6069400-d34f-11eb-892e-8b6699067046.png)

[2021-06-22 05:18] zili55 commented on #17066
sure, my upstream returns that non http location I think

[2021-06-22 05:29] zili55 commented on #17066
#10259

[2021-06-22 09:07] shamsimam opened #17073 "Question: Does cert reload via SDS trigger request draining?"
*Title*: Does cert reload via SDS trigger request draining and GoAway frames on HTTP/2 requests?

*Description*:

We have Jetty http/2 downstream clients that make gRPC requests to an upstream backend via Envoy. We are currently using Envoy hot-reloads to trigger picking up new certificates managed in a [CommonTlsContext](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sock

[2021-06-22 11:01] rojkov commented on #11720
The absl::Hash functor adds hashing support for a type which is controlled by us and hashing implies the type needs to be instantiated. I added hashing support to `Envoy::Http::LowerCaseString` and added benchmarks to compare absl::Hash-based hahsing and the existing djb2-based functor in https://github.com/rojkov/envoy/pull/2.

The results for djb2-based functor:
[code]
For absl::Hash
[code]

The

[2021-06-22 11:27] zili55 commented on #17066
![image](https://user-images.githubusercontent.com/2980863/122916795-916a1580-d35d-11eb-8389-f40de819f8c6.png)
POST request is OK, but GET returns a https request....

[2021-06-22 13:03] alyssawilk commented on #17066
Yeah, Envoy doesn't have a built in way to swap the contents of the location header.  You might be able to do so with lua or wasm, or write your own custom HTTP filter.

[2021-06-22 14:30] remyleone opened #17082 "add `go_package` option to all protobuf files"
I’m trying to compile some protobuf messages defined in envoy and I get warnings during the compilation. Could it be possible to add a go_package  option on all the envoy API protobuf? The same way that it is defined for java?

[code]

[2021-06-22 14:36] alyssawilk commented on #17034
I don't think QUIC went alpha until after the release was cut.  I can't reproduce at HEAD so please try with that.

[2021-06-22 14:38] #16881 closed

[2021-06-22 14:38] phlax commented on #17000
@ankatare closing this as its no longer required to have pip/venv - requirements are now handled by bazel (since #15229 landed)

[2021-06-22 14:38] #17000 closed

[2021-06-22 15:04] nulltrope commented on #16986
@alyssawilk yup that's actually what I ended up doing. Added a special header on the route and filter based on that header in the access logs. Unfortunately this solution feels a little hacky to me, and I do still think it would be valuable to have a way to properly filter access logs by route (whether that's by route name explicitly, or using route metadata)

[2021-06-22 15:55] alyssawilk commented on #17082
cc @htuch  @adisuissa @phlax

[2021-06-22 15:59] mdeggies commented on #17047
Hey @alyssawilk, we are up for doing the work! We'd just need to set up a new AWS account to host the images in ECR, claim the namespace, setup the repo, and update the CI pipeline to tag and push to the repo.

As for pricing, ECR offers "50 GB-month of always-free storage for your public repositories. You can transfer 500 GB of data to the internet for free from a public repository each month ano

[2021-06-22 16:01] htuch commented on #17073
Correct, SDS does not drain, it jsut updates the certificates for the next handshake.

[2021-06-22 16:06] remyleone commented on #17082
I don't mind doing the PR if I get some guidance about how to do it.

[2021-06-22 16:17] mmayeda opened #17085 "x-b3-sampled header always set to 1 in ext_authz request"
The ext_authz envoy filter seems to always use an x-b3-sampled header value of 1 even after setting the`HttpConnectionManager.tracing.random_sampling` to a value of 0.0.  Is there some global sampling configuration being used by the filter that I was unable to find in the docs or is this unexpected behavior?

Incoming requests do not have the `x-client-trace-id`, `x-envoy-force-trace`, or `x-b3-sa

[2021-06-22 16:20] kyessenov commented on #17082
Have you used envoyproxy/go-control-plane? The go_package is not mandatory and is auto-generated. The problem with custom go_package is that Golang does not allow import of the same proto under two packages.

[2021-06-22 16:24] lizan commented on #16866
I did it in a hacky way to derive the binary, the recipe is https://github.com/tetratelabs/getenvoy-package/issues/35#issuecomment-541380474 . We should be able to do that in CI if it is desired.

[2021-06-22 16:24] remyleone commented on #17082
Yes indeed, here is my buf configuration

[code]

[2021-06-22 16:46] phlax commented on #16866
@lizan any thoughts about the best way forward on this ?

im tempted to initially just copy the binary into the repo - and then open a ticket re adding build instructions etc

[2021-06-22 16:58] alyssawilk commented on #2545
I think it may not be clear, but while Envoy is an open source project, none of the senior maintainers address feature requests by other companies.  We're all employed full time for our own companies, and adding what our employers want to add.  If Google and Lyft and Apple and so on don't need this feature, the folks triaging issues aren't going to pick it up.  We do welcome additions to the code

[2021-06-22 16:58] #2205 closed

[2021-06-22 16:58] #2580 closed

[2021-06-22 17:08] davinci26 commented on #15819
closed via #16643

[2021-06-22 17:08] #15819 closed

[2021-06-22 17:12] christian-roggia commented on #16629
For anyone interested in this issue or willing to help you can find a sample repository here to reproduce the unexpected behavior:
https://github.com/christian-roggia/envoy-16629

[2021-06-22 17:47] davinci26 opened #17089 "Support Hot Restart on Windows"
*Title*: *Support Hot Restart on Windows*

*Description*:

Hot restart is needed to support service mesh providers that want to update Envoy Proxy without dropping connections.

[Docs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/hot_restart.html?highlight=hot%20restart)

[2021-06-22 17:49] davinci26 commented on #17089
I don't have the capacity to take this item for now. If anyone wants to get their hands dirty with some Windows development, I would be really happy to support them out

[2021-06-22 18:04] tonya11en commented on #17067
Looking into it this afternoon.

[2021-06-22 18:12] #16951 closed

[2021-06-22 18:55] zthomas2 opened #17091 "Can't get the original_src filter to work"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
Envoy works correctly without the filter, but when I add the filter as described [here](https://www.envoyproxy.io/docs/envoy/latest/configurat

[2021-06-22 18:56] tbarrella commented on #16350
Hi @mattklein123, were you still planning to look at this (did you mean considering what approach is best, or writing code for it)? I haven't been giving priority to this myself...

[2021-06-22 19:28] alyssawilk commented on #17091
If you follow the instructions here:
https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_envoy_sending_internal_responses
it may help you narrow down what's happening.

[2021-06-22 19:34] zthomas2 commented on #17091
Thanks for the quick reply! I did do that actually, that's how I got the `upstream_reset_before_response_started{local reset}` response; before adding that it was just returning a 503.

I'm not able to get trace logging turned on, mostly because this was set up to use the hot restarter thing in docker and I'm not sure how to pass command line arguments through to the envoy process when that is the

[2021-06-22 19:36] travisgroth commented on #16881
Thanks @alyssawilk - what's the soonest release that could make into?

[2021-06-22 20:03] alyssawilk commented on #17091
argh.  it's not my area but I'm pretty decent with trace logs.  At a guess Envoy is resetting the connection because something's wrong with permissions but without logs I'm less sure of what. Maybe @klarose has other ideas?

[2021-06-22 20:20] alyssawilk commented on #16881
We do releases on a quarterly basis so it made the cut for 6/30 (give or take 3 weeks)

[2021-06-22 20:34] travisgroth commented on #16881
Okay thanks.  Any chance this be nominated for backport to supported releases?  We're on 1.17 right now and would love to be able to restore our error context without having to jump to 1.19 too quickly.

[2021-06-22 20:36] klarose commented on #17091
@zthomas2

I notice in the configuration you shared that you're setting the `mark` for the original_src filter to 0. As mentioned in the config you linked, that means that Envoy will not mark the upstream packets at all. Perhaps the note should have been more explicit, but without marking the packets, the suggested iptables configuration will not work.

It may help to understand how the routing wo

[2021-06-22 22:43] gbrail commented on #16971
Implementation continues. Streaming body mode is in progress in https://github.com/envoyproxy/envoy/pull/17069, and another contributor is working on metadata support. Those are the two missing pieces to making the filter feature-complete, plus some smaller things like route-specific configuration. Work on writing fuzz tests is also happening.

After that I know that there is work required to move

[2021-06-23 00:35] lum1n0us commented on #17003
a docker image with tag **envoyproxy/envoy-build-ubuntu:a17abfad9c6c61d4175216769299c0623a60149f**
source code is envoyproxy/proxy/main branch, commit f53144271261d116b1b377b79893857f5080d04f

[2021-06-23 02:47] snowp opened #17097 "Coverage flake in //test/extensions/filters/http/jwt_authn:filter_integration_test"
https://dev.azure.com/cncf/envoy/_build/results?buildId=79975&view=logs&jobId=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881&s=4735f34d-f4c8-5014-59d3-e506321c9f00

https://dev.azure.com/cncf/envoy/_build/results?buildId=79328&view=logs&jobId=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6

[2021-06-23 03:06] liuqi-sun commented on #17034
sorry. I don't understand what you're saying. I use envoy v1.17.0, Does v1.17.0 support QUIC？

[2021-06-23 05:10] daixiang0 commented on #4952
What about the process of replacement now? I do not find final conclusion here.

[2021-06-23 07:18] anatzadik commented on #16971
Thanks Greg for you detailed response.
Is there a rough estimation for when the filter will move to a non-alpha status?

[2021-06-23 07:58] amitkatyal opened #17099 "TCP connect only health check for SSH application"
TCP health checks are connect-only, if "send" is an empty payload as per the envoy documentation.
{
  "send": "{...}",
  "receive": []
}

For ports 80 & 443, we confirmed that the envoy is stopping the health check immediately after the three-way handshake.
However, for the SSH application, we observed that the envoy proxy is trying to create an SSH connection & since the server is not allowing th

[2021-06-23 10:27] timonwong opened #17100 "Unable to build arm64 binaries (segfault during v8 bytecode_builtins_list_generator)"
Hello,
I'm encountering a strange error when building arm64(aarch64) binaries (It's worked for amd64 build though):

Using following command from https://github.com/envoyproxy/envoy/tree/main/ci#on-linux:
[code]

And during wee8 building, there is a strange error:

[130/1236] CXX obj/third_party/inspector_protocol/crdtp/cbor.o
[131/1236] LINK ./bytecode_builtins_list_generator
[132/1236] ACTION //

[2021-06-23 11:51] liuqi-sun opened #17101 "build error"
![image](https://user-images.githubusercontent.com/48784730/123091758-4e429c00-d45c-11eb-9a5f-3c50b1c3b119.png)
I google said it was a GCC bug. Please help me

[2021-06-23 12:10] zthomas2 commented on #17091
Thanks for the suggestion @klarose, I will look into it and let you know how it goes!

[2021-06-23 13:06] techpavan opened #17103 "INVALID_ARGUMENT:(dns_cache_config) dns_resolution_config: Cannot find field."
*Description*:

Error seen:
Unknown field: type envoy.config.bootstrap.v3.Bootstrap reason INVALID_ARGUMENT:(dns_cache_config) dns_resolution_config: Cannot find field.

After multiple attempts to resolve the above error in my config file, found that the same error is occurring with the configuration documented here: https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynam

[2021-06-23 13:09] alyssawilk commented on #17034
It does not, sorry

[2021-06-23 13:26] alyssawilk commented on #16881
Unfortunately we generally only backport security/reliability fixes - we're mostly volunteer staffed and so have limited cycles.  I don't think we even have someone signed up for backports for Q3 so if someone on your side wants to help out you could definitely backport this along with the PRs in backport SLO ;-)

[2021-06-23 13:33] phlax opened #17105 "Default Envoy config no longer works"
### description

sometime ago we switched the default Envoy config (eg included in the docker images) from pointing to google.com -> www.envoyproxy.io

there were a couple of reasons for shifting - one was that the google example stopped working (due to CSP i think) - where you request an `http` page that proxies to an `https` page

at the time proxying to the www.envoyproxy.io domain worked fine

[2021-06-23 13:34] phlax commented on #17105
cc @alyssawilk @mattklein123

[2021-06-23 13:43] alyssawilk commented on #17103
unfortunately you're looking at the lastest config - that field is supported at head and will be in 1.19 (cut in a few weeks) but is not in 1.18.

https://github.com/envoyproxy/envoy/blob/main/docs/root/version_history/current.rst

[2021-06-23 13:43] #17103 closed

[2021-06-23 13:45] travisgroth commented on #16881
Understood.  Thank you.

[2021-06-23 13:47] alyssawilk commented on #17085
quick question - what makes you think this is ext_authz?  a quick grep of the code has both opencensus and zipkin tracers adding this header but I don't see ext_authz doing so in the Envoy code base?

[2021-06-23 13:51] alyssawilk commented on #17031
cc @qiwzhang @lizan

[2021-06-23 13:52] alyssawilk commented on #17099
Not my area, but I would expect that if you can't do a TLS connection to a TLS upstream that the health check would fail.

[2021-06-23 13:57] alyssawilk commented on #17105
huh.  think we should just switch back to google?  I'm not sure what prompted the change but we have to use google for the equivalent HTTP/3 config (since envoyproxy doesn't have that turned up) so it'd both work and be consistent

[2021-06-23 13:59] alyssawilk commented on #17003
yeah, that's weird, I don't remember the H3 build having any problems around then.  have you tried building without H3 (with the flags above) to see if that helps?

[2021-06-23 14:01] phlax commented on #17105
preferably not - apart from anything else it would be good to know why it doesnt work

2 reasons iirc
- making things less vendor specific - ie less lyft/google etc
- it no longer worked - or at least the initial request worked - but you got a big borked overlay and streaming errors in browser console

hmm - i guess in that case its necessary - but in a way it would be good if we could point it to

[2021-06-23 14:04] phlax commented on #17105
or maybe a smiley welcome page on something like `http3.envoyproxy.io` that was http3 enabled

[2021-06-23 14:04] soulxu commented on #16987
is it can be dumped by admin API https://www.envoyproxy.io/docs/envoy/latest/api-v3/admin/v3/config_dump.proto#admin-v3-configdump? then you would have a daemon to dump the config(periodically, but may have stale config), then the envoy restart with the dump config.

[2021-06-23 14:07] phlax commented on #17105
cloudflare has quic/http3 support https://blog.cloudflare.com/http3-the-past-present-and-future/ so we could do it with that

[2021-06-23 14:07] techpavan commented on #17103
Thanks for letting me know on this. Any idea when would it be available on nightly build? Looks like `nightly` is older than `stable`.

ba2b536d790899710ca76e0e359f7ea43431982b/1.19.0-dev/clean-getenvoy-b76c773-envoy/RELEASE/BoringSSL

[2021-06-23 14:13] alyssawilk commented on #17047
I checked with our awesome CNCF folks and they told me that docker has ratelimit exceptions for OSS projects.  He said they'll look into getting this sorted out, so hopefully we can fix without a bunch of work and switching download platforms.  I'll update here when I hear back from them, but feel free to ping back if you haven't heard in a week or so.

[2021-06-23 14:24] klarose commented on #5155
@asraa Do you know offhand whether or not this new parser implementation will allow Envoy to support custom methods for http 1.1? I'm having to bypass the http layer of envoy in my cluster for a service whose protocol (over which I have no control) uses non-standard http methods. That is quite unfortunate.

I took a quick gander at the llhttp code, and it looked like it may have a similar restrict

[2021-06-23 14:34] alyssawilk commented on #17103
I think we push from head pretty frequently.
https://hub.docker.com/u/envoyproxy looks like most builds have been updated within 2 hours?

[2021-06-23 14:50] amitkatyal commented on #17099
Thanks, @alyssawilk,
It is not doing TLS. Please find below the health check capture dump.

![image](https://user-images.githubusercontent.com/42130809/123118661-7633fe80-d460-11eb-855b-7a11dbdf450d.png)

[2021-06-23 14:54] techpavan commented on #17103
Does not seem like the same case for Ubuntu. The one in nightly is from April 30.

[2021-06-23 15:00] alyssawilk commented on #17099
apologies, somehow misread ssh as ssl.
"we observed that the envoy proxy is trying to create an SSH connection"
I don't recall Envoy having SSH functionality.  Is this a trace of envoy at *.193 doing a health check to an scp server at .215?  What payload is it sending?

[2021-06-23 15:03] rojkov opened #17106 "Allow custom values of CMAKE_BUILD_TYPE"
*Title*: *Allow custom values of CMAKE_BUILD_TYPE*

*Description*:
Currently Envoy's build system sets `CMAKE_BUILD_TYPE` to `Bazel` unconditionally (since #8280). Yet some CMake-based dependencies modify e.g. defines or CFLAGS for different build types. The conventional values are `Debug`, `Release`, `RelWithDebInfo` etc.

It would be nice for debug purposes (or for enabling optimizations) to ove

[2021-06-23 15:13] zili55 commented on #17066
This how I replacing location header:

[code]
`replaceHttpToHttpsInLocale.lua` contains the following code:
[code]

[2021-06-23 15:13] #17066 closed

[2021-06-23 15:17] zili55 commented on #17066
btw I removed `response_headers_to_add` / `request_headers_to_add` / `internal_redirect_policy` / `use_remote_address` from my config

[2021-06-23 15:21] alyssawilk commented on #17103
https://hub.docker.com/r/envoyproxy/envoy-build-ubuntu Updated 15 days ago?
If that's not what you're looking for I probably can't help sorry, I build from source myself :-/

[2021-06-23 15:36] phlax commented on #17105
checking this further...

there is an http3 downstream - which proxies to envoy - which i struggled to get working - but even if i had i guess it will hit the same issue raised here

there is an http3 upstream - which works (doesnt even bork wierdly) proxying via http3

as an aside it would be v good to get some http3 sandboxes set up

im gonna mark this high priority - because the docs and docker

[2021-06-23 16:02] amitkatyal commented on #17099
Yes, attached is the TCP capture of the envoy doing the health check at 10.194.194.193:22.
We have configured TCP health check every 60 seconds and the same can be confirmed from the TCP capture.

For TCP port 80, the envoy is only doing the three-way handshake. Please find below the TCP dump.
![image](https://user-images.githubusercontent.com/42130809/123130499-6e795780-d46a-11eb-94d0-4d8acc906f7

[2021-06-23 17:37] silentz commented on #11515
Same opposite issue: ratelimit also does not work when `use_remote_address=false` and `x-forwarded-for` header is set.

[2021-06-23 17:41] alyssawilk commented on #17106
cc @lizan @phlax

[2021-06-23 17:44] belyalov opened #17109 "Listener drops all connections when per filter config updated with RDS"
*Title*: *Listener drops all connections when per filter config updated with RDS*

*Description*:
Having simple working setup:
[code]
Everything works well, including updates sent by XDS to Envoy while there is no "per vhost filter config overrides" - envoy successfully and without any impact to traffic able to update route configuration.

However, if route configuration **contains** per virtual h

[2021-06-23 19:54] zthomas2 commented on #17091
I have made the iptables changes as described in the documentation. As an aside, the documentation states that `If Envoy and the upstream are on the same host – e.g. in an sidecar deployment –, then iptables and routing rules can be used to ensure correct behaviour.` This implied to me that those iptables changes would not be needed and/or be irrelivant to a deployment where envoy and the backend

[2021-06-23 21:24] gopakumarce commented on #12542
@brantlk any luck finding a solution to this ? I'm having exactly the same problem - https://github.com/istio/istio/issues/33416

[2021-06-23 21:26] klarose commented on #17091
I didn't get in to this in my first reply, but the remote side also needs to route the responses back properly.  How is the network between envoy and the usptream set up? Will the upstream route responses to these source IPs back to the machine hosting envoy? Or will it send them back out to the internet?

[2021-06-23 21:36] brantlk commented on #12542
@gopakumarce No, I never did find a fix for this. The application developers providing the services on the platform must have worked around it by changing their clients or servers so that they're closing connections.

[2021-06-23 21:38] antoniovicente commented on #12542
@gopakumarce I posted the following answer to your bug in the istio component.

cc @yanavlasov

I think that an issue you may be running into is that http2_protocol_options needs to be applied not only to listeners, but also to cluster configs. The listeners are probably getting the right config and sending small window settings to downstream clients, but the clusters are still advertising very la

[2021-06-23 22:12] antoniovicente commented on #4952
I think this issue should be closed.  We are not considering moving away from libevent at this time.

[2021-06-23 22:44] tonya11en commented on #17067
So I think what's going on here is that #16742 added the default upper-bound of 80% on rejection probability, which results in a slower convergence of the observed rejection rate to what we expect. I hacked up a script to see the variability of the error for 300 requests across 1000 tests:
![figure_1](https://user-images.githubusercontent.com/1109246/123176984-4a515280-d439-11eb-8441-9fd1d0032970.

[2021-06-23 22:45] #4952 closed

[2021-06-23 23:02] ashwinkupatkar opened #17115 "How do i install envoy 1.16.4 ?"
[code]

gives me above result. How can i install envoy-1.16.4 ? Any leads on this issue ?

[2021-06-23 23:31] gbrail commented on #16760
I have a working PR, with working tests for this now:

https://github.com/envoyproxy/envoy/pull/17069

It works using the idea "3" from up top:

1) As data callbacks come in to the filter, it "moves" the data into a new buffer, which it dispatches via gRPC message to the external processor, and then keeps in a queue.
2) As a result, filters farther down the chain see empty buffers in their data ca

[2021-06-23 23:47] marcosrmendezthd opened #17116 "network auth filter example"
*Description*:

The docs do have a partial [example](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/ext_authz_filter#config-network-filters-ext-authz). However it's not clear to me whether I can use this before a tcp proxy or just the http router.

[2021-06-24 01:29] pablote commented on #11551
I'm running into this same issue trying to run Envoy on Cloud Run. Did you got it working?

[2021-06-24 02:22] lum1n0us commented on #17003
yes, it happens again.

it seems like Bazel generates two same outputs at different directories and the linker will look for symbols at both place and will trigger a multiple definition error.

`bazel-out/k8-dbg/bin/source/` (include common are server) and `bazel-out/k8-dbg/bin/external/envoy/source/` (include common and server, too)

[2021-06-24 02:47] daixiang0 commented on #17101
please share env details(envoy version, clang/gcc version and so on)

[2021-06-24 03:16] liuqi-sun commented on #17101
![image](https://user-images.githubusercontent.com/48784730/123196989-6eff0600-d4dd-11eb-9c07-fea85abd5c30.png)
envoy main branch，The latest version
bazel build -c opt //source/exe:envoy-static --jobs 4

[2021-06-24 03:20] liuqi-sun commented on #17034
Do I need to use the latest version?

[2021-06-24 05:32] SHUFIL opened #17121 "Not feching envoy with backend if I use ssl for grpc grpc-web"
Not feching envoy with backend if I use ssl for grpc grpc-web , But if i use without ssl envoy , it getting correctly both grpc and grpc-web. envoy using 1.18 version, and forcely using http2, always getting below error

[code]

backend working with 172.20.120.201:8081 IP and port
Below I'm using envoy conf with ssl

[code]

[2021-06-24 05:40] muhaarif commented on #17121
Even k8 also getting same error, it's using NLB with ACM , domain name pointed with router53. If anybody resolved this issue, please reply it.

[2021-06-24 06:03] AliYouness commented on #17057
Dears

Kind reminder

Sent from my iPhone

[2021-06-24 06:42] techpavan commented on #17103
Was under a belief that GetEnvoy was an official distribution and referring to that: https://www.getenvoy.io/install/envoy/ubuntu/

Have raised a bug with them: https://github.com/tetratelabs/getenvoy-package/issues/121

Thanks for the quicker assistance on this.

[2021-06-24 07:14] gmessalem opened #17123 "ext_proc filter - immediate_response"
hi,
in version v1.18.2, we've encountered the following behavior:
![Screen Shot 2021-06-24 at 10 11 55](https://user-images.githubusercontent.com/10658282/123218631-a2896280-d4d4-11eb-9a8a-6908f2181746.png)

we expect that the upstream server should not be getting any request in such a case.
please advise.

thanks,
-Guy.

[2021-06-24 07:42] liuqi-sun opened #17125 "Failed to use V1.18.3 QUIC"
Two questions：
1、QuicUpstreamTransport is fail
The configuration file：google_com_http3_upstream_proxy.yaml
error：
lq@ubuntu:~/work/go/bin/quic-go/example/client$ sudo curl 192.168.71.135:10000/
curl: /usr/lib/x86_64-linux-gnu/libcurl.so.4: no version information available (required by curl)
upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failu

[2021-06-24 07:46] liuqi-sun commented on #17034
Does v1.18.3 support QUIC？I failed to use Envoy v1.18.3.

[2021-06-24 08:56] phlax opened #17126 "Ensure sandbox docs show correct git clone version for envoy repo"
### description

Currently if you go to test the sandboxes with an historical version - the dependencies tell you to clone envoy at `main` `HEAD`

(eg see https://www.envoyproxy.io/docs/envoy/v1.18.3/start/sandboxes/setup#clone-the-envoy-repository)

Some of the examples in main wont work correctly with specific versions, so these docs should show to clone the specific version from the repo, and p

[2021-06-24 11:17] liuqi-sun opened #17128 "clang build error"
![image](https://user-images.githubusercontent.com/48784730/123255989-06d31300-d523-11eb-936c-91c4b118bbd8.png)

![image](https://user-images.githubusercontent.com/48784730/123254265-076aaa00-d521-11eb-9794-117e194fbe3c.png)

 bazel build --config=clang -c opt //source/exe:envoy-static --define tcmalloc=gperftools --jobs 4
![image](https://user-images.githubusercontent.com/48784730/123254100-d38f8

[2021-06-24 11:58] gmessalem commented on #17123
after checking the dev version v1.19, we see that this issue has been fixed.

[2021-06-24 11:58] #17123 closed

[2021-06-24 13:58] rtttech opened #17130 "how to make routing choice in wasm filter?"
I want to make routing choice according http body content in wasm filter, how can I achieve that?

[2021-06-24 14:45] qinggniq commented on #17128
From my personal experience, I recommend you to keep the clang version same with the version which the ci uses, now is clang10.  The version of tools below you should take care about:
- python version (>=3.8), `google-api` package need to be installed
- go version (>=1.11), set GOPROXY property
- clang/clang++ version (>=10)
- gcc/g++ version (I'm not sure, but at least 7.0)
- libc++ and libstdc++

[2021-06-24 15:06] #16775 closed

[2021-06-24 15:54] mattklein123 commented on #16350
I don't think I will have time to work on this, but happy to help with reviews. I will mark this help wanted.

[2021-06-24 16:00] alyssawilk commented on #16775
@howardjohn should be fixed - lmk if this doesn't work for all your use cases and I'll keep iterating :-)

[2021-06-24 16:01] alyssawilk commented on #17067
Awesome.  Thanks so much for looking into this!

[2021-06-24 16:55] qiwzhang commented on #14587
Sound Good.  Thanks

[2021-06-24 17:00] mmayeda commented on #17085
Sorry I didn't mean to imply that the ext_authz code was responsible for setting the x-b3-sampled header, just that the header is always set to 1 in the external auth filter request even though the other routed requests abide by the `HttpConnectionManager.tracing.random_sampling` setting

[2021-06-24 17:41] lizan commented on #16629
Thanks @christian-roggia I was able to reproduce this, will try to fix.

[2021-06-24 17:59] phlax opened #17132 "Tagged versions dont build `-dev` docker images, breaking verify ci"
### description

in normal ci the `docker` stage creates `envoy-dev` and `envoy-alpine-dev` which are then used by the `verify_examples` stage to ensure that the build docker images work with examples

in tagged versions, only `envoy` and `envoy-alpine` are created for the specific version being tagged, which means that verify pulls latest from dockerhub which may/not be compatible with contempora

[2021-06-24 18:04] alyssawilk commented on #17130
cc @PiotrSikora @mathetake may know if there's docs pointers here

[2021-06-24 18:04] alyssawilk commented on #17126
cc @phlax

[2021-06-24 18:05] alyssawilk commented on #17034
If you want to use QUIC please build from head, or use the nighly builds.  There is currently no release with QUIC support.

[2021-06-24 18:05] #17034 closed

[2021-06-24 18:06] alyssawilk commented on #17125
If you want to use QUIC please build from head, or use the nighly builds.  There is currently no release with QUIC support.

[2021-06-24 18:06] #17125 closed

[2021-06-24 18:07] alyssawilk commented on #17116
cc @esmet @gsagula @dio

[2021-06-24 18:08] alyssawilk commented on #17115
cc @phlax in case this relates to your packaging work?

[2021-06-24 18:10] alyssawilk commented on #17109
cc @htuch @adisuissa

[2021-06-24 18:12] ashwinkupatkar commented on #17115
I need package version 1.16.4 but i am unable to get it when i query tetrate-getenvoy repo.

I even checked the nightly builds contents. Did not find it.

[2021-06-24 18:16] phlax commented on #17115
not sure on the current stage of getenvoy repos and available versions

we are in the process of creating host installable packages, but it may take a little time

you could probably extract the binary from the related docker build if necessary

[2021-06-24 18:19] ashwinkupatkar commented on #17115
Ok... I have a centos 7 vm to deploy this envoy binary. Which docker image as exact do you suggest to extract the binary ?

[2021-06-24 18:21] phlax commented on #17115
for v1.16.4 specifically see https://hub.docker.com/layers/envoyproxy/envoy/v1.16.4/images/sha256-45cc09f3e43c79a5133119d547acdc68aff629fdb3106c1d0646f46fe8dbbbc1?context=explore - should work in redhat also i think

[2021-06-24 18:27] ashwinkupatkar commented on #17115
Ok.. normally, I use amd64 . I think that will be good. Will try. Thanks @phlax.

It will be really great if raw binaries are readily available. Will save lof of effort.

[2021-06-24 18:32] PiotrSikora commented on #17130
I don't believe that you can currently make routing decisions based on the HTTP request body content.

[2021-06-24 18:57] gopakumarce commented on #12542
Thanks a lot @antoniovicente - that really helped !  So finally this is what made everything stable for me - pasting it here with comments, for future reference to anyone who runs into similar issues

---

# I apply the below to istio-system namespace AND my own namespace 'nextensio'
# seen later down, the istio-system stuff takes care of istio ingress/egress gateways
# and my own namespace is for

[2021-06-24 19:08] edieYoung opened #17134 "why and when do we need to set the max number of headers limit"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *why and when do we need to set a max number of headers limit*

*Description*:
The background is when we migrating from 1.8 version of envoy to a recent one 1.11.2,

[2021-06-24 19:52] moderation commented on #17134
1.11.2 was released on October 2019 and is a very old release. There have been numerous changes to Envoy from 1.11.x through to the current latest release 1.18.x. I'd suggest that you might reduce rework by trying to jump to a more current release that uses vs XDS API's and has the latest functionality and documentation.

[2021-06-24 20:30] alyssawilk opened #17136 "Coverage build flaking on death tests"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/80258/logs/245
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/80265/logs/158
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/80261/logs/269
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/80207/logs/315
https://

[2021-06-24 20:30] alyssawilk commented on #17136
Doesn't look like we've updated gtest recently, and Ryan says no recent relevant changes to docker or coverage ci....

[2021-06-24 20:35] phlax commented on #17136
last change to the build image was 22351ae2574a0e3b6ba7d48f1653ba4c6659da70 (april 15) so i doubt that is what changed

not sure about coverage changes, and cant think of any ci changes that would have caused it to change

do we know ~exactly when the problem started ocurring ?

[2021-06-24 20:36] phlax commented on #17136
actually - last change was 85a8570cd0530402de21c48c6688dddb187775d5 (May 7)

[2021-06-24 21:05] rakyll commented on #9958
@gramidt Did you kick off any conversations to coordinate any work for this? We are interested to see OTLP support from Envoy at least for tracing data so we can position the Otel collector in the export path.

[2021-06-24 21:39] edieYoung commented on #17134
Thanks, I checked that 1.18 is also using 100 as the default https://github.com/envoyproxy/envoy/blob/release/v1.18/include/envoy/http/codec.h#L37

But we also found the reason already, https://www.cvedetails.com/cve/CVE-2019-15226/
It sounds like there will be CPU performance issue with envoy if there are too many headers and could result in a denial-of-service attack.

If so, I guess we are not

[2021-06-24 22:46] moderation commented on #17136
Latest gtest is https://github.com/google/googletest/releases/tag/release-1.11.0 and it's in my list of deps to upgrade

[2021-06-25 00:01] #16493 closed

[2021-06-25 05:55] daixiang0 opened #17143 "lots of error when full clang_tidy"
*Title*: *lots of error when full clang_tidy*

*Description*:

I met it in https://github.com/envoyproxy/envoy/pull/16999, I dive into it and find even main branch has same error:
[code]

And there are more:
[code]

*Repro steps*:

main branch with HEAD commit.
` ./ci/run_envoy_docker.sh 'RUN_FULL_CLANG_TIDY=1 ./ci/do_ci.sh bazel.clang_tidy' `

[2021-06-25 05:59] daixiang0 commented on #17143
/cc @phlax

[2021-06-25 06:56] phlax commented on #17143
i noticed something similar with the check_format script - i think. I put it down to me having the wrong clang-format/tidy versions, altho wasnt sure the cause

what also confuses me is why we have afaict 2 separate clang tidy jobs - ill look into this further

[2021-06-25 07:45] ayyatsenko opened #17144 "Catch Segmentation Fault using UpstreamStartTls in network filter"
Hello, all!
I'm trying to use UpstreamStartTls in my network filter and I catch a segfault ( when switch to tls ) :

[2021-06-24 12:48:50.560][12412][critical][backtrace] [./source/server/backtrace.h:104] Caught Segmentation fault, suspect faulting address 0x0
[2021-06-24 12:48:50.560][12412][critical][backtrace] [./source/server/backtrace.h:91] Backtrace (use tools/stack_decode.py to get line num

[2021-06-25 07:52] phlax opened #17145 "Add an HTTP protocol versions sandbox"
### description

it would be great to have a sandbox that demonstrated http3/quic - it would also be quite handy to have a sandbox that demonstrated proxying between protocol versions - ie

- 3 backend servers each providing one of http 1/2/3
- 3 frontend servers also fixed to 1/2/3 but proxying to the backends

we probs also want it to proxy to upstream https - which would hopefully catch issues

[2021-06-25 07:57] phlax commented on #17105
before we fix this @alyssawilk it would be good to add xfailing test/s

#17145 is related but i think possibly we just want to test all of the configs in the `/configs` dir to ensure they work as expected

ill do some testing and try and figure out a way forward

[2021-06-25 09:17] hinawatts commented on #16639
Thanks for the information.

[2021-06-25 09:17] #16639 closed

[2021-06-25 09:29] hinawatts opened #17147 "OutlierEjection base ejection time is not reducing once max ejection time is reached"
*Title*: *Ejected hosts baseEjectionTime is not reducing once maxEjectionTime is reached *

*Description*: We are using passive health checks based on ConsecutiveLocalOriginFailure count. Below are the configurations used -
`	Interval       = 5
	baseEjectionTime               = 30
	maxEjectionPercent             = 50
	splitExternalLocalOriginErrors = true
        consecutiveLocalOriginFailure  = 5

[2021-06-25 09:52] liuqi-sun commented on #17125
I build from head,envoy version is 1.19.0-dev.
Version as follows:
./bazel-bin/source/exe/envoy-static  version: 5e248dc778b90dc26b6e3384b6c191018cbe7a8a/1.19.0-dev/Modified/DEBUG/BoringSSL

QuicupstreamTransport still fails.
The configuration file：google_com_http3_upstream_proxy.yaml
envoy log:
![image](https://user-images.githubusercontent.com/48784730/123406905-f92e9380-d5dd-11eb-8573-047956a30

[2021-06-25 10:29] chr1st1ank commented on #16572
I'm fighting the same issue. Probably it is possible somehow, but how?
There are related question on stackoverflow (e.g. https://stackoverflow.com/questions/55570085/envoy-behind-company-proxy), all without an answer I would be able to replicate in my setup.

I tried setting http_proxy environment variables in different flavors. But these are apparently not used by envoy.

[2021-06-25 12:31] christian-roggia opened #17148 "[gRPC-JSON transcoder] Request validation triggers 404 for CORS preflight OPTIONS requests"
*Title*: Request validation triggers 404 for CORS preflight OPTIONS requests

*Description*:

When a grpc-json transcoder is deployed with CORS enabled preflight (OPTIONS) requests fail if request validation is enabled. This likely happens because the transcoder attempts to validate the HTTP request's method before CORS, triggering an error as OPTIONS is not recognized as a valid "transcodable" me

[2021-06-25 14:24] karimhm commented on #96
+1

[2021-06-25 14:31] sgohl commented on #96
if you really consider implementing acme support, please make it better than the weird design decision traefik did make, with this acme.json with all certs in a custom format within a single file. this is ridiculous

[2021-06-25 16:01] #16048 closed

[2021-06-25 17:22] aguinet opened #17153 "IP Maxmind Lookup http filter"
*Title*: IP Maxmind Lookup http filter

*Description*:

This filter reads an IP address from a header or cookie, and generates metadata based on lookups within Maxmind database.

A PoC has been implemented here (missing a few things like cookies support, and a few maxmind DB data type): https://github.com/envoyproxy/envoy/compare/main...curiefense:feature/maxmind_lookup

Here is a configuration ex

[2021-06-25 17:23] aguinet commented on #17153
cc @snowp for the discussions

[2021-06-25 17:36] zthomas2 commented on #17091
I'm going to close this ticket, as we have decided to go a different way and the setup I was trying to do is not required anymore. I'm sorry to anyone who finds this thread in the future that there is no resolution.

[2021-06-25 17:36] #17091 closed

[2021-06-25 18:03] amitkatyal commented on #17099
Any pointers would be of great help. Thanks

[2021-06-25 19:14] conqerAtapple commented on #17013
High Level Design For Generic Subsetting
=======

Structural
===========

Inheritance
----------

[code]

Other Data Structures
====

RingInfo (Details TBD)
---
Contains information about metadata to calculate the position of the Envoy instance in the hash ring:
 - Aperture size
 - Weight distribution

Flow
====

Initialization
---------

- thread local cluster initialization
- Initialize subset l

[2021-06-25 19:15] conqerAtapple commented on #17013
@mattklein123 @alyssawilk Added a basic design and flow design. Need to iterate on the details.

[2021-06-25 23:09] scottcrawford03 commented on #8055
can confirm i too had this issue and the above fixed it.

[2021-06-25 23:20] tomastigera opened #17160 "Incorrect handling of half-closed connetions"
*Title*: Incorrect handling of half-closed connetions

*Description*:

When a client closes its connection for writing (results in a half closed connection), envoy closes the connection.

Client sets up downstream connection to envoy, sends a request and closes for writing using `shutdown(SHUT_WR)` Envoy reads the connection, sets up upstream connection but once it gets notified about the downstre

[2021-06-26 04:01] #16322 closed

[2021-06-26 11:33] kaushambisharma commented on #16705
would like to work on this issue but will need some guidance.

[2021-06-26 20:01] #15035 closed

[2021-06-26 20:01] #16199 closed

[2021-06-26 20:01] #16318 closed

[2021-06-26 20:01] #16399 closed

[2021-06-26 20:01] #16433 closed

[2021-06-26 20:01] #16516 closed

[2021-06-26 20:01] #16527 closed

[2021-06-26 20:01] #16528 closed

[2021-06-26 20:01] #16548 closed

[2021-06-26 20:01] #16586 closed

[2021-06-27 08:01] #15839 closed

[2021-06-27 20:08] lizan commented on #17160
I believe this exists from really beginning and we decided not to support half-closed connections for HTTP conn manager. Some reference I can find is https://github.com/envoyproxy/envoy/issues/2066. cc @ggreenway @mattklein123 @alyssawilk

[2021-06-27 22:24] htuch commented on #17109
I don't think this should be happening; the per-route/vhost overrides are generally resolved by filter chains at runtime, we don't rebuild them. @lambdai @mattklein123 do you know any reason this might happen?

@belyalov are you sure there isn't anything else in the listener changing in this scenario?

[2021-06-27 22:27] gituserjava opened #17164 "Validating headers in Envoy"
Is there a way we can read custom headers from request in envoy.filters.http.ext_authz in Envoy? Our request will contain a header as shown below and after successful authentication via `ext_authz` we want Envoy to validate if the request contains the header and the corresponding value. So in the below example if the request does not contain the below header or if it contains a value other than `s

[2021-06-28 00:25] moderation commented on #17164
You should be able to validate headers with the RBAC filter - https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/rbac_filter

[2021-06-28 01:19] daixiang0 commented on #16456
Still available?

[2021-06-28 01:22] daixiang0 commented on #16282
still some work left for this?

[2021-06-28 01:34] daixiang0 commented on #15794
Still available?

[2021-06-28 01:37] daixiang0 commented on #15372
@soulxu do you still work for this?

[2021-06-28 02:23] gituserjava commented on #17164
@moderation , looks like I can use this. Could you please share an example that shows usage of validating the incoming headers?

[2021-06-28 03:20] mattklein123 commented on #17160
Correct this is a dup of https://github.com/envoyproxy/envoy/issues/2066. Let's discuss there.

[2021-06-28 03:20] #17160 closed

[2021-06-28 03:23] mattklein123 commented on #17109
I can't think of any reason this would be happening. If you are able to repro this easily can you provide some logs during an update?

[2021-06-28 03:27] mattklein123 commented on #8867
This has come up several times, and I'm guessing we have tracking issues about this but I haven't searched yet (assuming it hasn't already been implemented). I think it's a reasonable feature to add and I would open an issue if it's not already tracked. cc @snowp

[2021-06-28 03:44] mattklein123 commented on #17047
cc @phlax

[2021-06-28 06:20] daixiang0 commented on #17143
please share any process, now CI broke due to it.

[2021-06-28 08:12] phlax commented on #17143
which pr ?

[2021-06-28 08:34] daixiang0 commented on #17143
#16999

[2021-06-28 09:24] alex-lx opened #17166 "filter_metadata is always empty when working with direct_response"
*Title*: filter_metadata would be empty when working with direct_response

*Description*:

Using the following config file
[code]

It's expected envoy would print log "foo=bar", but got "foo=nil" in fact.
If uncomment the `route` part and comment the `direct_response` part, will get "foo=bar" as expected.

*Repro steps*:
Our OS is MacOS 10.14.6 and envoy  version is 98c1c9e9a40804b93b074badad1cdf2

[2021-06-28 09:53] alex-lx opened #17167 "filter_metadata do not clear the cache after request headers updated"
*Title*: filter_metadata not clear the cache after updating request headers

*Description*:
There's two route, lt's say r1, which matches http header `x-test-route: r1` and the other, r2, which match `x-test-route: r2`. Both the two routes have an filter_metadata, the key is `foo`, and the value is `r1` and `r2`.
[code]
The client will call the envoy proxy with header `x-test-route: r1`,
[code]
an

[2021-06-28 09:55] soulxu commented on #15372
@daixiang0 yea, I'm working on it.

[2021-06-28 10:51] soulxu opened #17168 "Moving the connection info into a single provider"
*Title*: *Moving the connection info into a single provider*

*Description*:
According to the discussion on the PR https://github.com/envoyproxy/envoy/pull/16574#issuecomment-856416038, there are connection Infos are coping around which leads to the bug like  #14922. So plan to fix this kind of issue using the way like https://github.com/envoyproxy/envoy/issues/14133 way: moving those infos into a

[2021-06-28 10:53] soulxu commented on #17168
The first step is https://github.com/envoyproxy/envoy/pull/16574, working on others.

[2021-06-28 12:01] #16513 closed

[2021-06-28 12:43] v1b1 commented on #15991
Hi @dio I'd appreciate any help on this. =)

[2021-06-28 13:04] #17067 closed

[2021-06-28 16:18] belyalov commented on #17109
Yep, there is no changes in listener, only routes update via XDS.

Yep, we have stable repro on production env, so far we were able to isolate the problem just to XDS -> envoy routes config push.

I'll update you with debug logs.

Thanks

[2021-06-28 16:19] lizan commented on #17144
What's your config? You need a network filter that support upstream STARTTLS to use with the transport socket.

cc @bryce-anderson

[2021-06-28 16:53] negram commented on #16715
We found absolutely the same issue in `source/extensions/filters/http/grpc_http1_bridge/http1_bridge_filter.cc`

Meanwhile, we've fixed it like this:
[code]

It still isn't perfect. Basically, we internalize all requests but, depending on the configuration, we might not use some of them in the future. I couldn't think of a better solution so far but it seems working on our prod so far...

[2021-06-28 18:02] tomastigera commented on #16130
Not quite stale yet, there is an active PR https://github.com/envoyproxy/envoy/pull/16349

[2021-06-28 18:23] alyssawilk commented on #17013
Having both pluggable sub-setting and upstream aperture based SGTM.  The only thing I'm not sold on is MetaDataBased for the legacy subset naming.  cc @zuercher who I think implemented the subset LB and may have thoughts both on structure and naming.

[2021-06-28 18:30] justincely opened #17173 "Filter linking docs out of date"
The [developer docs on linking filters to the binary](https://github.com/envoyproxy/envoy/blob/main/bazel/DEVELOPER.md#filter-linking) seem to be a bit out of date.  The two links in that paragraph to the server code for examples just 404; I presume the code was moved somewhere?  Would be great to have this updated to the right location.

[2021-06-28 18:31] v1b1 commented on #15991
From what I've been able to discern from the source, `per_lua_code_setups_map_` in `lua_filter.cc` iterates over the `proto_config` upon construction and stores the Lua scripts in-memory. As a result it's impossible for any Lua script to import/require another Lua file without that file already existing in Envoy's local filesystem.

- Is it possible to save these Lua scripts to a temporary directo

[2021-06-28 20:23] rakyll commented on #9958
One more thing...

There are two main areas when it comes to OpenTelemetry support:

1. Exporting OTLP spans from Envoy
2. Instrumenting Envoy with OpenTelemetry and removing OpenTracing

We can tackle (1) and (2) independently. (2) is possible without having to reinstrument Envoy by linking the OpenTelemetry <-> OpenTracing bridge. Eventually, we can get to (2) to remove the OpenTracing dependenc

[2021-06-28 20:55] leosunmo commented on #8867
@mattklein123 I'm glad to hear I'm not the only one running in to this problem!

I am currently in the process of trying to interrogate the Envoy xDS for Cluster updates so I can manually terminate my gRPC streams in my application, which does seem like a hack to me, and it's proving quite difficult to get started _getting_ cluster state/config from Envoy, not _setting_ it. All guides out there ar

[2021-06-28 21:52] belyalov commented on #17109
So I was able to get some logs in debug mode.

New routes config pushed:
[code]

Right after config pushed there are a lot of warn messages for deprecated field:
[code]

Then, after awhile there are a lot of entries about adding connections to cleanup list:
[code]

Finally new config gets applied and connections being re-established:
[code]

Note that
[code]
Takes around 12 seconds to be processed

[2021-06-28 22:16] mattklein123 commented on #17109
Hmm, I could see the main thread hanging for a bit, but I don't think any worker threads should be getting hung. Do you have any other logs or stats on why connections are being closed? Are they local closes or remote closes? I would look at both listener/downstream HTTP stats as well as cluster stats.

cc @antoniovicente also.

[2021-06-28 22:42] belyalov commented on #17109
@mattklein123 I can get those stats (and probably more logs) by tomorrow.

[2021-06-28 23:21] pdeligia opened #17178 "WASM filter httpCall to localhost sidecar container in Kubernetes"
I am writing an Envoy filter using the [WASM C++ SDK](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk) and I want to make an `httpCall` (as described [here](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/258b4c6974dba5255a9c433450971a56b29228ff/docs/wasm_filter.md#httpcall)) to a server running inside a container in the **_same_** Kubernetes pod as the Envoy proxy.

To give some quick cont

[2021-06-28 23:25] pdeligia commented on #17178
cc @PiotrSikora for visibility (I have seen you reply in other issues related to WASM extensions, apologies if some other person is more appropriate to cc)

[2021-06-29 01:33] yanavlasov opened #17180 "Transition to the quiche HTTP/2 codec"
Presently Envoy is utilizing [nghttp2](https://github.com/nghttp2/nghttp2) codec for HTTP/2 protocol. A critical outstanding issue with nghttp2 codec is the security release process that is incompatible with the Envoy's.  This opens the potential for 0-day vulnerabilities in Envoy.

[quiche](https://quiche.googlesource.com/quiche/) maintainers offered to provide HTTP/2 codec implementation with th

[2021-06-29 04:49] lizan commented on #17178
cc @mathetake

[2021-06-29 04:52] lizan commented on #17173
Yes that's right. PR is appreciated.

[2021-06-29 05:21] mathetake commented on #17178
yeah agreed, that seems weird. Could you enable the trace log by passing `-l trace` to Envoy and give us the trace log here?

I imagine you have reached remote_close condition when making httpCall:
-  InternalFailure is only returned here during `httpCall` path: https://github.com/envoyproxy/envoy/blob/5963beae8842982803af1bef04fb5a2a0893c613/source/extensions/common/wasm/context.cc#L978-L980
- we

[2021-06-29 07:44] meteorcloudy commented on #16542
This is now fixed, thanks!

[2021-06-29 07:52] PiotrSikora commented on #17178
Could you paste `trace` logs from the time `httpCall` is invoked to when `InternalError` is returned?
See: https://knative.tips/troubleshooting/debugging-envoy/ for how to change log levels in Istio (change `debug` to `trace`).

I suspect that you might be missing some required HTTP headers in the outgoing request.

[2021-06-29 08:56] ayyatsenko commented on #17144
I used the following config:

`stats_config:
  stats_matcher:
    reject_all: true
admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address:
      protocol: TCP
      address: 127.0.0.1
      port_value: 15001
static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address:
        protocol: TCP
        address: 127.0.0.1
        port_value: 5432
    filt

[2021-06-29 09:38] rojkov commented on #17134
I can add that having more than 1000 headers will drag performance down non-linearly due to #11720.

[2021-06-29 10:05] logrusorgru commented on #7833
It doesn't work for few grpc clusters
[code]
An OPTIONS request with `Content-Type: application/grpc` returns 200 OK. But any other -- 404.

[2021-06-29 10:07] logrusorgru commented on #11881
+1

[2021-06-29 10:08] logrusorgru commented on #11881
stale bot is shit.

[2021-06-29 10:10] fasaxc commented on #2066
As mentioned on the (dupe) issue #17160 filed by my colleague, looks like busybox's `wget` has moved to using half-close in recent versions.  Since busybox is used a lot for tire-kicking in Kubernetes, I think this is worth fixing.  It makes Envoy appear flaky.

[2021-06-29 13:07] yanavlasov commented on #17180
@birenroy from the quiche team will be working on this.

[2021-06-29 13:26] htuch commented on #16456
Sure

[2021-06-29 13:50] rojkov commented on #16988
I'd probably go for Perfetto. It's used for performance instrumentation by Chrome developers. Supports [RAII-based track events](https://perfetto.dev/docs/instrumentation/track-events), integrates with system tracing, provides trace processors, visualizers...

I'll experiment with it.

[2021-06-29 14:10] logrusorgru commented on #17031
A CORS OPTIONS request works for this configurations if `Content-Type: application/grpc` header given in request. Otherwise response is 404.

[2021-06-29 14:18] R1kk3r opened #17184 "Useless time conversion for histogram"
*Title*: Useless time conversion for histogram

*Description*:

I am trying to understand if, for an histogram, value reported to it are kept as-is. I mean, if for p50, the value returned is one of the real value submitted or if it is the result of an averaging/calculation (for speed/efficiency reason). Then, I came across [this piece of code](https://github.com/envoyproxy/envoy/blob/main/source/e

[2021-06-29 15:17] Diggsey opened #17186 "HTTP/1.1: timed out chunked encoded responses are terminated with `\r\n\r\n`"
It appears that timed out chunked encoded responses are terminated with `\r\n\r\n`. The connection should be closed/reset without this termination.

(Original report below)

-----

This was tested in envoy v1.17.2, so this may have already been addressed, but I couldn't find anything in the changelog, or any related closed issues.

*Description*:
The default request timeout of 15s is actually a ti

[2021-06-29 16:26] htuch commented on #11079
@markdroth is this a sensible thing to be doing from gRPC perspective?

[2021-06-29 16:31] pdeligia commented on #17178
Thanks @PiotrSikora @mathetake for the prompt help with this issue! I will get the Envoy trace logs from Istio and come back.

I do not _think_ it is the HTTP headers, as I am able to make a successful `httpCall` request to 'foo' (i.e. server S^B from above) if I give the **Envoy cluster name** `outbound|8000||foo.default.svc.cluster.local` (which I grabbed from the Envoy config). The problem happ

[2021-06-29 16:48] markdroth commented on #11079
Thanks for tagging me.  I'm not familiar in depth with ext_authz, but at a high level, the stated intent here isn't entirely clear to me.

What confusion does it cause?  If we actually know what gRPC status we want to return to the client, then sending that status directly sounds like exactly the right behavior.  Why convert that to an HTTP status just to make the client convert it back?

As indic

[2021-06-29 17:13] sajjanavs opened #17188 "Facing connection termination while call https port"
*Title*: *Unable to call HTTPS port from envoy filter requestHandle using httpCall function*

*Description*:

    Usecase: Intercept the incoming request and replace the JWT token in headers by calling keycloak HTTPS service.
    Result: Implemented LUA script to replace the JWT token; however when I configure 8080 port for Keycloak service(as per envoy proxy-config cluster (("outbound|8080||" ..

[2021-06-29 18:18] pdeligia commented on #17178
@PiotrSikora @mathetake, I got the traces:

[code]

 Strange, as it is gives a warning: `original_dst_load_balancer: No downstream connection or no original_dst.` However, the co-located container (that this Envoy container is a proxy to) can be seen in the Envoy configuration:
[code]

As I mentioned above, if I use `outbound|8000||bar.default.svc.cluster.local` and the rest of the parameters/call

[2021-06-29 18:47] justincely commented on #17173
thanks @lizan, PR up

[2021-06-29 19:00] #17132 closed

[2021-06-29 19:32] gramidt commented on #9958
@rakyll - I have had some conversations both internally and externally in the community, but no progress has been made that I am aware of. A recent message from an employee of Adobe says that they may have someone who would be interested in making the contribution for exporting OTLP spans from Envoy.

[2021-06-29 21:29] mk46 commented on #14531
/assign

[2021-06-29 21:52] PiotrSikora commented on #17178
I meant that perhaps you're missing `:authority`/`Host` header, and Envoy doesn't know where to route the request when using passthru cluster.

`ORIGINAL_DST` cluster uses downstream connection's destination address as the endpoint address when making an outgoing connection. However, since `httpCall` is a standalone connection that doesn't have the downstream connection to copy the destination add

[2021-06-29 22:28] ggreenway commented on #2066
What version of busybox is it that's broken? I went grep'ing through the busybox source and found this in wget.c:

[code]

Looking at the history, the `shutdown( SHUT_WR)` call was added in 2016-08-20, and the conditional for only doing it on https (and comment) were added 2017-01-11, so I'm wondering if you're on a version between those two dates. Also, sounds like other widely-deployed http prox

[2021-06-29 23:24] logrusorgru commented on #17031
@vitruvvius, please, put your config in code, it's unreadable.

[2021-06-29 23:34] xxx0624 opened #17194 "Disable the prompt of picking up the certificate on the browser UI"
*Title*: *Disable the prompt of picking up the certificate on the browser UI*

*Description*:

And my guess why this happens is because the certificate verification is  enabled. As for why the certificate verification is needed is that some users would like to use certificates to pass the authN. My approach is that once the certificate verification is enabled, the certificate is accessible via the

[2021-06-30 01:07] pdeligia commented on #17178
Thanks @PiotrSikora for your answer, really appreciate your help.

The thing is that the destination address in our case is _just_ `localhost` and some well-known port (which is statically defined on the deployment YAML), as the destination container is guaranteed to be on the same pod (Envoy is its proxy). So I am not trying to make a call to any `ORIGINAL_DST` cluster, just a `localhost` address

[2021-06-30 01:13] daixiang0 commented on #16456
Is time to clean it? If so, I would like to take.

[2021-06-30 03:43] htuch commented on #16456
If you want to work on the PR, we can merge it after 1.19 ships in early July.

[2021-06-30 05:23] ramaraochavali commented on #11079
This exactly the problem. Envoy returns Http Status : 200, gRPC Status: 7 to client if the client is gRPC service and Http Status - 403 to client if the client is Http Service.  We build common dashboards and alerts based on authz response. So it is little difficult to know (not impossible) whether we should look at http status code / gRPC status code. So this request is such that we can uniformly

[2021-06-30 05:25] daixiang0 commented on #16456
got, would do it after 1.19.

/assign

[2021-06-30 06:41] logrusorgru commented on #17031
I'm forwarding all `"/"` requests to proxy that forwards all requests back to the Envoy with `Content-Type: application/grpc` as a temporary solution. With
[code]

An OPTIONS request without a `Content-Type` fails with 404. With `Content-Type: appliation/grpc` resolved by Envoy. And any other `Content-Type` replaced with `application/grpc` by the proxy.

[2021-06-30 12:25] logrusorgru commented on #17031
Also, this issue has existed since ancient times. And, seems, no one going to fix it :no_good:

[2021-06-30 14:27] fasaxc commented on #2066
Yes, I think we hit the sweet spot for that issue.  v1.26.  I misread my colleague's comment on our slack; he said they "only do it for HTTPS since v1.27" which I took to mean "only started doing it for HTTPS _too_ in v1.27".

[2021-06-30 14:44] #14922 closed

[2021-06-30 15:03] #17173 closed

[2021-06-30 15:06] markdroth commented on #11079
In that case, how about adding a new field in the ext_authz server response that allows the server to explicitly indicate a gRPC status to use for the data plane request?  That way, there's no ambiguity: the server can say "if it's a gRPC call, fail it with this gRPC status; otherwise, fail it with this HTTP status."

[2021-06-30 19:17] samrabelachew opened #17203 "Fix router filter configuration suppress_grpc_request_failure_code_stats"
*Title*: *Fix router filter configuration suppress_grpc_request_failure_code_stats*

*Description*:
The [PR](https://github.com/envoyproxy/envoy/pull/16812) that originally built this boolean's original goal was to disable HTTP failure status codes such as 4xx/5xx. It also unintenionally disabled upstream_rq_completed codes.

Original PR: https://github.com/envoyproxy/envoy/pull/16812
Original Iss

[2021-06-30 19:18] samrabelachew commented on #17203
/assign

[2021-06-30 19:23] yanjunxiang-google commented on #14310
I am looking into this issue now.

[2021-06-30 19:23] yanjunxiang-google commented on #14310
@yanavlasov

[2021-06-30 19:26] KBaichoo commented on #14310
/assign @yanjunxiang-google

[2021-06-30 20:17] wrowe commented on #16108
Reopening on request for further development

[2021-06-30 21:29] ninadm commented on #14001
No new activity on this yet? it would be super useful to differentiate between network drops vs 5xx errors

[2021-07-01 00:01] #15968 closed

[2021-07-01 00:01] #16554 closed

[2021-07-01 00:01] #16568 closed

[2021-07-01 00:01] #16573 closed

[2021-07-01 00:01] #16578 closed

[2021-07-01 00:01] #16610 closed

[2021-07-01 00:01] #16617 closed

[2021-07-01 00:01] #16631 closed

[2021-07-01 00:01] #16633 closed

[2021-07-01 00:14] davinci26 commented on #16820
Closed by #17068. Thanks @dmitri-d for doing this!

[2021-07-01 00:14] #16820 closed

[2021-07-01 00:48] logrusorgru commented on #17031
Lol. So, finally I've got it. Works good.

[code]

[2021-07-01 00:48] logrusorgru commented on #17031
All of the GRPC services have configured prefix in Google API. Not in the Envoy config.

[2021-07-01 02:31] pdeligia opened #17208 "Setting the HttpRequestBody buffer from inside an httpCall callback in a WASM filter"
I am writing a custom Envoy filter using the [WASM C++ SDK](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk) and I am trying to make an `httpCall` that is able to `setBuffer` the `WasmBufferType::HttpRequestBody` from inside its callback. The `httpCall` is invoked inside the overriden `onRequestBody` method of the filter's `Context` for the reason I explain below.

So the use case is that the fil

[2021-07-01 05:03] logrusorgru commented on #17031
Hm... No this ^^^ doesn't work. It doesn't see anything after first grpc service "/". OPTIONS works for all requests. But GET/POST/etc only for the first. Stupid shit.

[2021-07-01 06:44] negram opened #17210 "Envoy crashes when using admin.access_log.filter in config"
If we use admin.access_log.filter, Envoy immediately crashes on startup. I couldn't find a way to prevent the crash.
Please, see the config along with the startup log attached.

Checked on **1.18.3**.

[code]
Config: [envoy.yaml.txt](https://github.com/envoyproxy/envoy/files/6745992/envoy.yaml.txt)
Startup log: [envoy-crash.log](https://github.com/envoyproxy/envoy/files/6745987/envoy-crash.log)

[2021-07-01 13:22] pbn4 commented on #12970
Posting my solution which addresses this problem:

[code]

it assumes that cookie name is `stickiness`. It's not lightweight though, it searches through and reassigns all of the `Set-Cookie` headers and modifies only one with where 'stickiness' substring is found.

[2021-07-01 16:50] davinci26 commented on #17210
I might know what the root cause of the issue is since I implemented this change

I might be able to take a look at it but I am OOO next two weeks so if anyone wants to get it before me, go ahead.

[2021-07-01 17:10] sschepens commented on #12073
Hi, we're having issues with this too, doing some reasearch it would seem that a lot of utilities, languages or frameworks support utf-8 characters in URLs, including Go, Nginx and more.

Rejecting utf-8 characters in urls could be troublesome. Maybe envoy could compile http_parser in non-strict mode and do validations inside envoy so that they can be configurable?

[2021-07-01 17:27] markdroth opened #17216 "fix_format doesn't uniquely identify absolute protobuf message names"
We currently have the following structure inside of [`envoy.extensions.transport_sockets.tls.v3.CommonTlsContext`](https://github.com/envoyproxy/envoy/blob/7da9989039cc7fbbe08835e2c00f813aedb24e03/api/envoy/extensions/transport_sockets/tls/v3/tls.proto#L129):
- There is a [`CertificateProviderInstance`](https://github.com/envoyproxy/envoy/blob/7da9989039cc7fbbe08835e2c00f813aedb24e03/api/envoy/ext

[2021-07-01 17:36] belyalov commented on #17109
An update:
it seems like it is related to routes config size:
We have 2 almost the same deployments with different config sizes:
~30mb vs 16mb
And we do see drops only on deployment with huge config.

Is it possible that huge config size takes too long to be processed (this is why main thread "hangs"?) so all connections are forced to expire?

[2021-07-01 17:39] #16536 closed

[2021-07-01 17:44] mattklein123 commented on #17109
I wouldn't expect main thread processing time so effect the workers, but I'm not exactly sure what is going on. More logs would be helpful.

[2021-07-01 17:44] belyalov commented on #17109
Getting more logs now

[2021-07-01 17:58] belyalov commented on #17109
Stats:

Before DROP

[code]

After DROP

[code]

[2021-07-01 18:07] belyalov commented on #17109
They are seems to be remote close (grepped few of them):
[code]

Upstream / downstream for this setup is also Envoy

[2021-07-01 18:40] NomadXD opened #17217 "[WASM] Delete API for shared data"
With the current state of `proxy-wasm`, shared data has only `get_shared_data()` and `set_shared_data()` methods. It'll be really useful to have a delete method so that shared data can be used for things like implementing a cache, having a simple lookup table etc. Is there any specific reason for not to have a delete method for shared data ?

https://github.com/proxy-wasm/spec/tree/master/abi-vers

[2021-07-01 18:41] PiotrSikora commented on #16726
@mathetake we should definitely add this, see: https://github.com/proxy-wasm/spec/blob/master/docs/WebAssembly-in-Envoy.md#fault-detection-and-notification.

[2021-07-01 19:52] mattklein123 commented on #17109
My assumption here is that somehow the large config update is pegging the machine and/or workers and causing connection drops. I think this is probably a generic performance issue that we need to look into it. cc @jmarantz @rojkov

[2021-07-01 20:07] jmarantz commented on #17109
I'm generally wondering if we over commit our CPU cores when we have concurrency == NumCores, as that leaves no room for compute-intensive work on main thread (config updates, stats dumping) and there may be noisy neighbor issues. But this is not really based on data; just a conjecture.

One short term remedy might be to set `--concurrency $((NumCores - 1))` or similar.

There's also lots of thing

[2021-07-01 20:12] antoniovicente commented on #17109
It would be helpful to capture a profile to see where the time is spent.

Can you share some info about the structure of the large config being loaded?  How many clusters, vhosts, routes, etc.

[2021-07-01 22:12] jpeach commented on #16686
not stale :)

[2021-07-01 22:14] karthikbox commented on #10387
A huge +1 to Howard's [comment](https://github.com/envoyproxy/envoy/issues/10387#issuecomment-840750718) . Not requiring the SDS file to be setup would be awesome. This is definitely a huge pain point.

Just so that i understood correctly - the proposal above is to setup a watch for [TlsCertificate](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto

[2021-07-01 22:46] xxx0624 commented on #8326
Hi @sel-vcc , definitely this is an amazing feature! I have one quick question regarding to passing the peer certificate to the ext auth service. Not sure if you know this.

I found that only if the `validation_context` is configured in the yaml can we access the peer certificate in the ext auth service.
Is this expected?
BTW my yaml config file is as followed:
[code]

[2021-07-02 01:52] mathetake commented on #16726
OK cool, let me work on this.

[2021-07-02 02:59] xu1zhou opened #17219 "Memory copy in buffer linearize process"
*Description*:
In my test on big file download through envoy(http1 + tls proxy), found memcpy operation when SslSocket:doWrite method.
[code]
[code]
After digging more deep in code, found in OwnedImpl::linearize(), Envoy would init new slice when old slice size smaller than the `buffer to write` then copyOut invokes memcpy.

Do you know who created these old slicequeue?And do you think they may gr

[2021-07-02 03:00] xu1zhou commented on #17219
@mattklein123

[2021-07-02 07:11] xxx0624 commented on #17194
BTW although I set `require_client_certificate` to be false in the `DownstreamTlsContext`, it still reminds me to select the certificate when accessing the server via browser.

[2021-07-02 08:01] #16214 closed

[2021-07-02 08:01] #16219 closed

[2021-07-02 08:07] rojkov commented on #17109
If the main thread drags down workers I'd be also concerned about memory situation. Do you see spikes in page faults?

[2021-07-02 11:05] danielgblanco commented on #9958
Has it be considered to break up (2) above into an OpenTracing shim vs a full native OpenTelemetry implementation? One aspect that would solve is context propagation in environments that are currently only using TraceContext (or composite propagators without B3 being one of them), without having to wait for a full OpenTelemetry instrumentation. One could export spans via OTLP (1), but if context p

[2021-07-02 12:01] #16648 closed

[2021-07-02 14:11] ramaraochavali commented on #11079
And Envoy sets the same values to downstream clients?

[2021-07-02 14:45] asraa opened #17220 "Wasm module signature verification"
*Title*: *Wasm module signature verification*

*Description*:
Adds  ability to configure a verification options to satisfy before executing a Wasm module. This could include checking all/some/at least one signature is present from a list of specified verification keys in the Wasm bytecode according to https://github.com/jedisct1/wasmsign. I propose some kind of VerificationOption struct that conta

[2021-07-02 15:47] mattklein123 commented on #17219
cc @ggreenway @antoniovicente

[2021-07-02 15:50] rojkov commented on #16988
I played a bit with Perfetto. It may well be the tracer we want. Here's how the existing UI can show tracing data.

![last (2)](https://user-images.githubusercontent.com/33377/124295277-550a9680-db61-11eb-80a9-f80b0e82d701.png)

You can notice nested slices created with RAII objects and a couple of slices corresponding to objects' life spans - `ActiveTcpConnection` and `ActiveStream`. The latter a

[2021-07-02 16:18] lizan commented on #17217
@PiotrSikora @mathetake

[2021-07-02 16:42] PiotrSikora commented on #17217
@NomadXD it's going to be included in the next iteration of the ABI:
https://github.com/PiotrSikora/spec/tree/review/abi-versions/vNEXT#proxy_remove_shared_kvstore_key

For the time being, you can set an empty value. This isn't perfect, since it leaks key memory, but it might work for some use cases with limited number of keys.

[2021-07-02 16:51] antoniovicente commented on #17219
Who created the old slice varies, but the most common sources of the old slice are data frames arriving on the other end of the io pipeline (e.i. a response coming from the upstream which is written to the downstream via TLS).  One possible source of fragmentation in the connection output buffer includes framing that the codec has to add to the frame, including HTTP/1 chunk encoding and HTTP2 data

[2021-07-02 16:59] jmarantz commented on #16988
Cool; I assume we could add a bazel option to include this in the binary?

[2021-07-02 18:56] rojkov commented on #16988
Sure. The patch is just a quick and dirty hack. The final PR should have it pluggable the same way it's done for the perf annotations.

[2021-07-02 19:30] xxx0624 opened #17224 "Certificates prompt on the browser even though the require_client_certificate is specified to be false"
*Title*: *When accessing the UI of my server, the browser will prompt the certificate selection although the require_client_certificate is specified to be false*

*Description*:

Another potential bug: when I specify the `include_peer_certificate` to be true in the ext auth service, if and only if the `validation_context` is setup properly, the client certificate will be included in the CheckReque

[2021-07-02 20:01] #16654 closed

[2021-07-02 20:19] pdeligia commented on #17208
CC @PiotrSikora @mathetake

[2021-07-02 23:59] PiotrSikora commented on #17208
@pdeligia headers and bodies are only accessible in their respective callbacks (e.g. you can only get/set request headers in the `onRequestHeaders` callback), since they are streamed and not available afterwards, which is why you cannot access HTTP request body from the callout.

There are 2 things that we could improve:
1. Headers and bodies should be accessible on a stream paused in their respec

[2021-07-03 04:47] pdeligia commented on #17208
Thanks for the quick response @PiotrSikora! Cool, what you are saying matches my understanding based on the debugging that I did with Envoy traces on when I hit this issue.

Both options make sense to me, and would definitely work for my use case.

The first one probably sounds simpler, and also feels quite natural from a user's perspective (at least mine!): if you pause on one of these callbacks,

[2021-07-03 05:34] hj24 opened #17228 "Request is not parsed by ext_authz, resulting in failure to match the routing rules and generate a 404 NR response"
*Title*: *Request is not parsed by ext_authz, resulting in failure to match the routing rules and generate a 404 NR response*

*Description*:

When I configured the routing rules and hoped that the request can be forwarded to a certain cluster after the headers match conditions are met, the request is not parsed by the http_filters `envoy.filters.http.ext_authz`, resulted in no additional custom h

[2021-07-03 06:20] soulxu opened #17229 "envoy should read the data from the buffer Instead of listener filter to peek the data from socket buffer directly"
According the review comment: https://github.com/envoyproxy/envoy/pull/16952#issuecomment-872377652, we can improve the listener filter.

Currently, the listener filter needs to register the file event to the socket, and peek data from the socket buffer directly. Which lead to the bug like https://github.com/envoyproxy/envoy/issues/16951. A better way is envoy read the data into the buffer, and li

[2021-07-03 07:09] PiotrSikora commented on #17208
When you say "more than one custom filter", do you mean multiple plugins in a single Wasm module, the same plugin configured multiple times, or something else? In any case, that doesn't sound right, but could you please open a separate issue for it? Otherwise, it's going to get lost in the comments... If you happen to have a minimal reproducer with Envoy config and/or a trace log, that would be he

[2021-07-03 08:01] #16668 closed

[2021-07-03 08:32] PiotrSikora commented on #17178
I think you might be confusing `Service` and `ServiceEntry`.

If you add a `ServiceEntry` like this:
[code]
then you should be able to make calls to `127.0.0.1:8080` using `outbound|8080||localhost.for.http.call` cluster.

Wasm plugins can make HTTP calls to any cluster that Envoy knows about, but you need to figure how to get your control plane (Istio) to add a `localhost` cluster to Envoy.

I th

[2021-07-03 12:01] #16678 closed

[2021-07-03 14:55] pdeligia commented on #17208
Yes, let me indeed open a new issue for this. I will do a bit more investigation first, and gather some info as you say, and open an issue after the weekend.

[2021-07-03 15:00] pdeligia commented on #17178
Thanks @PiotrSikora, this is incredibly helpful, I had no idea you could configure an Istio `ServiceEntry` like this for localhost calls through Envoy! This seems like exactly what I need, but let's indeed see if it works, else will investigate the custom bootstrap as you suggest. Will try this ASAP and report back.

[2021-07-04 04:01] #16701 closed

[2021-07-04 08:01] #16710 closed

[2021-07-04 12:01] #16512 closed

[2021-07-04 20:01] #16674 closed

[2021-07-04 20:01] #16720 closed

[2021-07-04 23:55] vitruvvius commented on #17031
Yes - in this case, we are using Content-Type: application/json ie we cannot use Content-Type: appliation/grpc

[2021-07-05 01:44] codefromthecrypt opened #17232 "Install envoy.exe into ProgramData/envoy/bin"
*Title*: Install envoy.exe into ProgramData/envoy/bin

*Description*:
Right now, in the envoy-windows image, envoy.exe installs into "Program Files/envoy/envoy.exe"

While this does match historic install directories, choosing this makes tooling more difficult as for example `make` struggles with spaces.

It would be easier to install into `ProgramData/envoy/bin/envoy.exe` similar to the [Chocolat

[2021-07-05 03:48] Sooryaa-A commented on #10823
@mattklein123 ,any plan for this feature implementation .We too would like to have this feature for our use cases.
Ticket was raised for the same.
https://github.com/envoyproxy/envoy/issues/16426

[2021-07-05 04:01] #16308 closed

[2021-07-05 05:20] wbpcode opened #17234 "inline http cookie header"
The current `cookie` is not be implemented as O(1) inline header which make the cookie-related operation very expensive.

Perhaps we can set a special delimiter `;` for the cookie to make the cookie an inline header.

[2021-07-05 08:01] #16319 closed

[2021-07-05 11:27] javiku opened #17236 "Ubuntu installation fails due to Bintray not being accessible"
Following the installation steps for Ubuntu described in https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-ubuntu-linux results in an error accessing bintray repositories:

[code]

It is currently (for some hours now) impossible to install Envoy in Ubuntu following the recommended steps.

[2021-07-05 11:35] liuqi-sun opened #17237 "envoy terminated"
kubectl logs -f global-sidecar-59f4c5f989-bmn9n
2021-07-05T10:24:52.452528Z info FLAG: --applicationPorts="[]"
2021-07-05T10:24:52.452598Z info FLAG: --binaryPath="/usr/local/bin/envoy"
2021-07-05T10:24:52.452603Z info FLAG: --concurrency="0"
2021-07-05T10:24:52.452605Z info FLAG: --configPath="/etc/istio/proxy"
2021-07-05T10:24:52.452607Z info FLAG: --connectTimeout="10s"
2021-07-05T10:24:52.4526

[2021-07-05 14:46] ahmed-adam commented on #16867
Hi, are there any updates on this ticket? We have also been affected by https://github.com/envoyproxy/envoy/issues/17236 except we are using RPMs.

Until this issue is resolved, does anyone have a workaround as all our builds are currently broken?  I found https://cloudsmith.io/~tetrate/repos/getenvoy-rpm-stable/packages/ - would you recommend that repo be used as a workaround?

[2021-07-05 15:16] phlax commented on #16867
cc @lizan

not sure about the cloudsmith.io repo or the cause of https://github.com/envoyproxy/envoy/issues/17236

im working on resolving this issue but it will take some time

[2021-07-05 15:18] phlax commented on #16867
@codefromthecrypt any ideas on this ?

[2021-07-05 23:39] codefromthecrypt commented on #16867
I'll summarize: the reason for opening the issue here is "getenvoy" is going away (eg no longer maintained and we aren't supposed to use the name due). bintray is down also as the service went away.

The thing I raised last month #16868 was an interim step reduce confusion for reasons like this. Probably we should remove all references at this point. I had hoped the packages here would have landed

[2021-07-06 00:35] codefromthecrypt commented on #17236
ACK these packages are deprecated. I tried a little and failed.

@arkodg do you know a temporary workaround to let debian/ubuntu work?

Seems some are able to at least temporarily use cloudsmith for some types of packages
https://github.com/blake/vagrant-consul-tproxy/blob/33547e9dc1d0f86a13aa2c84e3a6d60575df5135/examples/vagrant/cloud-init-injection/cloud-configs/common.cfg

I tried monkeying var

[2021-07-06 01:30] dmitri-d commented on #16867
FWIW, it's possible to build rpms via fedora copr (https://copr.fedorainfracloud.org/coprs). Online builds are possible, bazel's already there (https://copr.fedorainfracloud.org/coprs/vbatts/bazel/packages/).

[2021-07-06 01:34] codefromthecrypt commented on #16867
looks like there is a draft PR out there on this topic, I had no idea.. maybe we are closer! https://github.com/envoyproxy/envoy/pull/16899

[2021-07-06 02:19] cfanbo commented on #17128
me too.why?

[2021-07-06 02:34] liuqi-sun commented on #17128
The clang version is too low，so not support -fno-delete-null-pointer-checks.
I cat not disable the ‘-fno-delete-null-pointer-checks’ parameter. so i use clang v12.
![image](https://user-images.githubusercontent.com/48784730/124533890-c2f6dc80-de45-11eb-8938-b4f5566546d9.png)

[2021-07-06 05:04] pdeligia commented on #17178
Just to update you @PiotrSikora, the `ServiceEntry` that explicitly defines the localhost worked! Closing this issue now, as it is resolved. Thanks!

[2021-07-06 05:04] #17178 closed

[2021-07-06 07:06] ramaraochavali commented on #11949
@ankane I am getting this error https://github.com/envoyproxy/envoy/issues/11949#issuecomment-673197985  on mac. Were you able to solve it? Can you please share the solution?

[2021-07-06 10:02] cfanbo opened #17244 "build failed under ubuntu20 x64"
build failed under my machine

*Description*:

Linux sxf-VirtualBox 5.8.0-55-generic #62~20.04.1-Ubuntu SMP Wed Jun 2 08:55:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

git branch: v1.18.3

[code]

install document: https://github.com/envoyproxy/envoy/blob/a0ca08b69974cc0296e242bfb1c2d4e252d832b5/bazel/README.md

[2021-07-06 12:12] javiku commented on #17236
For anyone needing a temporary workaround (for automated processes or CI not failing), we are temporarily installing Envoy on Ubuntu 18.04 like this (thanks to info in [this comment](https://github.com/envoyproxy/envoy/issues/16867#issuecomment-874369852)):

[code]

[2021-07-06 12:25] carlossg commented on #17236
You can find packages and instructions at https://cloudsmith.io/~tetrate/repos/getenvoy-deb-stable/setup/#formats-deb

[2021-07-06 14:44] mattklein123 commented on #16988
This looks amazing! +1 for a build option to enable this.

[2021-07-06 14:56] mattklein123 commented on #17184
Yeah that conversion doesn't seem necessary. PR appreciated.

[2021-07-06 14:57] mattklein123 commented on #17186
Unfortunately there is no default that is going to make everyone happy, so I doubt we will go through the pain of changing it in this case.

[2021-07-06 14:58] mattklein123 commented on #17216
cc @phlax

[2021-07-06 14:59] mattklein123 commented on #17228
cc @esmet

[2021-07-06 14:59] Diggsey commented on #17186
@mattklein123 regardless, terminating the stream as though nothing went wrong is a bug.

[2021-07-06 15:00] mattklein123 commented on #17234
cc @asraa @alyssawilk

[2021-07-06 15:02] mattklein123 commented on #17186
It's not a bug. It's by design. See here for more information on timeouts: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts

If you have suggestions on how to improve either the documentation or the functionality we are very much interested. This is a complicated topic.

[2021-07-06 15:03] Diggsey commented on #17186
You seem to be missing the point: if there is a timeout, Envoy should immediately close the connection. It should not terminate the stream with `\r\n\r\n` and then close the connection.

[2021-07-06 15:05] mattklein123 commented on #17186
The point was not clear from your original report, but thanks for clarifying! Yes I agree that for HTTP/1.1 this is a bug. I will make the issue more clear and mark this help wanted. cc @alyssawilk

[2021-07-06 15:22] Diggsey commented on #17186
Sorry, I misrememberd and this is also incorrect - chunked encoding is terminated by a "zero size" chunk, not by `\r\n\r\n`.

The issue I'm seeing is that HTTP clients see the request as completing successfully. I think this is a problem with Envoy sending the terminator because it occurs with multiple HTTP clients (curl/browser/insomnia/etc) but it could also be caused by clients being overly per

[2021-07-06 15:29] ohdearaugustin commented on #17236
The packages are not available anymore as bintray.com is end of life. Refer to https://jfrog.com/center-sunset/

The suggested repository from @carlossg are the same guys, who operated the old one.

[2021-07-06 15:53] ggreenway commented on #17219
Testing with various request sizes and data patterns showed that this was as fast or faster than the alternative, which was to call `SSL_write` on each slice in the buffer. The reason is that `SSL_write` causes a TLS record to be sent, which includes the crypto overhead of sealing the record. Sending more records than neccessary is more expensive than this memcpy.

The ideal solution would be for

[2021-07-06 15:53] ggreenway commented on #16682
Not stale; PR in progress.

[2021-07-06 16:28] ggreenway commented on #15072
Ownership and reference chains that result in this crash:

`GoogleAsyncStreamImpl` (`RawAsyncStream`)
* **non-owning referenced** by `AsyncStream` (typed_async_client.h) `RawAsyncStream* stream_`
* owned by `GrpcStream` `Grpc::AsyncStream<RequestProto> stream_{}`
* owned by `GrpcMuxImpl` `GrpcStream<envoy::service::discovery::v3::DiscoveryRequest, envoy::service::discovery::v3::DiscoveryResponse>

[2021-07-06 17:16] zthomas2 opened #17245 "Troubleshooting mTLS connection failures"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Troubleshooting mTLS connection failures

*Description*:
I believe I am having the same issue as described in [this](https://github.com/envoyproxy/envoy/issues/13563

[2021-07-06 17:45] arkodg commented on #17236
thanks for surfacing the link with the correct installation steps @carlossg

can confirm it works
[code]

@codefromthecrypt @phlax  I believe we are in a state of flux where `deb.dl.getenvoy.io` might not be the final home for fetching these debs. Do we want to still go ahead and update the envoyproxy docs ?

[2021-07-06 20:01] #16431 closed

[2021-07-06 21:24] ggreenway commented on #15072
Possible fix: https://github.com/envoyproxy/envoy/pull/16948/commits/b1e38d7aae1e3aedf2b273411beca0bce0505a73

[2021-07-06 23:21] belyalov commented on #17109
`envoy_proxy` thread takes around 100% CPU while processing config update for ~6 seconds, workers are fine
[code]

[2021-07-06 23:57] PKizzle commented on #15235
Will envoy additionally provide docker images with the gperftools option for tcmalloc set for versions >= v1.17 and arm64 until this issue is either solved in the default Raspbian kernel or Google’s tcmalloc?

[2021-07-07 00:01] codefromthecrypt commented on #17236
@arkodg my 2p is we either remove the references of getenvoy from https://www.envoyproxy.io/docs/envoy/latest/start/install or fix them. At the moment, they say literally that things are in flux ("...using Get Envoy until official packages exist.") then give you some broken steps also!

[2021-07-07 00:22] codefromthecrypt commented on #17236
I spiked this, folks can comment whether to merge it, change it or have me repurpose it to delete the "get envoy" instructions entirely. One way or another, let's stop advertising broken! https://github.com/envoyproxy/envoy/pull/17246

[2021-07-07 01:59] lum1n0us commented on #17003
I should use `//test/extensions/filters/network/wasm:config_test` instead of `@envoy//test/extensions/filters/network/wasm:config_test`

[2021-07-07 01:59] #17003 closed

[2021-07-07 04:06] daixiang0 commented on #17244
Seems miss some commands.

[2021-07-07 04:06] daixiang0 commented on #17237
Is there IP address conflict?

[2021-07-07 04:08] liuqi-sun commented on #17237
My IP is not this network segment

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "envoyproxy/envoy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月7日(星期三) 中午12:07
***@***.***&gt;;
抄送:&nbsp;"时光°

[2021-07-07 06:52] vitruvvius commented on #16222
+1

[2021-07-07 09:44] #17244 closed

[2021-07-07 09:48] Leschge opened #17248 "Configure Envoy sidecar to route outbound traffic"
*Title*: *Configure Envoy sidecar to route outbound traffic*

*Notice*: This is a general Envoy configuration question and does not address a bug or feature request. I opened this issue as I could not find any example or detailed instructions on how to set up an outbound/egress configuration file. Thus, I am a beginner in using Envoy and unfortunately does not have the base knowledge to achieve su

[2021-07-07 10:12] techpavan commented on #13047
Adding my experience on this. The same behavior was observed in my testing, but the logs were not helpful. This configuration was working on some websites, but failing on others. As the working websites are huge organizations and failed are the smaller ones, I guessed it to be shared servers and issue related to SNI. Adding the appropriate sni configuration fixed it.

[2021-07-07 10:12] phlax commented on #17236
i think we want to update the docs in the interim - its going to be a matter of weeks before we are ready with the newer distro links set up

that said - im very -1 to documenting with this script - i would much prefer we keep the existing format of the docs with the setup requirements explicit, active checking for checksums, and no requirements beyond what is actually required to install and run

[2021-07-07 10:54] phlax commented on #17105
im not sure if this has been fixed, or if something changed upstream - it was always a flake in the sense that sometimes it worked and sometimes not - but my understanding was that it wouldnt be fixed until #17070 landed

i have tested the default config again with the current `envoyproxy/envoy-dev:latest` image and now it never fails

[2021-07-07 11:21] #14776 closed

[2021-07-07 13:53] alyssawilk commented on #17234
I think Dan actually fixed the delimiter issue (https://github.com/envoyproxy/envoy/blob/main/source/common/http/header_map_impl.cc#L437) but where I agree O(n) isn't good I suspect inlining cookies would break things for some users.  it'd be nice to have a configurable bootstrap option for which headers to inline so folks could optimize on their own.

[2021-07-07 14:47] mattklein123 commented on #17234
FWIW when I wrote the custom inline header code I intended to eventually make it bootstrap configurable. It should be quite easy:
https://github.com/envoyproxy/envoy/blob/d3a90127f8c408651e8ab44e961408ca1fd972b4/source/server/server.cc#L350-L362

[2021-07-07 14:49] vprus opened #17252 "Using URL path as operation name"
I am using envoy native jaeger tracing, and am trying to use URL path and the name of operation - by default the operation name is just "ingress". It seems that decorator on a route might work, so I've tried to combine that with variables, like so:

[code]

What I observe is that variable is not expanded at all, and I get traces with operation name of `"%REQ(PATH)%"`. Am I using wrong syntax, or d

[2021-07-07 14:59] alyssawilk commented on #17047
FWIW just head back from the dockerhub folks - while we haven't had the project reassessed yet we're making progress :-)

[2021-07-07 15:47] mattklein123 commented on #14651
I think this is done.

[2021-07-07 15:47] #14651 closed

[2021-07-07 15:57] alyssawilk commented on #17186
Any chance you could provide a trace of this happening?  Theoretically
IdleTimeoutIntegrationTest.PerStreamIdleTimeoutAfterBidiData verifies we don't send \r\n\r\n on idle timeouts and I validated manually with some logging it's handling that correctly.   While it's possible there's some corner case with large buffers and backup, I'm only seeing the HTTP/1.1 codec sending \r\n\r\n when serializing

[2021-07-07 16:24] sgtang commented on #17236
Hey guys, thanks for the workaround using the Cloudsmith repo. Our issue is that the 1.16.4 version isn't available there and we need it for compatibility with Consul Connect (https://www.consul.io/docs/connect/proxies/envoy). Is there another way to grab that specific version in the meantime? Thanks.

[2021-07-07 17:40] #16804 closed

[2021-07-07 17:54] bartebor opened #17257 "Segfault config_dump with invalid mask"
*Title*: Envoy crashes when `/config_dump` is called with unsupported mask

*Description*:
When using repeated field mask such as `/config_dump?mask=static_clusters.x` server crashes. It should return some response instead.

*Repro steps*:
Start envoy-debug (or plain envoy):
[code]
In other terminal supply invalid mask using repeated field, what is not supported:
[code]
Envoy segfaults. There is n

[2021-07-07 18:07] bartebor commented on #17257
I got a message from @paul-r-gall saying that #16979 should fix this. I was not aware of that before opening the issue. In that case please close this.

[2021-07-07 18:12] markdroth commented on #11079
Yes, Envoy would fail the requests with whatever gRPC status the ext_authz server specifies.

[2021-07-07 18:14] #17105 closed

[2021-07-07 18:48] mattklein123 commented on #17257
Sounds good let's close and reopen if it doesn't fix.

[2021-07-07 18:48] #17257 closed

[2021-07-07 19:44] phlax commented on #17236
you can extract the binary from the docker image - its not ideal - but its a workaround for now

[2021-07-07 19:48] lambdai opened #17258 "[feature request] HCM option to enforce that host header is allowed by the cert served"
Http host (or :authority in h2) header should match [dns name in Subject Alternative Name](
https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6).

To be clear, the dns name is not  SNI that are referred by [FilterChainMatch](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener_components.proto.html?highlight=sni#config-listener-v3-filterchainmatch) and filled by

[2021-07-07 19:57] lambdai commented on #17237
The listener config has lots of ip:port to bind.

Is it possible the example 10.97.180.245:31400 socket address is supposed **NOT** to bind to port?

The bind_to_port has a deprecated v1 api field and undeprecated in listener api v3 https://github.com/envoyproxy/envoy/pull/14480
and the legacy v1 should be finally deprecated recently.

[2021-07-07 20:05] lambdai commented on #17245
It seems the only filled CONNECTION_TERMINATION_DETAILS are tls timeout  and rbac.

RESPONSE_FLAGS is similar. You may want to create your own flag/detail and populate at the right condition

[2021-07-07 20:14] lambdai commented on #17229
+1
The listener filters have the requirement to read/peek/write data. Currently the listener filter is operating the socket and event directly.
The connection abstraction might overkill. My hunch is that libevent bufferevent works

[2021-07-07 20:20] zthomas2 commented on #17245
@lambdai Thanks for your response! Is there a more well defined way to handle what I'm trying to do here? I feel like this must be a fairly common requirement, especially as mTLS gains tractions.

[2021-07-07 20:25] mattklein123 commented on #17109
Interesting. I don't have any great theories right now as to why this config spinning on the main thread (which is known) is causing worker issues. Coming back to your original report:

What do you mean by this exactly? Are you positive that the use of this causes the issue but the removal does not? Do you mean per-filter config overrides? Can you be really clear on what delta causes the issue?

[2021-07-07 20:28] belyalov commented on #17109
That was an original assumption of root cause, but seems it is unrelated.
Currently we're playing with config sizes (trying hard to reduce it!) and per filter config overrides, so I'll update you with results.

[2021-07-07 21:49] jpeach commented on #16608
not stale

[2021-07-07 23:09] LiuzcEECS commented on #10139
@jmarantz May I ask about the current status on this issue? Is it still necessary to feed `--restart-epoch epoch_number` when Envoy hot restarting?

[2021-07-07 23:30] tbarrella commented on #14591
I'm thinking of retrying #14616 and would like to align on the logic first.

The overall proposed approach is
- If the status is `Ok`, use debug log level
- If the status is non-urgent and different from the last non-urgent status, add "(previously ... since ...)" to the log message (and use warn log level)
- If the status is non-urgent (`DeadlineExceeded`/`Internal`/`Unavailable`), the same as th

[2021-07-08 00:31] chet commented on #16971
Hey @gbrail, thanks for the update! I was curious if the contributor you're referring to is also working on implementing `request_attributes` and `response_attributes`? I was considering beginning an effort on making those specific pieces work, but came across this Issue (which makes it look like there might already be some good progress). Let me know, thank you!

[2021-07-08 01:55] wbpcode commented on #17234
After that, we will have three ways to define the inline header.
The first is the macro definition in HeaderMap. This type of inline header provides related methods with the same name(getXXX, setXXX).
The second is to implement the inline header through RegisterCustomInlineHeader.
The third is to specify the header name to be set as the inline header in the bootstrap.

[2021-07-08 02:33] liuqi-sun commented on #17237
thanks a lot

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "envoyproxy/envoy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月8日(星期四) 凌晨3:57
***@***.***&gt;;
抄送:&nbsp;"时光°     ***@***.******@***.***

[2021-07-08 03:07] wbpcode opened #17264 "when constructing ClusterManagerImpl virtual functions may be called."
When I wrote some new `ClusterManagerImpl` test cases, I found that the `postThreadLocalClusterUpdate` virtual function has two different execution results.
One is that when the configuration is loaded, it will be executed once, but the version implemented by `ClusterManagerImpl` will be called.
One is that when testing some scenarios, `postThreadLocalClusterUpdate` may be executed multiple times,

[2021-07-08 03:34] ztgoto opened #17266 "The performance of direct_response and nginx return is very different"
*Title*: *The performance of direct_response and nginx return is very different*

*Description*:

os: ubuntu server 20.04
nginx: 1.21.1

config
[code]

envoy: 1.18.3
command param:  --concurrency 8
config:
[code]

wrk command: `./wrk -t 8 -c 500 -d 1m http://127.0.0.1:9101/test`

nginx :
[code]

envoy:
[code]

[2021-07-08 04:01] #16723 closed

[2021-07-08 06:06] daixiang0 commented on #17143
@phlax any clue?

[2021-07-08 06:45] javiku commented on #17236
As I mentioned early, you could also download version 1.16.4 with:
[code]
We were using this method because the version we needed (1.15.5) was not available in the cloudsmith.io repos.

We saw func-e some days ago, but we weren't sure how "official" it is or its current status.

[2021-07-08 07:10] codefromthecrypt commented on #17236
I think it is safe to say anything not in the envoyproxy org is not official. https://func-e.io is a Tetrate project and the replacement for what was formerly the getenvoy CLI. Its aim is to make things easier, like before you know what a service mesh or data plane is etc. We intentionally did not replace the system packages as the confusion of the past taught us that lesson!

func-e is decoupled

[2021-07-08 07:21] javiku commented on #17236
Thank you very much for that detailed and clarifying explanation! We have a much clearer vision now.

[2021-07-08 08:42] cfanbo opened #17270 "build failed "Socket closed" under ubuntu20"
build failed!

$uname -a
Linux ubuntu 5.8.0-43-generic #49~20.04.1-Ubuntu SMP Fri Feb 5 09:57:56 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

*output*:
[code]

but file jvm.out is empty!

[2021-07-08 11:26] ramaraochavali commented on #14591
This looks good to me.

[2021-07-08 14:35] #16530 closed

[2021-07-08 15:07] rgs1 commented on #16698
Ok reposting some of the stuff shared with @wbpcode offline, since it might be useful for future cases of custom load balancing.

We've used two methods for achieving something similar to what could be called stateful session persistence.

Case 1:
As described in [0], we route requests based on a cookie value which is extracted and then applied as dynamic metadata using a filter similar to the hea

[2021-07-08 16:28] wbpcode commented on #16698
Reposting some reply to @rgs1

`custom filter + dynamic metadata + subset lb` is a powerful method that can be used to implement various complex routing.

But think the problems `custom filter + dynamic metadata + subset lb`  solved are still not consistent with stateful session sticky. The problem I hope to solve is how to persist the session.
For example, we have three upstream instances of A B

[2021-07-08 18:03] Leschge commented on #17248
Okey a small update so far. I noticed that there is no actual "outbound" traffic. Envoy sees all traffic as "inbound" traffic, therefore I was able to route the "outbound" traffic with a standard listener.

I also was able to mirror the traffic to another cluster as well. But when I try to mirror the traffic to multiple clusters I receive the following error: `request_mirror_policy: Proto field is

[2021-07-08 22:23] mattklein123 commented on #14591
At a high level this looks like the right track to me. I have a couple of questions:
1) Can you clarify urgent vs. non-urgent statuses? I'm not completely clear on that.
2) > If the status is non-urgent and has been returned for more than 30s, add "since ..." to the log message (and use warn log level)

Perhaps this should just be logged every 30s vs. repeatedly after 30s? Is that what you mean?

[2021-07-08 22:41] mandarjog commented on #14591
In this model  the most frequent “Grpc stream closed” will appear as debug.

I think retryable and non-retryable or actionable or not-actionable is the classification. I don’t think “urgent” is what we are trying to classify.

[2021-07-08 23:05] itayd commented on #16302
is this what @alyssawilk is working on?

[2021-07-08 23:45] DavidSchinazi commented on #16291
Yup, still on my back burner - got pulled away on something else. Not stale.

[2021-07-08 23:54] codefromthecrypt commented on #16482
Does someone have resources and build skills to implement what @moderation said above? There's considerable tech debt relying on translation as for example you have to consider the intent when this is eventually addressed. The longer this takes to resolve the more ecosystem cleanup will be needed.

[2021-07-09 00:47] ankitanallana-livongo opened #17277 "Help wanted: gRPC request is not translated to HTTP 1.1 using grpc_http1_reverse_bridge_filter"
*Title*: *gRPC request is not translated to HTTP 1.1 using grpc_http1_reverse_bridge_filter*

*Description*:
 I'm trying to convert gRPC requests to HTTP1.1 requests. I'm just getting started so I'm working off of the `grpc-bridge` example (i.e. I'm using the provided `set` and `get` server/client). Here's what I intend to do:

[code]

This is my envoy-server.yaml config (modified following this [

[2021-07-09 03:18] #17027 closed

[2021-07-09 06:13] k82cn opened #17278 "Support dynamic target for batch workload"
*Title*: *Support dynamic target for batch workload*

*Description*:

When enable Spark on Kubernetes, we'd like to export Spark UI to end user out of cluster by ingress (e.g. Contour). Currently, the target service is pre-defined in config file; so it has to create one ingress service for each spark job. To make configuration simple, we'd like to support dynamic target service for batch workload.

[2021-07-09 15:38] #17203 closed

[2021-07-09 15:39] #16432 closed

[2021-07-09 16:45] gopakumarce opened #17281 "websocket/upgrade path does not honor per_connection_buffer_limit_bytes ?"
I send websocket data on port 443, and when I push a ton of tcp data, I can see envoy buffering up data and finally gets OOM killed. I am using istio 1.10.2, and I have applied the below EnvoyFilter

    - applyTo: CLUSTER
      patch:
        operation: MERGE
        value:
          per_connection_buffer_limit_bytes: 65536

But inspite of that I can see that my inbound listener is queueing up mo

[2021-07-09 16:47] gopakumarce commented on #16586
@alyssawilk does envoy buffer up upgrade data or is it streaming ? I hope its streaming - I am seeing a behaviour here https://github.com/envoyproxy/envoy/issues/17281 and hence the question

[2021-07-09 18:41] gopakumarce commented on #17281
Some more trace logs if thats of any help

[code]

[2021-07-09 20:01] #16599 closed

[2021-07-09 20:01] #16757 closed

[2021-07-09 20:01] #16758 closed

[2021-07-09 20:31] tbarrella commented on #14591
Thank you!

1. mandarjog clarified this
2. I think at first it would be simpler and not much worse to log on each failed retry after 30s. With the current implementation of `JitteredExponentialBackOffStrategy`, that should be on average every 15s after the initial 30s passes. Otherwise, either we'd be managing two timestamps (when the first failure happened, and when we last warned), or the time d

[2021-07-09 20:34] mattklein123 commented on #14591
re: (1) I'm still confused. Can you clarify which gRPC statuses are in which category?
re: (2) does the backoff need to be configured? Or is it always on?

[2021-07-09 20:38] tbarrella commented on #14591
1. `DeadlineExceeded`, `Internal`, and `Unavailable` are considered retriable
2. Right now it's always on and not configurable

[2021-07-09 20:40] mattklein123 commented on #14591
OK sounds good.

[2021-07-09 21:17] wez470 commented on #7171
I'd like to pick this issue up

[2021-07-09 21:22] mattklein123 commented on #17252
IIRC this type of dynamic interpolation on the trace decorator is not supported today, though I don't think it would be too terrible to add.

[2021-07-09 21:27] mattklein123 commented on #17266
My quick guess is Envoy is doing a lot more in the direct response case than nginx is, but it's hard to say without perf traces. cc @rojkov

[2021-07-09 21:28] ryanjwh commented on #3305
@mattklein123 can you elaborate on "Done" please? My company is suffering from Envoy metrics explosion because we use Datadog and it's picking up over 600 metrics from every container/sidecar running Envoy ($$$$$ in a commercial metrics platform that bills on metrics ingestion). So, we want to start allow/denylisting which metrics we want to collect from Envoy (regardless of Datadog, New Relic, Pr

[2021-07-09 21:28] mattklein123 commented on #17278
Sorry I'm not sure what Envoy feature you are asking for. Can you clarify?

[2021-07-09 21:32] mattklein123 commented on #17281
cc @alyssawilk

[2021-07-09 21:44] gopakumarce commented on #17281
I figured out the thing, it was my bad, the websocket buffering was getting flow controlled properly, I had not set the http2_protocol_options under "typed_extension_protocol_options" - so it was http2 that was buffering like crazy, I set that option and its fine for now. More details at https://github.com/istio/istio/issues/33416

[2021-07-09 21:50] mattklein123 commented on #3305
See https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/stats.proto#envoy-v3-api-msg-config-metrics-v3-statsconfig and stats_matcher specifically.

[2021-07-10 03:21] k82cn commented on #17278
hm... I'd like to build gateway by Envoy, if the URL is "/my-platform/spark-ui/\<spark-svc-id\>", I'd like to forward the request to "\<spark-svc-id\>" instance (e.g. Service in k8s). "\<spark-svc-id\>" ard dynamically generated when submit a spark job.

[2021-07-10 04:25] ikonst commented on #9821
Would this issue also be a precursor for logging those requests? I was recently debugging an issue that stemmed from a lowercase method being used ('post' instead of 'POST'). This resulted in a 400 response from Envoy without any logs. Ideally I'd want it to end up in error logs with a response flag.

[2021-07-10 18:10] su225 commented on #15953
So if I understand that correctly - in the context of the config here - https://github.com/envoyproxy/envoy/blob/3876d7c0fef12c8f47402eda841e59265372e837//configs/envoyproxy_io_proxy_http3_downstream.yaml - the TCP listener's HTTP Connection Manager would have an option like `advertise_http3` and it is the responsibility of the user to configure a corresponding QUIC listener on the same port. Is t

[2021-07-10 20:56] jstewmon commented on #16918
Not stale

[2021-07-11 01:26] austince commented on #16859
"help wanted"
"no stalebot"
":pray:"

[2021-07-11 03:23] ediezh opened #17287 "Best practices for configuring max_outbound_frames"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Best practices for configuring max_outbound_frames*

*Description*:

We run envoy through istio service mesh. Recently, one of the service sidecars fails frequently

[2021-07-11 16:01] #16064 closed

[2021-07-11 16:01] #16811 closed

[2021-07-11 17:36] bwitt commented on #16351
I don't think I can add a label; would "help wanted" be appropriate here?

[2021-07-11 20:01] #16700 closed

[2021-07-11 20:01] #16817 closed

[2021-07-12 00:01] #16551 closed

[2021-07-12 03:51] k82cn commented on #17278
@mattklein123 do you think that's reasonable for envoy for that scenario ?

[2021-07-12 10:06] Leschge commented on #17248
New Update. So `request_mirror_policy` did not work but `request_mirror_policies` does. The docs should may highlight that there are two different mirror policies.

`          "@type": type.googleapis.com/envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager` as well as
`          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpCo

[2021-07-12 12:01] #16815 closed

[2021-07-12 13:44] alyssawilk commented on #17281
phew!  thanks for the update :-)

[2021-07-12 13:44] #17281 closed

[2021-07-12 13:54] alyssawilk commented on #9821
yeah, I think stream creation would solve this.  I was hoping the move to the new HTTP parser would be the first step towards addressing this, but it has been moving more slowly than expected :-/

[2021-07-12 14:31] alyssawilk commented on #16586
All Envoy processing streams by default, websocket included.  If you use the buffer filter for non-websocket data it's strongly recommended to have a custom upgrade filter chain (see docs) to not buffer on the upgrade path.  That issue was closed off as user error :-)

[2021-07-12 14:37] gopakumarce commented on #16586
Thanks @alyssawilk .. yes I figured after some googling and some envoy command dumps that buffer filter is NOT on by default, thx again for the prompt response

[2021-07-12 14:44] alyssawilk commented on #15953
I'm not an api shephard but I'd be inclined to keep the string literal in the config, so folks could have an easy time seeing what would be sent for the route config (which is done by request headers to add, so really has the literal) vs the HCM defaults.

That said one of the other things I'd like to see here is host options.  When we were rolling out HTTP/3 in-house we had some domains we weren'

[2021-07-12 14:55] danzh2010 commented on #16757
I don't think this test coverage is super important given that this is testing QUICHE library, but I still think it's better to keep this issue open for tracking.

[2021-07-12 14:58] mattklein123 commented on #17278
Envoy can definitely do this, but how you do it depends on your environment. For example, one solution would be:
1) Use RDS to keep a route table up to date with all of the service IDs
2) Create a cluster per service ID using CDS and potentially just static clusters (EDS might not buy very much here)

This would work, but might not scale that well if you have lots of services and a high rate of ch

[2021-07-12 14:59] mattklein123 commented on #17287
cc @antoniovicente @yanavlasov

[2021-07-12 15:27] alyssawilk commented on #17047
From docker: Welcome to the Docker Open Source Program!  We are very excited to have you as a part of our great community.  We have whitelisted your namespace "envoyproxy" and this should come into effect in the next week or so. With this whitelisting, the Docker data pull rate policies that went into effect last November, will not apply to the users pulling images from your namespace.

@mdeggies

[2021-07-12 15:43] danzh2010 commented on #16751
Can someone make it non-stale?
As we will not support Google QUIC soon, implementing it using PATH_CHALLENGE and PATH_RESPONSE is enough.

[2021-07-12 15:55] david-yu opened #17295 "Envoy UBI based Docker images on RedHat OpenShift Catalog"
*Title*: Envoy UBI based Docker images on RedHat OpenShift Catalog

*Description*:
Currently Envoy does not provide official packages on RHEL/CentOS since getenvoy.io is no longer officially providing RPM packages any longer due to trademark issues (docs: https://www.envoyproxy.io/docs/envoy/latest/start/install#install-envoy-on-rpm-based-distros)

OpenShift currently requires that for officially

[2021-07-12 16:00] mattklein123 commented on #17295
cc @phlax

[2021-07-12 16:04] david-yu commented on #17047
Thank you @alyssawilk I will sync with @mdeggies on this and our internal team! This is very exciting!

[2021-07-12 16:08] phlax commented on #17295
a situation we hope to resolve fairly shortly

iiuc then its ok to package Envoy as long as you dont claim it *is* Envoy - i think it just needs to be clear that you have packaged it (IANAL)

as i understand it the trademark issue was more to do with domains

relatedly in my quest to add packaging im testing against the ubi images

[2021-07-12 16:12] david-yu commented on #17295
Thank @phlax! I'm curious are you also working on getting Envoy images on RedHat catalog built using UBI base images? I apologize if there is a duplicate issue or work that is going that I'm not aware of.

[2021-07-12 16:16] phlax commented on #17295
no - im building rpms and then testing the rpms for install/start/stop/uninstall etc

[2021-07-12 16:42] david-yu commented on #17047
@alyssawilk you can go ahead and close this issue! I've confirmed that this works for our team!

[2021-07-12 16:44] alyssawilk commented on #17047
Oh nice!  I guess their week or two is more like a day or two :-)

[2021-07-12 16:44] #17047 closed

[2021-07-12 16:52] zuercher commented on #17278
The subset load balancing version of this is:
1. Use the header_to_metadata filter to extract the service ID from the :path pseudo-header into the "envoy.lb" namespace with a key or your choose (e.g. "service-id" for this example)
2. Create a "spark" cluster that contains all the hosts across service ids. Each endpoint must have a service id in its endpoint metadata with the same namespace and key

[2021-07-12 17:05] zuercher commented on #17013
The name seems a bit cumbersome, but it's accurate. I think you could drop "Based" and it'd be fine.

It's not immediately obvious to me that those two load balancing implementations have a lot in common, but it's worth exploring.

[2021-07-12 17:11] snowp commented on #17153
I think this is okay as an extension, my main ask would be for us to come up with a way to avoid having to reimplement a lot of the string extraction logic. For example, could we have the filter make use of the DataInput<HttpMatchingData> interface to provide a pluggable way of extracting the ip from the headers/metadata? I think that would allow us to leverage shared code for configuring where th

[2021-07-12 17:55] rgs1 commented on #17278
Stephan's recipe is what you want.

I am also happy to elaborate a bit more, if you are interested, on how we balance traffic across Spark History servers using hash policy based routing to ensure each job is loaded into memory only once. But that's outside the scope of your initial use case for now.

[2021-07-12 18:05] #16898 closed

[2021-07-12 19:20] yanavlasov opened #17301 "Envoy configuration defaults profiles"
Presently Envoy has only one set of hardcoded defaults that are largely optimized for performance. Recommended defaults for [running Envoy as edge proxy](https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge) are documented. However this approach is error prone as operators have to keep track of any changes made to the recommended safe defaults. Funny enough the same config

[2021-07-12 23:46] yangminzhu opened #17303 "JWT test WithGoodTokenAsyncFetchFast flaky: Timed out waiting for new connection"
*Title*: JWT test WithGoodTokenAsyncFetchFast flaky: Timed out waiting for new connection

*Repro steps*:
With a clean repo at main branch (`56d92a555`), reproduce the flaky with the command:

`
./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev //test/extensions/filters/http/jwt_authn:filter_integration_test --runs_per_test=1000  --test_env=ENVOY_IP_TEST_VERSIONS=v4only'
`

Test output:
[code]

cc

[2021-07-12 23:48] qiwzhang commented on #17303
OK,  please assign it to me.

[2021-07-13 01:12] belyalov commented on #17109
Some insights of what our "huge" config contains of:
- 9 clusters with `eds` enabled
- ~40 virtual hosts, with around **80k** routes total
- 13k routes with runtime fraction enabled
- Most of routes using re2 regex matching.
- Almost all routes have `filter_metadata` attached.

[2021-07-13 02:31] k82cn commented on #17278
re History servers : I'm also interesting in that point, we're working on the e2e solution for spark on k8s :)
re subset load balancing: Great! I'm going to have a try, thanks very much :)

[2021-07-13 05:04] xxx0624 commented on #14208
Hi Yanjun, did you find any way to access the client cert in the ext auth service when only enabling the one-way ssl?
Thanks!

[2021-07-13 08:08] HuanLiu-hotstar opened #17307 "Is there a poster filter plugin ?"
*Title*: *Is there a poster filter plugin ?*

*Description*:
- 1 envoy has provided some kind of useful pre-filter to implement our business logic ,for example rate limit service, authentication services and so on, these plugins are before the real request to domain service.
- 2 But for some scenario, for example I want to update token and response it to client , post-filter will helpful when fini

[2021-07-13 13:15] emilchitas opened #17310 "allow_chunked_length not removing headers"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *allow_chunked_length does not remove the header*

*Description*:
With the *allow_chunked_header* enabled, we get the **http/1.1 protocol error: both 'Content-Length

[2021-07-13 13:54] Leschge opened #17311 "File based dynamic configuration, listener not updating"
*Title*: File based dynamic configuration, listener not updating

*Description*:
[When the files are changed on the filesystem, Envoy will automatically update its configuration.](https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/configuration-dynamic-filesystem) This seems not to happen after changing the listeners yaml configuration file.

*Repro steps*:

Setup Deployment and Envoy s

[2021-07-13 15:24] mattklein123 commented on #17307
You want an "encoder" filter.

[2021-07-13 15:56] mattklein123 opened #17312 "docs: bullet lists appear to no longer render"
E.g. https://www.envoyproxy.io/docs/envoy/latest/version_history/current

From a quick search I found https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file

[2021-07-13 15:56] mattklein123 commented on #17312
cc @phlax

[2021-07-13 16:13] jboero opened #17313 "Slow performance on aarch64?"
*Title*: *Possible performance issues with arm64 build on A72 cores?*

*Description*:

I realize ARM is a bit experimental right now but curious if anybody else notices unexpected performance issues or finds a way to tune things better.  This box usually has no problems pushing ~2GB/s in other apps, so 30MB/s is a bit suspect.

[2021-07-13 16:37] moderation commented on #17311
I was doing some testing with
https://github.com/envoyproxy/envoy/tree/main/examples/dynamic-config-fs / https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/dynamic-configuration-filesystem and observed similar behavior. Changing the `cds.yaml` and `lds.yaml` files was reported in the Envoy logs but the configs were not updated

[2021-07-13 16:44] moderation commented on #17313
There was a PR recently to address aarch64 performance however it landed after the 1.18.3 release - https://github.com/envoyproxy/envoy/pull/16104. The PR has the issue details but the performance issue unaccelerated cryptographic operations - https://github.com/envoyproxy/envoy/issues/16105

It would be very interesting to see if you get improved results using a latest main build

[2021-07-13 17:07] mmayeda commented on #17085
@alyssawilk Do you know if this is expected behavior or potentially a bug?

[2021-07-13 17:34] jparklab opened #17318 "host_redirect cleans up the request port when port_redirect is not specified"
*Description*:
 When host_redirect is specified but port_redirect is not, port is not preserved in the response. Envoy cleans up the port in the response(https://github.com/envoyproxy/envoy/blob/main/source/common/router/config_impl.cc#L791).
 Envoy should preserve the port in the request if port_redirect is not specified or it should be clarified in the doc(https://www.envoyproxy.io/docs/envoy/la

[2021-07-13 17:39] timothyleung1 commented on #17224
If you specify `ACCEPT_UNTRUSTED`, the verify_mode will be set to `SSL_VERIFY_PEER`. https://github.com/envoyproxy/envoy/blob/main/source/extensions/transport_sockets/tls/cert_validator/default_validator.cc#L58

Which will still request a client certificate even if you set `require_client_certificate` to false. https://github.com/envoyproxy/envoy/blob/main/source/extensions/transport_sockets/tls/c

[2021-07-13 17:43] timothyleung1 commented on #17224
I think this flag is more for debugging, because if you wanna use mTLS and by providing related configuration, it should always ask for the client certificate. "Asking" and "Verifying" are two different concepts here. We can still ask but not verifying it.

I guess it makes sense to have the flag for debugging purpose, which is something that need to be fixed. The flag should unset all the verific

[2021-07-13 18:00] xxx0624 commented on #17224
Get it. Thanks for providing these details.

BTW do you happen to know that there’s some way to let Envoy forward the client cert(if presented in the incoming request) to the ext authz service with only one way ssl enabled?
Because my ultimate aim is to give the access of the client cert to the ext authz service. And why the above doesn’t work for me? It’s because if I enable mTLS(the two way ssl)

[2021-07-13 18:02] alyssawilk commented on #17085
oh, I was hoping for a quick "fix" if you thought it was ext authz.  It looks like the only places Envoy sets the trace if headers are in the opencensus tracer and the zipkin tracer.  I assume you're using one of those?

[2021-07-13 18:03] derekargueta commented on #6009
I'm also in need of this. Could we re-open this or I can file a different ticket as more apt feature request?

[2021-07-13 18:08] timothyleung1 commented on #17224
Are you saying you want to forward the client cert from Envoy to your backend? This might help - https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-forwarded-client-cert

[2021-07-13 18:09] timothyleung1 commented on #17224
My answers are not official btw, ill let the envoy team to confirm them :)

[2021-07-13 18:44] Leschge commented on #17311
Thank you for reviewing this issue. If this is in fact a bug, not only LDS should be investigated as I think CDS and others may be affected as well by that issue.

[2021-07-13 18:59] mattklein123 commented on #17311
Are you doing an atomic file move? IIRC this is the only type of change Envoy will reload on.

[2021-07-13 19:07] xxx0624 commented on #17224
This ext authz service is a backend service but it's used differently compared to other backend service.
Actually it's used as an auth filter to authN the incoming request and IFF it passes this filter, then it can be forwarded to the real backend service(upstream service).

Thanks anyway :)

[2021-07-13 19:28] alyssawilk commented on #17310
cc @lambdai

[2021-07-13 19:31] jboero commented on #17313
Ah great thanks I'll try that in the next release.

[2021-07-13 19:31] alyssawilk commented on #17277
At first glance I think your Enovy is configured to do HTTP/2 upstream: http2_protocol_options in the upstream cluster.  Try swapping that to http_protocol_options and see if it helps?

[2021-07-13 19:40] ankitanallana-livongo commented on #17277
Thanks for reaching out @alyssawilk ! I made that change and now I see this in the logs:

[code]
But envoy says that my upstream responded with unsupported content-type
[code]
Unsure where it's receiving the `text/plain` from (logs show `application/json` from above)?

[2021-07-13 19:45] xxx0624 commented on #17224
This XFCC header works better for the mTLS connections. Seems like not a working option in my case per the experiment I did.

[2021-07-13 21:21] Leschge commented on #17311
Thanks! This did the trick. Works as expected.

[2021-07-13 21:21] #17311 closed

[2021-07-13 21:27] ankitanallana-livongo commented on #17277
@alyssawilk Many thanks! That actually helped! Should we update the [official docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_reverse_bridge_filter.html?highlight=http%20reverse) for this?

Envoy now converts it to HTTP1.1 and sends over the request to the backend. One final question - what is the return type expected to be? My backend now returns a res

[2021-07-14 00:34] mathetake opened #17321 "wasm: make vm_config.runtime default to V8 (or Wasmtime/WAVM/WAMR)."
Given that almost all Wasm plugin users would put `runtime: envoy.wasm.runtime.v8`, it would make sense to me that make `vm_config.runtime` optional and default to V8 or any runtime which Envoy is compiled with. @PiotrSikora any thoughts?

[2021-07-14 02:27] mattklein123 opened #17323 "envoy.reloadable_features.allow_preconnect deprecation"
Your change #14474 (preconnect: rename) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-07-14 02:27] mattklein123 opened #17324 "envoy.reloadable_features.disable_tls_inspector_injection deprecation"
Your change #14404 (tls: disable TLS inspector injection) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-07-14 02:27] mattklein123 opened #17325 "envoy.reloadable_features.http_upstream_wait_connect_response deprecation"
Your change #14317 (tcp_proxy: wait for CONNECT response before start streaming data) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.
cc @irozzo-1A

[2021-07-14 02:27] mattklein123 opened #17326 "envoy.reloadable_features.vhds_heartbeats deprecation"
Your change #13201 (xds: add support for TTLs) introduced a runtime guarded feature. It has been 6 months since the new code has been exercised by default, so it's time to remove the old code path. This issue tracks source code cleanup so we don't forget.

[2021-07-14 02:48] PiotrSikora commented on #17321
Yes, we should definitely make `runtime` field optional, and if there is only one Wasm runtime built-in (which is currently the only option), then it should be used without any extra configuration.

It gets a little tricky because of NullVM, but we can always try to load NullVM plugin first before falling back to loading from file/remote.

[2021-07-14 02:51] moderation commented on #17313
@jboero you are in luck. 1.19.0 was just released - https://groups.google.com/g/envoy-announce/c/26P9tluO6mQ

[2021-07-14 03:16] zhangzerui20 opened #17327 "Why does Istio need so many envoy listeners?"
Istio uses the 15001 listener to receive the connection and forward it to the specific listener. For example, in the demo, it will be forwarded to the 9080 listener.

Why can't all requests be processed directly in the 15001 listener? Is it performance reasons, or are there other considerations?

[2021-07-14 03:18] mattklein123 commented on #17327
Please ask this question to the Istio project, thank you.

[2021-07-14 03:18] #17327 closed

[2021-07-14 05:50] zhxie commented on #16039
I think it is reasonable, since rules are too complicated to write currently. I will try to improve it.

[2021-07-14 06:37] Shikugawa opened #17331 "gRPC connection re-establishment and buffering on Envoy ALS"
This issue proposes to introduce connection re-establishment in the Envoy ALS gRPC client. In the current implementation, the connection between Envoy and the receiver survives for so long that scaling out the receiver does not make sense; in order to perform load balancing of the Envoy ALS receiver, the Async gRPC client of Envoy needs to re-establish the connection at regular intervals or at som

[2021-07-14 06:40] yanjunli76 commented on #14208
Yes,  you need to set trust_chain_verification =  ACCEPT_UNTRUSTED (https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto#enum-extensions-transport-sockets-tls-v3-certificatevalidationcontext-trustchainverification) and require_client_certificate = true (https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/tls.proto#en

[2021-07-14 06:42] wangfakang opened #17332 "have any plan to support coroutine mode for filters?"
*Description*:
have any plan to support coroutine mode for filters? It will make some block operations easier.

[optional *Relevant Links*:]
https://en.cppreference.com/w/cpp/language/coroutines

[2021-07-14 06:50] mathetake commented on #17331
I had a discussion with @wu-sheng offline, and my idea is just "having multiple streams and rotate/drain the streams periodically" rather than "use/reconnect one stream and buffer logs if stream being unavailable". This way any logs won't get lost during the load balancing/reconnects. The downside here is that maybe the implementation would be complex than just reconnectiong/buffering solution. Bu

[2021-07-14 07:03] Shikugawa commented on #16374
@mattklein123 I can take this task if no one working on this.

[2021-07-14 07:58] Shikugawa opened #17335 "Migrate network DNS context definition and DNS filter one"
Record and Query definitions in DNS Filter (e.g. `Envoy::Extensions::UdpFilters::DnsFilter::DnsQueryRecord`) overlap with definitions in Network namespace. There are many overlaps with definitions in the Network namespace, so there is a possibility to integrate them. This refactor is useful for supporting SRV record lookup in Ares. This refactor is useful for supporting SRV record lookups in c-are

[2021-07-14 08:58] wu-sheng commented on #17331
Make sense to me. Envoy could cut unused connections in the pool, and try to re-connect for a new upstream.

[2021-07-14 10:13] Shikugawa commented on #17331
@mathetake @wu-sheng I also think this approach is better in this situation. But I have some questions.

1. Suppose that you initially establish connections with multiple APM clusters and that messages are balanced evenly across the streams on the connections. Later, when all APM clusters are restarted, the logs will be lost, what are your thoughts on such a case? I don't think there is any need t

[2021-07-14 11:12] chrisxrepo commented on #17318
it lost the port

[2021-07-14 11:40] wu-sheng commented on #17331
If all skywalking reboots, then it is not envoy responsibility.

Yes, we should provide a configuration to set threshold for max connection to upstream.

[2021-07-14 13:19] snowp commented on #17332
We don't have any plans to support C++20 anytime soon, primarily due to having to support various platforms (e.g. mobile platforms) that don't support these new features

[2021-07-14 13:39] alyssawilk commented on #17277
I think the example configs are OK - if you look at them you can see there are 2 routes, one "route-with-filter-enabled" to a HTTP/1.1 cluster (where the filter is enabled and will do transforms) and the other "route-with-filter-disabled" which goes to an HTTP/2 cluster.  you just snagged the wrong cluster I think.

my guess on your response was that you want application/x-protobuf not json.

[2021-07-14 14:02] Fr0zenBoy commented on #10171
any update about that?

[2021-07-14 14:28] mksha commented on #8167
Any updates on it ?

[2021-07-14 14:50] Shikugawa commented on #17331
ok. We may have any points that we need further discussion, but I can take this task.

[2021-07-14 15:05] #17210 closed

[2021-07-14 15:05] ankitanallana-livongo commented on #17277
I modified the envoy config as:
[code]
and also modified my backend to respond with `content-type: application/x-protobuf` but I still see the `bad wiretype` error.

[2021-07-14 15:08] mattklein123 commented on #16374
Sure go for it, though I would recommending finishing SRV support in general first. I would love to see that land.

[2021-07-14 15:12] mattklein123 commented on #17332
See also https://github.com/envoyproxy/envoy/issues/2052. It's something that would be pretty neat to support, the Lua programming model has worked out very nicely for users, but as @snowp said it's not easy to do generically. Also, at this point we should probably be investing more in WASM. cc @PiotrSikora

[2021-07-14 15:50] mmayeda commented on #17085
Yes, I'm using the zipkin tracer

[2021-07-14 16:17] swav opened #17340 "Attempting to limit response size when calling upstream server"
I have configured envoy (v1.18.3) as a dynamic forward proxy to serve as a proxy to load image files from external, third-party servers. This works fine. The additional requirement I have, is to limit the size of images loaded from these servers to 5MiB, which I've attempted to do by specifying **per_connection_buffer_limit_bytes** set to 5242880 (5 MiB), but I see no effect of this setting at all

[2021-07-14 16:25] mksha commented on #8167
@vadimeisenbergibm did you find any workaround it ?

[2021-07-14 16:30] vadimeisenbergibm commented on #8167
@mksha No, I did not, sorry.

[2021-07-14 17:28] #17323 closed

[2021-07-14 17:42] ShubhamPalriwala commented on #11318
Hey @alyssawilk, I have understood the issue and would like to work on this! Just wanted to ask, will one heavy commit be fine?

[2021-07-14 17:59] alyssawilk commented on #11318
I'm not sure how many there are.  If there are 20-30 cases sure, if it's more like 200 then splitting it up into a few PRs would be super helpful :-)

[2021-07-14 18:12] askquestions opened #17342 "Filesystem-based dynamic TCP forwarding."
I could not make dynamic TCP forwarding to work. Envoyproxy failed in forwarding TCP packets. I post 3 configuration files: envoy.yaml, lds.yaml, and cds.yaml. It is hard to find helpful example configuration on handling TCP flows. Can anyone provide some helps. Thank you.

envoy.yaml:

[code]

lds.yaml:

[code]

cds.yaml:

[code]

[2021-07-14 18:21] graysonrtaylor opened #17344 "envoy validate Panics /source/server/config_validation/server.h"
*Title*: *envoy validate Panics /source/server/config_validation/server.h*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

When running envoy validate to validate the envoy_config it was passing until Monday afternoon. Starting Monday afternoon, it began to panic:
[code]

I tracked that down to this PR: https://github.com/envoyproxy/envoy/pul

[2021-07-14 18:38] peterj opened #17345 "[docs]: Incorrect docs for `present_match` HeaderMatcher"
*Title*: *Incorrect docs for `present_match` HeaderMatcher*

*Description*:
The docs for `present_match` state the following:

[code]

This is not the case, as setting the `present_match` to  `false` doesn't check for the absence of the header, the behavior is exactly the same as when `present_match` is set to `true`

*Relevant Links*:
This is a [related issue](https://github.com/envoyproxy/envoy/

[2021-07-14 18:40] ShubhamPalriwala commented on #11318
There are 1352 instances of this so I have to check each one of them. 😩
Should I make different PRs for each directory then?

[2021-07-14 19:17] #17325 closed

[2021-07-14 19:19] #13333 closed

[2021-07-14 19:25] zkutasi opened #17346 "Envoy flow control on grpc: high watermark without low watermark signal"
Consider this scenario I have:
- Kubernetes cluster, Contour + Envoy as ingress controller
- Version of Envoy is 1.18.3
- I have a streaming GRPC server app in Java, Spring Boot: it gets a single grpc request, and streams back a database content, using a cursor
- This App works well if I do not use it though the ingress, not though envoy (I was streaming data for 10 minutes without any issues, so

[2021-07-14 20:01] #16773 closed

[2021-07-14 20:09] jboero commented on #17313
Thanks!

[2021-07-14 20:29] alyssawilk commented on #11318
I'd group somewhat arbitrarily to try to manage PR sizes - if there's a root directory with ~50 you can do the whole thing, where sometimes you might need to limit to one type of extension depending on how many changes there are.  Maybe kick one off and see how it goes, and iterate from there?

[2021-07-14 21:01] xxx0624 opened #17348 "How to specify the "Certificate authorities" for the "Certificate Request" during the two-way ssl handshake"
*Title*: *How to specify the "Certificate authorities" for the "Certificate Request" during the two-way ssl handshake*

*Description*:

And why I'd like to specify this "Certificate authorities" is because I think without this config, when accessing the server via the browser (like Chrome), the browser will prompt a dialog box for users to select any client cert.

![image](https://user-images.gith

[2021-07-14 21:39] lizan commented on #17331
I think we're mixing two issues here:
1. logs are not buffered for retry/connection loss.
2. long-live ALS streams are not load balanced

For 1. it needs modification to existing ALS service, https://github.com/envoyproxy/envoy/blob/main/api/envoy/service/accesslog/v3/als.proto#L22-L27 to let ALS service ACK the receipt. For 2. implement a reconnecting after certain time/number of request will be

[2021-07-14 21:50] jacob-delgado opened #17349 "Backport request: Backport 16914 to 1.17 and 1.18"
*Title*: *Backport request: Backport 16914 to 1.17 and 1.18*

*Description*:

The original issue that the PR fixed, see https://github.com/envoyproxy/envoy/issues/16804, is addressed can be found at https://github.com/envoyproxy/envoy/issues/16804. It was mentioned to go through the proper channels to request formal approval for a backport, see @snowp's comment https://github.com/envoyproxy/envoy/

[2021-07-14 21:53] cyran-ryan opened #17350 "Backport of `www-authenticate header` to 1.17 and 1.18"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: Request of backport of JWT auth header fix (#16216)

*Description*:

The `jwt_authn` filter does not follow the HTTP specification and causes some clients to misbeha

[2021-07-14 21:54] jacob-delgado commented on #17349
cc @nrjpoddarv @ycai-aspen

A formal request to get listener changes back ported.

[2021-07-14 22:12] swav opened #17353 "Relationship between grpc service definition timeout and cluster definition connect_timeout"
In the configuration shown below there is timeout: 1s of grpc_service which is defined to call cluster: ext_authz which also has connect_timeout: 5s. Is there a relationship between those two timeouts? The grpc_service timeout is defined as "the timeout for a specific request", vs connect_timeout as "The timeout for new network connections to hosts in the cluster", so in case the grpc_service time

[2021-07-14 22:50] mattklein123 commented on #17331
I agree with ^. I thought I had a TODO on connection rotation but I can't find it.

[2021-07-14 23:42] lambdai commented on #17346
Not an expert but I happened to investigate the flow control.

[code]
The above is high water mark buffer is a per stream buffer. It stores the bytse to be sent via downstream connection. Per context the stream is S4645133562430946777.

Ideally this downstream h2 has bytes to sent to downstream grpcurl, the envoy's libevent should react on the writable event of the downstream connection C105 and n

[2021-07-14 23:50] lambdai commented on #17342
1. Do you need to update yaml on the filesystem? If not I suggest you use single envoy.yaml

2. more log on the error will be helpful.
    lds.yaml must be wrong: the two filters (tcpproxy and httpconnmanager doesn't indent. If the two filters belong to different filter chains, you need filter chain match to isolate the two.

[2021-07-14 23:50] ikepolinsky opened #17354 "[ext_proc] request_body_mode override for stream with a request without a body causes seg fault"
Received permission to make this crash a public issue from @htuch

*Title*: *request_body_mode override for stream with a request without a body causes seg fault*

*Description*:
The following scenario causes a seg fault:
1. Downstream sends a GET request to Envoy with no HTTP Body
2. ext_proc filter sends ProcessingRequest message to external process with request_headers set
3. External process r

[2021-07-14 23:52] askquestions commented on #11308
I want to ask a related question on dynamic configuration of forwarding raw TCP traffic.

Does anyone have experience in using lds.yaml and cds.yaml to make raw TCP packet to be matched to the filter:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: tcp

[2021-07-15 00:00] lambdai commented on #17340
Per_connection_buffer_limit_bytes is applied on buffer of tcp connection. It might applies to http1 stream but not on http2 stream. IIRC The latter by default is 256 MB.
You are on the right track to set http2 options, but you may also want to set auto http protocol on upstream.

It seems you should use the [http_protocol_options upstream extension](https://www.envoyproxy.io/docs/envoy/latest/api-

[2021-07-15 00:13] lambdai commented on #17310
@emilchitas  You can use explicitly set false at runtime flag `envoy.reloadable_features.require_strict_1xx_and_204_response_headers`
See https://github.com/envoyproxy/envoy/pull/15880

Istio should be able to override bootstrap config to inject this runtime flag value at proxy startup but I forgot how...

[2021-07-15 00:17] lambdai commented on #17310
Here: https://github.com/istio/istio/blob/master/samples/custom-bootstrap/README.md

Hmm, istio should have done it for you https://github.com/istio/istio/blob/master/tools/packaging/common/envoy_bootstrap.json#L30

[2021-07-15 00:31] lambdai commented on #17310
you can run `istioctl proxy-config bootstrap <pod-name[.namespace]>` to confirm the existence of nvoy.reloadable_features.require_strict_1xx_and_204_response_headers in bootstrap
https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-proxy-config-bootstrap%20Examples

[2021-07-15 00:38] lambdai commented on #17287
You can also set a max_concurrent_streams in http2 option. Running 100 streams in the same connection is pretty good vs a fixed value 1 on http1 :)

[2021-07-15 02:30] HuanLiu-hotstar commented on #17307
yes, I want do some action with the Response from DomainService.

[2021-07-15 03:14] chrisxrepo commented on #17318
you should set redirect-test.mydomain.com: 10080, it will work well

[2021-07-15 04:01] htuch commented on #17153
`DataSource`?

[2021-07-15 04:24] ShubhamPalriwala commented on #11318
Alright! Quick question, is there any way to speed up the tests? I've fired up a VM with 4 vCPUs and 32 gigs of RAM for this but the tests still take more than hours to get done.

Help here would really really be great!

[2021-07-15 05:50] mmayeda commented on #17085
@alyssawilk  After taking a look at the code I do believe ext_authz is responsible for the header always being set to 1.   The header is set if the zipkin span object's sampled variable is true.  The zipkin span's sampled variable is assigned what is in the request options [here](https://github.com/envoyproxy/envoy/blob/b62dae29a5dd06b7f689899b26974d9567a98f0e/source/common/http/async_client_impl.

[2021-07-15 06:55] Belyenochi commented on #12739
If no one else is interested, can you assign the task to me

[2021-07-15 07:16] phlax commented on #17345
@peterj i dont know so much about this specific issue but if you create a PR to fix the docs im happy to review and/or ping others that do

[2021-07-15 07:27] mathetake commented on #14920
fyi: if https://github.com/envoyproxy/envoy/pull/17357 lands, we can configure prometheus stats via foreign function calls from Wasm plugins.

[2021-07-15 07:59] sljeff opened #17358 "OpenCensus ConstantSampler::ALWAYS_PARENT makes the sample value always 1 if no parent"
*Title*: *OpenCensus ConstantSampler::ALWAYS_PARENT makes the sample value always 1 if no parent*

*Description*:
According to [opencensus proto](https://github.com/census-instrumentation/opencensus-proto/blob/master/src/opencensus/proto/trace/v1/trace_config.proto#L62), the sample value will be **off** when setting `ConstantSampler::ALWAYS_PARENT` and there is no parent.

But [here](https://githu

[2021-07-15 08:01] #16777 closed

[2021-07-15 08:06] nrjpoddar commented on #17349
It feels like a perfect change to be back ported as its opt-in and @jacob-delgado has done the work so I hope it can be approved.

[2021-07-15 08:17] CtrlAltDft commented on #15235
I've tried with the new v1.19.0 on raspberry pi 4B 8Gb, still facing the same error

[2021-07-15 08:28] mksha commented on #8167
@zuercher are we planning to add this feature in near future?

[2021-07-15 13:04] alyssawilk commented on #11318
yeah, 4 CPUs is going to take a while. :-(
I find that on slow machines kicking off an overnight build, then doing incremental builds the next day helps.  Also if you're mainly checking compile/asan you can just test //test/path/to/code/changed rather than the whole suite, then rely on CI for the full pass.

[2021-07-15 13:09] jboero commented on #17313
Boom and like that I can now do 300MB/s - up from 30MB/s.  Thank you 1.19.

[2021-07-15 13:09] #17313 closed

[2021-07-15 15:50] Leschge opened #17361 "TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER"
*Title*: *TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER*

*Description*:
Starting situation is having two apps talking to each other via pure http. Both of them have an Envoy sidecar in front of them to do mTLS on top of the http traffic. App A makes a request to Envoy Sidecar A's port 13001. The Listener then routes this request to App B's Service by using the Cluster de

[2021-07-15 15:54] moderation commented on #17313
That's awesome. Thanks for reporting the update

[2021-07-15 15:55] fosterchuck opened #17363 "Envoy Sidecar 503 Persists Unexpectedly"
***Description***:
Envoy is configured as a sidecar, targeting a single upstream via loopback.  Downstream service and upstream use http keepalive, preserving the socket between requests.  When the upstream container is forcefully restarted by Docker (i.e. OOM), 503 is reported to Downstream for the entire duration of the upstream container restart.  The socket upstream is dead, but there doesn't

[2021-07-15 16:17] phlax opened #17364 "Follow up docs upgrade issues"
### description

we have had to pin docutils due to bullet point issues, also there seems to have been an issue related to the `_static` directory

[2021-07-15 16:19] #17312 closed

[2021-07-15 18:32] lambdai commented on #17363
retry_on `connect-failure,gateway-error` is probably what you want

https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/transient_failures

[2021-07-15 18:36] xxx0624 commented on #14208
Cool, thanks for sharing this!

[2021-07-15 19:03] akhila1012 opened #17370 "Stats: Expose downstream_rq_xx counter with specific response codes"
Currently, for the downstream response count, we have downstream_rq_1xx, downstream_rq_2xx metrics which are aggregated by the response codes, and thereby there's only the response code class label exposed. It would be good to have these metrics by specific response code along with aggregating them into a response code class.

There is something similar already exposed in case of [upstream](https:

[2021-07-15 20:01] #16707 closed

[2021-07-15 20:07] peterj commented on #17345
I found a newer issue/PR where this functionality was supposed to fix it (https://github.com/envoyproxy/envoy/issues/14656), however, it's not clear if the behavior is by design (i.e. you must the combination of `present_match=false` and `invert_match=true` to check for an absence of the header).

Using the config below (with `present_match=false`) the behavior I'd expect is the following:

1. `cu

[2021-07-15 20:48] jacob-delgado commented on #16804
/backport

[2021-07-15 22:09] #12598 closed

[2021-07-16 00:05] xxx0624 commented on #14208
Hi @yanjunli76 in my case (https://github.com/envoyproxy/envoy/issues/17348), the trusted CAs in the "Certificate Request" during the ssl handshake is empty.
So just curious about this @lizan do you have any plan to support this or is there any temporary workaround?

[2021-07-16 04:01] #16799 closed

[2021-07-16 04:46] nandu-vinodan opened #17377 "Disabling LuaPerRoute configuration doesn't work with envoy-v1.19.0"
*Title*: *Disabling LuaPerRoute  configuration doesn't work with envoy-v1.19.0*

*Description*:
Lua filter is executed  for requests which match a route with Lua disabled using [LuaPerRoute](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/lua/v3/lua.proto#extensions-filters-http-lua-v3-luaperroute) configuration. We are seeing this only in the latest envoy version - v1.1

[2021-07-16 05:34] emilchitas commented on #17310
Actually, it seems to be set to false, if it's `envoy.reloadable_features.strict_1xx_and_204_response_headers"`.
I've attached the whole output. [botstrap.txt](https://github.com/envoyproxy/envoy/files/6828083/botstrap.txt)

[2021-07-16 08:08] nandu-vinodan commented on #17377
Found another place where lua invocation is done, when it is not supposed to.

[code]
Since health-check filter is before the lua filter, ideally we expect a  request to `/health/ready` shouldn't execute lua code.
But we see logs from lua.

[2021-07-16 09:28] chrisxrepo commented on #17377
i don't think it a bug,  if you set `envoy.filters.http.health_check` pass_through_mode false, the health check will response direct. so next http filters will not exec.

[2021-07-16 10:02] jothi7891 opened #17379 "Clarity on `upstream_cx_max_requests`"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *Clarity on `upstream_cx_max_requests` *

*Description*:

I tried browsing through the documentation , but could understand completely what this `upstream_cx_max_req

[2021-07-16 13:18] soulxu commented on #17345
@peterj https://github.com/envoyproxy/envoy/issues/14656 was fixed by https://github.com/envoyproxy/envoy/pull/16627

And I tested your config, I can get HTTP status code 200 with request 'curl localhost:10000'.

And I can gett 404 with 'curl localhost:10000 -H 'hello: world'

Which version you are testing? The fixed is just merge in main, not release yet. so it works with main branch.

[2021-07-16 13:29] #17324 closed

[2021-07-16 13:42] snowp commented on #17335
@envoyproxy/api-shepherds for comment

[2021-07-16 13:46] snowp commented on #17340
I don't think we have a way to limit how big the response is out of the box, though it might be fairly easy to do with a lua or C++ filter that checks the value of content-length and stands in a failure response if its over the threshold.

[2021-07-16 13:54] snowp commented on #17354
@gbrail

[2021-07-16 13:56] snowp commented on #17353
The connect timeout is how long to wait for the connection to be established, while the timeout is how long to wait for the response for a given request. It probably makes sense to have timeout > connect_timeout

[2021-07-16 14:08] yanavlasov commented on #17287
It is possible that the service that streams files does so in very small increments (i.e. 100 bytes at a time) and if the client is slow at reading it may cause the error you indicate.
The default value for max_outbound_frameswe have been picked based on experience to make it work well with the [recommended edge setting](https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge

[2021-07-16 15:06] asraa commented on #17220
@PiotrSikora

[2021-07-16 15:36] swav commented on #17353
Thank you very much for clarifying this. :)

[2021-07-16 15:36] #17353 closed

[2021-07-16 15:38] swav commented on #17340
@snowp Thanks for the suggestion. I was thinking about content-length header in lua script, so this confirms my approach.

[2021-07-16 16:19] chaoqin-li1123 opened #17382 "[grpc]: migrate all callsites of GrpcAsyncClient to use thread local cache"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *use grpc async client cache everywhere in envoy*

*Description*:

[optional *Relevant Links*:]

[2021-07-16 17:04] fosterchuck commented on #17363
Thank you lambdai,

The link that you provided is for load balancing.  In my case, this is a non-service-mesh implementation of a sidecar that has only one upstream.  One of the configurations that we attempted was to allow the upstream lb cluster to go completely OOS with outlier detection and lb_config.  Essentially, trying to tell the Envoy sidecar that it only had one upstream rather than an a

[2021-07-16 18:37] mattklein123 commented on #7582
I'm going to collapse this issue into https://github.com/envoyproxy/envoy/issues/14078 and we can continue discussion there.

[2021-07-16 18:37] #7582 closed

[2021-07-16 18:38] mattklein123 commented on #14078
I've put together a proposal for adding `contrib/` to the Envoy repository. Please review! https://docs.google.com/document/d/1yl7GOZK1TDm_7vxQvt8UQEAu07UQFru1uEKXM6ZZg_g/edit#

[2021-07-16 20:57] GustavoAdrianGimenez commented on #3650
Hi @rkbalgi, How are you? Did you find some way to balance ISO 8583 traffic with envoy? can you share some example? Thank you!

[2021-07-16 22:05] ediezh commented on #17287
@yanavlasov the downstream client is an edge proxy which we have configured following the recommendations https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge. It means the edge proxy has a smaller initial_stream_window_size: 65536. I think that’s part of the cause of this issue too.

I tested by increasing the edge proxy initial_stream_window_size to the default value 268

[2021-07-16 23:36] pgeler opened #17385 "release/v1.19 branch is not available"
Will be such branch available similar to v1.17...etc? At which point for v1.19? Or envoy is dropping such practice?

[2021-07-16 23:45] lambdai commented on #17310
I was insane when I commented days back.

Content-length with Transfer-Encoding is a completely different issue. Let me check...

[2021-07-17 00:01] #16257 closed

[2021-07-17 01:41] Shikugawa commented on #17335
I think we don't need any api change on this refactor.

[2021-07-17 01:56] jpeach commented on #16456
Will this option make sense again as the v4 API matures?

[2021-07-17 14:19] wangfakang commented on #14784
I'm meeting the same.  It's can reproducible with following steps:
1. start envoy with listening port `80` and set `reuse_port` is true.
2. start new envoy with listening port `80` and set `reuse_port` is false.
3. then we can see high CPU in new envoy workers.

[2021-07-17 14:21] wangfakang commented on #14784
/reopen

[2021-07-17 16:11] zhangzerui20 opened #17390 "Does envoy provide a mechanism to observe configuration changes?"
I'm doing something similar to `Istio`, using `Iptable` to intercept HTTP requests and envoy to handle the traffic. I use `xDS` to connect envoy to our own service registry. When a new service is registered, new `cDS` and rds will be generated and sent to `envoy`.

Just doing this still does not work properly, because it also needs to generate DNS records. I found that `DNS Filter` can do this, bu

[2021-07-17 20:01] #16900 closed

[2021-07-17 20:01] #16901 closed

[2021-07-17 20:01] #16905 closed

[2021-07-17 20:01] #16908 closed

[2021-07-17 20:01] #16909 closed

[2021-07-18 01:36] 13567436138 opened #17391 "ERROR: Service 'go-control-plane' failed to build: The command '/bin/sh -c cd go-control-plane && make bin/example' returned a non-zero code: 2"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

*Title*: *One line description*
ERROR: Service 'go-control-plane' failed to build: The command '/bin/sh -c cd go-control-plane && make bin/example' returned a non-zero code:

[2021-07-18 07:28] orangetangerine opened #17392 "[wasm] Can I transfrom http request into tcp on HTTP Filter"
*Title* : *Can I transfrom HTTP request into tcp on HTTP Filter*

*Description* :
We have an old RPC framework running on production, with a self-designed RPC protocol via TCP. And I've made a transformer to turn gRPC request onto this private RPC request, so that these old services can run in Kubernetes, work on L7, and be controlled by Istio-proxy.
My question is, can I do this transform by WASM

[2021-07-18 10:01] ramaraochavali opened #17394 "Handshake Access log Filter"
In some secured environments, we would like only log handshakes (both success and failure). One way is to add logs in Context with logger id (ssl) - currently sslsocket.cc logs failure but at debug level on "connection" logger.

Another way is add a new access log filter that filters only successful/failure handshakes and logs. Have n't looked at the code to see if it is a feasible option - but I

[2021-07-18 18:47] lizan commented on #17394
I haven't fully investigated, this should be done through [listener access log](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/listener/v3/listener.proto#envoy-v3-api-field-config-listener-v3-listener-access-log)

[2021-07-18 18:49] lizan commented on #17385
@mathetake since you're now stable maintainer for Q3, can you create a release branch from v1.19.0 tag and kicks off 1.19.1-dev?

[2021-07-18 21:20] codefromthecrypt commented on #16482
@JCzz did you close this by accident? it isn't obvious what fixed it..

[2021-07-18 23:22] mathetake commented on #17385
sure will do.

[2021-07-19 00:01] #16594 closed

[2021-07-19 00:06] soulxu commented on #17344
/retest

[2021-07-19 01:47] htuch commented on #12739
@Belyenochi thanks, assigned.

[2021-07-19 01:52] htuch commented on #14310
Reopening, since #17272 was just the API changes (@yanjunxiang-google best to put "Part of #xyzabc" instead of "Fixes #xyzabc" when working on a series of patches on an issue).

[2021-07-19 02:34] htuch commented on #17335
CC @yanjunxiang-google who is working on #14310. This might be relevant when doing code level refactoring.

[2021-07-19 02:35] htuch commented on #16456
@jpeach postmortem pending, but I think based on  v2 -> v3 experiences, v4 is very far away (at least multiple years) if it happens at all.

[2021-07-19 04:01] #16938 closed

[2021-07-19 04:24] ramaraochavali commented on #17394
Yeah. We should configure at listener access log - but do not we need additional access log filter https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/accesslog/v3/accesslog.proto#envoy-v3-api-msg-config-accesslog-v3-accesslogfilter? or are you saying additional config in access log?

[2021-07-19 05:33] ikepolinsky commented on #17354
I've had a chance to look into this a bit more and want to add some more context.

The crash is caused when the external process requests the buffered body of a GET request. This does not happen when requesting the buffered body of a POST request, even if the POST request's body is empty.

[This line](https://github.com/envoyproxy/envoy/blob/main/source/extensions/filters/http/ext_proc/processor_s

[2021-07-19 05:59] sljeff commented on #17358
Tested
[code]
and
[code]
the last two letters in `envoy.tracers.opencensus`'s newly added `TRACEPARENT` are always `01`.

[code]

I didn't find all the code, maybe the [`startSpanHelper`](https://github.com/envoyproxy/envoy/blob/v1.19.0/source/extensions/tracers/opencensus/opencensus_tracer_impl.cc#L169) function is the cause?

[2021-07-19 07:30] mathetake commented on #17385
now created: https://github.com/envoyproxy/envoy/tree/release/v1.19

[2021-07-19 07:30] #17385 closed

[2021-07-19 07:47] jezhang2014 commented on #17278
@zuercher I've a quick question, about second step "Create a "spark" cluster that contains all the hosts across service ids. Each endpoint must have a service id in its endpoint metadata with the same namespace and key. The cluster is configured to use the subset load balancer and build subsets based on the service id key.". After i apply istio envoyfilter, I can see that the cluster contains new

[2021-07-19 09:28] orangetangerine commented on #17392
Like:
envoyfilter reveive:
[code]

and send to backend server:
[code]

[2021-07-19 10:12] hj24 commented on #17228
How's the progress? @esmet @mattklein123

[2021-07-19 14:49] #14531 closed

[2021-07-19 14:51] ikepolinsky commented on #17354
Instead of creating an empty buffer to send, we might want to treat this situation as a spurious message. GET, DELETE, and HEAD _should not_ have bodies, but it's possible and not officially supported. Thoughts?

[2021-07-19 16:01] #16941 closed

[2021-07-19 16:54] yanjunxiang-google commented on #17335
HI  @Shikugawa,
As Harvey @htuch  mentioned, I am working on $14310. The goal is to refactor Envoy DNS resolution and put it as an extension, so Envoy can link in different DNS libraries(c-ares, Apple, et. al) based on requirements.

I will put you as reviewer once I have the PR ready.

thanks,
Yanjun

[2021-07-19 17:01] snowp commented on #17153
cc @mattklein123, this is the maxmind issue that was mentioned in the meeting

[2021-07-19 20:01] snowp commented on #17350
After talking about this with other maintainers this seems like an okay thing to backport. Please get the 1.17 and 1.18 PRs ready and we'll get the process started

[2021-07-19 20:24] snowp commented on #17349
Ran this by the other maintainers and while this is a borderline case we're okay with the back port due to its small scope and the fact that it's essentially a bug fix

What is the state of the PRs? I think we should get them all green before merging any, just to make sure they end up in the same dot release

[2021-07-19 20:34] RenjieTang opened #17409 "Multiple tests fail to build on Windows CI"
This issue can be seen on https://github.com/envoyproxy/envoy/pull/17222 [CI run](https://dev.azure.com/cncf/envoy/_build/results?buildId=82739&view=logs&j=b840a642-5ff3-5357-2e4b-e06e40b0cffd&t=67965174-5100-5631-9dc0-68b9f0aacb53).
It seems that multiple existing tests are comparing `uint64_t` with `optional<uint64_t>` and Windows CI fails to build them.

Not sure why the Windows CI isn't broken

[2021-07-19 20:37] RenjieTang commented on #17409
@wrowe @davinci26

[2021-07-19 20:59] DavidSchinazi commented on #16426
@alyssawilk can you please add the "no stalebot" label to this issue? I think we'll want to keep this issue alive even if we won't address it very soon

[2021-07-19 21:12] peterj commented on #17345
ah, you're completely right. I was using the released versions (1.18.x and 1.19).

[2021-07-19 21:18] DavidSchinazi commented on #16426
@Sooryaa-A can you clarify something please? Are you saying you would like DFP to send requests between DNS results round robin, or you saying that you would like to make sure we try multiple DNS results until we find one that works? Thanks!

[2021-07-19 21:38] jacob-delgado commented on #17349
The v1.17 PR is blocked on https://github.com/envoyproxy/envoy/pull/17263

The v1.18 PR is ready to merge and is blocked on https://github.com/envoyproxy/envoy/pull/17261/checks?check_run_id=3014552903. I have no idea how to fix this issue.

[2021-07-19 22:13] conqerAtapple opened #17410 "Egress proxy RBAC"
*Title*: *Add support for egress proxy RBAC*

*Description*:
If envoy is used as egress proxy, it looks like currently there is not much support for RBAC. From https://github.com/envoyproxy/envoy/issues/10336, the only way to do this might be to use a config server or DNS records. If we need add further rich  semantics (RBAC), the recommendation is to write a upstream connection filter or somethin

[2021-07-19 22:23] ankitanallana-livongo opened #17411 "[Help wanted/Question] What return type is expected by the grpc_http1_reverse_bridge_filter from upstream?"
**If you are reporting *any* crash or *any* potential security issue, *do not*
open an issue in this repo. Please report the issue via emailing
envoy-security@googlegroups.com where the issue will be triaged appropriately.**

**Title: What return type is expected by the grpc_http1_reverse_bridge_filter from upstream?**

**Description**:
I'm trying to convert gRPC requests to HTTP1.1 requests. I'm

[2021-07-19 22:27] mattklein123 commented on #17410
@conqerAtapple can you describe a bit more what type of RBAC rules you are after? This has come up several times and I would like to make sure we are collecting all similar use cases.

[2021-07-19 22:35] conqerAtapple commented on #17410
The general use case here is to :

- Deny by default
- Allow only subset of DNS /resolved ip/CIDR
- In addition to above, allow only certain Http paths (or header/tokens)
- Add principal from TLS  context or even a custom identity manager for authorization

Not sure if the above covers everything but I think i got the general idea captured.

thanks @mattklein123

[2021-07-19 22:37] mattklein123 commented on #17410
Couldn't pretty much all of the above be done today using existing filters like RBAC, IP tagging, etc.?

The only part I'm unclear about is DNS restrictions. Do you mean you actually want to put restrictions on the returned resolutions from the DNS resolver?

[2021-07-19 22:55] markdroth opened #17412 "max_retries circuit breaker vs. dynamic cluster selection"
There are two cases where the cluster is dynamically determined at load-balancing time:
1. Aggregate clusters.
2. Dynamic cluster selection via the new extension point added in #16944.

In these cases, it's not clear how the max_retries circuit breaker can work, because max_retries is configured on a per-cluster basis, but when the cluster is being dynamically determined, the cluster is not known

[2021-07-20 00:09] Shikugawa commented on #17335
Great. Thanks!

[2021-07-20 00:19] JamesXNelson commented on #8055
Another +1 for me as well. I lost a couple days on this, thinking my kubernetes wiring was junk... I clearly did not suspect that using `localhost` would be my source of failure.  It wasn't until I shelled into the container and used curl along w/ trace logging on envoy that I noticed the `::1` causing my pain.  Replacing localhost w/ `127.0.0.1` fixed it right up.

[2021-07-20 01:00] daixiang0 commented on #15152
What is the current progress? I really like to see Envoy support Golang Extension, it would make Envoy more flexible as more and more application runtime or other type of runtime occur, my team as well.

[2021-07-20 01:31] htuch commented on #17412
Not a super expert on this code, but I think `max_retries` is a property of the cluster, not the request, i.e. it's the maximum number of concurrent retries in flight allowed across all requests. So, you determine the cluster and then check for that determined cluster if there is any available retry budget?

[2021-07-20 01:41] htuch commented on #17411
@ankitanallana-livongo this filter doesn't do JSON-protobuf transcoding, so your HTTP filter still needs to speak protobuf, see https://github.com/envoyproxy/envoy/blob/main/test/extensions/filters/http/grpc_http1_reverse_bridge/reverse_bridge_integration_test.cc