[2022-02-21 12:35] marcosrmendezthd commented on #19945
@phlax @KBaichoo ^^^

[2022-02-21 12:39] wbpcode commented on #3732
You can add the downstream port to the `X-Forwarded-Port` header by following config:
[code]

[2022-02-21 12:47] Sooryaa-A commented on #19498
I am still not clear, what is wrong in the config, because of which this
header sanitization is happening for a request came from internal netwrok

On Mon, Feb 21, 2022 at 1:31 PM github-actions[bot] <
***@***.***> wrote:

--
Thanks
Soorya Nair

[2022-02-21 13:18] sha-rath commented on #5401
Yes, I got that @ggreenway and that's what I'm doing currently. So far, I haven't bumped into any issues using TLS 1.3 on the
client-side. One of the tasks here under "Modernize TLS defaults" is to "enable TLS 1.3 on the client-side by default" and I felt it is not solved for a very long time.

Piotr earlier mentioned that this is not as simple as upgrading the "default maximum version for client

[2022-02-21 14:47] seventhscream opened #20064 "router check tool: add an option to write test results to a file in a structured format"
*Title*: router check tool: add an option to write test results to a file in a structured format

*Description*:
At the present, the tool writes test results to the standard output streams in a text format.
We'd like to integrate with the tool in our validation workflows, so it might be better to have an option to make the tool write test results to files in some structured way for further process

[2022-02-21 17:25] JRemitz opened #20070 "Ratelimit under load - grpc timeouts"
**Title**: Ratelimit under load timeouts

**Description**:
I have an Envoy edge proxy deployed in Kubernetes, with the ratelimit service.  I'm doing some basic load testing (~100rps) expecting latency to increase however I'm seeing rate limit service errors showing up as grpc upstream timeouts to the rate limiting service.

I've reviewed and applied/increased as many timeout settings as makes sens

[2022-02-22 02:13] jcometki commented on #8167
I had this same issue, I solved that with the following configuration:

[code]

[2022-02-22 05:16] mattklein123 commented on #5401
I don't know any particular reason why TLS 1.3 couldn't be the default maximum for client connections but I'm not an expert in this space. I would defer to others like @lizan @davidben @ggreenway @PiotrSikora on this.

[2022-02-22 05:24] daixiang0 commented on #20070
':status', '500'

500 means internal server error I think.

[2022-02-22 05:25] daixiang0 commented on #20064
I think you can use a pipe command like `route_check | tee <any_script>`?

[2022-02-22 05:25] daixiang0 commented on #20070
':status', '500'

500 means internal server error I think.

[2022-02-22 05:27] mattklein123 commented on #16506
Thanks @ckennelly this is great. cc @jmarantz @rojkov it would be great to land this in Envoy so people can easily get heap profiles? I know this is a support burden with what we ship today. See also https://github.com/envoyproxy/envoy/pull/17092 that @euroelessar started a while back.

[2022-02-22 05:27] daixiang0 commented on #20062
How do you test WebSocket connect? https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/websocket is a good example I think.

[2022-02-22 05:29] daixiang0 commented on #20060
It sounds like use header to control the route.

[2022-02-22 05:32] daixiang0 commented on #20056
You can refer to https://www.envoyproxy.io/docs/envoy/latest/_downloads/fbba116ecfd0961809317acd2df6e3c2/envoy_filter_http_wasm_example.cc.

[2022-02-22 05:46] mksha commented on #8167
@jcometki We have something similar in place, but i have a question about DestinationRule that you have, May I know what is the need of having `name: userAffinity=v1` rather than just `name: userAffinity`
Ideally name property is to represent name of the cookie but the name:value pair. May be I am missing something, but would love to understand your point as well.

[2022-02-22 05:49] mksha commented on #8167
https://istio.io/latest/docs/reference/config/networking/destination-rule/#LoadBalancerSettings-ConsistentHashLB-HTTPCookie

[2022-02-22 05:51] daixiang0 commented on #20045
Sounds possible if a cluster use only one Envoy, then all repetitive keys in the Envoy config could be read once.

BTW, is RSA still widely used even its poor performance?

[2022-02-22 05:53] daixiang0 commented on #20039
I think it is a good enhancement and also we should pin image hashes.

[2022-02-22 05:55] daixiang0 commented on #20036
I am curious about your case, seems it would bring too much resource waste.

[2022-02-22 05:56] daixiang0 commented on #20035
It should be like version support, or we will spend too much time on those issues.

[2022-02-22 06:00] phlax commented on #20039
@daixiang0 do you want to take this ticket ?

this would be a really helpful improvement

[2022-02-22 06:05] daixiang0 commented on #20039
Sure.

/assign

[2022-02-22 06:13] phlax commented on #20039
couple of tips re this:

- use a requirements.in
- use pip-compile to generate the requirements.txt (`pip install pip-tools`)
- cd to the relevant directory and issue the following
[code]
- make sure you have a v uptodate pip-tools as it has changed recently re namespace separators

-

[2022-02-22 06:34] zhxie commented on #19044
Hi, I would like to take a try.

As mentioned [here](https://github.com/envoyproxy/envoy/issues/18844#issuecomment-972640956), I would like to break the issue apart,
1. Fix the missing 102/103 HTTP status code, since the Envoy returns `102 Unknown` back to the downstream,
2. Pass through multiple 1xx response, and
3. Clear response timer every time when 1xx comes, since the Envoy will returns `504

[2022-02-22 07:10] zirain commented on #20056
I have read that , but there's nothing about `onRequestMetadata`.

[2022-02-22 08:13] daixiang0 commented on #20056
I think you can get/update/delete metadata kind like `onRequestBody` codes.

[2022-02-22 08:50] cobb-tx commented on #17559
I'm having the same problem

[2022-02-22 09:27] arggh commented on #20062
I'm just running the actual Meteor app on the backend server. The app uses websockets and I can observe it's behavior in Chrome's DevTools network tab while changing the proxy in front of it (Envoy/HAProxy/Nginx).

From the example you linked, it seems like the only configuration required is:

[code]

...which I've done, and which indeed seems to enable websocket upgrades, since without that setti

[2022-02-22 09:53] seventhscream commented on #20064
Sure, this is one of the options.
Some benefits of the structured output:
- It would be easier to parse results, meaning less errors.
- It would also be safer to use as the proto is expected to be backward compatible.

It's not mandatory, but might be nice to have. Besides, I wanted to implement it myself. WDYT?

[2022-02-22 10:29] sherifkayad commented on #3732
@wbpcode in order to configure that with Istio I couldn't find any docs / way how to do it. Do you happen to know how it can be done?

[2022-02-22 10:57] zirain commented on #20056
@mattklein123 do you have any suggestions?

[2022-02-22 11:07] wbpcode commented on #3732
May be this can help https://istio.io/latest/docs/reference/config/networking/virtual-service/#Headers

[2022-02-22 13:24] MichalzDev opened #20074 "Send and receive json messages with nighthawk"
Hi, Is there a way to POST and GET requests with json as a body ?
Something like running nigthawk client with:
 --request-method POST --request-header 'Content-Type: application/json' and _--request-body_ '{foo: bar}'
I see in Readme there is only --request-body-size that is int.
Same thing for nighthawk server is there a way to get json or other message instead of multiples a's ?
Thanks :)

[2022-02-22 13:42] KBaichoo commented on #20020
yes, the stats endpoint from the admin: https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--stats, there's also a config dump which might be useful to see the settings the envoy has: https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--config_dump

[2022-02-22 13:46] JRemitz commented on #20070
Correct. There is no corresponding error entry in the upstream rate limit server. Based on the logs, it appears the connection in the connection pool is timing out waiting to connect to see if the rate limit has been exceeded before connecting upstream. I have to imagine that's happening pretty quickly and any level of latency is reaching that threshold. I can't find a timeout setting (or other) t

[2022-02-22 13:53] sta-szek commented on #17613
Hi guys, i faced the same issue, had to stop production rollout.

Just hint from my side, as per mozzilla Keep-Alive header docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive
we should also fix the "Connection" header which is also removed conditionally in the line: https://github.com/envoyproxy/envoy/blob/cbd8d57e9fc2921d26236db24b6bf91246ba3b4f/source/common/http/conn_man

[2022-02-22 13:58] #20074 closed

[2022-02-22 13:59] JRemitz commented on #20070
Also, I'm past the fact that the 500 was returned. [It's is expected](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/rate_limit_filter#config-http-filters-rate-limit) when there's an issue with the server based on my configuration. I just want to understand how to configure this for the volume of requests I'm sending.

[2022-02-22 15:19] davidben commented on #5401
Clients should indeed be enabling TLS 1.3 at this point. All the browsers have done so for a while now. From #9300, it sounds like you all have some Envoy-specific issues to resolve around it, but I don't work on Envoy, so I don't know the details.

[2022-02-22 16:21] mattklein123 commented on #5401
Thanks @davidben, I just looked at #9300 and I now better understand @PiotrSikora concerns. Let's discuss further in that issue. Thank you.

[2022-02-22 17:08] FelipeEmerim commented on #20020
I performed some tests using the endpoints you mentioned. It seems Consul is updating the circuit breakers on most of the clusters. I can see every other pod that has the sidecar injected in the `dynamic_active_clusters` key.

When I apply the service defaults, each item gets the following circuit breaker config:

[code]

I applied this on both my service and the ingress controller, and I still hi

[2022-02-22 17:15] JRemitz commented on #20070
OMG... there's a `timeout` on the [Ratelimit extension](https://www.envoyproxy.io/docs/envoy/v1.21.0/api-v3/extensions/filters/network/thrift_proxy/filters/ratelimit/v3/rate_limit.proto.html?highlight=rate_limit_service#extensions-filters-network-thrift-proxy-filters-ratelimit-v3-ratelimit)?

I'm so confused... what's the point of this with a `grpc_service.timeout` as well?  Would love some clarit

[2022-02-22 18:20] lambdai commented on #20045
While a SSL_CTX is relative hard to share across clusters, my hunch is that private key and tls certificate are supposed to immutable and shared.

There are definitely lots of issues need to be resolved if we'd like to share [cert chain among various TlsContext](https://github.com/envoyproxy/envoy/blob/main/source/extensions/transport_sockets/tls/context_impl.h#L43)
'd like to hear some high level

[2022-02-22 19:50] PiotrSikora commented on #20045
This can be definitely done. Most of the work is migration from `X509` to BoringSSL's `CRYPTO_BUFFER` (already done in https://github.com/envoyproxy/envoy/pull/10621, but that PR never landed) and then enabling `CRYPTO_BUFFER_POOL`.

[2022-02-22 20:53] DavidPeet8 opened #20077 "Code formatter path matching"
**Title:** Code formatter path matching

**Description**:

The code formatter performs unexpected behavior when provided paths that either do not start with `./` or contain a trailing `/` due to lack of path normalization. When the formatter is run with arguments that do not meet these requirements, the formatter attempts to run on files that are explicitly excluded.

**Repro steps:**

Navigate to

[2022-02-22 22:25] lambdai commented on #20045
Thank you @PiotrSikora

Though the goal is slightly different, #10621 is a great source to understand the underlying load/verification.

By reading it, I can confirm lots of TODOs if I want to go with the shared X509, such as the same underlying cert chain bytes can be valid in ssl_ctx_A but invalid in ssl_ctx_B.

I don't understand if CRYPTO_BUFFER can save CPU cycles or memory footprint. If ther

[2022-02-22 22:30] PiotrSikora commented on #20045
The stated goal is different, but 90%+ of the code is the same.

I suspect BoringSSL doesn't process new certificates if they already exist in the `CRYPTO_BUFFER_POOL`, so most likely both CPU and memory, but you'd have to verify that yourself.

[2022-02-22 22:42] ysun-square commented on #20002
thanks for the reply. Health check traffic is sent directly to Envoy currently. We created a special local_cluster which proxies the traffic to /ready in admin interface.

[2022-02-22 22:43] ysun-square commented on #20002
thanks for the reply. Health check traffic is sent directly to Envoy currently. We created a special local_cluster in one https listener which proxies the traffic to /ready in admin interface.

[2022-02-23 01:44] RyanTheOptimist opened #20084 "AccessLogManagerImplTest.ReopenRetry is flaky"
This test failed on linux_x64 coverage for me in a recent change (that only affected docs).
https://dev.azure.com/cncf/envoy/_build/results?buildId=102214&view=logs&jobId=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&j=bbe4b42d-86e6-5e9c-8a0b-fea01d818a24&t=e00c5a13-c6dc-5e9a-6104-69976170e881

[code]

It looks like this test was recently added by @[pyrl247](https://github.com/pyrl247) in #19714.

@pyrl247

[2022-02-23 01:44] RyanTheOptimist commented on #20084
FYI: @mattklein123 who reviewed #19714.

[2022-02-23 01:53] daixiang0 commented on #20064
I think it is good.

/cc @envoyproxy/envoy-maintainers

[2022-02-23 05:02] lambdai commented on #18979
#19860 creates a gap between tcp connection and quic connection.

A tcp connection must call connect() before the next event loop. See my test case https://github.com/envoyproxy/envoy/pull/18993

This inconsistent behavior is a tech debt:  either a connection or a connpool must be aware of the connection type.

Perhaps we should reconsider allow tcp connection call connect() at any poll cycle

[2022-02-23 07:13] zirain opened #20086 "support ECDS in config_dump"
*Title*: *support ECDS in config_dump*

*Description*:

[2022-02-23 07:57] VillePihlava opened #20087 "Prometheus buckets do not have inclusive upper bound"
**Title**: Prometheus buckets do not have inclusive upper bound

**Description**:
According to https://prometheus.io/docs/concepts/metric_types/#histogram the output for histogram buckets should be `<basename>_bucket{le="<upper inclusive bound>"}`. However, the stats from `/stats/prometheus` seem to not include the upper bound.

**Repro steps**:
The way I ran into this was when I configured custom

[2022-02-23 08:27] VillePihlava opened #20088 "Configurable histogram buckets without using config"
**Title**: Configurable histogram buckets without using config

**Description**:
Currently histogram buckets are only configurable through the config. At least for the histogram added in https://github.com/envoyproxy/envoy/pull/19180 the default buckets don't work at all and instead only the same set of buckets: [1,2,3,4,5,6,7,8] would ever be used.

Would adding an option to configure a custom de

[2022-02-23 08:42] tpetkov-VMW commented on #18148
I can try to do this, if it isn't obsoleted by the issue above.

[2022-02-23 15:10] KBaichoo commented on #20020
[code]
leads me to think we are hitting the circuit break default connection limits of 1024 for this cluster, and the config for the `local_app` cluster doesn't seem to config the circuit breakers themselves, so we're probably just using the default of 1024.

Can you try configuring the circuit breaker for `local_app`?

[2022-02-23 15:40] #19829 closed

[2022-02-23 15:42] #19699 closed

[2022-02-23 16:45] andrewrmiller commented on #19645
This is still an issue for us.

[2022-02-23 17:51] lambdai commented on #19725
@alyssawilk Does the case that returning 504 after the header is fully read make sense?
There are quite a few false 408 right now. The client has to close the connection and establish new connection is more expensive than retry

[2022-02-23 18:24] lambdai opened #20091 "on demand cluster api for tcp_proxy filter"
Related PR of on demand for http traffic https://github.com/envoyproxy/envoy/pull/20065

[2022-02-23 18:41] adisuissa commented on #20034
CC'ing @mattklein123 @danzh2010 as code-owners of the udp-proxy filter and may be able to give some guidance.

[2022-02-23 18:55] adisuissa commented on #20036
CC'ing @mattklein123 and @mpuncel who worked on Hedge-Policy in the router.

[2022-02-23 19:03] adisuissa commented on #20046
cc @zuercher who may be able to help with macOS build failures.

[2022-02-23 19:14] adisuissa commented on #20047
I am aware of the [Envoy community calls agenda and minutes](https://docs.google.com/document/d/1Yc4zkV-A_cC_R3C0u6D15WQAsRSxADs8p2l8UMMa4P4/edit#) and that different issues are tracked using github's issue tracker.

As @alyssawilk mentioned in #19419 the features are typically prioritized by the tasks that the companies sponsoring the maintainers request, but maybe there's some doc with an explic

[2022-02-23 19:15] adisuissa commented on #20049
/assign @yanjunxiang-google as the person who is working on this at the moment.

[2022-02-23 19:17] adisuissa commented on #20056
cc @envoyproxy/wasm-dev

[2022-02-23 19:20] adisuissa commented on #20058
cc @rgs1 @derekargueta @snowp as oauth2 filter owners

[2022-02-23 19:23] FelipeEmerim commented on #20020
Unfortunately Consul does not allow me to change that cluster because of a limitation in their config override. Every pod has a `local_app` cluster and I cannot supply the `port_value` dynamically in the config override. The override is global so we would need to have every pod using the same service port.

That being said, I believe we can close this question since we have got concrete evidence o

[2022-02-23 19:43] yanjunxiang-google commented on #20023
I don't see any default setting for this proto field:

https://github.com/envoyproxy/envoy/blob/3236abed247c71049e943be6d485d398fc646f9a/api/envoy/extensions/filters/udp/dns_filter/v3/dns_filter.proto#L93

There is an example configuration which set this to be 256:

https://github.com/envoyproxy/envoy/blob/main/docs/root/configuration/listeners/udp_filters/dns_filter.rst#:~:text=max_pending_lookup

[2022-02-23 19:45] sseetharaman6 commented on #19895
I have a similar issue - I want to be able to set a default rate limit for each client and configure special rate limits for some clients, using local rate limit + descriptors.  I am trying to using rate limit descriptors as in [this example](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/local_rate_limit_filter#using-rate-limit-descriptors-for-local-rate-limiting).
I

[2022-02-23 19:50] birenroy commented on #19761
This was fixed in the QUICHE upstream repository on February 1st:
  https://github.com/google/quiche/commit/6c61814256b13aa4550839653672be47c2203103

The fix was imported into Envoy on February 7th:
  https://github.com/envoyproxy/envoy/commit/510319c393972f9a54d3c3bf65bf09b9174a73ec

[2022-02-23 19:52] #19761 closed

[2022-02-23 19:57] abaptiste commented on #20023
There is no default.  In tests its set to `256`.  In testing (many moons ago) I don't recall seeing the value greater than 1.

[2022-02-23 20:01] adisuissa commented on #20061
cc @wbpcode @dio @lizan @Shikugawa as owners of the skywalking tracer who may know if this is possible/plausible

[2022-02-23 20:02] adisuissa commented on #20062
cc @alyssawilk

[2022-02-23 20:08] adisuissa commented on #20062
Can you also provide Envoy's debug/trace logs, which may help us better understand where the issue is coming from?

[2022-02-23 20:14] adisuissa commented on #20063
cc @mattklein123

[2022-02-23 20:19] adisuissa commented on #20064
cc @mattklein123

[2022-02-23 20:20] zuercher opened #20096 "ocsp: reject ocsp responses where version is not v1"
See #20079. In the event that updates to the OCSP specification are released and the OCSP response version is incremented, Envoy would currently accept the new data but might not correctly parse or interpret it. Envoy should explicitly reject versions other than v1 (a value of `0`).

[2022-02-23 20:27] adisuissa commented on #20077
cc @phlax

[2022-02-23 22:02] adisuissa commented on #20087
cc @jmarantz can you further inspect whether this is a bug related only to cryptomb or if something else needs to be done when sending Envoy's histograms?

[2022-02-23 22:07] adisuissa commented on #20088
I'm not sure I understand what do you mean by "configure custom default set of buckets directly in code". Can you provide some more information here?

cc @jmarantz as this is related to the stats domain.

[2022-02-23 22:10] andrewstucki opened #20098 "Bad version strings in 1.20.2"
*Title*: *Bad version strings in 1.20.2*

*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Looks like the version strings in the latest release artifacts contain `-dev` metadata in them.

*Repro steps*:

required to reproduce the bug.

[code]

Notice `1.20.2-dev` rather than `1.20.2`

[2022-02-23 22:28] #15076 closed

[2022-02-23 23:07] yangminzhu commented on #19910
+1, the jwt filter currently does not clear the route which is needed by the `payload_in_metadata` to work, it should just be added to the jwt filter API. Meanwhile I believe you could workaround this by having a separate filter to clear the route before the jwt filter.

[2022-02-24 00:42] tyxia commented on #20060
Yea, `cluster_header` is used both in weighted cluster and general [cluster_specifier level](https://github.com/envoyproxy/envoy/blob/83f050620cec04885a74bc19cae6dcc314d1df8f/api/envoy/config/route/v3/route_components.proto#L897).

Actually there is already a [ClusterSpecifierPlugin](https://github.com/dfawley/envoy/blob/e4ef550b01d73938c8804f5ebbd92bb05d79ab5a/api/envoy/config/route/v3/route.prot

[2022-02-24 00:54] #20020 closed

[2022-02-24 01:04] lambdai opened #20100 "Listener update may choose in place update too aggressively"
When comparing the old listener and the new listener config,
[all the repeated fields are considered as set.](https://github.com/envoyproxy/envoy/blob/main/source/server/listener_impl.cc#L946)

An unexpected case is, if a listener filter chain is reordered along with some network filter chain add/deletion,
the listener filter chain update is ignored.

I go through the fields in the top level messa

[2022-02-24 01:09] Shikugawa commented on #20061
@tedli AFAIK I think we can't do such a behavior. We may have the following requirements with a route specific config, such as per_filter_config. But I'm not sure the strong usecases to have.

[2022-02-24 01:11] KBaichoo commented on #20002
I wonder if you invoked the admin directly, whether you'd get affected by Overload Manager: https://github.com/envoyproxy/envoy/blob/83f050620cec04885a74bc19cae6dcc314d1df8f/source/server/admin/admin.cc#L481

[2022-02-24 01:56] daixiang0 commented on #20098
Not sure it is a wrong push or push code bug.

/cc @phlax

[2022-02-24 02:14] tedli commented on #20061
Hi @Shikugawa ,

Thanks for reply. Our story is that, we want to using istio EnvoyFilter CRD to turn on/off sidecar tracing at service level (these service behind sidecar runs with APM agent). So when any service runs into terrible latency, we can easily tell it's sidecar caused this or it's just  the backend service's own fault.

And nowadays, there still some developers refuse to use service mes

[2022-02-24 02:40] wbpcode commented on #20060
@tyxia Thanks. It's something like that.

But what I want is to add an `core.v3.TypedExtensionConfig` in the `RouteAction` directly. Then we can provide some route level config by this field. And by this way, we can even implement the `cluster_header` and `weighted_cluster` by this field.

[code]

I think this approach might be more flexible, what do you think?

[2022-02-24 02:46] wbpcode commented on #20061
@tedli I am not sure, but can route level `Tracing` helps? That config can be used to add some custom tags and also override the sampling rate.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-tracing

[2022-02-24 03:02] tedli commented on #20061
Hi @wbpcode ,
Thanks for pointing out. I didn't express clear above, What I actually want is to turn on/off tracing for a specific service at runtime.
I'm going to try with sampling rate -> 0 in `route_components`. Or may be this really not a general needs. I may try reusing most of envoy current tracing code, to build a wasm filter like `istio/proxy` stats do (no enough confidence :sob:).

[2022-02-24 03:11] andrewstucki commented on #20098
So, looks like in all of the releases yesterday except for `1.21.1` the `VERSION` file at the top of the repo contains the `-dev` build label -- not quite sure of the typical release process, but I'm assuming that was an accident.

1.18.6:

https://github.com/envoyproxy/envoy/blob/a79ca225f1ed924b855dff8a26bd7f7cdb84e694/VERSION#L1

1.19.3:

https://github.com/envoyproxy/envoy/blob/a17cdcdfad24de1

[2022-02-24 05:09] phlax commented on #19636
i think this has been mostly agreed, and implemented, anything remaining is tracked elsewhere

[2022-02-24 05:09] #19636 closed

[2022-02-24 05:45] phlax commented on #20047
there are issue milestones also - https://github.com/envoyproxy/envoy/milestones

these are probably more concerned with specific release issues than roadmap, but it feels like that is probably the best system we have to track forward planning also

[2022-02-24 05:47] phlax commented on #20077
@DavidPeet8 as a general context i am gradually refactoring envoy's ci/linting tools - this one is on the agenda, but not imminent

wrt to the specific problem that you raise, im not too keen on making any changes to the script myself, but i will happily review a PR to address this issue

[2022-02-24 05:50] wbpcode commented on #19663
hi, @jmarantz could you please give some advice?

[2022-02-24 05:51] phlax commented on #20098
cc @RyanTheOptimist - im wondering if we need to update the release docs somewhere to ensure that all versions are correctly bumped

[2022-02-24 08:03] github-actions[bot] opened #20101 "Newer release available `com_github_nghttp2_nghttp2`: v1.47.0 (current: v1.46.0)"
Package Name: com_github_nghttp2_nghttp2@1.46.0
Current Version: v1.46.0@2021-10-19
Available Version: v1.47.0@2022-02-23
Upstream releases: https://github.com/nghttp2/nghttp2/releases

[2022-02-24 10:51] VillePihlava commented on #20088
I hope this explains it more clearly:

These buckets are assigned by default to histograms if buckets are not specified in the config:

https://github.com/envoyproxy/envoy/blob/83f050620cec04885a74bc19cae6dcc314d1df8f/source/common/stats/histogram_impl.cc#L111-L115

Instead of using these default buckets if nothing is found in the config, would an option to assign a set of default buckets to histo

[2022-02-24 12:42] pyrl247 opened #20104 "[question]response_header_to_add in global route config only take effect when a request match a route-entry."
Here is my static config:
[code]
I curl listen port  with url "/aaa" and the response header would not be added.
I have seen the code , "finalizeResponseHeaders" only be called when the stream_info have route-entry.
Is there any way to add response header no matter it match route or not?
In my case ,I want add response flag to tell downstream what happend when envoy dealing with the request.

[2022-02-24 13:56] jmarantz commented on #20088
@ggreenway also has interest and insight into this.

IIUC, right now there's only one set of buckets used for all histograms, which you can accept as default or read from config, but every histogram gets the same buckets. I think @VillePihlava wants to allow per-histogram bucket configuration, which makes sense to me at a high level.

Two counterpoints:
 * the data-model exposed in JSON output imp

[2022-02-24 14:05] jmarantz commented on #19663
The main challenge with providing a lot more stats especially per-host is that some systems have a very large number of hosts and the weight of all these stats puts pressure on envoy memory use (~100 bytes per stat assuming names are symbolic), stats-sink overhead, and admin /stats CPU bursts (see description in https://github.com/envoyproxy/envoy/pull/19693 for microbenchmarks) along with pressur

[2022-02-24 16:51] ggreenway commented on #20088
This is incorrect. You can configure histogram buckets per-histogram with rules that match on the histogram name (`histogram_bucket_settings` in https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/metrics/v3/stats.proto#envoy-v3-api-msg-config-metrics-v3-statsconfig). For any histogram that doesn't match one of the configured rules the default buckets are used.

I think the suggestion here i

[2022-02-24 16:59] mattklein123 commented on #20098
This is a known SNAFU during our release process. We have fixed the procedures for future releases. We don't plan on doing a new release just to fix this issue, though perhaps we should do an email announce about it @RyanTheOptimist and then close this issue? WDYT?

[2022-02-24 17:05] devmoran opened #20106 "Participation in Security Scorecards promo"
*Title*: *Participation in Security Scorecards promo*

*Description*:
I saw that Envoy recently integrated [scorecards](https://github.com/envoyproxy/envoy/commit/4ac979915fce8562e49293d8e52a48fc25ec6cf6), woop.
We're working with the scorecards team at Google Open Source Security on building a promo site together and I wanted to know - would you be happy for us to use Envoy’s logo on the site? We

[2022-02-24 17:10] mattklein123 commented on #20106
@devmoran I think this would be fine but could you email envoy-maintainers@googlegroups.com and we can discuss further? Thank you.

[2022-02-24 17:10] #20106 closed

[2022-02-24 17:13] mattklein123 commented on #20034
Unfortunately I don't know anything about these acronyms. :)

Can you describe a bit more what is required? Could it be covered in some way by generic hashing support (hashing on byte ranges, etc.)?

[2022-02-24 17:14] tyxia commented on #20060
@wbpcode Thanks for laying out your thoughts and example.

IMO, the existing design is better than putting `core.v3.TypedExtensionConfig` in the `RouteAction` directly.

1.  Existing design that puts `ClusterSpecifierPlugin`(which has TypedExtensionConfig inside) in top level `RouteConfiguration` avoids config bloat. Thinking about the case when many different routes use same custom cluster extens

[2022-02-24 17:14] mattklein123 commented on #20036
Can't you just set `initial_requests` in HedgePolicy to 3?

[2022-02-24 17:21] mattklein123 commented on #20063
I actually don't know too much about LB subsets. @zuercher and @rgs1 might have a better idea.

[2022-02-24 17:23] mattklein123 commented on #20064
Sure SGTM

[2022-02-24 17:50] danzh2010 opened #20109 "quic: add a config knob for congestion control algorithm"
Right now the default is BBR and enabled by hard coding a QUICHE reloadable flag in
#19349 quic: enable BBR congestion control. But we want it to be configurable, especially distinguishable between upstream and downstream.
As discussed with @ggreenway, the preferred default value should be CUBIC, in consideration of https://en.m.wikipedia.org/wiki/TCP_congestion_control#TCP_BBR.

[2022-02-24 19:15] KBaichoo commented on #20062
My guess is that you're hitting the route timeout since it's not explicitly set, and defaults to 15 seconds and isn't compatible with streaming use cases. See: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts.html?highlight=timeout#route-timeouts

[2022-02-24 19:54] RyanTheOptimist commented on #20098
I've sent the reply. Sorry for the headache. The procedure should prevent this from happening in the future.

[2022-02-24 19:54] #20098 closed

[2022-02-24 21:51] shashankram opened #20113 "Difference in how connections are handled for draining listeners from v1.19.1 to v1.20.x,v1.21.x"
*Title*: *Difference in how connections are handled for draining listeners from v1.19.1 to v1.20.x,v1.21.x*

*Description*:
I am observing a behavior difference in how HTTP connections are handled while the listener is draining in v1.20+ compared to v1.19.1.

Scenario: Egress listener is removed and is in draining state

In v1.19.1: curl http://foo.bar returns `curl: (7) ... connection refused`
In

[2022-02-24 21:57] shashankram commented on #20113
@snowp @alyssawilk

[2022-02-25 00:36] JRemitz commented on #20070
Agree, because it flies now. I hit 4k rps on one pod and it didn’t bat an eye. Thanks!

[2022-02-25 01:00] yanavlasov commented on #20104
You can configure [direct response](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_routing#direct-responses) route entry that matches all other requests and add whatever customer headers to you'd need.

[2022-02-25 01:35] daixiang0 commented on #20113
Could share config or steps to reproduce it?

[2022-02-25 02:26] wbpcode commented on #20060
@tyxia thanks for your patient and detailed reply.

Right. We just need to set a unique name for the route that need route level specificed config. But the original API may needs some minor updates.
We may need a independent plugin/provider name which will be specified by the single route. Because the name in the `TypedExtensionConfig` may be used by the `getAndCheckFactoryByName` API. So the name

[2022-02-25 02:55] wbpcode commented on #19663
@jmarantz Thanks.

My current design is to used typed metadata + L7 filters to generate some dynamic stats. Only when the metadata of specified namespace are configured then the related detailed stats will be generated. 🤔

[2022-02-25 03:08] jmarantz commented on #19663
Sure, looking forward to the design and also exactly what you mean by 'dynamic' :)

[2022-02-25 03:46] pyrl247 commented on #20104
Thanks.That will work.

[2022-02-25 03:46] #20104 closed

[2022-02-25 08:01] #19262 closed

[2022-02-25 09:35] packman80 commented on #20036
@mattklein123: i din't know about this option. But i tried to found it in documentation (initial_requests) and had no results. May you please give me a link to that option ?

[2022-02-25 10:30] quangthe commented on #11418
@AlexDaSoul Could you provide more details on this issue? Is there any workaround for this? Thanks

[2022-02-25 12:53] rdelcampog commented on #3732
Nope, when trying to access a K8s Service called "dominio" that is listening on port 8080 (http://dominio:8080) from a Pod (with the sidecar), the response that I received from the Spring Actuator (that will use caller address) is:

<img width="653" alt="imagen" src="https://user-images.githubusercontent.com/4947468/155718257-efd064e3-ea4d-4c30-b766-3c43d731c24e.png">

The %DOWNSTREAM_LOCAL_PORT%

[2022-02-25 13:46] maksimaz opened #20117 "Envoy 1.21, error for TLS: envoy->(TLS)->postgresql"
*Title*: *Envoy 1.21, error for TLS: envoy->(TLS)->postgresql*

*Description*:

Example client call for psql for **2)** "sudo -u postgres psql 'host=192.168.0.47 port=3333 dbname=sammy user=sammy password=secret' "

[error_postgresql_trace.txt](https://github.com/envoyproxy/envoy/files/8141577/error_postgresql_trace.txt) - postgresql trace for 1)
[success_postresql_trace.txt](https://github.com/en

[2022-02-25 13:56] VillePihlava commented on #20088
Yes, this is it.

[2022-02-25 14:01] adisuissa commented on #20036
I believe Matt refers to [this field](https://github.com/envoyproxy/envoy/blob/e8cd3164b77825d97c809694e88d050a20c3e52b/api/envoy/config/route/v3/route_components.proto#L1449) which is hidden from the docs because it is tagged '[#not-implemented-hide:]'.

The configuration was added in #5917, but I don't think there's a relevant implementation.

[2022-02-25 14:17] linnea-s commented on #18510
I believe this is still an issue, and does not only affect wildcard certificates. I believe I hit the same issue using TLS termination in istio towards a site using a certificate signed by letsencrypt. I condensed it to a small testcase. With the below config, `curl http://localhost:10000` yields `stream connect error or disconnect/reset before headers. reset reason: connection failure, transport

[2022-02-25 14:36] linnea-s opened #20118 "envoy is unable to validate certificates signed by Let's Encrypt"
*Title*: envoy is unable to validate certificates signed by Let's Encrypt

*Description*:
Requests to TLS upstreams with letsencrypt signed certificates are failing with certificate validation enabled, with the logs reporting that a certificate has expired. However there are no expired certificates in the chain and no errors are reported by curl or Chrome for the same domain. The exact same config

[2022-02-25 17:11] mattklein123 commented on #20036
Sorry didn't realize this wasn't implemented. Yeah someone needs to implement it. It shouldn't be too hard. I will mark this help wanted.

[2022-02-25 18:21] shashankram commented on #20113
@daixiang0 please refer to the following:

## On v1.19.1:
1. Remove `outbound-listener` on client (egress listener)
2. From the client, curl the destination host `service-ee146f3f-5f32-4625-8ed0-9c1fb1b55c13.server`:
[code]

The `outbound-listener` is in draining state when the above request is made:
[code]
[code]

Config:
[envoy_v1.19.1_dump.txt](https://github.com/envoyproxy/envoy/files/8143339/

[2022-02-25 19:33] kyessenov commented on #19895
No, there is no way to add dynamic buckets with local rate limiter AFAICT. You might need some global rate limit with quotas for that.

[2022-02-25 20:43] kyessenov commented on #18148
It would be nice to use unified matchers here. I imagine we'd need some sublinear implementation to deal with categories of templates (like in API gateway cases).

[2022-02-25 22:29] lambdai commented on #20113
Since the listener is updated filter chain by filter chain, it's probably hitting the issue I found and analyzed [here
](https://github.com/envoyproxy/envoy/pull/18677#issuecomment-947888062)

[code]

[2022-02-26 00:02] #19469 closed

[2022-02-26 00:21] shashankram commented on #20113
@lambdai thanks for sharing this. Based on https://github.com/envoyproxy/envoy/pull/18677#issuecomment-947906577, it doesn't seem like there is an issue related to the bug you were fixing. Are you certain it's the same issue as this bug? Also note that I do not see this issue in v1.19.1, but consistently hit this when using v1.21.1.

[2022-02-26 00:49] yanavlasov commented on #20117
It is hard to tell with the information provided. Looks like handshake does not complete. Can you try enabling access logging to see what failure Envoy is registering? See https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#trouble-shooting

@ggreenway @PiotrSikora

[2022-02-26 00:51] yanavlasov commented on #20118
@ggreenway

[2022-02-26 01:01] PiotrSikora commented on #20117
As far as I recall, PostgreSQL is using StartTLS, so you cannot use TCP proxy with TLS for load balancing.

Did you try using [Envoy's Postgres Proxy](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/postgres_proxy_filter) filter instead?

[2022-02-26 01:10] tyxia commented on #20060
@wbpcode  Actually the name of in `TypedExtensionConfig` has been evolved to represent the `name` rather than the `type` nowadays. Please see the [comment](https://github.com/envoyproxy/envoy/blob/c1bc5e78fa68b86236c8d6237e2db15ce1743459/api/envoy/config/core/v3/extension.proto#L22)

I agree that alternatively we can use something like `map<string name, google.protobuf.Any>` so that `name` which i

[2022-02-26 07:01] hundredbag commented on #20034
Hello. Thanks for the reply.

I'd like to add a bit more information about GTP-C and TEID.

I plan to use Envoy for communication between components within a 5G Telco system running in a container environment. GTP-C is a protocol used for control plane messages to establish, modify, and terminate tunnels between components of system, and is one of the important features of 5G.

In my environment,

[2022-02-26 11:35] soulxu commented on #20100
seems when creating the override ListenerImpl, it will recreate the listener filters factory based on the new config https://github.com/envoyproxy/envoy/blob/b6bc5ca51227cea3ce00e0302d43ce50031d513e/source/server/listener_impl.cc#L430

and we update this override ListenerImpl into ActiveTcpListener https://github.com/envoyproxy/envoy/blob/b6bc5ca51227cea3ce00e0302d43ce50031d513e/source/server/conn

[2022-02-26 15:29] smahapatra1 opened #20123 "Using Tensorflow bazel files"
*Title*: *Using Tensorflow Bazel files*

*Description*:
Envoy is a beautiful piece of software with a lot to learn about programming from it including the powerful use of Bazel. On the other hand, I was wondering if there is any way one can reduce the Bazel mechanism build-up needed for a project by re-using one from Tensorflow or Envoy. In that spirit, I wanted to check what maintainers think abo

[2022-02-26 17:45] JRemitz opened #20124 "Ratelimit by count in header"
**Title**: Ratelimit by count in header
**Description**:
The gist of this question is whether I can use a custom rate value that does not equate to 1 per request. I would like to use a count value from a header and it's not clear to me from the documentation if this is possible.

For example: assume a Ratelimit configuration like this:
[code]

I want to allow only 1000 books to be returned per sec

[2022-02-26 17:55] #20007 closed

[2022-02-27 00:02] #19148 closed

[2022-02-27 00:02] #19246 closed

[2022-02-27 00:02] #19625 closed

[2022-02-27 00:02] #19628 closed

[2022-02-27 04:01] #19565 closed

[2022-02-27 04:01] #19593 closed

[2022-02-27 04:01] #19599 closed

[2022-02-27 04:01] #19626 closed

[2022-02-27 08:43] johnlanni commented on #6767
@maennchen Your lua code is incorrect. lua's indices start at 1 instead of 0. So the code should be as follows:

[code]

[2022-02-27 09:25] eriksjolund commented on #3596
A side-note: Container runtime support for _socket activation_ has improved lately.
[Podman](https://github.com/containers/podman/) version 3.4.0 (released September 2021)
supports running OCI containers (i.e. Docker containers) with _socket activation_.

I wrote a [minimal demo](https://github.com/eriksjolund/mariadb-podman-socket-activation/) for a MariaDB container. (That demo is not related to

[2022-02-27 12:01] #19566 closed

[2022-02-27 12:01] #19606 closed

[2022-02-27 13:02] tuhao1020 commented on #20047
@phlax  @adisuissa  thanks!

[2022-02-27 13:02] #20047 closed

[2022-02-27 15:49] tpetkov-VMW commented on #18148
@kyessenov, you mean having a new match pattern here?
[api/envoy/type/matcher/v3/string.proto](https://github.com/envoyproxy/envoy/blob/main/api/envoy/type/matcher/v3/string.proto)
As far as I could tell, this would need a change in the xds project as well:
[https://github.com/cncf/xds/blob/main/xds/type/matcher/v3/string.proto](https://github.com/cncf/xds/blob/main/xds/type/matcher/v3/string.prot

[2022-02-27 16:05] soulxu commented on #20113
I can't reproduce this issue on `1.21.1` and `main` branch.

I use a very simple listener as below
[code]

then I remove the `listener_0`.

[code]

Before reach to the drain time, I connect to the listener port, the connection isn't hang. It is refused directly.

@shashankram not sure I understand you case clearly, let me know if I didn't test the correct case.

[config.txt](https://github.com/env

[2022-02-27 18:24] AlexDaSoul commented on #11418
The problem was that the specified hosts are inside the docker network and they are not the same as the addresses on your local computer.

[2022-02-28 01:18] jayrp11 opened #20127 "Non Sampled X-Ray Tracing"
*Title*: *Non Sampled X-Ray Tracing*

*Description*:
When trace is non sampled in source/extensions/tracers/xray/xray_tracer_impl.cc create new non sampled trace. This creates bit of issue when trace id is used to correlate logs with other tools like Spring Boot apps using brave-propagation-aws. Is it possible to continue using same trace id having non-sampled flag.

Caution: I am not really exper

[2022-02-28 02:00] zuercher commented on #20063
The subset load balancer doesn't support this today. I think you suggested change would work, at the risk of making an already-complicated module even more complicated.

I'm not sure I completely understand your use case, but you I think you could use an aggregated cluster to get the behavior you want.

[2022-02-28 02:26] daixiang0 commented on #20124
I think https://github.com/envoyproxy/ratelimit#examples can meet your request if you can use global rate limiting.

[2022-02-28 02:27] daixiang0 commented on #20123
Do you mean to use build architecture like TF?

[2022-02-28 03:15] mattklein123 commented on #20034
Is it possible to implement this via https://github.com/envoyproxy/envoy/issues/9514? I would really rather see us implement generic byte hashing for UDP (essentially allow configuring byte ranges to hash on in a datagram). I think this is generically useful for lots of people.

[2022-02-28 04:29] JRemitz commented on #20124
Thanks @daixiang0, but I'm not sure they do. Each of those examples still has 1 http request matching 1 request from the rate limit. I'm trying to change that so a header or query string could pass a value to change that. Like `X-Rate-Limit-Request-Value=100` when requesting 100 books. Right now, if I request 10/100/1000/10000 books, it only accounts for one request against the rate limit.

Or am

[2022-02-28 05:12] UlasSAYGINIM opened #20130 "FreeBSD 13 compilation from port tree is not possible"
*Title*: *One line description*
FreeBSD 13 vanilla installation can not compile envoy port
in addition this, port is not updated to latest version it is very old version.
*Description*:

would be used.
cd /usr/ports/www/envoy/ && make install clean
this command should install envoy without problem.
but it does not compile because it requires boringssl and boringssl is not compatible with some port

[2022-02-28 05:57] maksim-paskal opened #20131 "Envoy sometime crash with TTL in xDS"
We use [envoy-control-plane](https://github.com/maksim-paskal/envoy-control-plane) to push xDS messages to envoy sidecars in our kubernetes cluster. Sometime envoy sidecar crash with this critical exception - this happens in different PODS with different configuration in different time.

[code]

[coredump](https://get.paskal-dev.com/core-envoy-6-101-0-20-1645993355)

[code]

we turn of TTL on xDS

[2022-02-28 06:20] wbpcode commented on #20060
@tyxia get it.

[2022-02-28 08:29] daixiang0 commented on #16315
Do you mean that build certs into Envoy, like a web browser?

[2022-02-28 08:37] #18950 closed

[2022-02-28 09:28] rojkov commented on #20130
We don't maintain the port. Could you please report this issue to the port's author?

[2022-02-28 10:53] rojkov commented on #20124
This feels like rate limiting on app level. Not sure it's possible at the moment.

/cc  @rgs1 @esmet @mattklein123

[2022-02-28 10:57] rojkov commented on #20127
/cc @abaptiste @suniltheta @mattklein123

[2022-02-28 11:03] rojkov commented on #20131
Sounds like a lifetime issue

/cc @snowp

[2022-02-28 11:27] smahapatra1 commented on #20123
Yes, if it is possible. I am not a Bazel expert, but I have read the use in both TF and Envoy. I am also trying to use Bazel for my own project and trying to pick a model. Thanks.

[2022-02-28 15:14] frankt-vmware opened #20134 "WAVM WASM runtime failing just after startup"
I've built envoy with the WAVM WASM runtime enabled to allow me to compare performance of code running in the v8 runtime and the WAVM runtime.

(I have a question open on the envoy-dev Google group for how to do this properly. For now I've adjusted the bazel.release.server_only build to include "--define wasm=wavm".)

I see the following crash when starting to execute WASM code in an extension. Th

[2022-02-28 16:21] alyssawilk commented on #19992
yeah, this was discussed on setec (thanks for responsible reporting!) and we agreed it should be fixed when someone has the cycles.

[2022-02-28 16:37] ggreenway commented on #19217
For option 1, would there be any meaningful amount of shared code? Or is it just another abstraction layer on top of an abstraction layer?

[2022-02-28 17:16] shashankram commented on #20113
@soulxu could you kindly use the exact build type and image, I noticed you are using a DEBUG build, please use the following in your test:
[code]

I am using the `envoyproxy/envoy-alpine:v1.21.1@sha256:c2c0b7c136f9daf09c36ef550635eaf5db26465529a1354f725f11390e530879` image from Dockerhub.

[2022-02-28 17:40] maksimaz commented on #20117
I updated envoy to version c444c6ee9e949306a87cd3a712472f08d76c3716/1.22.0-dev/Clean/RELEASE/BoringSSL and:

1) I success connected to PostgreSQL: **psql->(TLS)->postgresql** (SSL connection from DN:"CN=sammy,O=MyExample\, Inc.,ST=CA,C=US" CN:"sammy" - see success_postresql_trace.txt)
2) I have error when connect to PostgreSQL through the envoy: **psql->(TCP)->envoy->(TLS)->postgresql** (handshake

[2022-02-28 17:42] UlasSAYGINIM commented on #20130
thank you for reply. i created bug report for port on freebsd side. but i thought you are developing port also.
does developer team not want to provide envoy for freebsd?

[2022-02-28 17:45] mattklein123 commented on #20130
does developer team not want to provide envoy for freebsd?

Unfortunately we don't have the resources to provide this. Patches appreciated. Thank you.

[2022-02-28 17:45] #20130 closed

[2022-02-28 18:03] alyssawilk commented on #19044
hm, this is very much not a beginner issue, but you're welcome to try.

The easy part is changing conn_manager_impl.cc continueHeader to return a vector of headers.
The nasty part would be changing the filter_manager.* code to handle multiple 1xx headers.  You can possibly crib off how metadata is handled there as I believe it correctly handles multiple entries.

once you've done both of those, yo

[2022-02-28 18:06] kyessenov commented on #19638
no stalebot

[2022-02-28 18:23] kyessenov commented on #18148
I was thinking something like https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/common/matcher/v3/matcher.proto#config-common-matcher-v3-matcher-matchertree but with a custom matcher for templated URLs. There is already a prefix matcher but I think it's the simple prefix.

[2022-02-28 18:36] ggreenway commented on #20118
Duplicate of #18510

[2022-02-28 18:36] #20118 closed

[2022-02-28 18:45] alyssawilk commented on #19725
not sure offhand which rc would be best.  cc @wrowe who may

[2022-02-28 19:07] shashankram commented on #20113
@lambdai Are you certain the issue I am seeing (connection hang when listener is draining) is related to the issue you pointed out? Also why is this not seen in v1.19.1? With v1.21.1, I can consistently reproduce this in my internal environment.

[2022-02-28 19:30] shashankram commented on #20113
This seems like the issue described in https://github.com/envoyproxy/envoy/issues/18616.
@lambdai is this issue not fully addressed in v1.21.1? Is there a workaround for this?

[2022-02-28 21:26] shashankram commented on #20113
Based on packet captures, I can conclude that the outbound listener on port 15001 does not refuse connections when the listener is in draining state.

client: 10.244.2.198
local envoy: 127.0.0.1:15001
server: 10.96.40.153

Packet capture after HTTP GET:
![image](https://user-images.githubusercontent.com/21697719/156060991-4654b163-c213-45f6-a09a-63ef525b0a00.png)

[2022-02-28 21:27] tpetkov-VMW commented on #18148
Sounds like straight up implementing #7763
I've a much simpler prototype that just does the path-based prefix matching in the simplest way possible, albeit with some duplicated code for now.
I'll open a PR, so people can check out the code, and if it's not the correct thing to do, It should at least be easier to discuss.

[2022-02-28 22:46] sha-rath commented on #5401
Thank you @mattklein123 for taking a quick look. Looking forward to further discussions on this topic.

[2022-02-28 23:29] shashankram commented on #20113
I can confirm that this issue seems to be introduced by the change https://github.com/envoyproxy/envoy/commit/ba474ac375418d5529a30a9510a8ff5f0a5ada9a (/cc @mattklein123)

I cannot reproduce this issue with the previous commit https://github.com/envoyproxy/envoy/commit/e0380add8104a83c0ca893d34a46df43b0e02eb2

[2022-02-28 23:55] mattklein123 commented on #20113
As @lambdai said there is a known issue in the related issue. @lambdai I lost the thread on that since I thought you had fixed it. Should that issue be reopened so we can track it?

In terms of this issue I can't say whether it's the same or not. Can you provide a self contained repro and I can take a look at some point? Thanks.

[2022-03-01 00:40] moderation commented on #19686
@phlax I'm in favor of removing if we are not using

[2022-03-01 02:20] JuniorHsu commented on #19306
Our use case is in a higher level, which is `RouteConfiguration`

[2022-03-01 03:34] JuniorHsu commented on #19306
I figure out it needs more care since
1. There's `VirtualHost` between `RouteConfiguration` and `RouteAction`. It's a little weird to skip `VirtualHost` if we add mirror policy to `RouteConfigurateion`
2. ` repeated RequestMirrorPolicy request_mirror_policies` is an array . If we specify policy in higher level but want to remove the policy in an specific route, we might need another boolean `remov

[2022-03-01 05:38] ZIK-1337 opened #20147 "High CPU usage for matching routes (re2::DFA::InlinedSearchLoop)"
What are the solutions to reduce CPU usage? There are a lot of routes, each request in the loop is matched - probably because of this.
Envoy v1.15.0
Top 50 usage from pprof:

      flat  flat%   sum%        cum   cum%
  1842.68s 20.48% 20.48%   1842.82s 20.48%  re2::DFA::InlinedSearchLoop
   484.96s  5.39% 25.87%    484.96s  5.39%  tc_newarray
   391.39s  4.35% 30.22%   4550.41s 50.57%  Envoy::Rou

[2022-03-01 06:21] wbpcode commented on #20147
The regex matchs are always expensive if there are may routes with regex match in the route table.

And there is new matcher API which may solve this problem.
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/common/matcher/v3/matcher.proto

[2022-03-01 06:31] zhxie commented on #20147
I am interesting with the case. Do you have a very large route table or a complex expression?

[2022-03-01 06:42] phlax commented on #19686
yep, i think me too - i probs want to readd it - but it needs to be moved from where it is - and if its not being used i think there is not point putting it anywhere else just now - ill raise a pr to remove

[2022-03-01 07:27] #20046 closed

[2022-03-01 07:50] ZIK-1337 commented on #20147
There are more than 4000 routers, the expressions are not complicated but the routers themselves are long

[2022-03-01 07:52] ZIK-1337 commented on #20147
Nowhere in the change list does it say anything about improved performance when working with regex match. If it says anywhere, can you send me a link?

[2022-03-01 08:00] zhxie commented on #19044
There are many many assert and if barriers in the code to prevent proxying 1xx twice or encoding 1xx headers twice or resetting the informational headers though they are not been used other than encoding 1xx headers.
It is easy to remove these barriers, and in my HTTP/1.1 test, Envoy works normally and proxy multiple 1xx reponses back successfully. But the most difficult part to me is that, as you

[2022-03-01 08:08] github-actions[bot] opened #20149 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.4 (current: v0.6.2)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.2
Current Version: v0.6.2@2021-10-21
Available Version: v0.6.4@2022-02-28
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-03-01 08:08] #19531 closed

[2022-03-01 08:13] zhxie commented on #20147
I agree with @wbpcode, the regex matches are expensive. And since you are using regex, the logic in `routes` and `matcher` (matching API) may be the same, to match the rule one by one.
IMO, if you have to use regex, and there is no room for improvement in your rule set, maybe you can have a try on other regex engine (#19473) though it is still under review.

[2022-03-01 08:31] rojkov commented on #20134
/cc @PiotrSikora @mathetake @lizan

[2022-03-01 08:44] rojkov commented on #20147
IIRC we always do RE2::FullMatch for routes. And in case of long route strings this type of matching is not very performant. RE2::PartialMatch with anchors in the regexes could help, I guess.

/cc @snowp @jmarantz

[2022-03-01 09:37] cobb-tx opened #20150 "istio-ingress Intermittent failure and kong accesslog Connection reset by peer"
I'll send issue in istio
https://github.com/istio/istio/issues/37608

### Bug Description

istio ingress Intermittent unavailable,nginx ingress available

it seems envoy close TCP wihtout send FIN pack。

Flow Path： kong ——》istio-ingress——》sidecar——》service

I recorded the istio-ingress debug log and i think is ok

[code]

but kong log error
like this  （Please ignore the time difference）
access.log

[2022-03-01 09:48] PiotrSikora commented on #20056
@zirain it's unclear what you're trying to do, but `onRequestMetadata` is called for HTTP/2 METADATA frames, which AFAIK are not processed by default in Envoy (but perhpas this changed since the last time I've looked). Is that what you're after?

[2022-03-01 12:00] MarcinFalkowski commented on #20063
@zuercher Thanks for a reply!

OK, so let me describe real use-case instead of abstract example.

We use envoy in Service-Mesh pattern and we have thousands of services, each in multiple instances.
Every service instance has Envoy as a sidecar proxy.
In envoy config, every service is modeled as a Cluster.

Every service instance optionally is marked with one or many "tags".
Client service, when ma

[2022-03-01 12:08] wbpcode commented on #20060
@tyxia An initial commit is pushed.

And in the process of implementing it, I thinked more about the exist API design.

Although the existing design that puts ClusterSpecifierPlugin(core.v3.TypedExtensionConfig) in top level RouteConfiguration may reduced repeated configurations. It still make the API more complex.
And in practice, we should rarely use this extension. In other words, the benefits

[2022-03-01 12:56] rojkov commented on #20150
I don't really understand what is wrong exactly (Envoy doesn't close a connection when the peer resets it?) and where Envoy is sitting in this setup.

Perhaps @alyssawilk @lizan could help.

[2022-03-01 13:38] jmarantz commented on #20147
@adisuissa @htuch

See also https://github.com/envoyproxy/envoy/issues/6602

I think variants on how to evaluate regexes linearly are never going to be enough. We need a routing specification that enables holistic evaluation via a trie.

[2022-03-01 13:41] alyssawilk commented on #19044
right, it's pretty easy to proxy multiple 100s in the happy path, where there is no filter pausing, but if a filter pauses the chain, multiple 100s have to be cached and resumed, and that's where the complexity is.  I'm inclined to think that doing a half solution (where it works when not backed up, but consolidates when backed up) is worse than clear lack of support but you could ask for a second

[2022-03-01 13:49] alyssawilk commented on #20150
if Envoy is logging a connection close and not sending  a FIN could it be because of the delay close?  have you tried turning that delay down and seeing if it helps?

[2022-03-01 13:59] zirain commented on #20056
How can I enable this in Envoy?

[2022-03-01 14:05] cobb-tx commented on #20150
@rojkov sorry I describe is not very clear.
 the peer resets it， maybe is the envoy （istio-ingress）close connection without FIN I guess。

[2022-03-01 14:06] cobb-tx commented on #20150
@alyssawilk  i will try it. I tried before timeout and keeplive but It's not working

[2022-03-01 14:32] adisuissa commented on #20056
The HTTP/2 metadata protocol has an experimental support, more [info](https://github.com/envoyproxy/envoy/blob/main/source/docs/h2_metadata.md).

You'll need to enable [allow_metadata](https://github.com/envoyproxy/envoy/blob/main/api/envoy/config/core/v3/protocol.proto#L430) on the HCM and/or the upstream cluster. [This integration test setup](https://github.com/envoyproxy/envoy/blob/db17881226e3

[2022-03-01 15:04] RyanTheOptimist commented on #16315
I'm not sure that I understand what this feature is. There is a gQUIC mechanism (which we've recently removed) that allowed the server to compress certs when sending them to the client, by storing a "common cert set" on both endpoints. But that's been removed and was gQUIC specific. The IETF has a different way to compress certs on the wire, specified in RFC 8879. This is supported in BoringSSL vi

[2022-03-01 15:55] aruandre opened #20153 "envoy-alpine ARM64 support"
*Title*: *envoy-alpine ARM64 support*

*Description*:
envoy-alpine images currently do not support ARM64 architecture.
Please create alpine based images with ARM64 support.

[optional *Relevant Links*:]
https://hub.docker.com/r/envoyproxy/envoy-alpine/tags

[2022-03-01 16:04] aruandre commented on #20153
I see now https://github.com/envoyproxy/envoy/issues/19781

[2022-03-01 16:04] #20153 closed

[2022-03-01 16:30] samene commented on #14619
@soulxu I'm interested in this feature. Do you have anything forked?

[2022-03-01 16:35] stevenzzzz opened #20157 "reset ActiveStream::streamInfo().route() when clearRouteCache()"
*Title*: reset ActiveStream::streamInfo().route() when clearRouteCache()

*Description*:
There is a gap between the ActiveStreamFilterBase::clearRouteCache and  ActiveStreamFilterBase::streamInfo()::route():

  whenever we call clearRouteCache(), the  {en,de}coder_callback_.route() ONLY!, the streamInfo().route() is NOT updated.

  The "new" route() on {en,de}coder_callback_ will be reset when we

[2022-03-01 16:35] stevenzzzz commented on #20157
@yanavlasov

[2022-03-01 17:28] mirwide commented on #20147
Combine math by prefix and regexp in route config will improve performance. If split route by section and build tree, possible to reach complexity O(log n).
This case has route format
[code]
Match only 1 section by 1 regexp rule and 0-3 section with regexp in route. Section has 50-100 variant value.

I compare performance envoy with 4000 regexp route and 800 regexp route with similar traffic and s

[2022-03-01 17:36] phlax commented on #19371
cc @moderation @RyanTheOptimist

[2022-03-01 18:04] frankt-vmware commented on #20134
Note: this conversation on Google Groups is related to this question: https://groups.google.com/g/envoy-dev/c/pRWpAfix8K8

[2022-03-01 18:54] shashankram commented on #20113
I tried to reproduce in a standalone environment using filesystem based dynamic configuration. I used the example https://www.envoyproxy.io/docs/envoy/latest/start/quick-start/configuration-dynamic-filesystem and tried removing the listener so it starts to drain. I couldn't reproduce the issue exactly like in my original environment because I don't see the `listener_manager.total_filter_chains_dra

[2022-03-01 18:55] tpetkov-VMW commented on #2763
In order to have secure settings by default, we have a local patch that adds a list of explicitly allowed endpoints directly into the bootstrap configuration. There are a few things to consider around the design, but the implementation is pretty straight forward and would give some guarantees that nobody can, for example, do /quitquitquit .
 Would this be helpful/desired?

[2022-03-01 19:28] danzh2010 commented on #16311
Connection migration and port migration is implemented in https://github.com/envoyproxy/envoy/pull/18103. But they are behind a default false flag --quic_remove_connection_migration_connection_option. We turned off --quic_remove_connection_migration_connection_option in QUICHE to make the server to advertise connection migration to quic clients only implemented by QUICHE. To enable cronvoy to indi

[2022-03-01 19:28] danzh2010 commented on #16311
/assign @RenjieTang

[2022-03-01 19:41] mitchsw commented on #19629
I don't think this is good advice when (a) connecting to a Redis _cluster_ and (b) connecting over a network. More concurrency in Envoy will improve throughput. The thread model of the destination Redis processes isn't really relevant.

[2022-03-01 21:21] ggreenway commented on #4027
@patrickcarnahan nobody has showed interest in working on it or made a PR. But I don't think there's a technical reason not to do it.

[2022-03-01 21:47] ggreenway commented on #20087
The code in `histogram_impl.cc` that computes this uses `hist_approx_count_below()` which is documented to [Returns the number of values in buckets that are entirely lower than or equal to threshold](https://github.com/openhistogram/libcircllhist/blob/d46e582186ee0fdc30f52319b2bb2cfca1a7d59b/src/circllhist.h#L212). I wonder if we're hitting issues with int->double->int conversion and imprecision i

[2022-03-01 22:39] shashankram commented on #20113
@mattklein123 I was able to repro this on a standalone environment.

Steps:
1. Deploy Envoy locally exactly as described in https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/dynamic-configuration-filesystem

2. Update the `lds.yaml` to have multiple filter_chains with filter_chain_match:
[code]

Ensure `curl` succeeds:
[code]

3. Remove `listener_0` by changing `lds.yaml` to:
[code]

4.

[2022-03-01 23:16] kyessenov commented on #20124
Custom value to charge per request seems like a useful feature. Maybe it can be supported in https://github.com/envoyproxy/envoy/pull/19793.

[2022-03-02 00:03] soulxu commented on #14619
please go ahead, I'm working other stuff, real don't have bandwidth for now.

[2022-03-02 01:26] daixiang0 commented on #20134
ping @envoyproxy/wasm-dev

[2022-03-02 02:29] lizan commented on #20123
It is actually pretty similar architecture but also tailored for project specific needs. I don't think we can simply reuse TF or TF can reuse what we do because we do have different dependencies.

[2022-03-02 05:09] keyolk opened #20172 "Envoy never opens listening port for redis proxy"
I'm trying to use envoy's redis_proxy with the below config.
Testing with docker, it opens admin port only.
Am I missing something ?

envoy.yaml I used.
[code]

Run docker container.
[code]

check socket with the command ss.
[code]

Logs from docker container
[code]

Thanks

[2022-03-02 05:26] derekguo001 commented on #19217
It's not just another abstraction layer. There could be some meaningful shared code in HSM framework:

- As PKCS 11 is the standard for performing cryptographic operations on HSM, there should be some shared code related to PKCS 11 in the HSM framework, such as Token, user's PIN, which will be sent to Envoy from control plane after the key and certificate are created in control plane.

- After get

[2022-03-02 06:37] zirain commented on #20056
@adisuissa thanks for your response, let me try what you have suggested.

[2022-03-02 07:56] rojkov commented on #20172
I'm not a Redis expert, but the error message "ERR This instance has cluster support disabled" suggests that the Redis cluster itself is configured in a way Envoy doesn't expect.

You may want to start from a minimal setup described in https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/redis.html

/cc  @msukalski @henryyyang if they have a better idea.

[2022-03-02 08:04] pokitpeng commented on #19094
Maybe you update the configuration file on the host, but when you update the configuration file on the host, the file inode value in docker does not change.

[2022-03-02 08:06] #19556 closed

[2022-03-02 08:06] #19656 closed

[2022-03-02 08:07] github-actions[bot] opened #20176 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.6 (current: v0.6.2)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.2
Current Version: v0.6.2@2021-10-21
Available Version: v0.6.6@2022-03-01
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-03-02 08:07] #20149 closed

[2022-03-02 08:07] github-actions[bot] opened #20177 "Newer release available `com_github_bufbuild_buf`: v1.1.0 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.1.0@2022-03-01
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-03-02 08:07] #20028 closed

[2022-03-02 08:56] mhyllander opened #20179 "[OAuth2] Failure to get token from login.microsoftonline.com (Azure AD)"
*Title*: *Get token from login.microsoftonline.com returns 404*

*Description*:

I'm trying to use the OAuth2 filter to authenticate with Azure AD. The initial redirect to the authorization endpoint works as expected, as well as the callback redirect. But when the callback is being processed by the filter, the request to the token endpoint gets a 404 response, and the filter then fails with a 401

[2022-03-02 09:59] daixiang0 opened #20180 "[Proposal] Extend connection balancer"
*Title*: *Extend connection balancer*

*Description*:

Now we only have one balancer for connections: exact connection balancer. Since it uses Lock operations, it brings much cost, is disabled by default. It is not suitable for the case including huge connections, like acts as a gateway.

[Intel® DLB](https://networkbuilders.intel.com/solutionslibrary/queue-management-and-load-balancing-on-intel-a

[2022-03-02 10:26] PiotrSikora commented on #20134
`wavm.outOfBoundsMemoryAccess` suggests it's reading outside of the allocated memory space.

Are you using precompiled modules? There might be a version mismatch between the compiler and WAVM in Envoy, since the precompiled section generated by WAVM isn't versioned (...and if you don't, then I wouldn't recommend using WAVM in production, since the compilation at load-time takes prohibitively high

[2022-03-02 10:31] #20150 closed

[2022-03-02 11:23] hundredbag commented on #20034
Doing hash to a specific byte range from the UDP packet's payload according to the configuration is a similar solution to what I was considering for handling GTP-C traffic.
However, I believe that we need additional features for GTP-C handling to the feature suggested in issue #9514 and generic byte hashing.

Here's why:
1. When the value of the byte range is a specific value (in my case, TEID fie

[2022-03-02 11:51] frankt-vmware commented on #20134
Thanks for the update.

I'll work at getting a minimal reproducer and check if the WASM I'm supplying is pre-compiled.

The trace level logging is not showing anything new. Here is the first mention of wasm to the crash. The only trace log has a blank message.

How do we interpret the stack trace? What are the function #s? and the +278 elements after the function? Are they referring to the WASM co

[2022-03-02 12:18] PiotrSikora commented on #20134
It looks like the Wasm module that you're using has debug symbols stripped, which is why you see function numbers instead of the function names.

OK, so you're not using precompiled modules.

Wasm module is compiled once for each WasmVM instance, and It's shared across worker threads via cloning of compiled cone, but I don't know if there is any built-in cache in WAVM to share compiled code across

[2022-03-02 12:43] wbpcode commented on #19663
@jmarantz Hi, sorry for the delayed updates. Here is a plain design proposal about the metadata stats. If anything is unclear, you can comment in the doc and I will update it.

https://docs.google.com/document/d/16Rh1S-sOg4cWyQNpewsrGNgEY9jBqiRY_1wf45AFc9M/edit?usp=sharing

[2022-03-02 14:37] rojkov commented on #20179
/cc @rgs1 @derekargueta @snowp

[2022-03-02 16:27] mattklein123 commented on #20113
OK thanks for taking the time to provide a repro. @lambdai are you interested in looking at this? Otherwise I can try to find time to take a look.

[2022-03-02 17:06] phlax commented on #20101
@kfaseela this one is probs quite important to pick up - and i think should be easy judging by previous updates

[2022-03-02 17:08] phlax commented on #19673
@keith not sure if this is an easy update - happy to pick it up if it is

[2022-03-02 17:09] keith commented on #19673
I haven't looked at the change log for this one specifically but normally these are just matter of version bumps yes. Let me know if you hit any snags!

[2022-03-02 17:16] moderation commented on #19673
I've been running `0.30.0` in my local setup without issue since it was released (Linux aarch64 and amd64, MacOS)

[2022-03-02 18:37] frankt-vmware commented on #20134
Here is a minimal repro: https://github.com/frankt-vmware/20134-repro (@162168d)

This shows approximately the same crash when loading a service extension:

We can see it crashing in the proxy-runtime library:
service-min/node_modules/\@solo-io/proxy-runtime/assembly/runtime.ts
ensureRootContext() (from line 994)

So we are executing WASM code in the extension.

Interestingly, I also updated to mo

[2022-03-02 19:39] #19378 closed

[2022-03-02 19:51] rgs1 commented on #19273
@tkennedy1-godaddy can you provide some (minimal) sample code? I wonder if you need to clear the cache route after what you are doing (or something similar trying to modify the destination cluster once the route has been matched).

[2022-03-02 22:23] darshanpatel29 opened #20187 "Memory leak in the envoy proxy"
*Title*: *Envoy proxy OOMs *

*Description*:

![image](https://user-images.githubusercontent.com/46955482/156456887-f7ee97a0-cfb4-4a09-bc59-5d678b049d21.png)

Here's how the heap profile looks like -
![heap_profile](https://user-images.githubusercontent.com/46955482/156457085-7a4941f0-f374-4f9a-ba68-826d85ea02e3.gif)

*Config*:

[code]
We have observed this across many different services. This iss

[2022-03-02 23:48] DavidPeet8 opened #20190 "Fix Deprecated Tap Request Examples"
**Title:** Fix Deprecated Tap Request Examples

**Description:** The [Tap filter docs](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/tap_filter.html?highlight=tap) contain example POST bodies which contain the deprecated `match_config` field. In addition to this field being deprecated, utilization of this field causes test failures in Envoy's CI flow.

**Fix:** Replac

[2022-03-02 23:51] lambdai commented on #20113
@mattklein123 Sorry I have too many things on my plate this week. I can look early next week

[2022-03-03 03:24] rene-m-hernandez opened #20195 "Percentage based enablement of Rate limit filter"
After reviewing the RateLimit filter documentation, I was hoping to take advantage of this feature as a way to ramp up a new RLS implementation:

% of requests that will call the rate limit service for a given route_key specified in the [rate limit configuration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-ratelimit). D

[2022-03-03 04:03] #19643 closed

[2022-03-03 04:16] htuch commented on #20147
@jmarantz this exists now with unified matching, @snowp

[2022-03-03 04:20] jmarantz commented on #20147
Should #6602 be closed then?

[2022-03-03 05:02] htuch commented on #20147
Depends on the progress - we have a matcher field in `VirtualHost` but not sure where it's at, @snowp can comment.

[2022-03-03 07:22] #19724 closed

[2022-03-03 07:57] zhxie opened #20198 "matcher: support prefix match map for prefix matching"
*Title*: matcher: support prefix match map for prefix matching

*Description*:

https://github.com/envoyproxy/envoy/blob/9adf1704c62725b324112beec2a50fbd1fa602ed/source/common/matcher/matcher.h#L225-L226

As mentioned in #6602 and #20147, we would like to have a prefix matching mechanism for route matching. Fortunately, the unified matching API provides an interface for prefix matching, but the co

[2022-03-03 07:58] zhxie commented on #20198
I am not sure if someone is working on it, and if not, I would like to help. @snowp

[2022-03-03 08:18] rojkov commented on #20190
/cc @yangminzhu

[2022-03-03 09:21] #20056 closed

[2022-03-03 09:41] rojkov commented on #20195
Have you checked RTDS (Runtime Discovery Service)?

[2022-03-03 11:31] phlax opened #20199 "Different versions of shellcheck lint the repo differently"
### description

while testing out the new `envoy.code.check` tool we noticed that the repo fails linting when using the newest version of shellcheck (8)

this throws up a couple of issues - one is that we kinda want the linting to be deterministic so ideally we set the shelllcheck version (which we kinda do in the build image but not in bazel)

it may be achievable with https://github.com/tweag/r

[2022-03-03 11:31] phlax commented on #20199
cc @kfaseela

[2022-03-03 15:22] davinci26 opened #20201 "ThriftProxy extension is not generating correct prometheus tags"
I have the following config (based on `envoy-demo.yaml`) which has two listeners. One for http proxying and one for thrift proxying.

<details>
  <summary>Envoy Config</summary>

[code]
</details>

now looking at `http://localhost:9901/stats/prometheus` I see the following:

* Http filter sets the `stats_prefix` as a tag (expected): `envoy_http_downstream_cx_active{envoy_http_conn_manager_prefix="

[2022-03-03 15:43] ibrahimalihc commented on #19110
They are different. DataDog's APM supports both B3 and DataDog headers: https://docs.datadoghq.com/tracing/setup_overview/setup/go/?tab=containers#b3-headers-extraction-and-injection. But it seems that Envoy only recognizes DataDog headers: https://github.com/envoyproxy/envoy/blob/10d783d8985a21b9fabe28461e143532be6119d4/source/extensions/tracers/datadog/datadog_tracer_impl.cc#L38-L41

If Envoy's

[2022-03-03 16:03] rgs1 commented on #20201
I think we should fix them (we could discuss how to maintain backwards compatibility, if it ends up making sense).

cc: @fishcakez

[2022-03-03 16:19] bjk-reddit commented on #20201
Backwards compatibility is typically handled at the Prometheus side. (PromQL can do things like `new_metric_name{} or old_metric_name{}`).

[2022-03-03 16:22] ghevge commented on #19687
I'm still interested in this functionality. Thanks!

[2022-03-03 17:00] mattklein123 commented on #20187
I see Datadog in the above heap profile but it looks like you are using the Zipkin tracer? I'm confused?

[2022-03-03 17:57] mattklein123 opened #20207 "DFP: need per host circuit breakers (cx and pending rq)"
Today, the circuit breaker is shared across the entire DFP cluster. This is not a useful construct for something like DFP in which one actually wants per-host circuit breakers (where each synthetic host targets a DNS entry).

We need to implement per-host circuit breakers, specifically for CX and pending RQ, though it would be nice to support all of the other circuit breakers as well on a per-host

[2022-03-03 18:25] junr03 opened #20209 "h3/quic upstream connection: set local interface name on upstream connection"
h3/quic upstream connection: set local interface name on upstream connection

*Description*:
Analogous to the functionality added for h1/h2 in https://github.com/envoyproxy/envoy/pull/19758

[2022-03-03 19:43] #18134 closed

[2022-03-03 20:07] rgs1 commented on #19306
Yes, we should support it for both `RouteConfiguration` and `VirtualHost`

We might, but I don't think we need to implement that right away. Let's keep it simple for the first iteration.

[2022-03-03 20:45] yanavlasov commented on #19217
The big question for me is signing of the CSR. As I understand the proposal it will be SDS server responsibility to do this signing? Is this the best approach? Should it be responsibility of the HSM provider to do the signing and communicate with the service that signs CSR, with its own protocol, not tied to SDS?

[2022-03-03 20:45] rgs1 opened #20210 "ThriftProxy: support for draining connections"
Connection draining – e.g.: during a hot restart sequence – is not currently handled for Thrift Proxy in the way it is for the HCM.

Moreover, the Thrift protocol itself doesn't have an equivalent construct to what we have in HTTP to drain connections (the `Connection: close` response header).

We'd like to explore the following changes to enable graceful connection draining in Thrift:

1) wiring

[2022-03-03 20:57] alyssawilk opened #20211 "docs: check that new reloadable flags are mentioned in release notes"
any new code with RUNTIME_GUARD should have a corresponding entry in docs/root/version_history/current.rst

[2022-03-03 20:58] alyssawilk commented on #20211
@phlax is this something you could put in your queue or should I find someone on our end to pick it up?

cc @krajshiva for visibility

[2022-03-03 21:03] alyssawilk opened #20212 "runtime: reject runtime variables with the runtime guard naming if they're not known flags"
We runtime guard behavioral changes (default true) but if folks override the default behavior they (previously) have no warning when the code paths are removed and their override becomes a no-op.  As of https://github.com/envoyproxy/envoy/pull/19880 we will ENVOY_BUG for unknown flags which is better than nothing, but I propose we outright reject configs with unknown flags, in case folks aren't pa

[2022-03-03 21:06] alyssawilk commented on #20212
cc @krajshiva

[2022-03-03 21:12] KBaichoo commented on #20002
Sorry for the late reply, I think ideally if you could shim a way to access the admin port securely and make request through that shim, would be best.

Otherwise, I think if creating a workaround the question becomes how to ensure the access point from the workaround is secure. One way of implementing this could be using debug headers cross referencing that this comes from a trusted IP address.

[2022-03-03 21:34] alyssawilk commented on #20207
so no objections to pending RX, but do we need that today?

for per-host CX, are we good bounding connections per worker thread as long as we document clearly?  I think it'd spare us memory and locks on implementation, and if folks have a ton of hosts and non-balanced traffic they'd probably want to be doing subsetting anyway.

[2022-03-03 21:40] mattklein123 commented on #20207
The host stats are global now, so I would prefer we do it globally.

Regarding pending RX, I think we could still use the cluster global one which defaults to 1024, though I think it would be nice to support it per host to match the connection limits, but up to you if you want to defer it.

[2022-03-04 00:38] mieubrisse opened #20215 "Reducing Docker image size"
The Docker image currently being published is 28.3MB compressed. When running the image, the vast bulk of it is due to the 53.9MB `envoy` binary in `/usr/local/bin`. Is there any way to make this smaller? We're trying to bundle an Envoy proxy along with a gRPC server so that the gRPC server can be accessed via `grpc-web`, but adding Envoy is taking our image size from 10MB to 38MB compressed.

[2022-03-04 01:24] keith commented on #19916
I submitted a fix for this here https://github.com/envoyproxy/envoy/pull/20216

[2022-03-04 01:54] wbpcode commented on #20187
Can you provider some more detailed reproduce configs and steps. It is best not to rely on istio so that developers can reproduce it locally.

[2022-03-04 02:19] wbpcode opened #20220 "new stats API `scopeFromStatNameWithTags`"
*Title*: new stats API `scopeFromStatNameWithTags`

*Description*:

Now the APIs `*FromStatNameWithTags` are provided to create counter, gauge, and histogram. Can we add the new API of `scopeFromStatNameWithTags`. Then we can create scope with some static tags. Any new metrics created from this scope will has related tags directly. 🤔

[2022-03-04 02:19] wbpcode commented on #20220
cc @jmarantz

[2022-03-04 02:21] K-Prabha commented on #9958
Hi @AlexanderEllis : checking in on this to get a sense of timeline on enabling OTel in Envoy for metrics and traces.

[2022-03-04 02:24] mattklein123 commented on #20215
Unfortunately no, there is no easy way to make this smaller. If you compile a custom Envoy and remove all extensions other than the ones you need that would help a lot.

[2022-03-04 02:24] #20215 closed

[2022-03-04 02:32] daixiang0 commented on #20199
Pin the version in the CI image, also add a version check in the tool, I think would fix it.

[2022-03-04 02:42] mieubrisse commented on #20215
How can I do that @mattklein123 ? I'm not seeing a way to disable extensions in https://github.com/envoyproxy/envoy/tree/main/ci#building-and-running-tests-as-a-developer

[2022-03-04 02:50] wbpcode commented on #20220
@jmarantz Thanks.

This feature request was inspired by the #19663. In the #19663, I want create scopes based on the metadata config. Scopes with tags can be used to avoid writing complex regex extractors.

Considering this is a generic feature, I'm going to prepare a separate PR for it.

[2022-03-04 03:23] jmarantz commented on #20220
Will definitely want to get @mattklein123 blessing as well for this strategy and how you will use it.

[2022-03-04 03:33] cgilmour commented on #20187
The heap profile also has references to opencensus and lightstep, so datadog's inclusion in the profile is probably equally incidental. Still unexpected, nonetheless.

Just from the shape of graphs of `container_memory_working_set_bytes`, it seems highly likely that this is related to control-plane traffic (keepalives, healthchecks and so on that happen at regular intervals) or other internal requ

[2022-03-04 05:37] moderation commented on #20215
@mieubrisse Instructions for disabling optional features and extensions is covered at https://github.com/envoyproxy/envoy/tree/main/bazel#disabling-optional-features. Interestingly enough you can even compile out Google gRPC and still have the gRPC features work. Big wins including compiling out WASM. An example `~/.bazelrc` file is:

[code]
The last line points my custom [extensions_build_config.

[2022-03-04 06:24] moderation commented on #12651
Updated link to the relevant sections in the IETF standard is https://datatracker.ietf.org/doc/html/rfc9000#section-9.6

[2022-03-04 06:50] hundredbag commented on #20034
For (1), I think that it would be great to use generic hashing in the way you described.

For (2), I meant to say that using a token statically defined in the configuration file like #9514 is not a good way for GTP-C, since the TEID value is assigned in a non-predictable way by the endpoint at tunnel creation time.
A GTP tunnel is identified by IP address, UDP port, and TEID value. Therefore, I th

[2022-03-04 07:10] #19918 closed

[2022-03-04 07:33] phlax commented on #20199
many people dont use the ci image (it is pinned there) - i dont

i think we want this in bazel ideally

[2022-03-04 07:47] daixiang0 commented on #20199
I am not sure `bazel` can help when running the lint tool alone.

[2022-03-04 07:48] phlax commented on #20199
its run outside of the bazel env ie with the repo path  - so not hermetic, but bazel can help in making sure that the test reproducible by adding a shellcheck toolchain

[2022-03-04 07:50] phlax commented on #20199
the point in a way is that its quite hard to standardize a version without bazel - on mac installing with brew you get one version, linux distros/versions all have other versions - so we need a way to standardize, give the version differences of the tool itself

[2022-03-04 07:54] daixiang0 commented on #20199
Add download and version detect logic in the tool in easier for me.

[2022-03-04 08:04] darshanpatel29 commented on #20187
I haven't tried reproducing this yet. But here's the `config_dump` from the envoy dashboard -
[config_dump.txt](https://github.com/envoyproxy/envoy/files/8184067/config_dump.txt)

I'll try to make an isolated envoy-based reproducible environment to further help with debugging but it may take some time.

[2022-03-04 11:29] phlax commented on #20211
just trying to clarify what is involved and iiuc

this is my understanding of expected check workflow

- a list of relevant runtime_guards is generated for any new that have been added since last release
- version_history file is checked for relevant entries

the second part is pretty trivial i think

im wondering exactly how to derive the expecations list - probs doable with `git grep` and some k

[2022-03-04 12:10] jmarantz commented on #20220
I had another thought about this -- it seems wasteful to replicate the same tag name/value across all stats in a scope. Instead, we could have mutable tags on the scope, and you could change those in a config update without rebuilding the scope.

Then, when reading the stats, you could apply the semantics from the scope's tags. If the consumer is implemented by traversing over scopes then you'll h

[2022-03-04 12:18] cobb-tx commented on #20150
i find this can fix this bug but incomplete because  There will be more 502
[code]
and we consider k8s-ingress（nginx） keeplive 75s There's reason No 502， i will test envoy timeout  75s

[2022-03-04 15:18] mattklein123 commented on #20215
Thank you for the instructions @moderation!

[2022-03-04 15:20] mattklein123 commented on #20034
What do you think of this idea?

I think what I'm after is to not have "TEID" anywhere in the code. Can we use generic byte ranges to create the lookup/hash value? If so that seems optimal.

[2022-03-04 17:02] kyessenov commented on #15148
@PiotrSikora We have Lua filters that need to write metadata. We probably need this in Wasm ABI.

[2022-03-04 17:17] keith commented on #16482
In general I think we should close this one and encourage folks to file new issues as they pop up

[2022-03-04 17:57] PiotrSikora commented on #15148
@kyessenov I agree. See: https://github.com/envoyproxy/envoy/pull/15196 (though, that PR was closed).

[2022-03-04 18:42] ankitkumarr commented on #19768
I started looking at this, but had to switch gears with other work. I will pick this back up in the next week or two. Please feel free to assign this to me!

[2022-03-04 21:12] #15159 closed

[2022-03-05 07:49] hundredbag commented on #20034
I'm considering using N bytes of data starting at a specific offset in the UDP payload to generate/find the hash key. It would be good to make the starting offset and length (N bytes) configurable.

I also need to discuss how to handle the specific action for certain matching values. In my case, I need per-packet round robin if the value (N bytes from a start offset) is zero.

[2022-03-05 08:03] github-actions[bot] opened #20228 "Newer release available `com_envoyproxy_protoc_gen_validate`: v0.6.7 (current: v0.6.2)"
Package Name: com_envoyproxy_protoc_gen_validate@0.6.2
Current Version: v0.6.2@2021-10-21
Available Version: v0.6.7@2022-03-04
Upstream releases: https://github.com/envoyproxy/protoc-gen-validate/releases

[2022-03-05 08:03] #20176 closed

[2022-03-05 14:36] UlasSAYGINIM opened #20229 "FreeBSD 13 bazel build problem about java jdk, can not use local_jdk"
*Title*: *FreeBSD 13 bazel build gives error about jdk toolchain*

*Description*:

does not matter what java parameter i use for runtime, such as  --tool_java_language_version=11 --java_runtime_version=11  --java_language_version=11
it gives errors below. i  can not make bazel use local jdk and it seems envoy java configurations does not detect freebsd java to compile.
but if i execute command baz

[2022-03-05 15:08] mattklein123 commented on #20034
Yes ^ sounds good to me. My advice would be to propose the API first and we can discuss there and then do the implementation. I don't think the implementation will be very difficult.

[2022-03-05 16:01] #19335 closed

[2022-03-05 16:01] #19567 closed

[2022-03-05 16:01] #19702 closed

[2022-03-06 03:18] wbpcode commented on #20220
Great. I have had some similar ideas before. This method can save some memory. 🤔

Since the stats need to be created with the full name of the stats as a unique identifier, this means that even if we don't store scope tags in the stats, we will inevitably need to rebuild all the stats under scope when scope tags are updated.

[2022-03-06 08:02] github-actions[bot] opened #20231 "Newer release available `com_github_curl`: curl-7_82_0 (current: curl-7_81_0)"
Package Name: com_github_curl@7.81.0
Current Version: curl-7_81_0@2022-01-05
Available Version: curl-7_82_0@2022-03-05
Upstream releases: https://github.com/curl/curl/releases

[2022-03-06 09:32] reysuela commented on #20179
Hi @mhyllander , I'm also trying to implement Azure AD and envoy-proxy oauth2. Just curious, how did you disable the chunked transfer? did you modify the request header?

[2022-03-07 08:03] #20228 closed

[2022-03-07 08:25] hundredbag commented on #20034
OK. I'll create an API proposal soon.
Thank you for the comments.

[2022-03-07 10:04] mhyllander commented on #20179
Hi @reysuela. That's the problem, I haven't been able to disable chunked transfer. With tcpdump I compared the request that Oauth2 filter is sending with the request that my script is sending, and I noticed that Oauth2 filter is using chunked transfer. If I modify my script to use chunked transfer, I get a 404 response, just like Oauth2 filter. Unfortunately I haven't found a way to make Oauth2 fi

[2022-03-07 10:29] cobb-tx opened #20233 "Do we have a folders store docs.google.com site ？"
do we have a folders store [docs.google.com](http://docs.google.com/) site

like istio community https://drive.google.com/drive/folders/0ADmbrU7ueGOUUk9PVA

[2022-03-07 11:00] Jawadh-Salih commented on #6999
Does this have a solution? thanks

[2022-03-07 14:36] alyssawilk commented on #20211
For all that checking diffs is probably cleaner,  If we add placeholders or exemptions for the ~2 which are missing and the 2 test flags we could just straight up check "every release note in the file is mentioned somewhere in docs/version_history and skip git diffing, no?

[2022-03-07 14:37] rgs1 commented on #20210
Something in the lines of #20236 perhaps?

[2022-03-07 14:38] phlax commented on #20211
yep, i think i follow - no need to diff, just check that all are mentioned somewhere

[2022-03-07 14:39] phlax commented on #20211
i can take this - but ~related i pinged you on the #doc-improvements channel re shifting the rst_check to pytooling

[2022-03-07 14:47] alyssawilk commented on #20211
saw the ping, wasn't sure if you needed a response.  I trust you on the tooling changes in general - I may have touched the code a bunch but generally only because it was direly needed (as we all know, Python isn't my strong suit =P)

[2022-03-07 16:13] htuch opened #20238 "Fix proper noun capitalization in documentation"
For documentation (including API):

- Proper nouns should be correctly capitalized, e.g. `Envoy` instead of `envoy`.
- Acronyms are always capitalized, e.g. `HTTP` instead of `http`, `CEL` instead of `cel`. No camel case in docs.

CC @phlax

[2022-03-07 16:22] mattklein123 commented on #20233
Not currently, no. This would be nice I suppose but no one has set it up.

[2022-03-07 16:22] #20233 closed

[2022-03-07 17:15] mattklein123 commented on #20187
I'm not convinced the symbols in the above heap dump are actually correct. It doesn't make a lot of sense to me. Can we make sure we are using the right symbols when getting the dump? Thank you.

[2022-03-07 18:10] ggreenway commented on #12651
This is on my TODO list, but has been too low on the priority list for me to make a lot of progress. If anyone else is looking at this, ping me so we can sync up.

[2022-03-07 18:11] #16482 closed

[2022-03-07 18:28] moderation commented on #4159
Saw this article about a 7% performance improvement for Chrome by enabling ThinLTO - https://blog.chromium.org/2022/03/a-new-speed-milestone-for-chrome.html

[2022-03-07 18:29] mattklein123 commented on #20220
+1 this sounds good to me, especially the part about just storing tags for the entire scope and not on a per stat basis. It seems much simpler.

[2022-03-07 18:30] mattklein123 commented on #4159
I was thinking about this recently and I think we should do LTO by default. I honestly don't recall why we haven't done it yet.

[2022-03-07 18:52] alyssawilk commented on #4159
cc @wbpcode

[2022-03-07 18:52] mattklein123 commented on #4159
cc @keith who I've been talking about this offline. I think he is looking into enabling thin LTO now.

[2022-03-07 18:56] alyssawilk commented on #4159
Oh excellent!  Can we call it out when it lands in Envoy Mobile?  I want to call it out to Stan and see what it does to their A/B experiments.  cc @RyanTheOptimist for visibility.

[2022-03-07 19:05] derekargueta commented on #20179
I think we may be able to resolve that by setting a `content-length` on the POST request. There's some logic in the HTTP/1 encoder that sets `tranfer-encoding: chunked` if there is no content-length https://github.com/envoyproxy/envoy/blob/f9b05bde6901203fde947d16c115329d3e9523cb/source/common/http/http1/codec_impl.cc#L209-L212

[2022-03-07 20:42] cpakulski commented on #20117
@maksimaz  **psql->(TCP)->envoy->(TLS)->postgresql** will not work. There is opened issue for that scenario #19527.

[2022-03-07 21:50] RyanTheOptimist commented on #20229
cc @lizan do you have any insight here?

[2022-03-07 23:55] RyanTheOptimist opened #20245 "MacOS link error on 1.19 and 1.18"
There appears to be a link error on the 1.18 and 1.19 branches for macOS which results in the following build failure:

Undefined symbols for architecture x86_64:
  "std::__1::basic_string<unsigned short, gurl_base::string16_internals::string16_char_traits, std::__1::allocator<unsigned short> >::shrink_to_fit()", referenced from:
      bool gurl_base::(anonymous namespace)::UTFConversion<gurl_base

[2022-03-07 23:56] RyanTheOptimist commented on #20245
@oschaaf According to RELEASES.md, you're the current Release Manager. Can you take a look at what's going on here?

[2022-03-07 23:58] agrawroh opened #20246 "Is there any metric to track requests with status code = 0?"
## Description

Is there any metric which could be used to track the number of requests with final status code = 0? When clients close the request before Envoy could respond, the access logs record the final status code as `0`.

We are wondering if there is any metric emitted from the HCM which could be used to accurately track such requests? I think `downstream_cx_destroy_remote_active_rq` is clo

[2022-03-08 00:37] tkennedy1-godaddy commented on #19273
HI sorry, I'm working on rewriting our filter to be a minimal case.  Hopefully this week I"ll be done :)

[2022-03-08 01:22] daixiang0 commented on #20238
Should mark as "first good issue" since it can be taken by new committers.

[2022-03-08 05:21] wbpcode commented on #20220
Because the full name including all tags (scope tags and stats tags) is the unique identifier for the stats in the stats allocator. If the scope tags have updated, then the related stats also need to be rebuild.
Or we can try to support the scople level stats allocator. But this way will introduces some others problems.

[2022-03-08 06:15] zirain opened #20249 "why `HeaderValueMatch` do not have `descriptor_key`"
*Title*: *why `HeaderValueMatch` do not have `descriptor_key`*

*Description*:

there's a config as following:
[code]
that will populate descriptors like:

[code]
it will be better to add `descriptor_key` here? @mattklein123

[2022-03-08 08:02] github-actions[bot] opened #20250 "Newer release available `com_github_wasmtime`: v0.35.0 (current: v0.34.1)"
Package Name: com_github_wasmtime@0.34.1
Current Version: v0.34.1@2022-02-16
Available Version: v0.35.0@2022-03-07
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-03-08 08:28] cobb-tx opened #20251 "how to find config in envoy config_dump"
*Title*: *how to find config in envoy config_dump*

*Description*:

[code]

![image](https://user-images.githubusercontent.com/33242758/157196997-cdfcb35f-e5ec-4315-96b5-24fda3a142b5.png)

[optional *Relevant Links*:]

[2022-03-08 14:13] jmarantz commented on #20220
What you suggest would be needed if you have 2 distinct scopes that have the same prefix, and are populated by the same code, and thus share the same stat objects, and then decide while the system is running that you want to drop those shared stats and differentiate them.

If the scopes have distinct prefixes then their stats are already distinct and you don't need to rename them just because you

[2022-03-08 14:28] adalrsjr1 opened #20252 "[question] data-plane implementation using Envoy API (xDS)"
I want to create a data-plane xDS compatible from scratch. How should I proceed?

1. does the `envoy/api` repository have the minimal API-set to bootstrap a proof-of-concept?
1. the poc will be in Java, how cumbersome it is to build xDS api using Java -- I know nothing about Starklark
1. after built, how can I use this API with a data-plane, let say go-control-plane or Istio, is there any trick to

[2022-03-08 15:34] jmarantz commented on #20220
I'm a little lost as to why all that helps, as well as the impact of a design where you effectively drop a bunch of stat values on a config update, but OK.

Having tags associated with the Scope and inserting them in the Prometheus rendering for each stat in the scope makes sense to me. @ggreenway probably also has opinions about this.

[2022-03-08 15:45] wbpcode commented on #20220
Yes, this will have some negative effects. However, the data is only lost when the scope tags are updated.
And without doing this, we cannot update the final stats' tags just through xds.

[2022-03-08 15:49] mattklein123 commented on #20252
I would recommend taking a look at either https://github.com/envoyproxy/go-control-plane or https://github.com/envoyproxy/java-control-plane. That would be the best way of getting started. We don't have any official documentation other than the protocol documentation here: https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol

[2022-03-08 15:49] #20252 closed

[2022-03-08 16:02] wbpcode commented on #20220
I also thought of some other things.

In our practice, we always need to write some very complex regular expressions to extract the cluster name from upstream stats. Because some of our some users' service names are not canonical and require that the non-canonical service names must exist in the final prometheus tags.

If we were able to create a scope with `scopeFromStatNameWithTags` and add the

[2022-03-08 16:03] wbpcode commented on #20220
The current method of using regular expressions to extract tags is very flexible and powerful.

But if there are some irregular identifiers (such as including variable length dots), the regular expression will be very complicated. And the regular expression for extracting tags can only be configured through bootstrap.

[2022-03-08 16:12] howardjohn opened #20254 "refactor `re2.max_program_size.error_level`to not use global ints"
*Title*: Deprecated `re2.max_program_size.error_level`

*Description*:
`envoy envoy_bug envoy bug failure: false. Details: The Envoy community is attempting to remove global integers. Given you use re2.max_program_size.error_level please immediately file an upstream issue to retain the functionality as it will otherwise be removed following the usual deprecation cycle.` since https://github.com/en

[2022-03-08 17:02] wbpcode commented on #20220
I just get an idea about tags extraction. It may not a good idea.

We can create scope with prefix and scope tags. The scope tags are only used to populate the final prometheus tags and the prefix used to identify a unique scope. The prefix is consist of one or more segments. Multiple segment values are connected by `.` to form the final prefix.

And every segment has an optional segment name. The

[2022-03-08 17:03] keith commented on #4159
There's currently an issue with antlr that causes this to not work, we're hoping that's fixed in an upcoming release, but otherwise this command works on my linux machine (if I hack around that issue):

[code]

[2022-03-08 17:09] AlexanderEllis commented on #9958
Hi @K-Prabha , thanks for checking in! Hoping to have a PR out by the end of the week, and I'll be sure to link it to this issue as well 👍

[2022-03-08 17:13] K-Prabha commented on #9958
Thank you @AlexanderEllis . Looking forward to it

[2022-03-08 18:10] stevenzzzz commented on #19824
/assign stevenzzzz

[2022-03-08 19:33] RyanTheOptimist commented on #20249
cc:@dio

[2022-03-08 19:35] RyanTheOptimist commented on #20251
cc:@adisuissa

[2022-03-08 19:36] RyanTheOptimist commented on #20254
cc: @alyssawilk

[2022-03-08 20:44] yanavlasov opened #20260 "Safe request access control"
**TL;DR;** Provide ability for operators to configure safe access control based on URI path or other request headers that works correctly with specific back ends.

Background:
A collection of vulnerability reports against Istio and Envo, such as [CVE-2021-29492](https://github.com/envoyproxy/envoy/security/advisories/GHSA-4987-27fx-x6cf) demonstrate that standard compliant URI path normalization i

[2022-03-08 20:56] yanavlasov opened #20261 "Unifed Header Validation"
Top level tracking bug:

[Design Specification](https://docs.google.com/document/d/1iRprAqZt3dek107LZWtBTnb2YRRhUBanBnHvHKMPdkI/edit?usp=sharing)

Blocked by Issues:

- [x] #19749
- [ ] #19750
- [ ] #19751
- [ ] #19752
- [ ] #19753
- [ ] #19754
- [ ] #19755

[2022-03-08 21:00] yanavlasov commented on #19752
This is covered by having two different methods `validateRequestHeaderMap` and `validateResponseHeaderMap`. Separate methods are needed since the C++ type of request and response header maps is different.

[2022-03-08 21:14] adisuissa commented on #20251
Not sure about the Istio->Envoy translation, but the tcp_proxy filter config (including its `idle_timeout` field) should be in the `ListenersConfigDump` part.
Can you filter the output using [name_regex](https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--config_dump?name_regex=), similar to this:
`localhost:15000/config_dump?name_regex=.*tcp_proxy.*`

[2022-03-08 22:25] CMcCudden commented on #20238
Hi, can this issue be assigned to me? Looking to do my first PR and have been going through the docs already working on some grammar/ spelling errors

[2022-03-08 22:34] phlax commented on #20238
done.

this is kinda a 2 part bug - one part is just cleaning up the existing problems

the second part - which im not sure yet exactly how we should implement, is figuring out how to prevent it happening in the future

im happy to help if you need any pointers - ping me here or on slack

[2022-03-08 22:35] zirain commented on #20249
I think it's not a access_log question, it's something about ratelimit.

[2022-03-08 22:57] CMcCudden commented on #20238
Appreciate it a lot! I'll more than likely have a couple noob questions lol

[2022-03-09 00:30] hobbytp commented on #19527
Glad to hear that, the related istio issue is here: https://github.com/istio/istio/pull/37290, seems only after this envoy issue fixed, the istio can support postgresql in upstream/cluster part.

[2022-03-09 02:22] cobb-tx commented on #20251
@adisuissa find nothing
![image](https://user-images.githubusercontent.com/33242758/157359778-e6bc74c2-4780-4fbb-bc6c-fd39f9cef111.png)

and version
[code]

[2022-03-09 04:01] messagell opened #20266 "Local reply modification can't overwrite content-type header"
Hi, I want envoy response custom html error page when upstream is down.

EnvoyVersion:
[code]

EnovyFilter:
[code]

[2022-03-09 04:03] daixiang0 commented on #20249
This is defined in global rate limiting, see https://github.com/envoyproxy/ratelimit#example-1.

[2022-03-09 04:14] messagell opened #20267 "Local reply modification can't overwrite content-type header"
Hi, I want envoy local_reply_config to response custom html error page when upstream server is down. I found that headers_to_add can't overwrite content-type to "text/html; charset=UTF-8" when I using body.inline_string to return custom html error page. Please help me abount this.

EnovyVersion:
[code]
EnvoyFilter:
[code]

Test Output:
[code]

[2022-03-09 04:19] adisuissa commented on #20251
Can you use a tool similar to `istioctl proxy-config listeners` to fetch the Envoy config in json form (more info [here](https://istio.io/latest/docs/ops/diagnostic-tools/proxy-cmd/#deep-dive-into-envoy-configuration) in step 2)?

[2022-03-09 05:07] lambdai commented on #20251
change to `operation: MERGE`?

You seems not going to create a new filter, but update the existing tcpproxy filter

[2022-03-09 05:53] daixiang0 commented on #20267
duplicate with #20266

[2022-03-09 06:10] #20266 closed

[2022-03-09 06:39] ankatare commented on #19589
@stevenzzzz @yanavlasov Can you help me on setting of `sets a path-only-redirect route`, in config ? I checked in docs howver no such keyword found to me.

[2022-03-09 07:58] daixiang0 commented on #20180
here is the API config design:

[code]

Config example:
[code]

Users can inherit `ConnectionBalancer` to create a new ConnectionBalancer, belonging to `ExtendBalance`.

In `source/server/listener_impl.cc`, use `ExtendBalance` as configed.

[2022-03-09 08:03] github-actions[bot] opened #20269 "Newer release available `opentelemetry_proto`: v0.14.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.14.0@2022-03-08
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-03-09 08:03] #19913 closed

[2022-03-09 10:20] Gsantomaggio commented on #15148
Hi @PiotrSikora @kyessenov
I stopped working on that feature. I thought that the Envoy team was no longer interested

[2022-03-09 12:00] mkielar opened #20272 "Missing "x-amzn-trace-id" (and other trace ids) in response headers"
*Title*: *Missing "x-amzn-trace-id" (and other trace ids) in response headers*

*Description*:

*Repro steps*:

*Why I think this is a bug?*

[2022-03-09 14:43] cobb-tx commented on #20251
Thank you for your reply @adisuissa @lambdai
@adisuissa   istioctl pc listener get json
[code]
@lambdai  change to operation: MERGE still not work

[code]

Does it have anything to do with what I've set up other EnvoyFilter

[code]

[2022-03-09 14:48] stevenzzzz commented on #19589
Sorry totally missed the first ping.

Any route with a path redirect, and strip_any_host_port configured at listener level.

Send a request with host header contains port, would see the port removed in the redirect response.

It's because in the router when Envoy compose the newPath, final port doesn't look at the stripped port stored in headerMap.

OTOH, setting the "strip_any_host_port" at liste

[2022-03-09 15:35] danzh2010 commented on #19542
Can you clarify a bit more about what the config knob should guard? Allowing non-safe requests to be sent over 0-RTT?

[2022-03-09 15:40] alyssawilk commented on #20254
Coming back to this I would say we should support it if no one is using it. If as you say it's mentioned in the APIs I think we'd have to leave it around for a full year, but if no one has had complaints after a year because no one uses it, why should we keep it in the code base?

[2022-03-09 15:46] cobb-tx commented on #20251
i find this https://github.com/istio/istio/issues/30067
and i test it work in tcp-echo sidecar
but not work in istio-ingress

[2022-03-09 15:49] cobb-tx commented on #20251
![image](https://user-images.githubusercontent.com/33242758/157477475-83d0bba4-95dd-42ec-ae9c-b1cc22b883b3.png)

and the common_http_protocol_options.idle_timeout will changce
![image](https://user-images.githubusercontent.com/33242758/157477528-86370ebb-2b03-45ae-bc98-4ebffae6d225.png)

[2022-03-09 15:53] cobb-tx commented on #20251
i success by ISTIO_META_IDLE_TIMEOUT env
https://github.com/istio/istio/issues/12533
![image](https://user-images.githubusercontent.com/33242758/157478339-dfa9658f-07e6-4045-82c5-1df519a013ed.png)

[2022-03-09 15:55] mattklein123 commented on #20180
The extension should just be a TypedExtensionConfig which will go in the oneof, but otherwise this makes sense.

[2022-03-09 15:57] howardjohn commented on #20254
We do use it and will continue to use it unless an alternative is implemented. We have strong requirements to have regex over the default size

[2022-03-09 16:01] alyssawilk commented on #20254
Ah sorry, that wasn't clear.  I'll make sure I replace it then. Thanks for responsibly (and quickly!) reporting!

[2022-03-09 16:03] mattklein123 commented on #20254
I'm thinking that for this one perhaps this would be a good candidate for a CLI flag and some kind of global value? I just don't see anyone setting this on a per regex basis. The other option would be an env variable, though we don't have any precedent for that.

[2022-03-09 16:11] alyssawilk commented on #20254
I can also just leave the runtime variable as-is, and do the plumbing to not have the access illegal.  I think that'd be the minimum if I can do it without refactoring the world

[2022-03-09 16:14] mhyllander commented on #20179
@derekargueta Thank you for that suggestion. I (at long last) managed to build an envoy image locally to test this. It worked! This is the patch I made:

[code]

[2022-03-09 16:55] cobb-tx commented on #20251
i success by this
[code]

[2022-03-09 17:30] #20231 closed

[2022-03-09 19:49] RenjieTang opened #20275 "Sanity checks on dummy configs for integration tests"
This issue was discovered in #20259 which used MockClusterInfo for HTTP integration tests.

However the default value of the connect timeout would cause Quiche to complain and crash at [QuicConnection::SetNetworkTimeouts](https://github.com/google/quiche/blob/main/quic/core/quic_connection.cc#L4632).

I think default value like this doesn't make much sense.
I wonder if more of such cases exist in

[2022-03-09 20:01] #19664 closed

[2022-03-09 21:50] derekargueta commented on #20179
@mhyllander sweet! Do you plan on posting a PR?

[2022-03-09 22:39] trstringer opened #20280 "Effective TLS version used in a mesh"
*Title*: *What is the effective TLS version used when Envoy proxies are meshed together?*

*Description*:

I understand from the [TLS configuration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/common.proto) that Envoy defines a min and max TLS version. But in the case of `client -> server` in a mesh where this is `Envoy -> Envoy`, what will be the request

[2022-03-10 00:19] RyanTheOptimist commented on #20275
cc: @alyssawilk @danzh2010

[2022-03-10 00:22] RyanTheOptimist commented on #20267
cc: @adisuissa

[2022-03-10 00:55] reysuela commented on #20179
@mhyllander Do you mind sharing the docker img? I wanted to test out my config, it works when using google oauth2 but not yet with Azure AD.

[2022-03-10 01:26] #18877 closed

[2022-03-10 01:46] lum1n0us commented on #19834
May I ask that is there a plan to upgrade llvm to llvmorg-13.0.1. `envoy.wasm.runtime.wamr` is OK with that and can get a potential performance improvement.

CC @leyao-daily

[2022-03-10 02:13] leyao-daily commented on #19834
The performance improvement is based on the new llvm and new wamr release?

[2022-03-10 02:21] daixiang0 commented on #20249
Sounds good to me.

[2022-03-10 02:21] lum1n0us commented on #19834
Yes. We have upgraded the LLVM release version to 13 in the official repo. We'd like to sync that change.

[2022-03-10 03:27] wbpcode commented on #18841
This should be closed by the #18923.

[2022-03-10 03:27] #18841 closed

[2022-03-10 04:44] adisuissa commented on #20267
IIUC the order of operations in the code:
https://github.com/envoyproxy/envoy/blob/1575185d14abc3bc508ce5a6ba45422393322551/source/common/http/utility.cc#L584-L589

which implies that first the headers are modified, and then the `content_type` is rewritten.

[2022-03-10 05:31] messagell commented on #20267
@adisuissa Thanking you for your reply, I'm confuse about how to config about this, Due to body.inline_string not support content_type parameter, so I use headers_to_add to overwrite Content-Type header, But not take affect. Can you show me example abount this.

[2022-03-10 07:27] phlax opened #20283 "CODEOWNERS seems to have been broken by recent (github) update"
It would appear that CODEOWNERS now enforces that owners have write access.

Not sure what brought about this rather annoying change, or whether we can workaround it somehow

[2022-03-10 08:02] github-actions[bot] opened #20284 "Newer release available `com_github_wasmtime`: v0.35.1 (current: v0.34.1)"
Package Name: com_github_wasmtime@0.34.1
Current Version: v0.34.1@2022-02-16
Available Version: v0.35.1@2022-03-09
Upstream releases: https://github.com/bytecodealliance/wasmtime/releases

[2022-03-10 09:15] phlax commented on #20283
ive raised an upstream ticket re this https://github.com/dear-github/dear-github/issues/410

[2022-03-10 09:37] daixiang0 commented on #20280
I think two Envoy use same TLS version.

[2022-03-10 10:48] cboitel opened #20286 "Historic docs versions were not published (due to bad versioning)"
*Title*: Version history states a published version is pending

*Description*:

If you look at the version history for version v1.21.1, it states v1.21.1 is pending instead of listing date version was pusblished.

* [v1.21.1 version history](https://www.envoyproxy.io/docs/envoy/v1.21.1/version_history/version_history)

By the way, v1.20.2 isn't listed on [envoy's doc main page](https://www.envoypr

[2022-03-10 11:11] phlax commented on #20286
i believe the version issue is known/resolved if not yet published cc @RyanTheOptimist (related issue #20098)

wrt the docs not being published, i can look into that

[2022-03-10 11:14] rahulanand16nov opened #20287 "How to fetch wasm module from github? getting 503 on remote fetch."
I am trying to fetch the wasm module from Github but getting `503` as soon as the request is sent from the Envoy. Can you please point out what is wrong with my config?

[code]

[2022-03-10 11:20] rahulanand16nov commented on #20287
Here is a piece of debug logs:
[code]

[2022-03-10 12:32] JaredTan95 opened #20288 "tracer: skywalking reported wrong instance name"
*Title*: *skywalking reported the service name as instance name in tracing segment data*

*Description*:
from docs, skywalking tracer extions could config `servicename` and `instance name` as following:
[code]

but, I found that `skywalking oap`(skywalking backend, a commponent to receive tracing data from envoy) received the instance name as the same as the service name. That's may be wrong.

[2022-03-10 12:32] wbpcode opened #20289 "Tags/Labels friendly stats system for Envoy"
*Title*: *Tags-friendly stats system for Envoy*

*Description*:

Here is a further discussion of #20220. Envoy provides powerful stats system which is well designed and carefully optimised. This system provides first-class support for statsd. Regular expression-based extraction of tags and output in prometheus format were added later.

The current method of using regular expressions to extract tag

[2022-03-10 12:34] wbpcode commented on #20289
cc @mattklein123 @ggreenway @jmarantz

[2022-03-10 13:02] phlax commented on #20286
@cboitel i have renamed/hijacked your issue to focus on the docs publishing issue which is a slightly bigger problem

I updated the docs publishing system some time ago, and it works fine for publishing anything from that point on, but the required changes for the new pipeline were not backported, so historical versions are not being published

Ideally we backport the changes - im struggling to th

[2022-03-10 13:06] phlax commented on #20286
hmm, just realizing the changes we made were only to the `latest` publishing pipeline - so this should have just worked - maybe its because CI is failing and not reaching the required docs publishing stage - ill check CI...

[2022-03-10 13:32] phlax commented on #20286
the problem is the version numbers preventing publication

[code]

Given git tag does not match the VERSION file content:v1.20.2 vs v1.20.2-dev

[2022-03-10 14:00] mhyllander commented on #20179
@reysuela OK, I pushed the image on Docker Hub as `mhyllander/envoy:issue_20179`.

[2022-03-10 14:19] #15293 closed

[2022-03-10 15:22] #19855 closed

[2022-03-10 15:23] trstringer commented on #20280
@daixiang0 thank you for your message! Yes I would imagine they use the same TLS version, but the initiating Envoy proxy (the "client") sends the ClientHello message and requests to use which version of TLS? The max TLS version configured for the instance of Envoy? Or something else?

Thank you again for the assistance!

[2022-03-10 15:27] adisuissa commented on #20267
AFAICT It is not possible to change content-type of a local-reply at the moment.
@alyssawilk can you please double check my understanding here?

[2022-03-10 15:57] danzh2010 commented on #20275
Thanks for bringing up this issue! I think this is indeed a config sanitization issue rather than test config being non-sense. we need to guard Envoy from bad config input.

[2022-03-10 17:33] alyssawilk commented on #20275
+1, we shouldn't accept config which causes ENVOY_BUG later down the line.

[2022-03-10 17:48] ankursethi27 commented on #7964
Any updates on this feature request ?

[2022-03-10 19:22] #19655 closed

[2022-03-10 22:36] #19916 closed

[2022-03-11 01:33] TPB555 opened #20303 "Upstream connect error with TLS error: 33556294:system library:OPENSSL_internal:unknown error"
Hi

I have configured Envoy with one listener with TLS and one upstream cluster with TLS too. Envoy and the upstream cluster are running on the different machine. The lister and upstream cluster's TLS has been configured as below,

[code]

[code]

When trying to access the service on the upstream cluster via Envoy, the status code 503 is returned with this error message,

This is what I got from E

[2022-03-11 02:17] daixiang0 commented on #20287
503 means not available, I can not access the link, is it private? If so, you can not use this link since GH would deny your request when others visit a private repo.

[2022-03-11 03:06] Shikugawa commented on #19326
@bryanwux assigned.

[2022-03-11 03:11] phlax commented on #20287
wfm https://raw.githubusercontent.com/rahulanand16nov/wasm-shim/new-api/deploy/wasm_shim.wasm

might have been a transient github issue - worth trying again - and if it fails just confirming that you can access the url

[2022-03-11 03:29] LDHo opened #20304 "Question related to the behaviour of x-envoy-downstream-service-node"
*Title*: *Question related to the behaviour of x-envoy-downstream-service-node*

*Description*:
Hi, I am here to ask about the [x-envoy-downstream-service-node](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-envoy-downstream-service-node). So basically I was trying to allow the upstreams service recognising who is calling it which is exactly what x-envoy-dow

[2022-03-11 05:33] bryanwux commented on #19326
Thanks

[2022-03-11 05:42] bryanwux commented on #20303
I think there is a problem in making a TLS connection between Envoy and the upstream.  You would probably want to check if the certificates are expired or not.

[2022-03-11 06:22] TPB555 commented on #20303
Hi bryanwux

Just checked the certificate, it is valid and does not expired. When I access the service running on the upstream cluster directly, not via Envoy, the service is accessible and the valid response is returned.

One thing about the certificate, it has multiple DNS Names in SAN. But one DNS name in there match with the "address: upstream_server" defined for the cluster. Can that multiple

[2022-03-11 06:27] bryanwux commented on #20303
For logs you can try： `curl your IP:<your_admin_port>/logging?level=debug`

[2022-03-11 06:28] daixiang0 commented on #20287
Yep, now I can access it.

[2022-03-11 08:02] github-actions opened #20309 "Newer release available `bazel_skylib`: 1.2.1 (current: 1.1.1)"
Package Name: bazel_skylib@1.1.1
Current Version: 1.1.1@2021-09-27
Available Version: 1.2.1@2022-03-10
Upstream releases: https://github.com/bazelbuild/bazel-skylib/releases

[2022-03-11 08:02] #19476 closed

[2022-03-11 08:02] #19917 closed

[2022-03-11 08:02] github-actions[bot] opened #20310 "Newer release available `com_github_msgpack_msgpack_c`: cpp-4.1.1 (current: cpp-3.3.0)"
Package Name: com_github_msgpack_msgpack_c@3.3.0
Current Version: cpp-3.3.0@2020-06-05
Available Version: cpp-4.1.1@2022-03-09
Upstream releases: https://github.com/msgpack/msgpack-c/releases

[2022-03-11 08:02] #19923 closed

[2022-03-11 08:22] TPB555 commented on #20303
Add this to Envoy log, "%UPSTREAM_TRANSPORT_FAILURE_REASON%", but it always returns null even for the request with that 503 error.

[2022-03-11 08:57] lizan commented on #19554
Yes it is Apache license. the Jaeger opentracing C++ library is already deprecated so I don't think we want to invest more in this.

[2022-03-11 09:51] annagalingam commented on #4724
local index = 0
                  for chunk in handle:bodyChunks() do
                    local len = chunk:length()
                    local result = chunk:getBytes(index, len)
                    index = index + len

                    handle:logInfo(result)
                  end

[2022-03-11 10:06] kfaseela commented on #16503
@howardjohn shall we reopen the issue, to continue further discussion? @phlax would it be possible to get some help in triaging or assigning someone for the issue?

[2022-03-11 10:11] phlax commented on #16503
i can reopen and mark as help wanted

wrt assigning the issue - that would need to be someone who wants to take it on

it also has to be agreed that the change is desirable, and this is not really within my area/remit

[2022-03-11 10:16] kfaseela commented on #16503
thanks @phlax

[2022-03-11 10:23] ankatare commented on #19589
@stevenzzzz Thanks for input. let me repro it. will get back for any further doubts

[2022-03-11 10:24] ankatare commented on #19589
/asign

[2022-03-11 10:25] ankatare commented on #19589
/assign

[2022-03-11 10:57] cboitel opened #20311 "Experiencing upstream connection failures since v1.21.1"
*Title*: upstream connection failure since upgrade to v1.21.1

*Description*:

Was using v1.20.0 to connect to a series of upstream services using TLS as part of our non-regression tests. Upgrading to v1.21.1 lead to failing tests due to intermittent errors (not the same service...) all of which had in common
1. 503 error reported by envoy
2. access log reports response code details "upstream_rese

[2022-03-11 13:22] rsalmond opened #20313 "log immediate connect error details rather than just the error number"
*Title*: Pass the connection error number through `errorDetails()` before logging it in ClientConnectionImpl::connect()

*Description*:
While debugging an error exactly like [this one](https://github.com/envoyproxy/envoy/issues/20008) I had to work back through the code to realize that errno 99 == EADDRNOTAVAIL. It looks like the `errorDetails()` function makes these codes human readable. If so ma

[2022-03-11 15:13] AtLeastITry opened #20314 "[Question] Is it possible to run envoy in docker but proxy to a service running on windows host outside of docker"
*Title*:
Is it possible to proxy a request to a service running outside of docker

*Description*:
I'm attempting to communicate to a envoy proxy hosted in a docker container, but have it proxy a request to a service outside of docker.

For example imagine the following setup:
- Service A (UI client)
- Service B (Envoy proxy)
- Service C (API running locally on my windows machine via kestrel outsid

[2022-03-11 18:41] shashankram commented on #20113
@mattklein123, @lambdai were you able to repro this?

[2022-03-11 20:06] suniltheta commented on #20272
So here are my thoughts:

Currently the request headers are injected with the trace context only in the request path by calling func `injectContext` on the span object ref: [code](https://github.com/envoyproxy/envoy/blob/main/envoy/tracing/trace_driver.h#L54). In the response path we don't have to inject a new context again because we don't want to re-start the lifecycle of the span for a particul

[2022-03-11 20:10] lizan commented on #20229
It seems to be a Bazel issue. Though we don't support FreeBSD either.

[2022-03-11 20:54] cboitel commented on #20286
Looks like the v1.21.1 pipeline was ok regarding doc publishing but doc fails to be generated correctly

https://dev.azure.com/cncf/envoy/_build/results?buildId=102210&view=results

[2022-03-11 21:01] MarcinFalkowski commented on #20063
@zuercher
If I would implement this feature as proposed, is there a chance it will be merged?

[2022-03-11 21:02] phlax commented on #20286
the verify issue is separate - and has been addressed now i think (flake8 dep went stale)

the docs for the immediately prior patch version should be almost correct

we are discussing what to do regarding the failed builds and `-dev` suffix on the productions builds - specifically whether its worth creating a release to rectify

[2022-03-11 21:10] rgs1 commented on #20063
@MarcinFalkowski I'd be happy to review a PR if you want to sketch something up. We have something somewhat similar, but built on top of the subset lb with an internal filter:

https://medium.com/pinterest-engineering/simplifying-web-deploys-19244fe13737

I see how fallback metadata could make sense, I think.

cc: @fishcakez who might have some ideas too.

[2022-03-12 00:03] #18716 closed

[2022-03-12 08:04] github-actions[bot] opened #20317 "Newer release available `rules_python`: 0.7.0 (current: 0.6.0)"
Package Name: rules_python@0.6.0
Current Version: 0.6.0@2022-01-05
Available Version: 0.7.0@2022-03-11
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-03-12 10:29] UlasSAYGINIM commented on #20229
you have freebsd support in your bazel configuration and there is port on freebsd port tree. @lizan .
i will try sample java project to test your idea, if it is bazel issue, i will be sure but i think it is related to bazel configuration,
which envoy has. can you tell me, how can i config envoy bazel settings to set jdk 11 and toolchain of its own?

[2022-03-13 12:34] JayLog22 commented on #1963
Hi! I would love to help a bit with coverage, but getting access denied on the link above for coverage report. Is help still needed?

[2022-03-13 19:16] jdamata commented on #14013
@RafalJachimczyk I'm trying to achieve the same thing here. We're you able to figure this out?

[2022-03-13 22:32] railwaycat opened #20318 "build envoy from a machine without internet access"
Hi, we are trying to use Envoy in a project, it requires us to build Envoy from source code on a machine which has no access to internet. I would like to know if there is any way to do that? I searched the envoy document but didn't able to find a clue.

I tried the following:

1. Bazel is able to fetch all dependencies to local cache directory by `bazel fetch envoy`. But our download gateway is no

[2022-03-13 23:00] phlax commented on #20318
see here for some docs on querying/listing transitive dependencies:

https://bazel.build/docs/query-how-to

there are also separate dependencies defined for the api - in `api/bazel/repository_locations.bzl`

[2022-03-14 00:02] #19808 closed

[2022-03-14 00:47] moderation commented on #19781
Would be good to complete this and remove Alpine (and then follow up with Moonjit removal).

[2022-03-14 01:24] daixiang0 commented on #20314
(Not test) In Linux, I think it works as I can use host IP in container, in Win, not sure.

[2022-03-14 02:44] derekguo001 commented on #19217
Hi, @ggreenway @yanavlasov
Do you have any more concerns or comments about this?

[2022-03-14 03:23] cobb-tx opened #20319 "setting delayed close timer 200ms but still have default 1s"
*Title*: *setting delayed close timer but still have default 1s*

*Description*:

why？
![image](https://user-images.githubusercontent.com/33242758/158099287-9b5d2374-fd81-41ac-b323-34d9abdd7e94.png)

*version*:
istio：1.10.0
envoy：1.18.3

[2022-03-14 03:23] cobb-tx opened #20320 "setting delayed close timer 200ms but still have default 1s"
*Title*: *setting delayed close timer but still have default 1s*

*Description*:

why？
![image](https://user-images.githubusercontent.com/33242758/158099287-9b5d2374-fd81-41ac-b323-34d9abdd7e94.png)

*version*:
istio：1.10.0
envoy：1.18.3

[2022-03-14 03:23] #20320 closed

[2022-03-14 06:43] daixiang0 commented on #20313
/assign

[2022-03-14 06:50] daixiang0 commented on #20303
You need to set log level as trace to get details.

[2022-03-14 08:13] daixiang0 commented on #20319
Look at the following code:
https://github.com/envoyproxy/envoy/blob/main/source/common/http/conn_manager_impl.cc#L148-L154

Do you enable maxConnectionDuration?

[2022-03-14 08:20] rahulanand16nov commented on #20287
The issue is still there, and I cannot find out the reason behind it. I assume it's related to TLS not being configured correctly.

Following is the cluster config:
[code]

[2022-03-14 08:42] phlax commented on #20287
i havent used uri based config before - so i cant comment directly on your config

that said, i reckon you are probably correct that the missing tls config is preventing it from working

take a look at the configuration examples in the `tls` sandbox - for example here:

https://github.com/envoyproxy/envoy/blob/3c6b2fd2d21974b39715b2fcd5c871133962e681/examples/tls/envoy-http-https.yaml#L28-L44

[2022-03-14 09:08] zhxie opened #20324 "registry: templated factory registrations inheritance"
*Title*: registry: templated factory registrations inheritance

*Description*:
Currently, factory registrations for base class cannot be used by their derivations. For example, an input `Input` registered for `BaseClass` cannot be created from a factory of `DerivedClass`. We do not have any precedence for these interactions with the existing extension registries, so it will be better if we can com

[2022-03-14 09:47] doverk96 opened #20325 "Istio not giving metrics like istio_requests"
Hey,
I have Istiod set in my k8s cluster, tried running httpbin sample application and then tried to manual inject envoy sidecar using command Kubectl apply -f <(istioctl Kube-inject -f httpbin.yaml).
It has started emitting metrics but am not able to get metrics like requests total.
My objective is to get requests duration, api latency

[2022-03-14 11:12] rahulanand16nov commented on #14930
The problem is still producible with the 1.21.2-dev release.

[2022-03-14 13:06] phlax opened #20329 "CodeQL is broken (at least for dependabot PRs)"
### description

dependabot PRs apear to be failing CodeQL due to insufficient privileges:

[code]

https://github.com/envoyproxy/envoy/runs/5536906739?check_suite_focus=true#step:5:54

[2022-03-14 13:56] phlax commented on #19781
so alpine status is that its removed (at least the envoy alpine image) from any usage in the repo

re the dockerhub message - i dont have permissions to update this directly (cc @lizan)

im happy to close out this bug, as there is a more general issue with metadata on dockerhub (#19784 ) which this could be handled as part of

[2022-03-14 14:37] AtLeastITry commented on #20314
I did try running the service directly in WSL (outside of docker) and then point to the WSL host IP in the envoy config but that still didn’t work. Maybe it’s just an unsupported scenario?

[2022-03-14 14:40] phlax commented on #20314
no idea about windows im afraid, but i would suggest that this comes down to your docker networking config (see https://docs.docker.com/network/) - which can be configured in many different ways

[2022-03-14 15:26] tommorvolloriddle commented on #20325
Hi Ronak
I am a beginner and trying to setup Kubernetes cluster in hybrid mode.
I have a Linux master node and windows worker node with Istio. I want to inject istio-proxy side car inside windows application pod.
Could you please help me with this.
TIA.

[2022-03-14 15:37] doverk96 commented on #20325
Hey, I simply used istioctl kube-inject command, available on istio documentation.
https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/#manual-sidecar-injection

[2022-03-14 16:04] ggreenway opened #20331 "stats_integration_test is flaky"
It appears the memory calculation is not getting consistent results anymore. Two recent failures:

[code]

[code]

[2022-03-14 16:04] ggreenway commented on #20331
cc @jmarantz

[2022-03-14 16:07] jmarantz commented on #20331
This is expected actually. We are not doing EQ comparisons against an expected byte-count at all in that test anymore because the underlying tcmalloc infrastructure appeared to become non-deterministic in that regard, so what happens over time is that we give a lower bound and over time people add more stats overhead per-cluster and we skate closer to that lime. Because we no longer can do EQ comp

[2022-03-14 16:12] keith commented on #4159
It turns out if you disable wasm you should avoid all the issues with LTO, and produce an envoy binary with LTO successfully.

As far as envoy-mobile you can also use LTO for iOS / Android by passing `--copt=-flto=thin --linkopt=-flto=thin` (currently the `thin_lto` bazel feature isn't supported on these platforms). Android has an issue combining LTO with `-Osize` and in my tests `-Osize` is bette

[2022-03-14 16:21] kyessenov commented on #14930
@rahulanand16nov do you have a stack trace or reproducer?

[2022-03-14 16:46] ggreenway commented on #20325
@doverk96 this seems like more of an istio than an envoy question. I suggest asking over there.

[2022-03-14 16:46] #20325 closed

[2022-03-14 16:50] ggreenway commented on #20319
@cobb-tx can you post your full envoy configuration?

Based on what you posted, my best guess is that you have two filter chains, and only set this timeout on one of them. But I can't tell without more data.

[2022-03-14 16:57] moderation commented on #4159
With @keith 's help I'm compiling on RBE with WASM disabled with the following added to `~/.bazelrc`. I couldn't get this to work on M1 MacOS or aarch64 Raspberry Pi

[code]

[2022-03-14 17:09] keith commented on #4159
I've been testing on my M1 machine as with the manual flags instead of the feature, what errors are you seeing?

[2022-03-14 17:15] moderation commented on #4159
Sorry, my M1 does have the updated `~/.bazelrc` flags and is working

[2022-03-14 17:29] ggreenway commented on #20288
cc skywalking extension owners @wbpcode @dio @lizan @Shikugawa

[2022-03-14 17:50] mattklein123 commented on #1963
https://storage.googleapis.com/envoy-postsubmit/main/coverage/index.html should be the working URL and I think it's wide open.

[2022-03-14 17:55] rahulanand16nov commented on #14930
@kyessenov Sorry for the noise but for some reason it's working now even though it was reproducible when I recreated the whole cluster previously. Very weird.

[2022-03-14 17:56] mattklein123 commented on #19781
Yeah let's call this complete and we can track other improvements in different issues. Thank you all!

[2022-03-14 17:56] #19781 closed

[2022-03-14 18:13] railwaycat commented on #20318
Thanks @phlax! I haven't try `bazel query` command, will play with it!

[2022-03-14 18:57] stevenzzzz commented on #19858
/assign stevenzzzz

[2022-03-14 18:59] stevenzzzz commented on #19858
/nostablebot

[2022-03-14 19:00] lambdai opened #20335 "Consume bootstrap_extension in config_test"
im wondering if its possible that config_test cant handle `bootstrap_extension` ?

i can see one of the example yaml files in the docs has a `layered_runtime` but i dont see any with `bootstrap_extension` so im wondering if that is the culprit

_Originally posted by @phlax in https://github.com/envoyproxy/envoy/pull/19467#discussion_r824343681_

[2022-03-14 19:00] PiotrSikora commented on #20287
1) As mentioned on Slack a few days ago, you're connecting to port 443, but not configuring TLS transport socket. You need to add this to the cluster configuration:
[code]

2) The cluster's `address` in your config is wrong. It's set to `"raw.githubusercontent.com,"` (notice the trailing comma), which leads to DNS resolution failures (`dns resolution for raw.githubusercontent.com, failed with c-ar

[2022-03-14 20:11] mattklein123 commented on #20272
In general, it not a requirement of some (most?) tracing systems for responses to be annotated with a header. Spans are opened on the request path and then finalized at some later time. Each hop owns its owned span start/stop logic, so nothing has to be returned to the previous hop to make this happen.

I'm not sure if this can be done generically for all tracers, but it seems reasonable to me to

[2022-03-14 21:15] jmarantz commented on #20331
Looks like @alyssawilk did that already; I just approved.

I am thinking we should put in there a more deterministic exact test just measuring the # of each sort of stats that are instantiated, so we can know more precisely where the bloat is coming from. I'll look at doing that.

[2022-03-14 21:22] #18322 closed

[2022-03-14 21:22] #19439 closed

[2022-03-14 23:21] PiotrSikora commented on #4159
What's the issue with Wasm? "full" LTO (`--copt=-flto` `--linkopt=-flto`) builds fine for me, and Wasm tests are passing.

[2022-03-14 23:39] keith commented on #4159
I believe this library is only enabled with wasm?

[code]

Some more convo about this: https://envoyproxy.slack.com/archives/C78HA81DH/p1646697338997329?thread_ts=1646697267.395829&cid=C78HA81DH

[2022-03-14 23:41] #20331 closed

[2022-03-15 00:02] jmarantz opened #20341 "stats: create integration subtest to capture # of counters and gauges so we can track their increase"
test/integration/stats_integration_test.cc was previously able to detect incremental increases in per-cluster memory use, but this capability was lost when tcmalloc stopped reporting a deterministic number of bytes allocated >1 year ago. Since then we can only set approximate thresholds, and can't flag PRs that increase per-cluster stat overhead to evaluate whether the increased memory usage bring

[2022-03-15 00:03] jmarantz commented on #20341
@ggreenway @alyssawilk here's an outline of my proposed solution to the test flakes issue @alyssawilk fixed in #20338

[2022-03-15 01:11] wbpcode commented on #20288
Thanks, we will check it.

[2022-03-15 01:39] zirain commented on #20249
@daixiang0 can you help to change labels to the right place? I think it should be ratelimit or something else.

[2022-03-15 02:11] daixiang0 commented on #20249
Seems I do not have permission :(

[2022-03-15 02:18] PiotrSikora commented on #4159
`envoy-static.lto` suggests that you might be doing something else than simply adding `--copt=-flto` `--linkopt=-flto`?

LTO build works fine for me on `origin/main` with both `libstdc++` and `libc++` using Clang 13.0.1:
[code]
[code]

As for `com_google_cel_cpp` - it's used in Wasm, but not only there, so blaming this on Wasm might not be 100% accurate:
[code]
[code]

[2022-03-15 02:19] wbpcode commented on #20288
Here is minor bug. We will fix it.

[2022-03-15 02:35] daixiang0 commented on #20249
@adisuissa Thanks for your help.

[2022-03-15 03:09] cobb-tx commented on #20319
[code]

[2022-03-15 03:12] cobb-tx commented on #20319
@daixiang0  maybe not enable maxConnectionDuration

![image](https://user-images.githubusercontent.com/33242758/158298512-6efde4d1-772b-4b43-badb-89d53b4b45b2.png)

[2022-03-15 05:48] wbpcode opened #20344 "dubbo rds for dubbo proxy"
*Title*: *dubbo rds for dubbo proxy*

Dynamic routes is importatant feature for proxy. In the #19982, @tkovacs-2 added rds support for the thrift proxy and provides **template codes for rds.**
Then, we can try to add dubbo rds to Envoy just by adding little codes.

[optional *Relevant Links*:]

[2022-03-15 06:59] two10 commented on #14550
any udpate on this , anyone pursuing this

[2022-03-15 08:00] rahulanand16nov commented on #20287
Thanks, @PiotrSikora!

That's embarrassing, so much pain just because of a trailing comma. Regardless, Error still remains:

[code]

I am suspect the docker network issue this time around.

[2022-03-15 08:09] PiotrSikora commented on #20287
[code]
It looks like failure to connect over IPv6. Try adding `dns_lookup_family: v4_only` to the cluster configuration.

[2022-03-15 08:09] LDHo commented on #20304
Hi @ggreenway, thanks for replying. Just wondering would u mind give a bit more insight on why the downstream will always be set to upstream itself. Because from my perspective, that header served as the purpose of identifying the downstream right? So if it is set to the upstream, then how could we still able to identify the proper downstream ya.

We did find other solution though which is to make

[2022-03-15 08:45] hobbytp commented on #9300
istio update it here: https://github.com/istio/istio/pull/37540

[2022-03-15 10:00] #20329 closed

[2022-03-15 13:37] alyssawilk commented on #20341
I don't understand the value of having a test which fails every time we add a stat.  Can't we track the increase in the number of stats just by looking at the files where they're added?

[2022-03-15 13:41] jmarantz commented on #20341
They can be added in a number of places, so it might be hard to (say) have a format-check that scans source files. Adding individual stats is never a problem; the issue is adding stats that will be replicated per cluster or other high-cardinality config.

Having the expected-count change in the PR has the value that it triggers us to question whether the value the stat adds is worth the permanent

[2022-03-15 14:09] #19332 closed

[2022-03-15 14:36] moderation commented on #4159
What is the difference between @keith 's

[code]
and @PiotrSikora 's
[code]

[2022-03-15 14:39] adershrp opened #20346 "Does envoy api version v1 or v2 support OCSP stapling?"

[2022-03-15 14:47] chandan-prakash commented on #3887
Can you please share the config.yaml for reference. I am not able to achieve this

[2022-03-15 14:48] alyssawilk commented on #19332
Sorry about that, reopened

[2022-03-15 14:55] rahulanand16nov commented on #20287
It works now!

For friends from the future, here is my final config:
[code]

@PiotrSikora @phlax @ggreenway @daixiang0 You guys are the best! closing-issue-dopamine-hit is now available :)

[2022-03-15 15:07] #19725 closed

[2022-03-15 15:10] #20287 closed

[2022-03-15 17:25] AdiJohn opened #20352 "Preprocess `:path` header to avoid repeatedly splitting the header for route picking."
Route matching is performed on each route in a virtual host (linearly until the matched route is found) and each routing matching will perform path matching once. When path matching is performed, it will try to split `:path` header into front part and back part (query param and/or fragment)](https://github.com/envoyproxy/envoy/blob/266c9fa51b0d1dbce746abda6c1b47b3ca19c3cb/source/common/common/matc

[2022-03-15 18:06] AdiJohn commented on #20352
@yanavlasov

[2022-03-15 18:59] ggreenway commented on #18715
Sorry, I'm late to the party on this.

I think this MUST be configurable, and possibly should be disabled by default. Lots of http APIs mis-use verbs; there should be a way to make it safe in those situations.

[2022-03-15 19:43] gschier opened #20355 "Envoy CDS update issues when using stats reject_all"
When using the following config to disable stats, clusters get configured properly on initial boot and the first time they're changed, but any additional updates never occur.

[code]

When the above config is removed, everything returns to normal. Is there some sort of stat, similar to https://github.com/envoyproxy/envoy/issues/8473, that is required for cluster update to happen? I'm not using hea

[2022-03-15 20:36] jmarantz commented on #20355
reject-all is really not useable IMO. See discussion in https://github.com/envoyproxy/envoy/issues/14610 and proposal in https://docs.google.com/document/d/1CnyeIi5hMBqXZRKm-0_yW3yy69HM80BHg-EGwkJb-qw/edit

[2022-03-15 20:37] ggreenway commented on #20311
As you've pointed out, it seems this is the change that's resulting in your timeouts.

Does this delay happen for every connection, or only sometimes.

Can you enable trace-level logging and post the logs for one connection?

[2022-03-15 20:39] ggreenway commented on #18510
The BoringSSL version was recently updated in Envoy, and I believe the new version should work for this case. Can someone validate against main?

[2022-03-15 20:52] stevenzzzz commented on #20352
/cc stevenzzzz

[2022-03-15 21:27] gschier commented on #20355
Thanks for the reply, and good to know I'm not crazy. I've switched to using `exclusion_list` with a prefix defined to exclude all my internal resources.

[2022-03-15 23:01] ggreenway commented on #20280
The maximum value that both sides support will be used. If the two sides don't share any common versions (one side is TLS1.3 only, other side is TLS1.2 only), the handshake will fail and they won't be able to communicate.

[2022-03-15 23:02] RyanTheOptimist opened #20360 "verify_examples is broken on v1.18"
verify_examples for cache and dynamic-config-cp are both broken on v1.18. I tried to cargo-cult my way around these issues in #20223 but wasn't able to get it across the finish line.

https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/103180/logs/249

[2022-03-15 23:03] RyanTheOptimist commented on #20360
@oschaaf can you take a look at this with your Release Manager hat on?

[2022-03-15 23:49] trstringer commented on #20280
Great thank you for the clarification!

[2022-03-15 23:49] #20280 closed

[2022-03-15 23:55] RyanTheOptimist commented on #18715
Can you clarify what you'd like disabled by default? Upstream HTTP/3 0-RTT completely?  Upstream HTTP/3 0-RTT being restricted to only "safe" methods? Or maybe said differently, what config options would you like to see for this?

[2022-03-16 00:03] ggreenway commented on #18715
I think the config option should probably be a list of allowable 0-rtt http verbs.

I'm unsure what the default should be. Maybe it should be an empty set, maybe it should be GET, HEAD, OPTIONS, and TRACE.

I honestly don't feel too strongly about the default, as long as their's an escape hatch to turn it off if it is problematic for a specific installation. There's a tradeoff between performant-b

[2022-03-16 01:57] htuch commented on #20212
I agree the config NACK semantics make sense here. I'd like to check with @fuqianggao that this won't cause us any trouble (or maybe provide a heads up that we need to adapt to this style). The main place things like this can become a problem is when the xDS server binary has RTDS baked in and you need to carefully coordinate rollouts/rollbacks.

[2022-03-16 02:03] zhxie opened #20362 "buffer: memory copy hardware offloading"
*Title*: buffer: memcpy hardware offloading

*Description*:
We are seeking opportunity to accelerate memory copy by hardware offloading. In our early PoCs, we found that hardware offloading of memory copy in some case with big size data movement (e.g., TLS) would bring throughput improvement and latency reduction. We would be glad if we can introduce the method to Envoy to improve the performance.

[2022-03-16 02:17] daixiang0 commented on #20352
When config updates, pre-process header would bring some issues like race?

[2022-03-16 02:22] daixiang0 commented on #20346
Now we use v3 API, and the v2 API is depredated, why do you still want to use v1?

[2022-03-16 02:45] #20313 closed

[2022-03-16 03:43] adershrp commented on #20346
our existing solution is based on v1 api, and want to introduce ocsp support in that.

[2022-03-16 04:11] fuqianggao commented on #20212
This would be problematic for control plane that supports multiple Envoy versions.  "this means that Envoy A may run with RTDS envoy.reloadable_feature.foo and Envoy B built 3 months later will reject that config." -> this will cause issue for Envoy B, unless control plane knows Envoy B doesn't support envoy.reloadable_feature.foo and exclude it from RTDS, which needs minor versioning support to b

[2022-03-16 05:02] Ben-Mark opened #20363 "How does the proxy handles concurrency"
How is Envoy handling http header propagation with concurrent connections via the inbound and the outbound iptables ?

In depth:
As far as I understand the documentation, envoy has an inbound and outbound interceptors from the application container
Is it blindly propagating the inbound headers to the outbound headers?

is envoy dependent on a client-application to have tracing installed ?   (zipki

[2022-03-16 05:13] wbpcode commented on #20362
will this memcpy hardware offloading brings additional overhead for the fragmented memory copy?

[2022-03-16 05:31] AdiJohn commented on #20352
Interesting. I believe the request headers (including the `:path` header) are parsed and stored in RequestHeaderMap once per stream and configs for that stream remain the same for the life of that stream? Why would config update matter? Can you elaborate?

[2022-03-16 05:34] zhxie commented on #20362
We can add some if else branches to only offload large enough memcpy to the hardware in our memory copy provider.

[2022-03-16 06:30] wbpcode commented on #20362
The copy operation may be very frequent. While one-time if/else is very cheap, frequent if/else comes with some overhead.

[2022-03-16 06:34] wbpcode commented on #20362
If there are relevant benchmarks that prove that this work can indeed improve performance.
Then my suggestion is to provide some new buffer API to handle hardware offloading. Users can optionally use these APIs (such as in TLS).

[2022-03-16 06:39] zhxie commented on #20362
But in that way, codes in existing extensions have to be changed. And I think it is not a common way.

[2022-03-16 06:46] daixiang0 commented on #20362
New buffer API is easy but brings more cost for users due to code changes. If Envoy support extend buffer API, users can easily get its benefit, what users only need to do is change the config. It is hard but worth doing I think.

[2022-03-16 06:49] daixiang0 commented on #20352
If so, that is not a problem.

[2022-03-16 08:23] cboitel commented on #20303
looks like it is related to https://github.com/envoyproxy/envoy/issues/20311

[2022-03-16 10:40] #19673 closed

[2022-03-16 11:53] phlax opened #20366 "Sandbox examples are pinned to `:latest` which can break on previous versions"
### description

Currently all of the sandbox examples pin to the `:latest` envoy container

When the API or configuration changes these examples can break

For testing against current `HEAD` we probably want it set to latest, so the only real way i can see to resolve this is by pinning the examples to the correct images in the `release/vX` branches

[2022-03-16 11:53] phlax commented on #20366
cc @RyanTheOptimist

[2022-03-16 12:01] #19825 closed

[2022-03-16 12:03] phlax commented on #19842
this has now been implemented

[2022-03-16 12:03] #19842 closed

[2022-03-16 12:03] phlax commented on #19799
this was ~resolved by updating the python version

[2022-03-16 12:03] #19799 closed

[2022-03-16 12:17] alyssawilk commented on #20212
Right, but folks really shouldn't be setting any of those guards without notifying us, which pushes back the deprecation window.  I can leave them as envoy bugs rather than fatal but that's going to lead to unexpected data plane changes which IMO is significantly more dangerous.  Can we just explicitly comment somewhere that those specific runtime guards are ephemeral and not subject to the 1y pol

[2022-03-16 12:20] phlax commented on #20366
trying to think of a way we can do this dynamically so it always justworks with the correct version

its not trivial as we need to know which (release) branch we are on and/or what the current dev HEAD is

[2022-03-16 12:26] phlax commented on #20366
following my own tail a bit here

we tried to address this previously by dumping the just-built container in CI and tagging it as latest - it may be that this problem is only a local one, as iirc we backported the fix (maybe not, i will check further)

if that is the case then there is another issue being masked - experimenting further

[2022-03-16 12:37] jmarantz commented on #19948
instead of PartialMatch could you use FullMatch, but modify the pattern so you don't anchor on the beginning/end? Sorry this may be a naive question. E.g. this test fragment works for me:
[code]

[2022-03-16 12:41] #19861 closed

[2022-03-16 14:35] #20198 closed

[2022-03-16 14:39] #19717 closed

[2022-03-16 14:58] UlasSAYGINIM commented on #20229
i think it is related to changes of bazel 5.0.0 , https://github.com/bazelbuild/bazel/issues/7849
@lizan can i ask your opinion? because it is related to freebsd issue only.

[2022-03-16 16:01] keith commented on #4159
I didn't even try full LTO in general, so maybe that could be the difference in the outputs? But the bazel thin_lto feature does what I assume is the most optimized version of LTO for distributed builds https://github.com/bazelbuild/bazel/blob/ccf41d94f4a4179641ff4296e0845c70a6bc4c5f/tools/cpp/unix_cc_toolchain_config.bzl#L1123-L1184

[2022-03-16 16:03] juchaosong opened #20373 "What does requested_server_name mean in access log?"
*Title*: *What does requested_server_name mean in access log?*

*Description*:

[code]

[optional *Relevant Links*:]

[2022-03-16 16:10] #20317 closed

[2022-03-16 16:15] mattklein123 commented on #4159
FWIW the reason I had suggested thin LTO is I assumed that we would have build failures trying to do full LTO given our size, but that was just speculation.

[2022-03-16 17:02] ggreenway commented on #20373
Most commonly, requested_server_name is the value in TLS server-name-indication. But if you're not using TLS, other transport protocols could set this field from an analogous field.

[2022-03-16 17:47] phlax commented on #20366
closing this out - the setup is not ideal for local testing - but it is setup for ci build

the other issues are unrelated and are i think actual issues

[2022-03-16 17:47] #20366 closed

[2022-03-16 18:46] #20210 closed

[2022-03-16 18:47] ggreenway commented on #20362
Can you elaborate on what type of hardware offload you're using? For the types of solutions I'm imagining, you would send a work-request to memcpy to the hardware, go away and do something else, then come back when the hardware has said it is finished. If that's the case, it could be very disruptive to the codebase because many common operations would become asynchronous, and I'm skeptical that th

[2022-03-16 19:34] stevenctl opened #20378 "TcpProxy improperly sets `:protocol=bytestream` for HTTP2"
**TcpProxy improperly sets `:protocol=bytestream` for HTTP2**:  When using `TunnelingConfig` for an HTTP/2 tunnel, it send an out-of-spec psuedo header.

*Description*:

https://github.com/envoyproxy/envoy/blob/main/source/common/tcp_proxy/upstream.cc#L282-L285

Envoy will always set `:protocol`, but it's not part of the HTTP/2 spec:

* https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.3

[2022-03-16 19:35] stevenctl commented on #20378
cc @lambdai

[2022-03-16 19:39] kyessenov commented on #20324
Another instance where factories might need to be smarter: custom tree matchers are specialized by `DataType` even though the matchers do not directly inspect the data. That means we have to register the same matcher for each possible `DataType`.

[2022-03-16 20:01] #19739 closed

[2022-03-16 20:01] #19765 closed

[2022-03-16 20:01] #19773 closed

[2022-03-16 20:02] alyssawilk opened #20379 "UDP proxying should track and decrement TTL"
When UDP proxying from A-B it's really unfortunate when bad or misconfigured hardware ends up routing your packets in a loop. Decrementing TTL means you don't end up with that loop being infinite and destroying your CPU.

useful kernel options:

setsockopt(fd, IPPROTO_IP, IP_RECVTTL, &get_ttl, sizeof(get_ttl));

setsockopt(fd, IPPROTO_IPV6, IPV6_RECVHOPLIMIT, &get_ttl,
                         siz

[2022-03-16 20:03] alyssawilk opened #20380 ""PROXY_PROTO" for QUIC"
It's nice to be able to L4 proxy QUIC without losing original client IP.
If you can send large packets, one solution is to prepend a proxy-proto style header from "maglev" style Enovy to L7 Envoy.

[2022-03-16 20:07] ggreenway commented on #20378
cc @alyssawilk

[2022-03-16 20:07] moderation commented on #4159
FWIW I tried the full RTO in the RBE clusters and it failed with what looked like a Clang 12.0.1 version error. If this is the case maybe we could bump RBE Clang to 13 (I think I've seen this discussed somewhere).

[2022-03-16 21:20] ggreenway opened #20382 "TSAN test flake in //test/integration:h1_capture_persistent_fuzz_test"
[code]

[2022-03-16 21:35] suniltheta commented on #20272
/assign suniltheta

[2022-03-16 21:52] lambdai commented on #20378
Thank @stevenctl for drafting this.

@alyssawilk
I would propose tcp_proxy tunnel doesn't set `:protocol` by default because tcp_proxy unlikely to proxy websocket

Also, if any protocol override is needed we can relax `headers_to_add` [here](https://github.com/envoyproxy/envoy/blob/main/api/envoy/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto#L84).

This relax aligns with other requiremen

[2022-03-16 21:57] stevenctl commented on #20378
Additional issue:

For HTTP **2** CONNECT [rfc7540 8.3](https://datatracker.ietf.org/doc/html/rfc7540#section-8.3):

   o  The ":scheme" and ":path" pseudo-header fields MUST be omitted.

[2022-03-16 22:01] rwaweber commented on #4455
Hey all, sorry to dust off an old issue!
I could be wrong, but it doesn't [look](https://www.envoyproxy.io/docs/envoy/v1.21.1/api-v3/config/rbac/v3/rbac.proto#envoy-v3-api-msg-config-rbac-v3-rbac) like this made it into the rbac filter. Given its been a few years, this very well may not be the best place to put this anymore, but I would love to be able to use this feature to be able to leverage th

[2022-03-16 22:05] lambdai commented on #20373
another view is that requested_server_name is per tls connection wide attribute and authority is per http request attribute

[2022-03-16 22:24] #19507 closed

[2022-03-16 23:24] lambdai commented on #20319
Do you have a full config dump through localhost:15000/config_dump ?

your EnvoyFilter seems applying delay close to all http  conn manager but I want to confirm at config_dump

[2022-03-16 23:42] lambdai commented on #19612
@jewertow is adding AutoSni as a new choice other than setting constant hostname, see below, while still restricting `headers_to_add` cannot have `:` prefixed headers.

Apart from this auto_sni, we should relax ":path"/":authority" for 2 reasons:

1. :authority rewrite can be extended to anything in stream_info, such as DYNAMIC_METADATA and FILTERSTATE
2. We are seeing picky server that doesn't li

[2022-03-17 00:19] technicianted opened #20384 "Release schedule for mutation_rules in ext_proc"
*Title*: *Release schedule for mutation_rules in ext_proc*

*Description*:
Support for `mutation_rules` has been merged in main branch by #19622 last January. What's the plan to be in a release branch?

[2022-03-17 01:37] wbpcode commented on #19900
closed by #20148

[2022-03-17 01:37] #19900 closed

[2022-03-17 01:48] wbpcode commented on #20384
We may create a new release version at 2022/04/15. Check https://github.com/envoyproxy/envoy/blob/main/RELEASES.md for more info.

[2022-03-17 02:02] wbpcode commented on #20318
The `bazel sync` is also a possible method. https://blog.bazel.build/2018/07/09/bazel-sync-and-resolved-file.html

[2022-03-17 02:36] #20384 closed

[2022-03-17 02:37] railwaycat commented on #20318
Thanks @wbpcode. I tried both `bazel fetch envoy` and `bazel sync` commands. My experience is:

- `bazel fetch envoy` finishes without any error, however the cached content is not enough for Envoy offline build, bazel still complains failure on download dependencies for example "zulu11.37.17-ca-jdk11.0.6-linux_x64.tar.gz"
- `bazel sync` finishes with some error output, but then Envoy **is** able t

[2022-03-17 02:52] wbpcode commented on #20318
As far as I know, here is no an official method to do this.
My own method as a reference:
- Get all the deps by the `bazel sync` and then download them.
- Create new build image based on the `envoyproxy/envoy-build-ubuntu:xxxxxxx` and downloaded deps. Set the `BAZEL_BUILD_EXTRA_OPTIONS` by the env variable.
- Use the new build image as my develop & build env.

[2022-03-17 03:30] railwaycat commented on #20318
I believe tried similar steps to yours @wbpcode but there is a gap for me between step 1 and step 2:

The content of deps cached by `bazel sync` are un-tarred, deps are extracted to each directories. I found them at `~/.cache/bazel/_bazel_xxx/<workspace hash>/external/`. But `--distdir` option asks for a directory with tarballs. I learned this from an open issue of bazel[^1].

Can I know more deta

[2022-03-17 03:45] kyessenov commented on #19274
Not stale.

On Wed, Mar 16, 2022 at 5:02 PM github-actions[bot] <
***@***.***> wrote:

[2022-03-17 03:57] railwaycat commented on #20318
I believe I found how to fill the gap:

1. Use `bazel sync --repository_cache=$HOME/foo` to specify a directory for cache. The structure of this directory will be like `$HOME/foo/content_addressable/sha256/<hash of each deps>/<renamed tarball>`.

2. Build with `bazel build envoy --distdir=$HOME/foo`.

Now the next step for me is how to make the first step through another gateway machine.

[2022-03-17 04:00] wbpcode commented on #20318
I download all the deps in the resolved file and compress it to a tar.

[2022-03-17 04:23] ryan-motive opened #20387 "Cannot connect to TLSV1.2 endpoint with Envoy proxy"
*Description*:
We are building a service that runs with Istio. We are seeing an issue where this service cannot complete the TLSv1.2 handshake with another service. This is what the handshake looks like:

No.	Time	Source	Destination	Protocol	Length	Info
625	8.220923	192.168.70.10	xxx.xx.xxx.xx	TCP	66	59450 → 443 [SYN] Seq=0 Win=64240 Len=0 MSS=1460 WS=256 SACK_PERM=1
660	8.432916	xxx.xx.xxx.xx	192

[2022-03-17 05:05] ankatare commented on #19069
@matiasrege Sorry for delay... please find my understanding below.
Seems no `CachedRoute` after change in header.. code snippet below. https://github.com/envoyproxy/envoy/blob/5c83001814cd9f57f2179f53940a806b82225e33/source/common/http/conn_manager_impl.cc#L1035-L1057
and that's why below code is not executed as normally
https://github.com/envoyproxy/envoy/blob/5c83001814cd9f57f2179f53940a806b8222

[2022-03-17 05:17] zuercher commented on #20063
My main concern is that it may become too complex to effectively reason about. But if you think you can come up with a manageable implementation I think it would be accepted.

[2022-03-17 05:39] LuyaoZhong commented on #18928
@lizan @ggreenway  could you help label this as "no statebot"
Previous design and PoC is mimicing certificate and doing TLS handshake with downstream before connecting upstream, it is possible to support the following workflow in Envoy?
1. downstream requires accessing some external websites like "https://www.google.com"
2. Envoy receive the CLIENT_HELLO but don't do handshake with downstream
3. E

[2022-03-17 07:19] spencercjh commented on #20373
We finally found that the problem was caused in this issue: https://github.com/istio/istio/issues/9429

[2022-03-17 07:26] #20373 closed

[2022-03-17 07:33] wbpcode opened #20389 "unified header formatter and substitution formatter"
*Title*: *unified header formatter and substitution formatter*

*Description*:

As the title, now the header formatter and substitution formatter provide not exactly the same command, can we try to unified them?

Related issue: #15036 #7213

[2022-03-17 08:06] PiotrSikora commented on #20378
I don't believe that your assesment is correct. The `:protocol` pseudo-header is what differentiates "extended" `CONNECT` from the "classic" version. Envoy is using the "extended" `CONNECT` method for proxying TCP over HTTP/2, so it's correctly using it in this context.

It looks that Go doesn't support the "extended" version, and since it's an extension of the HTTP/2 protocol, it should be negoti

[2022-03-17 08:23] clark1013 commented on #19948
@jmarantz Thanks for your advice. We will have a try. :smiley:

[2022-03-17 12:01] #19849 closed

[2022-03-17 12:01] #19856 closed

[2022-03-17 14:50] alyssawilk commented on #20382
@adisuissa can you assign this to whoever you think should own fuzz bugs nowadays?

[2022-03-17 15:38] ggreenway commented on #20362
Can you describe the hardware, and the interface to using it? At what size of a copy does it become more efficient to use this hardware than a normal cpu-based memcpy?

[2022-03-17 15:47] alyssawilk commented on #19612
we've been pretty strict about headers to add not including HTTP/2 "control" headers so folks vetting the control plane have clear knobs for setting host. I'd be mildly averse to doing that in one place and not others but cc @yanavlasov @htuch for thoughts

[2022-03-17 15:52] ggreenway commented on #18928
You could achieve this by writing a listener filter. I think you could put it in the listener filters after the existing tls inspector. At this point the SNI is known, so you could so whatever asynchronous work you need to do, and when it's finished, allow the filter chain to continue.

[2022-03-17 16:06] #19865 closed

[2022-03-17 16:13] gschier commented on #19946
Okay, just giving an update here. We were finally able to transition our Envoy instances over to a config with stats excluded for all our created resource (disabling all [caused issues](https://github.com/envoyproxy/envoy/issues/20355)). **Our time-to-live went from ~180s (blue) to ~15s (purple).**

<img width="784" alt="image" src="https://user-images.githubusercontent.com/587576/158844593-d10fbe

[2022-03-17 16:25] AdiJohn commented on #20352
/cc @dyfrgi

[2022-03-17 16:55] ryan-motive commented on #20387
In this case Envoy is the TLS client. We've found some documentation for the service/SDK we're using that it may be related to certificate checks failing. Not clear to me why Envoy would make a difference, though.

We've tried quite a few configurations, including trying to disable egress altogether. In any case the presence of Envoy seems to be the only common factor. Personally it really seems l

[2022-03-17 17:37] railwaycat commented on #20318
I thought I succeed the build by `--distdir` directory but it turns out might be the cache from bazel itself:(

Could you let me know how you download all the deps in resolved file? Is it by a bazel Starlark script or a single command? Sorry my bazel knowledge is limited..

[2022-03-17 18:01] ggreenway commented on #20387
There is one that could be related. See #18510 and evaluate if that applies to the TLS cert from the server or not.

[2022-03-17 18:05] cboitel commented on #20311
Envoy error log at trace level and tcpdump extract in text mode:
* full envoy [error.log](https://github.com/envoyproxy/envoy/files/8288655/error.log)
* full tcpdump as text [saved.txt](https://github.com/envoyproxy/envoy/files/8288662/saved.txt)

In these files:
* in error.log, C4 matches first HTTP request received by envoy and C5 matches connection to TLS enabled service to process this connect

[2022-03-17 18:33] ggreenway commented on #20311
It's possible this is the same as #19717. The fix for that was just merged. Can you test the latest from `main` to see if that fixes it?

[2022-03-17 20:36] lambdai commented on #18928
Reading the below, I think the domain name is captured by envoy via SNI? I want to add that the http host in plain text is also supported.

AFAIK there is not many envoy components you could you under the context of listener filter. But it's definitely possible.

With #19582, right? It seems a TLS transport socket need to generated on demand along with a mimic cert provider. That could be somethin

[2022-03-17 21:05] #17687 closed

[2022-03-17 21:12] #20284 closed

[2022-03-17 21:54] costinm commented on #20378
I believe there is an option to use POST ( for 'legacy' servers ) - and it may be safer to default to it, unless it is explicitly known that the other side supports extended connect.  POST will work with almost all http/2 servers, and has equivalent behavior (connect_config:   allow_post: true)

[2022-03-17 22:13] PiotrSikora commented on #20378
Right, bytes can be sent using `POST` (or even `GET`) method, but that requires prior knowledge.

[2022-03-18 00:06] lambdai commented on #20378
The upstream headers are prepared after the connection is established. Theoretically we can relies on the negotiated settings.

I am wondering if peeking the negotiated result is overkill.

[2022-03-18 00:20] lambdai commented on #16503
Would below extended field be good? There might be security concern but it's no worse than the existing `use_http_header`
CC @htuch
[code]

[2022-03-18 00:23] howardjohn commented on #16503
That would meet our needs for sure. We would set:

[code]

If it was not clear, we do not personally need `header_name`, although I certainly don't mind it being added

Will leave to others to answer if its good for other contexts :-)

[2022-03-18 00:29] #20288 closed

[2022-03-18 00:54] cpakulski commented on #20389
I can take this issue. Have been doing some prototyping to divide formatters into those which operate only on StreamInfo and those which need request and response headers and trailers.

[2022-03-18 01:03] wbpcode commented on #20389
Thanks. I would like to help review it.

[2022-03-18 03:55] daixiang0 commented on #19946
Good news!

[2022-03-18 03:58] daixiang0 commented on #18361
Is it solved by #18295?

[2022-03-18 04:07] htuch commented on #19612
I agree. The only reason I can think you might treat this differently is that in this case (I think) we're specifying the initial request as a client, rather than some filter randomly mutating in a HTTP filter pipeline. That said, I think it would be clearer to use explicit fields as needed for override and limit to only those that we have a use case for.

[2022-03-18 04:20] costinm commented on #20378
I don't know if 'POST requires prior knowledge' - it is the most boring POST request, all servers and clients are supposed to support this without any other special handshake. Using extended CONNECT does require knowing that the other side support the extension - POST doesn't since it's universally supported.

No doubt extended CONNECT is more fancy and likely better matching the use case - but wh

[2022-03-18 05:13] zhxie commented on #20362
We are going to use [Intel DSA](https://01.org/blogs/2019/introducing-intel-data-streaming-accelerator), which provides a sync blocking and async polling interface for memory copy offloading. [The high-level API](https://github.com/intel/DML/blob/5a2956362d7b1c65d8aee753938ae9bf5cf0b7fd/include/dml/hl/execute.hpp#L87) looks like `execute(const data_view, data_view)` which is similar to `memcpy(voi

[2022-03-18 06:46] gnblao opened #20407 "bug??"
https://github.com/envoyproxy/envoy/blob/52668550a903d528cb4f7ee2eb815e76e44363c5/envoy/registry/registry.h#L181

[2022-03-18 06:57] gnblao commented on #20407
I think so：
         static absl::flat_hash_map<std::string, Base*>  *factories；
         if (!factories)
              factories = new absl::flat_hash_map<std::string, Base*>;

[2022-03-18 08:17] AlexRoman commented on #20187
We are also seeing a similar memory leak. We use the same zipkin tracer configuration as in the OP. Under heavy load or after a long time the memory usage of envoy grows unbounded. With tracing disabled, envoy runs stable memory wise. I will try to get some dumps with a recent dev version.

[2022-03-18 11:40] robejfarr commented on #19535
Hi all, looks like there's been some great steps on the zig front on this issue and we've been having a look at zig to see if it can build Envoy for CentOS 7. Caveat we're still learning about C++ build chains and the tooling around it so we're beginners in this space.

We've installed zig on the latest Envoy ubuntu build container 18.04 and installed @PiotrSikora pull request https://github.com/e

[2022-03-18 12:28] KBaichoo commented on #20407
the local static declaration of factories in that function effectively only initializes it once. e.g. it's essentially the code you wrote.

[2022-03-18 12:28] #20407 closed

[2022-03-18 13:06] motiejus commented on #19535
The symbol doesn't seem to exist in glibc 2.17:

[code]

May I ask why you are linking against glibc that is almost 10 years old?

[2022-03-18 13:56] halfhiddencode opened #20411 "Envoy proxy throw invalid path error in docker swarm"
i have three node clusters one manager two workers i am trying to route the services which is running on swarm mode by envoy proxy. To do so i have to pass configuration file on envoy which is also running on swarm mode so i have run

`docker service create -d -p 8080:10000 --network=my-bridge --mount type=bind,src=/media/sf_envoy/envoy_proxy,dst=/etc/envoy/custom envoyproxy/envoy:v1.20-latest env

[2022-03-18 15:07] #20309 closed, assigned to nobody

[2022-03-18 15:27] theganyo opened #20413 "%RESPONSE_CODE_DETAILS% empty for response_headers_to_add"
*Description*:
When adding a response header with the value of `%RESPONSE_CODE_DETAILS%`, a normally completing request from upstream will contain no value instead of the expected `via_upstream` value. However, a similarly defined access_log entry will contain the correct `via_upstream` value.

I will attach a proposed PR that seems to solve the issue.

*Repro steps*:
Start Envoy with the followin

[2022-03-18 15:58] ides15 commented on #7380
@RocIngersol555 would you happen to remember what the issue here ended up being? I'm getting the same behavior with my extauth setup.

[2022-03-18 16:02] cboitel commented on #20311
I succesfully recompiled envoy: took some time and ressources...but was worth it.

Using the compiled binary, i can see our tests are now passing with connection_timeout set back to 0.1s. Looking$ at the tcpdump/... extracts, i can see now client hello triggering immediately as it was previously.

Will it be backported to v1.21.2 or will wait for upcoming v1.22.0 or both ? I believe this is a majo

[2022-03-18 16:06] #19472 closed

[2022-03-18 16:16] mattklein123 commented on #20311
Going to close this and we can track the backport status in the merged PR. Thank you!

[2022-03-18 16:16] #20311 closed

[2022-03-18 16:27] suniltheta commented on #20127
thanks @mattklein123 for merging the CR. I guess we can close this issue now.
Just curious if this should have been closed automatically from the merge, and if I didn't format my PR properly for this.

[2022-03-18 17:25] mattklein123 commented on #20127
You probably just didn't have "fixes <this issue>" is your PR description.

[2022-03-18 17:25] #20127 closed

[2022-03-18 17:47] suniltheta commented on #20127
I will make a note.

[2022-03-18 19:27] demandbase-gmavadiya opened #20417 "OOTB compression support for /stats/prometheus endpoint"
*Title*: *Compression support for /stats/prometheus endpoint *

*Description*:

[optional *Relevant Links*:]

[2022-03-18 20:23] mariusp opened #20420 "WeightedLeastRequest LB not fully respecting P2C"
*Title*: WeightedLeastRequest LB not fully respecting P2C  - question.

*Description*:
The WeightedLeastRequest load balance algorithm is not really respecting P2C algorithm. The implementation is selecting 2 (or more = choice_count) random choices, however they are not necessarily unique. This translates into the probability of sending traffic to a new host as follows:
Pb1 = (1 - pow(((N-1)/N),C)

[2022-03-18 21:54] mattklein123 commented on #20420
This is a known issue and has been discussed off and on over the years. There is no simple way to fix this. I think an attempt was made a while ago to do a full scan if the number of hosts is small enough, but I can't remember the details. There are performance vs. correctness tradeoffs and the algorithm definitely was not originally built for a very small number of hosts.

cc @antoniovicente @eur

[2022-03-18 22:45] ggreenway commented on #20417
cc @jmarantz who's been working on the stats endpoint infrastructure.

[2022-03-18 23:26] batistado opened #20425 "Envoy forward proxy - man in the middle with ssl termination"
Hi
I wanted to check if envoy supports Man in the middle with SSL termination as a forward proxy?
If so can you link me to any documentation or example config how to do it?

[2022-03-19 08:02] github-actions[bot] opened #20426 "Newer release available `com_github_grpc_grpc`: v1.45.0 (current: a3ae8e0)"
Package Name: com_github_grpc_grpc@a3ae8e00a2
Current Version: a3ae8e0@2021-06-07
Available Version: v1.45.0@2022-03-19
Upstream releases: https://github.com/grpc/grpc/releases

[2022-03-19 08:02] #19952 closed

[2022-03-19 08:02] github-actions[bot] opened #20427 "Newer release available `rules_rust`: 0.1.0 (current: 82b650d)"
Package Name: rules_rust@82b650d5d0
Current Version: 82b650d@2021-10-19
Available Version: 0.1.0@2022-03-18
Upstream releases: https://github.com/bazelbuild/rules_rust/releases

[2022-03-19 13:46] zirain commented on #20249
https://github.com/envoyproxy/envoy/pull/20321 is merged, closed.

[2022-03-19 13:46] #20249 closed

[2022-03-19 16:28] ns-asriram commented on #19895
I seem to be having a similar issue as @sseetharaman6 here. Only that I am trying to throttle requests based on PATH.

The URIs are in the form `/{id}/send` where I am looking to assign 'x' tokens for each such "id" PATH. Since the number of ids is huge and not static, it is not feasible to define descriptor entries for each PATH.

I have raised [#38008](https://github.com/istio/istio/issues/38008

[2022-03-19 18:12] phlax commented on #20360
not sure why this didnt close - but i think the issue is resolved

[2022-03-19 18:12] #20360 closed

[2022-03-20 00:02] #19798 closed

[2022-03-20 04:25] derekguo001 commented on #19217
We had some discussion about the SDS server in Istio community(https://github.com/istio/istio/issues/36296). There will be an HSM SDS Server which will be responsible for generating and signing the key pair. It's the same as we discussed earlier.

[2022-03-20 05:12] incfly commented on #8571
in case anyone is interested digging PRs, https://github.com/envoyproxy/envoy/pull/11268 is the original impl.

[2022-03-20 08:01] #19470 closed

[2022-03-20 08:02] github-actions[bot] opened #20429 "Newer release available `opentelemetry_proto`: v0.15.0 (current: v0.11.0)"
Package Name: opentelemetry_proto@0.11.0
Current Version: v0.11.0@2021-10-07
Available Version: v0.15.0@2022-03-19
Upstream releases: https://github.com/open-telemetry/opentelemetry-proto/releases

[2022-03-20 08:02] #20269 closed

[2022-03-20 08:45] tensorchen opened #20430 "How to implement http L7 protocol forwarding to tcp L4 private protocol"
The request processing process is like this:

**client --[ X over HTTP ]-->  Envoy --[ X over TCP]--> server**

I can't find the relevant reference examples in the filter list.

Can HCM only forward requests to HTTP upstream?

What should I do and which plugins to implement？

[2022-03-20 09:41] wbpcode commented on #20430
May be cluster filter or custom HTTP conn pool helps. 🤔

[2022-03-20 12:03] #19551 closed

[2022-03-20 17:52] htuch commented on #16503
I would suggest only including the support you need for your use case right now, but leave it in a `oneof` if you do anticipate future additions.

[2022-03-20 20:53] mariusp commented on #20420
Thank you for clarifications,
I have kind of a reverse problem where trying to reach 90% and my choice_count has to be huge more than 2*N(number of hosts). Will try to investigate some more on a possible solution.

Thank you, again!

[2022-03-21 01:06] daixiang0 commented on #20425
May be cluster filter or custom HTTP conn pool helps. 🤔

[2022-03-21 01:13] daixiang0 commented on #20411
Envoy needs config inside container, you can try mount only config and test.

[2022-03-21 01:52] jmarantz commented on #20417
Agreed; I'm not sure if there's anything that blocks setting up the compression filter in the chain with the admin filter, but I also haven't heard of people doing that before, as the admin filter may be special in the way it's configured, or whether code change might be required.

[2022-03-21 02:03] batistado commented on #20425
How? Care to elaborate?

[2022-03-21 02:42] daixiang0 commented on #20425
@soulxu maybe you know details.

[2022-03-21 02:57] soulxu commented on #20425
I guess this is what @LuyaoZhong trying to do here https://github.com/envoyproxy/envoy/issues/18928

@batistado ^ is that the requirement you asking for?

[2022-03-21 03:15] soulxu commented on #20425
@batistado not sure you are asking a normal tls termination or something like what @LuyaoZhong is doing here https://github.com/envoyproxy/envoy/issues/18928

[2022-03-21 03:16] demandbase-gmavadiya commented on #20417
@daixiang0 @jmarantz I have tried the `http_filter` option using `envoy.filters.http.compressor` but that is not compressing `/stats/prometheus` endpoint output.

[2022-03-21 05:53] halfhiddencode commented on #20411
@daixiang0  as you can see i have passed config file but it throw error `invalid config file`

[2022-03-21 08:03] github-actions[bot] opened #20431 "Newer release available `rules_python`: 0.8.0 (current: 0.7.0)"
Package Name: rules_python@0.7.0
Current Version: 0.7.0@2022-03-11
Available Version: 0.8.0@2022-03-20
Upstream releases: https://github.com/bazelbuild/rules_python/releases

[2022-03-21 08:34] LuyaoZhong commented on #18928
@ggreenway @lambdai
Will it cause two connections to upstream for one request? Since we need to connect upstream and get server certificate back first. And after the traffic is decrypted and goes though network filters, we connect upstream again to transfer traffic data. It is possible to reused the first connection?

Besides, #19582 is a extension in current TLS transport socket, if implementing

[2022-03-21 11:51] zirain opened #20433 "[ratelimit]RemoteAddressAction support CIDR format"
*Title*: *One line description*

RemoteAddressAction support CIDR format

*Description*:

https://github.com/envoyproxy/envoy/blob/5f8860ba5dbc96942de09b33bf8701e2046c9035/source/common/router/router_ratelimit.cc#L112

right now `RemoteAddressAction`  support ratelimit per IP(e.g. `192.10.0.1`), sometime we want limit requests per CIDR range(e.g. `192.10.0.0/16`) by adding config `prefixLen` like

[2022-03-21 13:27] phlax commented on #20433
cc @kyessenov

[2022-03-21 13:33] sircinek opened #20435 "ext_proc interaction with HCM and upstream cluster decision"
*Title*: *ext_proc http filter behavior with upstream route matching*

*Description*:
Hey team. Thank you for your awesome work on this piece of software.
I have a question. I am trying to do some custom blue/green (canary) routing based on L7 HTTP headers. I know that `ext_proc` http filter is in experimental mode, but I wanted to explore that option.

What I am trying to achieve.
[code]

I am us

[2022-03-21 15:31] Crazyigor1987 opened #20437 "How to rename invalid Client Header like "Transfer-Encoding: chunked, chunked""
Hi everyone,

we're moving our bare-metal services now to the cloud with Kubernetes and Istio as Servicemesh. We're facing the problem, that the embedded clients send us invalid requestheaders which envoy respond with "400 - Bad request". Because it is a discontinued product, we can no longer make adjustments to the client.

Scenario:
Client send a request with "Transfer-Encoding; chunked" through

[2022-03-21 16:47] ravenblackx opened #20438 "Connection event continues to propagate even if disconnected during one event"
If a connection event triggers the stream to disconnect, `ConnectionImplBase::raiseConnectionEvent` continues to call the sequence of 'connected' callbacks, even though the connection is no longer connected. There is [a TODO](https://github.com/envoyproxy/envoy/blob/79a2f0d909a8386e7c423e6a7334abd66bc89e38/source/common/conn_pool/conn_pool_base.cc#L501) about this.

This can cause a later 'connect

[2022-03-21 19:43] #19638 closed

[2022-03-21 19:57] alyssawilk opened #20444 "crash_integration_test timing out on coverage"
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/104233/logs/260
https://dev.azure.com/cncf/4684fb3d-0389-4e0b-8251-221942316e06/_apis/build/builds/104166/logs/267

[2022-03-21 19:57] alyssawilk commented on #20444
@KBaichoo git says you might have the most context - can you take a look?

[2022-03-21 20:23] KBaichoo commented on #20444
will take a look, is it timing out often enough that we should disable it under coverage for now?

[2022-03-21 22:45] linnea-s commented on #18510
I can confirm that it works in main. I downloaded the docker-distroless artifact from the last complete successful build and loaded it with "docker load" and added a new service to my test above `docker-compose.yml` which is the exact same except exposing envoy on port 10001. `curl http://localhost:10000` (1.21-latest) yields a CERTIFICATE_VERIFY_FAILED error. `curl http://localhost:10001` ([20220

[2022-03-22 01:43] pyrl247 commented on #20084
Sorry,I just noticed. I think see what the problem is.I will fix this today.

[2022-03-22 03:02] daixiang0 commented on #20433
It is a good enhancement I think.

[2022-03-22 03:11] daixiang0 commented on #20437
You can check [this](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto.html#routeconfiguration).

[2022-03-22 04:05] llu94 commented on #19881
I'm ready to start work on this. @pgeler can you elaborate more about your use case?

[2022-03-22 08:02] github-actions[bot] opened #20447 "Newer release available `com_github_bufbuild_buf`: v1.1.1 (current: v0.53.0)"
Package Name: com_github_bufbuild_buf@0.53.0
Current Version: v0.53.0@2021-08-25
Available Version: v1.1.1@2022-03-21
Upstream releases: https://github.com/bufbuild/buf/releases

[2022-03-22 08:02] #20177 closed

[2022-03-22 08:02] github-actions[bot] opened #20448 "Newer release available `io_bazel_rules_go`: v0.31.0 (current: v0.30.0)"
Package Name: io_bazel_rules_go@0.30.0
Current Version: v0.30.0@2022-01-24
Available Version: v0.31.0@2022-03-21
Upstream releases: https://github.com/bazelbuild/rules_go/releases

[2022-03-22 08:13] phlax commented on #20435
cc @pradeepcrao @gbrail

[2022-03-22 08:58] phlax commented on #20444
@KBaichoo looking through post submit logs it seems that its permafailing on integration tests but afaict not always the same ones

i can look further later today, but it seems like timeouts is the most likely cause, so im wondering if we can resolve by adjusting them

[2022-03-22 12:22] KBaichoo commented on #20444
Yea, I looked into it a bit more last night, I think we got "lucky" with it passing before from re-running the failing parts under coverage to eventually pass the entire test.

[code]
So that brings the runtime of it to ~ `455 * 16 = 7280` which under 2 shards isn't enough to not be timed out.
is running with shard by 16, I

[2022-03-22 13:11] derekguo001 commented on #19217
If there is no objection, we will proceed as we discussed.
Next we will make a detailed design proposal about HSM framework.
If anyone else is interested, let's do it together.

@ggreenway @yanavlasov WDYT?

[2022-03-22 13:29] LuyaoZhong commented on #20425
@batistado I think it is indeed what we are doing with #18928 . We have a workable [PR](https://github.com/envoyproxy/envoy/pull/19137) to mimic the server certificate, which might satisfy your requirement.

There are limitations if we don't have the real server cert as reference to mimic cert, for instance we will lose TLS extensions, etc. That's why we are discussing the new workflow on #18928.

[2022-03-22 14:01] #20444 closed

[2022-03-22 14:14] alyssawilk commented on #20430
HTTP is sent over TCP. Can you be a bit more clear about what you're looking for here? Are you looking for the body of the original request to be sent without the original request headers (CONNECT decapsulation)?

[2022-03-22 14:16] alyssawilk commented on #20437
@daixiang0 I don't think that link helps with letting Envoy process in invalid HTTP?

Are you getting the invalid data over plaintext?  Offhand you could write a network filter which replaced matching strings, or you could file a feature request to configure opt out of this validation (but you'd probably have to write it yourselves)

[2022-03-22 14:18] alyssawilk commented on #20131
cc @adisuissa for xDS as well

[2022-03-22 14:42] adisuissa commented on #20131
Seems that the issue is that `TtlManager` is deleted before the `ScopedTtlUpdate` is destroyed.
I'm assuming that the gRPC mux is deleted before the scoped object is destroyed.

@maksim-paskal I'm assuming you are using gRPC-based control-plane, but not ADS (feel free to correct me).
Are you using state-of-the-world or Incremental?
Is there anything else that you see happening (e.g., disconnects f

[2022-03-22 15:30] howardjohn opened #20458 "xds: crash in onDiscoveryResponse"
We experienced a crash in the XDS code path in our CI. Unfortunately we don't have a lot of debug info here (this is one of the few areas without core dumping support). Attached below are the logs

Envoy log: https://storage.googleapis.com/istio-prow/logs/integ-security_istio_postsubmit/1505969504671240192/artifacts/security-90e03050bd514c82bd47a1/TestReachability/_test_context/test-ns1-1-99926-st

[2022-03-22 15:37] wbpcode commented on #20430
I think he might be looking for some mechanism for protocol conversion. cc @tensorchen

[2022-03-22 16:00] phlax opened #20459 "Yapf formatter not uploading fix to artefacts"
### description

I need to confirm but reviewing a PR with a yapf fail, it seems as tho no fix/diff was uploaded as artefact

Parking this here while i investigate further

[2022-03-22 17:39] mattklein123 commented on #2500
This is being actively worked on. @krnowak can you make sure this issue gets closed when the on demand work is fully merged and documented? Thank you!

[2022-03-22 17:42] phlax opened #20464 "Add CI to ensure all `CODEOWNERS` are assignable"
### description

Currently not all CODEOWNERS are assignable - which means that when relevant PRs come up we are unable to assign reviews to the relevant people

This issue is being addressed manually but it would be useful to have CI to ensure that this is kept up to date

One implication here is that a senior maintainer will have to sign off (eg by adding assignable to the relevant dev) any new

[2022-03-22 17:42] phlax commented on #20464
cc @alyssawilk

[2022-03-22 17:53] danzh2010 commented on #18715
Making 0-RTT configurable is also discussed in https://github.com/envoyproxy/envoy/issues/19542, though it wasn't a priority in earlier discussion.  If we want users be able to opt out all HTTP/3 0-RTT requests now or some HTTP methods later, how about adding an enum config knob in router filter to have options: `NotAllowed` and `AllowedForSafeMethods` for now? One can always extends the option if

[2022-03-22 17:58] lambdai commented on #20458
I see onDiscoveryResponse is messing up the control_plane() field, I can give a quick fix.

But it's not clear to me if that is the root cause of the crash.

[2022-03-22 19:13] rgs1 commented on #10701
I think we should get started with option 4 (deprecate ttwitter and remove the abandoned tests), I am happy to drive. I pinged @mattklein123 offline to get a sense of whether other deployments are relying on ttwitter.

cc: @fishcakez @davinci26 @tkovacs-2 @caitong93

[2022-03-22 19:18] mattklein123 commented on #20438
I suspect here is recursion here. Basically someone gets onConnected() before the conn pool code, closes, the close event recurses, then we unwind, continue, and end up crashing. That's my guess at least. The fix for the TODO seems straightforward so let's try that.

[2022-03-22 19:38] lambdai commented on #20437
The error is reported in Envoy's h1 codec: https://github.com/envoyproxy/envoy/blob/main/source/common/http/http1/codec_impl.cc#L794
I think we had the discussion that Envoy should not to support this anti RFC case so I used to maintain a branch to buy the time for istio customer to migration

@Crazyigor1987 If you don't want to maintain your own envoy patch, perhaps you have to add a network filt

[2022-03-22 19:42] #9487 closed

[2022-03-22 19:42] #9488 closed

[2022-03-22 19:42] #9489 closed

[2022-03-22 19:42] #9490 closed

[2022-03-22 19:42] #9491 closed

[2022-03-22 19:42] #9492 closed

[2022-03-22 19:42] #9494 closed

[2022-03-22 19:43] mattklein123 commented on #1407
We are doing this, so closing.

[2022-03-22 19:43] #1407 closed

[2022-03-22 19:43] kyessenov commented on #20437
@alyssawilk With a new codec, could we run some filters on parsed but not yet checked HTTP requests? These filters could apply arbitrary sanitization rules.

[2022-03-22 19:44] mattklein123 commented on #7178
I think with various bazel rules updates this is working now for external deps. Closing. We can open new issues as needed.

[2022-03-22 19:44] #7178 closed

[2022-03-22 19:45] rgs1 opened #20466 "thrift: deprecate ttwitter"
As a follow-up to discussions in #10701, let's initiate the process to deprecate ttwitter support in Thrift Proxy. We believe that the protocol is not widely used and supporting it makes Thrift Proxy more complex. Plus, to test it we need to bring in twitter-commons which is deprecated and doesn't properly support Python3. So here's the proposed plan:

1) I'll send a PR with changelog entry to giv

[2022-03-22 19:45] mattklein123 commented on #7221
Closing this as won't fix. We don't have a ppc build, let alone FIPS for it.

[2022-03-22 19:45] #7221 closed

[2022-03-22 19:46] mattklein123 commented on #7903
I think this is largely fixed. If not we can track specific issues.

[2022-03-22 19:46] #7903 closed

[2022-03-22 19:46] #9397 closed

[2022-03-22 19:47] mattklein123 commented on #9953
I think @alyssawilk has been picking away at this. @alyssawilk are we done with this or is there more to do?

[2022-03-22 19:48] mattklein123 commented on #11202
@phlax has been moving everything to bazel so I think this is complete. Closing and we can track specific further issues.

[2022-03-22 19:48] #11202 closed

[2022-03-22 19:50] lambdai commented on #20430
The "X over HTTP" is a little bit ambiguous. If the payload is the http request body, http CONNECT handling is everything you need.

The the above http upgrade doc,
configs/terminate_http1_connect.yaml acts as the Envoy in your original topo.

BTW: if your client don't speak [XoverHTTP], you can also generate my described payload via `any tcp client` --[XoverTCP]--> `Envoy with encapsulate_in_http

[2022-03-22 19:51] mattklein123 commented on #20466
+1 thanks a ton @rgs1 for driving this.

[2022-03-22 19:51] mattklein123 commented on #13720
I think this is done.

[2022-03-22 19:51] #13720 closed

[2022-03-22 20:03] mattklein123 opened #20467 "Build/CI improvements brainstorm tracker"
We are seeing a lot of test flakes again which is a huge hindrance for developer productivity. This issue is for brainstorming various things that we might be able to build that would help us reduce CI time and reduce the number of reruns required for getting a successful test run. Once we do some brainstorming on high level ideas we can break out individual issues if we have people to work on the