[2017-11-09 14:24] alyssawilk commented on #1929
I was planning on picking it up next week but as I'm traveling I'm
realistically more likely to get something out for review the week
following.  If you think you could do some thing faster feel free to pick
it up - just let me know!

On Thu, Nov 9, 2017 at 9:20 AM, Suresh Kumar <notifications@github.com>
wrote:

[2017-11-09 14:48] moderation commented on #492
@mattklein123 I _think_ I want UDP -> TCP -> UDP. That would help us secure UDP traffic but I understand that may not be a mainstream use case.

[2017-11-09 14:54] hagbard5235 commented on #492
@moderation Why not IPSEC for your use case?

[2017-11-09 15:32] hagbard5235 commented on #492
@moderation Totally get wanting to avoid commercial implementations.  I was asking because it looks like you want to take a bunch of more or less IP traffic ( ICMP, UDP, etc) and simply get it onto an encrypted channel.  You can do that by essentially pulling it up into TCP/TLS... but if you are looking to apply encryption to L3... IPSEC might be a more natural solution.

[2017-11-09 16:03] htuch opened #2033 "Script to automate envoyproxy/data-plane-api SHA updates to envoyproxy/envoy"
Whenever `data-plane-api` is updated, we need to put in a commit to the main Envoy repo to update `envoy_api_deps()`. This is a bit of a futz, in particular when we move docs to `data-plane-api` (likely today/tomorrow). This could easily be automated away, by writing a script that automatically creates a PR in the main Envoy repo to do the SHA bump.

An example of how it could work would be to liv

[2017-11-09 16:14] mattklein123 commented on #2031
cc @objectiser @rnburn @tedsuo

[2017-11-09 16:29] jmarantz commented on #1854
Sorry for the delay -- had some other things going on, and needed to do a bit of learning to understand how to run integration tests.  Those exposed some other potentially noisy info logs, some of which were obvious and I fixed.  But in testlogs/test/integration/hotrestart_test/test.log I have a case I'm not sure how it's best to handle.

I have lots of log entries like this:

[2017-11-09 16:20:48

[2017-11-09 16:34] objectiser commented on #2031
There seems to be two parts to this request, (1) provide a concept like OpenTracing baggage for zipkin context propagation, and then (2) be able to record (selected) baggage items in the spans themselves.

I agree (2) can be useful in some cases.

The problem is that zipkin doesn't support baggage. Although as you suggest, we could add it to the `ot-span-context` header property, if the service wa

[2017-11-09 16:35] mattklein123 commented on #1854
@jmarantz yeah I would just move all those to debug.

[2017-11-09 20:09] danielhochman commented on #2021
Currently it's not configurable except with a [runtime value](https://www.envoyproxy.io/envoy/configuration/cluster_manager/cluster_runtime.html?highlight=ring_hash#ring-hash-load-balancing) that globally affects all `ring_hash_lb` clusters.

It will be fixed shortly. The configuration was added to the data plane in https://github.com/envoyproxy/data-plane-api/pull/202. Now I need to wire it up in

[2017-11-09 20:30] jmarantz commented on #1854
Got rid of those, but these still remain.   From running all integration tests, I then ran this to look at log noise:
[code]
Basically this pipe shows me the sources of messages that come out most frequently in the integration tests.  Full results below.  I think these seem reasonable but happy to trim further.   The remaining high frequency messages all seem to be per server startup or config, no

[2017-11-09 21:17] mattklein123 commented on #1854
@jmarantz good stuff. I would say at this point just post a PR. We can review there / people can run locally if they want to check it out?

[2017-11-09 22:04] dudeche commented on #1997
I suspect this is due to schema changes.  @mattklein123 it looks like v1.4.0 has "type" fields in the schema?  Anyway, I just ran into this, but not using a container.  We're running envoy natively on amazon linux.  I had to make sure I grabbed configs from the v1.4.0 tag (the same tag we built our RPM from).

[2017-11-09 22:09] dudeche commented on #1997
Yeah, looks like this might be it:

https://github.com/envoyproxy/envoy/commit/a0adb668f0cb51d7aeea2f79246209d24a10cd64#diff-1646377c5ab04aaa7836c9d2106fc1d1

Is there a concept of schema versioning in envoy?

[2017-11-09 22:13] rajcheval commented on #1997
I had grabbed the sample json directly from the repo so I knew that I had the correct json and there was a schema mismatch. Thanks for confirming this. I have been hoping to use envoy for a long time. This was my first real use case for it and I ran in to this issue.

[2017-11-09 22:55] mattklein123 commented on #1997
See here for our breaking change policy: https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md#breaking-change-policy. There is no expectation that things do not change between releases. In this case, we made type optional (it has been removed from the code) and removed it from the sample configs. It was required in 1.4.0.

[2017-11-09 22:55] mattklein123 commented on #1997
I'm going to go ahead and close this out.

[2017-11-09 22:55] #1997 closed

[2017-11-10 00:23] hammett opened #2040 "config_load_check_tool seems to always reject config files"
*Title*: Tool fails with the example configs on the repo

*Env*: MacOS

*Envoy Version*: master from github as of today

*Description*:
Grab a simple config like https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/front-envoy.json

Running the check tool yields:
`
...
[2017-11-09 19:11:51.894][262074][debug][upstream] source/common/upstream/cluster_manager_impl.cc:508] shutting do

[2017-11-10 00:45] mattklein123 commented on #2040
@junr03 could you take a quick look at this?

[2017-11-10 00:49] mattklein123 opened #2041 "build: refactor repository_locations.bzl"
Per slack/issue convo. Opening here to track. The goal here is to make it less confusing to see what versions of things we are using and to update them.

See https://github.com/envoyproxy/envoy/blob/master/bazel/repository_locations.bzl

cc @jmillikin-stripe

[2017-11-10 00:54] #1159 closed

[2017-11-10 00:58] jmillikin-stripe commented on #2041
Thanks! This'll make it easier to track.

I think it'll be practical to represent the (url, version) for all currently present repos as a dict, since there's only a few combinations. Then it can be applied within `repositories.bzl` as kwargs. Something like this?

[code]

Then a lot of the repetitive boilerplate in `repositories.bzl` can be eliminated.

[2017-11-10 00:59] mattklein123 commented on #2041
@jmillikin-stripe yes +100. My goal is to basically hide the depths of bazel from anyone that is not you or @htuch 😉

[2017-11-10 01:19] junr03 commented on #2040
@hammett the input for the tool is a directory that holds configuration files. The tool tests all files in the directory for validity. That means that if you ran it on the entire https://github.com/envoyproxy/envoy/blob/master/examples/front-proxy/ directory, it will fail on all the files that are not configuration files.

[2017-11-10 01:24] hammett commented on #2040
Makes sense. so it's trying to parse a dockerfile and failing. thanks!

[2017-11-10 01:24] #2040 closed

[2017-11-10 08:29] toaler opened #2044 "JIQ Load Balancing"
It looks like Envoy currently implements Power-of-two load balancing (Weighted Least Request).  Is there any plans to implement JIQ load balancing?

Based on the research [1] JIQ has advantages of Power-of-two.  Has this been something considered to date?  If a contributor is looking at add yet-another-LB-algorithm, what part of the code base should they start to look at?

[1] https://www.microsof

[2017-11-10 16:00] mattklein123 commented on #2044
I haven't seen that one yet. Will read the paper.

Adding a new LB is pretty easy. See here for examples:
https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/load_balancer_impl.h
https://github.com/envoyproxy/envoy/blob/master/source/common/upstream/ring_hash_lb.h

[2017-11-10 17:23] toaler commented on #2044
Cheers @mattklein123 will look at the code.

[2017-11-10 22:15] #2041 closed

[2017-11-11 20:00] mattklein123 opened #2052 "C++ filters using coroutines"
I think it should be possible to have a native filter API that is accessed via coroutines, much like Lua. This would make the common case programming model substantially simpler, allow type safety, and native performance.

Initially we could potentially use POSIX ucontext / NT fibers, and eventually switch to C++20 coroutines.

[2017-11-11 20:03] mattklein123 commented on #2015
Small additional note. AsyncClient already has a standalone set of route impl stuff: https://github.com/envoyproxy/envoy/blob/master/source/common/http/async_client_impl.h#L183. These should be pulled out into a standalone thing that can be used both in AsyncClient as well as by filter writers.

[2017-11-11 20:10] mattklein123 opened #2053 "Allow loadable modules"
In general, everywhere we use static registration (filters, stats sinks, loggers, tracers, etc.) it would not be difficult to also support dynamic loading. While some set of people want everything to be statically linked, others want dynamic loading flexibility. I have no objection to adding optional dynamic loading support if someone wants to take on this project.

[2017-11-12 18:54] #2006 closed

[2017-11-13 02:33] #1290 closed

[2017-11-13 03:35] #1670 closed

[2017-11-13 05:50] PiotrSikora commented on #1630
Please don't reinvent the wheel. This should use extended CONNECT method proposed in https://tools.ietf.org/html/draft-mcmanus-httpbis-h2-websockets, and proxy TCP stream as a HTTP/2 stream without any extra gRPC encapsulation.

    client <-----> E1 <-----------------> E2 <-----> server
             raw       HTTP/2 connection       raw
             TCP       :method = CONNECT       TCP

[2017-11-13 07:21] surki commented on #1929
I will wait for your changes, but do let me know if you want me test/try out your changes earlier.

[2017-11-13 10:30] trabetti commented on #1244
We started working on this feature. We want to discuss some design issues before we implement, such as which is the preferred user interface for activation, how to map Envoy statistics to Hystrix stream data, how to add sse support, etc.

[2017-11-13 15:42] mattklein123 commented on #1244
Thanks @trabetti this sounds very cool. TBH I don't really have any idea what this feature will entail. Providing a bunch more info here or in a short 1-2 page gdoc on the feature overview and an implementation sketch would be great.

[2017-11-13 15:51] mattklein123 commented on #1630
@PiotrSikora agreed. I was not aware of this proposal. Yes, let's implement this for sure.

[2017-11-13 15:54] mattklein123 opened #2058 "healthchecking: implement existing reuse_connection config option"
Tracking ticket for a v2 API feature

[2017-11-13 15:54] mattklein123 commented on #2058
Partial implementation w/o tests here: https://github.com/envoyproxy/envoy/pull/2001. Just needs unit tests.

[2017-11-13 15:55] mattklein123 commented on #2058
Oops forget we already had a ticket on this.

[2017-11-13 15:55] #2058 closed

[2017-11-13 15:55] mattklein123 commented on #1994
Partial implementation here: https://github.com/envoyproxy/envoy/pull/2001. Just needs unit tests.

[2017-11-15 15:15] htuch opened #2063 "CDS static load performance"
When loading large CDS static configs with embedded static hosts (see attached), it seems to take ~87ms on my workstation per cluster at startup. This is prohibitive at large cluster sizes, e.g. at 1k it takes ~87s, 10k is > 10 mins. No analysis yet on why this is happening, creating this issue to track further investigation.

[envoy_1k.log](https://github.com/envoyproxy/envoy/files/1475205/envoy_

[2017-11-15 15:24] htuch commented on #2063
So, those initial numbers were on a `fastbuild` binary. With `opt`, I see ~32s for 1k, so ~32ms per cluster.

[2017-11-15 19:38] #2003 closed

[2017-11-15 19:51] #1854 closed

[2017-11-15 21:33] tlhunter commented on #1297
FWIW, if one wants to "disable" the admin interface, I believe the following would work:

[code]

This asks the OS to assign a random high port. It'll then only listen for requests originating within the machine.

[2017-11-15 22:03] ldemailly opened #2066 "http1.1: support half closed clients"
In http1.1 a client can choose to add "Connection: close" to the header and half close their (write) end of the socket and wait for the answer

What happens is envoy does forward the request but then immediately closes both end (probably because it reads the EOF/readability of 0 as an error instead of normal)

Repro
[code]
envoy log
[code]

Spec extract

[2017-11-15 22:04] ldemailly commented on #2066
cc @ggreenway who mentioned he is fixing it for tcp

[2017-11-15 22:10] ggreenway opened #2067 "TcpProxy does not handle half-close correctly"
TcpProxy fully closes both upstream and downstream connections if either side half-closes the connection.

The desired behavior is for it to proxy the half-close, eg if the downstream client sends a half-close, envoy sends a half-close on the upstream connection, and envoy will fully close the connections when either both sides have half-closed, or an error is detected on either connection.

[2017-11-15 22:10] ggreenway commented on #2066
Tracking tcp proxy issue at https://github.com/envoyproxy/envoy/issues/2067

[2017-11-15 23:03] tlhunter commented on #2063
I have to wait about 15s when dealing with 1,500 CDS hosts. Unfortunately I haven't had any chance to debug the issue.

[2017-11-15 23:18] mattklein123 commented on #1965
I think @jmarantz might pick this up. I'm going to brain dump my research on this so far into this issue in the next few days for further discussion.

[2017-11-16 00:33] tlhunter opened #2068 "How to configure tcp_proxy with CDS?"
I originally posted this in Slack but wasn't able to get a reply from those who were online at the time. Putting it here for asynchronous conversation purposes.

Is it possible to get `tcp_proxy` working with clusters as defined via CDS? I am able to get it working with `http_connection_manager` just fine. Here is the error I'm encountering:

[code]

However that `TCPSERVICE` service is available

[2017-11-16 00:39] mattklein123 opened #2069 "RFC: reorganize repo"
I'm going to fill this in with an actual plan, but the rough goal is to do the following:

Move all statically registered components (filters, access loggers, stats, etc.) into an "extensions" directory. Under this directory we would have "experimental" and "stable." This would also more easily allow us to compile extensions in and out more easily.

The goal here is to be able to more clearly sepa

[2017-11-16 05:26] mattklein123 commented on #2068
Currently, tcp_proxy clusters must be defined when the listener is created. They cannot come later via CDS. Thus, in the current implementation you will need to use LDS also. It would be possible to relax this and allow the tcp_proxy to specify clusters that are not yet defined, but that would require a code change.

[2017-11-16 05:55] ramaraochavali commented on #2022
Also it helps if "service_name_header" can use ":authority" much like how "cluster_header" is used.

[2017-11-16 17:21] tlhunter commented on #2068
Thanks for the reply, I'll checkout LDS.

[2017-11-16 18:59] tlhunter commented on #2068
It looks like I can output the following JSON from an LDS to get my desired outcome:

[code]

However with this scenario the LDS needs to somehow keep a registry of relationships between services. For example if I have consumers C1, C2, C3, then LDS needs to know that C1 needs to talk to producers P4 and P5, C2 needs to talk to P6, etc. Registering these requirements ahead of time seems a little d

[2017-11-16 20:07] mattklein123 commented on #2068
Unfortunately there is no right answer here. Your use case makes sense, but every use case is different in terms of whether you can use centralized control or service local based configuration. I would say that in general most people are moving towards feeding intention into the central management system and serving it from there.

It's not a very difficult change to add a configuration option to

[2017-11-16 22:15] tlhunter opened #2075 "Feature Request: Allow configuring of tcp_proxy with CDS"
Currently we're able to configure `http_connection_manager` with CDS. This allows applications to perform egress service discovery over HTTP and route using various methods, such as HTTP headers.

It would be very convenient to allow configuring `tcp_proxy` via CDS as well. Of course TCP messages cannot be routed using HTTP headers. Being able to provide different ports to listen on and and specif

[2017-11-16 22:16] tlhunter commented on #2068
@mattklein123 thanks for the recommendation, glad to hear it wouldn't be a difficult change. I've created #2075.

[2017-11-16 22:16] #2068 closed

[2017-11-17 15:29] ryangardner commented on #369
I know that there has been some work started on this, and in the long run it would be the best way to do a health check against a GRPC service.

In the meantime, we were able to use the existing TCP health check stuff to construct some binary data that we can send to a GRPC service (not over SSL - using http2 prior knowledge) and cramming all the http2 data frames into the packets that are sent by

[2017-11-17 17:59] #1994 closed

[2017-11-17 18:04] mattklein123 commented on #369
^ is awesome. Thank you @ryangardner!

[2017-11-17 18:04] fengli79 commented on #369
@mattklein123 , that proto is implemented here:
https://github.com/grpc/grpc/blob/master/src/cpp/server/health/default_health_check_service.cc
And gRPC C++ server will install it if there's no user provided one.
https://github.com/grpc/grpc/blob/b0bad8f3864dc9c8745736fe68efe513b2b84932/src/cpp/server/server_cc.cc#L532

[2017-11-17 18:09] fengli79 commented on #369
And in the request proto, there's a service field. I think it should be used to distinguish different gRPC backends. For example:
1. If the service is empty, means the client is actually checking the health status of envoy itself.
2. If the service is a gRPC backend (like the backend cluster name), we may return the health status of that backend.

[2017-11-17 18:38] jmarantz commented on #1965
sgtm

[2017-11-17 22:53] kenjones-cisco opened #2078 "grpc `proto_descriptor` not parseable"
**Issue Template**

*Title*: *One line description*
grpc `proto_descriptor` not parseable

*Description*:

describe the desired behaviour, what scenario it enables and how it
would be used.

Following the instructions for generating the [required descriptor](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_json_transcoder_filter.html#configure-grpc-json-transcoder), prot

[2017-11-17 22:55] mattklein123 commented on #2078
@lizan do you mind taking a look?

[2017-11-19 18:58] mattklein123 commented on #1965
I've done a bunch of research and here is what I have figured out so far. At a high level we have the following decision points:

- Shared memory histogram or not shared memory histogram.
- Type of histogram to use. From my research the types of histograms roughly fall into three categories. a) Fixed bucket widths. b) Log linear bucket widths. c) HDR.

Each of the above decision points have very d

[2017-11-19 19:05] mattklein123 commented on #1965
Another implementation that we use at Lyft IIRC: https://github.com/statsite/statsite/blob/master/src/cm_quantile.h. cc @theatrus ^

[2017-11-19 22:30] theatrus commented on #1965
The t-digest implementation in Veneus (https://github.com/stripe/veneur#approximate-histograms / https://github.com/stripe/veneur/tree/master/tdigest ) is probably the best reference - the Go is fairly transliterable to C/C++ (I'll even volunteer).

[2017-11-19 22:31] mattklein123 commented on #1965
@theatrus can you also give us your opinion on the tradeoffs above re: the different algorithms? Especially as it relates to Envoy?

[2017-11-20 09:49] objectiser opened #2081 "tracing: RFC Fine grained tracing in Envoy"
Currently Envoy tracing does not distinguish between client and server spans. The zipkin tracer does it implicitly based on the ‘operation_name’. To be able to make better use of finer grained tracing, with internal spans representing the steps performed within the proxy (both edge and middle), then the span kind should be explicitly defined on the relevant span. Although LightStep may not have a

[2017-11-20 14:42] jmarantz commented on #1965
If there is some value in continuity, is it an option to consider keeping the active structure in process-local memory and periodically serialize to shm or other persistent store, deserializing on hot restart?

[2017-11-20 16:09] alyssawilk commented on #1354
Closing off in favor of #1929

[2017-11-20 16:09] #1354 closed

[2017-11-20 16:09] mattklein123 commented on #1965
Having continuity would be optimal, but intuition tells me that the operational benefits are not worth the extra code complexity. As you point out, there are options beyond actually doing a histogram in shared memory. For example, the new process could ask for the old process histograms serialized via a hot restart RPC. Personally, I would recommend that we decide on all the other things first (pr

[2017-11-20 17:37] loozau opened #2085 "Support for abstract namespace UDS upstream clusters"
Feature request: please add support for abstract sockets as an upstream cluster (on Linux).

There's already some code to detect whether a socket address is an abstract UDS https://github.com/envoyproxy/envoy/blob/2ac2e2e93f262f98dd3733bfe9084e9dc40d9992/source/common/network/address_impl.cc#L228, but it just raises an exception.

*Config*
The configuration file should specify abstract sockets wit

[2017-11-20 17:44] loozau commented on #2085
Here're patches that I've used to get things working locally. Off the top of my head, there's still a lot missing:
- Tests
- A better understanding of where PipeInstances are used
- Verification that we're running on Linux.

[code]

[code]

[2017-11-20 18:01] mattklein123 commented on #2085
@loozau in general this seems reasonable to me. If you want to work on a PR please go for it (we can help in slack / in PR if needed). Thank you!

[2017-11-20 18:14] mattklein123 commented on #2081
This sounds like a reasonable plan to me. @rnburn any thoughts on ^?

[2017-11-20 18:52] ayj commented on #1897
Istio is starting to add support for OpenAPI. See [github.com/istio/api/mixer/v1/config/client/api_spec.proto](https://github.com/istio/api/blob/master/mixer/v1/config/client/api_spec.proto) for the normalized specification which should support most any HTTP based API spec, e.g. OpenAPI2, OpenAPI3, and gRPC. To give an idea of how this is used, see the corresponding path (uri_template) matching co

[2017-11-20 18:53] #1808 closed

[2017-11-20 19:07] lizan commented on #2078
I'm back, will take a look later today.

[2017-11-20 19:56] rnburn commented on #2081
Yes, looks good to me.

[2017-11-20 20:45] #2002 closed

[2017-11-20 21:44] vielmetti commented on #1861
@gizmochief7 it's been a little while, have you made progress? It sounds like you're building for 32-bit ARMv7; my particular interest is in arm64 builds.

[2017-11-20 22:38] cdelguercio opened #2086 "gRPC streaming keepAlive ping never fails when proxied through Envoy"
*Title*: gRPC streaming keepAlive ping never fails when proxied through Envoy

Envoy: envoyproxy/envoy-alpine:cd514cc3f1ad82bfd57b6b832b379eb9a2888891
gRPC: grpc-go 1.7.2

*Description*:
I have a Docker setup where I am running Envoy and a gRPC service running in a single container. Envoy is proxying port 80 to port 8000 where the service is listening. The gRPC has a server->client unidirectional

[2017-11-21 00:57] lizan commented on #2078
@kenjones-cisco I could reproduce it with the `proto.pb` in your gist.
But when I use protoc v3.5.0 with same command to generate the proto descriptor again, it works.

My generated proto descriptor is [here](https://gist.github.com/lizan/9836b131dda526fbec70308c85b8457e), which works.

Note the proto descriptor is a binary, but in your gist looks like github is treating it as text. So I doubt I g

[2017-11-21 01:14] mattklein123 commented on #2086
I'm not exactly sure what "keep alive" means in your setup, but if it means proxying PING frames, Envoy does not do that currently.

[2017-11-21 01:15] lizan commented on #2078
I think the problem is that ConfigMap is not binary safe. See:
https://github.com/kubernetes/kubernetes/issues/32432

[2017-11-21 01:15] mattklein123 commented on #2086
FYI we are going to add streaming timeouts (basically timeout if no data frames are received in X seconds in either upstream/downstream direction). This would be a potential fix to ^.

[2017-11-21 01:19] htuch commented on #2086
PING frames are only hop-by-hop in HTTP/2 and per-connection, and I don't know if there are any sensible proxying semantics if you are splitting a single client stream across multiple upstream hosts for example. I think Envoy should respond to PING, but not forward.

[2017-11-21 01:20] mattklein123 commented on #2086
I agree. If asked to actually proxy PING, I was going to say no. :)

[2017-11-21 01:27] theatrus commented on #1965
I'd also caution against a histogram in shared memory - histograms are inherently more expensive to update, and it can become a point of contention at high update rates. Of course, the same goes for merging-at-read, since locking is required on the thread local structures as reading can't be done atomically. One solution I've used in the past here is an A/B slot system: it costs 2x the memory, but

[2017-11-21 02:11] cdelguercio commented on #2086
Sorry, I assumed you would know more about gRPC keep alive since Envoy normally has such great support for gRPC. In this case it is an option for gRPC streams where you set a time interval (called Time in the gRPC-Go library's KeepAliveParams config struct) and then gRPC will consistently ping the client to make sure that it hasn't disconnected ungracefully. A client that gracefully disconnects wi

[2017-11-21 02:18] cdelguercio commented on #2086
Though the problem here is that my service thinks that the request is coming from Envoy, so the PING goes to Envoy, but it is pretty clear that it is intended for the client. Am I getting that wrong?

[2017-11-21 02:27] mattklein123 commented on #2086
@cdelguercio the issue is that the keep-alive mode expects an absence of ping response to mean the other side is gone, and Envoy will always directly respond to ping. In general Envoy would reset the stream, but if there is no FIN and it never tries to write, that won't happen either.

I'm pretty sure that https://github.com/envoyproxy/envoy/issues/1778 will fix your issue (which I now see you als

[2017-11-21 02:48] cdelguercio commented on #2086
Right, and #1778 would fix it as long as the solution includes a heartbeat of some sort, since in my case the connection can (correctly) be open for an indefinite period of time without sending data and still be valid.

[2017-11-21 02:48] #2086 closed

[2017-11-21 03:18] kenjones-cisco commented on #2078
@lizan  Thanks, for the response and feedback.

That does make sense about ConfigMap. I guess I will need to actually copy the file directly into the envoy image to make use of it.

[2017-11-21 03:18] #2078 closed

[2017-11-21 04:42] gizmochief7 commented on #1861
@vielmetti It has been and I almost forgot about posting this. We did not have any further luck with this attempt and without any community help we decided to move past Envoy. We tried out another reverse proxy/side car project for micro services and it just worked out of the box on both 32-bit and 64-bit. So we haven't wasted any more time here. Sorry I couldn't be more help.

[2017-11-21 09:37] objectiser commented on #2081
@mattklein123 @rnburn  One thing I would like to clarify - in the current impl the internal span created in the router can be disabled.

In the steps outlined above, the internal spans generated per filter (e.g. auth, rate limiting, etc) could be enabled based on configuration. However I am not sure whether the internal spans created in the HTTP conn mgr and router should be optional?

For example

[2017-11-21 14:35] rshriram commented on #1861
fwiw, I tried to build bazel on my pi (yes, it took several hours), and then built envoy on pi for armv7l 64bit. While envoy started up and was able to talk to http services, it had difficulty talking to certain https services (esp twitter). There seemed to be some boringssl issue that prevented ssl connections from working. My hunch was that it didn't compile properly. At that point, I gave up, b

[2017-11-21 14:40] rshriram commented on #2075
did you mean RDS by any chance? CDS pertains to clusters. We use CDS throughout envoy in Istio, for TCP and HTTP. For TCP, we are using LDS, though its less than ideal. Something like RDS would be more fitting.

[2017-11-21 17:23] costinm commented on #1861
I think the cross-compilation option is faster and less painful - and easy
to expand to other platforms.

Boringssl and most of the dependencies have native support for cmake (or
can be easily adapted) - one of the problems with building with
'bazel' on pi is that deps are not really built with bazel, so even if
bazel can cross-compile c++ code, it would still not help us, most of the
code comes f

[2017-11-21 17:25] costinm commented on #1861
https://github.com/costinm/istio-build/releases  if you want to try some
(older) binaries, matching ~ Istio 0.2

On Tue, Nov 21, 2017 at 9:23 AM, Costin Manolache <costin@gmail.com> wrote:

[2017-11-21 18:22] mattklein123 commented on #492
Thank you @cmluciano that's awesome!

[2017-11-21 18:47] mattklein123 commented on #2081
@objectiser yeah, I've thought through a bunch of ^. My concern about always creating the router span is that in simple cases, we will add an extra level of nesting for no reason. Over  many hops, and without intelligent filtering on the trace UI side, this will make the traces substantially more dense than they need to be.

I would personally err on the side of things being optional and/or puttin

[2017-11-21 19:22] tlhunter commented on #2075
Yeah, I meant CDS.

I have a giant collection of name: [host/port] combinations which I can route HTTP requests to just fine. The goal is to be able establish a connection with one of those instances and do the same using TCP.

[2017-11-21 20:31] objectiser commented on #2081
Yeah I think having internal spans optional (possibly based on one property rather than property per filter?) - and then auto enable the internal span in httpconnmgr/router if retry policy.

[2017-11-21 20:45] objectiser commented on #1897
@ayj Is this information going to be used to enrich the tracing span data in the mixer?

[2017-11-21 21:12] mattklein123 commented on #2081
I think it's actually a bit more complicated than just retry in thinking about it more. For example, at Lyft we need to make the router span because we also make auth/ratelimit spans, independent of retry policy. Potentially we need some concept to ask if other internal spans have been created off of the parent span and then also key off of that?

[2017-11-21 21:40] objectiser commented on #2081
That is why I was thinking that all internal spans should be created off a single config property - so we would have three situations:
* internal spans disabled and no retry - so just create the client or server span
* internal spans disabled but retry policy - this would create the client/server/internal spans in the httpconnmgr and router only
* internal spans enabled - this would create spans i

[2017-11-21 21:43] mattklein123 commented on #2081
FWIW I think we should continue to allow individual control. Within that confine, I think it also is fine to allow more automated options, but it's not super clear to me what the options should be. Perhaps we can discuss in the context of a data-plane-api PR?

[2017-11-21 23:50] brirams opened #2092 "Feature Request: Support nginx style rewrite rules via rds.RedirectAction"
Currently, routes defined via RDS can have a RedirectAction that specify the host and path a matching Route will be redirected to. This works for the cases where one knows what the destination path is up front but not so much for the cases where prefix/suffix rewriting is needed. Nginx does this by allowing one to specify a matching regex on the original path and being able to reference capture gr

[2017-11-22 05:26] mattklein123 commented on #2021
Closing this out as answered.

[2017-11-22 05:26] #2021 closed

[2017-11-22 05:26] mattklein123 commented on #1754
This is done. We can start using ABSL now.

[2017-11-22 05:26] #1754 closed

[2017-11-22 08:48] objectiser commented on #2081
Sounds like a plan - if you have a concrete idea then feel free to create the issue, otherwise I'll create one in the next couple of days.

[2017-11-22 12:25] kragniz opened #2095 "Provide prebuilt static binaries for convenience"
It would be nice, as mentioned in slack, to provide pre-built binaries. They don't have to be 100% portable, just work on recent versions of common distros.

These could be built in CI, then automatically uploaded to github releases for distribution.

[2017-11-22 16:39] vadimeisenbergibm opened #2096 "Failure in replacing listener on the same address with a different listener name."
**Bug Template**

*Title*: Replacing listener on the same address with a different listener name fails.

*Description*:
Suppose there is a listener with the name "A" on address 0.0.0.0:443. LDS sends a new list of listeners, where the listener "A" is replaced by a new listener with the name "B" on address 0.0.0.0:443. Envoy's listener_manager fails to replace the listener "A" by the listener "B" -

[2017-11-22 17:42] mattklein123 commented on #2096
I did this for a reason, but I will need to research what that reason was. :) I will get back to you.

[2017-11-22 18:13] mattklein123 opened #2097 "reroute filter follow ups"
From https://github.com/envoyproxy/envoy/pull/2093:

- [ ] Docs for how to do a rerouting filter (Lua vs. C++). In general we need docs on writing filters. I will try to start finding time for this.
- [ ] Possibility of getting notifications for when a route has been changed.

[2017-11-22 21:52] sethpollack opened #2098 "Feature Request: Support adding/removing query params"
In Nginx you can modify query params with something like `set $args $args&api_key=foo;`

We can do something similar with `query_params_to_add` and `query_params_to_remove`

[2017-11-23 14:48] trabetti commented on #1244
please see more details in the attached doc.
[hystrix-envoy proposal.docx](https://github.com/envoyproxy/envoy/files/1499559/hystrix-envoy.proposal.docx)

[2017-11-24 15:57] gingerich opened #2099 "Feature Request: broadcast messages to all Envoy instances"
# Message Broadcast

*Description*:
Services can broadcast messages into the mesh. All Envoy instances are aware of the broadcast. A service can "subscribe" to the messages it cares about through its Envoy instance.

*Motivation*:
One of the common patterns emerging in microservice architecture is abstracting service-to-service communication using messages and pattern matching. Messages provide a

[2017-11-24 23:42] mattklein123 commented on #1244
@trabetti please provide a google doc (or equivalent) that supports shared commenting and editing. Thank you.

[2017-11-24 23:43] mattklein123 commented on #2099
@gingerich at a very high level this sounds a lot more like something Kafka, Kinesis, etc. would provide vs. Envoy. Can you describe in more detail exactly what Envoy would do here? I'm sure I fully understand the feature request. Thank you.

[2017-11-24 23:45] mattklein123 opened #2100 "docs: remove v1 API anchors"
Post 1.5.0 release, we should remove all of the anchors inside the v1 specific doc tree, such that all arch, etc. docs will need to link into v2. This will be a forcing function to start the migration from v1 to v2. I don't think we should do this for the 1.5.0 release.

cc @htuch

[2017-11-25 23:38] brirams opened #2101 "Feature Request: Support for inverse route header matching"
I'd like to be able to construct an `rds.Route` that will be matched if a header is _not_ a certain value or if it's not present at all. Currently, one could do the former with a negative lookahead regex but doing so means that the header must at least be present in order for the route to be matched. Ideally, envoy would have first class support for inverse matching that would follow these semanti

[2017-11-26 00:24] mattklein123 commented on #2096
@vadimeisenbergibm yeah I think we could do remove before add in lds_api.cc to fix this issue. Marking bug/help wanted.

[2017-11-26 06:50] trabetti commented on #1244
updated last comment with gdoc link

[2017-11-26 23:43] craigbox opened #2106 "envoy won't start as a user if /dev/shm/envoy_shared_memory_0 is owned by root"
If you normally run envoy as a user (say: istio-proxy), but you run it as root to debug something, you won't be able to then start it again as the non-root user.

/dev/shm/envoy_shared_memory_0 is owned by root and Istio crashes when it can't read it.

Deleting that file and restarting brings everything back to life.

[code]

[2017-11-27 00:43] ldemailly commented on #1472
this happened again today, @craigbox and I spent several hours debugging what turned out to be a ASN mismatch in certificate that rejected the connection silently

[2017-11-27 01:38] mattklein123 commented on #2106
@craigbox not really sure what we can do better here. Do you want the error message without the panic/abort (clean exit(1))?

[2017-11-27 04:06] NickMRamirez opened #2107 "Documentation: More emphasis on how to get v2 configuration API"
The documentation about configuring Envoy (https://www.envoyproxy.io/docs/envoy/latest/configuration/configuration) makes it seem like the v2 API is included with this repository. Looking at it more closely now, it does say that it's included in the Data Plane API repository, but maybe that could be called out more?

Otherwise, the casual reader assumes the v2 API is included in this repository an

[2017-11-27 04:19] mattklein123 commented on #2107
@NickMRamirez that option has not merged yet: https://github.com/envoyproxy/envoy/pull/2105. With the docs now split between two repos things may be slightly not aligned as we do development. When we snap a release the docs will be snapped also.

[2017-11-27 04:21] NickMRamirez commented on #2107
I also might be totally wrong about the v2 API being available in the data plane API. I tried that one just now and got:

[code]

[2017-11-27 05:48] sirishacse06 opened #2109 "Questions on Envoy Proxy"
Hi,
I am new to Envoy Proxy, please help in answering below questions.
1)Is there a documentation on Envoy observability that displays various graphs to show the performance of the application.If so please share the links
2)Is dashboard a different program other than envoy and is it to be installed separately to display the envoy histograms?
3)Where are the logs stored?
4)Does envoy can go alongsi

[2017-11-27 22:26] zuercher commented on #2109
Matt Klein wrote a [blog post](https://medium.com/@mattklein123/lyfts-envoy-dashboards-5c91738816b1) related to stats dashboards a while back, you might find it useful.

There is no specific dashboard program for Envoy. Stats may be forwarded to a statsd-style collector and there are a number of ways that data can be stored and displayed. There were recent changes to support Prometheus stats scrap

[2017-11-28 09:01] objectiser commented on #2081
As discussed on https://github.com/envoyproxy/data-plane-api/issues/265 there is currently no need for additional config to support this, if the parent span is created on demand (if does not already exist) when required by a filter.

One [question](https://github.com/envoyproxy/data-plane-api/issues/265#issuecomment-347355200) raised on that issue, regarding the start time associated with the pare

[2017-11-28 11:51] michelvocks opened #2117 "How to access/protect envoy admin API?"
Hello,

we would like to use envoy as proxy with the main functionality to do blue/green deployments.
The idea is to manipulate envoy clusters via the admin API from a remote server to automatically route traffic to the blue/green environment and later automatically to production.

I found it really hard to get into the API of envoy. Even after several hours of reading it is still not clear for me

[2017-11-28 12:31] craigbox commented on #2106
Your call - in this case it appears you know you can't start but then crash trying. You could either exit cleanly, or open an new shared memory file?

Doesn't matter to me, I'm unlikely to make the mistake again :)

[2017-11-28 15:39] sirishacse06 commented on #2109
Thank you for your response!
Is there is a management UI for writing the scripts, if not are they written and executed at shell of Linux and if in Windows is it at cmd?

[2017-11-28 16:06] JonathanO opened #2118 "Prometheus format metrics aren't parsable by Prometheus"
*Description*:
The Prometheus metrics output added by https://github.com/envoyproxy/envoy/pull/2026 don't quite meet the Prometheus spec and as a result aren't parsable by Prometheus (at least not 2.0.0.)

Specifically:
* Label values should be double quoted but are not;
* Backslash, double-quote, and line-feed must be backslash escaped in label values;
* Metric names must match `[a-zA-Z_:][a-zA-Z

[2017-11-28 16:11] mattklein123 commented on #2118
@lita can you please take a look?

[2017-11-28 17:11] #95 closed

[2017-11-28 17:12] mattklein123 commented on #95
@PiotrSikora I'm going to leave this ticket resolved, as we have other tickets on fully supporting multiple filter chains.

[2017-11-28 17:23] zuercher commented on #2109
I'm not sure which scripts you're asking about.

[2017-11-28 17:27] #992 closed

[2017-11-28 17:44] sirishacse06 commented on #2109
Like Configuration scripts. Sample script from https://www.envoyproxy.io/docs/envoy/latest/install/ref_configs
**Snippet:-**
build/source/exe/envoy -c configs/google_com_proxy.json -l debug
curl -v localhost:10000

Another one:- mkdir -p generated/configs
bazel build //configs:example_configs
tar xvf $PWD/bazel-genfiles/configs/example_configs.tar -C generated/configs

[2017-11-28 17:51] mattklein123 opened #2119 "docs: SNI faq"
https://envoyproxy.slack.com/archives/C78HA81DH/p1511891394000416

[2017-11-28 17:59] zuercher commented on #2117
There are two things going on here.

1. Envoy supports querying an API to obtain configuration data. These requests originate from an Envoy instance and are made against some API implementation external to Envoy. The protobuf bindings in envoyproxy/data-plane-api are used for the v2 API. The v1 API uses JSON.
2. Envoy can be configured to start an [admin interface](https://www.envoyproxy.io/docs/e

[2017-11-28 18:26] zuercher commented on #2109
There is no Envoy-provided UI for generating those scripts. There is an example config generator written in Python: https://github.com/envoyproxy/envoy/blob/master/configs/configgen.py (which is used to generate the configs during `bazel build //configs:example_configs`.

[2017-11-28 18:46] brian-pane opened #2120 "Feature Request: Routing based on HTTP query string"
*Title*: *Routing based on HTTP query string*

*Motivation*:
For some applications, the HTTP query string carries information useful for routing.  The `prefix`, `path`, and `regex` fields in the Route configuration structure only match on the part of the `:path` prior to the `?`.

*Proposal*:
Add one new field to the [Route](https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route.htm

[2017-11-28 19:04] sirishacse06 commented on #2109
Okay. Can we install and run Envoy Proxy in Windows OS?

[2017-11-28 19:16] lita commented on #2118
I have a PR to fix this here: https://github.com/envoyproxy/envoy/pull/2121 Thanks for reporting the bug!

[2017-11-28 19:26] zuercher commented on #2109
See envoyproxy/envoy#129

[2017-11-28 19:35] moderation commented on #2109
@sirishacse06 the Microsoft Envoy fork is at https://github.com/microsoft/envoy but doesn't look like it is being worked on.

[2017-11-28 20:21] sirishacse06 commented on #2109
@zuercher @moderation Thank you for sharing the information.

[2017-11-29 08:34] michelvocks commented on #2117
Hello @zuercher,

thanks for your reply. That makes it a bit clearer for me.
For now, we decided to not use envoy.
Don't get me wrong, I think envoy is a great product with a lot of features. But the complexity combined with the missing documentation is the killing factor for us. I hope that this will be fixed in the future. ☺️

Cheers

[2017-11-29 08:34] #2117 closed

[2017-11-29 17:26] mattklein123 opened #2123 "duplicate admin downstream_rq stats"
This is a regression from the per-listener stats change:
https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L444

Needs to be a different stats path from the primary set above otherwise we get duplicate increments to things.

[2017-11-29 20:12] 9len commented on #2120
we supported this in the NGINX-flavor of the Turbine Labs product, and would love to be able to support it in the Envoy-based one.

I think our preference would be to treat query matches similar to header matches, schema-wise.

[2017-11-29 22:38] mattklein123 commented on #2119
I'm doing this as part of my ongoing LDS docs pass so I will just do this. Closing in favor of ongoing PR.

[2017-11-29 22:38] #2119 closed

[2017-11-30 02:34] #2123 closed

[2017-11-30 18:09] mattklein123 opened #2133 "docs: auto generate release notes from commit messages/PRs"
See https://github.com/envoyproxy/envoy/pull/2131
See https://github.com/envoyproxy/envoy/pull/2149

Some combination of auto checking and pre-submit checks.

[2017-11-30 19:46] #2118 closed

[2017-12-01 02:16] taiki45 commented on #2024
Same here for some reasons:

- My stats wire was already built for statsd.
- It seems Envoy has one step to support full Prometheus metrics (HDR histogram). ref: https://github.com/envoyproxy/envoy/issues/1947
- I have some short-lived Envoy containers which run as side-car with short-lived service-level batch jobs.

When Envoy fully supports Prometheus metrics, I might be able to switch to [Prome

[2017-12-01 02:17] mattklein123 commented on #2024
@taiki45 if it's a new sink with dedicated config, etc., please just do the PR. Let us know if you need any help.

[2017-12-01 02:23] taiki45 commented on #2024
@mattklein123 Thanks. So when I finish my work, I'll make the PR and let's discuss there.

[2017-12-01 02:27] mattklein123 commented on #1866
Calling this done. We can do example/config conversions in 1.6.0. Will open a different ticket on that.

[2017-12-01 02:27] #1866 closed

[2017-12-01 02:27] mattklein123 opened #2139 "configs/examples: convert all to v2"

[2017-12-01 02:28] mattklein123 commented on #1619
@rshriram the only thing left is transcoder filter, right? Can you ACK that you are doing that? Otherwise I can do it tomorrow.

[2017-12-01 02:34] mattklein123 commented on #2099
Going to close this for now. Please let us know if we can map this to a more concrete feature request.

[2017-12-01 02:34] #2099 closed

[2017-12-01 02:34] mattklein123 commented on #2106
Going to close for now as the error message is clear before the panic. If this comes up again we can get rid of the abort.

[2017-12-01 02:34] #2106 closed

[2017-12-01 02:35] mattklein123 commented on #2107
Closing this out for now as we have completed the first major pass on v2 docs. Please check it out and let us know what is missing.

[2017-12-01 02:35] #2107 closed

[2017-12-01 02:35] mattklein123 commented on #2109
Closing for now. Please let us know if you have further questions.

[2017-12-01 02:35] #2109 closed

[2017-12-01 11:13] JonathanO opened #2141 "Stats broken out by response code and class lead to duplicated metrics in tagged stats formats"
*Description*:
Stats such as upstream_rq which are broken out by response code (e.g. 404) and response code class (e.g. 4xx) lead to duplicated data in metrics.
For example:
[code]
Currently leads to the following in Prometheus format:
[code]
Which means that aggregates over the cluster_upstream_rq metric are meaningless (e.g. sum(cluster_upstream_rq) = 3456).

The output should be metrics with bo

[2017-12-01 17:10] mrice32 commented on #2141
Thanks for finding this.  I think there are a few possible solutions to this issue.  I think your PR is a good fix for prometheus, specifically.  But I have a feeling that other stats systems would have similar problems.

I want to give a little background on how the stats regexes work related to this scenario for anyone who's not well-versed in how these extractions are written (and can be custom

[2017-12-01 18:11] mmiranda96 opened #2144 "examples/front-proxy: Service requesting to invalid address"
*Description*:
File service.py contains an HTTP request to localhost:

`ret = requests.get("http://localhost:9000/trace/2", headers=headers)`

Port 9000 is not exposed. Should this be port 8080? Or perhaps port 9000 should be open?

[2017-12-01 18:47] ihmccreery commented on #170
I'm considering using envoy as a replacement for [GoogleCloudPlatform/k8s-metadata-proxy](https://github.com/GoogleCloudPlatform/k8s-metadata-proxy); this is a blocking feature for that.

[2017-12-01 21:57] zuercher opened #2148 "ability to generate response headers based on host metadata"
One use case Turbine Labs has for Envoy is to be able to generate a response header that contains information about the upstream host that was selected. In particular, when subset load balancing is enabled in conjunction with weighted clusters, we want to use a response header to determine which version a host reports and send subsequent requests back to the same subset (via a different route).

I

[2017-12-01 23:00] rshriram commented on #1619
Sorry just seeing this. Can close this

[2017-12-02 00:35] #1820 closed

[2017-12-02 00:37] mattklein123 commented on #1619
Finished!

[2017-12-02 00:37] #1619 closed

[2017-12-02 00:58] #2141 closed

[2017-12-02 01:19] mattklein123 commented on #2148
@zuercher this proposal SGTM. In my opinion, I would just keep it simple in v1 and just support primitives. If someone wants to come along and support complex types I think the rendering/text compaction could be done later?

[2017-12-02 20:24] buchanae opened #2152 "docs: getting started with lua config is not easy"
I started with Envoy today and my first goal is to get a simple Lua filter working. I hit some hurdles, so I wanted to capture some feedback:

- At first, I was looking in v2, but I learned I need v1 API config.
- I now understand where an HTTP filter goes, but it took me probably 15-20 minutes to understand how to navigate the docs to figure out where a Lua filter goes.
- The "Download" page uses

[2017-12-02 22:22] mattklein123 commented on #2152
Thank you @buchanae! I will fix the docker image link on the website. Once we tag 1.5.0 next week we will be redoing the website to also point to docs/images of specific versions.

re: Lua itself, we will try to get some better docs on that specifically but doc PRs appreciated. Thanks!

[2017-12-02 22:51] mattklein123 commented on #1941
I've thought about this a little bit and I think the way to go about this is to actually make the LB owned by the central thread and be responsible for being thread safe. This may mean using TLS, etc. The benefit of this approach is it would also benefit subset LB and other more complicated load  balancers. cc @danielhochman

[2017-12-04 17:24] rlazarus opened #2155 "Empty SocketAddress.address field doesn't behave as documented"
*Title*: Empty SocketAddress.address field doesn't behave as documented

*Description*:
According to [the v2 API docs for the SocketAddress proto's address field](https://www.envoyproxy.io/docs/envoy/latest/api-v2/address.proto.html#envoy-api-msg-socketaddress):

That's exactly the behavior I wanted, but in reality, Envoy rejects the config.

*Repro steps*:
[code]

With either `address: "0.0.0.0"`

[2017-12-04 17:31] zuercher commented on #2148
I agree that we can add support for complex types later. I'll get started on this.

[2017-12-04 20:58] ldemailly commented on #96
it would be great to get envoy listed on https://certbot.eff.org/

[2017-12-05 07:48] trabetti commented on #1244
Hi @mattklein123 Any chance you could take a look this week? We are in a point that some design decisions are needed, and we would really appreciate your feedback. Thank You!

[2017-12-05 14:46] alyssawilk commented on #1941
Can I hear a bit more about your thoughts here?

I think making LB (just picking, not prefetching) makes more sense outside
of the context of subset LB.   Once you scale up you generally want each
worker to have connections to a subset of endpoints, at which point it
makes more sense to have a per-worker LB, not less.

Doing the expensive calculations in another thread (which I think was your
prev

[2017-12-05 17:02] mattklein123 commented on #1244
@trabetti yes sorry I have been slammed. It's on my list for today.

[2017-12-05 17:19] mattklein123 commented on #1941
@alyssawilk my rough plan is as follows:

1. On a per-LB basis, allow the LB to be a structure that is allocated per worker, or allocated on the central thread and passed by pointer to the workers.
2. This allows the LB writer to choose which model they want.
3. For the ring-hash LB specifically, I was planning on rewriting the LB so that it does the ring computations on the central thread, and th

[2017-12-05 17:31] alyssawilk commented on #1941
SG.  If I'm understanding correctly it won't get us any gains for subset lb, but it will substantially help with both CPU and memory for the common case.  As long as we can avoid/minimize lock contention I'm all for it.

[2017-12-05 17:34] mattklein123 commented on #1941
Right, in my initial patch, I'm not planning on touch subset LB. However, the subset LB computations are expensive, and I think we should think about refactoring the subset LB in the same way that I am going to refactor ring hash. We can discuss after I'm done w/ the ring hash refactor. cc @zuercher

[2017-12-05 21:13] mattklein123 commented on #1244
@trabetti I dropped two comments in the doc. I think admin handler makes sense. You will need to make the admin filter streaming capable on a per handler basis. I also think continuing to use Hystrix wording in Hystrix makes sense, with appropriate docs. LMK if you have other questions. I think this will be a super cool feature!

[2017-12-05 22:53] cmluciano commented on #492
Doc is available and can be edited by anyone that is a member of the envoy-dev mailing list

https://groups.google.com/d/topic/envoy-dev/J19VUtMifBM/discussion

[2017-12-05 23:03] mattklein123 commented on #492
Thank you @cmluciano! Looking forward to digging into this.

[2017-12-05 23:58] shalako commented on #492
Chris,
Could you make this doc publicly viewable, please?

Shannon Coen
Product Manager, Cloud Foundry
Pivotal, Inc.

On Tue, Dec 5, 2017 at 3:03 PM, Matt Klein <notifications@github.com> wrote:

[2017-12-06 14:15] trabetti commented on #1244
Thanks @mattklein123 . Which filters did you refer to that do streaming? In our implementation we need to get the socket from the initial request and use it for streaming forever. Does it work the same way in those filters?

[2017-12-06 15:11] mattklein123 commented on #1244
The filter infrastructure in general is streaming. Here is the admin filter:
https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L52

In `onComplete` currently, we basically call into the handler and send the full response, returning the code: https://github.com/envoyproxy/envoy/blob/master/source/server/http/admin.cc#L420

Instead, you will want to pass in the filter callb

[2017-12-06 17:26] zuercher opened #2163 "move AccessLog::RequestInfo to a better namespace"
AccessLog::RequestInfo is not used exclusively for logging. It should move to another namespace. Consider Envoy::Network, Envoy::Router, or perhaps a new namespace (e.g. Envoy::Request).

*Relevant Links*:
#2161

[2017-12-06 18:42] bndw commented on #2152
@buchanae version 1.5.0 has been released and is tagged in Dockerhub at `envoyproxy/envoy:v1.5.0`

[2017-12-06 19:51] buchanae commented on #2152
Nice work! Thanks.

Unless you have a different idea, I think the best contribution I could make would be to add a Lua example to https://github.com/envoyproxy/envoy/tree/master/examples. I'll work on that

[2017-12-06 21:22] mattklein123 commented on #2152
@buchanae that would be much appreciated (and link to from docs).

[2017-12-06 21:46] alyssawilk commented on #1929
Ok, I'm like 70% of the way done with the naive implementation which while sufficient to close this issue off, is not yet sufficient for my self-respect :-P

My plan A would be to mimic the load balancing code I'm most familiar with.  It basically has a "overprovision factor" of (default 1.4) and starts spilling traffic out of a priority level when fudge_factor * host-set-health-ratio < 1.  I gues

[2017-12-07 01:42] syukur91 opened #2167 "[ASK] Envoy Cors Configuration Sample"
@mattklein123  Is there any example how to set cors enabled in route config? I can't find valid example out there.

Thank you

[2017-12-07 03:17] zaneclaes opened #2168 "Envoy breaks GRPC SSL (does not work with SSL in GRPC) due to OPENSSL_internal:WRONG_VERSION_NUMBER."
*Title*: A GRPC server with working mTLS SSL does not work behind an Envoy proxy due to `OPENSSL_internal:WRONG_VERSION_NUMBER.`

*Description*:
The GRPC server works fine on an insecure channel with Envoy, and fine on a secure channel without Envoy, but stops working as soon as Envoy & SSL (secure channel) are attempted to be used together. This is likely due to a bad first handshake with the GRP

[2017-12-07 12:03] htuch commented on #2148
I agree with supporting only scalar types for now. It would also make sense to support arbitrary request metadata in user defined headers (which should already be in the `RequestInfo` object); doesn't have be in v1, but I think we would to be able to extend to support this at Google.

[2017-12-07 14:02] mattklein123 commented on #1929
@alyssawilk ^ SGTM. The only complexity is that I think it would probably break the way the zone aware balancing algorithm works in terms of spillover calculations between zones (or make it substantially more complicated). I'm honestly not sure this matters. If failover is occurring we could potentially even disable zone aware balancing. I would keep it in mind though.

[2017-12-07 14:55] htuch opened #2169 "Detect and warn/ratelimit when xDS updates are spinning"
As discussed in https://github.com/envoyproxy/data-plane-api/pull/328, spinning updates are a reasonably common issue that management server implementors encounter. While we've improved documentation, an ability to detect, warn and/or ratelimit might also be helpful.

[2017-12-07 18:19] anarcat opened #2171 "comparison with conduit and istio"
It would be great to see a comparison with the newly published [Conduit](https://buoyant.io/2017/12/05/introducing-conduit/) project demo'd at the Kubecon keynote. (What's the deal with all those mesh service projects! :) i see one was done for Linkerd in #99 and that was very useful - an equivalent comparison with conduit (and, for that matter, Istio) would be great. Thanks!

[2017-12-07 19:28] htuch opened #2172 "True xDS version in admin interface"
While we added config hash for versioning of xDS in https://github.com/envoyproxy/envoy/pull/1805, it would be useful for integration testing to have the actual version info as understood by the management server and xDS exposed on an admin interface handler. This won't be available via stats, since version info is an arbitrary length string which we can't represent as a gauge, so just an admin ha

[2017-12-07 19:30] htuch commented on #2172
@rfaulk @mattklein123 I'm thinking of adding for ADS a JSON/proto handler for this that returns some message defined in data-plane-api describing each of the muxed protocols. For non-ADS, it's a bit more complicated for RDS/EDS, since each of these xDS might actually have multiple versions, as resources may fan out to multiple servers individually. This is in aid of Google integration testing, I t

[2017-12-07 19:54] zaneclaes commented on #2168
Thank you, @lizan . For some reason I believed that the Envoy proxy would forward the TLS through to the service. Looks like moving the TLS up to the Envoy layer should solve my problem.

[2017-12-07 19:54] #2168 closed

[2017-12-07 21:26] #2155 closed

[2017-12-08 05:10] mattklein123 commented on #2172
SGTM. Should this be the first admin API that we define a proto response for instead of hand rolling JSON output? Incrementally more work but would be cool.

[2017-12-08 20:06] junr03 commented on #2172
For posterity: right now we have the version info string of different xDS APIs surfaced in a couple places:
1. RDS: in the `/routes` admin endpoint, for each route configuration. You are right that it would be a little bit more complicated to do so centrally for RDS. Which is why I did the handler work in the scope of the router.
2. CDS: in the `/clusters` admin endpoint, for the cluster manager.

[2017-12-08 21:56] mrice32 opened #2178 "Expose dispatcher queue length"
*Title*: Expose dispatcher queue length.

*Description*:
It would be nice to be able to understand the dispatcher's internal event queue by being able to query the length of the list.  The context is that we (at Google) have some internal interfaces for dispatcher-like objects, and we need this piece of information to expose for those interfaces.  We would like to be able to wrap the dispatcher in

[2017-12-08 22:02] taiki45 commented on #1764
I found clang-format version 5.0.0 (tags/RELEASE_500/final) passes these checkes. Downloaded from http://releases.llvm.org/download.html (LLVM 5.0.0 -> Pre-Built Binaries: Clang for macOS).

[code]

Will this work for you too?

[2017-12-08 22:06] mattklein123 commented on #2178
There is `event_base_foreach_event()` (http://www.wangafu.net/~nickm/libevent-book/Ref3_eventloop.html), but that's probably not very efficient. Not sure if there is something better. This might require a small patch to libevent to do efficiently.

[2017-12-08 23:05] zuercher commented on #1764
It's definitely a mismatch between the clang-format from homebrew (`version 5.0.0 tags/google/stable/2017-06-22`) and the clang-format-5.0 found in linux repos (`version 5.0.1-svn315198-1~exp1 (branches/release_50)`).

My solution was to pull the llvm svn repository and build it by hand with the revision from the linux version (r315198).

[2017-12-09 06:00] cs224 opened #2180 "./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev' does not work behind corporate firewall / proxy"
*Title*: ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev' does not work behind corporate firewall / proxy

*Description*:

when trying to run

    ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.dev'

behind a corporate proxy it stalls at

    Cloning into '/build/envoy-filter-example'...

I already tried to set the `http_proxy` variable for the docker image, but this did not help either.

It woul

[2017-12-09 06:18] cs224 opened #2181 "build does not work from tarball, but only from git checkout"
*Title*: build does not work from tarball, but only from git checkout

*Description*:

When downloading a release tarball, unpacking and trying to build you get the following error:

    ERROR: Process exited with status 1: Process exited with status 1
    fatal: Not a git repository (or any parent up to mount point /source)
    Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not

[2017-12-11 03:45] mattklein123 commented on #1308
Calling this done! Yay!

[2017-12-11 03:45] #1308 closed

[2017-12-11 10:40] ccmtaylor opened #2182 "stats: expose Prometheus metrics as `/metrics`"
*Title*: expose Prometheus metrics as `/metrics`

*Description*:

By convention, Prometheus expects metrics to be exposed via the endpoint `/metrics`. While it is possible to override the scraping endpoint vie explicit configuration, this may complicate deployments for users. The implementation in #2026 exposes the metrics as `/stats?format=prometheus`.

@brancz [brought this up](https://github.co

[2017-12-11 17:18] mattklein123 commented on #2182
As discussed in the other issue, we decided to stick with `/stats` because we already have a `/stats` endpoint and adding an additional `/metrics` endpoint would be confusing. We can't change `/stats` for back compat reasons and we are also not a Prometheus only operation. I think a compromise here might be to allow the stats admin endpoint to be configurable as part of the admin configuration. If

[2017-12-11 18:45] zuercher opened #2184 "Use CDS metadata to populate headers via the UPSTREAM_METADATA variable"
In addition to EDS endpoint metadata, there is CDS cluster metadata. The `UPSTREAM_METADATA` variable (see #2179) should check both locations for metadata, preferring EDS metadata over CDS metadata when both have matching keys. See also discussion in envoyproxy/data-plane-api#335.

At a high level, this requires plumbing the CDS metadata through from the API (probably via `Upstream::ClusterInfo` a

[2017-12-11 19:45] #2024 closed

[2017-12-11 20:38] ccmtaylor commented on #2182
thanks for the feedback, @mattklein123! I didn't see that decision in the comments on #1947 or #2026, so I suspected the path was an oversight.

[2017-12-12 01:07] jvshahid opened #2188 "Envoy fails to parse lds v1 responses"
*Description*:

when running envoy version https://github.com/envoyproxy/envoy/commit/b62c541005b601e9fde8c2fa0399f2f6c935fc3c with v1 config and v1 lds envoy will fail to parse the lds response with the following provided in [this gist](https://gist.github.com/jvshahid/a4541bdccb954fd03bda7e1231d289e8)

*Repro steps*:

Start envoy with the following config:

[code]

and the following listeners co

[2017-12-12 01:09] mattklein123 commented on #2188
@htuch do you mind taking a quick look at this? I think this might be a constraint bug. I can take a look tomorrow if you don't have time.

[2017-12-12 11:23] pschultz opened #2189 "How to verify upstream TLS certificates?"
Can't get Envoy to verify upstream certificates

While playing around with Envoy I noticed some requests succeeding that shouldn't have, because the upstream cluster is serving certificates that Envoy should have rejected.

Consider this configuration:

[code]
The HTTP server on port 4000 is implemented by this trivial Go programm:

[code]

No matter what certificate I have the Go program serve, t

[2017-12-12 15:36] alyssawilk commented on #2188
Yeah, looks like you're right If you pass in LDS proto without ca_cert by the time it hits onConfigUpdate it somehow picks up an empty (thus invalid) trusted_ca

  tls_context {
    common_tls_context {
      tls_params {
        cipher_suites: "[ECDHE-RSA-AES256-GCM-SHA384|ECDHE-RSA-AES128-GCM-SHA256]"
      }
      tls_certificates {
        certificate_chain {
          filename: "/usr/local/go

[2017-12-12 16:30] mattklein123 commented on #1824
This is starting to cause us issues. I will fix this.

[2017-12-12 16:32] mattklein123 commented on #2163
I think this is done.

[2017-12-12 16:33] mattklein123 commented on #2063
Without looking into this in detail, I think this is likely related or a dup of https://github.com/envoyproxy/envoy/issues/1824. I will fix.

[2017-12-12 16:48] mattklein123 commented on #514
@rodaine this is a good ramp up issue for you. Let's chat offline.

[2017-12-12 18:22] alyssawilk commented on #2188
Fix should be in shortly.  As an aside, thanks for the great repro instructions - they made tracking this down so much easier!

[2017-12-12 21:54] zuercher opened #2195 "travis ci bug breaks ipv6 tests"
See travis-ci/travis-ci#8891

When bug is resolved we should be able to revert a6d04b8d647c0616463a266c1d4d095558090df3.

[2017-12-12 21:56] zuercher commented on #2195
Assigned myself -- I'll keep an eye on this and undo my fix when this gets resolved.

[2017-12-12 22:00] jvshahid commented on #2188
thanks @alyssawilk for the quick turnaround

[2017-12-12 23:44] haribruno commented on #2118
The metric names produced by envoy also has "-" in them which is not parseable  by Prometheus.
I think we should update the sanitizePrometheusName function to replace "-" to "_" also.

Example:
# TYPE envoy_listener_ssl_ciphers_AES128-SHA256 counter
envoy_listener_ssl_ciphers_AES128-SHA256{envoy_listener_address="0_0_0_0_443"} 3446

[2017-12-12 23:45] mattklein123 commented on #2118
@haribruno please open a new issue and/or just do a PR. Thank you!

[2017-12-13 03:36] htuch opened #2200 "Oauth2 support in Envoy xDS client"
We should at least add support for an authorization header in the REST/gRPC clients. Beyond this, support for negotiating access tokens as described at https://developers.google.com/identity/protocols/OAuth2 and other auth, e.g. JWT, would be nice to have. We probably need the full auth flow if we want to maintain persistent connections beyond the lifetime that a static token would provide for.

[2017-12-13 10:54] pschultz commented on #2189
The wording in the docs is misleading then, since it only mentions client certificates. I've submitted envoyproxy/data-plane-api#343 to change to "peer certificates".

[2017-12-13 10:54] #2189 closed

[2017-12-13 14:01] #2188 closed

[2017-12-13 14:30] trabetti commented on #1244
@mattklein123 - If we implement the hystrix stream support as an admin handler - after we get the request from hystrix dashboard, is it possible to start a new thread that will do the streaming messages through the same socket? The socket is used by both threads.

[2017-12-13 18:34] zuercher commented on #2163
I don't think this has been done.

https://github.com/envoyproxy/envoy/blob/master/include/envoy/access_log/access_log.h#L68
https://github.com/envoyproxy/envoy/blob/master/source/common/access_log/request_info_impl.h#L11

[2017-12-13 18:37] mattklein123 commented on #2163
Ah. OK. Sorry reopening.

[2017-12-13 18:45] alyssawilk opened #2205 "Move code out of printers.h"
Per discussion on https://github.com/envoyproxy/envoy/pull/2204#discussion_r156745821
it would be nice if the code in printers.h lived closer to the code it's printing and worked more consistently.

[2017-12-13 18:55] tlhunter commented on #2063
I'm no longer working on the project, but I did discover that switching hostnames to IP addresses caused Envoy to boot in 2s instead of 15s.

[2017-12-13 19:05] zuercher commented on #2205
You probably figured this out already, but just in case... I poked around a bit at the printers.h stuff and I believe the reason it doesn't work in cors_filter_integration_test.cc (or header_integration_test.cc) is that the headers are in a `TestHeaderMapImpl` and `PrintTo` for `HeaderMapImpl` doesn't apply (though it seems like it should be). If I hack in a `PrintTo` that takes `TestHeaderMapImpl

[2017-12-13 19:28] alyssawilk commented on #2205
Yeah, that was Matt's suggestion on the code review.  I guess if we get printer.h included by default and add that it's a viable workaround but I prefer Matt's suggestion of having the printing code near the objects they're for.

Is there any reason we don't just ostream in base classes?  I noticed we have rewritten the header printing code in (ndebug-only) production code and was wondering why we

[2017-12-13 20:47] #2148 closed

[2017-12-14 09:34] winguse opened #2209 "Envoy bug of eating and omitting `host` header"
## Description

The node.js client want to send traffic to envoy ingress port, using the binding of `ip_address:port`, but setting `host` header for routing by virtual host.

But Envoy will eat and omit the header.

## Reproduce and other information

I've setup a simplest project here: https://github.com/winguse/envoy-grpc-host-header-bug

### Envoy config

[code]

### Client code

[code]

### Se

[2017-12-14 18:14] brancz commented on #2182
As `/metrics` is only a convention of Prometheus, but we want native Prometheus support by Envoy, how about we just add the `/metrics` endpoint, and only expose the metrics in Prometheus format here. I don't see an inconsistency then. As a side note, Envoy would be the only project I know of that doesn't expose this endpoint on `/metrics`, so I can see it to be highly confusing to Prometheus users

[2017-12-14 19:54] mattklein123 commented on #2209
The reason it works like this is due to how Envoy normalizes between h1 and h2 in both directions. Internally everything is h2 to Envoy, so we translate to `:authority` and back to `Host` if needed for h1 proxy.

In https://tools.ietf.org/html/rfc7540#section-8.1.2.3 it states:

      pseudo-header field instead of the Host header field.  An
      intermediary that converts an HTTP/2 request to HT

[2017-12-14 22:44] htuch commented on #2172
@junr03 Yep, I think moving to a single handler would be great. Let's make this happen, hopefully I get cycles this year unless someone is interested in this before Q1.

[2017-12-15 00:35] winguse commented on #2209
Thanks @mattklein123 for quick response!

For me, I want to set the headers for doing virtual hosts routing in the same ingress port and I cannot set a correct header (in gRPC API) to tell envoy which virtual host I am calling.

As learned from your words, I think I should set a `:authority` instead of either `authority` or `host`. But unfortunately, when I set `:authority` by calling:

[code]

I

[2017-12-15 06:44] winguse commented on #2209
as go over gRPC library again, I find the way for sending the host, [it's a little hard to find](https://grpc.io/grpc/node/grpc.Client.html#~CallOptions):
[code]

[2017-12-15 06:44] #2209 closed

[2017-12-15 17:03] #2163 closed

[2017-12-15 22:20] bndw opened #2218 "Followup items from Dockerhub registry migration"
Following the Dockerhub migration from `lyft/envoy` to `envoyproxy/envoy`, the following items are in response to questions that have popped up on Slack.

* Add a notice to [the old registry](https://hub.docker.com/r/lyft/envoy) that tells users about [the new registry](https://hub.docker.com/r/envoyproxy/envoy/)
* Investigate if [the old registry](https://hub.docker.com/r/lyft/envoy) can be redir

[2017-12-15 22:21] mattklein123 commented on #2218
I have no idea how to do this. Help appreciated.

[2017-12-15 22:25] bndw commented on #2218
@mattklein123 if you can login to https://hub.docker.com/r/lyft/envoy/, I think just editing the copy _Short Description_ and _Long Description_ to the following would be sufficient:

As for the auto redirect (like you did with Github), I think that would require support from Docker folks.

[2017-12-15 23:00] mattklein123 commented on #2218
Added short/long descriptions with warning to each repo. Will try to find someone to help with redirect.

[2017-12-15 23:04] bndw commented on #2218
Just to be overly safe,

`envoyproxy/envoy` does not have the full tag history that is in `lyft/envoy`.

If the Dockerhub redirect means that `docker pull lyft/envoy` is effectively translated to `docker pull envoyproxy/envoy`, we must backfill the `envoyproxy/envoy` registry prior to the redirect.

[2017-12-15 23:06] mattklein123 commented on #2218
Yes agreed. The backfill is not that hard as you point out, but let's see if a redirect is even possible. I have a few contacts I can try and I just asked on Twitter.

[2017-12-16 00:38] #1196 closed

[2017-12-16 16:53] shahsaifi commented on #2182
BTW, anyone tried using `/stats?format=prometheus` in  Prometheus `metrics_path` config. I see an error while doing that `text format parsing error in line 1: expected float as value, got ".cats.bind_errors:"` because it ends-up with `/stats%3Fformat=prometheus`.

[2017-12-16 17:33] shahsaifi commented on #2182
Tried using:

[code]
which ends-up with :
[code]

[2017-12-16 21:59] odino commented on #779
Hey @kflynn -- any update on this? Sorry to bother :-P

[2017-12-17 00:36] ikruglov opened #2219 "Envoy fails to parse cds v1 responses"
*Title*: Envoy fails to parse cds v1 responses

*Description*:
when running both v1.5.0 and d5865073b with v1 controlplane envoy fails to validate v1 CDS response with "ssl_context" set in a cluster.

I've tracked the issue and it boils down to adding empty "certificate_chain" and "private_key" fields in UpstreamTlsContext and failing validation later. This bug is similar to #2188 which was fixed

[2017-12-17 00:38] ikruglov commented on #2219
also, the discussion in #2190 mentions a "demand for point releases". So, we have a demand :-) This issue is blocking us from upgrading to v1.5.0

[2017-12-17 03:48] mattklein123 commented on #2219
@ikruglov thanks for the report. I've been looking through this for about 30 minutes and there is some larger bug here. I'm not exactly sure what is going on:

AFAICT, we have existing configs that should fail at the bootstrap level. E.g., https://github.com/envoyproxy/envoy/blob/master/configs/google_com_proxy.v2.yaml#L33 and https://github.com/envoyproxy/envoy/blob/master/configs/envoy_service_t

[2017-12-17 18:31] mattklein123 commented on #2219
Nevermind I just looked again and I see the issue. We aren't consistently validating. @ikruglov I'm fixing, you can close the other PR.

[2017-12-18 11:06] #2219 closed

[2017-12-18 13:04] brancz commented on #2182
@shahsaifi this might just be a prometheus configuration thing, maybe just ask on IRC or the Prometheus users mailing list, however, I haven't tried the Prometheus support myself yet.

[2017-12-18 13:21] krootee commented on #2182
Maybe this helps you, but following Prometheus config works fine for me (running Prometheus in Docker container and Envoy is available as 'envoy' in same Docker network):
  - job_name: 'envoy'
    scrape_interval: 1s
    metrics_path: /stats
    params:
      format: ['prometheus']
    static_configs:
      - targets: ['envoy:9901']

[2017-12-18 14:37] ikruglov commented on #2219
are you planning to do a bugfix release?

[2017-12-18 14:37] ikruglov commented on #2219
and thank you for the quick fix!

[2017-12-18 15:49] shahsaifi commented on #2182
It worked with `prometheus-2.0`. I have been trying with `1.7` version. Thanks!

[2017-12-18 16:23] mattklein123 commented on #2219
In general, we have not been doing bug fix releases since we assume master is RC quality and many people run master in production. If you need a bug fix release for whatever reason we can do one but please open a dedicated issue requesting that with which PRs you need cherry picked.

[2017-12-18 16:37] tschroed commented on #2200
As discussed via email, I think there's a case to be made for a clean auth provider interface as there are likely other uses for something like this. To wit:
- oauth
- basic
- other org-specific auth mechanisms (e.g. cookies)
- even kerberos (I once worked at a place that did kerberos for web sites)

[2017-12-18 17:57] alyssawilk commented on #2195
"Fixed" by #2224  :-)

[2017-12-18 17:57] #2195 closed

[2017-12-18 17:57] zuercher commented on #2195
Since we've figure out how to do IPv6 tests in Circle CI, we've disabled our Travis build and this doesn't matter anymore.

[2017-12-19 00:51] mattklein123 commented on #2139
Note: We should leave all the v1 configs around for reference/posterity/testing until we kill v1, but should convert them all to v2 for reference/testing.

[2017-12-19 13:32] georgi-d opened #2230 "Extend the admin interface to support requesting CDS, RDS sync/reload"
I have a use case where I need to add a new cluster and as set of routed to the envoy configuration and then signal envoy to consume the new configuration so I can use new configuration immediately after.

I wanted to use CDS and RDS for this but currently envoy queries xDS periodically which means that there will be some un-deterministic time before the new clusters and routes take effect.

I thi

[2017-12-19 13:38] htuch commented on #2230
Would gRPC streaming in the v2 API suffice for you use case?

[2017-12-19 14:36] georgi-d commented on #2230
Could you elaborate on what you mean by

I would like if it is possible to send a simple REST request possibly containing JSON body. I would rather avoid having to rely on protocol that requires using a library for encoding the request.

Either requesting a resync over RDS, CDS or directly adding the new configuration over REST would work for me.

Thanks

[2017-12-19 16:29] mattklein123 commented on #2230
Although this feature is possible, it's a large amount of work, and IMO not worth it when the v2 APIs have been designed to be streaming with ACKs as @htuch mentions. @georgi-d can you please take a look at the v2 streaming APIs to see if that works for you. I think it's unlikely that any of the core Envoy developers are going to add this so if it did get added it would be a (complicated) communit

[2017-12-19 17:44] mrice32 commented on #2178
Would this give us what we want more directly: http://www.wangafu.net/~nickm/libevent-2.1/doxygen/html/event_8h.html#afcbf68a9eaf33ff684c01e26e25c0d7d ?

[2017-12-19 18:19] mattklein123 commented on #2178
Yeah that looks about correct. I would quickly look at the code just to see if it is doing a full count or referencing some variable. Not sure of perf implications.

[2017-12-19 21:02] mrice32 commented on #2178
See https://github.com/libevent/libevent/blob/release-2.1.8-stable/event.c#L1251 .  It does acquire the base lock (as most libevent methods do), but other than that, it's just reading existing count variables.

[2017-12-19 21:36] zuercher opened #2234 "LDS clobbers statically configured listeners (and crashes)"
Given a V2 bootstrap configuration with a `Listener` defined in `static_resources` and one or more listeners configured via `dynamic_resources`, the former is removed as soon as a successful DynamicResponse for LDS is received. Envoy then asserts, perhaps because the removed listener was never started.

The correct behavior should be to leave the statically defined Listener in place a la CDS/Clust

[2017-12-19 21:37] zuercher commented on #2234
It occurs to me that the crash may only occur when LDS is configured via a file. But the removal of the Listener happens even when LDS is configured to use GRPC.

[2017-12-19 21:44] mattklein123 commented on #2234
I will take a look. Thanks for the report.

[2017-12-20 11:11] jippi commented on #1451
I would love to see support in evnoy for https://linkerd.io/features/http-proxy/

[2017-12-20 14:04] georgi-d commented on #2230
I read into the v2 streaming API and as far as I understand it it should cover what I want to achieve.

I will attempt the solution with the v2 API.

Thanks for the reply.

[2017-12-20 14:16] ikruglov opened #2239 "'envoy --version' should provide actual version, ex: 1.5.0"
*Title*: 'envoy --version' should provide actual version, ex: 1.5.0

*Description*:
currently 'envoy --version' provides you with an SHA which is not much useful for end users. I would expect to see a version such as "1.5.0" there.

Something like:
[code]

[2017-12-20 15:03] jvshahid opened #2240 "Envoy segfaults if the LDS config path is invalid"
**Bug Template**

*Description*:

Given the `dynamic_resource.lds_config.path` is an invalid path envoy will segfault.

*Repro steps*:

The following shows the steps necessary to repro the issue on the latest envoy

[code]

*Config*:

See the snippet above

*Logs*:

See the snippet above

[2017-12-20 15:38] jvshahid opened #2241 "Listeners aren't updated when the LDS config file is copied (as opposed to being moved)"
*Description*:

We are trying to use file watchers to updated the listeners config, specifically the cert/key of the listener. Until V2 we were using v1 LDS. When the `listeners.yaml` is ~~updated~~ copied (as opposed to moved) envoy fails to recreate the listeners with the new configuration.

*Repro steps*:

The following setup has two listeners configurations each using a different cert/key and

[2017-12-20 16:10] alyssawilk commented on #2240
I tried whipping up a quick repro test tweaking ads_integration_test to use an unknown file, and the test times out rather than segfaulting.  Looks like the issue is in main_common.cc?

Following the repro instructions works though.
source/common/stats/thread_local_store.cc:19] assert failure: shutting_down_
under  source/exe/main_common.cc:85

Looks like hopefully an easy fix

[2017-12-20 16:12] mattklein123 commented on #2240
This is further fallout from the change to not eat exceptions inside main_common. I think this is likely a similar issue to one @junr03 is debugging / was talking to @htuch about. @junr03 can you sync with @alyssawilk on this so we don't duplicate work?

[2017-12-20 16:14] mattklein123 commented on #2241
@htuch do you mind taking a look a this when you are back from vacay?

[2017-12-20 16:15] mattklein123 commented on #2230
OK going ahead and closing. Thank you.

[2017-12-20 16:15] #2230 closed

[2017-12-20 16:17] alyssawilk commented on #2240
Ah, I didn't get farther than that.  Happy to let @junr03 take it given prior context.

[2017-12-20 16:23] lavagetto commented on #2181
The build process depends on the checkout being a git repository indeed - stumbled upon the same problem myself.

[2017-12-20 16:23] mattklein123 commented on #1451
@jippi http_proxy is orthogonal to CONNECT. Envoy does support basic http_proxy support, but it's on by default. See the "allow_absolute_url" option here: https://www.envoyproxy.io/docs/envoy/latest/api-v1/network_filters/http_conn_man (and similar v2 option).

What is not supported is DNS lookup for previously unknown backends. This is tracked in https://github.com/envoyproxy/envoy/issues/1606.

[2017-12-20 16:25] mattklein123 commented on #2181
The main need is here: https://github.com/envoyproxy/envoy/blob/master/bazel/get_workspace_status

It should be possible to alter that script to work without git and feed in the versions, etc. from a file (or something). I'm not sure what other git needs bazel has, if any.

[2017-12-20 16:33] lavagetto commented on #2180
I did rewrite the build process to fit our own docker build system (you can see the results here https://github.com/wikimedia/operations-docker-images-production-images/blob/master/images/envoy/envoy_build.sh)

so I have control on setting the http proxy as part of the build process.

I can get past that point in `do_ci.sh`, but I still get an error here:
[code]
it seems that somehow the content o

[2017-12-20 17:22] junr03 commented on #2240
Yes, this is related to the issue I faced earlier in the week.

In general, we provide no config checks for the existence of xDS sources, i.e we don't enforce the presence of a cluster (for api_config_source), or the presence of a file (for the path config source). Thus we face runtime exceptions later.

[2017-12-20 17:51] taiki45 commented on #1975
I'll take this one. I'm just thinking using environment variable will be more extendable way and won't change current behavior until specified the same config as before. So how about adding new field to TagSpecifier message:

[code]

Then Envoy will getenv with the env var and add the returned value. If no tag_value is specified, find from TagNames and add default regex for backward compat (curren

[2017-12-20 22:38] jmarantz opened #2246 "admin page could be a little more user-friendly"
*Description*:
The admin page has some nice functionality in it, but could be trivially made much easier to use:

- all commands should be links
- mutating commands should be a POST so a crawler doesn't alter state (or quit)
- stats could be just delivered as text rather than html (changing content-type)
- simple table layout

optionally it could be css-styled but just having it be functional woul

[2017-12-20 23:15] 9len opened #2247 "Feature Request: add support for various Thrift protocols"
This is a general issue for adding support for various dialects of Thrift:

- [Apache Thrift](https://thrift.apache.org/)
- [Fbthrift](https://github.com/facebook/fbthrift)
- [Finagle Thrift/TTwitter](https://twitter.github.io/finagle/guide/Protocols.html)

Ideally we would have some visibility into methods called and exceptions thrown, similar to URIs and response codes in HTTP.

@bierbaum has vo

[2017-12-21 01:42] jamiely commented on #99
The comparison is now at https://lyft.github.io/envoy/docs/intro/comparison.html for those coming from search engines.

[2017-12-21 04:58] mattklein123 commented on #2246
@jmarantz this sounds interesting but FYI I think the vast majority of people use the CLI on localhost via curl/grep/etc. We will need to retain the current purely text based output. Having a browser friendly output also sounds interesting but I think that should be opt-in or maybe even accessed over a differently configured admin port.

[2017-12-21 04:59] mattklein123 commented on #1244
@trabetti I'm not sure I follow. You would probably leave a stream open and then periodically flush to it via async timer. There shouldn't be any other threads.

[2017-12-21 05:34] mattklein123 commented on #1975
@taiki45 this sounds reasonable to me, but if we are going to add additional tag filling options, I would also support direct string add in addition to pull from env variable. I think some (most?) people would just specify the fixed tag directly in the config.

@mrice32 WDYT?

[2017-12-21 08:00] taiki45 commented on #1975
@mattklein123 I'm also thinking about supporting fixed string or not. I'll do that.

[2017-12-21 12:55] jmarantz commented on #2246
What I was thinking was not to change the response body at all for any existing handler, but just to add a new "/" handler which would generate HTML.  I'd leave the fallback as is.

I was thinking I'd change the content-type header in the other responses because it's currently text/html and it would look a lot better in browsers if it were text/plain, or in the case of json it should be applicatio

[2017-12-21 15:16] jmarantz commented on #2246
As I dig deeper I find that it's not easy to set content-type or caching policy on admin responses because that's not in the definition of HandlerCb in https://github.com/envoyproxy/envoy/blob/master/include/envoy/server/admin.h .  I'm not sure if it's feasible to change that interface; there are only a couple of usages in Envoy src, but it look like having an admin-handler only return text and st

[2017-12-21 15:34] rosenhouse commented on #1764
Thanks all!

[2017-12-21 15:34] #1764 closed

[2017-12-21 15:41] mrice32 commented on #1975
@mattklein123 absolutely.  At Google, we will use the fixed string in the config rather than the environment variable.

[2017-12-21 17:55] ggreenway commented on #1975
If this uses an environment variable, I believe this would be the first case that envoy looks at the environment at all.  I think it would be preferable to put it in the config or on the commandline, for consistency with how everything else in envoy is configured.

[2017-12-21 19:50] zuercher opened #2250 "response set-cookie support"
I find myself wanting to generate HTTP response headers for the "Set-Cookie" header. This works well enough with static data, but in actuality I want the cookie's value to be a piece of metadata from an upstream host.

Response headers currently only support this when the entire header value is the metadata.

I think there are two ways to accomplish what I want.

1. Allow the %-bracketed expressio

[2017-12-21 21:02] derekargueta commented on #2144
@mmiranda96 that route is used in the `zipkin-tracing` example in which the service envoys run a listener on port 9000 - a little confusing IMO but you can see it referred to in the `zipkin-tracing`'s Docker-compose
[code]

I'd like to put up a PR cleanly separating/restructuring these examples if @mattklein123 thinks it's appropriate. I too was confused on what that `/trace` route was for.

[2017-12-21 21:03] derekargueta commented on #2139
@mattklein123 I'd be happy to work on this. Since the V2 examples can be expressed in various ways - static config, semi-static, or completely dynamic with either streaming JSON or gRPC, is there any preference on what examples to demonstrate?

[2017-12-21 21:38] taion809 opened #2251 "Lua unresolved symbol: lua_checkstack"
*Lua unresolved symbol*: receiving an error loading a lua module `lrexlib`.

*Description*:
I'm trying to use the lua filter (fully understanding its experimental).  One of our users requires the use of libpcre but we're running into issues including the lrexlib lua library

*error*:
[code]

The script in question could be summarized as
[code]

[2017-12-21 21:42] htuch commented on #2250
I think we would prefer (1) at Google; we do need the %-bracketed expressions anywhere support for other reasons.

[2017-12-21 21:53] alyssawilk commented on #1285
Given #1929 took longer than expected I'm probably not going to be able to pick this one in up in the near future.

[2017-12-21 21:55] alyssawilk commented on #1929
@surki The behavior that you asked for should work now if you want to play around.

2 more follow-up PRs but they're for gentle failover in the case there's more than one endpoint per priority set.

[2017-12-21 23:21] zuercher opened #2253 "support higher granularity weighting in WeightedCluster"
Currently [weighted clusters](https://www.envoyproxy.io/docs/envoy/latest/api-v2/rds.proto.html#envoy-api-msg-weightedcluster) must have weights that sum to 100. This limits the minimum percentage of traffic that can be sent to a weighted cluster to 1%.

We'd like to be able to select weights less than 1% (in addition to finer control than 1% increments).

It seems that the existing total weight l

[2017-12-21 23:49] mattklein123 commented on #1244
I would probably do a streaming admin filter, as admin has full access to the server/stats store and filters do not.

[2017-12-21 23:50] mattklein123 commented on #2246
Nope, nothing about admin is currently defined via proto (though we would like to change that). Go wild!

[2017-12-21 23:52] mattklein123 commented on #1975
Initially I had the same reaction about env vars as @ggreenway did, but then I thought about it and I'm OK with it if people want it. I think in certain cases supporting env var interpolation might be convenient for people. This case comes to mind, as does logging/dynamic headers.

I don't really feel strongly about it though if there is strong objection. I think as long as it is clearly documente

[2017-12-21 23:56] mattklein123 commented on #2144
@derekargueta Thank you! That would be awesome. Any/all help appreciated with the examples.

[2017-12-21 23:57] mattklein123 commented on #2139
@derekargueta awesome! Really appreciate the help. TBH, I would start by just converting the existing v1 examples that we have to v2 as-is, then we can look at adding new ones. The existing examples are:
https://github.com/envoyproxy/envoy/tree/master/configs
https://github.com/envoyproxy/envoy/tree/master/examples

The goal I think would be to convert them all to YAML and lose the JSON.

[2017-12-21 23:59] mattklein123 commented on #2251
Hmm. I'm going to guess this has something to do with either LuaJIT or the fact that we statically link LuaJIT, but I'm not really sure. I'm not going to have time to look into this for a while, so will mark this help wanted in case any Lua experts have an idea.

[2017-12-22 00:00] mattklein123 commented on #2250
Big +1 for (1). I think that sounds like a generally very useful thing to have.

[2017-12-22 00:18] mattklein123 commented on #2253
@zuercher +1. Unfortunately we've (I) done a poor job of being consistent about random chance %. In some places it's out of 100, in some places out of 10,000. Anyway, this sounds like a reasonable proposal to me.

[2017-12-22 01:40] mattklein123 opened #2257 "lightstep tracer crash during shutdown"
[code]

@rnburn FYI ^. I haven't debugged this yet but just opening the issue as we just saw an instance of this in prod. I will do some more analysis over the next couple of days.

[2017-12-22 02:24] rnburn commented on #2257
Haven't figured out yet what caused this, but it looks like the sequence of events were
1. A request was sent to the lightstep collector [lightstep_tracer_impl.cc:55](https://github.com/envoyproxy/envoy/blob/master/source/common/tracing/lightstep_tracer_impl.cc#L56).
2. A response was received from the collector calling [LightStepTransporter::onSuccess](https://github.com/envoyproxy/envoy/blob/mas

[2017-12-22 03:06] mattklein123 commented on #2257
That's not quite the sequence. Here is what happened.

1. The server is shutting down.
2. A worker is shutting down.
3. There is an inflight trace GRPC.
4. It gets canceled.
5. The async client basically returns a 503 "response"
6. The driver attempts to parse this, throws an exception, then we call onFailure.

The issue is actually a TLS lifetime issue. TLS slot entries are in destructed in rever

[2017-12-22 03:13] rnburn commented on #2257
Yes, will put in a fix.

[2017-12-22 03:58] ramaraochavali opened #2259 "Request Retry Does not exclude Host where the original request failed"
When Request Retry is configured and the request fails at a particular host, with the current implementation of Envoy, the retry path goes through the normal load balancing path and pick the same host again where the original request failed. Ideally it would be good to exclude the host where  the original request failed while retrying. This would increase success rate of the request.

Please see t

[2017-12-22 04:21] taiki45 commented on #1975
For consistency, I actually slightly felt the same thing when I thought about error handling of missing environment variables: since Envoy has put configuration in the config file or on the commandline, the missing environemnt variables error might be a little bit confusing.

Then I'm thinking about passing default tags as commandline args like `--stats-tag=service_cluster:local --stats-tag=my_tag

[2017-12-22 04:58] shukitchan commented on #2251
Your are using the lrexlib external library inside your lua script
http://rrthomas.github.io/lrexlib/manual.html
It is common for people to use this to do some string matching.

I am still trying to play with envoy lua but I think at this point it simply look for the library from a fixed location. So I guess you can simply compile lrexlib and make sure the generated shared object library is in /us

[2017-12-22 09:04] ikruglov commented on #2259
I'm also interested in this feature.

[2017-12-22 10:43] cs224 commented on #2180
Thank you very much for investigating this!!

[2017-12-22 12:53] pschultz commented on #1451
Please note that the default Go HTTP client [looks at HTTP_PROXY for HTTPS requests](https://golang.org/pkg/net/http/#ProxyFromEnvironment). HTTPS_PROXY takes precedence, but if that's empty HTTP_PROXY is in effect. This means we cannot blindly set HTTP_PROXY to an Envoy listener for all clients right now.

We currently work around this by replacing the Proxy function in the http.DefaultTransport

[2017-12-22 13:07] pmsousa opened #2262 "Examples front-proxy fails to build due to Flask"
Hi,

When building the example Front-Proxy the Step 6 in the Dockerfile-service (RUN pip3 install -q Flask==0.11.1) fails:

Step 6/11 : RUN pip3 install -q Flask==0.11.1
 ---> Running in b66bfce3d782
*** Error compiling '/tmp/pip_build_root/Jinja2/jinja2/asyncfilters.py'...
  File "/tmp/pip_build_root/Jinja2/jinja2/asyncfilters.py", line 7
    async def auto_to_seq(value):
            ^
SyntaxErro

[2017-12-22 14:04] jippi commented on #1606
This would be amazing feature to have

[2017-12-22 15:14] pmsousa commented on #2262
Reviewing the build log, I've noticed the Pyhton and pip versions:

Step 5/11 : RUN python3 --version && pip3 --version
 ---> Running in 7dcd8319f9ad
Python **3.4.3**
pip **1.5.4** from /usr/lib/python3/dist-packages (python 3.4)

asyncsupport.py and asyncfilters.py can only be imported on Python 3.5+!

This support (newer version of Phyton) should have been added at this previous step:

**Step 3/

[2017-12-22 15:36] taiki45 commented on #2239
I'm working on this. I'm thinking just simply put `VERSION` file of which content is `1.6.0.dev`, then read that in build phase. WDYT?

[The first try](https://github.com/taiki45/envoy/commit/479c4636a2b0fe55a41da07ccb10dbe9b7ba98b4) is using `bazel/get_workspace_status` but [it seems bazel only supoprt specific keys](https://github.com/bazelbuild/bazel/blob/3d1a194ff9e76f25f1a7242ff2d021523ba8e4a

[2017-12-22 16:21] pschultz opened #2263 "Invalid Prometheus metric names"
With at least one TLS cluster enabled Envoy produces invalid output on the /stats?format=prometheus endpoint, such as this one:

[code]

Dashes are not allowed. The cipher suite should be put in a label instead, e.g.
[code]

*Repro steps*:
- launch Envoy with config below
- send at least one request to the L1 listener: `curl -I localhost:8080`
- request /stats?format=prometheus on the admin listen

[2017-12-22 17:05] mattklein123 commented on #1975
Sure, CLI SGTM and per @ggreenway I think fits better with that Envoy typically does. If this works for you we can skip env var until if/when someone really needs it. If you add the CLI support, the values can just be passed to the stats store on startup.

[2017-12-22 17:22] mattklein123 commented on #2239
Honestly I would probably just hard code it in the code and we can bump it in each release:
https://github.com/envoyproxy/envoy/blob/master/source/common/common/version.h

You could add a new member there called `release_version` or something like that, or potentially rename some of those variables to be more clear.

[2017-12-23 13:26] taion809 commented on #2251
Hello,
So I was able to fix this by adding `-Wl,-E` to the list of linker options.  I do not have a good explanation of why this works only that it does work in my case 🤔

[2017-12-23 19:37] shukitchan commented on #2251
Sorry i misunderstood the original problem a little.
The reason for the need of the above linker options are also somewhat explained here, too -
https://github.com/zdevito/terra/issues/6

[2017-12-23 20:00] mattklein123 commented on #2251
Yeah, this has to do with static linking and the fact that the Envoy binary needs to export the symbols that the SOs need. @taion809 can you potentially do a doc update? https://github.com/envoyproxy/data-plane-api/blob/master/docs/root/configuration/http_filters/lua_filter.rst (Maybe an attention at the top). It would probably be worth it to make the link option settable via a bazel option and do

[2017-12-24 16:23] taion809 commented on #2251
@mattklein123 sure, could you assign it to me and ill look at it next week?

[2017-12-24 22:59] mattklein123 opened #2267 "Evaluate other consistent hash LB algorithms"
As discussed in https://github.com/envoyproxy/envoy/pull/2266, Ketama does not perform well at very large ring sizes due to how long it takes to build the ring. We should benchmark/investigate and also possibly implement:
1) Maglev: https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/44824.pdf
2) Tiered/Skeleton rendezvous: https://en.m.wikipedia.org/wiki/Rendezvous_has

[2017-12-24 23:00] mattklein123 commented on #2251
@taion809 done, thank you!

[2017-12-25 08:51] dio opened #2268 "router: Early assertion or set a default value for `headers.Path()`"
**Early assertion or set a default value for `headers.Path()`**

**Description**

While playing with `cm_.httpAsyncClientForCluster().send()`, as a beginner, I found that the message's header of `send()` needs to be provided by values at least for keys in these assertions: https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L292-L295.

However, if we don't set the messag

[2017-12-25 11:48] htuch commented on #2268
I would vote for just adding better documentation and/or moving the assertion earlier. A default path probably isn't very useful, as it's probably rare that filter authors want to just hit this up.

You could also introduce a factory for `Http::Message` that makes it convenient to set path/method/scheme. Less boiler plate is always good.

PRs welcome!

[2017-12-25 21:16] mattklein123 commented on #1728
I think this is fixed per linked PR.

[2017-12-25 21:16] #1728 closed

[2017-12-25 21:17] mattklein123 commented on #1190
I believe this TODO is gone per @alyssawilk so closing.

[2017-12-25 21:17] #1190 closed

[2017-12-25 21:42] mattklein123 commented on #2268
+1 for more docs. In general, I would like to move to a world where filters only access Envoy via the `Api` interface (which would be provided off of the filter callbacks). We are very far from that now but it would be good to start making progress. This would allow us to more easily support loadable modules and shield filters from internal code changes.

[2017-12-25 21:57] htuch opened #2269 "Bootstrap proto field overrides via CLI"
In various places, e.g. node ID/locality, stags tags (https://github.com/envoyproxy/envoy/pull/2264), we have adhoc CLI flags to override fields in the bootstrap (or that could exist there).

It would be generally useful to be able to have a flag that could do this generically, e.g. `--bootstrap-override stats_config.extra_tags=some_tag:some_value`. The idea is that you specify some path to the fi

[2017-12-27 04:45] #1941 closed

[2017-12-27 05:29] jmarantz opened #2271 "Mac CircleCI tests are flaky"
*Description*:
Periodically the mac tests fail, and a PR close/open cycle can be used to re-run.  The test that failed for me most recently was:

[code]

I don't know which of the codec_client_test methods fail, or how to see the contents of test.log.  I've also tried to re-run with various sanitizers at Google and haven't been able to repro the problem yet.

*Relevant Links*:

Here's a CircleCI f

[2017-12-27 05:38] jmarantz commented on #2271
Dug deeper into log and found this test-method failed:

[code]

[2017-12-27 05:46] mattklein123 commented on #2271
If anything I think they have gotten flakier lately. @zuercher do you mind looking into this next week?

[2017-12-27 19:33] #2246 closed

[2017-12-28 00:48] htuch commented on #2200
If we make the Google gRPC client a configurable alternative to the inbuilt client, we should probably align with the connection/call credentials scheme supported there, see https://grpc.io/docs/guides/auth.html.

[2017-12-28 07:25] arifsetiawan opened #2275 "gRPC-JSON Transcoder did not response with 504 when route timeout reached"
**Issue Template**

*Title*: *gRPC-JSON Transcoder did not response with 504 when route timeout reached*

*Description*:

.proto
[code]

Golang server
[code]

Envoy version
[code]

Envoy config
[code]

If I tried with Node.js grpc client
[code]

I will get following error message after several seconds
[code]
I think is coming from Envoy because of route timeout setting.

If I use curl to access HT

[2017-12-28 20:51] genioshelo opened #2277 "Add support for adding externally owned data into Envoy's buffer."
The current evbuffer implementation of Buffer::Instance does not have an API to pass a pointer to externally owned data into the buffer in order to avoid copying. Evbuffer has `evbuffer_add_reference` which allows this functionality, but the Instance interface needs to be modified to take advantage of this.

[2017-12-28 20:56] htuch commented on #2277
+1, maybe introduce a `add_reference` method to `Buffer` and we can achieve this. FTR, this is needed to support filter's that manage their own memory with zero copy, e.g. a cache filter.

[2017-12-29 01:30] mattklein123 commented on #2277
Note that I would like to completely replace evbuffer with our own buffer class. That is tracked here: https://github.com/envoyproxy/envoy/issues/232

[2017-12-29 01:53] mattklein123 commented on #2275
@lizan you mind taking a look at this when you have a few moments?

[2017-12-29 01:59] jayed opened #2278 "Link to Envoy's dependencies 404s"
**Issue Template**

*Title*: *Link to Envoy's dependencies 404s*

*Description*:
As the title says, [dependencies](https://www.envoyproxy.io/docs/envoy/latest/install/requirements) is a 404.

[2017-12-29 03:13] #2278 closed

[2017-12-29 05:10] hausdorff opened #2281 "Run DCO checker with commit hooks"
*Title*: *Run DCO checker with commit hooks*

*Description*:
CONTRIBUTING.md [specifies](https://github.com/envoyproxy/envoy/blob/52c6a17616e95c999b165f6700c0ff1ed6fb9d57/CONTRIBUTING.md#dco-sign-your-work) that commits should contain a DCO signoff. It's easy to forget this, and a pain to rebase when you do commit.

A better option is to automatically signoff using git's commit hooks API.

Mesos u

[2017-12-29 05:12] htuch commented on #2281
Is it possible to do this server-side on GH to avoid the need to run bootstrap locally?

[2017-12-29 05:12] mattklein123 commented on #2281
Unfortunately not.

[2017-12-29 05:13] mattklein123 commented on #2281
Adding script that sets up a local hook sounds like a great opt-in thing to me. It can run check-format also.

[2017-12-29 05:18] hausdorff commented on #2281
@mattklein123 Just so I understand: are you saying that it's not possible to have (say) a mergebot that has write permissions modify the commit message to modify the commit message (_e.g._, for a scenario like this) before merging? If so I'm very surprised. That seems like it should be possible.

@htuch I am definitely not anything approaching a lawyer, but it seems to me that the point of DCO che

[2017-12-29 05:19] htuch commented on #2281
I wasn't suggesting automating the actual DCO :) Just having a server-side check to ensure DCO was present before allowing a push to complete.

[2017-12-29 05:21] hausdorff commented on #2281
Got it, sorry for the confusion.

[2017-12-29 05:23] mattklein123 commented on #2281
Yes it's possibly to have a bot as a test, but that's what we have already. We have the DCO bot, the format bot, etc. GitHub does not allow generic pre-commit hooks server side.

I think the client-side hook would be a good thing to have as it would save people time who forget to fix format, forget DCO, etc.

[2017-12-29 05:25] hausdorff commented on #2281
Ok I'll put together a simple PR soon.

[2017-12-29 05:28] mattklein123 commented on #2281
Awesome! Thank you.

[2017-12-29 19:22] hausdorff commented on #1813
Following up from the [slack conversation](https://envoyproxy.slack.com/archives/C78HA81DH/p1514469439000093) I'll pick this up.

[2017-12-29 19:52] hausdorff commented on #1813
As far as I can tell, `tracing.client_enabled` and `tracing.global_enabled` are also only captured in the runtime. Does it make sense to add them to `tracing.proto`, too?

[2017-12-30 02:33] #2257 closed

[2017-12-31 05:16] #2281 closed

[2018-01-02 16:14] ggreenway commented on #2259
I agree that it would be better to not use the same host again.

But one mitigating factor to keep in mind is that the outlier detector can be configured to remove the offending host after some number of failures.  That is good enough in some cases.

[2018-01-02 20:50] saumoh opened #2291 "New Feature: Authz filter support in Envoy"
## Authorization (authz) filter support
Add support for external authorization service network and http filters.
## Description
With merge of [external_auth.proto](https://github.com/envoyproxy/data-plane-api/blob/master/api/auth/external_auth.proto),  [network external_auth config](https://github.com/envoyproxy/data-plane-api/blob/master/api/filter/network/ext_authz.proto) and [http external_auth

[2018-01-02 20:52] saumoh commented on #2291
cc @mandarjog @spikecurtis @mattklein123 @htuch @wora

[2018-01-02 22:15] mandarjog opened #2294 "New Feature: Sandboxed lua scripts"
*Title*: *Sandboxed Lua scripts*

*Description*:
At present lua script execution is not sandboxed.
Specifically  A script can
1. go into an infinite loop.
2. access file system
3. use a lot of CPU

We should be able to run lua in untrusted mode when desired to support
1. Multi tenancy
2. An Authz server can return a lua script as a cache condition. In order to not trust the  authz server beyond ma

[2018-01-02 22:15] mandarjog commented on #2294
@htuch @mattklein123

[2018-01-02 22:37] #2240 closed

[2018-01-02 22:42] mattklein123 commented on #2294
@mandarjog I think it's going to be almost impossible to offer fully sandboxed/safe Lua. AFAIK LuaJit does not offer any capability to interrupt after X instructions or whatever, which I think is what you would need to implement this for real.

Anyway, marking help wanted if someone would like to explore this.

[2018-01-03 00:48] lizan commented on #2275
Thanks for reporting @arifsetiawan, I believe it is a bug in transcoder filter and I will fix it soon.

[2018-01-03 02:12] wora commented on #2291
gRPC does not use query or fragment according to the current spec, so these fields must be empty.

We originally decided to keep fragment just to be compatible with URL spec, so we can log the full URLs. I don't think we should support applying authz on fragment. If we prefer to simplify the API, we could even drop it from the proto definition.

[2018-01-03 03:24] jmarantz opened #2296 "admin HTML could lead a crawler to mutate server state"
*Description*:
Crawlers running on an internal network my find the admin port and visit all the a-tag links, some of which mutate state.  /quitquitquit in particular.  The admin page should be changed to reference mutating state in a form that POSTs.

[2018-01-03 04:09] jmarantz opened #2298 "'./tools/check_format.py check' should print file & line-number of violations"
*Description*:
Currently it prints only filenames, not line numbers, which makes it harder to quickly fix problems.

E.g.
ERROR: ./source/server/http/admin.cc has over-enthusiastic spaces

[2018-01-03 05:06] mandarjog commented on #2291
Yes, let’s just drop ‘fragment’

[2018-01-03 10:52] baranov1ch commented on #369
I'm going to work on this in a following couple of weeks

[2018-01-03 11:20] ikruglov opened #2300 "more granular 5xx retry policy"
(cross-posting from [envoy-users](https://groups.google.com/forum/#!topic/envoy-users/lFCtyGZa3QU) for tracking an issue)

What do you guys think about having more granular retry policy rather than just 5xx?

The motivation behind this post is that:
1) we use nginx + uwsgi at $work.
2) setting 5xx as default retry policy is not safe due to possible non-idempotent requests: did data arrive on the s

[2018-01-03 11:42] #2234 closed

[2018-01-03 17:35] ggreenway commented on #2300
I think configurable policy makes sense.  It's also worth considering whether the request is idempotent or not, and allowing configuration based on that.

[2018-01-03 17:36] mattklein123 commented on #2300
Note the policy is already configurable, we just need to add additional configuration options. It's quite easy to add new retry policy types so I marked this issue help wanted/beginner.

[2018-01-03 18:06] saumoh commented on #2291
@wora how about the query? can the authz server side extract it from the path? (I'll confirm that it's available in the path).
Also, do you foresee using [size](https://github.com/envoyproxy/data-plane-api/blob/893d6eae1f82f8e052706f6fd9e1b9cfe3689be2/api/auth/external_auth.proto#L116) in an authorization check. It's not really informative as it, i think, represents the client side request size an

[2018-01-03 18:36] wora commented on #2291
The concept of path and query are defined by URL spec. It is better for us to follow established spec.

The size is not useful for authz check, but it is very useful for auditing. One experience I can share is the first feature enterprise customers ask is audit. No authz system will be put into production without auditing. For auditing, a few human friendly attributes should be recorded, even they

[2018-01-03 19:03] #2296 closed

[2018-01-03 19:38] #2120 closed

[2018-01-03 19:49] mattklein123 opened #2305 "http/2: further analysis of GOAWAY/draining behavior"
See this comment thread: https://github.com/envoyproxy/envoy/pull/2295#discussion_r159440920

cc @alyssawilk

[2018-01-03 19:51] mattklein123 commented on #2305
Also related to https://github.com/envoyproxy/envoy/issues/1572.

[2018-01-03 20:14] jmarantz opened #2306 "git push checker uses potentially incompatible clang-format"
*Description*:
When you set up bootstrap, a pre-push check is installed which calls whatever clang-format is in the environment, which might not be compatible with the Envoy style.

We should be able to override the checking to employ docker or some other mechanism to keep the toolchain under control.

[2018-01-03 23:25] rkucheka commented on #779
Hi @kflynn , just wondering if there is any update here.

[2018-01-04 00:35] mattklein123 commented on #2263
Fixed

[2018-01-04 00:35] #2263 closed

[2018-01-04 03:08] zuercher commented on #2271
Looks like it's two separate things. One is a timing bug similar to what we used to see in connection_impl_test, which is fixable with the same scheme of blocking dispatcher invocations with callbacks that cause an exit.

The second bit is that, sometimes, OS X seems to burp out an extra read event, which causes an extra invocation of `ConnectionImpl::onRead`. It presents the `Http::CodecClient` w

[2018-01-04 06:39] mattklein123 commented on #2305
@alyssawilk yeah for high RPS cases the race condition is still there. I'm going to do further fixes in this area. Probably #1572 first.

[2018-01-04 11:46] JonathanO commented on #2300
I think including the 504 in the retry policy would not only be redundant, but potentially unsafe in similar use-cases to yours, as it could retry non-idempotent requests without knowing whether or not the origin actually started processing them before the timeout.

[2018-01-04 12:04] JonathanO commented on #1979
I've also got this problem, and it's might not be as easy to fix as adding a new retry policy for upstream reset.

Adding an upstream reset policy would also retry on cases where processing of the request has actually been started by the upstream, but something killed the connection (or the upstream died) before the response was fully sent. This could lead to reprocessing non-idempotent requests,

[2018-01-04 14:53] alyssawilk commented on #2305
Aww, I was hoping for your sake your PR would fix your immediate problem.

So I'm sure that issue captures enough state for you, but I'm still not clear on what the actual plan is =P.  My clarifying question for you, is if the improvements over there are useful long term changes to x-envoy-immediate-health-check-fail or are they workarounds to downstream-Envoy not having proper GOAWAY-health inter

[2018-01-04 17:18] mattklein123 commented on #2305
It turns out that my change did not actually get deployed (I thought it did). So I will need to wait and see what the effect is. If it doesn't work, my plan was a two-pronged approach:
1) Change how drain/lame-duck works slightly to allow a delay period in which x-envoy-immediate-health-check-fail is sent, but we aren't actually draining connections. This would smooth over the Envoy mesh case very

[2018-01-04 17:21] mattklein123 commented on #1979
Yeah, in general we have ignored idempotency in Envoy to date. The reason for this is no matter what various standards say, application developers ignore them, and I don't believe that Envoy can ever truly know if a request is idempotent or not. This is why all retries are off by default and we ask users to pick the policy that suits them.

I'm not opposed to adding standard idempotency logic into

[2018-01-04 18:18] #1929 closed

[2018-01-04 21:36] #2271 closed

[2018-01-04 22:50] #2277 closed

[2018-01-05 01:28] brian-pane opened #2315 "Support hard-coded HTTP responses"
*Description*:

There are use cases where it is desirable for an HTTP proxy to return a configured HTTP response without proxying to an upstream server.

Some examples:
* If path == `/some_health_check_endpoint`, return a 200.
* If path == `/some_invalid_url_that_clients_are_requesting_nonstop`, return a 404 directly to shield the upstream from overload.

Proposed configuration model:
* Add a new

[2018-01-05 01:29] brian-pane commented on #2315
I can contribute an implementation for this.

[2018-01-05 13:57] dnoe commented on #2315
@genioshelo might be interested in this.

[2018-01-05 16:31] genioshelo commented on #2315
Isn't this already possible to do with a filter? Just needs to set the ":status" header on the response.

[2018-01-05 16:59] mattklein123 commented on #2315
It can definitely be done with a filter, but IMO this is a pretty useful core feature to have and I'm in favor of adding it natively to the router since it's relatively simple.

[2018-01-05 17:55] saumoh commented on #2291
@mattklein123 @htuch Does the section on the when the TCP filter will be invoked sound ok to you folks. thx.

[2018-01-05 18:14] mattklein123 commented on #2291
@saumoh yes sounds fine, note that the connected event for server connections is not raised for non-TLS connections so you will need to handle both cases (this is legacy behavior due to how libevent bufferevent works).

[2018-01-06 20:18] wora commented on #2200
In addition to auth, do we care about load balancing and other settings?

[2018-01-07 16:13] tschroed commented on #2200
I'm uncertain how LB, etc. would interact with auth. Can you say more?

[2018-01-08 10:59] JonathanO opened #2324 "Add idle timeout for upstream connections"
If a request is sent to an upstream just after the Keepalive timeout has expired Envoy will detect this as a reset connection. #1979 suggested adding a retry to handle this case, however there is no safe way to retry reset connections, since we have no indication of whether or not the upstream started processing the (possibly non-idempotent) request.

To avoid this scenario, we should add the abil

[2018-01-08 18:38] alyssawilk opened #2325 "Full 100 continue support"
Alas we have some upcoming users of Envoy who want "proper" 100 continue support, where Upstream gets to decide how to handle the Expect; 100-continue header rather than having the proxy strip it.

This would likely be a configured option (off by default to preserve existing behavior) where the Expect-100-continue would be proxied upstream and Envoy could handle getting both sets of response heade

[2018-01-08 18:41] mattklein123 commented on #2325
Joy. :)

@alyssawilk per our previous conversation, my recommendation is to not expose 100-continue as the first of two decodeHeaders calls. I think this will turn into chaos. I would personally just add a new filter callback that most filters can ignore.

[2018-01-08 18:42] alyssawilk commented on #2325
+1, I (still) like that plan much better than handling multiple response headers everywhere.

[2018-01-08 20:22] #2239 closed

[2018-01-08 20:29] thekalinga commented on #96
I have created an issue as part of cert-manager.

Since cert-manager has integration for nginx & haproxy, anyone with back sufficient background (I dont have) should be able to add support for envoy aswell

https://github.com/jetstack/cert-manager/issues/238

[2018-01-08 20:39] thekalinga commented on #96
I dont have an external facing webapp I can point to right now. Can anyone test this & confirm

https://github.com/jetstack/cert-manager/issues/238#issuecomment-356087451

[2018-01-09 00:12] lizan opened #2327 "//test/integration:access_log_integration_test is flaky"
*Description*:

//test/integration:access_log_integration_test is TIMEOUT in a few runs per large runs.
Discovered when I was trying to reproduce https://circleci.com/gh/envoyproxy/envoy/16714

*Repro steps*:

At master (commit 48ebd9fb1467a93107478ea6cc68ea1b064c96b4):

[code]

[code]

*Config*:
N/A

*Logs*:
N/A

*Call Stack*:
N/A

[2018-01-09 00:25] mattklein123 commented on #2327
I will look at this.

[2018-01-09 00:33] lizan commented on #2327
I was able to reproduce this in a debug run, and got a stack trace:

[code]

[2018-01-09 01:15] #2262 closed

[2018-01-09 01:19] lizan commented on #2327
In `-c opt`:
[code]

[2018-01-09 15:44] htuch commented on #743
Is this done? Should we close out the issue?

[2018-01-09 15:47] htuch opened #2330 "Macros to condition code on log level"
It would be helpful to have some macros to condition code execution on log level. E.g. code that generates input variable `foo` to an `ENVOY_LOG(debug, "{}", foo)` should not need to execute if we're not at a log level that will emit the log message.

There isn't a huge need for this today, but it's a simple warmup exercise for new Envoy contributors.

@mrice32

[2018-01-09 17:19] mattklein123 commented on #2327
@lizan I know what the issue is. Thanks for the stack trace. I will fix.

[2018-01-09 17:21] mattklein123 commented on #743
I was using this to track the work items that I added to the description. There are still some things to finish up.

[2018-01-09 18:59] ldemailly commented on #96
I'll give it a try

[2018-01-09 19:08] mrice32 commented on #1278
@mattklein123 @htuch I'm not sure what the status is on this issue or if this is the right place to discuss this, but we've reached the point where we'd like to use route, listener, cluster, and endpoint metadata in our access logs (I intentionally left out filter chain metadata because I don't think we technically need that right now).  It appears as if endpoint metadata [is already accessible](h

[2018-01-09 19:10] dnoe commented on #1278
I think the merging was more along the lines of the fact that the union of all of the component metadata should make it into the AccessLog proto metadata field, although we were also thinking about a different destination internally for the AccessLog proto at the time.

[2018-01-09 19:13] davidshepard989 opened #2334 "Add support - route to load balancer subsets based on header/url param"
It would be great if you could route to  [load balancer subsets](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing#load-balancer-subsets) based on a header value or url parameter.

Similar to the way you could route based on `cluster_header` in v1 - https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route.html?highlight=cluster_header

[2018-01-09 19:22] mattklein123 commented on #2334
Pretty sure this is already supported? @zuercher ?

[2018-01-09 19:32] mattklein123 commented on #1278
Yeah I don't think we need merging AFAIK, as I think we assume that metadata is effectively namespaced properly by the user. I suppose when we eventually send it out in the access log we will need to reconcile if someone does not namespace correctly, but this could probably be done in the simplest way possible with good docs (i.e., just overwrite).

@mrice32 @dnoe Lyft's main need for metadata in

[2018-01-09 19:38] htuch commented on #1278
My understanding is that we would merge in a very simple way. Imagine the following:

[code]

The merge is:

[code]

i.e. we expect different entities to use different parts of the top-level namespace, but the next nested namespace will have a simple dictionary update (i.e. latest entry wins) merge happen.

[2018-01-09 19:51] mrice32 commented on #1278
@mattklein123 @rodaine Would this mutable metadata be distinct from the other types of metadata for individual components or would we make per-request copies of each of those to allow them all to be modified?

@htuch I think that method of merging makes sense, but would this merging be something that happens within a particular access log implementation?  Or would this merged copy be created autom

[2018-01-09 19:53] htuch commented on #1278
I don't mind either way, the API would be simpler if it was merged automatically but I agree that it's maybe not needed for many cases.

[2018-01-09 19:55] mattklein123 commented on #1278
@mrice32 I think it would just be distinct and then get merged later using whatever merging algorithm we decide on (whether built-in or via utility). Our use case is basically to be able to set metadata values such as:

[code]

etc.

[2018-01-09 20:25] htuch commented on #1278
For reference, here's a Python one-liner for what I had envisaged merge to be:

[code]

E.g.

[code]

[2018-01-09 20:51] mattklein123 commented on #2305
@alyssawilk FYI my change did fix our issues, so I don't have any near term plans to work on this. Will leave this open to track.

[2018-01-09 20:59] htuch commented on #2241
@jvshahid what happens if you `mv` instead of `cp`? I think we're only watching for move events right now, could improve this.

[2018-01-09 21:04] #2327 closed

[2018-01-09 21:08] jvshahid commented on #2241
@htuch i think we tried that initially, but I cannot tell for sure. I will try it again and let you how know if that worked.

[2018-01-09 21:08] mattklein123 commented on #1453
@rodaine can you look at this one also?

[2018-01-09 21:24] ggreenway commented on #2241
I think we should probably also watch for IN_CLOSE_WRITE, and possibly IN_CREATE.

[2018-01-09 22:09] lizan commented on #2327
Thanks!

[2018-01-09 22:17] rodaine commented on #1453
Will do!

[2018-01-09 22:42] mrice32 commented on #1278
Thanks everyone!  I think I'll begin by making the route, listener, and cluster metadata fields accessible via the RequestInfo object, and we can iterate from there.

[2018-01-10 01:31] jmarantz commented on #1824
Hey Matt -- are you still working on this?  Or does it need picking up.  I'm thinking of picking up something in the perf space.

[2018-01-10 09:03] JasmithaMeka opened #2337 "prerequisites to get trace details from java application (spring bootstrap) to Zipkins"
*Title*: *prerequisites to get trace details from java application (spring bootstrap) to Zipkins*

*Description*:
Hi, I'm trying to understand prerequisites to get trace details from java application (spring bootstrap) to Zipkins. I've deployed two Microservices - one as API provider and other as API consumer in K8s cluster with Istio. Envoy is injected into pods. Zipkins is deployed as pod. I did

[2018-01-10 13:25] mattklein123 commented on #1824
@jmarantz I was planning on doing this in the next 2 weeks, but I haven't started yet. If you want to work on it I can assign it over to you. My plan was to basically implement the hash table approach that @ggreenway outlines above (I concur that is the right approach).

[2018-01-10 13:49] JayH5 opened #2338 "REST ApiConfigSource without refresh_delay results in floating point exception"
*Title*: REST ApiConfigSource without refresh_delay results in floating point exception

*Description*:
With Envoy version 1.5.0, when configuring an LDS or CDS v2 REST discovery service in the bootstrap configuration, if the `refresh_delay` parameter is not specified, Envoy will crash and exit with a floating point exception.

I haven't checked if this is also the case with EDS or RDS.

The expec

[2018-01-10 14:54] mattklein123 commented on #2338
Thanks for the report. Someone will fix soon.

[2018-01-10 16:51] mattklein123 commented on #2337
@adriancole @rshriram @fabolive any chance you could answer this question?

[2018-01-10 17:58] rshriram commented on #2337
Getting someone more familiar with Java to answer..

[2018-01-10 18:00] mstrcd opened #2340 "Cluster: hosts only using last configured host in v2 API"
I am trying to configure multiple static cluster hosts using v2 api on v1.5.0.

So far all my testing has shown envoy will only use whichever host is defined last in the list and ignore all others.
I'm not sure if I'm just using the wrong syntax, this is by design (seems unlikely) or there is a bug.

[2018-01-10 19:34] jmarantz commented on #1824
OK, great.  Having noticed the gap in time I just wanted to make sure it was still on your radar.  I'm sure there's plenty of stuff to bite off apart from that.  I'm kind of looking for something that's important and complex, but not urgent.

I agree it sounds like a great approach.  I think that's consistent with this: http://vhanda.in/blog/2012/07/shared-memory-hash-table/

I'm curious as well:

[2018-01-10 19:35] mattklein123 commented on #2340
Something is broken either in the config or in Envoy. Can you supply the full config in a way that is not rich text formatted?

[2018-01-10 19:37] mattklein123 commented on #1824
Yeah this must work with shared memory. You are welcome to work on this if you want. It's not super urgent, but we did experience production problems due to this issue so I was going to fix it.

[2018-01-10 19:37] jmarantz commented on #1824
Yes definitely in shared memory, but with concurrent access to shared memory?

[2018-01-10 19:40] mattklein123 commented on #1824
Yup.

[2018-01-10 20:14] mstrcd commented on #2340
I will also note. I am using the envoyproxy/envoy-alpine:v1.5.0 docker image. And using this command to start it:

Running with "--mode validate", returns that the config is ok.

[envoy.txt](https://github.com/envoyproxy/envoy/files/1620296/envoy.txt)

[2018-01-10 20:19] mattklein123 commented on #2340
I think it needs to be:
[code]

Yay YAML

[2018-01-10 20:29] mstrcd commented on #2340
Yup, that fixed it. Yay, YAML in deed. Thanks.

[2018-01-10 20:29] #2340 closed

[2018-01-10 20:51] jmarantz commented on #1824
OK, I see the shared-mem mutex pattern you use now in hot_restart_impl.h.  Sure; I'll take this one.  If it's cool I'll also use this as an excuse to add https://github.com/google/benchmark so I can measure the benefit.

[2018-01-10 21:18] ggreenway commented on #1824
I suggest adding google/benchmark in a separate PR.

[2018-01-10 21:44] bmadhavan opened #2342 "routing: Adding additional matching conditions and actions."
**Title:**
Add `source cidr` along with existing`path` or `prefix` or `regex` as matching parameters.
Also add `DROP` and `RESET` as a new route action.

**Description:**
1) There are use cases where we would want to allow/deny only certain users ( i.e. certain source CIDR ) from accessing certain high priority services ( i.e. certain paths ).
Example:

        - path: \internal\svc && source-cidr

[2018-01-10 22:02] mattklein123 commented on #1824
@jmarantz assigned it over. Feel free to reach out to myself or @ggreenway if you have any questions.

[2018-01-10 22:03] mattklein123 commented on #2342
@bmadhavan please see https://github.com/envoyproxy/data-plane-api/blob/master/api/auth.proto. My desire is to do all of this functionality in a new auth filter that we will be creating at Lyft this quarter. Can you take a look at that proto and propose changes there? cc @danielhochman @rodaine

[2018-01-10 22:04] mattklein123 commented on #2342
Also, we have no plans to port this work back to v1 config, so if it's possible for you to move to v2 config to consume that would be good.

[2018-01-10 22:07] bmadhavan opened #2343 "Support HTTP redirect with dynamic values from the original request."
*Title*: *Support HTTP redirect with dynamic values from the original request.*

*Description*:
There are use cases where we would want to do a HTTP redirect based on a prefix match but the redirect message would be dynamically determined based on the request message. i.e. change a certain portion of the path but retain the remaining part of path and query string intact.

An example:
For a REQ,

[2018-01-10 22:10] mattklein123 commented on #2063
@jmarantz I'm assigning this over to you also. I'm pretty certain that most of the load time problems have to do with the slow stat implementation, but maybe you can take a look at this also.

[2018-01-10 22:11] mattklein123 commented on #1278
I'm reassigning this to a combo of @mrice32 and @rodaine for reconciling both Google and Lyft needs here.

[2018-01-10 22:14] mattklein123 commented on #1280
Small update here: I started to look at implementing this. I synced up with @PiotrSikora and we are going to make this work contingent on work he is doing to combine plain and TLS listeners into a single listener that is capable of sniffing the TLS client handshake. This will make it much easier to do filter chain matching prior to the connection being actually created.

[2018-01-10 22:22] bmadhavan commented on #2342
Thanks @mattklein123 Sure. I will look into the auth filter and add my proposal.
Also, I just used v1 here but will be moving to v2 & hence I am fine with having support only in v2.

[2018-01-11 00:54] adriancole commented on #2337
TL;DR; This is a basic http controller that isn't even seeing a request ID. Maybe there's some basic configuration setup missing. Maybe refer the person to a chat support avenue if there's no checklist to dole out?

---

So the user is asking why their rest controller presumably invoked from envoy doesn't have trace headers present when viewing an incoming request.

So, I suppose it is a general t

[2018-01-11 02:47] mattklein123 commented on #2343
@bmadhavan sounds reasonable to me. cc @brian-pane who has been also interested in similar features lately. Can you open the data-plane-api PR and we can discuss API design there? Thank you.

[2018-01-11 03:22] davecheney opened #2347 "gRPC configuration example from documentation no longer parses"
*Description*:

The configuration example here, https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#dynamic, and those that derive from it no longer parse due to the change to api_config_source that landed somewhere in the last 6 days.

[code]
This fails because the `google_grpc` or `envoy_grpc` key is not present, which is fine, i'll fix my code, but the example code in

[2018-01-11 03:26] mattklein123 commented on #2347
Sorry about this. We learned a tough lesson today at Lyft also that we can't change names on locked protos. That's what caused this. cc @htuch. (Will be updating guidelines in API to block changes like this in the future).

[2018-01-11 03:44] davecheney commented on #2347
@mattklein123 before I go ahead and change the config that Contour generates, is this change going to be rolled back?

[2018-01-11 03:44] davecheney commented on #2347
Just saw your message on slack. I'll update the code that generates the initial config.

[2018-01-11 03:54] htuch commented on #2347
I don't think we will rollback. I wonder if we can get these doc snippets to validate against the actual live protos to catch future regressions.

[2018-01-11 04:51] JasmithaMeka commented on #2337
@adriancole Thanks for elaborating my query

[2018-01-11 06:17] jmarantz commented on #1824
Thanks Matt.  Related PR for adding a microbenchmark infrasturcture: https://github.com/envoyproxy/envoy/pull/2348

[2018-01-11 07:15] dio commented on #2300
Hi, if it is OK, I want to take this one.

Is adding something like

[code]

inside https://github.com/envoyproxy/envoy/commit/9cf18caabff42204ec3c53c6938173263590bdf5#diff-d58c0249f29ef1a16cc0661e2c56c5d9R171 something that we're looking for?

[2018-01-11 10:38] carlskii opened #2349 "Envoy TLS bridging"
Hi,

This is a getting started question rather than an issue. I'm looking to implement Envoy to secure service-to-service communication between two services. A little bit like this:

![envoy-tls](https://user-images.githubusercontent.com/555399/34821351-549d3196-f6bb-11e7-8286-897cfb4566a3.png)

Could you point me at some examples or documentation that can get me started with this if there is such

[2018-01-11 15:40] mattklein123 commented on #2300
@dio yes, that is roughly correct. This will need doc updates and a new configuration option to turn this on also. I would do the data-plane-api PR for that and we can discuss there. Thank you!

[2018-01-11 18:11] zuercher commented on #2349
I think this is what you want: https://www.envoyproxy.io/docs/envoy/latest/intro/deployment_types/service_to_service.html#deployment-type-service-to-service

[2018-01-11 20:09] mattklein123 commented on #2347
Fixed by https://github.com/envoyproxy/data-plane-api/pull/410

[2018-01-11 20:09] #2347 closed

[2018-01-11 20:16] mattklein123 commented on #2349
Yeah +1 to @zuercher. Envoy has configurable TLS on either the downstream/listener or upstream side of things. E.g., https://www.envoyproxy.io/docs/envoy/latest/api-v2/sds.proto.html#envoy-api-msg-downstreamtlscontext and https://www.envoyproxy.io/docs/envoy/latest/api-v2/sds.proto.html#upstreamtlscontext.

[2018-01-11 21:06] jmarantz commented on #2063
investigating this one first as it has a direct repro.

I am building with -O2 -g -ggdb so it's optimized and somewhat visible in terms of line numbers so cachegrind can get some detail.

My first random peaks at the stack while running though showed a lot of regex overhead as well as stats.

[2018-01-12 02:15] ldemailly commented on #96
got it to work in a maybe not simple enough way (but it's a start)

https://github.com/istio/istio/issues/2310#issuecomment-357122715

even if this solves the kubernetes/istio case, it would be nice to have envoy out of the box on https://certbot.eff.org/

[2018-01-12 04:39] zyf0330 opened #2355 "cannot do TLS Termination with grpc"
*Title*: *Cannot do TLS Termination with grpc*

*Description*:
I use envoy with server cert to receive connection from grpc client with self-signed CA cert, and do TLS Termination, then forward to grpc server without cert. Both server and client use go grpc.
Client gets this error
[code]
, and access log of envoy gives this record with default format
[code]
Where is wrong?

[2018-01-12 05:46] kahootali commented on #2337
@JasmithaMeka I have tried in .NetCore, and printed the Ids, they are being printed.  Maybe you are missing something. Check this.
[Zipkin - Istio Demo](https://github.com/kahootali/Zipkin-IstioDemo)

[2018-01-12 06:16] JasmithaMeka commented on #2337
@kahootali thanks. It would be great if there is a demo in Java.

[2018-01-12 06:26] fizzwu opened #2356 "Statistics not match"
*Title*: *Statistics not match*

*Description*:

stats log part

http.admin.downstream_cx_destroy: 25
http.admin.downstream_cx_destroy_active_rq: 0
http.admin.downstream_cx_destroy_local: 0
http.admin.downstream_cx_destroy_local_active_rq: 0
http.admin.downstream_cx_destroy_remote: 25
http.admin.downstream_cx_destroy_remote_active_rq: 0
http.admin.downstream_cx_drain_close: 0
http.admin.downstream

[2018-01-12 07:11] adriancole commented on #2337
probably we need to get an istio(?) example that uses the normal zipkin
frontend/backend.

https://github.com/openzipkin/brave-webmvc-example

I don't have cycles for this right now, though ideally the istio/envoy
setup really doesn't have any bearing with regards to the language used.

On Fri, Jan 12, 2018 at 2:16 PM, Jasmitha <notifications@github.com> wrote:

[2018-01-12 07:39] JasmithaMeka commented on #2337
Yes. I'm looking for a combination of Istio/Envoy + Zipkins + Java Application (without tracer library) right now.  I'm stressing on Java because for whatever application I am going to implement this is written in Java and it would helpful for me to understand dependencies and correlate easily.

I've also tried using Brave tracer in sample Java application. It works great, I could see traces in de

[2018-01-12 07:48] adriancole commented on #2337
Ok so you actually want a basic java app that isnt traced.. so you want the
same demo as was above (or similar) but instead of a dotnet service a java
one? It would seem strange there is no istio example already out there like
this. Maybe ask directly on an istio forum? I think you can ask more simply
for an istio java example.. maybe look for ray tsang from google's stuff.
Once that is working th

[2018-01-12 07:58] JasmithaMeka commented on #2337
Yes exactly I'm looking for distributed tracing demo on simple Java application (without tracer) .

Thanks

[2018-01-12 16:15] mattklein123 commented on #2355
Sounds like Envoy cannot connect to the upstream host. I would check /stats and /clusters and debug logs for further information.

[2018-01-12 16:16] mattklein123 commented on #2356
This was already fixed: https://github.com/envoyproxy/envoy/pull/2127

[2018-01-12 17:19] mattklein123 commented on #2355
It depends on which gRPC. It varies by library.

[2018-01-12 23:45] brian-pane opened #2361 "Provide current config versions via the admin HTTP interface"
*Description*:

Feature proposal: enhance the HTTP administrative interface to show the versions of all the xDS configurations that Envoy is currently using.

The goal of this is to enable monitoring systems to detect when an Envoy instance hasn't successfully picked up the expected configuration version.

[2018-01-13 00:16] brian-pane opened #2362 "Add filter that computes health check response based on upstream cluster status"
*Description*:
Add a new HTTP filter that responds to incoming health checks (e.g., from a load balancer in front of Envoy) with a 200 if and only if at least X% of the servers in each of a specified list of upstream clusters are healthy.

*Motivation*:
This will be useful in situations where a cluster is starting up (or restarting). For example, if an application cluster contains 1,000 hosts, but

[2018-01-13 00:20] ggreenway commented on #2362
I could see this possibly being another configuration option on the existing hc filter.  This is neither passthrough nor no-passthrough mode.  If that config became an enum instead of bool, this could just be a 3rd value.

[2018-01-13 00:38] brian-pane commented on #2362
Good point; with the current passthrough and cached options, the existing filter already supports two very different modes of operations, so adding a third probably wouldn't hurt.

[2018-01-13 01:12] brian-pane commented on #2342
@mattklein123 are you also planning to support non-auth-related CIDR matching by setting a tag that can be used as a matching criterion in any route entry?

My non-auth-related prefix matching use cases are things like this:
[code]

[2018-01-13 01:33] zyf0330 commented on #2355
I use go grpc

On Sat, Jan 13, 2018, 01:34 Matt Klein <notifications@github.com> wrote:

--

追随

[2018-01-13 01:43] lizan commented on #2355
gRPC does work on h2c, can you share your envoy config as well?

[2018-01-13 01:48] zyf0330 commented on #2355
It is just the ordinary config, use http connection manager as listener and set downstream tls cert with server cert and key.  Can you provide me a example config which can succeed to proxy grpc and do tls termination?

[2018-01-13 02:11] bmadhavan commented on #2342
@brian-pane Actually, we do have the same requirement, but will DROP it in the else case.

[2018-01-13 16:59] mattklein123 commented on #2361
@brian-pane I believe this is a dup of https://github.com/envoyproxy/envoy/issues/2172. I'm going to close this out in favor of that. LMK if that's not the case.

[2018-01-13 16:59] #2361 closed

[2018-01-13 17:01] mattklein123 commented on #2362
+1 on just adding this into the existing HC filter as an option. SGTM.

[2018-01-13 17:07] mattklein123 commented on #1106
In exciting news it looks like @floatingsidewalk over at MSFT would like to take this on. AFAIK, boringssl already supports callouts for key use during handshake. I think this work is mainly about utilizing that support in Envoy and developing the right interfaces/abstractions for plugins.

I would loosely suggest that we offer loadable "HSM" modules that can be plugged in. E.g., a static module c

[2018-01-13 17:20] mattklein123 commented on #2342
@brian-pane our plan on how to do this was to have the IP tagging filter end up setting a header such as `x-envoy-ip-tags` and then do header match routing in the router. We can also consider adding first class tag support to streams (potentially in metadata) if that is interesting. cc @ccaraman

[2018-01-13 22:47] kragniz commented on #2033
I'm pretty sure you can do this only using the github API, I'll have a play around and see if it's possible

[2018-01-14 00:29] brian-pane commented on #2342
Thanks, putting the tag in a custom header sounds good to me, as long as the implementation scrubs that header from incoming requests to guard against malicious clients.

[2018-01-14 00:53] kragniz commented on #2033
It is possible: https://gist.github.com/kragniz/db79fc0695e4c1567a5933e1be306aa2

#2364 was created with this.

[2018-01-14 01:03] kragniz commented on #2033
This is going to create a PR on *every* commit to `data-plane-api`, let me know if that's overly enthusiastic

[2018-01-14 02:11] brian-pane commented on #2362
In the data-plane API PR, I ended up making this feature an extension to the filter's current non-pass-through mode, in order to inherit what seems like a useful property of that mode: if Envoy is draining, the filter can just return a 503, regardless of the health of the upstream cluster(s).

[2018-01-14 04:27] jmarantz commented on #2063
With https://github.com/envoyproxy/envoy/pull/2358 the 10k test is down to 30 seconds, but that still seems quite slow.  kcachegrind reveals that most of the time is in TagExtractor (including called functions), which is doing a lot of string, vector, and regex work.  I'm not sure what's going on yet from a config perspective.  But it does seem like startup should be faster if it can be.

Looking

[2018-01-14 16:42] mattklein123 commented on #2033
@kragniz I will be honest I'm kind of ambivalent about doing this. I don't think lack of auto update has been a big pain point for us (not to mention we would need to find a place to run the bot code). @htuch WDYT? I'm inclined to just close this. (@kragniz sorry that you potentially did work that won't be used, though we will have the gist if we want to go back to this at some point).

[2018-01-14 16:48] mattklein123 commented on #2063
@jmarantz one quick comment is that if tag regex extraction is very expensive, beyond just making it faster, it might be worthwhile to somehow optionally disable it for people that don't care about tags.

Thanks for working on this. It's awesome to have someone looking into this!

[2018-01-14 17:12] htuch commented on #2033
I like the use of GH APIs for this. My main concern is that sometimes the update needs manual intervention (e.g. if some non-frozen field names changes), then you need to do a local PR. I think if you could manually run the script to generate the PR and kick it off when you've made a change it would be a nice convenience.

[2018-01-14 22:40] zuercher commented on #2180
Have you run with `--verbose_failures` passed to bazel? It might provide a more detailed error.

Also, have you modified the global git config in the container to use your proxy? Something like

[code]

Someone got this working by installing a custom truststore and passing credentials into bazel’s JVM to get their proxy setup working (https://envoyproxy.slack.com/archives/C7E6C71QB/p15149216850001

[2018-01-15 05:58] fizzwu commented on #2356
Got it, thanks!

[2018-01-15 06:30] zyf0330 commented on #2355
@mattklein123 Can you show me an example config which can do TLS Termination for grpc?

[2018-01-15 06:44] dadadom opened #2369 "Add support for redis' `GEORADIUS` command"
Add support for the `GEORADIUS` (and maybe `GEORADIUS_RO`) redis commands

*Description*:
Redis supports the [`GEORADIUS` command](https://redis.io/commands/georadius) (since version 3.2.0, added together with the other GEO commands) to retrieve items around a given geo point.
Additionally, a read-only version of this command exists, `GEORADIUS_RO` (introduced in redis 3.2.10) which can also be ru

[2018-01-15 07:29] dio commented on #2355
@zyf0330 could you try the following config (given the self-signed server-cert.pem and server-key.pem)?

[code]

I could successfully run and call a proxied grpc service (from google's hello world example).

[2018-01-15 10:07] dadadom opened #2370 "Allow dynamic cluster configuration for redis clusters"
*Title*: Feature Request: Allow redis cluster configuration via CDS

*Description*:
As mentioned in https://github.com/istio/istio/pull/1915, envoy currently does not allow to configure redis clusters via CDS. Trying to do so will result in a respective exception being thrown at https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L48

I would like to have the ability to

[2018-01-15 12:52] JayH5 opened #2371 "New feature: Scheme redirect in RedirectAction"
*Title*: Scheme redirect in RedirectAction

*Description*:
Currently (in the routing system) the only way to redirect a request from HTTP to HTTPS is to set the `require_tls` field in a [`VirtualHost`](https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v2/rds.proto#virtualhost) to true. The problem with this is that it redirects any and all requests to the virtual host to HTTPS. Generally, this is a

[2018-01-15 14:11] jmarantz opened #2373 "Regex overhead is high with a large number of clusters"
*Description*:
See https://github.com/envoyproxy/envoy/issues/2063 and the 10k testcase.  In that testcase, with https://github.com/envoyproxy/envoy/pull/2358 applied, the 30 second startup time is dominated by regex code associated with tags.

I did a little debugging to try to understand the tags, and I still don't.  But my naive observation is that we are applying a bunch of regexes to stat nam

[2018-01-15 14:14] jmarantz commented on #2063
@mattklein123 that seems reasonable, though I don't know what the functional implication of turning off tag extraction would be.  Maybe some of the things that are done in tag extraction could be done another way?  In any case I opened https://github.com/envoyproxy/envoy/issues/2373 to track that separately.

[2018-01-15 14:19] jmarantz commented on #2373
Also many of the regexes in source/common/config/well_known_names.cc ave have required prefixes (e.g. ^http ^mongo ^cluster) and we could structure them as a map<string,vector<regex>> and we only apply the regexes that match the first token.  For those that don't we could have a list of unprefixed regexes that would need to applied universally.

[2018-01-15 17:19] #2356 closed

[2018-01-15 17:21] mattklein123 commented on #2370
It's possible, someone just needs to work on it. We can add a clear limitation for now to the docs. cc @danielhochman

[2018-01-15 17:22] mattklein123 commented on #2371
In general this SGTM. @brian-pane has been working in this area lately so might have further thoughts.

[2018-01-15 17:23] mattklein123 commented on #2373
@jmarantz I would recommend following up with @mrice32 who wrote all this code. If it looks like the regex parsing is now a large part of startup time, I'm guessing there are some low hanging fruit optimizations we could consider such has the ones you mention.

[2018-01-15 17:50] jmarantz commented on #2373
will do, thanks!

[2018-01-15 21:44] sridmad opened #2374 "Pre built container is based on trusty while the docs mention Ubuntu Xenial base"
https://www.envoyproxy.io/docs/envoy/latest/install/building.html#pre-built-binaries mentions using Ubuntu Xenial Base for the container while the Docker file under CI directory uses Ubuntu:14.04 as base.

Are the docs wrong or the Dockerfile?
Is there any plan to create a container based on 16.04?

[2018-01-15 22:22] kragniz commented on #2033
It's currently running on one of my servers, I can turn it off if it's not helpful

[2018-01-16 03:15] zyf0330 commented on #2355
@dio I cannot succeed. This is client error

I didn't change server code, only change envoy.yaml clusters address from `localhost` to host ip, and this is my client code
[code]

[2018-01-16 03:27] thekalinga opened #2377 "Add support for Consistent Hashing with Bounded Loads"
**Issue Template**

*Title*: Add support for new load balancing algorithm "Consistent Hashing with Bounded Loads"

*Description*:

Solves the problem of overloaded servers due to consistent hashing at the same time makes sure that a single server is not loaded. The links should provide more context

[optional *Relevant Links*:]
* https://research.googleblog.com/2017/04/consistent-hashing-with-boun

[2018-01-16 04:21] zyf0330 commented on #2355
And, do you think this post help? https://groups.google.com/forum/#!topic/grpc-io/yCUwuHycNWk

[2018-01-16 07:24] dio commented on #2355
Hi @zyf0330 could you do `-it` when running envoy inside docker and add `-l debug` then see if it is a handshake failure?

i.e.

[code]

[2018-01-16 09:20] baranov1ch commented on #2324
BTW, we can check if anything was written to the connection, and safely retry these cases (this is what golang net/http does)

[2018-01-16 10:00] zyf0330 commented on #2355
This is debug log
[code]

There is no exception. And when grpc client connects to `localhost:10000`, there is no log about it appearing.

[2018-01-16 11:32] JonathanO commented on #2324
That's, very unfortunately, not correct (and also not what golang net/http does.) Receiving a FIN from the server will cause reads on the client side to return EOF, but writes will continue to succeed. Some clients attempt to deal with this by performing a non-blocking read to check for EOF before reusing a connection, however that still leaves a significant window where the client's test read can

[2018-01-16 15:19] mrice32 commented on #2373
We could definitely apply the `map<string,vector<regex>>` optimization.

It's also possible to turn tags off by setting [use_all_default_tags](https://github.com/envoyproxy/data-plane-api/blob/master/api/stats.proto#L54) to false and not including any custom tags.  However, maybe people would prefer a more obvious way to disable tags?  Turning off the regexes might also be a good way to tell what

[2018-01-16 15:30] mrice32 commented on #2063
@mattklein123, as mentioned in #2373, we can optionally disable it by [disabling the default regexes](https://github.com/envoyproxy/data-plane-api/blob/master/api/stats.proto#L54) and not providing any custom ones (maybe we should create a more elegant option for disabling it).

[2018-01-16 15:58] mrice32 commented on #2063
Yep, agreed.  I only wanted to mention in case others in the community were having similar issues (for instance: https://github.com/istio/istio/issues/2554).

[2018-01-16 16:02] ufodone commented on #2334
I'm also in need of this same capability.  I've hacked up a version of Envoy to do this that I did as part of a proof of concept integrating Envoy with my app server but am now interested in putting together a proper version.

My hacked up version just looks for a hardcoded header name and adds it as a key/value pair to a new MetaDataMatchCriteria instance.

There are a couple of things I'd love s

[2018-01-16 16:13] #2300 closed

[2018-01-16 16:15] #369 closed

[2018-01-16 16:18] mattklein123 commented on #2374
Currently the build image (https://github.com/envoyproxy/envoy/blob/master/ci/build_container/Dockerfile-ubuntu) is Xenial, but the packaged Ubuntu image with the binary appears to be trusty.

I don't see any reason to not make it Xenial also to match. @sridmad do you want to do a PR to fix the docker file?

[2018-01-16 18:15] jvshahid commented on #2241
moving the files seems to be working. Is everyone ok if I updated the title of the github issue ?

[2018-01-16 18:17] mattklein123 commented on #2241
@jvshahid go for it.

[2018-01-16 18:31] ufodone commented on #2334
It sounds like we have similar use cases but because the extraction process I need on the inbound http headers can't be handled by regex, I've instead used a lua filter to grab the header, parse out the info I need and then add a new header before passing the request along the filter chain. I'm guessing that could be an option for you as well if there was a desire to keep the metadata header proce

[2018-01-16 18:33] zuercher commented on #2334
My apologies for not seeing this sooner.

The non-regex version of this is [supported](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing#load-balancer-subsets).

In our XDS implementation, we're able to compute the possible combinations of the metadata values and produce static metadata values for each route. E.g., we'd match a non-regex header of `X-Do-Something: v=1.

[2018-01-16 18:34] mattklein123 commented on #2033
@kragniz I think we have decided to turn the bot off for now. If possible do you think you could submit the code as a script that could be run by someone manually? cc @envoyproxy/maintainers

[2018-01-16 18:58] mattklein123 commented on #2349
Closing out. Please let us know if you have further questions.

[2018-01-16 18:58] #2349 closed

[2018-01-16 19:35] kragniz commented on #2033
No probs, it's turned off now. I'll clean up the script and submit it later

[2018-01-16 20:25] ufodone commented on #2334
So to use the existing functionality, I'd need to define a route entry for each unique header value?

In my particular case I'm effectively trying to replace client-side load balancing/routing for the app server by placing Envoy in the middle which means that I'd need a route entry for each node in the cluster.  I'd be concerned that I'd likely need hundreds of routing entries to accomplish this.

[2018-01-16 20:27] danielhochman opened #2383 "tools: cli for real-time debugging and monitoring"
At Lyft we have a plethora of tools for monitoring Envoy that take advantage of the logging and stats output, which are aggregated for every host into a central cluster. Sometimes you just want to see what's happening on a box right now though. I hacked together a couple of command line tools for monitoring envoy in real-time. `curl` and `grep` against the admin endpoints in combination with `watc

[2018-01-16 20:47] postwait commented on #1965
Lossless, mergeable histograms will allow robust statistics afterwards.  Trying t-digest, replacement, or quantiles is suboptimal.  Histograms a undoubtedly more expensive than counters, but we're talking about <10ns to update then, so if you're tracking req/resp latencies it is completely satisfactory -- if you're tracking system calls or hot loops, then perhaps untenable.

Log-linear has precise

[2018-01-16 20:58] zuercher commented on #2334
For the existing functionality, yes.

Route lookup is a linear search. So for a sufficient number of routes it would become expensive.

It sounds like your application is routing requests to individual nodes. Can you provide some more details so I can better understand what you're trying to accomplish?

[2018-01-16 21:17] postwait commented on #1965
For context that I realize might be missing given review of the conversation...

I all of these methods are fairly good a producing quantiles (noting some largers issues in T-digest around variable arrival rates).  The point is that we'd like histograms, not quantiles.  Quantiles are some arbitrary (though useful) statistical function that can be calculated on a set (and a histogram), but they are

[2018-01-16 21:36] ufodone commented on #2334
Yes, exactly.  The short answer is that I'm trying to put a facade in front of an older service to make it look more "normal" and play nicely in a larger ecosystem (and along the way gain a bunch of the benefits Envoy brings out of the box).

For a variety of historical reasons, I've got a stateful service which requires requests for a given session key to always be handled by the node in the clus

[2018-01-16 21:48] zuercher commented on #2334
Ok. Adding the regex-capture-group to metadata match functionality seems reasonable to me (from the standpoint of reducing large numbers of routes that map header values to metadata matches).

Just for completeness, have you looked at the ring-hash load balancer? You should be able to get stable routing to hosts that way.

[2018-01-16 22:02] zuercher commented on #2250
I'm going to start on this.

I think If `%(X)%` expressions are allowed anywhere in the header value we'll need a way to allow configurations to encode a literal `%(` or `)%` that's meant to be part of the header's value (unlikely as that may be). In principal, those sequences could appear in X as well, especially when X takes parameters.

My inclination is to say that literal `%(` and `%)` should

[2018-01-16 22:10] zuercher commented on #2250
Er, I'm going to edit that since I got the syntax for log formatting and header formatting mixed up.

[2018-01-16 22:27] salrashid123 commented on #1451
I'm interested in envoy support for CONNECT specifically to see how it can help [istio's egress rules](https://istio.io/docs/tasks/traffic-management/egress.html)  which at the moment requires rewriting _at the client_ ```https://``` --> ```http://...:443``` (for example).

this FR should help with that in that if the running container in istio-k8s has an env setting, it'd 'speak' to envoy via CON

[2018-01-16 23:05] kragniz commented on #2033
I pushed it over here: https://github.com/envoyproxy/data-plane-api/pull/419

[2018-01-16 23:07] mattklein123 commented on #2033
Thanks @kragniz! Going to close this one out for now.

[2018-01-16 23:07] #2033 closed

[2018-01-16 23:08] mattklein123 commented on #2383
I think this is awesome. I would love to combine what you have done with the stuff that @mccv has been working on. I think in general having a tool that could be optionally deployed along side Envoy that can work via CLI/terminal would be super useful.

[2018-01-16 23:15] ufodone commented on #2334
Yes, I've looked at the ring-hash load balancer but it won't fit the bill because sessions can migrate between nodes (eg. during scale up/down operations) and requests absolutely need to end up (eventually) on the node that owns the session.

Regarding your suggestion to add a field to HeaderMatcher: currently the headers specified there need to match in order for the route to be selected.  Are yo

[2018-01-16 23:29] danielhochman commented on #2369
Would you be opposed to adding `GEORADIUS_RO` only for now? When adding the initial set of commands I tried to avoid any that could possibly cause a write to another key. Commands that involve multiple keys in a single command context wouldn't work as expected (referring to the `STORE` and `STOREDIST` arguments of `GEORADIUS`). The only command that made it through that was `EVAL` which of course

[2018-01-17 03:58] #2275 closed

[2018-01-17 08:18] hehe717 opened #2388 "in http2 side, why envoy make more than 1 connection between envoy-cluster?"
**Issue Template**

*Title*:
-  **in http2 side, why envoy make more than 1 connection between envoy-cluster?**

*Description*:

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/connection_pooling.html?highlight=connection%20limit

` as I know is, in http2 side, there is only 1 connection between envoy-cluster,
but I saw in wireshark that envoy make more than 1 connection between th

[2018-01-17 09:25] lixiaobing1 commented on #492
+1 for UDP, there is a strong use in telecommunication, all data is transferred with UDP in 3G PS, 4G both FDD and TDD, also in future 5G. I think we should start the support for UDP immediateley.

[2018-01-17 09:44] JonathanO commented on #2334
Yeah, that's why I suggested adding a new property to route rather than adding it to the existing match->headers HeaderMatcher. My thought was that if we require these to match then the number of routes you'd need to match different combinations of optional meta values would be annoying. The alternative of making some HeaderMatchers in match->headers optional seems slightly messy to me, but would

[2018-01-17 10:15] ramaraochavali commented on #2334
@zuercher Thanks for the detailed explanation on this. Looks like load balancer subsets is a very powerful feature to control LB behaviour for use cases like canarying etc. On the similar lines, is it possible today if we specify `node` to which the request should go via some http header like `envoy.route.host` and LB just sends that particular request to that host? This is slightly different from

[2018-01-17 10:16] dio commented on #2388
Not sure if this one helps:

From https://blog.envoyproxy.io/envoy-threading-model-a8d44b922310

[2018-01-17 16:08] mattklein123 commented on #2388
@dio is correct, the connections are per-worker. If you don't need the concurrency you can run with less workers which will make less connections.

[2018-01-17 16:09] #2374 closed

[2018-01-17 16:22] mattklein123 commented on #2250
@zuercher +1 for `%%`. That is pretty common from what I've seen in other tools/libraries so I think people will not be surprised.

[2018-01-17 16:33] mattklein123 commented on #2334
@zuercher I just assigned this over to you for consolidating this conversation into a final feature request. From a quick skim, new functionality to set metadata based on header regex captures sounds interesting (though a little scary from a security perspective, we would have to have a big warning on this feature).

[2018-01-17 18:23] taiki45 opened #2391 "'./tools/check_format.py check path/to/dir' fails"
*Description*:
Passing subdir to 'tools/check_format.py check' will fail:

*Repro steps*:
[code]

While passing single file or passing nothing succeeds:

[code]

[code]

[2018-01-17 21:15] mattklein123 commented on #2218
I heard back from Docker and it's not possible to do redirects, so just closing this out given that we fixed the notices.

[2018-01-17 21:15] #2218 closed

[2018-01-17 22:23] birenroy opened #2394 "Support HTTP/2 METADATA frames"
*Description*:
Add support for parsing, interpreting, and serializing HTTP/2 METADATA frames. METADATA is an extension to the HTTP/2 protocol that will be used to convey information about request and response streams out-of-line.

Google will bring the draft METADATA specification to the IETF for standardization. If the specification is adopted and any changes are made as part of the process, we s

[2018-01-17 22:48] #1824 closed

[2018-01-17 22:54] mattklein123 commented on #2394
@birenroy can you make the doc public? Also, do you know offhand if implementing this can use existing extensibility mechanisms in nghttp2 or if it will require nghttp2 patches?

[2018-01-18 00:57] zuercher opened #2395 "SSL tests fail on Mac OS High Sierra (10.13+)"
*Description*: In 10.13, Mac OS switched away from OpenSSL to LibreSSL. The installed version does not allow the creation of expired certificates. Envoy SSL tests generate two certificates (one expired). The later fails to generate, causing the tests to fail.

*Repro steps*: run tests, the gen_unittest_certs.sh script fails with `bad number of days: too small`.

[2018-01-18 01:36] junhojang opened #2397 "When i tested on gRPC stream with round_robin option, it seems that envoy cannot distribute properly"
I'm testing on gRPC stream with round_robin cluster option.
I tested 8 client and 8 server. So, i expected that client will be dsitributed to each server via envoy.
But it seems like don't distribute properly.

--------- packet cpature --------
188	2.290134927	127.0.0.1	127.0.0.1	TCP	74	56712 → 3001 [SYN] Seq=0 Win=43690 Len=0 MSS=65495 SACK_PERM=1 TSval=652841 TSecr=0 WS=128
208	2.295984037	127.0

[2018-01-18 02:49] hehe717 commented on #2388
oh thanks, dio and mattklein !

[2018-01-18 03:16] dignabbit opened #2398 "Linker error (wrapped_ar) on macOS during build of libprotobuf"
Hi!

somehow `wrapped_ar` does not get called with the right parameters on my box here. It should be called as `wrapped_ar rcs bazel-out/file1.o bazel-out/file2.o ...` but the `rcs` is being omitted and `ar` barfs at the `z` in ba`z`el-out.

@zuercher Any idea what is going on?

Thanks a lot!

[code]

[2018-01-18 04:59] junhojang commented on #2397
When i tested with '--concurreny 1', envoy distribute propery.
It seems that workers distribute as 'round_robin', but individually.

[2018-01-18 04:59] #2397 closed

[2018-01-18 05:03] zhaohuabing opened #2399 "Can I add a filter to rewrite the domain name part of an http request?"
How to add a filter to rewrite the domain name part of an http request?

*Description*:
Currently, the route decision of Envoy is based on the domain name. But I have a situation that the service name is part of the url, such as http://127.0.0.1/api/${Service_name}/resource.
I think maybe I could add a filter in Envoy to rewrite the domain name part of the request, so Envoy can make the route deci

[2018-01-18 08:16] lixiaobing1 opened #2400 "how about the last performance of envoy?"

[2018-01-18 12:20] sudeeptoroy commented on #2180
I could build the binary, steps below... not sure why is fails only for golang/protobuf :(

* set proxy http_proxy and https_proxy before u start the build
* add a git_hack.sh script in ci folder.
 where
$ cat ci/git_hach.sh
#!/bin/bash

set -x

git_exe=/usr/bin/git
#mv $git_exe /usr/bin/git_exe

cmd="if [ \"\$1\" == \"clone\" ]; then /usr/bin/git_exe -c \"http.proxy=${http_proxy}\" -c \"https.pro

[2018-01-18 12:35] tdeckers commented on #2291
Hey guys, how does this related to #779?

[2018-01-18 13:27] dio commented on #2355
Hi @zyf0330 I think the problem is either with the env setup or checking on the server name. I have prepared a simple setup to exhibit this: https://github.com/diorahman/hello-envoy-grpc-tls As you can see here: https://github.com/diorahman/hello-envoy-grpc-tls/blob/master/client/main.go#L42 the server name is overridden (see: https://github.com/grpc/grpc-go/blob/master/credentials/credentials.go#

[2018-01-18 15:59] alyssawilk commented on #2394
I believe we can implement it with nghttp2's existing extension support.
If we get something through the IETF as an H2 extension (which is plan A) we'd probably want native support for the long haul.

[2018-01-18 16:21] alyssawilk commented on #2388
Optimistically closing this off - let us know if you have any other questions on this front though!

[2018-01-18 16:21] #2388 closed

[2018-01-18 16:57] birenroy commented on #2394
@mattklein123 I've updated the doc link; it should be public now. Sorry about that.

[2018-01-18 17:05] mattklein123 commented on #2400
https://www.envoyproxy.io/docs/envoy/latest/faq/how_fast_is_envoy

[2018-01-18 17:05] #2400 closed

[2018-01-18 17:10] mattklein123 commented on #2394
@tatsuhiro-t ^^^ (FYI)

[2018-01-18 17:36] mattklein123 commented on #2399
Two options:

1) Use Lua and rewrite `:path` header before routing.
2) Write C++ filter and alter `:path` header and then call `clearRouteCache()`

[2018-01-18 17:56] toaler opened #2404 "Image docker.io/envoyproxy/envoy-build-centos not available"
The following is failing to pull down envoy-build-centos image from docker.io.

$:~/git/envoy$ IMAGE_NAME=envoyproxy/envoy-build-centos ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
Unable to find image 'envoyproxy/envoy-build-centos:52f6880ffbf761c9b809fc3ac208900956ff16b4' locally
Pulling repository docker.io/envoyproxy/envoy-build-centos
docker: Tag 52f6880ffbf761c9b809fc3ac208900956ff

[2018-01-18 18:27] zefyrr commented on #2334
@ufodone: The route match is still linear right? Was wondering if you had some perf numbers to share.

[2018-01-18 18:51] sudeeptoroy commented on #2404
U can set "IMAGE_ID=latest" along with IMAGE_NAME as a work around

[2018-01-18 22:00] ufodone commented on #2334
Well, yes, technically the route match is still linear but in my case, I only have a single route so not a problem!

My proof-of-concept is using the metadata matcher to drive the LB subset selection - and the metadata matcher builds all the metadata into a tree so it's effectively doing map lookups to do the node selection (I only have a single metadata key I filter on).  I did a quick-and-dirty

[2018-01-18 22:53] 9len opened #2406 "bug: envoy blows up on non-regex header matches with regexy strings"
*Description*:

We found this one out the hard way. If you configure a header match with a value containing a string with regex special characters, envoy crashes hard when querying v2 RDS.

Here is the relevant header match returned by RDS:
[code]

I can't really do much other collection, because it crashes hard on startup, before I have time to hit the admin endpoints.

*Admin and Stats Output*:

[2018-01-18 23:21] zuercher commented on #2406
Added a stack trace on @9len's behalf. Short story: every header match value is parsed as a regex:

https://github.com/envoyproxy/envoy/blob/master/source/common/router/config_utility.h#L34

[2018-01-18 23:22] zuercher commented on #2406
This bug exists for query param matching as well.

[2018-01-18 23:25] mattklein123 commented on #2406
That seems bad. @zuercher maybe just make regex into a std::unique_ptr or something and init only if regex?

[2018-01-18 23:33] mattklein123 opened #2407 "shared memory hash set crash"
This is a regression from https://github.com/envoyproxy/envoy/pull/2358.

Been looking into this with @jmarantz and @danielhochman and I think we have a lead on the issue. @jmarantz will continue to investigate but FYI for anyone using master.

[code]

[2018-01-18 23:34] #2298 closed

[2018-01-18 23:48] 9len commented on #2406
Seems like it should be handled the same as any malformed config; reject and revert to last-known-good.

[2018-01-18 23:52] mattklein123 commented on #2406
Yeah it should end up throwing an EnvoyException. Other exceptions are not caught. So, you might need to catch whatever C++ is throwing and convert?

[2018-01-18 23:53] mattklein123 commented on #2241
@jvshahid in general copy is not safe as it isn't atomic. WDYT about a doc update somewhere to fix this?

[2018-01-18 23:54] mattklein123 commented on #2251
This is fixed.

[2018-01-18 23:54] #2251 closed

[2018-01-18 23:59] winguse opened #2408 "v2 API Access Log Filter Schema is incorrect"
v2 API Access Log Filter Schema is incorrect

This is the V1 config:

[code]

This is one V2 config I can think of:

[code]

As searching the code, I can see `runtime_key` is something like `access_log.access_error.status`.

And I think the problem here is incorrect use of [`RuntimeUInt32 `](https://github.com/envoyproxy/data-plane-api/blob/master/api/base.proto#L109) [inside](https://github.com/e

[2018-01-19 00:04] zuercher commented on #2180
Looks like fixing the git config did the trick.

We could introduce a `do_ci_with_proxy.sh` script that would perform the `git --global config` changes (which should have the same effect your git_hack.sh script) and then invoke `do_ci.sh`. (Or do it all in do_ci.sh, but feels safer to keep it isolated.)

[2018-01-19 00:07] mattklein123 commented on #2408
@winguse what your question? Are you having a problem with a config that doesn't load? Or you don't know how to configure something?

[2018-01-19 00:09] winguse commented on #2408
@mattklein123 what value shall I set in `runtime_key`? no document talking about it. and from the comments, I feel `RuntimeUInt32` is incorrect used.

[2018-01-19 00:43] mattklein123 commented on #1537
I'm sorry that I never looked into this. I haven't heard of any other complaints about this recently so I'm going to close out. If this is still an issue can you provide a fresh repro using recent master? Thank you.

[2018-01-19 00:43] #1537 closed

[2018-01-19 01:06] cmaloney opened #2411 "Adding a TLS Cert via LDS that doesn't exist causes envoy to Segmentation Fault"
If a listener discovery service adds a listener to envoy pointing to a certificate that doesn't exist, envoy segmentation faults when trying to start workers.

Log chunk:
[code]

I can give more log if needed, have to anonymize hosts in it somewhat though so takes work to translate.

I triggered this using heptio/contour, there was a bug in one of the manifests where the SSL Certificate container

[2018-01-19 01:58] bmadhavan opened #2412 "Domain name matches are case-sensitive."
*Title*: Domain name matches are currently case-sensitive. According to RFC 2616 comparison of hostnames should be case-insensitive.

*Description*:
I am expecting domain name matches in envoy to be case-insensitive.
But I observe that if a client sends hostname in caps in its host header, domain match fails.

*Repro steps*:
curl -H “HOST: WWW.ABC.COM” localhost:80/internal/svc  does not work.

wh

[2018-01-19 02:02] mattklein123 commented on #2411
I think this might be already fixed by https://github.com/envoyproxy/envoy/pull/2248. cc @PiotrSikora

[2018-01-19 02:05] PiotrSikora commented on #2411
Yup, it's fixed there (configs that refer to non-existing files are rejected).

Let's close it once #2248 is merged.

[2018-01-19 02:09] bmadhavan commented on #2412
I can do it. Can you assign it to me.

[2018-01-19 04:15] ramaraochavali opened #2414 "headers():add does not actually replace the value in the lua script"
When we call `headers().add(key,value)` in lua script for an existing header like `:authority`, it does not actually replace the value.

We have to remove it first with an explicit remove call and add again.

[2018-01-19 04:45] marqub commented on #960
@mattklein123 , can you point me to a sample code or a documentation that shows how to configure these sampling options? Thx

[2018-01-19 08:59] sudeeptoroy commented on #2180
Hi @zuercher ,

Actually just setting the http_proxy is good enough for the download. Its only the git clone of golang/protobuf which fails. so I had to make sure that the proxy parameters are always passed when the git command is run.

I have also raised a PR for exporting the proxy setting, its under review.
https://github.com/envoyproxy/envoy/pull/2402

[2018-01-19 09:02] zyf0330 commented on #2355
I know the reason, because example config given above uses `127.0.0.1` as bind addr.
Thanks for your patient help.

[2018-01-19 09:02] #2355 closed

[2018-01-19 09:23] tatsuhiro-t commented on #2394
I think METADATA frame can be implemented using nghttp2's API because it does not change HTTP/2 protocol semantics (i.e., it can be freely ignored).

[2018-01-19 11:36] jvshahid commented on #2241
sgtm

[2018-01-19 11:48] tatsuhiro-t commented on #2394
Re-reading a draft, requiring successive METADATA frame until END_METADATA might cause a trouble.
nghttp2 has no guarantee to notify all frames to application, so it cannot be sure that the above rule is obeyed.
I don't know how METADATA uses Never indexed stuff, but it would be better to allow interleaving other frames if possible.

[2018-01-19 12:16] dveeden commented on #1104
This might be interesting for a few use cases. This might make SSL/TLS for non-persistent connections more efficient for example. It might also save a roundtrip for SSL/TLS connections.

[2018-01-19 12:24] JayH5 commented on #2371
I haven't found another (nice) way to do this.

@mattklein123 @brian-pane would it be OK if I tried working on this and went ahead with a data-plane-api PR to add a `scheme_redirect` field to `RedirectAction`?

[2018-01-19 13:44] #2338 closed

[2018-01-19 16:09] brian-pane commented on #2371
Sounds good to me

[2018-01-19 17:12] mattklein123 commented on #2371
+1 from me also.

[2018-01-19 17:53] mattklein123 commented on #960
Here are the runtime settings: https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/runtime

Work is ongoing to make these config settings also: https://github.com/envoyproxy/envoy/issues/1813

[2018-01-19 18:12] mattklein123 commented on #2404
Sometimes the build images don't all build correctly due to CI timeouts, etc. Using latest is probably a fine workaround per @sudeeptoroy. Going to close this out. Let us know if you have other questions.

[2018-01-19 18:12] #2404 closed

[2018-01-19 18:12] mattklein123 commented on #2268
@dio I'm going to close this out. Please feel free to do doc PRs, etc. to make things easier.

[2018-01-19 18:12] #2268 closed

[2018-01-19 18:13] mattklein123 commented on #2399
Closing this out. Let us know if you have further questions.

[2018-01-19 18:13] #2399 closed

[2018-01-19 18:13] mattklein123 commented on #2408
@junr03 can you help answer @winguse question?

[2018-01-19 18:20] kavyako opened #2418 "Support for range based header matching while routing requests"
We have a requirement to perform header match if the value of a header is within a given range.

Today, route match happens based on the header's value (exact string comparison or regex matching). Can we add range as a third option there?

Something like: In the route config, headers section, range is specified as the lowKey and highKey. A match will happen if the header's value in the incoming re

[2018-01-19 18:37] junr03 commented on #2408
@winguse the runtime_key allows you to override the default value at runtime, without having to reload a bootstrap configuration. If you have no desire to let the value be runtime overridable then you can set the runtime_key to the empty string as you have done above. lmk if you have any more questions

[2018-01-19 18:49] mattklein123 commented on #2418
In general it would be great if we could make this a v2 only feature. That would involve Iterating on this proto: https://github.com/envoyproxy/data-plane-api/blob/master/api/rds.proto#L808. It's unfortunate we did not use `oneof` there (this has already been brought up). I would suggest that we actually do this now, and deprecate the existing `value` and `regex` field. (oneof will basically creat

[2018-01-19 20:20] zuercher commented on #2406
Turns out there are a few other places where we blindly accept regular expressions from configs. I'm going to fix those as well.

[2018-01-19 21:28] campbelldgunn commented on #129
@vturecek Any status from a MS point of view. We are running a mixed cluster (linux pool - linux nodes and windows pool - windows nodes) and would like holistic support for this environment.

[2018-01-19 22:20] #2407 closed

[2018-01-19 23:32] danielhochman commented on #2383
After some discussion with @mattklein123 and @mccv I think we'll go ahead and create a new repository. `envoyproxy/envoy-tools` seems like a good repository name. In the repository we will have my zero-dependency tool, @mccv's curses-esque tool and manpages for both. Mark and I will be the initial maintainers of the new repository.

Another goal we came up with is to keep the interfaces between th

[2018-01-19 23:34] mattklein123 commented on #2383
+1 to above plan. @envoyproxy/maintainers please speak up if you have any concerns about the new repo. We can make it next week.

[2018-01-19 23:35] christian-posta opened #2421 "Add an option to dump the current effective envoy.json config file"
Would be great to be able to dump the effective envoy.json file at run time. When using xDS it can be tough to tell exactly what the configuration envoy thinks is being used. It would be handy for debugging that we could just take the config, tweak it, compare it, and maybe even run it outside of the xDS config environment.

something like `/dump_config` for the admin server would be great.

[2018-01-19 23:43] mattklein123 commented on #743
@lita @rodaine I updated the description with the remaining work that needs to be done on gRPC access logging to call it shipped. This can be done piecemeal while I'm out. We can dig into some details together next week.

[2018-01-20 00:39] bmadhavan commented on #2343
@mattklein123 I don’t see any new data plane API change needed as `path_redirect` will continue to be a string and no new fields need to be added. The change will mostly be in the envoyproxy repo where we need to parse for the pre-defined substring `%URI_AFTER_STR("cat")%` to create the new redirect msg. Can you give me some pointers if the data-plane-api PR is still needed? If so with what?  Than

[2018-01-20 00:48] dignabbit commented on #2398
@zuercher : Looks like my 0.9.0 does not work. The output I pasted is from this version:

[code]

Should I try a stock non homebrew 0.9.0?

[2018-01-20 01:15] winguse commented on #2408
@junr03 it’s not allowed to put empty string, envoy will complain about if it’s empty. And the document is confusing if I put this key inside status comparison filter, right ?

[2018-01-20 02:45] kameshsampath commented on #2421
thats super great  handy feature +100

[2018-01-20 13:03] taion809 commented on #2095
@mattklein123 can you assign this to me?  I'm already doing a lot of this during my work day.

[2018-01-20 20:16] dignabbit commented on #2398
@zuercher : FYI, both bazel 0.8.0-homebrew and 0.8.1-homebrew work fine for me.

[code]

[2018-01-21 00:05] tonya11en commented on #2029
Should this flag replace the bazel build argument '--define hot_restart=disabled' or exist with it?

I was poking around for low-hanging fruit and this seemed pretty straightforward.

[2018-01-21 03:06] brian-pane commented on #2412
@zuercher did you mean to assign this one to @bmadhavan?

[2018-01-21 08:27] toaler commented on #2404
Even using IMAGE_ID=latest doesn't work:

$ IMAGE_ID=latest IMAGE_NAME=envoyproxy/envoy-build-centos ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release'
Unable to find image 'envoyproxy/envoy-build-centos:latest' locally
latest: Pulling from envoyproxy/envoy-build-centos
af4b0a2388c6: Pull complete
8e46f47b29c9: Pull complete
205ea7d760f4: Pull complete
0fc9716f7163: Pull complete
cb05888b805a:

[2018-01-21 09:09] dadadom commented on #2369
That would be great! For our usecase the `_RO` variant is sufficient and actually preferred.

[2018-01-21 09:47] sudeeptoroy commented on #2404
Can u confirm if u r using the latest src code.. very recently user is created before the build..

[2018-01-21 20:18] ikruglov opened #2423 "broken backward compatibility: cluster_name vs cluster_names"
*Title*:
broken backward compatibility: cluster_name vs cluster_names

*Description*:
envoy from the trunk (1.6.0) fails to start using a configuration created for 1.5.0. It complains about 'Unable to parse JSON as proto'. The culprit is 'cluster_name: controlplane' in [ApiConfigSource](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config_source.proto.html#envoy-api-msg-apiconfigsource). Afte

[2018-01-21 20:23] mattklein123 commented on #2343
@bmadhavan I don't think the data-plane-api PR is explicitly needed, however there are complexities around if we do this by default given escaping. E.g., using `%%` to indicate a `%`, etc. @zuercher has been working on stuff like this recently so I will defer to him for comment.

[2018-01-21 20:24] mattklein123 commented on #2095
@taion809 what's your plan? Just take the binary that we build and put in the docker image and just put it somewhere directly?

[2018-01-21 20:25] mattklein123 commented on #2029
@tonya11en I would probably leave the compile flag as some people want the ability to just compile out the functionality entirely. I think doing a CLI flag alongside would be pretty straightforward.

[2018-01-21 20:26] mattklein123 commented on #2412
reassigned

[2018-01-21 20:28] mattklein123 commented on #2423
@ikruglov this was a breaking change that we did not fully understand the implications of when we did it. We decided to roll forward and will not do anything like this again. See https://github.com/envoyproxy/data-plane-api/pull/411. Sorry for the trouble.

[2018-01-21 20:33] ikruglov commented on #2423
@mattklein123 will I need to upgrade my configs when 1.6.0 comes out?

[2018-01-21 20:34] mattklein123 commented on #2423
Yes, unfortunately.

[2018-01-21 20:41] ikruglov commented on #2423
I guess. you considered keeping tiny compatibility layer. why decided not to?

[2018-01-21 20:48] mattklein123 commented on #2423
Because this would require a bunch of extra work. We learned our lesson and won't do this again. In hindsight, we probably should have reverted the change but it's also too late for that. I understand it's some pain, but I'm not sure the amount of extra work to deal provide back-compat is worth it here.

[2018-01-21 22:14] toaler commented on #2404
My build was based on checking out v1.5.0.  The goal was to build a 1.5.0 binary.  I'm assuming I need to grab the appropriate centos image at the time v1.5.0 was built?

[2018-01-21 22:26] toaler opened #2425 "openssl: command not found causing multiple test failures on envoy_build_centos"
When building envoy as of commit d076db68e2cda1f46c2256f6c9ef6c932811057e using envoy_build_centos there are two test failures due to openssl not being found.  Is the docker image including openssl and/or is test runtime not configured to point to openssl?

/build/tmp/_bazel_bazel/436badd4919a15958fa3800a4e21074a/execroot/ci/bazel-out/k8-opt/bin/test/common/ssl/context_impl_test.runfiles/ci/test/c

[2018-01-22 02:41] dignabbit commented on #2398
Well, my apologies. Bazel 0.9.0 works fine against current master. My branch was lagging behind too much.

[2018-01-22 02:41] #2398 closed

[2018-01-22 08:26] lixiaobing1 opened #2426 "how about the principle and practice of the envoy ingress?"

[2018-01-22 14:48] taion809 commented on #2095
@mattklein123 the plan (at least how i have done it in the past and would like to do here) is use the release workflow to build the osx / linux binaries and add them to the release tag on github

[2018-01-22 18:25] GnawNom commented on #2421
+1000. Debugging config for outlier detection with istio/envoy has been pretty difficult without a way to see what the acutal configuration the envoy sidecar is using.

[2018-01-22 20:03] zuercher opened #2428 "flakey OS X integration test"
*Description*:
test/integration:http2_integration_test is flakey on OS X.

I believe the exact test that hangs varies, so it's probably some timing issue in the test harness that OS X exposes as compared to Linux. I've not had any luck reproducing this outside of CI.

[2018-01-22 20:04] #2406 closed

[2018-01-22 20:51] bmadhavan commented on #2343
Thanks @mattklein123. I did look into @zuercher 's docs PR for envoyproxy/data-plane-api#424 . I will wait here for his comments or create a PR in data-plane-api with docs change for `path_redirect`.

[2018-01-22 23:13] #1357 closed

[2018-01-23 02:59] #2362 closed

[2018-01-23 11:34] zhaohuabing commented on #2399
I can use Lua, that's fantastic! Could you please give me a pointer to some documentation about this?

[2018-01-23 14:16] abbi-gaurav commented on #1196
Does it also provides the capability to use jaeger as a tracing solution since it is based on OpenTracing standard?

[2018-01-23 17:28] mattklein123 commented on #2399
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/lua_filter

[2018-01-23 19:54] junr03 commented on #2408
@winguse sorry I got confused. In fact yes, you will have to give those values a string with at least one byte. Now -- what I propose is that you give them a valid path in your runtime scheme, and in your runtime deployment dont create the files. This will then default to the specified default value, and if need be you'll be able to runtime control the values in the future

[2018-01-23 20:37] mattklein123 commented on #2426
Going to close this out. Please feel free to reopen if you have a more complete question.

[2018-01-23 20:37] #2426 closed

[2018-01-23 20:37] mattklein123 commented on #2423
Going to close this out. Sorry for the trouble and let us know if you have additional questions.

[2018-01-23 20:37] #2423 closed

[2018-01-23 20:38] mattklein123 commented on #2337
I'm going to close this out as I don't think this is an Envoy issue, per say. If you want to open a new issue to track adding an explicit Java example/demo please do.

[2018-01-23 20:38] #2337 closed

[2018-01-23 21:02] zuercher commented on #2334
@ramaraochavali the only way to individually address upstream hosts today is to assign metadata for each one with unique identifier and then generate a route for each unique identifier that matches on some header and specifies the correct metadata for subset load balancing. Implementing the feature under discussion here would make it possible to have a single route.

[2018-01-23 21:33] mattklein123 commented on #2370
@danielhochman I can fix this as a small work item in the next few days unless you are actively working on this. LMK.

[2018-01-23 21:35] mattklein123 commented on #1034
@junr03 this is a good one for James to work on when he starts in Feb. Can you give him the context on this?

[2018-01-23 21:38] mattklein123 commented on #1453
@rodaine @junr03 this is another good one for James to potentially work on as a starter task.

[2018-01-23 21:53] danielhochman commented on #2370
@mattklein123 i was planning on updating the docs this week and scheduling the work later (need a little guidance on how to do it)

if you want to do it i'd be happy to code review, or if you want to tell me how to approach it and it's a small task i can do it next week.

[2018-01-23 21:56] mattklein123 commented on #2370
@danielhochman you can do it, I will go over it with you.

[2018-01-23 21:58] zuercher opened #2436 "extract subset load balancer metadata matches from request"
Per #2334, the idea is to allow metadata matches (used to select subsets via the subset load balancer) to be computed from request data. Specifically, the intent is to match request header values against a regular expression and allow matched groups to be used as metadata values.

*Configuration*
One question is how to encode this configuration. Two proposals have been made.
1. Encode the regexes

[2018-01-23 21:59] zuercher commented on #2334
Opened #2436 as a feature request for what was discussed here.

[2018-01-23 22:12] cmaloney commented on #2411
I can confirm it's no longer segfaulting with that new container:
[code]

[2018-01-23 22:12] #2411 closed

[2018-01-24 01:26] winguse commented on #2408
@junr03 could you help to give an example for access log filter in this case?

[2018-01-24 02:09] junr03 opened #2441 "v2 tcp proxy filter config with deprecated_v1 field conflict"
*Description*:
Currently, when the listener is creating network level filters, it uses the deprecated_v1 field as a boolean indicator to load a v1 config from an opaque `value` field. https://github.com/envoyproxy/envoy/blob/d6b8b0702e117d1fe79a805a3e82028ac1187f8c/source/server/listener_manager_impl.cc#L41-L46. However, this approach conflicts with the actual `deprecated_v1` field in the tcp prox

[2018-01-24 02:10] junr03 commented on #2441
cc @danielhochman @mattklein123 related to what happened at lyft tonight.
cc @htuch

[2018-01-24 17:48] zuercher commented on #2334
Closing this question. Further discussion (if any) can happen in #2436.

[2018-01-24 17:48] #2334 closed

[2018-01-24 22:11] htuch commented on #508
I've started work on the new project setup for https://github.com/google/oss-fuzz. I'm working through a bunch of build issues, as we need to build Envoy in a Docker image with an oss-fuzz supplied compiler (looks to be clang-6.0) and its own set of CFLAGS/CXXFLAGS (including `-stdlib=libc++`). Will track progress here.

[2018-01-25 01:05] mattklein123 commented on #2441
@junr03 I don't really see us fixing this. To workaround this I think you can just use v1 JSON config for tcp_proxy inside the v2 deprecated_v1 holder, right? I think we should just do a doc warning to "fix" this issue.

[2018-01-25 01:30] mattklein123 commented on #2241
doc fix in https://github.com/envoyproxy/data-plane-api/pull/429

[2018-01-25 01:30] #2241 closed

[2018-01-25 14:30] pingles opened #2450 "Can't use HTTP health check in front proxy to vhosted server"
*Title*: Upstream health checks fail when the upstream doesn't recognise the host `cluster_name`.

*Description*:
Currently envoy allows HTTP health checks to be performed against upstreams configured for the cluster. We're trying to use envoy as a load-balancing proxy which is connecting to some nginx processes that sit behind different ELBs. These nginx processes are configured with multiple vir